<template>
  <div class="user_mian">
    <div class="user_body">
      <div class="aa">
        <!-- <div class="user_body_left">
        </div> -->
        <div class="user_body_right">
          <div class="right_header">
            <h2>物业名称</h2> <button >修改</button>
          </div>
          <div class="right_headertwo">
            <el-radio-group v-model="radio">
              <el-radio-button label="基础信息"  @change.native="changColor(1)"  class="el-icon-success" ></el-radio-button>
              <el-radio-button label="建造信息"  @change.native="changColor(2)"></el-radio-button>
              <el-radio-button label="用地信息"  @change.native="changColor(3)"></el-radio-button>
              <el-radio-button label="附属设施"  @change.native="changColor(4)"></el-radio-button>
              <el-radio-button label="物管信息"  @change.native="changColor(5)"></el-radio-button>
            </el-radio-group>
          </div>
          <div class="div_table">
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name"  id="1">基础信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>物业名称</th>
                <th>{{pagelist.landLocation}}</th>
                <th>物业简称</th>
                <th>{{pagelist.landPurpose}}</th>
              </tr>
              <tr>
                <th>别名/曾用名</th>
                <th>{{pagelist.obligee}}</th>
                <th>物业状态</th>
                <th>{{pagelist.registerPurpose}}11</th>
              </tr>
              <tr>
                <th>物业标签</th>
                <th>{{pagelist.unitName}}</th>
                <th>物业规模</th>
                <th>{{pagelist.remark}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th colspan="3">{{pagelist.useLimit}}</th>
              </tr>
              <tr class="realtr" valign="top">
                <th>物业简介</th>
                <th colspan="3">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>物业种类</th>
                <th>{{pagelist.useLimit}}</th>
                <th>地址</th>
                <th>{{pagelist.registerPrice}}</th>
              </tr>
              <tr>
                <th>详情地址</th>
                <th colspan="3">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>建筑面积</th>
                <th align="left">{{pagelist.useLimit}}</th>
                <th>用地面积</th>
                <th align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>实用面积</th>
                <th align="left">{{pagelist.useLimit}}</th>
                <th>公摊面积</th>
                <th align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>物业来源</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr height="141px" valign="top">
                <th>物业图片</th>
                <th colspan="3" align="left"><img src="https://img-blog.csdnimg.cn/20210818194629412.png?x-oss-process=image/resize,m_fixed,h_200" height="91px" width="121px"></th>
              </tr>
              <tr>
                <th>楼栋数量</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
            </table>
            <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
              <label>层高承重</label>
            </div>
            <table cellspacing="0" cellpadding="0" class="tablekg">
              <tr>
                <th>序号</th>
                <th>楼层名称</th>
                <th>楼层数量</th>
                <th>层高(m)</th>
                <th>承重(kg)</th>
              </tr>
              <tr>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
              </tr>
              <tr>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
                <th>{{pagelist.registerPrice}}11</th>
              </tr>
            </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="2">建造信息</span>
            </div>
            <table cellspacing="0" cellpadding="0" class="infotable">
              <tr>
                <th>设计单位</th>
                <th align="left">{{pagelist.useLimit}}</th>
                <th>施工单位</th>
                <th align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
              <tr class="realtr" valign="top">
                <th>建造说明</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>备注</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
            </table>
            <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
             <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
              <label>附件材料</label>
            </div>
            </div>
            <table cellspacing="0" cellpadding="0" class="accessory">
              <tr>
                <th>验收报告</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>施工许可证</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
            </table>
         <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name"  id="3">用地信息</span>
            </div>

          <table cellspacing="0" cellpadding="0" class="infotable">
            <tr>
              <th>开始时间</th>
              <th align="left">{{pagelist.useLimit}}</th>
              <th>结束时间</th>
              <th align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>建设单位</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
            <tr class="realtr" valign="top">
              <th>用地说明</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>备注</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
          </table>
        <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
              <label>附件材料</label>
            </div>
          <table cellspacing="0" cellpadding="0" class="accessory">
            <tr>
              <th>土地出让合同</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>红线图或宗地图</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>用地许可证</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
          </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name"  id="4">附属设施</span>
            </div>
          <table cellspacing="0" cellpadding="0" class="tablekg">
            <tr>
              <th>序号</th>
              <th>设施名称</th>
              <th>规矩</th>
              <th>数量</th>
              <th>度量单位</th>
              <th>备注</th>
            </tr>
            <tr>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
            </tr>
            <tr>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
              <th>{{pagelist.registerPrice}}11</th>
            </tr>
          </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="5">物管信息</span>
            </div>
          <table cellspacing="0" cellpadding="0" class="infotable">
            <tr>
              <th>物业公司名称</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>联系人</th>
              <th align="left">{{pagelist.useLimit}}</th>
              <th>联系电话</th>
              <th align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr>
              <th>物业管理费</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
            <tr class="realtr" valign="top">
              <th>备注</th>
              <th colspan="3" align="left">{{pagelist.useLimit}}</th>
            </tr>
          </table>
             </div>
        </div>
      </div>
      <div class="user_body_header">
      </div>
      <div class="aa">
        <div class="user_body_left">
        </div>
        <div class="user_body_right">
          <div class="right_header">
          </div>
          <div class="div_table">
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>物业名称</th>
                <th>{{pagelist.landLocation}}</th>
                <th>物业简称</th>
                <th>{{pagelist.landPurpose}}</th>
              </tr>
              <tr>
                <th>别名/曾用名</th>
                <th>{{pagelist.obligee}}</th>
                <th>物业状态</th>
                <th>{{pagelist.registerPurpose}}11</th>
              </tr>
              <tr>
                <th>物业标签</th>
                <th>{{pagelist.unitName}}</th>
                <th>物业规模</th>
                <th>{{pagelist.remark}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th colspan="3" >{{pagelist.useLimit}}</th>
              </tr>
              <tr  class="realtr" valign="top">
                <th>物业简介</th>
                <th colspan="3" >{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>物业种类</th>
                <th>{{pagelist.useLimit}}</th>
                <th>地址</th>
                <th>{{pagelist.aliasName}}11</th>
              </tr>
              <tr>
                <th>详情地址</th>
                <th colspan="3">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>建筑面积</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr>
                <th>物业来源</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
              <tr height="141px" class="realtr" valign="top">
                <th>物业图片</th>
                <th colspan="3" align="left">{{pagelist.useLimit}}</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
>>>>>>> Stashed changes
    </div>
  </div>

</template>

<script>
// import qs from 'qs'
import { wyProRightRegList } from '../../until/asset'
export default {
  data () {
    return {
      radio: '基础信息',
      ruleForm: {
        creater: '',
        type: '',
        text: '',
        remark: '',
        id: ''
      },
      form: {
        name
      },
      pagelist: [],
      pagesize: 10,
      currentPage: 1

    }
  },
  mounted () {
    this.search()
  },
  methods: {
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },
    search () {
      let name = this.form.name
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: name
      }
      wyProRightRegList(obj).then(res => {
        this.pagelist = res.data.data.list[0]
        this.totalNum = res.data.data.total
        // console.log(this.pagelist)
      })
    }
  }
}
</script>
<style scoped>
.tablekg {
  width: 100%;
}
.tablekg tr:nth-of-type(1) th {
  background: #e8eff2;
  border-radius: 3px;
  height: 42px;
}
.tablekg tr:nth-of-type(3) th {
  border-bottom: 1px solid #e8eff2;
  border-top: 1px solid #e8eff2;
}
.tablekg tr:nth-of-type(2) th,
.tablekg tr:nth-of-type(3) th {
  font-weight: 400;
}
.tablekg tr:nth-of-type(2),
.tablekg tr:nth-of-type(3) {
  height: 41px;
}
.realtr {
  height: 189px;
}
.realtr th {
  padding-top: 18px;
}
.realtr{
height:189px;
}
.realtr th{
padding-top: 18px;
}
.el-input__inner {
  width: 300%;
  margin: 2px;
}
.right_header {
  display: flex;
  align-items:center;
  justify-content:space-between;
  height: 58px;
  line-height: 58px;
  padding:0 10px ;
  border-bottom: 1px solid #DDDDDD;
}
.right_header h2{
  margin-left: 10px;
}
.right_header button {
  width: 85px;
  height: 34px;
  background: #1286ff;
  box-shadow: 0px 2px 4px 0px rgba(18, 134, 255, 0.35);
  border-radius: 6px;
  border: 1px solid;
  color: white;
}
.right_headertwo  >>> .el-radio-button__inner {
   width: 115px;
height: 34px;
    padding: 10px 20px;
  }
.right_headertwo {
  line-height: 58px;
   padding:0 10px ;
  height: 58px;
}
.user_body_header {
  height: 60px;
  width: 100%;
  border: 1px solid black;
}
.user_body_left {
  border: 1px solid black;
  height: 98%;
  width: 18%;
}
.right_header {
  height: 58px;
  border: 1px solid black;
}
.user_body_right{
  height: 98%;
  width: 100%;
}
.div_table {
  margin-top: 10px;
  padding: 10px;
  margin: 10px;
  height: calc(90% - 68px);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 1px solid black;
  margin: 0 10px;
  height: 98%;
  width: 82%;
}
.div_table {
  margin-top: 10px;
  padding: 0 10px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.aa {
  display: flex;
  width: 100%;
  height: 90%;
  margin-top: 10px;
}
.user_body {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
.user_body {
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width:cale(100%-15px);
  height: 100%;
  margin:0 0 0 15px;
   box-shadow: 0px 1px 0px 0px #DDDDDD;
border-radius: 6px 6px 0px 0px;
}
.table,
.infotable,
.accessory {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.accessory tr th:nth-of-type(1) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.accessory tr th:nth-of-type(2) {
  text-align: left;
  padding-left: 25px;
  width: 85%;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3),
.infotable tr th:nth-of-type(1),
.infotable tr th:nth-of-type(3) {
}
.table {
 width:100%;
  border: 1px solid #dddddd;
   font-family:Microsoft YaHei;
  font-size: 14px;
  background: #FFFFFF;
box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}
.table tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4),
.infotable tr th:nth-of-type(2),
.infotable tr th:nth-of-type(4) {
}
.table tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4) {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;

}
.title {
  width: 100%;
  height: 90px;
}
.title_header{
   width: 100%;
  height: 60px;
}
.vertical-line {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #1286ff;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.name{
   line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.title-name {
  line-height: 90px;
  font-size: 18px;
  font-weight: bold;
}
</style>
