<template>
  <div class="main-right">
    <el-form :model="form" :rules="rules" ref="form" label-width="126px">
      <div class="title-name">
        <h3>{{headerName}}</h3>
        <el-form-item style="margin-top:10px">
          <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
          <el-button style="width:86px;height:38px;font-size: 16px;" @click="handleJump">取消</el-button>
        </el-form-item>
      </div>

      <!-- 基础信息 -->
      <div class="main-content">
        <div class="center-content">
          <div class="add-content">
            <div id="1">
              <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:100%;">
                  <el-radio-group v-model="form.propertyTagId">
                    <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id" disabled>{{item.name}}</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" maxlength="51" disabled placeholder="请输入权属所有人"></el-input>
                </el-form-item>
              </div>
              <Title titleName="基础信息"></Title>
              <div class="base-content">
                <el-form-item label="关联物业：" class="item-form" prop="relatedProperty">
                  <el-input v-model="form.relatedProperty" maxlength="51" disabled placeholder="请输入关联物业"></el-input>
                </el-form-item>
                <el-form-item label="关联物业规模：" maxlength="51" class="item-form" prop="relatedScaleName">
                  <el-input v-model="form.relatedScaleName" disabled placeholder="请输入关联物业规模"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="楼层名称：" prop="unitName" class="item-form">
                  <el-input v-model.trim="form.unitName" maxlength="101" placeholder="请输入楼层名称" disabled></el-input>
                </el-form-item>
                <el-form-item label="物业名称：" prop="name" class="item-form">
                  <el-input v-model="form.name" maxlength="101" disabled placeholder="请输入物业名称"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业编号：" class="item-form" prop="propertyCode">
                  <el-input v-model="form.propertyCode" maxlength="51" disabled placeholder="请输入物业编号"></el-input>
                </el-form-item>

                <el-form-item label="楼层编码：" class="item-form" prop="houseCode">
                  <el-input v-model="form.houseCode" maxlength="51" placeholder="请输入楼层编码"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="别名/曾用名：" class="item-form" prop="aliasName">
                  <el-input v-model="form.aliasName" maxlength="51" placeholder="请输入别名/曾用名"></el-input>
                </el-form-item>
                <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
                  <el-select v-model="form.propertyScaleId" placeholder="请选择物业规模" disabled class="item-select">
                    <el-option v-for="item in propertyScale" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;">
                    <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div class="base-content">
                  <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable">
                    <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;">
                      <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                    </el-checkbox-group>
                  </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
                  <el-input v-model="form.propertyPlan" maxlength="51" placeholder="请输入物业规划用途"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业地址：" prop="detailAddr" style="width:100%;">
                  <el-input v-model="form.detailAddr" maxlength="51" disabled placeholder="请输入物业地址"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
                  <el-input v-model="form.buildArea" maxlength="16" placeholder="请输入建筑面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="实用面积：" class="item-form" prop="practicalArea">
                  <el-input v-model="form.practicalArea" maxlength="16" placeholder="请输入实用面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <!-- <el-form-item label="用地面积：" class="item-form" prop="landArea">
                  <el-input v-model="form.landArea">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item> -->
              </div>

              <div class="base-content">
                <el-form-item label="公摊面积：" class="item-form" prop="shareArea">
                  <el-input v-model="form.shareArea" maxlength="16" placeholder="请输入公摊面积">
                    <template slot="append">㎡</template >
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="层高：" class="item-form" prop="storeyHeight">
                  <el-input v-model="form.storeyHeight" maxlength="16" placeholder="请输入层高">
                    <template slot="append">m</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="承重：" class="item-form" prop="loadBearer">
                  <el-input v-model="form.loadBearer" maxlength="16" placeholder="请输入承重">
                    <template slot="append">kg</template>
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="朝向：" class="item-form">
                  <el-select v-model="form.towards" placeholder="请选择朝向" class="item-select">
                    <el-option v-for="item in towardsArr" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
              </el-form-item>

                <el-form-item label="内三维：" class="item-form" prop="threeDimen">
                  <el-input v-model="form.threeDimen" maxlength="51" placeholder="请输入VR链接"></el-input>
                </el-form-item>
              </div>

              <div style="margin-bottom:24px;">
                <el-form-item label="户型图：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
                  <p style="color:#F19149;line-height:20px; margin-top:10px;">支持jpg/png/jpng格式 ,不超过10M</p>
                  <UploadImg :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changeImg($event)" :propertyImg="Array.isArray(houseImgList) && houseImgList.length > 0 ? houseImgList : ''"></UploadImg>
                </el-form-item>
              </div>

            </div>

          </div>
        </div>
      </div>

    </el-form>
  </div>
</template>
<script>
import Title from '@/components/title.vue'
import UploadImg from '@/components/uploadImg.vue'
import { selectTag } from '@/views/incubationPark/mainPark/request.js'
import {
  viewBuild, editBuild, propertyCode, assetName
  // propertyName
} from '../request.js'

export default {
  components: { Title, UploadImg },
  props: ['id', 'pid'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    let isValue100 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 100) {
          callback(new Error('输入字数已超过100字'))
        } else {
          callback()
        }
      }
    }

    return {
      headerName: '',
      params: {},
      propertyTag: [],
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      isBaseIcon: false,
      isActive: false,
      isLable: false,
      hasError: true,
      propertyType: [],
      propertySource: [],
      propertyScale: [],
      houseImgList: [],
      wyTag: [],
      towardsArr: [
        { id: '1', name: '东' },
        { id: '2', name: '南' },
        { id: '3', name: '西' },
        { id: '4', name: '北' },
        { id: '5', name: '东北' },
        { id: '6', name: '西北' },
        { id: '7', name: '东南' },
        { id: '8', name: '西南' }
      ],
      oldData: {},
      oldDetailAddr: '',
      timer: null,
      oldUnitName: '',
      isRepeat: true,
      isSave: true,
      form: {
        relatedProperty: '',
        relatedScaleName: '',
        id: '',
        pid: '',
        type: 3,
        unitName: '', // 楼层名称
        name: '', // 物业名称
        propertyTagId: '',
        propertyScaleId: '',
        belongPerson: '', // 权属所有人
        wyTagId: [], // 物业标签
        propertyPlan: '', // 物业规划用途
        propertyCode: '',
        houseCode: '',
        shortName: '',
        aliasName: '',
        propertyTypeId: [],
        houseImg: [],
        buildArea: '',
        // landArea: '',
        practicalArea: '',
        shareArea: '',
        userId: '',
        detailAddr: JSON.parse(sessionStorage.getItem('treeItemData')).wyAdderss,
        threeDimen: '',
        towards: ''
      },
      rules: {
        relatedProperty: [
          { required: true, message: '请输入关联物业', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        relatedScaleName: [
          { required: true, message: '请输入关联物业规模', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        unitName: [
          { required: true, message: '请输入楼层名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue100, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue100, trigger: 'blur' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        houseCode: [
          { required: true, message: '请输入楼层编码', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        detailAddr: [
          { required: true, message: '请输入物业地址', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue50, trigger: 'blur' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        // propertyStatusId: [
        //   { required: true, message: '请选择物业状态', trigger: 'change' }
        // ],
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        propertyTypeId: [
          { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        // landArea: [
        //   { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        // ],
        practicalArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        shareArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        storeyHeight: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        loadBearer: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        threeDimen: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    propertyCode().then((res) => {
      this.form.propertyCode = res.data.data
    })
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    // selectTag('property_type2').then(res => {
    //   this.propertyType = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    // this.propertyType = JSON.parse(sessionStorage.getItem('treeItemData')).wyTypes
    this.handleEditDetail(this.id)
  },

  watch: {
    'id': function (newId) {
      this.handleEditDetail(newId)
    }
  },

  methods: {
    handleEditDetail (keyId) {
      viewBuild(keyId).then((res) => {
        if (res.data.code === 0) {
          let {
            info = {},
            propertyType = [],
            propertyTag = [],
            houseImg = [],
            wyTypes = [],
            propertyScale = [],
            wyTag = [],
            relationName,
            relationScale
          } = res.data.data
          this.propertyType = wyTypes
          if (Array.isArray(propertyTag) && propertyTag.length > 0 && String(propertyTag[0].id) === '10') {
            this.isLable = true
            this.rules.houseCode[0].required = false
          } else {
            this.isLable = false
            this.rules.houseCode[0].required = true
          }
          this.houseImgList = this.filterImg(houseImg)
          let houseImgs = this.handleDetailImg(houseImg)
          let propertyTypeId = this.handleFilter(propertyType)
          let propertyTagId = Array.isArray(propertyTag) && propertyTag.length > 0 && propertyTag[0].id ? propertyTag[0].id : ''
          let propertyScaleId = Array.isArray(propertyScale) && propertyScale.length > 0 && propertyScale[0].id ? propertyScale[0].id : '70'
          this.headerName = info.name
          this.oldUnitName = info.unitName
          this.oldDetailAddr = info.detailAddr && info.unitName && (info.detailAddr.indexOf(info.unitName) !== -1) ? info.detailAddr.split(info.unitName)[0] : ''
          let wyTagId = this.handleFilter(wyTag)
          this.form = {
            relatedProperty: relationName,
            relatedScaleName: relationScale,
            id: info.id,
            pid: info.pid,
            type: info.type,
            address: info.address,
            propertyPlan: info.propertyPlan, // 物业规划用途
            wyTagId: wyTagId, // 物业标签
            unitName: info.unitName, // 楼栋名称
            name: info.name, // 物业名称
            userId: info.userId,
            houseImg: houseImgs,
            propertyScaleId: propertyScaleId,
            propertyCode: info.propertyCode,
            houseCode: info.houseCode,
            shortName: info.shortName,
            aliasName: info.aliasName,
            belongPerson: info.belongPerson ? info.belongPerson : JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
            propertyTypeId: propertyTypeId,
            propertyTagId: propertyTagId,
            detailAddr: info.detailAddr,
            buildArea: info.buildArea ? info.buildArea : '',
            // landArea: info.landArea,
            practicalArea: info.practicalArea ? info.practicalArea : '',
            shareArea: info.shareArea ? info.shareArea : '',
            storeyHeight: info.storeyHeight,
            loadBearer: info.loadBearer,
            threeDimen: info.threeDimen,
            towards: info.towards ? String(info.towards) : ''
          }
        }
      })
    },

    handleFilter (value) {
      let arr = []
      value && Array.isArray(value) && value.length > 0 && value.forEach((item) => {
        arr.push(item.id)
      })
      return arr
    },

    filterImg (imgArr) {
      let arr = []
      Array.isArray(imgArr) && imgArr.length > 0 && imgArr.forEach((item) => {
        let obj = {}
        obj.fileName = item.name
        obj.path = item.path
        arr.push(obj)
      })
      return arr
    },

    remoteMethod (rule, value, callback) {
      if (this.isSave) {
        this.form.name = ''
        this.form.detailAddr = ''
        if ((value !== '') && (value !== this.oldUnitName)) {
          if (this.timer) clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            let params = `?name=${this.form.relatedProperty + value}&pid=${this.form.pid}`
            assetName(params).then((res) => {
              console.log(params, 'params')
              if (res.data.code === 0) {
                this.form.name = this.form.relatedProperty + value
                this.form.detailAddr = this.oldDetailAddr + value
                callback()
                this.isRepeat = true
              } else {
                this.form.name = ''
                this.form.detailAddr = ''
                callback(new Error(`${res.data.errMsg}，请重新输入`))
                this.isRepeat = false
              }
            })
          }, 300)
        } else {
          this.form.name = this.form.relatedProperty + value
          this.form.detailAddr = this.oldDetailAddr + value
        }
      }
    },

    handleDetailImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        let urlPath = item.path ? item.path : ''
        let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
        val.name = item.name
        val.path = resPath
        imgArr[index] = val
      })
      return imgArr
    },

    changeImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 本地上传图片处理
          if (item.response && typeof item.response === 'object') {
            val.name = item.response.data.fileName
            val.path = item.response.data.filePath
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.name = item.name
          val.path = resPath
        }
        imgArr[index] = val
      })
      this.form.houseImg = imgArr
    },

    handleJump () {
      this.$emit('event', this.form.id)
    },

    submitForm (formName) {
      this.isSave = false
      setTimeout(() => {
        let isPass = []
        this.$refs[formName].validateField([
          'belongPerson',
          'relatedProperty',
          'relatedScaleName',
          'unitName',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'propertyPlan',
          'propertyScaleId',
          'propertyTagId',
          'propertyTypeId'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })

        if ((isPass.length === 0) && this.isRepeat) {
          let params = {}
          let infoObj = {}
          infoObj.propertyPlan = this.form.propertyPlan // 物业规划用途
          infoObj.belongPerson = this.form.belongPerson
          infoObj.unitName = this.form.unitName
          infoObj.name = this.form.name
          infoObj.shortName = this.form.shortName
          infoObj.aliasName = this.form.aliasName
          infoObj.houseCode = this.form.houseCode
          infoObj.propertyCode = this.form.propertyCode
          infoObj.areaCode = this.form.areaCode
          // infoObj.landArea = this.form.landArea
          infoObj.buildArea = this.form.buildArea
          infoObj.practicalArea = this.form.practicalArea
          infoObj.shareArea = this.form.shareArea
          infoObj.detailAddr = this.form.detailAddr
          infoObj.storeyHeight = this.form.storeyHeight
          infoObj.loadBearer = this.form.loadBearer
          infoObj.type = this.form.type
          infoObj.threeDimen = this.form.threeDimen
          infoObj.towards = this.form.towards
          infoObj.userId = this.form.userId
          infoObj.pid = this.form.pid
          infoObj.id = this.form.id
          params.info = infoObj
          params.propertyType = this.form.propertyTypeId
          params.houseImg = this.form.houseImg
          params.propertyScale = this.form.propertyScaleId
          params.wyTag = this.form.wyTagId // 物业标签
          params.propertyTag = this.form.propertyTagId
          if (JSON.stringify(params) !== JSON.stringify(this.oldData)) {
            editBuild(params).then((res) => {
              if (res.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '修改成功',
                  type: 'success'
                })
                this.$emit('event', this.form.id)
              } else {
                this.$message({
                  showClose: true,
                  message: res.data.errMsg,
                  type: 'warning'
                })
                return (this.oldData = {})
              }
            })
            this.oldData = params
          } else {
            this.$message({
              showClose: true,
              message: '请勿重复保存数据',
              type: 'warning'
            })
            this.oldData = params
          }
        }
        this.isSave = true
      }, 0)
    }
  },
  destroyed () {
    if (this.timer) clearTimeout(this.timer)
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
