<template>
    <div class="main-right">
               <el-form :model="form" :rules="rules" ref="form"  label-width="126px">
                <div class="title-name">
                    <h3>{{headerName}}</h3>
                    <el-form-item style="margin-top:10px">
                    <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
                    <el-button style="width:86px;height:38px;font-size: 16px;" @click="handleJump">取消</el-button>
                    </el-form-item>
                </div>
                <div class="btn">
                     <div class="btn-content">
                     <div style="margin-top:3px">
                         <el-radio-group v-model="radio">

                          <el-radio-button label="基础信息" @change.native="changColor(1)">
                             <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                              &nbsp;基础信息
                          </el-radio-button>

                           <el-radio-button label="运营信息" @change.native="changColor(2)">
                              <i :class="{ 'el-icon-warning': isOperateError,'el-icon-success':isOperateActive }" :style="{color:(isOperateIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                               &nbsp;运营信息
                           </el-radio-button>

                         </el-radio-group>
                     </div>
                     </div>
                </div>

<!-- 基础信息 -->
<div class="main-content">
<div class="center-content">
<div class="add-content">
  <div id="1">
    <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:100%;">
                     <el-radio-group v-model="form.propertyTagId"  @change="handleVal">
                       <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id">{{item.name}}</el-radio>
                     </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" disabled maxlength="51" placeholder="请输入权属所有人"></el-input>
                </el-form-item>
              </div>
  <Title titleName="基础信息"></Title>
<div class="base-content">
    <el-form-item label="物业名称：" prop="name" class="item-form">
    <el-input v-model.trim="form.name" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业名称" disabled></el-input>
    </el-form-item>
   <el-form-item label="物业简称：" class="item-form" prop="shortName">
    <el-input v-model="form.shortName" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业简称"></el-input>
    </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="别名/曾用名：" class="item-form" prop="aliasName">
    <el-input v-model="form.aliasName" maxlength="51" @blur="handdleIsBase" placeholder="请选择别名/曾用名"></el-input>
    </el-form-item>
    <el-form-item label="物业状态：" class="item-form" prop="propertyStatusId">
    <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyStatus"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
      <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyScale"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
    </el-form-item>
    <el-form-item label="物业编号：" class="item-form" prop="propertyCode" @blur="handdleIsBase">
    <el-input v-model="form.propertyCode" disabled maxlength="51" placeholder="请输入物业编号"></el-input>
    </el-form-item>
</div>

<div class="base-content">
  <el-form-item label="物业简介：" style="width:100%;" prop="propertyIntroduction">
    <el-input type="textarea" :rows="8" maxlength="1001" v-model="form.propertyIntroduction" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
  </el-form-item>
</div>

 <!-- <div class="base-content">
  <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
    <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
         <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
    </el-checkbox-group>
  </el-form-item>
</div> -->

<div class="base-content">
    <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable">
      <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
        <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
      </el-checkbox-group>
    </el-form-item>
</div>

<div>
  <Address
  level="5"
  isVillage="1"
  isRequired="true"
  @event="change($event)"
  @eventVillage="doVillage($event)"
  :handleRefresh="handdleIsBase"
  :addressArr="addressArr"
  :detailAddr="form.detailAddr"
  :lng="form.longitude"
  :lat="form.latitude"
  ></Address>
</div>

<div class="base-content">
    <el-form-item label="建筑面积：" class="item-form" prop="buildArea" >
    <el-input v-model="form.buildArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入物业简介">
      <template slot="append">㎡</template>
    </el-input>
    </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
      <el-input v-model="form.propertyPlan" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
    </el-form-item>
</div>

<div class="base-content">
   <el-form-item label="物业来源：" prop="propertySourceId" style="margin-bottom:6px;" class="errorTips">
    <el-checkbox-group v-model="form.propertySourceId" style="line-height: 28px;" @change="handdleIsBase">
         <el-checkbox v-for="item in propertySource" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
    </el-checkbox-group>
  </el-form-item>
</div>

<!-- <div class="base-content">
    <el-form-item label="主要用途：" class="item-form" prop="mainPurposId" style="width:100%;">
    <el-select
    v-model="form.mainPurposId"
    placeholder="请选择主要用途"
    class="item-select"
    @blur="handdleIsBase">
      <el-option
        v-for="item in mainPurpose"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div> -->

<div>
  <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
  <p style="color:#F19149;line-height:20px; margin-top:10px;">支持jpg/png/jpng格式 ,不超过10M</p>
  <UploadImg
  :imgFormat="imgFormat"
  imgSize="10"
  imgName="jpeg、jpg、png"
  @event="changeImg($event)"
  :propertyImg="Array.isArray(propertyImgList) && propertyImgList.length > 0 ? propertyImgList : ''"
  :handleRefresh="this.handdleIsBase"
  ></UploadImg>
  </el-form-item>
</div>
</div>

 <!-- 运营信息 -->
    <div id="2" style="margin-top:24px">
      <Title titleName="运营信息"></Title>
      <div class="base-content">
        <el-form-item label="运营方式：" prop="operatesType" style="margin-bottom:0;">
             <el-radio-group v-model="form.operatesType" @change="handleIsValue">
               <el-radio label="1">自营</el-radio>
               <el-radio label="2">委托运营</el-radio>
               <el-radio label="3">其他管理单位</el-radio>
             </el-radio-group>
        </el-form-item>
      </div>
    </div>

    <div class="base-content" v-if="isOpreates" style="margin-left:15px;">
                <div class="operates">
                <el-form-item :label="opreatesLable" prop="operatesUnitId" style="margin-bottom:0; flex:1; display:flex; width:100%;">
                      <el-select v-model="form.operatesUnitId" placeholder="请选择管理单位" class="item-select" style="width:100%;" @change="handleOperate">
                    <el-option v-for="item in operatingUnit" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                 <el-form-item prop="opreatesGroupId" style="margin-bottom:0;flex:1; margin-left:30px;">
                    <el-select v-model="form.opreatesGroupId" placeholder="请选择运营单位项目组" @focus='handleFocus' class="item-select" style="width:72%;">
                    <el-option v-for="item in organization" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                </div>
  </div>
</div>
</div>
</div>
</el-form>
</div>
</template>
<script>
import Title from '@/components/title.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'

import { selectTag, operateCode, operateUnit } from '@/views/business/mainPark/request.js'
import {province, city, area, street, committee} from '@/components/request'
import { viewBuild, searchAddress, editBuild, assetName } from '../request.js'
export default {
  components: {Title, Address, UploadImg},
  props: ['id'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }
    return {
      headerName: '',
      dialogVisible: false,
      buildDialogVisible: false,
      pageBuildCustFile: [],
      pageSiteCustFile: [],
      radio: '基础信息',
      params: {},
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isOperateActive: false,
      isOperateIcon: false,
      isOperateError: true,
      propertyTag: [],
      propertyStatus: [],
      propertyScale: [],
      // propertyType: [],
      propertySource: [],
      // mainPurpose: [],
      operatingUnit: [],
      organization: [],
      isOpreates: false,
      opreatesLable: '',
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      isLable: false,
      wyTag: [],
      buildList: [],
      addressArr: [],
      floorList: [],
      propertyImgList: [],
      oldData: {},
      timer: null,
      isRepeat: true,
      form: {
        id: '',
        pid: '',
        address: '',
        type: 6,
        propertyTagId: '',
        unitName: '',
        name: '',
        buildCustFile: {}, // 建造自定义合同
        siteCustFile: {}, // 用地自定义合同
        belongPerson: '', // 权属所有人
        shortName: '',
        aliasName: '',
        propertyStatusId: '',
        propertyScaleId: '15',
        propertyCode: '',
        propertyIntroduction: '',
        // propertyTypeId: [],
        propertySourceId: [],
        // mainPurposId: '',
        propertyPlan: '', // 物业规划用途
        wyTagId: [], // 物业标签
        buildArea: '',
        // landArea: '',
        // practicalArea: '',
        // shareArea: '',
        propertyImg: [],
        operatesType: '', // 运营方式
        operatesUnitId: '', // 运营管理单位
        constructionUnit: '',
        userId: '',
        detailAddr: '',
        areaCode: '',
        longitude: 0, // 经度
        latitude: 0, // 纬度
        assetType: '', // 资产类型
        propertyType: '' // 按钮类型
      },

      rules: {
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        num: [
          { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        operatesType: [
          { required: true, message: '请选择运营方式', trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        propertyStatusId: [
          { required: true, message: '请选择物业状态', trigger: 'change' }
        ],
        operatesUnitId: [
          { required: true, message: '请选择运营管理单位', trigger: 'change' }
        ], // 运营管理单位
        opreatesGroupId: [
          { required: true, message: '请选择运营单位项目组', trigger: 'change' }
        ], // 运营单位项目
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        // propertyTypeId: [
        //   { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        // ],
        shortName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    // selectTag('property_type2').then(res => {
    //   this.propertyType = res.data.data
    // })
    selectTag('property_source').then(res => {
      this.propertySource = res.data.data
    })
    // selectTag('main_purpos').then(res => {
    //   this.mainPurpose = res.data.data
    // })
    operateCode().then(res => {
      this.operatingUnit = res.data.data
    })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    this.handleEditDetail(this.id)
  },

  watch: {
    'id': function (newVal) {
      this.handleEditDetail(newVal)
    }
  },
  updated () {
    this.handleIsValue()
    this.handdleIsBase()
  },
  methods: {
    handleVal (val) {
      if (val === '10') {
        this.isLable = true
      } else {
        this.isLable = false
      }
    },
    handleFocus () {
      if (this.organization.length === 0) {
        this.$refs.form.validateField('operatesUnitId')
      }
    },
    remoteMethod (rule, value, callback) {
      if ((value !== '') && (value !== this.headerName)) {
        if (this.timer) clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          let params = `?name=${value}&pid=${0}`
          assetName(params).then((res) => {
            if (res.data.code === 0) {
              callback()
              this.isRepeat = true
            } else {
              callback(new Error(`${res.data.errMsg}，请重新输入`))
              this.isRepeat = false
            }
          })
        }, 300)
      }
    },
    handleEditDetail (keyId) {
      if (keyId) {
        viewBuild(keyId).then((res) => {
          if (res.data.code === 0) {
            let {
              info = {},
              // mainPurpos = [],
              propertyImg = [],
              propertyScale = [],
              propertySource = [],
              propertyStatus = [],
              propertyTag = [],
              // propertyType = [],
              wyTag = []
            } = res.data.data
            this.headerName = info.name
            // 国企物业编辑回显
            if (Array.isArray(propertyTag) && propertyTag.length > 0 && String(propertyTag[0].id) === '10') {
              this.isLable = true
            } else {
              this.isLable = false
            }
            let propertyTagId = Array.isArray(propertyTag) && propertyTag.length > 0 && propertyTag[0].id ? propertyTag[0].id : ''
            // let propertyTypeId = this.handleFilter(propertyType)
            let propertySourceId = this.handleFilter(propertySource)
            let address = []
            if (info.areaCode) {
              searchAddress(info.areaCode).then((res) => {
                if (res.data.code === 0) {
                  let {provinceCode, cityCode, areaCode, streetCode, committeeCode} = res.data.data
                  address.push(provinceCode)
                  address.push(cityCode)
                  address.push(areaCode)
                  address.push(streetCode)
                  address.push(committeeCode)
                }
              })
            }
            this.addressArr = address
            this.propertyImgList = propertyImg
            let propertyImgs = this.handleDetailImg(propertyImg)
            let propertyScaleId = Array.isArray(propertyScale) && propertyScale.length > 0 && propertyScale[0].id ? propertyScale[0].id : '15'
            let propertyStatusId = Array.isArray(propertyStatus) && propertyStatus.length > 0 && propertyStatus[0].id ? propertyStatus[0].id : ''
            // let mainPurposId = Array.isArray(mainPurpos) && mainPurpos.length > 0 && mainPurpos[0].id ? mainPurpos[0].id : ''
            if (String(info.operatesType) === '1') {
              this.isOpreates = false
            } else if (String(info.operatesType) === '2') {
              this.isOpreates = true
              this.opreatesLable = '委托运营管理单位：'
            } else if (String(info.operatesType) === '3') {
              this.isOpreates = true
              this.opreatesLable = '其他管理单位：'
            }
            if (info.operatesUnitId && info.opreatesGroupId) {
              this.handleOperate(info.operatesUnitId, info.opreatesGroupId)
            }
            let wyTagId = this.handleFilter(wyTag)
            this.form = {
              id: info.id,
              pid: info.pid,
              userId: info.userId,
              type: info.type,
              address: info.address,
              propertyTagId: propertyTagId,
              unitName: info.unitName ? info.unitName : '',
              name: info.name,
              belongPerson: info.belongPerson ? info.belongPerson : JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
              shortName: info.shortName,
              aliasName: info.aliasName,
              propertyImg: propertyImgs,
              // propertyTypeId: propertyTypeId,
              propertyStatusId: propertyStatusId,
              propertyScaleId: propertyScaleId,
              propertyCode: info.propertyCode,
              propertyIntroduction: info.propertyIntroduction,
              detailAddr: info.detailAddr,
              buildArea: info.buildArea ? info.buildArea : '',
              // landArea: info.landArea && info.landArea !== 0 ? info.landArea : '',
              // practicalArea: info.practicalArea && info.practicalArea !== 0 ? info.practicalArea : '',
              // shareArea: info.shareArea && info.shareArea !== 0 ? info.shareArea : '',
              propertySourceId: propertySourceId,
              wyTagId: wyTagId,
              propertyPlan: info.propertyPlan,
              // mainPurposId: mainPurposId,
              operatesType: String(info.operatesType), // 运营方式
              operatesUnitId: info.operatesUnitId, // 运营管理单位
              opreatesGroupId: info.opreatesGroupId, // 运营单位项目组
              assetType: info.assetType,
              propertyType: info.propertyType,
              longitude: info.longitude ? info.longitude : 0,
              latitude: info.latitude ? info.latitude : 0
            }
          }
        })
      }
    },

    handleDetailImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        let urlPath = item.path ? item.path : ''
        let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
        val.name = item.name
        val.path = resPath
        imgArr[index] = val
      })
      return imgArr
    },

    handleFilter (value) {
      let arr = []
      value && Array.isArray(value) && value.forEach((item) => {
        arr.push(item.id)
      })
      return arr
    },
    handleFilterfolder (folder) {
      let arr = []
      Array.isArray(folder) && folder.length > 0 && folder.forEach((item) => {
        let obj = {}
        obj.fileName = item.name
        obj.path = item.path && (item.path).split('/api/v1/zbkc/')[1]
        arr.push(obj)
      })
      return arr
    },

    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },

    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.form.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },

    doVillage (val) {
      this.form.detailAddr = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
    },

    handleIsValue (val) {
      if (val === '1') {
        this.isOpreates = false
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '2') {
        this.isOpreates = true
        this.opreatesLable = '委托运营管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '3') {
        this.isOpreates = true
        this.opreatesLable = '其他管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      }
      if (this.form.operatesType) {
        this.isOperateActive = true
        this.isOperateIcon = true
        this.isOperateError = false
      }
    },

    handleOperate (val, echo) {
      operateUnit(val).then((res) => {
        if ((res.data.code === 0) && res.data.data && Array.isArray(res.data.data)) {
          this.organization = res.data.data
          if (echo) {
            this.form.opreatesGroupId = echo // 运营单位项目组
          }
        }
      })
    },

    handdleIsBase () {
      const {
        name,
        shortName,
        aliasName,
        propertyStatusId,
        propertyScaleId,
        propertyCode,
        propertyIntroduction,
        // propertyTypeId,
        propertySourceId,
        // mainPurposId,
        propertyPlan,
        wyTagId,
        detailAddr,
        buildArea,
        // landArea,
        // practicalArea,
        // shareArea,
        propertyImgPath
      } = this.form
      if (
        name ||
        shortName ||
        aliasName ||
        propertyPlan ||
        propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        propertyIntroduction ||
        // propertyTypeId.length > 0 ||
        propertySourceId.length > 0 ||
        wyTagId.length > 0 ||
        // mainPurposId ||
        detailAddr ||
        buildArea ||
        // landArea ||
        // practicalArea ||
        // shareArea ||
        propertyImgPath.length > 0 ||
        this.provincialLevel ||
        this.cityLevel ||
        this.areaLevel ||
        this.streetLevel ||
        this.committeeLevel ||
        this.buildList.length > 0
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    changeImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 本地上传图片处理
          val.name = item.response.data.fileName
          val.path = item.response.data.filePath
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.name = item.name
          val.path = resPath
        }
        imgArr[index] = val
      })
      this.form.propertyImg = imgArr
    },

    submitForm (formName) {
      setTimeout(() => {
        let isPass = []
        this.$refs[formName].validateField([
          'belongPerson',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'num',
          'propertyPlan',
          'operatesType',
          'propertyScaleId',
          'propertyStatusId',
          'operatesUnitId',
          'opreatesGroupId',
          'propertyTagId'
          // 'propertyTypeId'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })
        if ((isPass.length === 0) && this.isRepeat) {
          let params = {}
          let infoObj = {}
          infoObj.belongPerson = this.form.belongPerson
          infoObj.unitName = this.form.unitName
          infoObj.name = this.form.name
          infoObj.propertyPlan = this.form.propertyPlan // 物业规划用途
          infoObj.shortName = this.form.shortName
          infoObj.aliasName = this.form.aliasName
          infoObj.propertyCode = this.form.propertyCode
          infoObj.areaCode = this.form.areaCode
          infoObj.propertyIntroduction = this.form.propertyIntroduction
          // infoObj.landArea = this.form.landArea
          // infoObj.buildArea = this.form.buildArea
          // infoObj.practicalArea = this.form.practicalArea
          infoObj.shareArea = this.form.shareArea
          infoObj.longitude = this.form.longitude
          infoObj.latitude = this.form.latitude
          infoObj.assetType = this.form.assetType
          infoObj.propertyType = this.form.propertyType
          infoObj.operatesType = this.form.operatesType
          infoObj.operatesUnitId = this.form.operatesUnitId
          infoObj.opreatesGroupId = this.form.opreatesGroupId
          infoObj.userId = this.form.userId
          infoObj.pid = this.form.pid
          infoObj.id = this.form.id
          infoObj.type = this.form.type
          if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
            infoObj.address = `${this.provincialLevel}${this.cityLevel}${this.areaLevel}${this.streetLevel}${this.committeeLevel}`
          } else {
            infoObj.address = this.form.address
          }
          params.info = infoObj
          params.propertyImg = this.form.propertyImg
          params.propertyTag = this.form.propertyTagId
          params.propertyStatus = this.form.propertyStatusId
          // params.propertyType = this.form.propertyTypeId
          params.propertySource = this.form.propertySourceId
          params.propertyScale = this.form.propertyScaleId
          // params.mainPurpos = this.form.mainPurposId
          params.wyTag = this.form.wyTagId // 物业标签
          params.buildCustFile = this.form.buildCustFile
          params.siteCustFile = this.form.siteCustFile
          if (JSON.stringify(params) !== JSON.stringify(this.oldData)) {
            editBuild(params).then((res) => {
              if (res.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '修改成功',
                  type: 'success'
                })
                this.$emit('event', this.form.id)
              } else {
                this.$message({
                  showClose: true,
                  message: res.data.errMsg,
                  type: 'warning'
                })
                return (this.oldData = {})
              }
            })
            this.oldData = params
          } else {
            this.$message({
              showClose: true,
              message: '请勿重复保存数据',
              type: 'warning'
            })
            this.oldData = params
          }
        }
      }, 0)
    },
    handleJump () {
      this.$router.push({ path: '/business' })
    }
  },
  destroyed () {
    if (this.timer) clearTimeout(this.timer)
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
