.parameter_mian {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  // overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  .project-container {
    margin-top: 10px;
    border-radius: 6px;
  }
  /deep/.el-tabs--border-card {
    border-bottom: none;
    box-shadow: none;
  }
  /deep/.el-tabs--top,/deep/.el-tabs--border-card{
    overflow-y: overlay !important;
  }
  // ::-webkit-scrollbar {
  //   display: none; /* Chrome Safari */
  //   scrollbar-width: none; /* Firefox */
  //   -ms-overflow-style: none; /* IE 10+ */
  // }
}
// .parameter_mian::-webkit-scrollbar {
//   display: none; /* Chrome Safari */
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE 10+ */
// }
.el-table /deep/th.gutter {
  display: table-cell !important;
}

.table-list {
  background-color: #fff;
  border-radius: 6px;
  // padding: 20px 16px;
  box-sizing: border-box;

  .table-btn {
    display: flex;
    margin-bottom: 20px;

    .el-button+.el-button {
      margin-left: 10px;
    }
  }

  .table-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.table {
  height: calc(100vh - 332px);
  display: flex;
  flex-direction: column;

  .el-table {
    flex: 1;
    display: flex;
    flex-direction: column;

    /deep/.el-table__body-wrapper {
      overflow-y: auto;
      flex: 1;
    }
  }
}
.form-main {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  .form-item {
    width: 230px;
    display: inline-block;
    margin-bottom: 16px;
    display: flex;
    .item-select {
      display: inline-block;
    }
  }
  .form-btn {
    width: 176px;
    display: flex;
    margin-left: 20px;
  }

  /deep/.el-input__inner {
    height: 34px;
  }
  /deep/.el-form-item__label {
    display: inline-block;
    width: 140px;
    text-align: right;
    color: #fff;
    padding: 0;
  }
}
.form-btn {
  width: 176px;
  display: flex;
  margin-left: 20px;
}
/deep/.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  background: #fff;
  color: #409eff;
}
/deep/ .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/deep/.el-table--border::after, .el-table--group::after, .el-table::before{
  // background-color:transparent !important;
}
/deep/.el-tabs__content {
  padding:20px 16px 0px 16px;
}