<template>
  <div class="parameter_mian">
    <Breadcrumb property='业务办理'></Breadcrumb>
    <router-view />
    <div v-if="$route.name==='shouldHandleBusiness'">
      <div v-show="this.activeName=='first'">
        <el-form :inline="true" ref="searchForm" :model="searchForm" label-width="100px" class="form-main">
          <el-form-item label="项目名称：">
            <el-input @clear="getTableList" v-model="searchForm.projectName" placeholder="请输入项目名称" clearable></el-input>
          </el-form-item>
          <el-form-item label="受理号：">
            <el-input @clear="getTableList" v-model="searchForm.acceptNum" placeholder="请输入受理号" clearable></el-input>
          </el-form-item>
          <el-form-item label="申请时间：">
            <el-date-picker @change="clearChange" v-model="searchForm.startTime" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd">
            </el-date-picker>
            <span>-</span>
            <el-date-picker @change="clearChange" v-model="searchForm.endTime" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="申请单位：">
            <el-input @clear="getTableList" v-model="searchForm.unitName" placeholder="请输入申请单位" clearable></el-input>
          </el-form-item>
          <el-form-item label="阶段名称：">
            <el-input @clear="getTableList" v-model="searchForm.stageName" placeholder="请输入阶段名称" clearable></el-input>
          </el-form-item>
          <el-form-item label="流程进度：">
            <el-input @clear="getTableList" v-model="searchForm.stepName" placeholder="请输入流程进度" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="search" :disabled='btnSearchRequestDisabled'>查询</el-button>
            <el-button type="primary" @click="reset" style="margin-left:20px;">重置</el-button>
            <el-button type="primary" v-permission="{action:'移交导出', effect:'disabled'}" style="margin-left:20px;" @click="exportTable" :disabled="btnExportDisabled">导出</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div v-show="this.activeName=='second'">
        <el-form :inline="true" ref="searchForm" :model="searchForm" label-width="100px" class="form-main">
          <el-form-item label="业务名称：">
            <el-input @clear="getTableList" v-model="searchForm.projectName" placeholder="请输入业务名称" clearable></el-input>
          </el-form-item>
          <el-form-item label="受理号：">
            <el-input @clear="getTableList" v-model="searchForm.acceptNum" placeholder="请输入受理号" clearable></el-input>
          </el-form-item>
          <el-form-item label="申请时间：">
            <el-date-picker @change="clearChange" v-model="searchForm.startTime" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd">
            </el-date-picker>
            <span>-</span>
            <el-date-picker @change="clearChange" v-model="searchForm.endTime" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="申请单位：">
            <el-input @clear="getTableList" v-model="searchForm.unitName" placeholder="请输入申请单位" clearable></el-input>
          </el-form-item>
          <el-form-item label="业务类型：">
            <el-input @clear="getTableList" v-model="searchForm.businessType" placeholder="请输入业务类型" clearable></el-input>
          </el-form-item>
          <el-form-item label="流程进度：">
            <el-input @clear="getTableList" v-model="searchForm.stepName" placeholder="请输入流程进度" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="search" :disabled='btnSearchRequestDisabled'>查询</el-button>
            <el-button type="primary" @click="reset" style="margin-left:20px;">重置</el-button>
            <el-button type="primary" v-permission="{action:'合同导出', effect:'disabled'}" style="margin-left:20px;" @click="exportTable" :disabled="btnExportDisabled">导出</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div v-show="this.activeName=='third'">
        <el-form :inline="true" ref="searchForm" :model="searchForm" label-width="100px" class="form-main">
          <el-form-item label="项目名称：">
            <el-input @clear="getTableList" v-model="searchForm.projectName" placeholder="请输入项目名称" clearable></el-input>
          </el-form-item>
          <el-form-item label="申报单位：">
            <el-input @clear="getTableList" v-model="searchForm.unitName" placeholder="请输入申报单位" clearable></el-input>
          </el-form-item>
          <el-form-item label="申请时间：">
            <el-date-picker @change="clearChange" v-model="searchForm.startTime" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd">
            </el-date-picker>
            <span>-</span>
            <el-date-picker @change="clearChange" v-model="searchForm.endTime" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="联系人：">
            <el-input @clear="getTableList" v-model="searchForm.contactPerson" placeholder="请输入联系人" clearable></el-input>
          </el-form-item>
          <el-form-item label="联系方式：">
            <el-input @clear="getTableList" v-model="searchForm.contactTel" placeholder="请输入联系方式" clearable></el-input>
          </el-form-item>
          <el-form-item label="流程进度：">
            <el-input @clear="getTableList" v-model="searchForm.stepName" placeholder="请输入流程进度" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="search" :disabled='btnSearchRequestDisabled'>查询</el-button>
            <el-button type="primary" @click="reset" style="margin-left:20px;">重置</el-button>
            <el-button type="primary" v-permission="{action:'资产导出', effect:'disabled'}" style="margin-left:20px;" @click="exportTable" :disabled="btnExportDisabled">导出</el-button>
          </el-form-item>
        </el-form>
      </div>

      <el-tabs class="table-list" type="border-card" v-model="activeName" @tab-click="handleClick">
        <!-- 用房移交申请 -->
        <el-tab-pane label="用房移交申请" name="first">
          <section class="project-table">
            <!-- <span class="title"> {{ switchTitle(activeName) }}列表</span> -->
            <div class="table">
              <el-table border :data="tableData" style="width: 100%">
                <el-table-column label="序号" type="index" align="center"></el-table-column>
                <el-table-column prop="proName" label="项目名称" width="180"></el-table-column>
                <el-table-column prop="acceptCode" label="受理号"> </el-table-column>
                <el-table-column prop="stageName" label="阶段名称"> </el-table-column>
                <el-table-column prop="applicantUnit" label="申请单位"> </el-table-column>
                <el-table-column prop="process" label="流程进度"> </el-table-column>
                <el-table-column prop="" label="申请时间">
                  <template slot-scope="scope">
                    <span>{{scope.row.applicationTime|formatDate}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button type="primary" v-permission="{action:'移交办理', effect:'disabled'}" class="handle-el-icon" @click="onDialogShow(scope.row)">办理</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div style="display: flex;justify-content: flex-end;margin:0px 16px 20px 0px;">
                <el-pagination class="table-pagination" background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
                </el-pagination>
              </div>
            </div>
          </section>
        </el-tab-pane>
        <!-- 合同签署申请 -->
        <el-tab-pane label="合同签署申请" name="second">
          <section class="project-table">
            <!-- <span class="title"> {{ switchTitle(activeName) }}列表</span> -->
            <div class="table">
              <el-table border :data="tableData" style="width: 100%">
                <el-table-column label="序号" type="index" align="center"></el-table-column>
                <el-table-column prop="proName" label="业务名称" width="180"></el-table-column>
                <el-table-column prop="acceptCode" label="受理号"> </el-table-column>
                <el-table-column prop="type" label="业务类型"> </el-table-column>
                <el-table-column prop="applicantUnit" label="申请单位"> </el-table-column>
                <el-table-column prop="process" label="流程进度"> </el-table-column>
                <el-table-column prop="" label="申请时间">
                  <template slot-scope="scope">
                    <span>{{scope.row.applicationTime|formatDate}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="signSource" label="申请来源">
                  <template slot-scope="scope">
                    {{signSourceList[scope.row.signSource]}}
                  </template>
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button type="primary" v-permission="{action:'合同办理', effect:'disabled'}" class="handle-el-icon" @click="onDialogShow(scope.row)">办理</el-button>
                    <!-- <el-button type="primary" class="handle-el-icon" @click="onDialogShow(scope.row)">办理</el-button> -->
                  </template>
                </el-table-column>
              </el-table>
              <div style="display: flex;justify-content: flex-end;margin:0px 16px 20px 0px;">
                <el-pagination class="table-pagination" background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
                </el-pagination>
              </div>
            </div>
          </section>
        </el-tab-pane>
        <!-- 物业资产申报 -->
        <el-tab-pane label="物业资产申报" name="third">
          <section class="project-table">
            <!-- <span class="title"> {{ switchTitle(activeName) }}列表</span> -->
            <div class="table">
              <el-table border :data="tableData" style="width: 100%">
                <el-table-column label="序号" type="index" align="center"></el-table-column>
                <el-table-column prop="proName" label="项目名称" width="180"></el-table-column>
                <el-table-column prop="applicantUnit" label="申报单位"> </el-table-column>
                <el-table-column prop="contactName" label="联系人"> </el-table-column>
                <el-table-column prop="contactPhone" label="联系方式"> </el-table-column>
                <el-table-column prop="process" label="流程进度"> </el-table-column>
                <el-table-column prop="" label="申请时间">
                  <template slot-scope="scope">
                    <span>{{scope.row.applicationTime|formatDate}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button type="primary" v-permission="{action:'资产办理', effect:'disabled'}" class="handle-el-icon" @click="onDialogShow(scope.row)">办理</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div style="display: flex;justify-content: flex-end;margin:0px 16px 20px 0px;">
                <el-pagination class="table-pagination" background :data="tableData" @size-change="tableData" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
                </el-pagination>
              </div>
            </div>
          </section>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import SelectInput from '@/components/select/searchInput.vue'
import Breadcrumb from '@/components/BreadCrum/index.vue'
import TransferRoom from '../dialog/transferRoomApply'
import ContractSign from '../dialog/contractSignApply'
import PropertyAssets from '../dialog/propertyAssetsApply'
import { getHandleList, dealWithBefore } from '@/until/api.js'
import axios from 'axios'

export default {
  name: 'shouldHandleBusiness',
  components: {
    SelectInput,
    TransferRoom,
    ContractSign,
    PropertyAssets,
    Breadcrumb
  },
  data () {
    return {
      pathName: '-待办业务-',
      activeName: 'first',
      currentTitle: '用房移交申请',
      formLabelWidth: '126px',
      btnSearchRequestDisabled: false,
      searchDialogShow: false,
      transferDialogShow: false,
      propertyDialogShow: false,
      contractsDialogShow: false,
      btnExportDisabled: false,
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      agencyType: '1',
      searchForm: {
        projectName: '', // 项目/业务名称
        acceptNum: '', // 受理号
        unitName: '', // 申请/报单位
        stageName: '', // 阶段名称
        stepName: '', // 流程进度
        startTime: '', // 开始时间
        endTime: '', // 结束时间
        businessType: '', // 业务类型
        contactPerson: '', // 联系人
        contactTel: ''// 联系方式
      },
      signSourceList: {
        1: '现场申请',
        2: '线上申请'
      }
    }
  },
  filters: {
    formatDate (dataStr) {
      var time = new Date(dataStr)
      function timeAdd0 (str) {
        if (str < 10) {
          str = '0' + str
        }
        return str
      }
      var y = time.getFullYear()
      var m = time.getMonth() + 1
      var d = time.getDate()
      var h = time.getHours()
      var mm = time.getMinutes()
      var s = time.getSeconds()
      return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' +
        timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s)
    }
  },
  created () {
    if (this.$route.params.agencyType) {
      this.agencyType = this.$route.params.agencyType
    }
    this.getTableList()
  },
  watch: {
    agencyType (newVal, oldVal) {
      // this.getTableList()
      this.reset()
    },
    '$route' (to, from) {
      if (this.$route.params.agencyType) {
        this.agencyType = this.$route.params.agencyType
        this.getTableList()
      }
    }
  },
  methods: {
    getTableList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        agencyType: this.agencyType,
        businessType: 'todo',
        userId: window.sessionStorage.getItem('userId'),
        queryStartTime: this.searchForm.startTime,
        queryEndTime: this.searchForm.endTime,
        process: this.searchForm.stepName.trim(),
        applicantUnit: this.searchForm.unitName.trim(),
        stageName: this.searchForm.stageName.trim(),
        acceptCode: this.searchForm.acceptNum.trim(),
        proName: this.searchForm.projectName.trim(),
        contactName: this.searchForm.contactPerson.trim(),
        contactPhone: this.searchForm.contactTel.trim()
      }
      getHandleList(obj).then(res => {
        this.btnSearchRequestDisabled = false
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.totalSize = res.data.data.total
          this.tableData = res.data.data.list
        }
      })
    },
    clearChange () {
      if (!this.searchForm.startTime && !this.searchForm.endTime) {
        this.getTableList()
      }
    },
    // 导出
    exportTable () {
      this.btnExportDisabled = true
      axios({
        method: 'post',
        url: '/zbkc/ywBusiness/yw/export',
        data: {
          p: this.currentPage,
          size: this.totalSize,
          agencyType: this.agencyType,
          businessType: 'todo',
          userId: window.sessionStorage.getItem('userId'),
          queryStartTime: this.searchForm.startTime,
          queryEndTime: this.searchForm.endTime,
          process: this.searchForm.stepName.trim(),
          applicantUnit: this.searchForm.unitName.trim(),
          stageName: this.searchForm.stageName.trim(),
          acceptCode: this.searchForm.acceptNum.trim(),
          proName: this.searchForm.projectName.trim(),
          contactName: this.searchForm.contactPerson.trim(),
          contactPhone: this.searchForm.contactTel.trim()
        },
        responseType: 'blob'
      }).then(res => {
        this.btnExportDisabled = false
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + this.pathName + this.currentTitle + '列表' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.btnExportDisabled = false
    },
    // tab切换
    handleClick (tab, event) {
      this.switchTitle(tab)
    },
    switchTitle (tab) {
      switch (tab.name) {
        case 'first':
          this.agencyType = '1'
          this.currentTitle = tab.label
          break
        case 'second':
          this.agencyType = '3'
          this.currentTitle = tab.label
          break
        case 'third':
          this.agencyType = '2'
          this.currentTitle = tab.label
          break
      }
    },
    // 重置
    reset () {
      for (let i in this.searchForm) {
        this.searchForm[i] = ''
      }
      this.getTableList()
    },
    // 查询
    search () {
      this.btnSearchRequestDisabled = true
      this.currentPage = 1
      this.getTableList()
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.getTableList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getTableList()
    },
    // 展示对应办理弹框
    onDialogShow (item) {
      dealWithBefore(item.id).then(res => {
        if (res.data.code === 0) {
          sessionStorage.setItem('businessId', item.id)
          switch (this.activeName) {
            case 'first':
              this.$router.push(
                {
                  name: 'transferRoomApplyx',
                  query: {
                    mark: 'should'
                    // id: item.id
                  }
                }
              )
              break
            case 'second':
              this.$router.push(
                {
                  name: 'contractSignApplyx',
                  query: {
                    mark: 'should'
                    // id: item.id
                  }
                }
              )
              break
            case 'third':
              this.$router.push(
                {
                  name: 'propertyAssetsApplyx',
                  query: {
                    mark: 'should'
                    // id: item.id
                  }
                }
              )
              break
          }
        } else {
          this.$message.warning(res.data.errMsg)
        }
      })
    },
    // 子组件修改弹框显示隐藏
    changeShow (show) {
      this.transferDialogShow = show
      this.propertyDialogShow = show
      this.contractsDialogShow = show
    }
  }
}
</script>

<style lang="less" scoped >
@import "./index.less";
</style>
