<template>
  <el-dialog :title="activeName === 'add' ? '新增使用登记' : '修改使用登记'" :width="'1100px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="160px">
      <el-form-item label="物业名称:" prop="wyBasicInfoId">
        <el-select v-if="this.activeName==='add'" v-model="ruleForm.wyBasicInfoId" filterable clearable :filter-method="filterWy" @focus="focusWy" placeholder="请选择" @change="wySelectChange" @clear="handleWyClear">
          <el-option v-for="(item,index) in optionsFilter" :key="index" :label="item.wyName" :value="item.id"></el-option>
        </el-select>
        <!-- <el-select v-model="ruleForm.wyBasicInfoId" filterable clearable :filter-method="filterWy" @focus="focusWy" placeholder="请选择" v-if="this.activeName!='add'" disabled>
          <el-option v-for="(item,index) in optionsFilter" :key="index" :label="item.unitName" :value="item.id"></el-option>
        </el-select> -->
        <el-input v-if="this.activeName!='add'" disabled :value="ruleForm.wyName"></el-input>
      </el-form-item>
      <el-form-item label="建筑面积:">
        <el-input disabled v-model="ruleForm.buildArea"></el-input>
      </el-form-item>
      <el-form-item label="物业种类:">
        <el-input disabled v-model="ruleForm.assetType"></el-input>
      </el-form-item>
      <!-- <el-form-item label="建筑面积:">
        <el-input :disabled="false"></el-input>
      </el-form-item> -->
      <el-form-item label="使用方式:">
        <el-input disabled :value="type[ruleForm.method]"></el-input>
      </el-form-item>
      <el-form-item label="是否免租:" prop="rentFree">
        <el-select v-model="ruleForm.rentFree" placeholder="请选择">
          <el-option v-for="(item,index) in options2" :key="index" :label="item.unitName" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="使用状态:" prop="status">
        <el-select v-model="ruleForm.status" placeholder="请选择">
          <el-option v-for="(item,index) in options1" :key="index" :label="item.unitName" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="使用对象名称:" prop="objName">
        <el-input v-model="ruleForm.objName"></el-input>
      </el-form-item>
      <el-form-item label="使用对象类型:" prop="objType">
        <el-select v-model="ruleForm.objType" placeholder="请选择" @change="objTypeChange">
          <el-option v-for="(item,index) in options3" :key="index" :label="item.unitName" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="(ruleForm.objType==2||ruleForm.objType==4||ruleForm.objType==5)?'证件号码:':'统一社会信用代码:'" prop="creditCode">
        <el-input v-model="ruleForm.creditCode"></el-input>
      </el-form-item>
      <el-form-item label="联系人姓名:" prop="contactName">
        <el-input v-model="ruleForm.contactName"></el-input>
      </el-form-item>
      <el-form-item label="使用起始日期:" prop="startTime">
        <el-date-picker v-model="ruleForm.startTime" type="date" placeholder="选择日期" style="width:333.19px" value-format="yyyy-MM-dd"> </el-date-picker>
      </el-form-item>
      <el-form-item label="使用截止日期:" prop="endTime">
        <el-date-picker v-model="ruleForm.endTime" type="date" placeholder="选择日期" style="width:333.19px" value-format="yyyy-MM-dd"> </el-date-picker>
      </el-form-item>
      <el-form-item label="联系方式:" prop="contactPhone">
        <el-input v-model="ruleForm.contactPhone"></el-input>
      </el-form-item>
      <el-form-item label="实际使用用途:" prop="actualUse">
        <el-input v-model="ruleForm.actualUse"></el-input>
      </el-form-item>
      <div>
        <!-- 分割 -->
      </div>
      <el-form-item label="附件材料:">
        <div class="file-item">
          <div class="lb">使用批准文件</div>
          <UploadWps @event="changeWps1($event)" :filesList="fileTarget1" :is-multiple="true" isEdit="edit"></UploadWps>
        </div>
        <div class="file-item">
          <div class="lb">
            <span v-show="ruleForm.method == 1" style="color:#F56C6C;">*</span>
            合同
          </div>
          <UploadWps @event="changeWps2($event)" :filesList="fileTarget2" :is-multiple="true" isEdit="edit"></UploadWps>
        </div>
        <div class="file-item">
          <el-button type="primary" @click="addCustomFile">添加自定义附件</el-button>
        </div>
        <div v-for="(item,index) in fileTarget3" v-bind:key="index" class="file-item">
          <div class="lb">
            <el-input class="file-label" placeholder="自定义名称" v-model="item.name"></el-input>
          </div>
          <UploadWps @event="changeWps3($event,index)" :filesList="item.files" :is-multiple="true" isEdit="edit"></UploadWps>
          <el-button type="danger" @click="delCustomFile(index)" style="height:30px">删除</el-button>
        </div>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')" :disabled="submitDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import moment from 'moment'
import { addEntry, update, allProRight, getEmptyList, listId, wyDetails } from './request'
import { formatDate, formatDate1 } from '@/until/common'
import UploadWps from '@/components/uploadWps1.vue'
export default {
  components: {
    UploadWps, formatDate, formatDate1
  },
  data () {
    return {
      activeName: 'add',
      dialogFormVisible: false,
      submitDisabled: false,
      options: [],
      optionsFilter: [],
      type: {
        1: '出租',
        2: '调配'
      },
      options1: [
        { id: 1, unitName: '在用' },
        { id: 2, unitName: '停用' }
      ],
      options2: [
        { id: 1, unitName: '是' },
        { id: 2, unitName: '否' }
      ],
      options3: [
        { id: 1, unitName: '企业' },
        { id: 2, unitName: '个人' },
        { id: 3, unitName: '个体工商户' },
        { id: 4, unitName: '行政事业单位' },
        { id: 5, unitName: '其他' }
      ],
      ruleForm: {
        wyBasicInfoId: '',
        wyName: '',
        assetType: '',
        method: '',
        rentFree: '',
        status: '',
        objName: '',
        objType: '',
        creditCode: '',
        contactName: '',
        contactPhone: '',
        startTime: '',
        endTime: '',
        actualUse: '',
        userId: ''
      },
      rules: {
        wyBasicInfoId: [{ required: true, message: '请选择物业', trigger: 'change' }],
        rentFree: [{ required: true, message: '请选择是否免租', trigger: 'change' }],
        status: [{ required: true, message: '请选择使用状态', trigger: 'change' }],
        objName: [{ required: true, message: '请输入使用对象名称', trigger: 'blur' }],
        objType: [{ required: true, message: '请选择使用对象类型', trigger: 'change' }],
        creditCode: [{ required: true, message: '请输入统一社会信用代码', trigger: 'blur' }],
        contactName: [{ required: true, message: '请输入联系人姓名', trigger: 'blur' }],
        contactPhone: [{ required: true, message: '请输入联系方式', trigger: 'blur' }],
        startTime: [{ required: true, message: '请选择运营起始日期', trigger: 'change' }],
        endTime: [{ required: true, message: '请选择运营截止日期', trigger: 'change' }],
        actualUse: [{ required: true, message: '请输入实际使用用途', trigger: 'blur' }]
      },
      fileTarget1: [],
      fileTarget2: [],
      fileTarget3: [
        // {
        //   name: '',
        //   files: []
        // }
      ], // 自定义附件
      list: []
    }
  },
  filters: {
    formatDate,
    formatDate1
  },
  created () {
  },
  methods: {
    getWyName (id) {
      let wyFilter = this.options.filter(v => { return v.id == id })
      let name = ''
      if (wyFilter.length > 0) {
        name = wyFilter[0].wyName
      }
      return name
    },
    // 过滤物业下拉列表
    filterWy (v) {
      this.ruleForm.wyBasicInfoId = v
      if (v && v != '') {
        let filterWyList = this.options.filter((v1) => { return v1.wyName && v1.wyName.indexOf(v) >= 0 })
        this.optionsFilter = filterWyList.length > 1000 ? filterWyList.slice(0, 1000) : filterWyList
      } else {
        this.resetOptionsFilter()
      }
    },
    focusWy () {
      this.resetOptionsFilter()
    },
    resetOptionsFilter () {
      if (this.options.length > 1000) {
        this.optionsFilter = this.options.slice(0, 1000)
      } else {
        this.optionsFilter = JSON.parse(JSON.stringify(this.options))
      }
    },
    // 清空物业
    handleWyClear () {
      // 清空建筑面积、物业种类、使用方式
      this.ruleForm.buildArea = ''
      this.ruleForm.assetType = ''
      this.ruleForm.method = ''
    },
    show (name, data) {
      this.fileTarget1 = []
      this.fileTarget2 = []
      this.fileTarget3 = []
      switch (name) {
        case 'modify':
          this.selectId(data)
          break
        case 'view':
          // console.log(data)
          this.selectId(data)
          break
        default:
          this.$nextTick(() => {
            this.reset()
          })
          break
      }
      this.activeName = name
      this.dialogFormVisible = true

      if (name == 'add') {
        // 获取空置物业列表
        getEmptyList().then((res) => {
          if (res.data && res.data.data) {
            let list = res.data.data || []
            this.options = list
            // console.log(this.options)
            if (list.length > 1000) {
              this.optionsFilter = list.slice(0, 1000)
            } else {
              this.optionsFilter = JSON.parse(JSON.stringify(list))
            }
          }
        })
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    selectId (data) {
      listId(data.id).then(res => {
        this.list = res.data.data
        // console.log(this.list)
        for (let value in this.list) this.ruleForm[value] = this.list[value] === null ? '' : this.list[value]
        this.ruleForm.startTime = formatDate(this.ruleForm.startTime)
        this.ruleForm.endTime = formatDate(this.ruleForm.endTime)
        this.wySelectChange(this.ruleForm.wyBasicInfoId)
        this.fileTarget1 = this.ruleForm.useApprovalFileList
        this.fileTarget2 = this.ruleForm.contractFileList
        let files3 = []
        if (this.ruleForm.customFileMap) {
          for (var name in this.ruleForm.customFileMap) {
            files3.push({ name: name, files: this.ruleForm.customFileMap[name] })
          }
        }
        this.fileTarget3 = files3
      })
    },
    submit () {
      let errMsg = ''
      let ruleForm = this.ruleForm
      ruleForm.userId = window.sessionStorage.getItem('userId')
      // 去掉路径前缀
      const getNewFiles = (files) => {
        return files.map(v => {
          // 保存时去掉路径前缀
          let pathArray = []
          let _path = ''
          if (v.path) {
            pathArray = v.path.split(this.$store.state.global.apiPath)
            _path = pathArray[pathArray.length - 1]
          }
          return { fileName: v.fileName, fileSize: v.fileSize, path: _path }
        })
      }
      ruleForm.useApprovalFileList = getNewFiles(this.fileTarget1)
      ruleForm.contractFileList = getNewFiles(this.fileTarget2)
      // ruleForm.customFileMap = this.fileTarget3
      ruleForm.customFileMap = {}
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.fileTarget3.length > 0) {
            this.fileTarget3.forEach((v, i) => {
              if (v.name && v.name != '') {
                ruleForm.customFileMap[v.name] = getNewFiles(v.files || [])
              } else {
                errMsg = '请输入自定义附件名称'
              }
            })
          }
          if (ruleForm.method == 1 && ruleForm.contractFileList.length == 0) {
            errMsg = '使用方式为“出租”时，必须上传合同附件'
          }
          if (errMsg != '') {
            this.$message({ type: 'error', message: errMsg })
            return
          }

          this.handleInterface(ruleForm)
        }
      })
    },
    handleInterface (ruleForm) {
      if (this.activeName === 'modify') {
        // 编辑页面，有上传合同文件时，使用状态改为停用，保存时，根据使用截止日期判断是否到期，未到期就先提示“该物业有合同暂未到期”，再保存
        if (ruleForm.status == 2 && ruleForm.contractFileList.length > 0 && ruleForm.endTime) {
          let nowTime = moment(formatDate1(new Date()))
          let eTime = moment(ruleForm.endTime)
          let diffTime = nowTime.diff(eTime)
          if (diffTime <= 0) {
            this.$alert('该物业有合同暂未到期', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.submitDisabled = true
                update(ruleForm).then(res => {
                  this.submitDisabled = false
                  if (res.data.code === 0) {
                    this.$alert('修改成功', '提示', {
                      confirmButtonText: '确定',
                      callback: action => {
                        this.cancel()
                      }
                    })
                  }
                })
              }
            })
          }
        } else {
          this.submitDisabled = true
          update(ruleForm).then(res => {
            this.submitDisabled = false
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.cancel()
                }
              })
            }
          })
        }
      } else if (this.activeName === 'add') {
        this.submitDisabled = true
        addEntry(ruleForm).then(res => {
          this.submitDisabled = false
          if (res.data.code === 0) {
            this.$alert('新增成功', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.cancel()
              }
            })
          }
        })
      }
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    reset () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
        setTimeout(() => {
          this.$refs.ruleForm.clearValidate()
        }, 0)
        this.fileTarget = ''
        this.ruleForm.buildArea = ''
        this.ruleForm.assetType = ''
        this.ruleForm.method = ''
        this.fileTarget1 = []
        this.fileTarget2 = []
        this.fileTarget3 = []
      }
    },
    changeWps1 (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget1 = wpsArr
      // console.log(this.fileTarget1)
    },
    changeWps2 (wpsList) {
      // console.log('----',wpsList)
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget2 = wpsArr
    },
    changeWps3 (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget3[index].files = wpsArr
    },
    // 物业选择改变
    wySelectChange (v) {
      if (v && v != '') {
        this.ruleForm.method = 1
        wyDetails(v).then(res => {
          // console.log(res)
          if (res.data.code == 0 && res.data.data && res.data.data.info) {
            this.ruleForm.wyName = res.data.data.info.name
            this.ruleForm.buildArea = res.data.data.info.buildArea
            this.ruleForm.assetType = res.data.data.info.assetType
            if (['产业用房', '商业', '住宅', '南山软件园'].indexOf(this.ruleForm.assetType) >= 0) {
              this.ruleForm.method = 1
            } else {
              this.ruleForm.method = 2
            }
          }
        })
        // 新建页面，选择物业之后，使用状态改为在用
        if (this.activeName === 'add') {
          this.ruleForm.status = 1
        }
      }
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget3.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget3.splice(index, 1)
    },
    // 选择使用对象类型
    objTypeChange (v) {
      this.$refs.ruleForm.clearValidate()
      if (v == 2 || v == 4 || v == 5) {
        this.rules['creditCode'][0].message = '请输入证件号码'
      } else {
        this.rules['creditCode'][0].message = '请输入统一社会信用代码'
      }
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 333px;
}
.file-item {
  display: flex;
  & + .file-item {
    margin-top: 10px;
  }
  .lb {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
}
</style>
