<template>
  <div class="usage_main u-right-content">
    <Breadcrumb barName="使用管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
        <el-form-item label="物业名称：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.name" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="使用对象名称：" class="form-item" label-width="170px" style="width: 260px">
          <el-input v-model="formInline.objName" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="使用状态：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.status" clearable placeholder="请选择">
            <el-option v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="起止时间：" class="form-item" label-width="140px" style="width: 350px">
          <div class="daterange-wrapper">
            <el-date-picker v-model="formInline.startTime" type="date" placeholder="开始日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
            <el-date-picker v-model="formInline.endTime" type="date" placeholder="结束日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" :disabled="btnSearchVisible" icon="el-icon-search" @click="handleSearch">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button v-permission="{action:'导出', effect:'disabled'}" type="primary" @click="showUsageRegistration('derive')">导出</el-button>
        <el-button v-permission="{action:'新增使用登记',effect:'disabled'}" type="primary" icon="el-icon-plus" @click="showUsageRegistration('add')">新增使用登记</el-button>
        <!-- <el-button v-permission="{action:'删除',effect:'disabled'}" type="primary" @click="stop">删除</el-button> -->
      </div>
      <div class="table" style="height: calc(100vh - 308px)">
        <el-table ref="table1" border :data="tableData" @sort-change="sortChange" style="width: 100%">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column type="index" label="序号" width="55"></el-table-column>
          <el-table-column prop="name" label="物业名称" width="300"></el-table-column>
          <el-table-column prop="buildingArea" label="建筑面积(㎡)" sortable> </el-table-column>
          <el-table-column prop="objName" label="使用对象名称"> </el-table-column>
          <el-table-column prop="method" label="使用方式" sortable>
            <template slot-scope="scope">
              {{tableMethod[scope.row.method]}}
            </template>
          </el-table-column>
          <el-table-column prop="startTime" label="开始日期" width="120" align="center" sortable>
            <template slot-scope="scope">
              {{scope.row.startTime | formatDate1}}
            </template>
          </el-table-column>
          <el-table-column prop="endTime" label="结束日期" width="120" align="center" sortable>
            <template slot-scope="scope">
              {{scope.row.endTime | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column prop="status" label="使用状态" width="100" align="center" sortable>
            <template slot-scope="scope">
              {{tableStatus[scope.row.status]}}
            </template>
          </el-table-column>
          <el-table-column label="操作" width="180">
            <template slot-scope="scope">
              <el-button v-permission="{action:'查看',effect:'disabled'}" type="primary" class="handle-el-icon" @click="select(scope.row)">查看</el-button>
              <el-button v-permission="{action:'编辑',effect:'disabled'}" :disabled="scope.row.status==2" type="check" class="handle-el-icon" @click="showUsageRegistration('modify', scope.row)">编辑</el-button>
              <el-button v-permission="{action:'停用',effect:'disabled'}" :disabled="scope.row.status==2" type="warning" class="handle-el-icon" @click="showUsageRegistration('stop', scope.row)">停用</el-button>
              <!-- <el-button v-permission="{action:'删除',effect:'disabled'}" type="info" class="handle-el-icon" @click="remove">删除</el-button> -->
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination :data="tableData" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" :total="totalSize" @size-change="handleSizeChange" @current-change="handleCurrentChange" layout="total,sizes, prev, pager, next, jumper" background></el-pagination>
        </div>

      </div>

    </div>
    <AddUsageRegistration v-if="dialog" @close="add($event)" ref="AddUsageRegistration" />
    <Select v-if="dialogshow" ref="select" />
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { list, allProRight, exportData, stop } from './request'
import UploadWps from '@/components/uploadWps.vue'
import { formatDate1 } from '@/until/common'
import AddUsageRegistration from './AddUsageRegistration'
import Select from './select.vue'
import axios from 'axios'
export default {
  components: {
    UploadWps,
    Select,
    AddUsageRegistration,
    Breadcrumb
  },
  filters: {
    formatDate1
  },
  inject: ['reload'],
  data () {
    return {
      ruleForm: {
        wyBasicInfoId: '', // 房地产名称id
        method: '', // 使用方式 1出租; 2调配
        rentFree: '', // 是否免租 1是；2否
        status: '', // 使用状态 1 在用; 2停用
        objName: '', // 使用对象名称
        objType: '', // 使用对象类型 1.企业/2.个人/3.个体工商户/4.行政事业单位/5.其他
        creditCode: '', // 统一社会信用代码
        contactName: '', // 联系人姓名
        contactPhone: '', // 联系方式
        startTime: '', // 使用开始
        endTime: '', // 使用结束
        actualUse: '', // 实际使用用途
        userId: '', // 用户id
        attachmentMaterialsImg: '' // 材料
      },
      btnSearchVisible: false,
      dialog: false,
      dialogshow: false,
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      tableMethod: {
        1: '出租',
        2: '调配'
      },
      tableStatus: {
        1: '在用',
        2: '停用'
      },
      statusOptions: [
        { label: '在用', value: 1 },
        { label: '停用', value: 2 }
      ],
      // 查询条件
      formInline: {
        name: '', // 物业名称
        objName: '', // 使用对象名称
        status: '', // 使用状态 1 在用; 2停用
        startTime: '',
        endTime: '',
        sort: '0'
      }
    }
  },
  // created () {
  // allProRight().then((res) => {
  // this.option1 = res.data.data
  // })
  // },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.formInline.sort = 0
      vm.handleTable()
    })
  },
  methods: {
    resetForm () {
      for (let i in this.formInline) {
        this.formInline[i] = ''
      }
      this.formInline.sort = 0
      this.$refs.table1.clearSort()
      this.handleTable()
    },
    update (ruleForm) {
    },
    add (event) {
      if (event === false) {
        this.handleTable()
      }
    },
    // dialog form
    showUsageRegistration (name, data) {
      if (name === 'derive') {
        let params = {
          yyUseRegHomeDTO: {
            userId: sessionStorage.getItem('userId'),
            ...this.formInline
          }
        }
        exportData(params).then((res) => {
          let now = new Date()
          let date =
            now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
          const link = document.createElement('a')
          // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
          let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
          link.style.display = 'none'
          // 设置连接
          link.href = URL.createObjectURL(blob)
          link.download = date + '使用登记列表' // 你文件定义的名称
          document.body.appendChild(link)
          // 模拟点击事件
          link.click()
        })
      } else if (name == 'stop') {
        this.$confirm('确认停用吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // let params = { id: data.id, status: 2 }
          stop(data.id).then((res) => {
            if (res.data.code == 0) {
              this.$message.success('已停用')
              this.handleTable()
            } else {
              if (res.data.errMsg) this.$message.error(res.data.errMsg)
            }
          })
        }).catch(() => {
        })
      } else {
        this.dialog = true
        this.$nextTick(() => {
          this.$refs.AddUsageRegistration.show(name, data)
        })
      }
    },
    select (data) {
      this.dialogshow = true
      this.$nextTick(() => {
        this.$refs.select.show(data)
      })
    },
    stop () {
      confirm('正在开发中......')
    },
    remove () {
      confirm('正在开发中......')
    },

    // table
    handleTable (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        ...this.formInline
      }
      if (params.startTime) params.startTime = formatDate1(params.startTime)
      if (params.endTime) params.endTime = formatDate1(params.endTime)
      // console.log(params)
      list(params).then(res => {
        this.btnSearchVisible = false
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.tableData = res.data.data.list
          this.totalSize = res.data.data.total
        }
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.handleTable()
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'buildingArea': sort = 1; break
          case 'startTime': sort = 3; break
          case 'endTime': sort = 5; break
          case 'method': sort = 7; break
          case 'status': sort = 9; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'buildingArea': sort = 2; break
          case 'startTime': sort = 4; break
          case 'endTime': sort = 6; break
          case 'method': sort = 8; break
          case 'status': sort = 10; break
        }
      }
      this.formInline.sort = sort
      this.handleTable()
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增使用登记'
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.handleTable()
    },
    // 点击查询
    handleSearch () {
      this.btnSearchVisible = true
      this.formInline.name = this.formInline.name.trim()
      this.currentPage = 1
      this.handleTable()
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
.daterange-wrapper {
  display: flex;
  .el-date-editor {
    & + .el-date-editor {
      margin-left: 5px;
    }
  }
}
</style>
