<template>
  <div class="parameter_mian">
    <Breadcrumb property='业务办理'></Breadcrumb>
    <router-view />
    <div>
      <el-form :inline="true" ref="search_form" :model="search_form" label-width="100px" class="form-main">
        <el-form-item label="短信模板名称：">
          <el-input @clear="handleTable" v-model="search_form.msgName" placeholder="请输入短信名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="状态：">
          <el-select @clear="handleTable" clearable @change="statusChange($event)" v-model="search_form.status" placeholder="请选择">
            <el-option label="启用" value="1"></el-option>
            <el-option label="禁用" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" @click="searchList">查询</el-button>
          <el-button type="primary" @click="reset" style="margin-left:20px;">重置</el-button>
          <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" :disabled="btnExportDisabled" @click="exportList()" style="margin-left:20px;">导出</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table">
        <div class="table-btn">
          <el-button type="primary" icon="el-icon-plus" v-permission="{action:'新增', effect:'disabled'}" @click="showAddMessageTemplate('add')">新增短信模板</el-button>
        </div>
        <el-table border :data="tableData" @sort-change="sortChange">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column align="center" label="序号" type="index" width="50" style="text-align: center;"></el-table-column>
          <el-table-column prop="name" label="短信模板名称" width="300"></el-table-column>
          <el-table-column prop="status" label="状态">
            <template slot-scope="scope">
              <span :style="scope.row.status==1?colorY:colorN">{{tableStatus[scope.row.status]}}</span>
            </template>
          </el-table-column>
          <el-table-column sortable prop="createTime" label="创建时间">
               <template slot-scope="scope"> {{(scope.row.createTime).substring(0,10)}}</template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" v-permission="{action:'编辑', effect:'disabled'}" slot-scope="" class="handle-el-icon" @click="showAddMessageTemplate('modify',scope.row)">编辑</el-button>
              <el-button type="warning" v-permission="{action:'启用', effect:'disabled'}" class="handle-el-icon" @click="changeMsgStatus('1',scope.row,$event)">启用</el-button>
              <el-button type="info" v-permission="{action:'禁用', effect:'disabled'}" class="handle-el-icon" @click="changeMsgStatus('2',scope.row,$event)" >禁用</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
        </el-pagination>
      </div>
    </div>
    <AddMessageTemplate v-if="dialog" ref="AddMessageTemplate" @close="operateSon($event)" />
  </div>
</template>

<script>
import SelectInput from '@/components/select/searchInput.vue'
import Breadcrumb from '@/components/BreadCrum/index.vue'
import { getMessageList, updMessage } from '@/until/api.js'
import axios from 'axios'
import AddMessageTemplate from './AddMessageTemplate.vue'
export default {
  components: {
    SelectInput,
    AddMessageTemplate,
    Breadcrumb
  },
  data () {
    return {
      search_form: {
        msgName: '',
        status: ''
      },
      colorY: { color: '#008000' },
      colorN: { color: 'red' },
      dialog: false,
      btnExportDisabled: false,
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      tableStatus: {
        1: '启用',
        2: '禁用'
      },
      tableType: {
        1: '合同到期模板',
        2: '短信催缴模板'
      },
      sort: 0
    }
  },
  created () {
    this.handleTable()
  },
  methods: {
    sortChange (column) { // 排序方法
      this.tableData = []
      var type = ''
      if (column.prop == null || column.order == null) {
        type = 0
      } else {
        if (column.order === 'ascending' && column.prop === 'createTime') {
          type = 1
        } else if (column.order === 'descending' && column.prop === 'createTime') {
          type = 2
        }
      }
      this.sort = type
      this.handleTable()
    },
    // 新增、编辑短信模板
    showAddMessageTemplate (name, data) {
      this.dialog = true
      this.$nextTick(() => {
        this.$refs.AddMessageTemplate.show(name, data)
      })
    },
    // 禁用与启用
    changeMsgStatus (status, data, event) {
      console.log(event)
      data.status = status
      let obj = {
        name: data.name,
        id: data.id,
        type: data.type,
        word: data.word,
        remark: data.remark,
        status: data.status,
        userId: sessionStorage.getItem('userId')

      }
      updMessage(obj).then(res => {
        if (res.data.code === 0) {
          this.$message({
            message: '修改状态成功',
            type: 'success'
          })
          this.handleTable()
        } else {
          this.$message.warning(res.data.errMsg)
        }
      })
    },
    // 表格列表
    handleTable () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        sort: this.sort,
        userId: sessionStorage.getItem('userId'),
        name: this.search_form.msgName.trim(),
        status: this.search_form.status
      }
      getMessageList(obj).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.tableData = res.data.data.list
          this.totalSize = res.data.data.total
        }
      })
    },
    // 获取当前选中的状态value
    statusChange (event) {
      this.search_form.status = event
    },
    // 子组件取消
    operateSon (dialogForm) {
      this.handleTable()
    },
    // 重置
    reset () {
      for (let i in this.search_form) {
        this.search_form[i] = ''
      }
      this.handleTable()
    },
    // 导出
    exportList () {
      this.btnExportDisabled = true
      axios({
        method: 'post',
        url: '/zbkc/wySysMsg/template/export',
        data: {
          wySysMsgHomeDTO: {
            sort: this.sort,
            userId: sessionStorage.getItem('userId'),
            name: this.search_form.msgName.trim(),
            status: this.search_form.status
          }
        },
        responseType: 'blob'
      }).then(res => {
        this.btnExportDisabled = false
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + '短信管理列表' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.btnExportDisabled = false
    },
    // 删除
    deleteList () {
      this.$confirm('开发中.....')
    },
    // 当页数量
    handleSizeChange (size) {
      this.pagesize = size
      this.handleTable()
    },
    // 切换页码
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.handleTable()
    },
    // 查询
    searchList () {
      this.currentPage = 1
      this.handleTable()
    }
  }
}
</script>

<style lang="less" scoped >
@import "./index.less";
</style>
