<template>
  <el-dialog :close-on-click-modal="false" title="查看详情" :width="'1200px'" :visible.sync="dialogFormVisible">
    <div class="user_body_right">
      <div class="right_header">
        <!-- 爱心大厦 -->
        <h2>{{this.title_name}}</h2>
      </div>
      <div class="right_headertwo">
        <el-radio-group v-model="radio">
          <el-radio-button label="1" @change.native="changColor(1)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;基础信息</el-radio-button>
          <el-radio-button label="2" @change.native="changColor(2)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;运营信息</el-radio-button>
          <el-radio-button label="3" @change.native="changColor(3)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;建造信息</el-radio-button>
          <el-radio-button label="4" @change.native="changColor(4)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;用地信息</el-radio-button>
          <el-radio-button label="5" @change.native="changColor(5)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;附属设施</el-radio-button>
          <el-radio-button label="6" @change.native="changColor(6)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;物管信息</el-radio-button>
        </el-radio-group>
      </div>
      <div class="div_table">
        <div class="title_header">
          <span class="vertical-line"></span>
          <span class="name" id="1">基础信息</span>
        </div>
        <table cellspacing="0" cellpadding="0" class="table">
          <tr>
            <th>物业权属</th>
            <th>{{propertyTag_name}}</th>
            <th>权属所有人</th>
            <th>{{pagelist.belongPerson}}</th>
          </tr>
          <tr>
            <th>物业名称</th>
            <th>{{pagelist.name}}</th>
            <th>物业简称</th>
            <th>{{pagelist.shortName}}</th>
          </tr>
          <tr>
            <th>物业编号</th>
            <th>{{pagelist.propertyCode}}</th>
            <th>楼栋编码</th>
            <th>{{pagelist.houseCode}}</th>
          </tr>
          <tr>
            <th>别名/曾用名</th>
            <th>{{pagelist.aliasName}}</th>
            <th>物业状态</th>
            <th>{{propertyStatus_name}}</th>
          </tr>
          <tr>
            <th>物业规模</th>
            <th colspan="3">{{propertyScale_name}}</th>
          </tr>

          <tr class="realtr" valign="top">
            <th>物业简介</th>
            <th colspan="3">{{pagelist.propertyIntroduction}}</th>
          </tr>
          <tr>
            <th>物业种类</th>
            <th colspan="3">{{propertyType_name}}</th>
          </tr>
          <tr>
            <th>地址</th>
            <th colspan="3">{{pagelist.address}}</th>
          </tr>
          <tr>
            <th>详情地址</th>
            <th colspan="3">{{pagelist.detailAddr}}</th>
          </tr>
          <tr>
            <th>建筑面积</th>
            <th align="left">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
            <th>用地面积</th>
            <th align="left">{{pagelist.landArea ? `${pagelist.landArea}㎡` : '' }}</th>
          </tr>
          <tr>
            <th>实用面积</th>
            <th align="left">{{pagelist.practicalArea ? `${pagelist.practicalArea}㎡` : ''}} </th>
            <th>公摊面积</th>
            <th align="left">{{pagelist.shareArea ? `${pagelist.shareArea}㎡` : ''}} </th>
          </tr>
          <tr v-if="isLabel">
            <th>物业规划用途</th>
            <th colspan="3" align="left">{{pagelist.propertyPlan}}</th>
          </tr>
          <tr>
            <th>物业来源</th>
            <th colspan="3" align="left">{{propertySource_name}}</th>
          </tr>
          <tr v-if="isLabel">
            <th>物业标签</th>
            <th colspan="3" align="left">{{wy_tag}}</th>
          </tr>

          <tr height="141px" valign="top" class="trimg">
            <th style="line-height:141px;">物业图片</th>
            <th colspan="3" align="left">
              <viewer :images="propertyImglist">
                <span v-for="(item,index) in propertyImglist" :key="index">
                  <img class="imgs" :src="[item.path]">
                </span>
              </viewer>
            </th>
          </tr>
          <tr>
            <th>楼层数量</th>
            <th colspan="3" align="left">{{pagelist.num ? `${pagelist.num}层` : ""}}</th>
          </tr>
        </table>
        <div v-if="Array.isArray(floorList) && floorList.length > 0 ">
          <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
            <label>楼层列表</label>
          </div>
          <table cellspacing="0" cellpadding="0" class="tablekg" :data="floorList">
            <tr>
              <th>序号</th>
              <th>楼层名称</th>
              <th>层高（m）</th>
              <th>承重（kg）</th>
            </tr>
            <tr v-for="(item,index) in floorList" :key="index">
              <th>{{++index}}</th>
              <th>{{item.unitName}}</th>
              <th>{{item.storeyHeight}}</th>
              <th>{{item.loadBearer}}</th>
            </tr>
          </table>
        </div>
        <div class="title">
          <span class="vertical-line"></span>
          <span class="title-name" id="2">运营信息</span>
        </div>
        <table cellspacing="0" cellpadding="0" class="infotable">
          <tr>
            <th>运营方式</th>
            <th colspan="3" align="left">{{operatesTypeName}}</th>
          </tr>
          <tr v-if='isShow'>
            <th>{{isPperate ? '委托运营管理单位' : '其他管理单位' }}</th>
            <th align="left">{{operatesUnit}}</th>
            <th>运营单位项目组</th>
            <th align="left">{{opreatesGroup}}</th>
          </tr>
        </table>
        <div class="title">
          <span class="vertical-line"></span>
          <span class="title-name" id="3">建造信息</span>
        </div>
        <table cellspacing="0" cellpadding="0" class="infotable">
          <tr>
            <th>设计单位</th>
            <th align="left">{{pagelist.designUnit}}</th>
            <th>施工单位</th>
            <th align="left">{{pagelist.buildUnit}}</th>
          </tr>
          <tr class="realtr" valign="top">
            <th>建造说明</th>
            <th colspan="3" align="left">{{pagelist.buildDescription}}</th>
          </tr>
          <tr>
            <th>备注</th>
            <th colspan="3" align="left">{{pagelist.buildRemark}}</th>
          </tr>
        </table>
        <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
          <label>附件材料</label>
        </div>
        <table cellspacing="0" cellpadding="0" class="accessory">
          <tr>
            <th>验收报告</th>
            <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
              <a style="display: block; margin-top:12px;" v-for="item in acceptanceReportFile" :key="item.path" :href="item.path" :download="item.fileName">{{item.fileName}}</a>
              <!-- <ul>
                    <li style="color:#0000ee;" v-for="item in acceptanceReportFile" :key='item.path' @click="download(item.path,item.fileName)">
                    {{item.fileName}}
                    </li>
                  </ul> -->
            </th>
          </tr>
          <tr>
            <th>施工许可证</th>
            <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
              <a style="display: block; margin-top:12px;" v-for="item in constructPermitFile" :key="item.path" :href="item.path" :download="item.fileName">{{item.fileName}}</a>
            </th>
          </tr>
          <template v-if="buildCustFile.length > 0">
            <tr v-for="(item,index) in buildCustFile" :key="index">
              <th>{{item.title}}</th>
              <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
                <a style="display: block; margin-top:12px;" v-for="element in item.data" :key="element.path" :href="element.path" :download="element.fileName">{{element.fileName}}</a>
              </th>
            </tr>
          </template>
        </table>
        <div class="title">
          <span class="vertical-line"></span>
          <span class="title-name" id="4">用地信息</span>
        </div>

        <table cellspacing="0" cellpadding="0" class="infotable">
          <tr>
            <th>开始时间</th>
            <th align="left">{{pagelist.landStartTime | formatDate1}}</th>
            <th>结束时间</th>
            <th align="left">{{pagelist.landEndTime | formatDate1}}</th>
          </tr>
          <tr>
            <th>建设单位</th>
            <th colspan="3" align="left">{{pagelist.constructionUnit}}</th>
          </tr>
          <tr>
          <tr class="realtr" valign="top">
            <th>用地说明</th>
            <th colspan="3" align="left">{{pagelist.landDescription}}</th>
          </tr>
          <tr>
            <th>备注</th>
            <th colspan="3" align="left">{{pagelist.landRemark}}</th>
          </tr>
        </table>
        <div style="height:70px;line-height:70px;font-weight: bold;font-size: 14px;">
          <label>附件材料</label>
        </div>
        <table cellspacing="0" cellpadding="0" class="accessory">
          <tr>
            <th>土地出让合同</th>
            <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
              <a style="display: block; margin-top:12px;" v-for="item in landTransferContractFile" :key="item.path" :href="item.path" :download="item.fileName">{{item.fileName}}</a>
            </th>
          </tr>
          <tr>
            <th>红线图或宗地图</th>
            <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
              <a style="display: block; margin-top:12px;" v-for="item in redLineFile" :key="item.path" :href="item.path" :download="item.fileName">{{item.fileName}}</a>
            </th>
          </tr>
          <tr>
            <th>用地许可证</th>
            <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
              <a style="display: block; margin-top:12px;" v-for="item in landPermitFile" :key="item.path" :href="item.path" :download="item.fileName">{{item.fileName}}</a>
            </th>
          </tr>
          <template v-if="siteCustFile.length > 0">
            <tr v-for="(item,index) in siteCustFile" :key="index">
              <th>{{item.title}}</th>
              <th colspan="3" align="left" style="padding:5px 25px 20px 25px;">
                <a style="display: block; margin-top:12px;" v-for="element in item.data" :key="element.path" :href="element.path" :download="element.fileName">{{element.fileName}}</a>
              </th>
            </tr>
          </template>
        </table>
        <div v-if="Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0 ">
          <div class="title">
            <span class="vertical-line"></span>
            <span class="title-name" id="5">附属设施</span>
          </div>
          <table cellspacing="0" cellpadding="0" class="tablekg" :data="wyFacilitiesInfoList">
            <tr>
              <th>序号</th>
              <th>设施名称</th>
              <th>规格</th>
              <th>数量</th>
              <th>度量单位</th>
              <th>备注</th>
            </tr>
            <tr v-for="(item,index) in wyFacilitiesInfoList" :key="index">
              <th>{{++index}}</th>
              <th>{{item.facilitiesName}}</th>
              <th>{{item.specification}}</th>
              <th>{{item.num}}</th>
              <th>{{item.unitMeasure}}</th>
              <th>{{item.remark}}</th>
            </tr>
          </table>
        </div>
        <div class="title">
          <span class="vertical-line"></span>
          <span class="title-name" id="6">物管信息</span>
        </div>
        <table cellspacing="0" cellpadding="0" class="infotable">
          <tr>
            <th>物业公司名称</th>
            <th colspan="3" align="left">{{pagelist.companyName}}</th>
          </tr>
          <tr>
            <th>联系人</th>
            <th align="left">{{pagelist.contacts}}</th>
            <th>联系电话</th>
            <th align="left">{{pagelist.phone}}</th>
          </tr>
          <tr>
            <th>物业管理费</th>
            <th colspan="3" align="left">{{pagelist.manageFee}}</th>
          </tr>
          <tr class="realtr" valign="top">
            <th>备注</th>
            <th colspan="3" align="left">{{pagelist.remark}}</th>
          </tr>
        </table>
      </div>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="cancel">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { details } from '@/until/api.js'
import { formatDate1 } from '@/until/common'
import { operateCode, operateUnit } from '@/views/estate/mainPark/request.js'

export default {
  filters: {
    formatDate1
  },
  data () {
    return {
      id: '',
      dialogFormVisible: false,
      radio: '1',
      title_name: '',
      pagelist: [],
      wy_tag: '', // 物业标签
      propertyTag_name: '', // 物业权属
      propertyStatus_name: '', // 物业状态
      propertySource_name: '', // 物业来源
      propertyType_name: '', // 物业种类
      propertyScale_name: '', // 物业规模
      acceptanceReportFile: [], // 验收报告
      constructPermitFile: [], // 施工许可证
      houseImg: [], // 户型图
      landPermitFile: [], // 用地许可证
      landTransferContractFile: [], // 土地出让合同
      mainPurpos: [], // 主要用途
      redLineFile: [], // 红线图或宗线图
      buildCustFile: [], // 建造自定义附件
      siteCustFile: [], // 用地自定义附件
      landPermitImg_path: '',
      wyFacilitiesInfoList: [], // 附属设施信息
      propertyImglist: [], // 图片
      landPermitImg: '',
      floorList: [], // 层高承重
      isShow: false,
      isPperate: false,
      operatesTypeName: '',
      operatesUnit: '',
      opreatesGroup: '',
      isLabel: false
    }
  },
  // watch: {
  //   'id': function (newVal) {
  //     this.getDetails(newVal)
  //   }
  // },
  methods: {
    show () {
      this.dialogFormVisible = true
      this.getDetails(this.id)
    },
    getDetails (params) {
      details(params).then(res => {
        let {
          acceptanceReportFile,
          constructPermitFile,
          floorList,
          houseImg,
          info,
          landPermitFile,
          landTransferContractFile,
          mainPurpos,
          propertyImg,
          propertyScale,
          propertySource,
          propertyStatus,
          propertyTag,
          propertyType,
          redLineFile,
          buildCustFile,
          siteCustFile,
          wyFacilitiesInfoList,
          wyTag
        } = res.data.data
        this.pagelist = info
        this.title_name = info.name
        this.wyFacilitiesInfoList = wyFacilitiesInfoList
        this.propertyImglist = propertyImg
        this.floorList = floorList
        this.propertySource_name = ''
        this.acceptanceReportFile = acceptanceReportFile
        this.constructPermitFile = constructPermitFile
        this.houseImg = houseImg
        this.landPermitFile = landPermitFile
        this.landTransferContractFile = landTransferContractFile
        this.mainPurpos = mainPurpos
        this.redLineFile = redLineFile
        this.handlePperate(info.operatesType)
        if (info.operatesUnitId) {
          this.handleOperatesUnit(info.operatesUnitId)
        }
        if (info.operatesUnitId && info.opreatesGroupId) {
          this.handleOpreatesGroup(info.operatesUnitId, info.opreatesGroupId)
        }
        this.buildCustFile = this.filterFile(buildCustFile)
        this.siteCustFile = this.filterFile(siteCustFile)
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name && (String(propertyTag[0].name) === '10'))
        this.propertyTag_name = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyScale_name = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.wy_tag = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    filterFile (val) {
      let arr = []
      for (let key in val) {
        let objData = {}
        objData.data = val[key]
        objData.title = key
        arr.push(objData)
      }
      return arr
    },
    handlePperate (val) {
      if (val === 1) {
        this.operatesTypeName = '自营'
        this.isPperate = false
        this.isShow = false
      } else if (val === 2) {
        this.operatesTypeName = '委托运营'
        this.isPperate = true
        this.isShow = true
      } else if (val === 3) {
        this.operatesTypeName = '其他管理单位'
        this.isPperate = false
        this.isShow = true
      }
    },

    handleOperatesUnit (val) {
      operateCode().then(res => {
        let itemName = res.data.data
        Array.isArray(itemName) && itemName.length > 0 && itemName.forEach((item) => {
          if (item.id === String(val)) {
            this.operatesUnit = item.orgName
          }
        })
      })
    },

    handleOpreatesGroup (prams, val) {
      operateUnit(prams).then((res) => {
        let itemName = res.data.data
        Array.isArray(itemName) && itemName.length > 0 && itemName.forEach((item) => {
          if (item.id === String(val)) {
            this.opreatesGroup = item.orgName
          }
        })
      })
    },
    changColor (val) {
      this.radio = String(val)
      document.getElementById(val).scrollIntoView()
    },
    cancel () {
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
