<template>
  <div class="parameter_mian">
    <Breadcrumb barName="产权登记" icon="el-icon-setting"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" :model="select_form" class="form-main">
        <el-form-item label="房地产名称：">
          <el-input @clear="getTableList" v-model="select_form.unitName" placeholder="请输入物业名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="产权证书号：">
          <el-input @clear="getTableList" v-model="select_form.certificateNo" placeholder="请输入产权证书号" clearable></el-input>
        </el-form-item>
        <el-form-item label="权利类型：">
          <el-select @clear="getTableList" v-model="select_form.rightType" filterable clearable placeholder="请选择权利类型">
            <el-option v-for="item in cities1" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="土地用途：">
          <el-select v-model="select_form.landPurpose" filterable clearable placeholder="请选择土地用途">
            <el-option v-for="item in landList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="使用期限：">
          <el-date-picker @change="clearChange" v-model="select_form.useLimitStart" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd" style="width:130px">
          </el-date-picker>
          <span>-</span>
          <el-date-picker @change="clearChange" v-model="select_form.useLimitEnd" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd" style="width:130px">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="建筑面积：">
          <el-input @clear="getTableList" v-model="select_form.buildingAreaMin" placeholder="请输入最小值" clearable style="width:130px"></el-input>
          <span>-</span>
          <el-input @clear="getTableList" v-model="select_form.buildingAreaMax" placeholder="请输入最大值" clearable style="width:130px"></el-input>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="searchList" :disabled='btnSearchRequestDisabled'>查询</el-button>
          <el-button type="primary" size="medium" @click="resetForm" style="margin-left:20px;">重置</el-button>
          <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" :disabled="btnExportDisabled" @click="exportList" style="margin-left:20px;">导出</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'新增', effect:'disabled'}" icon="el-icon-plus" @click="showDisposalDialog('add')">新增产权登记</el-button>
      </div>
      <div class="table">
        <el-table :data="wyProlist" border style="width: 100%;">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column type="index" label="序号"></el-table-column>
          <el-table-column prop="name" label="房地产名称"></el-table-column>
          <el-table-column prop="certificateNo" label="产权证书号"></el-table-column>
          <el-table-column prop="obligee" label="权利人" width="200"></el-table-column>
          <el-table-column prop="rightTypeName" label="权利类型"></el-table-column>
          <el-table-column prop="buildingArea" label="建筑面积(m²)" width="120" sortable></el-table-column>
          <el-table-column label="使用期限" width="180" sortable>
            <template slot-scope="scope">
              <div>{{scope.row.useLimitStart | formatDate1}}至{{scope.row.useLimitEnd | formatDate1}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="operate" label="操作" width="180">
            <template slot-scope="scope">
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'查看', effect:'disabled'}" @click="showDisposalDialog('see',scope.row)">查看</el-button>
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'编辑', effect:'disabled'}" @click="showDisposalDialog('modify',scope.row)">编辑</el-button>
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'删除', effect:'disabled'}" @click="deletList(scope.row)">删除</el-button>
              <!-- :disabled="btnRequestDisabled" -->
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" :page-count="100" :total="totalNum" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper">
          </el-pagination>
        </div>
      </div>
    </div>
    <AddDataDialog v-if="dialogVisible" ref="AddDataDialog" @close="operateSon($event)" />
  </div>
</template>
<script>
import UploadWps from '@/components/uploadWps.vue'
import {
  selectTag,
  list,
  delwyProRightReg
} from './request'
import axios from 'axios'
import { formatDate1 } from '@/until/common'
import Address from '@/components/address.vue'
import Breadcrumb from '@/components/BreadCrum'
import AddDataDialog from './registerDialog.vue'

export default {
  components: {
    Address,
    UploadWps,
    Breadcrumb,
    AddDataDialog
  },
  data () {
    return {
      cities1: [],
      btnRequestDisabled: false,
      btnSearchRequestDisabled: false,
      dialogVisible: false,
      btnExportDisabled: false,
      select_form: {
        unitName: '',
        certificateNo: '',
        useLimitStart: '',
        useLimitEnd: '',
        rightType: '',
        // landPurpose: '',
        buildingAreaMin: '',
        buildingAreaMax: ''
        // street: '',
        // community: ''
      },
      isSee: true,
      landList: [],
      wyProlist: [],
      pagelist: [],
      requestData: {},
      currentPage: 1,
      pagesize: 10,
      totalNum: 0
    }
  },
  filters: {
    formatDate1
  },
  created () {
    this.getTableList()
    // 权利类型数据字典
    selectTag('right_type').then(res => {
      if (res.data.data) {
        if (res.data.data.length >= 1) {
          this.cities1 = res.data.data
        }
      }
    })
    // 土地用途数据字典
    // selectTag('land_purpose').then(res => {
    //   if (res.data.data) {
    //     if (res.data.data.length >= 1) {
    //       this.landList = res.data.data
    //     }
    //   }
    // })
  },
  methods: {
    // 进入路由获取表格数据
    // beforeRouteEnter (to, from, next) {
    //   next((vm) => {
    //     vm.getTableList()
    //   })
    // },
    // 表格数据
    getTableList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        wyBasicInfoName: this.select_form.unitName.trim(),
        certificateNo: this.select_form.certificateNo.trim(),
        rightType: this.select_form.rightType,
        buildingAreaMin: this.select_form.buildingAreaMin.trim(),
        buildingAreaMax: this.select_form.buildingAreaMax.trim(),
        useLimitStart: this.select_form.useLimitStart,
        useLimitEnd: this.select_form.useLimitEnd,
        userId: window.sessionStorage.getItem('userId')
      }
      list(obj).then(res => {
        this.btnSearchRequestDisabled = false
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.wyProlist = res.data.data.list
          this.totalNum = res.data.data.total
        }
      })
    },
    clearChange () {
      if (!this.select_form.useLimitStart && !this.select_form.useLimitEnd) {
        this.getTableList()
      }
    },
    // 搜索
    searchList () {
      this.btnSearchRequestDisabled = true
      this.currentPage = 1
      this.getTableList()
    },
    // 重置输入框
    resetForm () {
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.getTableList()
    },
    // 删除行
    deletList (data) {
      // this.btnRequestDisabled = true
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delwyProRightReg(data.id).then(res => {
          // this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              message: '删除成功',
              type: 'success'
            })
            this.getTableList()
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 导出
    exportList () {
      this.btnExportDisabled = true
      axios({
        method: 'post',
        url: '/zbkc/wyProRightReg/list/export',
        data: {
          wyProRightHomeDTO: {
            userId: sessionStorage.getItem('userId'),
            wyBasicInfoName: this.select_form.unitName.trim(),
            certificateNo: this.select_form.certificateNo.trim(),
            rightType: this.select_form.rightType,
            buildingAreaMin: this.select_form.buildingAreaMin.trim(),
            buildingAreaMax: this.select_form.buildingAreaMax.trim(),
            useLimitStart: this.select_form.useLimitStart,
            useLimitEnd: this.select_form.useLimitEnd
          }
        },
        responseType: 'blob'
      }).then(res => {
        this.btnExportDisabled = false
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + '产权登记列表' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.btnExportDisabled = false
    },
    // 新增，编辑，查看
    showDisposalDialog (name, data) {
      // this.isSee = name === 'addd' ? true : name !== 'see'
      this.dialogVisible = true
      this.$nextTick(() => {
        this.$refs.AddDataDialog.show(name, data)
      })
    },
    // 子组件取消
    operateSon (form) {
      this.getTableList()
    },
    // 分页
    handleSizeChange (size) {
      this.pagesize = size
      this.getTableList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getTableList()
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
