<template>
  <el-dialog :close-on-click-modal="false" title="查看详情" :width="'1200px'" :visible.sync="dialogFormVisible">
    <div class="user_body_right">
      <div class="right_header">
        <h2>{{this.title_name}}</h2>
      </div>
      <div class="right_headertwo">
        <el-radio-group v-model="radio">
          <el-radio-button label="基础信息" @change.native="changColor(1)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;基础信息</el-radio-button>
          <el-radio-button label="附属设施" @change.native="changColor(2)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;附属设施</el-radio-button>
        </el-radio-group>
      </div>
      <div class="div_table">
        <div class="title_header">
          <span class="vertical-line"></span>
          <span class="name" id="1">基础信息</span>
        </div>
        <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
          <tr>
            <th>物业权属</th>
            <th>{{propertyTagName}}</th>
            <th>权属所有人</th>
            <th>{{pagelist.belongPerson}}</th>
          </tr>
          <tr>
            <th>关联物业</th>
            <th>{{relationName}}</th>
            <th>关联物业规模</th>
            <th>{{relationScale}}</th>
          </tr>
          <tr>
            <th>楼栋名称</th>
            <th>{{pagelist.unitName}}</th>
            <th>物业名称</th>
            <th>{{pagelist.name}}</th>
          </tr>
          <tr>
            <th>物业编号</th>
            <th>{{pagelist.propertyCode}}</th>
            <th>楼栋编码</th>
            <th>{{pagelist.houseCode}}</th>
          </tr>
          <tr>
            <th>物业规模</th>
            <th>{{propertyScale_name}}</th>
            <th>别名/曾用名</th>
            <th>{{pagelist.aliasName}}</th>
          </tr>
          <tr class="realtr" valign="top">
            <th>物业简介</th>
            <th colspan="3">{{pagelist.propertyIntroduction}}</th>
          </tr>
          <tr>
            <th>物业种类</th>
            <th colspan="3">{{propertyType_name}}</th>
          </tr>

          <tr v-if="isLabel">
            <th>物业标签</th>
            <th colspan="3">{{wy_Tag}}</th>
          </tr>

          <tr>
            <th>物业地址</th>
            <th colspan="3">{{pagelist.detailAddr}}</th>
          </tr>
          <tr>
            <th>建筑面积</th>
            <th align="left">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
            <th>用地面积</th>
            <th align="left">{{pagelist.landArea ? `${pagelist.landArea}㎡` : ''}}</th>
          </tr>
          <tr>
            <th>实用面积</th>
            <th align="left">{{pagelist.practicalArea ? `${pagelist.practicalArea}㎡` : ''}}</th>
            <th>公摊面积</th>
            <th align="left">{{pagelist.shareArea ? `${pagelist.shareArea}㎡` : ''}}</th>
          </tr>
          <tr>
            <th>楼层数量</th>
            <th colspan="3" align="left">{{pagelist.num ? `${pagelist.num}层` : ""}}</th>
          </tr>
          <tr v-if="isLabel">
            <th>物业规划用途</th>
            <th colspan="3" align="left">{{pagelist.propertyPlan}}</th>
          </tr>
        </table>
        <div v-if="Array.isArray(floorList) && floorList.length > 0">
          <div style="height:30px; font-weight: bold;font-size: 14px; margin-top:24px;">
            <label>层高承重</label>
          </div>
          <table cellspacing="0" cellpadding="0" class="tablekg" :data="floorList">
            <tr>
              <th>序号</th>
              <th>楼层名称</th>
              <th>楼层数量</th>
              <th>层高(m)</th>
              <th>承重(kg)</th>
            </tr>
            <tr v-for="(item,index) in floorList" :key="index">
              <th>{{++index}}</th>
              <th>{{item.unitName}}</th>
              <th>{{item.num}}</th>
              <th>{{item.storeyHeight}}</th>
              <th>{{item.loadBearer}}</th>
            </tr>
          </table>
        </div>
        <div v-if="Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0">
          <div class="title">
            <span class="vertical-line"></span>
            <span class="title-name" id="2">附属设施</span>
          </div>
          <table cellspacing="0" cellpadding="0" class="tablekg">
            <tr>
              <th>序号</th>
              <th>设施名称</th>
              <th>规格</th>
              <th>数量</th>
              <th>度量单位</th>
              <th>备注</th>
            </tr>
            <tr v-for="(item,index) in wyFacilitiesInfoList" :key="index">
              <th>{{++index}}</th>
              <th>{{item.facilitiesName}}</th>
              <th>{{item.specification}}</th>
              <th>{{item.num}}</th>
              <th>{{item.unitMeasure}}</th>
              <th>{{item.remark}}</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="cancel">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { details } from '@/until/api.js'
import { formatDate1 } from '@/until/common'

export default {
  filters: {
    formatDate1
  },
  data () {
    return {
      id: '',
      dialogFormVisible: false,
      radio: '基础信息',
      pname: '',
      title_name: '',
      pagelist: {},
      propertyStatus_name: '', // 物业状态
      propertySource_name: '', // 物业来源
      propertyType_name: '', // 物业种类
      propertyScale_name: '', // 物业规模
      landPermitImg_path: '',
      wyFacilitiesInfoList: [],
      propertyImglist: [],
      landPermitImg: '',
      floorList: [],
      propertyTagName: '',
      relationName: '',
      relationScale: '',
      isLabel: false,
      wy_Tag: ''
    }
  },
  // watch: {
  //   'id': function (newVal) {
  //     this.getDetails(newVal)
  //   }
  // },
  methods: {
    show () {
      this.dialogFormVisible = true
      this.getDetails(this.id)
    },
    getDetails (params) {
      details(this.id).then(res => {
        let {
          info,
          relationName,
          relationScale,
          propertyScale,
          propertyTag,
          propertySource,
          propertyType,
          propertyStatus,
          propertyImg,
          wyTag,
          wyFacilitiesInfoList
        } = res.data.data
        this.pagelist = info
        this.title_name = info.name
        this.wyFacilitiesInfoList = wyFacilitiesInfoList
        this.propertyImglist = propertyImg
        this.relationName = relationName
        this.relationScale = relationScale
        this.floorList = res.data.data.floorList
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].id && (String(propertyTag[0].id) === '10'))
        this.propertyTagName = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyScale_name = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.wy_Tag = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    changColor (val) {
      this.radio = String(val)
      document.getElementById(val).scrollIntoView()
    },
    cancel () {
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
