<template>
  <div class="authorization_main u-right-content">
    <Breadcrumb barName="预到期合同" icon="el-icon-s-data"></Breadcrumb>
    <div class="flex-between pr12 pt12" style="height:123px">
      <div class="project-list-item-title  pb20 fz30 tac" style="width: 33%; color: #44c74e;display: flex;   background: white; border-radius: 10px;padding-top: 28px;">
        <div class="w200">
          <div class="pl12 fz30">{{this.wyLeaseNum}}</div>
          <div class="pt12 fz25">租赁物业数</div>
        </div>
        <div class="ml40">
          <img src="../../../../assets/icon_04.png" alt="">
        </div>
      </div>
      <div class="project-list-item-title  pb20 fz30 tac" style="width: 33%; color: #4c72ae;display: flex;background: white; border-radius: 10px;padding-top: 28px;">
        <div class="w200">
          <div class="pl12 fz30"><span>{{this.totalRentalArea}}</span>㎡</div>
          <div class="pt12 fz25">租赁面积总计</div>
        </div>
        <div class="ml40">
          <img src="../../../../assets/icon_02.png" alt="">
        </div>
      </div>
      <div class="project-list-item-title  pb20 fz30 tac" style="width: 33%; color: #4a38e0;display: flex;background: white; border-radius: 10px;padding-top: 28px;">
        <div class="w200">
          <div class="pl12 fz30"><span>{{this.totalMonthlyRent}}</span>元</div>
          <div class="pt12 fz25">月租金总计</div>
        </div>
        <div class="ml40">
          <img src="../../../../assets/icon_03.png" alt="">
        </div>

      </div>
    </div>
    <div>
      <el-form :inline="true" :model="select_form" ref="form" class="form-main project-search-form">
        <el-form-item label="物业名称 :" class="form-item">
          <el-input v-model="select_form.wyName" clearable placeholder="请输入物业名称"></el-input>
        </el-form-item>
        <el-form-item label="物业类型 :" class="form-item">
          <el-select v-model="select_form.assetType" clearable placeholder="请选择物业类型">
            <el-option v-for="item in assetTypeList" :key="item.name" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" v-permission="{action:'查询', effect:'disabled'}" icon="el-icon-search" @click="select">查询</el-button>
          <el-button type="primary" v-permission="{action:'重置', effect:'disabled'}" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" @click="derive">导出</el-button>
      </div>
      <div>
        <el-table  border :data="pagelist" @sort-change="sortChange" height="calc(100vh - 493px)" >
          <el-table-column type="index" width="55" label="序号"></el-table-column>
          <el-table-column prop="wyName" label="物业名称" width="380"></el-table-column>
          <el-table-column prop="assetType" width="120" label="物业类型"></el-table-column>
          <el-table-column prop="leaseUse" width="100" label="租赁用途">
            <template slot-scope="scope">
              {{leaseUseList[scope.row.leaseUse]}}
            </template>
          </el-table-column>
          <el-table-column prop="rentalArea" width="120" label="租赁面积(㎡)" sortable>
          </el-table-column>
          <el-table-column prop="monthlyRent" width="120" label="月租金(元)" sortable>
          </el-table-column>
          <el-table-column prop="rentUnitPrice" width="140" label="租金单价(元/㎡)" sortable>
          </el-table-column>
          <el-table-column prop="limitDay" width="120" label="剩余期限(天)" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.limitDay<0" style="color:red">{{scope.row.limitDay}}</span>
              <span v-if="scope.row.limitDay>=0&&scope.row.limitDay<=30" style="color:#409EFF">{{scope.row.limitDay}}</span>
              <span v-if="scope.row.limitDay>30" style="color:green">{{scope.row.limitDay}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="leaser" width="380" label="承租方"></el-table-column>
          <el-table-column prop="startRentDate" width="110" label="起租日期" sortable>
            <template slot-scope="scope"> {{scope.row.startRentDate | formatDate1}}</template>
          </el-table-column>
          <el-table-column prop="endRentDate" width="110" label="止租日期" sortable>
            <template slot-scope="scope"> {{scope.row.endRentDate | formatDate1}}</template>
          </el-table-column>
          <el-table-column prop="year" width="120" label="合同期限(年)" sortable></el-table-column>
          <el-table-column prop="legalPerson" width="100" label="法人"></el-table-column>
          <el-table-column prop="legalPhone" width="150" label="法人联系方式"></el-table-column>
          <el-table-column prop="clientPerson" label="代理人" width="100"></el-table-column>
          <el-table-column prop="clientPhone" width="150" label="代理人联系方式"></el-table-column>
          <el-table-column prop="remark" label="备注" width="380"></el-table-column>
          <el-table-column width="110" fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" v-permission="{action:'查看合同', effect:'disabled'}" @click="seeContract(scope.$index, scope.row)" size="mini">查看合同</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data=pagelist @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum" />
      </div>
    </div>
    <Select v-if="dialogShow" ref="select" />
    <el-dialog title="选择导出字段" :width="'800px'" :visible.sync="dialogFormVisible" @close="dialogClose" :close-on-click-modal="false">
      <el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
      <div style="margin: 15px 0;"></div>
      <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
        <el-checkbox v-for="city in cities" :label="city" :key="city.id" style="padding:15px;margin:5px;width:110px">{{city.name}}</el-checkbox>
      </el-checkbox-group>
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
          <el-button type="primary" @click="exportSure">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { contractList } from '@/until/api.js'
import Select from './select.vue'
import { formatDate1, numberFormat } from '@/until/common'
import axios from 'axios'
export default {
  components: {
    Select,
    Breadcrumb
  },
  filters: {
    formatDate1,
    numberFormat
  },
  data () {
    return {
      cities: [
        { name: '物业名称', id: 'wyName' },
        { name: '物业类型', id: 'assetType' },
        { name: '租赁用途', id: 'leaseUseStr' },
        { name: '租赁面积', id: 'rentalArea' },
        { name: '月租金', id: 'monthlyRent' },
        { name: '租金单价', id: 'rentUnitPrice' },
        { name: '剩余期限', id: 'limitDay' },
        { name: '承租方', id: 'leaser' },
        { name: '起租日期', id: 'startRentDate' },
        { name: '止租日期', id: 'endRentDate' },
        { name: '合同期限', id: 'year' },
        { name: '法人', id: 'legalPerson' },
        { name: '法人联系方式', id: 'legalPhone' },
        { name: '代理人', id: 'clientPerson' },
        { name: '代理人联系方式', id: 'clientPhone' },
        { name: '备注', id: 'remark' }
      ],
      checkedCities: [],
      dialogFormVisible: false,
      checkAll: false,
      leaseUseList: {
        1: '办公',
        2: '综合(研发)',
        3: '工业研发',
        4: '研发'
      },
      propertyTypeNameList: [
        { name: '办公' },
        { name: '综合(研发)' },
        { name: '工业研发' },
        { name: '研发' }
      ],
      assetTypeList: [
        { name: '产业用房' },
        { name: '孵化园区' },
        { name: '行政办公' },
        { name: '商业' },
        { name: '住宅' },
        { name: '租赁社会物业' },
        { name: '公共服务设施' }
      ],
      select_form: {
        wyName: '',
        bigMonthlyRent: '',
        propertyTypeName: '',
        assetType: '',
        smallMonthlyRent: ''
      },
      dialogShow: false,
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      needShowKeys1: {},
      totalNum: 0,
      totalRentalArea: '',
      wyLeaseNum: '',
      totalMonthlyRent: '',
      sort: 0
    }
  },
  created () {
    this.list()
  },
  methods: {
    list () { // 查询表格数据
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        sort: this.sort,
        assetType: this.select_form.assetType,
        wyName: this.select_form.wyName,
        userId: sessionStorage.getItem('userId')
      }
      contractList(obj).then(res => {
        if (res.data.code === 0) {
          if (res.data.data === null) {
            this.pagelist = []
            this.totalNum = 0
            this.totalRentalArea = 0
            this.totalMonthlyRent = 0
            this.wyLeaseNum = 0
          } else {
            this.pagelist = res.data.data.list
            this.totalNum = res.data.data.total
            this.totalRentalArea = numberFormat(res.data.data.totalRentalArea)
            this.totalMonthlyRent = numberFormat(res.data.data.totalMonthlyRent)
            this.wyLeaseNum = numberFormat(res.data.data.wyLeaseNum)
          }
        } else {
          this.$message({
            message: res.data.errMsg,
            type: 'error'
          })
        }
      })
    },
    sortChange (column) { // 排序方法
      this.pagelist = []
      var type = ''
      if (column.order === 'ascending') {
        switch (column.prop) {
          case 'rentalArea': type = 1; break
          case 'monthlyRent': type = 3; break
          case 'rentUnitPrice': type = 5; break
          case 'startRentDate': type = 7; break
          case 'endRentDate': type = 9; break
          case 'limitDay': type = 11; break
          case 'year': type = 13; break
        }
      } else if (column.order === 'descending') {
        switch (column.prop) {
          case 'rentalArea': type = 2; break
          case 'monthlyRent': type = 4; break
          case 'rentUnitPrice': type = 6; break
          case 'startRentDate': type = 8; break
          case 'endRentDate': type = 10; break
          case 'limitDay': type = 12; break
          case 'year': type = 14; break
        }
      } else {
        type = 0
      }
      this.sort = type
      this.list()
    },
    cancel () { // 取消导出弹窗
      this.needShowKeys1 = ''
      this.dialogFormVisible = false
    },
    dialogClose () { // 关闭导出弹窗
      this.checkedCities = []
      this.checkAll = false
    },
    derive () { // 打开导出弹窗
      this.dialogFormVisible = true
    },
    handleCheckAllChange (val) { // 全选方法
      var needShowKeys = []
      for (let i = 0; i < this.cities.length; i++) {
        needShowKeys.push(this.cities[i].id)
      }
      this.checkedCities = val ? this.cities : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) { // 选择操作
      this.checkedCities = value
      let checkedCount = value.length
      this.checkAll = checkedCount === this.cities.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length
    },
    resetForm () { // 重置
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.list()
    },
    select () { // 查询
      this.list()
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.list()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
    },
    seeContract (index, data) {
      this.dialogShow = true
      this.$nextTick(() => {
        this.$refs.select.show(index, data)
      })
    },
    exportSure () {
      let needShowKeys1 = ''// 获取导出当前选择字段
      for (let i = 0; i < this.checkedCities.length; i++) {
        if (this.checkedCities.length - 1 === i) {
          needShowKeys1 += this.checkedCities[i].id
        } else {
          needShowKeys1 += this.checkedCities[i].id + ','
        }
      }
      let preContractDTO = {
        sort: this.sort,
        assetType: this.select_form.assetType,
        wyName: this.select_form.wyName,
        userId: sessionStorage.getItem('userId')
      }
      axios({// 导出方法
        method: 'post',
        url: '/zbkc/yyPreContract/exportPreContract',
        data: {
          yjContractDTO: preContractDTO,
          needShowKeys: needShowKeys1
        },
        responseType: 'blob'
      }).then(res => {
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接

            link.href = URL.createObjectURL(blob)
            link.download = date + '预到期合同' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.dialogFormVisible = false
    }
  }
}
</script>

<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
</style>
