.page-main{
    width: 100%;
    height:calc(100% - 75px);
    .navBar{
        display: flex;
        .barBtn{
            flex:1;
            height: 60px;
            background-color: #fff;
            border-radius: 0 6px 6px 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 24px;
            .btn{
                width: 98px;
                height: 38px;
                margin-top: 0;
            }
        }
    }
    .main-content{
         margin-top: 15px;
         height: 100%;
         display: flex;
         .main-left{
            box-sizing: border-box;
            padding: 20px 0;
            width:360px;
            height: 100%;
            margin-right: 15px;
            background-color: #fff;
            border-radius: 6px;
            overflow-y: auto;
            overflow-x: auto;
            // .custom-tree-node {
            //     flex: 1;
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     font-size: 14px;
            //     padding-right: 8px;
            // }
            .add-btn{
                background-color: #1286FF;
            }
         } 
         .info-content{
             width: 100%;
             height: 100%;
             box-sizing: border-box;
         }
   }
   /deep/.el-tree__empty-text{
       left: 30% !important;
   }
//    /deep/.el-button{
//        padding:8px 0 8px 12px;
//    }
}