<template>
  <el-dialog title="新增" :width="'1200px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <div class="content-body">
      <el-form :rules="rules" :model="dialogForm" ref="dialogForm">
        <el-row>
          <el-col :span="12">
            <el-form-item label="租赁物业名称:" prop="name" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="别名/曾用名:" prop="aliasName" :label-width="formLabelWidth">
              <el-input v-model="dialogForm.aliasName"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="物业编号:" prop="propertyCode" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.propertyCode" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="楼栋编码:" prop="houseCode" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.houseCode"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="subassemblyVisible">
          <Address level="5" isVillage="1" isDisabled="true" isRequired="true" @event="change($event)" @eventVillage="doVillage($event)" :addressArr="addressArr" :detailAddr="dialogForm.detailAddr" :lng="dialogForm.longitude" :lat="dialogForm.latitude"></Address>
        </div>
        <el-row>
          <el-col :span="12">
            <el-form-item label="租赁用途:" prop="leaseUseId" :label-width="formLabelWidth" class="use-option" required>
              <el-select @change="selectRentUse" v-model="dialogForm.leaseUseId" placeholder="请选择">
                <el-option v-for="item in leaseUseOptions" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租赁面积:" prop="zlRentalArea" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlRentalArea">
                <template slot="append">㎡</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="租赁起始日期:" prop="zlStartRentDate" :label-width="formLabelWidth" required>
              <el-date-picker v-model="dialogForm.zlStartRentDate" style="width:429px" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租赁截止日期:" prop="zlEndRentDate" :label-width="formLabelWidth" required>
              <el-date-picker v-model="dialogForm.zlEndRentDate" style="width:429px" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="月租金:" prop="zlMonthlyRent" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlMonthlyRent">
                <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租金单价:" prop="zlRentUnitPrice" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlRentUnitPrice">
                <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="租赁物业单位:" prop="companyName" :label-width="formLabelWidth" required>
                <el-input v-model="dialogForm.companyName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-col :span="12">
            <el-form-item label="出租方:" prop="lessor" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.lessor"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="出租方联系方式:" prop="lessorPhone" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.lessorPhone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="层高:" prop="storeyHeight" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="dialogForm.storeyHeight">
                <template slot="append">m</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="承重:" prop="loadBearer" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="dialogForm.loadBearer">
                <template slot="append">kg</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="朝向:" prop="towards" :label-width="formLabelWidth" class="use-option">
              <el-select v-model="dialogForm.towards" placeholder="请选择">
                <el-option v-for="item in selectTowardsList" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div>
          <el-form-item label="物业图片：" prop="propertyImgPath" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <span style="color:#F19149;">支持jpg/png/jpng格式 ,不超过10M</span>
            <UploadImg v-if="subassemblyVisible" ref="dialogFormImg" :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changePropertyImg($event)" :propertyImgPath="dialogForm.propertyImgPath"></UploadImg>
          </el-form-item>
        </div>
        <div>
          <el-form-item label="户型图：" prop="houseImgs" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <span style="color:#F19149;">支持jpg/png/jpng格式 ,不超过10M</span>
            <UploadImg v-if="subassemblyVisible" :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changeHouseImg($event)" :propertyImgPath="dialogForm.houseImgs"></UploadImg>
          </el-form-item>
        </div>
        <el-row>
          <el-col :span="12">
            <el-form-item label="内三维：" prop="threeDimen" :label-width="formLabelWidth" style="margin-bottom:0;width:100%;margin-top:15px;">
              <el-input clearable v-model="dialogForm.threeDimen" placeholder="请输入VR链接"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit" :disabled="btnRequestDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import SelectInput from '@/components/select/searchInput.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'
import { addRentList, getRentCode, selectTag } from '@/until/api.js'
import { province, city, area, street, committee } from '@/components/request'

export default {
  components: {
    SelectInput,
    Address,
    UploadImg
  },
  data () {
    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }
    return {
      id: '',
      disabled: '',
      btnRequestDisabled: false,
      dialogFormVisible: false,
      subassemblyVisible: false,
      formLabelWidth: '140px',
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      propertyImgList: [],
      leaseUseOptions: [],
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      addressArr: [],
      selectTowardsList: [
        {
          value: '1',
          label: '东'
        },
        {
          value: '2',
          label: '南'
        },
        {
          value: '3',
          label: '西'
        },
        {
          value: '4',
          label: '北'
        }
      ],
      dialogForm: {
        companyName: '',
        threeDimen: '',
        assetType: '租赁社会物业',
        name: '',
        aliasName: '',
        propertyCode: '',
        houseCode: '',
        address: '',
        leaseUseId: '',
        zlRentalArea: '',
        zlStartRentDate: '',
        zlEndRentDate: '',
        zlMonthlyRent: '',
        zlRentUnitPrice: '',
        lessor: '',
        lessorPhone: '',
        propertyImgPath: [],
        houseImgs: [],
        id: '',
        userId: '',
        detailAddr: '',
        longitude: 0,
        latitude: 0
      },
      rules: {
        name: [
          { required: true, message: '请输入租赁物业名称', trigger: ['blur', 'change'] }
        ],
        companyName: [
          { required: true, message: '请输入租赁物业单位', trigger: ['blur', 'change'] }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: ['blur', 'change'] }
        ],
        houseCode: [
          { required: true, message: '请输入楼栋编码', trigger: ['blur', 'change'] }
        ],
        leaseUseId: [
          { required: true, message: '请选择租赁用途', trigger: ['blur', 'change'] }
        ],
        zlRentalArea: [
          { required: true, message: '请输入租赁面积', trigger: ['blur', 'change'] },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        zlStartRentDate: [
          { required: true, message: '请选择租赁开始日期', trigger: ['blur', 'change'] }
        ],
        zlEndRentDate: [
          { required: true, message: '请选择租赁结束日期', trigger: ['blur', 'change'] }
        ],
        zlMonthlyRent: [
          { required: true, message: '请输入月租金', trigger: ['blur', 'change'] },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        zlRentUnitPrice: [
          { required: true, message: '请输入租金单价', trigger: ['blur', 'change'] },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        lessor: [
          { required: true, message: '请输入出租方', trigger: ['blur', 'change'] }
        ],
        lessorPhone: [
          { required: true, message: '请输入出租方联系方式', trigger: ['blur', 'change'] }
        ],
        storeyHeight: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        loadBearer: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    // 监听弹框显隐
    dialogFormVisible (n) {
      if (this.dialogFormVisible) {
        if (this.$refs.dialogForm !== undefined) {
          this.subassemblyVisible = true
          this.$refs.dialogForm.resetFields()
        }
      }
    }
  },
  methods: {
    show (name, data) {
      if (data) {
        this.id = data.id
      }
      this.getCode()
      this.getRentUseID(name)
      this.subassemblyVisible = true
      this.dialogFormVisible = true
    },
    // 数据字典-租赁用途
    getRentUseID (name) {
      selectTag('lease_use').then(res => {
        this.leaseUseOptions = res.data.data
      })
    },
    // 新增时获取楼栋编码
    getCode () {
      getRentCode().then(res => {
        this.dialogForm.propertyCode = res.data.data
      })
    },
    selectRentUse () {
      this.$forceUpdate()
    },
    // 提交
    submit () {
      let isPass = []
      let errMsg = ''
      this.$refs.dialogForm.validateField([
        'name',
        'companyName',
        'propertyCode',
        'houseCode',
        'leaseUseId',
        'zlRentalArea',
        'zlStartRentDate',
        'zlEndRentDate',
        'zlMonthlyRent',
        'zlRentUnitPrice',
        'lessor',
        'lessorPhone'
      ], (valid) => {
        if (valid) {
          isPass.push(valid)
        }
      })
      if (isPass.length === 0) {
        this.btnRequestDisabled = true
        if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
          if (this.dialogForm.detailAddr) {
            this.dialogForm.address = `${this.provincialLevel}/${this.cityLevel}/${this.areaLevel}/${this.streetLevel}/${this.committeeLevel}`
          } else {
            this.btnRequestDisabled = false
            errMsg = '请选择详细地址'
          }
        }
        if (errMsg !== '') {
          this.$message({ type: 'error', message: errMsg })
          return
        }
        this.dialogForm.userId = window.sessionStorage.getItem('userId')
        addRentList(this.dialogForm).then((res) => {
          this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              showClose: true,
              message: '新增成功',
              type: 'success'
            })
            this.$refs.dialogForm.resetFields()
            this.subassemblyVisible = false
            this.dialogFormVisible = false
            this.$emit('close', false)
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }
      this.btnRequestDisabled = false
    },
    // 新增物业图片
    changePropertyImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let val = item.response.data
            imgArr.push({ name: val.fileName, path: val.filePath })
          }
        }
      })
      this.dialogForm.propertyImgPath = imgArr
    },
    // 新增户型图
    changeHouseImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let val = item.response.data
            imgArr.push({ name: val.fileName, path: val.filePath })
          }
        }
      })
      this.dialogForm.houseImgs = imgArr
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.subassemblyVisible = false
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    // 详细地址
    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.dialogForm.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },
    // 地址
    doVillage (val) {
      this.dialogForm.detailAddr = val.fullAddress
      this.dialogForm.longitude = val.lng
      this.dialogForm.latitude = val.lat
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
