<template>
  <el-dialog :modal-append-to-body='false' :title="activeName" :width="'1200px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <div class="content-body">
      <el-form :rules="rules" :model="dialogForm" ref="dialogForm">
        <el-row>
          <el-col :span="12">
            <el-form-item label="租赁物业名称:" prop="name" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.name" :disabled="addressVisible"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="别名/曾用名:" prop="aliasName" :label-width="formLabelWidth">
              <el-input v-model="dialogForm.aliasName" :disabled="addressVisible"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="物业编号:" prop="propertyCode" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.propertyCode" :disabled="addressVisible"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="楼栋编码:" prop="houseCode" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.houseCode" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="disabled">
          <el-form-item label="详细地址:" prop="detailAddr" :label-width="formLabelWidth" required>
            <el-input v-model="dialogForm.detailAddr" :disabled="disabled"></el-input>
          </el-form-item>
        </el-row>
        <div v-if="!disabled">
          <Address v-if="addressUpdateVisible" level="5" isVillage="1" isDisabled="true" isRequired="true" @event="change($event)" @eventVillage="doVillage($event)" :addressArr="addressArr" :detailAddr="dialogForm.detailAddr" :lng="dialogForm.longitude" :lat="dialogForm.latitude"></Address>
        </div>
        <el-row>
          <el-col :span="12">
            <el-form-item v-if="disabled" label="租赁用途:" prop="purpose" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.purpose" :disabled="disabled"></el-input>
            </el-form-item>
            <el-form-item v-if="!disabled" label="租赁用途:" prop="leaseUseId" :label-width="formLabelWidth" class="use-option" required>
              <el-select @change="selectRentUse" v-model="dialogForm.leaseUseId" placeholder="请选择">
                <el-option v-for="item in leaseUseOptions" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租赁面积:" prop="zlRentalArea" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlRentalArea" :disabled="disabled">
                <template slot="append">㎡</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="!disabled">
          <el-col :span="12">
            <el-form-item label="租赁起始日期:" prop="zlStartRentDate" :label-width="formLabelWidth" required>
              <el-date-picker v-model="dialogForm.zlStartRentDate" style="width:429px" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租赁截止日期:" prop="zlEndRentDate" :label-width="formLabelWidth" required>
              <el-date-picker v-model="dialogForm.zlEndRentDate" style="width:429px" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-else>
          <el-col :span="12">
            <el-form-item label="租赁起始日期:" prop="zlStartRentDate" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.zlStartRentDate" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租赁截止日期:" prop="zlEndRentDate" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.zlEndRentDate" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="月租金:" prop="zlMonthlyRent" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlMonthlyRent" :disabled="disabled">
                <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租金单价:" prop="zlRentUnitPrice" :label-width="formLabelWidth" required>
              <el-input maxlength="16" v-model="dialogForm.zlRentUnitPrice" :disabled="disabled">
                <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="租赁物业单位:" prop="companyName" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.companyName" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="出租方:" prop="lessor" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.lessor" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="出租方联系方式:" prop="lessorPhone" :label-width="formLabelWidth" required>
              <el-input v-model="dialogForm.lessorPhone" :disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="层高:" prop="storeyHeight" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="dialogForm.storeyHeight" :disabled="disabled">
                <template slot="append">m</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="承重:" prop="loadBearer" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="dialogForm.loadBearer" :disabled="disabled">
                <template slot="append">kg</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="朝向:" prop="towards" :label-width="formLabelWidth" class="use-option">
              <el-select v-model="dialogForm.towards" placeholder="请选择" :disabled="disabled">
                <el-option v-for="item in selectTowardsList" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="disabled">
          <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <viewer :images="propertyImgList">
              <span v-for="(item,index) in propertyImgList" :key="index">
                <img class="imgs" :src="[item.path]">
                <!--  style="width:100px;height:100px;object-fit:cover; cursor:zoom-in;" -->
              </span>
            </viewer>
          </el-form-item>
        </div>
        <div v-else>
          <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <span style="color:#F19149;">支持jpg/png/jpng格式 ,不超过10M</span>
            <UploadImg :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changePropertyImg($event)" :propertyImg="propertyImgList"></UploadImg>
          </el-form-item>
        </div>
        <div v-if="disabled">
          <el-form-item label="户型图：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <viewer :images="houseImgsList">
              <span v-for="(item,index) in houseImgsList" :key="index">
                <img class="imgs" :src="[item.path]">
                <!--  style="width:100px;height:100px;object-fit:cover; cursor:zoom-in;" -->
              </span>
            </viewer>
          </el-form-item>
        </div>
        <div v-else>
          <el-form-item label="户型图：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;" :label-width="formLabelWidth">
            <span style="color:#F19149;">支持jpg/png/jpng格式 ,不超过10M</span>
            <UploadImg :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changeHouseImg($event)" :propertyImg="houseImgsList"></UploadImg>
          </el-form-item>
        </div>
        <el-row>
          <el-col :span="12">
            <!-- v-if="!disabled" -->
            <el-form-item label="内三维：" prop="threeDimen" :label-width="formLabelWidth" style="margin-bottom:0;width:100%;margin-top:15px;">
              <el-input :disabled="disabled" v-model="dialogForm.threeDimen" placeholder="请输入VR链接" clearable></el-input>
              <!-- <a v-else :href="dialogForm.threeDimen">{{dialogForm.threeDimen}}</a> -->
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取消</el-button>
      <el-button type="primary" @click="submit" :disabled="btnRequestDisabled">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import SelectInput from '@/components/select/searchInput.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'
import { updRentList, getRentListDetail, selectTag, searchAddress } from '@/until/api.js'
import { province, city, area, street, committee } from '@/components/request'

export default {
  components: {
    SelectInput,
    Address,
    UploadImg
  },
  data () {
    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }
    return {
      activeName: '',
      mark: '',
      id: '',
      disabled: '',
      btnRequestDisabled: false,
      addressUpdateVisible: false,
      dialogFormVisible: false,
      addressVisible: '',
      formLabelWidth: '140px',
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      propertyImgList: [],
      houseImgsList: [],
      leaseUseOptions: [],
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      addressArr: [],
      selectTowardsList: [
        {
          value: '1',
          label: '东'
        },
        {
          value: '2',
          label: '南'
        },
        {
          value: '3',
          label: '西'
        },
        {
          value: '4',
          label: '北'
        }
      ],
      dialogForm: {
        name: '',
        companyName: '',
        threeDimen: '',
        aliasName: '',
        propertyCode: '',
        houseCode: '',
        address: '',
        leaseUseId: '',
        zlRentalArea: '',
        zlStartRentDate: '',
        zlEndRentDate: '',
        zlMonthlyRent: '',
        zlRentUnitPrice: '',
        lessor: '',
        lessorPhone: '',
        propertyImgPath: [],
        houseImgs: [],
        id: '',
        userId: '',
        detailAddr: '',
        longitude: 0,
        latitude: 0

      },
      rules: {
        name: [
          { required: true, message: '请输入租赁物业名称', trigger: ['blur', 'change'] }
        ],
        companyName: [
          { required: true, message: '请输入租赁物业单位', trigger: ['blur', 'change'] }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: ['blur', 'change'] }
        ],
        houseCode: [
          { required: true, message: '请输入楼栋编码', trigger: ['blur', 'change'] }
        ],
        leaseUseId: [
          { required: true, message: '请选择租赁用途', trigger: ['blur', 'change'] }
        ],
        zlRentalArea: [
          { required: true, message: '请输入租赁面积', trigger: ['blur', 'change'] },
          { type: 'number', validator: validatePass, trigger: 'change' }
        ],
        zlStartRentDate: [
          { required: true, message: '请选择租赁开始日期', trigger: ['blur', 'change'] }
        ],
        zlEndRentDate: [
          { required: true, message: '请选择租赁结束日期', trigger: ['blur', 'change'] }
        ],
        zlMonthlyRent: [
          { required: true, message: '请输入月租金', trigger: ['blur', 'change'] },
          { type: 'number', validator: validatePass, trigger: 'change' }
        ],
        zlRentUnitPrice: [
          { required: true, message: '请输入租金单价', trigger: ['blur', 'change'] },
          { type: 'number', validator: validatePass, trigger: 'change' }
        ],
        lessor: [
          { required: true, message: '请输入出租方', trigger: ['blur', 'change'] }
        ],
        lessorPhone: [
          { required: true, message: '请输入出租方联系方式', trigger: ['blur', 'change'] }
        ],
        storeyHeight: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        loadBearer: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ]
      }
    }
  },
  created () {
    this.propertyImgList = []
    this.houseImgsList = []
  },
  watch: {
    addressArr (n) {
      this.addressUpdateVisible = true
      this.addressArr = n
    }
  },
  methods: {
    show (name, data) {
      this.mark = name
      this.activeName = name === 'view' ? '查看' : '编辑'
      if (data) {
        this.id = data.id
      }
      switch (name) {
        case 'modify':
          // 编辑
          this.disabled = false
          this.addressVisible = true
          this.getRentUseID(name)
          this.selectId(name, data)
          break
        case 'view':
          // 查看
          this.disabled = true
          this.addressVisible = true
          this.getRentUseID(name)
          this.selectId(name, data)
          break
      }
      this.dialogFormVisible = true
    },
    getRentUseID (name) {
      selectTag('lease_use').then(res => {
        this.leaseUseOptions = res.data.data
      })
    },
    selectRentUse () {
      this.$forceUpdate()
    },
    // 编辑和查看时获取详情
    selectId (name, data) {
      getRentListDetail(this.id).then(res => {
        let data = res.data.data
        this.dialogForm = data.rentalSosialVo
        this.houseImgsList = []
        this.propertyImgList = []
        if (this.dialogForm.towards) {
          this.dialogForm.towards = this.selectTowardsList[this.dialogForm.towards - 1].label
        }
        let address = []
        if (this.dialogForm.areaCode) {
          this.$nextTick(() => {
            searchAddress(this.dialogForm.areaCode).then((res) => {
              if (res.data.code === 0) {
                let { provinceCode, cityCode, areaCode, streetCode, committeeCode } = res.data.data
                address.push(provinceCode)
                address.push(cityCode)
                address.push(areaCode)
                address.push(streetCode)
                address.push(committeeCode)
              }
            })
          })
        }
        this.addressArr = address
        if (data.propertyImgPath && data.propertyImgPath.length > 0) {
          this.propertyImgList = data.propertyImgPath
          this.dialogForm.propertyImgPath = data.propertyImgPath
        }
        if (data.houseImgs && data.houseImgs.length > 0) {
          this.houseImgsList = data.houseImgs
          this.dialogForm.houseImgs = data.houseImgs
        }
        // 编辑时的已有租赁用途显示
        for (let item of this.leaseUseOptions) {
          if (this.dialogForm.purpose.indexOf(item.name) !== -1) {
            this.dialogForm.leaseUseId = item.id
          }
        }
      })
    },
    // 提交
    submit () {
      let isPass = []
      let errMsg = ''
      this.$refs.dialogForm.validateField([
        'name',
        'companyName',
        'propertyCode',
        'houseCode',
        'leaseUseId',
        'zlRentalArea',
        'zlStartRentDate',
        'zlEndRentDate',
        'zlMonthlyRent',
        'zlRentUnitPrice',
        'lessor',
        'lessorPhone'
      ], (valid) => {
        if (valid) {
          isPass.push(valid)
        }
      })
      if (isPass.length === 0) {
        this.btnRequestDisabled = true
        if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
          if (this.dialogForm.detailAddr) {
            this.dialogForm.address = `${this.provincialLevel}/${this.cityLevel}/${this.areaLevel}/${this.streetLevel}/${this.committeeLevel}`
          } else {
            this.btnRequestDisabled = false
            errMsg = '请选择详细地址'
          }
        }
        if (errMsg !== '') {
          this.$message({ type: 'error', message: errMsg })
          return
        }
        this.dialogForm.userId = window.sessionStorage.getItem('userId')
        this.dialogForm.id = this.id
        for (let item of this.selectTowardsList) {
          if (this.dialogForm.towards === item.label) {
            this.dialogForm.towards = item.value
          }
        }
        if (this.dialogForm.propertyImgPath && Array.isArray(this.dialogForm.propertyImgPath) && this.dialogForm.propertyImgPath.length > 0) {
          let val = {}
          val.name = this.dialogForm.propertyImgPath[0].name
          val.path = this.dialogForm.propertyImgPath[0].path.split('/api/v1/zbkc/')[1]
          this.dialogForm.propertyImgPath = []
          this.dialogForm.propertyImgPath.push(val)
        }

        if (this.dialogForm.houseImgs && Array.isArray(this.dialogForm.houseImgs) && this.dialogForm.houseImgs.length > 0) {
          let val = {}
          val.name = this.dialogForm.houseImgs[0].name
          val.path = this.dialogForm.houseImgs[0].path.split('/api/v1/zbkc/')[1]
          this.dialogForm.houseImgs = []
          this.dialogForm.houseImgs.push(val)
        }
        delete this.dialogForm.propertyImgId
        delete this.dialogForm.houseImgId
        let obj = this.dialogForm
        updRentList(obj).then(res => {
          this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              showClose: true,
              message: '修改成功',
              type: 'success'
            })
            this.close()
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
        this.dialogFormVisible = false
      }
      this.btnRequestDisabled = false
    },
    close () {
      this.btnRequestDisabled = false
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    // 修改物业图片
    changePropertyImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let val = item.response.data
            imgArr.push({ name: val.fileName, path: val.fileUrl })
          }
        }
      })
      this.dialogForm.propertyImgPath = imgArr
    },
    // 修改户型图片
    changeHouseImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let val = item.response.data
            imgArr.push({ name: val.fileName, path: val.fileUrl })
          }
        }
      })
      this.dialogForm.houseImgs = imgArr
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    // 详细地址
    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.dialogForm.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },
    // 地址
    doVillage (val) {
      this.dialogForm.detailAddr = val.fullAddress
      this.dialogForm.longitude = val.lng
      this.dialogForm.latitude = val.lat
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
