<template>
  <div class="parameter_mian">
    <Breadcrumb barName="租赁社会物业" icon="el-icon-s-home"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="物业名称：" class="form-item" style="width:320px;">
          <el-input @clear="getTableList" v-model="form.name" style="width:240px;" placeholder="请输入物业名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="物业地址：" class="form-item">
          <el-input @clear="getTableList" v-model="form.address" placeholder="请输入物业地址" clearable></el-input>
        </el-form-item>
        <el-form-item label="租赁用途：" class="form-item">
          <el-select @clear="getTableList" v-model="form.rentUse" placeholder="请选择" clearable>
            <el-option clearable v-for="item in rentUseList" :key="item.name" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="search" :disabled='btnSearchRequestDisabled'>查询</el-button>
          <el-button type="primary" @click="handleReset" style="margin-left:20px;">重置</el-button>
          <!-- <el-button type="primary" @click="deleteList('all')">删除</el-button> -->
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'新增', effect:'disabled'}" icon="el-icon-plus" @click="showUsageRegistration('add')">新增物业信息</el-button>
      </div>
      <div class="table">
        <el-table border :data="tableData" @selection-change="handleSelectionChange" @sort-change="changeSort">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column label="序号" width="60" type="index"></el-table-column>
          <el-table-column prop="name" label="租赁物业名称"></el-table-column>
          <el-table-column prop="address" label="物业地址">
            <template slot-scope="scope">
              {{scope.row.address.replace(/\//g,'')}}
            </template>
          </el-table-column>
          <el-table-column sortable prop="zlRentalArea" label="租赁面积(㎡)"></el-table-column>
          <el-table-column prop="purpose" label="租赁用途"></el-table-column>
          <el-table-column sortable prop="zlMonthlyRent" label="月租金(元)"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" v-permission="{action:'查看', effect:'disabled'}" class="handle-el-icon" @click="showUsageRegistration('view',scope.row)">查看</el-button>
              <el-button type="primary" v-permission="{action:'编辑', effect:'disabled'}" class="handle-el-icon" @click="showUsageRegistration('modify',scope.row)">编辑</el-button>
              <el-button type="primary" v-permission="{action:'删除', effect:'disabled'}" class="handle-el-icon" @click="deleteList('one',scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination class="table-pagination" background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
          </el-pagination>
        </div>
      </div>
    </div>
    <AddTableList ref="addTableList" @close="operateSon($event)" />
    <EditTableList ref="EditTableList" @close="operateSon($event)" />
  </div>
</template>

<script>
import { getRentList, deleteRentList, selectTag } from '@/until/api.js'
import EditTableList from './editTableList.vue'
import AddTableList from './addTableList.vue'
import Breadcrumb from '@/components/BreadCrum/index.vue'

export default {
  components: {
    AddTableList,
    Breadcrumb,
    EditTableList
  },
  data () {
    return {
      form: {
        name: '',
        address: '',
        rentUse: ''
      },
      btnSearchRequestDisabled: false,
      rentUseList: [],
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      delID: [],
      sort: ''
    }
  },
  created () {
    this.getTableList()
    this.getRentUseID()
  },
  methods: {
    // 获取租赁社会物业列表
    getTableList () {
      let obj = {
        userId: window.sessionStorage.getItem('userId'),
        p: this.currentPage,
        size: this.pagesize,
        name: this.form.name.trim(),
        detailAddr: this.form.address.trim(),
        leaseUseId: this.form.rentUse.trim(),
        sort: this.sort
      }
      getRentList(obj).then(res => {
        this.btnSearchRequestDisabled = false
        this.tableData = res.data.data.list
        this.totalSize = res.data.data.total
        // this.tableData = this.tableData.slice(this.pageSize * (this.currentPage - 1), this.pageSize * this.currentPage)
      })
    },
    // 数据字典-租赁用途
    getRentUseID (name) {
      selectTag('lease_use').then(res => {
        this.rentUseList = res.data.data
      })
    },
    // 查询
    search () {
      this.btnSearchRequestDisabled = true
      this.currentPage = 1
      this.getTableList()
    },
    // 重置
    handleReset () {
      for (let i in this.form) {
        this.form[i] = ''
      }
      this.getTableList()
    },
    // 分页切换
    handleSizeChange (size) {
      this.pagesize = size
      this.getTableList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getTableList()
    },
    // 根据表格固定项目数据排序(针对整个页面)
    changeSort (event) {
      if (event.prop === 'zlRentalArea') {
        // 租赁面积排序
        if (event.order === 'ascending') {
          this.sort = 1
        } else {
          this.sort = 2
        }
      } else {
        // 月租金排序
        if (event.order === 'ascending') {
          this.sort = 3
        } else {
          this.sort = 4
        }
      }
      this.getTableList()
    },
    // 表格数据的多选
    handleSelectionChange (event) {
      this.delID = []
      for (let item of event) {
        if (this.delID.indexOf(item.id) === -1) {
          this.delID.push(item.id)
        }
      }
    },
    // 删除
    deleteList (mark, row) {
      if (mark === 'one') {
        this.delID = []
        this.delID.push(row.id)
      }
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteRentList(this.delID.toString()).then(res => {
          if (res.data.code === 0) {
            this.getTableList()
            this.$message({
              type: 'success',
              message: '删除成功!'
            })
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 新增，查看，编辑
    showUsageRegistration (name, data) {
      if (name === 'view') {
        this.$nextTick(() => {
          this.$refs.EditTableList.show(name, data)
        })
      } else if (name === 'modify') {
        this.$nextTick(() => {
          this.$refs.EditTableList.show(name, data)
        })
      } else if (name === 'add') {
        this.$nextTick(() => {
          this.$refs.addTableList.show(name, data)
        })
      }
    },
    // 父子操作
    operateSon (dialogForm) {
      this.getTableList()
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
