.parameter_mian {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  // ::-webkit-scrollbar {
  //   display: none; /* Chrome Safari */
  //   scrollbar-width: none; /* Firefox */
  //   -ms-overflow-style: none; /* IE 10+ */
  // }
}

/deep/.el-form-item {
  margin-bottom: 20px !important;
}

/deep/.el-dialog__header {
  background-color: #5b9bd5;
}

/deep/.el-icon-close:before {
  color: #fff;
}

/deep/.el-dialog__title {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

/deep/.el-dialog__footer {
  background-color: #e4f0ff;
  padding: 10px 20px;
}

/deep/.el-select {
  margin-right: 5px;
}

// /deep/.el-dialog {
//   margin-top: 6vh !important;
// }
.use-option {
  /deep/.el-input--suffix {
    width: 429px;
  }
}

.el-table /deep/th.gutter {
  display: table-cell !important;
}

.table-list {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 16px;
  box-sizing: border-box;

  .table-btn {
    display: flex;
    margin-bottom: 20px;

    .el-button+.el-button {
      margin-left: 10px;
    }
  }

  .table-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.table {
  height: calc(100vh - 310px);
  display: flex;
  flex-direction: column;

  .el-table {
    flex: 1;
    display: flex;
    flex-direction: column;

    /deep/.el-table__body-wrapper {
      overflow-y: auto;
      flex: 1;
    }
  }
}

.form-main {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;

  .form-item {
    width: 230px;
    display: inline-block;
    margin-bottom: 16px;
    display: flex;

    .item-select {
      display: inline-block;
    }
  }

  .form-btn {
    width: 176px;
    display: flex;
    margin-left: 20px;
  }

  /deep/.el-input__inner {
    width: 100%;
    height: 34px;
  }

  /deep/.el-form-item__label {
    display: inline-block;
    width: 112px;
    text-align: right;
    color: #fff;
    padding: 0;
  }
}

a {
  font-size: 14px;
  color: #409eff;

  &:hover {
    color: #66b1ff;
  }
}

.imgs {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 12px;
  line-height: 140px;
  margin-top: 8px;
}

/deep/.el-dialog__body {
  padding: 0px;
  overflow-y: auto;
}

.content-body {
  .el-form {
    max-height: 585px;
    padding: 30px 20px;
    overflow-y: auto;
  }
}
  // 提高viewer图片查看器的层级
  // viewer-container viewer-backdrop viewer-fixed viewer-fade viewer-transition viewer-in
  // /deep/.viewer-container,
  // /deep/.viewer-backdrop,
  // /deep/.viewer-fixed,
  // /deep/.viewer-fade,
  // /deep/.viewer-in,
  // /deep/.viewer-transition {
  //   z-index: 9999999 !important;
  // }
  /deep/.el-dialog__wrapper{
    z-index: 2001 !important;
  }
