<template>
<div class="table-list">
<el-table :data="tableList" style="width:98%">
            <el-table-column type="index" label="序号" align="center" width="60px" style="padding:0"></el-table-column>
            <!-- <el-table-column v-if="isName==='1'" prop="propertyName"  label="物业名称" align="center" style="padding:0"></el-table-column> -->
            <el-table-column v-if="isShow==='1'" prop="floorName"  label="楼栋名称" align="center" style="padding:0"></el-table-column>
            <el-table-column prop="facilitiesName" label="设施名称" align="center" style="padding:0"></el-table-column>
            <el-table-column prop="specification" label="规格" align="center" style="padding:0"></el-table-column>
            <el-table-column prop="num" label="数量" align="center" style="padding:0"></el-table-column>
            <el-table-column prop="unitMeasure" label="度量单位" align="center" style="padding:0"></el-table-column>
            <el-table-column prop="remark" label="备注" align="center" style="padding:0"></el-table-column>
             <el-table-column prop="" label="操作" align="center"  style="padding:0;" v-if="isBuild !== '1'">
              <template slot-scope="scope">
                <el-button type="primary" @click="handleEdit(scope.row)" size="mini">编辑</el-button>
                <el-button type="primary" @click="handleDetele(scope.row)" size="mini">删除</el-button>
              </template>
            </el-table-column>
  </el-table>
   <div class="footerBtn" v-if="isBuild !== '1'">
      <el-button icon="el-icon-plus" size="mini" @click="handleDialog">新增</el-button>
  </div>
  <el-dialog
  title="提示"
  :visible.sync="visible"
  width="30%"
  >
  <el-form :model="formTable" :rules="rules" ref="formTable" label-width="81px">
  <el-form-item label="物业名称：" prop="realName" v-if="isName==='1'">
    <el-input v-model="formTable.realName" disabled maxlength="51"></el-input>
  </el-form-item>
  <el-form-item label="楼栋名称：" prop="floor" v-if="isShow==='1'">
    <el-input v-model="formTable.floor" :disabled="isCheck === '1'" maxlength="51"></el-input>
  </el-form-item>
  <el-form-item label="设施名称：" prop="facilities">
    <el-input v-model="formTable.facilities" maxlength="51"></el-input>
  </el-form-item>
  <el-form-item label="规格：" prop="cation">
    <el-input v-model="formTable.cation" maxlength="51"></el-input>
  </el-form-item>
   <el-form-item label="数量：" prop="number">
    <el-input v-model="formTable.number" maxlength="16"></el-input>
  </el-form-item>
   <el-form-item label="度量单位：" prop="measure">
    <el-input v-model="formTable.measure" maxlength="51"></el-input>
  </el-form-item>
   <el-form-item label="备注：" prop="remar">
    <el-input type="textarea" maxlength="1001" :rows="8" v-model="formTable.remar"></el-input>
  </el-form-item>
   <el-form-item class="btn">
    <div>
    <el-button type="primary" @click="handleSave('formTable')">确 定</el-button>
    <el-button @click="visible = false">取 消</el-button>
    </div>
  </el-form-item>
  </el-form>
</el-dialog>
</div>
</template>

<script>
export default {
  name: 'AddTable',
  props: ['wyFacilitiesInfoList', 'estateName', 'isShow', 'labelName', 'isName', 'isCheck', 'isBuild'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    return {
      tableList: [],
      visible: false,
      isEdit: false,
      editId: '',
      formTable: {
        realName: '',
        floor: '',
        facilities: '',
        cation: '',
        number: '',
        measure: '',
        remar: ''
      },
      rules: {
        realName: [
          { required: true, message: '请选择物业名称', trigger: 'blur' },
          { min: 1, max: 50, message: '物业名称在50字以内', trigger: 'change' }
        ],
        floor: [
          { required: this.isCheck === '1', message: '请选择楼栋名称', trigger: 'blur' },
          { max: 50, message: '楼栋名称在50字以内', trigger: 'change' }
        ],
        facilities: [
          { required: true, message: '请输入设施名称', trigger: 'blur' },
          { min: 1, max: 50, message: '设施名称在50字以内', trigger: 'change' }
        ],
        cation: [
          { required: true, message: '请输入规格', trigger: 'blur' },
          { min: 1, max: 50, message: '规格在50字以内', trigger: 'change' }
        ],
        number: [
          { required: true, message: '请输入数量', trigger: 'blur' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        measure: [
          { required: true, message: '请输入度量单位', trigger: 'blur' },
          { min: 1, max: 50, message: '度量单位在50字以内', trigger: 'change' }
        ],
        remar: [
          { max: 1000, message: '备注在1000字以内', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    visible: function (newVal) {
      if (!newVal) {
        this.formTable.realName = ''
        this.formTable.floor = ''
        this.formTable.facilities = ''
        this.formTable.cation = ''
        this.formTable.number = ''
        this.formTable.measure = ''
        this.formTable.remar = ''
      }
    },
    'wyFacilitiesInfoList': function (newVal) {
      if (newVal) {
        this.tableList = newVal
      }
    }
  },
  methods: {
    handleDialog () {
      if (this.isName === '1' && this.estateName) {
        this.visible = true
        this.formTable.realName = this.estateName
      } else if (this.isCheck === '1' && this.estateName) {
        this.visible = true
        this.formTable.floor = this.estateName
      } else {
        this.$message({
          type: 'warning',
          message: `请输入${this.labelName}`
        })
      }
    },
    handleEdit (value) {
      this.visible = true
      this.formTable.realName = value.propertyName
      this.formTable.floor = value.floorName
      this.formTable.facilities = value.facilitiesName
      this.formTable.cation = value.specification
      this.formTable.number = value.num
      this.formTable.measure = value.unitMeasure
      this.formTable.remar = value.remark
      this.isEdit = true
      this.editId = value.id
    },
    handleDetele (value) {
      let chartList = this.tableList
      let deteleArr = chartList.filter(item => item.id !== value.id)
      this.tableList = deteleArr
      this.$emit('event', deteleArr)
    },

    handleSave (formTable) {
      this.$refs[formTable].validate((valid) => {
        if (valid) {
          if (this.isEdit) { // 编辑保存
            let chartList = this.tableList
            let newArr = []
            Array.isArray(chartList) && chartList.length > 0 && chartList.forEach((item) => {
              let keyItem = {}
              if (item.id === this.editId) {
                let arr = {}
                arr.propertyName = this.formTable.realName
                arr.floorName = this.formTable.floor
                arr.facilitiesName = this.formTable.facilities
                arr.specification = this.formTable.cation
                arr.num = this.formTable.number
                arr.unitMeasure = this.formTable.measure
                arr.remark = this.formTable.remar
                arr.id = this.editId
                keyItem = arr
              } else {
                keyItem = item
              }
              newArr.push(keyItem)
            })
            this.tableList = newArr
            this.$emit('event', newArr)
            this.isEdit = false
            this.visible = false
          } else { // 新增保存
            let arr = {}
            arr.propertyName = this.formTable.realName
            arr.floorName = this.formTable.floor
            arr.facilitiesName = this.formTable.facilities
            arr.specification = this.formTable.cation
            arr.num = this.formTable.number
            arr.unitMeasure = this.formTable.measure
            arr.remark = this.formTable.remar
            let timestamp = new Date().getTime()
            arr.id = String(timestamp)
            let listArr = this.tableList
            listArr.push(arr)
            this.tableList = listArr
            this.$emit('event', listArr)
            this.visible = false
          }
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
.table-list{
.footerBtn{
    width:98%;
    background-color: #fff;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.btn{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/deep/.el-dialog__body{
    padding: 30px 20px 10px 20px;
    }
/deep/.el-dialog__header{
    border-bottom: 1px solid #ebebeb;
}
/deep/.el-form-item__content{
    display: flex;
}
/deep/.el-dialog__footer{
   text-align: center;
}
}

</style>
