.main-right {
  background-color: #fff;
  border-radius: 6px;
  height: 100%;
  // overflow: hidden;
  .title-name {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
    box-sizing: border-box;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
  }
  .btn {
    position: relative;
    z-index: 999;
    padding: 12px 24px 0 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .btn-content {
      .btn-a {
        float: right;
        width: 100px;
        height: 32px;
        background-color: #409eff;
        line-height: 32px;
        padding-left: 13px;
      }
      .btn-a:first-child {
        border-radius: 0 4px 4px 0;
        border: 1px solid #777;
      }
      .btn-a:nth-last-of-type(2),
      .btn-a:nth-last-of-type(3),
      .btn-a:nth-last-of-type(4) {
        border-left: 1px solid #777;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
      }

      .btn-a:last-child {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid #777;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
      }
    }
  }
  .main-content {
    margin: 0 12px 12px 12px;
    // height:calc( ~ "100% - 2rem");
    height: calc(~"100vh - 280px");
    padding-right: 3px;
    // height:10%;
    overflow-y: auto;
    .center-content {
      // padding: 12px;
      // height: 100%;
      box-sizing: border-box;
      .add-content {
        margin-top: 16px;
        width: 100%;
        height: 100%;
        //    height:630px;
        background-color: #f9f9f9;
        border: 1px solid #dadce0;
        border-radius: 6px;
        //    overflow: auto;
        .base-content {
          margin-bottom: 7px;
          display: flex;
          padding: 0 22px 0 0px;
          box-sizing: border-box;
          justify-content: space-between;
          .item-form {
            width: 47%;
            .item-select {
              width: 100%;
            }
            /deep/.el-table td,
            /deep/.el-table th {
              padding: 0;
            }
          }
          /deep/.el-table__header {
            width: 100% !important;
          }
          /deep/.el-table__empty-block {
            width: 100% !important;
          }
        }
      }
      /deep/.el-input__inner {
        height: 32px;
      }
      /deep/.el-form-item {
        margin-bottom: 14px;
      }
      /deep/.el-textarea__inner {
        margin-top: 7px;
      }
      /deep/.el-form-item__label {
        padding: 0;
      }
      /deep/.el-form-item__content {
        margin-right: 0;
      }
      /deep/.el-table td,
      /deep/.el-table th {
        padding: 6px 0;
      }
    }
  }
  .main-content::-webkit-scrollbar {
    display: none;
  }
  .errorTips {
    /deep/.el-form-item__error {
      top: 86% !important;
    }
  }
}
