<template>
  <div class="parameter_mian">
    <Breadcrumb barName="资产入账" icon="el-icon-setting"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" :model="select_form" class="form-main">
        <el-form-item label="物业名称：">
          <el-input @clear="getTableList" v-model="select_form.name" placeholder="请输入物业名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="入账类型：">
          <el-select @clear="getTableList" v-model="select_form.entryType" clearable placeholder="请选择入账类型">
            <el-option v-for="item in option1" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="入账时间：">
          <el-date-picker @change="clearChange" v-model="select_form.useLimitStart" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd" style="width:130px">
          </el-date-picker>
          <span>-</span>
          <el-date-picker @change="clearChange" v-model="select_form.useLimitEnd" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd" style="width:130px">
          </el-date-picker>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="searchList" :disabled='btnSearchRequestDisabled'>查询</el-button>
          <el-button type="primary" @click="resetForm" style="margin-left:20px;">重置</el-button>
          <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" :disabled="btnExportDisabled" @click="exportList" style="margin-left:20px;">导出</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" v-permission="{action:'新增', effect:'disabled'}" @click="showDisposalDialog('add')">新增资产入账</el-button>
      </div>
      <div class="table">
        <el-table :data="pagelist" border style="width: 100%;">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column prop="id" label="序号" width="80" type="index"></el-table-column>
          <el-table-column prop="name" label="资产名称"></el-table-column>
          <el-table-column prop="entryType" label="入账类型"></el-table-column>
          <el-table-column prop="entryMoney" label="入账金额(元)" sortable> </el-table-column>
          <el-table-column prop="entryTime" label="入账时间" sortable>
            <template slot-scope="scope">
              {{scope.row.entryTime | formatDate1}}
            </template>
          </el-table-column>
          <el-table-column prop="operate" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'查看', effect:'disabled'}" @click="showDisposalDialog('see',scope.row)">查看</el-button>
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'编辑', effect:'disabled'}" @click="showDisposalDialog('modify',scope.row)">编辑</el-button>
              <el-button type="primary" class="handle-el-icon" v-permission="{action:'删除', effect:'disabled'}" @click="deletList(scope.row)">删除</el-button>
              <!-- :disabled="btnRequestDisabled" -->
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data=pagelist @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>
    <AddDataDialog v-if="dialogVisible" ref="AddDataDialog" @close="operateSon($event)" />
  </div>

</template>
<script>
import { selectTag, list, delwyAssetEntry } from './request'
import axios from 'axios'
import UploadWps from '@/components/uploadWps.vue'
import { formatDate1 } from '@/until/common'
import Breadcrumb from '@/components/BreadCrum'
import AddDataDialog from './entryDialog.vue'

export default {
  inject: ['reload'],
  components: {
    UploadWps,
    Breadcrumb,
    AddDataDialog
  },
  data () {
    return {
      btnSearchRequestDisabled: false,
      btnRequestDisabled: false,
      dialogVisible: false,
      btnExportDisabled: false,
      option1: [],
      select_form: {
        useLimitStart: '',
        useLimitEnd: '',
        name: '',
        entryType: ''
      },
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      totalNum: 0

    }
  },
  filters: {
    formatDate1
  },
  created () {
    // 入账类型
    selectTag('entry_type').then(res => {
      this.option1 = res.data.data
    })
    this.getTableList()
  },
  methods: {
    // 路由进入表格数据
    beforeRouteEnter (to, from, next) {
      next((vm) => {
        vm.getTableList()
      })
    },
    clearChange () {
      if (!this.select_form.useLimitStart && !this.select_form.useLimitEnd) {
        this.getTableList()
      }
    },
    // 表格数据
    getTableList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        name: this.select_form.name.trim(),
        entryTypeId: this.select_form.entryType,
        entryTimeStart: this.select_form.useLimitStart,
        entryTimeEnd: this.select_form.useLimitEnd,
        sort: 0,
        userId: window.sessionStorage.getItem('userId')
      }
      list(obj).then(res => {
        this.btnSearchRequestDisabled = false
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
        }
      })
    },
    // 搜索
    searchList () {
      this.btnSearchRequestDisabled = true
      this.getTableList()
    },
    // 重置搜索框
    resetForm () {
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.getTableList()
    },
    // 删除行
    deletList (data) {
      // this.btnRequestDisabled = true
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delwyAssetEntry(data.id).then(res => {
          // this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              message: '删除成功',
              type: 'success'
            })
            this.getTableList()
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 导出
    exportList () {
      this.btnExportDisabled = true
      axios({
        method: 'post',
        url: '/zbkc/wyAssetEntry/list/export',
        data: {
          wyAssetEntryHomeDTO: {
            name: this.select_form.name.trim(),
            entryTypeId: this.select_form.entryType,
            entryTimeStart: this.select_form.useLimitStart,
            entryTimeEnd: this.select_form.useLimitEnd,
            userId: sessionStorage.getItem('userId')
          }
        },
        responseType: 'blob'
      }).then(res => {
        this.btnExportDisabled = false
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + '资产入账列表' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.btnExportDisabled = false
    },
    // 新增，编辑，查看
    showDisposalDialog (name, data) {
      this.dialogVisible = true
      this.$nextTick(() => {
        this.$refs.AddDataDialog.show(name, data)
      })
    },
    // 子组件取消
    operateSon (form) {
      this.getTableList()
    },
    //  分页
    handleSizeChange (size) {
      this.pagesize = size
      this.getTableList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getTableList()
    }
  }

}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
