<template>
  <div class="user_mian">
    <div class="user_body">
      <div class="user_body_right">
        <div class="user_body_title">
          <el-form :inline="true" ref="form" :model="form" label-width="100px">
            <el-form-item label="角色查询">
              <el-input v-model="form.name"  style="width:230%" placeholder="请输入角色名称或角色编码或角色描述" @input="pageselect"></el-input>
            </el-form-item>
            <!-- <el-button type="primary" icon="el-icon-search" style="margin-left:60%" >查询</el-button>
            <el-button type="warning" icon="el-icon-refresh-right" plain>重置</el-button> -->
          </el-form>
            <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
            <el-table :data="pagelist" border style="margin-top: 30px;">
              <el-table-column prop="name" label="角色名称" width=""></el-table-column>
              <el-table-column prop="code" label="角色编码" width=""></el-table-column>
              <!-- <el-table-column prop="sort" label="排序" width=""></el-table-column> -->
              <el-table-column prop="idDisable" label="是否禁用">
                <template slot-scope="scope">
                  <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
                  </el-switch>
                </template>
              </el-table-column>
              <el-table-column prop="remark" label="角色描述"> </el-table-column>
              <el-table-column prop="operate" label="操作">
                <template slot-scope="scope">
                  <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
                  <el-button type="success" size="mini" @click="jurisdiction(scope.$index,scope.row)">分配权限</el-button>
                </template>
              </el-table-column>
          </el-table>
          <div class="block">
            <el-pagination background
            :page-count="100"
            :data=pagelist1
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[10,15,20]"
             :page-size="pagesize"
              layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
      <el-dialog :title="dialog_name" :width="'750px'" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed" >
      <el-form :model="ruleForm" :rules="rules" inline ref="ruleForm" >
        <el-form-item label="角色名称" prop="name" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="角色编码" prop="code" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.code"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="remark" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
         <el-form-item label="创建人" prop="creater" :label-width="formLabelWidth"  v-if="this.dialog_name=='新增角色'">
          <el-input disabled v-model="ruleForm.creater"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
         <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增角色'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改角色'">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="权限管理" :visible.sync="dialogFormVisible1" @close="close" >
          <el-button type="primary" @click="sumbit">保 存</el-button>
      <el-tree  ref="tree" :data="jurisdictionlist" show-checkbox node-key="id"  :check-on-click-node="true"
       :default-expand-all=true   :default-checked-keys="list"  :props="defaultProps"  >
      </el-tree>
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import { pagelist, rolestatus, roleadd, roleupdate, jurisdiction, jurisdictionid, jurisdictionadd } from '../../until/api.js'
export default {
  inject: ['reload'],
  data () {
    return {
      defaultProps: {
        children: 'sysMenusList',
        label: 'name'
      },
      ruleForm: {
        name: '',
        code: '',
        remark: '',
        creater: '',
        id: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'change' }
        ],
        code: [
          { required: true, message: '请输入角色编码', trigger: 'change' }
        ],
        remark: [
          { required: true, message: '请输入角色描述', trigger: 'change' }
        ]
        // creater: [
        //   { required: true, message: '请输入创建人', trigger: 'change' }
        // ]
      },
      form: {
        name: ''
      },
      aa: true,
      pagelist1: [],
      pagelist: [],
      jurisdictionlist: [],
      jurisdictionlist2: [],
      jurisdictionlist1: [],
      dialogFormVisible: false,
      dialogFormVisible1: false,
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      id: '',
      list: [],
      index: '',
      totalNum: 0,
      choosedRole: [],
      dialog_name: '',
      allMenu: []
    }
  },
  mounted () {
    jurisdiction().then(res => {
      this.jurisdictionlist = res.data.data
      this.changeTree(this.jurisdictionlist)
    })
    this.pageselect()
  },
  components: {},
  methods: {
    changeTree (listData) {
      // 获取传进来的
      if (listData !== null && listData.length !== 0) {
        for (var i = 0; i < listData.length; i++) {
          this.allMenu.push(listData[i].id)
          this.changeTree(listData[i].sysMenusList)
        }
        // console.log(this.allMenu)
      }
    },
    pageselect () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: this.form.name
      }
      pagelist(obj).then(res => {
        this.pagelist = res.data.data.list
        this.totalNum = res.data.data.total
        this.pagelist1 = res.data.data
      })
    },
    sumbit () {
      let c = this.$refs.tree.getHalfCheckedKeys().concat(this.$refs.tree.getCheckedKeys())
      let obj = {
        menuIds: c,
        roleId: this.id
      }
      jurisdictionadd(obj).then(res => {
        if (res.data.code === 0) {
          this.$alert('保存成功', '提示', {
            confirmButtonText: '确定',
            callback: action => {
              this.reload()
            }
          })
        }
      })
    },
    close () {
      jurisdiction().then(res => {
        this.jurisdictionlist = res.data.data
      })
    },
    jurisdiction (row, index) {
      this.id = index.id
      this.dialogFormVisible1 = true
      jurisdictionid(index.id).then(res => {
        this.list = res.data.data
        // console.log(this.list)
        let parentid = []
        this.allMenu.forEach(i => {
          // 根据id 拿到 Tree 组件中的node的所有信息
          let node = this.$refs.tree.getNode(i)
          // node.isLeaf：判断当前节点是否为子节点
          if (node.isLeaf) {
            // 如果是子节点，就把状态设置成选中
          } else {
            parentid.push(this.allMenu[i - 1])
          }
        })
        let pid = this.list
        // console.log('parentid=========' + parentid)
        // console.log('pid=========' + pid)
        for (var i = 0; i < pid.length; i++) {
          for (var j = 0; j < parentid.length; j++) {
            if (pid[i] == parentid[j]) {
              pid[i] = '/'
              // console.log('pid111=====' + pid[i])
            }
          }
        }
        // console.log('pid111=====' + pid)
        let pids = []
        for (var z = 0; z < pid.length; z++) {
          if (pid[z] !== '/') {
            pids.push(pid[z])
          }
        }
        // console.log('pids=====' + pids)
        this.list = pids
      })
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      rolestatus(qs.stringify(obj)).then(res => {
        this.reload()
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.pageselect()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.pageselect()
    },
    editDialogClosed () {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },

    cancel () {
      this.dialogFormVisible = false
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {

            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            code: this.ruleForm.code,
            creater: this.ruleForm.creater,
            id: this.ruleForm.id
          }
          roleupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            code: this.ruleForm.code,
            creater: this.ruleForm.creater
          }
          roleadd(obj).then(res => {
            console.log(res)
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert(`${res.data.errMsg}`, '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  // this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增角色'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改角色'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    resetDialogForm () {
      this.ruleForm.name = ''
      this.ruleForm.code = ''
      this.ruleForm.remark = ''
      this.ruleForm.creater = ''
      this.ruleForm.id = ''
    }
  }
}
</script>
<style scoped>

.user_body_right {
  border: 0px solid black;
  height: 100%;
  width: 100%;
}
.user_body_title {
height: 85%;
  padding: 1%;
}
.user_body {
  display: flex;
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
</style>
