<template>
  <div class="config_mian">
    <div class="config_body">
      <div class="config_body_right">
        <div class="config_body_title">
          <el-form :inline="true" ref="form" :model="form" label-width="100px">
            <el-form-item label="参数名称">
              <el-input v-model="form.name" style="width:230%" placeholder="请输入角色名称或角色编码或角色描述" @input="select"></el-input>
            </el-form-item>
            <el-button type="primary" icon="el-icon-search" style="margin-left:60%" @click="select">查询</el-button>
          </el-form>
          <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
          <el-table :data="pagelist" border style="width: 100%; margin-top: 30px;">
            <el-table-column prop="name" label="参数名称" width="180"></el-table-column>
            <el-table-column prop="code" label="参数编码" width="180"></el-table-column>
            <el-table-column prop="creater" label="创建者" width="180"></el-table-column>
            <el-table-column prop="id" label="参数值" width="180"></el-table-column>
            <el-table-column prop="status" label="是否禁用">
              <template slot-scope="scope">
                <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
                </el-switch>
              </template>
            </el-table-column>
            <el-table-column prop="remark" label="字典值描述"> </el-table-column>
            <el-table-column prop="operate" label="操作">
              <template slot-scope="scope">
                <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="block" >
            <el-pagination background :data=pagelist1 @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination>
          </div>
        </div>
      </div>
      <el-dialog :title="dialog_name" v-model="dialog_name" :width="'750px'" :visible.sync="dialogFormVisible" @close="editDialogClosed">
        <el-form :model="ruleForm"  :rules="rules" inline ref="ruleForm">
          <el-row>
            <el-col :span="12">
              <el-form-item label="参数名称" prop="name" :label-width="formLabelWidth">
                <el-input v-model="ruleForm.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="参数编码" prop="code" :label-width="formLabelWidth">
                <el-input v-model="ruleForm.code"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="创作人" prop="creater" :label-width="formLabelWidth" v-if="this.dialog_name=='新增参数'">
                <el-input disabled v-model="ruleForm.creater"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="参数描述" prop="remark" :label-width="formLabelWidth">
                <el-input v-model="ruleForm.remark"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="配置类型" prop="type" :label-width="formLabelWidth">
                <el-input v-model="ruleForm.type"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="参数值" prop="value" :label-width="formLabelWidth">
                <el-input v-model="ruleForm.value"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="cancel">取 消</el-button>
          <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增参数'">确 定</el-button>
          <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改参数'">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import qs from 'qs'
import { configinput, configpage, configadd, configupdate, configstatus } from '../../until/api.js'
export default {
  inject: ['reload'],
  data () {
    return {
      ruleForm: {
        creater: '',
        name: '',
        value: '',
        remark: '',
        type: '',
        code: ''
      },
      form: {
        name: ''
      },
      status: '',
      rules: {
        name: [{ required: true, message: '请输入参数名称', trigger: 'change' }],
        value: [ { required: true, message: '请输入参数值', trigger: 'change' } ],
        remark: [ { required: true, message: '请输入参数描述', trigger: 'change' } ],
        type: [ { required: true, message: '请输入配置类型', trigger: 'change' } ],
        code: [ { required: true, message: '请输入参数编码', trigger: 'change' } ]
      },
      dialog_name: '',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      pagelist1: [],
      totalNum: 0

    }
  },
  mounted () {
    this.configlist()
  },
  components: {},
  methods: {
    configlist () {
      let obj = {
        page: this.currentPage,
        size: this.pagesize
      }
      configpage(qs.stringify(obj)).then(res => {
        this.pagelist = res.data.data.records
        this.pagelist1 = res.data.data
        this.totalNum = res.data.data.total
        // console.log(res)
      })
    },
    select () {
      let name = this.form.name
      configinput(name).then(res => {
        this.pagelist = res.data.data
      })
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      configstatus(qs.stringify(obj)).then(res => {
      })
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            name: this.ruleForm.name,
            value: this.ruleForm.value,
            code: this.ruleForm.code,
            id: this.ruleForm.id
          }
          configupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            name: this.ruleForm.name,
            value: this.ruleForm.value,
            code: this.ruleForm.code,
            type: this.ruleForm.type
          }
          configadd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    cancel () {
      this.dialogFormVisible = false
    },
    resetDialogForm () {
      this.ruleForm.creater = ''
      this.ruleForm.name = ''
      this.ruleForm.value = ''
      this.ruleForm.type = ''
      this.ruleForm.remark = ''
      this.ruleForm.code = ''
    },
    editDialogClosed () {
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改参数'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增参数'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    handleSizeChange (size) {
      this.pagesize = size
      // console.log(this.pagesize) // 每页下拉显示数据
      this.configlist()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.configlist()
      // console.log(this.currentPage) // 点击第几页
    }
  }

}
</script>
<style scoped>
.config_body_right {
  border: 0px solid black;
  height: 100%;
  width: 100%;
}
.config_body_title {
  height: 85%;
  padding: 1%;
}
.config_body {
  display: flex;
  width: 100%;
  height: 100%;
}
.config_mian {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
</style>
