<template>
  <div class="dic_mian">
    <div class="dic_body">
      <div class="dic_body_right">
        <div class="dic_body_title">
            <el-form :inline="true" ref="form" :model="form" label-width="100px">
            <el-form-item label="字典名称">
              <el-input v-model="form.name" style="width:230%" placeholder="请输入角色名称或角色编码或角色描述" @input="select"></el-input>
            </el-form-item>
            <el-button type="primary" icon="el-icon-search" style="margin-left:60%" @click="select">查询</el-button>
          </el-form>
                           <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
          <el-table :data="pagelist" border style="width: 100%; margin-top: 30px;">
            <el-table-column prop="text" label="字典值名称" width="180"></el-table-column>
            <el-table-column prop="type" label="字典值编码" width="180"></el-table-column>
            <!-- <el-table-column prop="sort" label="排序" width="180"></el-table-column> -->
            <el-table-column prop="status" label="是否禁用">
              <template slot-scope="scope">
                <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
                </el-switch>
              </template>
            </el-table-column>
            <el-table-column prop="remark" label="字典值描述"> </el-table-column>
            <el-table-column prop="operate" label="操作">
                 <template slot-scope="scope">
                <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
                </template>
            </el-table-column>
          </el-table>
          <div class="block">
            <el-pagination background
            :data=pagelist1
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[10,15,20]"
             :page-size="pagesize"
              layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination>
          </div>
        </div>
      </div>
       <el-dialog :title="dialog_name" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed">
      <el-form :model="ruleForm" :rules="rules" inline ref="ruleForm" >
        <el-form-item label="字典值名称" prop="text" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.text"></el-input>
        </el-form-item>
        <el-form-item label="字典值编码" prop="type" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.type"></el-input>
        </el-form-item>
        <el-form-item label="创作者" prop="creater" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.creater"></el-input>
        </el-form-item>
          <el-form-item label="字典值描述" prop="remark" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="to">取 消</el-button>
         <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增字典值'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改字典值'">确 定</el-button>
      </div>
    </el-dialog>
    </div>
  </div>
</template>
<script>
import qs from 'qs'
import { dicvalueadd, dicvalueupdate, dicvaluestatus, dicvalueeinput, dicvaluespage } from '../../until/api.js'
export default {
  inject: ['reload'],
  data () {
    return {
      ruleForm: {
        creater: '',
        type: '',
        text: '',
        remark: '',
        id: ''
      },
      form: {
        name
      },
      rules: {
        type: [{ required: true, message: '请输入字典值编码', trigger: 'blur' }],
        text: [
          { required: true, message: '请输入字典值名称', trigger: 'change' }
        ],
        // creater: [
        //   { required: true, message: '请输入创建人', trigger: 'change' }
        // ],
        remark: [
          { required: true, message: '请输入描述', trigger: 'change' }
        ]
      },
      status: '',
      dialog_name: '',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      pagelist1: [],
      totalNum: 0

    }
  },
  mounted () {
    this.pageselect()
  },
  components: {},
  methods: {
    pageselect () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: ''
      }
      console.log(obj)
      dicvaluespage(obj).then(res => {
        this.pagelist = res.data.data.records
        this.pagelist1 = res.data.data
        this.totalNum = res.data.data.total
      })
    },
    select () {
      let name = this.form.name
      dicvalueeinput(name).then(res => {
        this.pagelist = res.data.data
      })
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      dicvaluestatus(qs.stringify(obj)).then(res => {
      })
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            text: this.ruleForm.text,
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            type: this.ruleForm.type,
            id: this.ruleForm.id
          }
          dicvalueupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            text: this.ruleForm.text,
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            type: this.ruleForm.type
          }
          dicvalueadd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    to () {
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },
    resetDialogForm () {
      this.ruleForm.creater = ''
      this.ruleForm.type = ''
      this.ruleForm.remark = ''
      this.ruleForm.text = ''
    },
    editDialogClosed () {
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改字典值'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增字典值'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.pageselect()
      // console.log(this.pagesize) // 每页下拉显示数据
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.pageselect()
      // console.log(this.currentPage) // 点击第几页
    }
  }

}
</script>
<style scoped>
.dic_body_right {
  border: 0px solid black;
  height: 100%;
  width: 100%;
}
.dic_body_title {
  height: 85%;
  padding: 1%;

}
.dic_body {
  display: flex;
  width: 100%;
  height: 100%;
}
.dic_mian {
  background: #fff;
  width: 100%;
  height: 100%;
   overflow-x: hidden;
  overflow-y: scroll;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
</style>
