<template>
    <div class="usage_main u-right-content">
    <Breadcrumb barName="菜单管理" icon="el-icon-s-tools"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
      </div>
      <div class="table"  style="height: calc(100vh - 255px)">
        <el-table :data="menulist" style="width:100%;" row-key="id" border :default-expand-all="true" :tree-props="{ children: 'sysMenusList', hasChildren: 'hasChildren' }">
          <el-table-column prop="name" label="菜单名称" width="160" class="tr">
          </el-table-column>
          <el-table-column prop="routerName" label="路由名称" width=""> </el-table-column>
          <el-table-column prop="routerPath" label="路由路径" width=""> </el-table-column>
          <el-table-column prop="routerViews" label="路由视图" width=""> </el-table-column>
          <el-table-column prop="icon" label="菜单图标" width=""> </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="">
            <template slot-scope="scope">
              <div>{{scope.row.createTime | formatDate1}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="updateTime" label="修改时间" width="">
            <template slot-scope="scope">
              <div>{{scope.row.createTime | formatDate1}}</div>
            </template>
          </el-table-column>
          <el-table-column label="是否禁用" width="">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="status(scope.$index,scope.row)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column label="排序" prop="sort"> </el-table-column>
          <el-table-column label="类型" prop="type" width="60px" align="center">
            <template slot-scope="scope">
              {{ menuType[scope.row.type] }}
            </template>
          </el-table-column>
          <el-table-column label="描述" prop="remark"> </el-table-column>
          <el-table-column label="创建人" prop="creater"> </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <el-dialog :title="dialog_name" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
        <el-row>
          <el-col :span="24">
            <el-form-item label="上级菜单" :label-width="formLabelWidth" prop="pid">
              <el-cascader v-model="ruleForm.pid" :show-all-levels="false" :props="defaultParams" :options="menulist" :change-on-select="true" clearable>
              </el-cascader>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="菜单名称" :label-width="formLabelWidth" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路由名称" :label-width="formLabelWidth" prop="routerName">
              <el-input v-model="ruleForm.routerName"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路由路径" :label-width="formLabelWidth" prop="routerPath">
              <el-input v-model="ruleForm.routerPath"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路由视图" :label-width="formLabelWidth" prop="routerViews">
              <el-input v-model="ruleForm.routerViews"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="菜单图标" :label-width="formLabelWidth" prop="icon">
              <el-input v-model="ruleForm.icon"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="菜单说明" :label-width="formLabelWidth" prop="remark">
              <el-input v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="this.dialog_name=='新增菜单'">
            <el-form-item label="创建人" :label-width="formLabelWidth" prop="creater">
              <el-input disabled v-model="ruleForm.creater"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="this.dialog_name=='修改菜单'">
            <el-form-item label="创建人" :label-width="formLabelWidth" prop="creater">
              <el-input disabled v-model="ruleForm.creater"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="排序" :label-width="formLabelWidth" prop="sort">
              <el-input-number v-model="ruleForm.sort" size="small" controls-position="right" @change="handleChange" :min="1"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="类型" :label-width="formLabelWidth" prop="type">
              <el-radio-group v-model="ruleForm.type">
                <el-radio :label="0">菜单</el-radio>
                <el-radio :label="1">按钮</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
           <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增菜单'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改菜单'">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import qs from 'qs'
import { menulist, menuadd, menuupdate, menustatus } from '../../until/api.js'
import { formatDate1 } from '../../until/common'
export default {
  inject: ['reload'],
  data () {
    return {
      // 类型
      menuType: {
        0: '菜单',
        1: '按钮'
      },
      defaultParams: {
        label: 'name',
        value: 'id',
        children: 'sysMenusList'
      },
      pid: [],
      ruleForm: {
        pid: [],
        name: '',
        creater: '',
        remark: '',
        sort: '',
        id: '',
        routerName: '',
        routerPath: '',
        routerViews: '',
        icon: '',
        type: ''
      },
      select_form: {
        name: ''
      },
      rules: {
        name: [{ required: true, message: '请输入菜单名称', trigger: 'change' }]
        // routerName: [{ required: true, message: '请输入路由名称', trigger: 'change' }],
        // routerPath: [{ required: true, message: '请输入路由路径', trigger: 'change' }],
        // routerViews: [{ required: true, message: '请输入路由视图', trigger: 'change' }],
        // sort: [{ required: true, message: '请输入序号', trigger: 'change' }]
      },
      num: 1,
      dialog_name: '',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      menulist: []
    }
  },
  components: {
    Breadcrumb
  },
  filters: {
    formatDate1
  },
  mounted () {
    menulist().then(res => {
      this.menulist = this.getTreeData(res.data.data)
    })

    setInterval(function () {
      document.querySelectorAll('.el-cascader-node__label').forEach(el => {
        el.onclick = function () {
          if (this.previousElementSibling) this.previousElementSibling.click()
        }
      })
    }, 1000)
  },

  methods: {
    // 修改
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          var obj = {
            pid: 0,
            name: this.ruleForm.name,
            creater: this.ruleForm.creater,
            remark: this.ruleForm.remark,
            id: this.ruleForm.id,
            routerName: this.ruleForm.routerName,
            routerPath: this.ruleForm.routerPath,
            routerViews: this.ruleForm.routerViews,
            sort: this.ruleForm.sort,
            icon: this.ruleForm.icon,
            type: this.ruleForm.type
          }
          if (this.ruleForm.pid === '' || this.ruleForm.pid === 0) {
            obj.pid = 0
          } else if (this.ruleForm.pid instanceof Array && this.ruleForm.pid.length > 0) {
            obj.pid = this.ruleForm.pid[this.ruleForm.pid.length - 1]
          }
          // console.log(obj);
          // return;
          menuupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    // 新增
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        var obj = {}
        if (valid) {
          obj = {
            pid: 0,
            name: this.ruleForm.name,
            creater: this.ruleForm.creater,
            remark: this.ruleForm.remark,
            routerName: this.ruleForm.routerName,
            routerPath: this.ruleForm.routerPath,
            routerViews: this.ruleForm.routerViews,
            sort: this.ruleForm.sort,
            icon: this.ruleForm.icon,
            type: this.ruleForm.type
          }
          if (this.ruleForm.pid === '' || this.ruleForm.pid === 0) {
            obj.pid = 0
          } else if (this.ruleForm.pid instanceof Array && this.ruleForm.pid.length > 0) {
            obj.pid = this.ruleForm.pid[this.ruleForm.pid.length - 1]
          }
          // console.log(obj)
          // return;
          menuadd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    getTreeData (data) {
      for (var i = 0; i < data.length; i++) {
        if (data[i].sysMenusList) {
          if (data[i].sysMenusList.length < 1) {
            // children若为空数组，则将children设为undefined
            data[i].sysMenusList = undefined
          } else {
            // children若不为空数组，则继续 递归调用 本方法
            this.getTreeData(data[i].sysMenusList)
          }
        }
      }
      return data
    },
    status (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      menustatus(qs.stringify(obj)).then(res => {
        if (res.data.code === 0) {
          this.reload()
        }
      })
    },
    cancel () {
      this.dialogFormVisible = false
    },
    resetDialogForm () {
      this.ruleForm.sort = ''
      this.ruleForm.name = ''
      this.ruleForm.remark = ''
      this.ruleForm.creater = ''
      this.ruleForm.routerName = ''
      this.ruleForm.routerPath = ''
      this.ruleForm.routerViews = ''
      this.ruleForm.icon = ''
      this.ruleForm.type = 0
    },
    // 点击新增按钮显示新增弹框
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增菜单'
      this.resetDialogForm()
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    // 列表点击修改按钮
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改菜单'
      this.resetDialogForm()
      this.ruleForm = { ...index }
      // console.log(this.ruleForm)
      // this.ruleForm.pid = [index.pid]
      if (index.pid !== 0) {
        let allPid = this.getAllPid(this.menulist, index.pid)
        this.ruleForm.pid = allPid
      }
    },
    // 查找所有父节点
    getAllPid (treeData, pid) {
      var temp = []
      var forFn = function (arr, pid) {
        for (var i = 0; i < arr.length; i++) {
          var item = arr[i]
          if (item.id === pid) {
            temp.unshift(item.id)
            forFn(treeData, item.pid)
            break
          } else {
            if (item.sysMenusList) {
              forFn(item.sysMenusList, pid)
            }
          }
        }
      }
      forFn(treeData, pid)
      return temp
    },
    handleChange (value) {
    },
    editDialogClosed () {
      this.$refs['ruleForm'].resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
/* .menu_body_right {
  height: 100%;
  width: 100%;
}
.menu_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
</style>
