<template>
    <div class="usage_main u-right-content">
    <Breadcrumb barName="组织管理" icon="el-icon-s-tools"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
      </div>
      <div class="table"  style="height: calc(100vh - 255px)">
        <el-table border :data="menulist" row-key="id" default-expand-all :tree-props="{ children: 'orgsList', hasChildren: 'hasChildren' }" style="width: 100%">
          <el-table-column prop="orgName" label="组织名称" width="" class="tr">
          </el-table-column>
          <!-- <el-table-column prop="creater" label="联系电话" width="">
            </el-table-column> -->
          <el-table-column label="是否禁用" width="">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="status(scope.$index,scope.row)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column label="排序" prop="sort"> </el-table-column>
          <!-- <el-table-column label="创建人" prop="creater"> </el-table-column>
            <el-table-column label="描述" prop="remark"> </el-table-column> -->
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
              <el-button type="primary" @click="updata1(scope.$index,scope.row)" size="mini">分配用户</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- <div class="table-pagination">

        </div> -->
      </div>
    </div>

    <el-dialog :title="dialog_name" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed" width="800px">
      <el-form :model="ruleForm" inline :rules="rules" ref="ruleForm">
        <el-form-item label="上级菜单" :label-width="formLabelWidth">
          <el-cascader :show-all-levels="false" :props="defaultParams" :options="menulist" :change-on-select="true" v-model="ruleForm.parentid" clearable>
          </el-cascader>
        </el-form-item>
        <el-form-item label="菜单名称" :label-width="formLabelWidth" prop="orgName">
          <el-input v-model="ruleForm.orgName"></el-input>
        </el-form-item>
        <el-form-item label="创建人" :label-width="formLabelWidth" prop="creater" v-if="this.dialog_name=='新增菜单'">
          <el-input disabled="disabled" v-model="ruleForm.creater"></el-input>
        </el-form-item>
        <template>
          <el-form-item label="排序" :label-width="formLabelWidth" prop="sort">
            <el-input-number v-model="ruleForm.sort" size="small" controls-position="right" @change="handleChange" :min="1" :max="10" style="width:199px"></el-input-number>
          </el-form-item>
        </template>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
          <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增组织'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改组织'">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="dialogFormVisible1" width="800px">
      <div style="display:flex;justify-content:center;">
        <el-transfer v-model="value" :titles="['所有用户', '已选用户']" :props="defaultParams1" :data="transferData" class="el_transfer"></el-transfer>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
          <el-button type="primary" @click="grantadd">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import qs from 'qs'
import { groupupdate, groupstatus, grouplist, useralllist, useralllistid, rolegrant, rolegrantadd } from '../../until/api.js'
export default {
  inject: ['reload'],
  data () {
    return {
      value: [],
      transferData: [],
      defaultParams1: {
        key: 'id',
        label: 'userName'
      },
      defaultParams: {
        label: 'orgName',
        value: 'id',
        children: 'orgsList'
      },
      ruleForm: {
        parentid: [],
        orgName: '',
        sort: '',
        id: ''
      },
      select_form: {
        name: ''
      },
      rules: {
        orgName: [{ required: true, message: '请输入菜单名称', trigger: 'change' }]
        // pid: [{ required: true, message: '请选择上级菜单', trigger: 'change' }],
        // creater: [{ required: true, message: '请输入创建人', trigger: 'change' }],
        // remark: [{ required: true, message: '请输入菜单描述', trigger: 'change' }]
      },
      num: 1,
      dialog_name: '',
      dialogFormVisible: false,
      dialogFormVisible1: false,
      formLabelWidth: '150px',
      menulist: [],
      id: ''
    }
  },
  components: {
    Breadcrumb
  },
  mounted () {
    this.select()
    setInterval(function () {
      document.querySelectorAll('.el-cascader-node__label').forEach(el => {
        el.onclick = function () {
          if (this.previousElementSibling) this.previousElementSibling.click()
        }
      })
    }, 1000)
  },
  methods: {
    select () {
      grouplist().then(res => {
        this.menulist = this.getTreeData(res.data.data)
      })
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          var obj = []
          // eslint-disable-next-line eqeqeq
          if (this.ruleForm.parentid === '' || this.ruleForm.parentid == 0) {
            obj = {
              parentid: 0,
              orgName: this.ruleForm.orgName,
              sort: this.ruleForm.sort,
              id: this.ruleForm.id
            }
          } else {
            obj = {
              parentid: this.ruleForm.parentid[this.ruleForm.parentid.length - 1],
              orgName: this.ruleForm.orgName,
              sort: this.ruleForm.sort,
              id: this.ruleForm.id
            }
          }
          groupupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        // console.log(this.ruleForm.parentid)
        var obj = {}
        if (valid) {
          // eslint-disable-next-line eqeqeq
          if (this.ruleForm.parentid === '' || this.ruleForm.parentid == 0) {
            obj = {
              parentid: 0,
              orgName: this.ruleForm.orgName,
              sort: this.ruleForm.sort
            }
          } else {
            obj = {
              parentid: this.ruleForm.parentid[this.ruleForm.parentid.length - 1],
              orgName: this.ruleForm.orgName,
              sort: this.ruleForm.sort
            }
          }
          // console.log(obj)
          rolegrantadd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    getTreeData (data) {
      for (var i = 0; i < data.length; i++) {
        if (data[i].orgsList.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].orgsList = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].orgsList)
        }
      }
      return data
    },
    status (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      groupstatus(qs.stringify(obj)).then(res => {
        if (res.data.code === 0) {
          this.reload()
        }
      })
    },
    cancel () {
      this.dialogFormVisible = false
      this.dialogFormVisible1 = false
    },
    resetDialogForm () {
      this.ruleForm.orgName = ''
      this.ruleForm.id = ''
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增组织'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改组织'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    grantadd () {
      let obj = {
        id: this.id,
        usersIds: this.value
      }
      rolegrant(obj).then(res => {
        if (res.data.code === 0) {
          this.$alert('分配成功', '提示', {
            callback: action => {
              this.reload()
            }
          })
        }
      })
    },
    updata1 (row, index) {
      this.dialogFormVisible1 = true
      this.id = index.id
      useralllistid(this.id).then(res => {
        let a = res.data.data
        let b = []
        for (var i = 0; i < a.length; i++) {
          b.push(a[i].id)
        }
        this.value = b
      })
      useralllist().then(res => {
        this.transferData = res.data.data
      })
    },
    handleChange (value) {
    },
    editDialogClosed () {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
/* .organization_body_right {
  height: 100%;
  width: 100%;
}
.organization_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
.el_transfer {
  // margin-left: 165px;
  max-height: 500px;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
</style>
