<template>
  <div class="usage_main u-right-content">
    <Breadcrumb barName="数据字典" icon="el-icon-s-tools"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="form" :model="form"  class="form-main">
        <el-form-item label="字典查询:" class="form-item" label-width="120px" style="width: 220px">
          <el-input v-model="form.name" style="width:230%" placeholder="请输入字典名称或字典编码或字典描述" @input="select(0)"></el-input>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
      </div>
      <div class="table"  style="height: calc(100vh - 308px)">
        <el-table :data="pagelist" border style="width:100%;">
          <el-table-column prop="name" label="字典名称" width=""></el-table-column>
          <el-table-column prop="code" label="字典编码" width=""></el-table-column>
          <el-table-column prop="creater" label="创建人" width=""></el-table-column>
          <el-table-column prop="idDisable" label="是否禁用">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="remark" label="字典描述"> </el-table-column>
          <el-table-column prop="operate" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
            </template>
          </el-table-column>
        </el-table>
                <div class="table-pagination">
          <el-pagination background :data=pagelist @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>

      </div>

    </div>

    <el-dialog :title="dialog_name" :width="'750px'" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed">
      <el-form :model="ruleForm" :rules="rules" inline ref="ruleForm">
        <el-form-item label="字典名称" prop="name" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="字典编码" prop="code" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.code"></el-input>
        </el-form-item>
        <el-form-item label="创作人" prop="creater" :label-width="formLabelWidth" v-if="this.dialog_name=='新增字典'">
          <el-input disabled="" v-model="ruleForm.creater"></el-input>
        </el-form-item>
        <el-form-item label="字典描述" prop="remark" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
          <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增字典'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改字典'">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import qs from 'qs'
import { dictypeadd, dictypeupdate, dictypepage, dictypestatus } from '../../until/api.js'
export default {
  inject: ['reload'],
  data () {
    return {
      ruleForm: {
        creater: '',
        code: '',
        name: '',
        remark: '',
        id: ''
      },
      form: {
        name: ''
      },
      rules: {
        name: [{ required: true, message: '请输入字典编码', trigger: 'change' }],
        code: [{ required: true, message: '请输入字典名称', trigger: 'change' }]
        // remark: [ { required: true, message: '请输入描述', trigger: 'change' } ]
      },
      status: '',
      dialog_name: '',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      totalNum: 0
    }
  },
  mounted () {
    this.parameterlist()
  },
  components: {
    Breadcrumb
  },
  methods: {

    parameterlist (flag) {
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(() => {
        let obj = {
          p: this.currentPage,
          size: this.pagesize,
          index: this.form.name
        }
        dictypepage(obj).then(res => {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
        })
      }, 800)
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      dictypestatus(qs.stringify(obj)).then(res => {
        this.reload()
      })
    },
    select (flag) {
      console.log(this.currentPage)
      if (flag !== 1) {
        this.currentPage = 1
        console.log(this.currentPage)
      }
      this.parameterlist()
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            code: this.ruleForm.code,
            id: this.ruleForm.id
          }
          dictypeupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            creater: this.ruleForm.creater,
            code: this.ruleForm.code
          }
          dictypeadd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    cancel () {
      this.dialogFormVisible = false
    },
    editDialogClosed () {
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增字典'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改字典'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    resetDialogForm () {
      this.ruleForm.creater = ''
      this.ruleForm.code = ''
      this.ruleForm.remark = ''
      this.ruleForm.name = ''
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.parameterlist(1)
      // console.log(this.pagesize) // 每页下拉显示数据
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.parameterlist(1)
      // console.log(this.currentPage) // 点击第几页
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
/* .parameter_body_right {
  height: 100%;
  width: 100%;
}
.parameter_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
</style>
