<template>
  <div class="usage_main u-right-content">
    <Breadcrumb barName="角色管理" icon="el-icon-s-tools"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="角色查询：" class="form-item" label-width="100px" style="width: 280px">
          <el-input v-model="form.name" style="width: 150%" placeholder="请输入角色名称或角色编码或角色描述" @input="pageselect"></el-input>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
      </div>
      <div class="table"  style="height: calc(100vh - 306px)">
        <el-table border :data="pagelist" style="width: 100%">
          <el-table-column prop="name" label="角色名称" width=""></el-table-column>
          <el-table-column prop="code" label="角色编码" width=""></el-table-column>
          <!-- <el-table-column prop="sort" label="排序" width=""></el-table-column> -->
          <el-table-column prop="idDisable" label="是否禁用">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="remark" label="角色描述"> </el-table-column>
          <el-table-column prop="operate" label="操作" width="260px">
            <template slot-scope="scope">
              <el-button type="primary" @click="updata(scope.$index, scope.row)" size="mini">修改</el-button>
              <el-button type="primary" size="mini" @click="jurisdiction(scope.$index, scope.row)">功能权限</el-button>
              <el-button type="primary" size="mini" @click="dataPermit(scope.$index, scope.row)">数据权限</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :page-count="100" :data="pagelist1" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>

      </div>

    </div>

    <el-dialog :title="dialog_name" :width="'750px'" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed">
      <el-form :model="ruleForm" :rules="rules" inline ref="ruleForm">
        <el-form-item label="角色名称" prop="name" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="角色编码" prop="code" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.code"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="remark" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
        <el-form-item label="创建人" prop="creater" :label-width="formLabelWidth" v-if="this.dialog_name == '新增角色'">
          <el-input disabled v-model="ruleForm.creater"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name == '新增角色'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name == '修改角色'">确 定</el-button>

      </div>
    </el-dialog>
    <el-dialog title="功能权限管理" :visible.sync="dialogFormVisible1" @close="close">
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="sumbit">保 存</el-button>
      </div>
      <el-tree ref="tree" :data="jurisdictionlist" show-checkbox node-key="id" :check-on-click-node="true" :default-expand-all="true" :default-checked-keys="list" :props="defaultProps" style="
          height: 500px;
          overflow-y: auto;
          /*解决ios上滑动不流畅*/
          -webkit-overflow-scrolling: touch;
        ">
      </el-tree>
    </el-dialog>

    <!--数据权限弹框-->
    <el-dialog title="数据权限管理" width="1039px" top="8vh" class="dialog-datapermit" :visible.sync="dialogDataPermitVisible" @close="close">
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="saveDataPermit">保 存</el-button>
      </div>

      <div class="info-content">
        <div class="has-select">
          <div class="left">
            <span class="blocks"></span>
            <span class="tit">已选物业数<span class="count">{{
                wyListSelected.length
              }}</span></span>
          </div>
        </div>
        <el-table ref="tableWyListSelected" border :data="wyListSelectedShow" height="220">
          <el-table-column label="序号" type="index" align="center"></el-table-column>
          <el-table-column prop="name" label="物业名称" width="300" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column prop="assetType" label="物业类型" width="150" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="propertyTagIdStr" label="物业权属" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="address" label="物业地址" width="300" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column label="操作" width="100">
            <template slot-scope="scope">
              <el-button type="danger" class="handle-el-icon" @click="deleteList(scope.row)">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="has-select" style="margin-top: 15px">
          <div class="left">
            <span class="blocks"></span>
            <span class="tit">物业总数<span class="count">{{ wyListAll.length }}</span></span>
            <el-checkbox class="item" v-model="checkAll" @change="checkAllChange">选择全部物业</el-checkbox>
          </div>
        </div>
        <section class="wylistall-search">
          <div class="pr12">
            <el-form :inline="true" ref="wyListAllSearch" :model="wyListAllSearch">
              <el-row>
                <el-col :span="22">
                  <el-form-item label="物业类型">
                    <el-select class="control" v-model="propertyTypeName" clearable placeholder="请选择">
                      <el-option v-for="item in propertyType" :key="item.name" :label="item.name" :value="item.name">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="物业权属">
                    <el-select class="control" v-model="propertyTagId" clearable placeholder="请选择">
                      <el-option v-for="item in propertyTag" :key="item.id" :label="item.name" :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="物业名称">
                    <el-input class="control" v-model="wyName" placeholder="请输入"></el-input>
                  </el-form-item>
                  <el-form-item label="物业地址">
                    <el-input class="control" v-model="wyAddress" placeholder="请输入"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="2">
                  <el-form-item>
                    <el-button type="primary" icon="el-icon-search" @click="selectWyListAll">查询</el-button>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
        </section>
        <el-table ref="tableWyListAll" border :data="wyListAllShow" height="285">
          <el-table-column label="序号" type="index" align="center"></el-table-column>
          <el-table-column prop="name" label="物业名称" width="300" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column prop="assetType" label="物业类型" width="150" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="propertyTagIdStr" label="物业权属" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="address" label="物业地址" width="300" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column label="操作" width="100">
            <template slot-scope="scope">
              <el-button type="primary" class="handle-el-icon" @click="addList(scope.row)" :disabled="selectID.indexOf(scope.row.id) > -1">添加</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import qs from 'qs'
import {
  pagelist,
  rolestatus,
  roleadd,
  roleupdate,
  jurisdiction,
  jurisdictionid,
  jurisdictionadd,
  dataPermissionsList,
  saveDataPermission
} from '../../until/api.js'
import { selectTag } from '@/views/estate/mainPark/request.js'
export default {
  inject: ['reload'],
  data () {
    return {
      defaultProps: {
        children: 'sysMenusList',
        label: 'name'
      },
      ruleForm: {
        name: '',
        code: '',
        remark: '',
        creater: '',
        id: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'change' }
        ],
        code: [
          { required: true, message: '请输入角色编码', trigger: 'change' }
        ],
        remark: [
          { required: true, message: '请输入角色描述', trigger: 'change' }
        ]
        // creater: [
        //   { required: true, message: '请输入创建人', trigger: 'change' }
        // ]
      },
      form: {
        name: ''
      },
      aa: true,
      pagelist1: [],
      pagelist: [],
      propertyTag: [],
      propertyTagId: '',
      propertyType: [
        '产业用房',
        '孵化园区',
        '行政办公',
        '公共服务设施',
        '商业',
        '住宅',
        '租赁社会物业'
      ],
      propertyTypeName: '',

      jurisdictionlist: [],
      jurisdictionlist2: [],
      jurisdictionlist1: [],
      dialogFormVisible: false,
      dialogFormVisible1: false,
      dialogDataPermitVisible: false,
      formLabelWidth: '120px',
      currentPage: 1,
      pagesize: 10,
      id: '',
      list: [],
      index: '',
      totalNum: 0,
      choosedRole: [],
      dialog_name: '',
      allMenu: [],
      parentid: [],

      wyListSelected: [], // 已选物业
      wyListSelectedShow: [], // 已选物业表格已显示的数据
      currentPage1: 0, // 已选物业-加载更多时的分页参数
      pageSize1: 50, // 已选物业-加载更多时的分页参数
      wyListAll: [], // 全部物业
      wyListAllShow: [], // 全部物业表格已显示的数据
      currentPage2: 0, // 全部物业-加载更多时的分页参数
      pageSize2: 50, // 全部物业-加载更多时的分页参数
      checkAll: false, // 选择全部物业
      wyListAllSearch: {}, // 全部物业列表-搜索条件
      selectID: [],
      option: [
        {
          value: '选项1',
          label: '黄金糕'
        },
        {
          value: '选项2',
          label: '双皮奶'
        }
      ],
      wyAddress: '',
      wyName: '',
      roleId: ''
    }
  },
  mounted () {
    jurisdiction().then((res) => {
      this.jurisdictionlist = res.data.data
      this.changeTree(this.jurisdictionlist)
    })
    this.pageselect()
    this.selectTag('property_tag')
    this.selectPropertyType('property_type')
  },
  components: {
    Breadcrumb
  },
  watch: {
    wyListSelected (newVal, oldVal) {
      this.checkAll = newVal.length === this.wyListAll.length
    }
  },
  methods: {
    // 全部物业列表-加载更多
    showMoreWyList () {
      if (this.currentPage2 < this.wyListAll.length / this.pageSize2 + 1) {
        this.currentPage2++
        this.wyListAllShow = this.wyListAll.slice(0, this.pageSize2 * this.currentPage2)
      }
    },
    // 已选物业列表-加载更多
    showMoreWyListSelected () {
      if (this.currentPage1 < this.wyListSelected.length / this.pageSize1 + 1) {
        this.currentPage1++
        this.wyListSelectedShow = this.wyListSelected.slice(0, this.pageSize1 * this.currentPage1)
      }
    },
    // 已选物业列表-刷新
    refreshWyListSelected () {
      this.wyListSelectedShow = this.wyListSelected.slice(0, this.pageSize1 * this.currentPage1)
    },
    // 事件初始化
    initEvent () {
      // 全部物业列表滚动到底部时加载更多
      let tbAll = this.$refs.tableWyListAll.bodyWrapper
      tbAll.addEventListener('scroll', e => {
        let diff = tbAll.scrollHeight - tbAll.scrollTop - tbAll.clientHeight
        if (diff <= 0) {
          this.showMoreWyList()
        }
      })
      // 已选物业列表滚动到底部时加载更多
      let tbSelected = this.$refs.tableWyListSelected.bodyWrapper
      tbSelected.addEventListener('scroll', e => {
        let diff = tbSelected.scrollHeight - tbSelected.scrollTop - tbSelected.clientHeight
        if (diff <= 0) {
          this.showMoreWyListSelected()
        }
      })
    },
    // 点击数据权限
    dataPermit (row, index) {
      this.selectID = []
      this.wyListSelected = []
      this.wyListSelectedShow = []
      this.currentPage1 = 0
      this.wyListAll = []
      this.wyListAllShow = []
      this.currentPage2 = 0
      this.dialogDataPermitVisible = true

      this.roleId = index.id
      var data = {
        assetType: this.propertyTypeName,
        address: this.wyAddress,
        name: this.wyName,
        propertyTagId: this.propertyTagId,
        roleId: index.id
      }
      dataPermissionsList(data).then(res => {
        this.wyListAll = res.data.data.allWyInfoList
        this.showMoreWyList()
        this.wyListSelected = res.data.data.chooseList
        this.showMoreWyListSelected()
        this.wyListSelected.forEach(item => {
          this.selectID.push(item.id)
        })
        this.initEvent()
      })
    },
    selectTag (propertyType) {
      selectTag(propertyType).then(res => {
        this.propertyTag = res.data.data
      })
    },
    selectPropertyType (propertyType) {
      selectTag(propertyType).then(res => {
        this.propertyType = res.data.data
      })
    },
    // 添加
    addList (row, index) {
      if (this.wyListSelected.length > 0) {
        if (this.selectID.indexOf(row.id) === -1) {
          this.wyListSelected.push(row)
          this.selectID.push(row.id)
        }
      } else {
        this.wyListSelected.push(row)
        this.selectID.push(row.id)
      }
      this.refreshWyListSelected()
    },
    // 移除
    deleteList (row) {
      if (this.selectID.indexOf(row.id) !== -1) {
        let index = this.selectID.indexOf(row.id)
        this.selectID.splice(index, 1)
        this.wyListSelected.splice(index, 1)
        this.wyListSelectedShow.splice(index, 1)
      }

      // this.wyListSelected.splice(this.wyListSelected.indexOf(row.id), 1)
    },
    // 搜索全部物业列表
    selectWyListAll () {
      var data = {
        assetType: this.propertyTypeName,
        address: this.wyAddress,
        name: this.wyName,
        propertyTagId: this.propertyTagId,
        roleId: this.roleId
      }
      dataPermissionsList(data).then(res => {
        this.wyListAll = res.data.data.allWyInfoList
        this.currentPage2 = 0
        this.showMoreWyList()
        // this.wyListSelected = res.data.data.chooseList
      })
    },
    // 选择全部物业
    checkAllChange (v) {
      if (v) {
        this.wyListSelected = JSON.parse(JSON.stringify(this.wyListAll))
        this.currentPage1 = 0
        this.showMoreWyListSelected()
        this.selectID = this.wyListSelected.map((val, i) => {
          return val.id
        })
      } else {
        this.wyListSelected = []
        this.wyListSelectedShow = []
        this.selectID = []
      }
    },

    changeTree (listData) {
      // 获取传进来的
      if (listData !== null && listData.length !== 0) {
        for (var i = 0; i < listData.length; i++) {
          this.allMenu.push(listData[i].id)
          this.changeTree(listData[i].sysMenusList)
          if (listData[i].sysMenusList.length > 0) {
            this.parentid.push(listData[i].id)
          } else if (listData[i].pid === 0) {
            this.parentid.push(listData[i].id)
          }
        }
      }
    },
    pageselect () {
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        let obj = {
          p: this.currentPage,
          size: this.pagesize,
          index: this.form.name
        }
        pagelist(obj).then((res) => {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
          this.pagelist1 = res.data.data
        })
      }, 800)
    },
    sumbit () {
      let c = this.$refs.tree
        .getHalfCheckedKeys()
        .concat(this.$refs.tree.getCheckedKeys())
      let obj = {
        menuIds: c,
        roleId: this.id
      }
      jurisdictionadd(obj).then((res) => {
        if (res.data.code === 0) {
          this.$alert('保存成功', '提示', {
            confirmButtonText: '确定',
            callback: (action) => {
              this.reload()
            }
          })
        }
      })
    },
    close () {
      jurisdiction().then((res) => {
        this.jurisdictionlist = res.data.data
      })
    },
    // 点击功能权限
    jurisdiction (row, index) {
      this.id = index.id
      this.dialogFormVisible1 = true
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys([])// 清空选中
        jurisdictionid(index.id).then((res) => {
          let list = res.data.data
          let pid = []
          for (var i = 0; i < list.length; i++) {
            pid.push(list[i])
          }
          // eslint-disable-next-line no-redeclare
          for (var i = 0; i < pid.length; i++) {
            for (var j = 0; j < this.parentid.length; j++) {
              // eslint-disable-next-line eqeqeq
              if (pid[i] == this.parentid[j]) {
                pid[i] = '/'
              }
            }
          }

          let pids = []
          for (var z = 0; z < pid.length; z++) {
            if (pid[z] !== '/') {
              pids.push(pid[z])
            }
          }
          this.list = pids
        })
      })
    },
    // 保存数据权限
    saveDataPermit () {
      let wyBasicInfoIds = []
      this.wyListSelected.forEach(item => {
        wyBasicInfoIds.push(item.id)
      })

      var data = {
        roleId: this.roleId,
        wyBasicInfoList: this.checkAll ? [] : wyBasicInfoIds,
        isAll: this.checkAll
      }
      saveDataPermission(data).then(res => {
        if (res.data.code === 0) {
          this.$alert('保存成功', '提示', {
            confirmButtonText: '确定',
            callback: (action) => {
              this.reload()
            }
          })
        }
      })
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      rolestatus(qs.stringify(obj)).then((res) => {
        this.reload()
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.pageselect()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.pageselect()
    },
    editDialogClosed () {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },

    cancel () {
      this.dialogFormVisible = false
      this.dialogFormVisible1 = false
      this.dialogDataPermitVisible = false
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            code: this.ruleForm.code,
            creater: this.ruleForm.creater,
            id: this.ruleForm.id
          }
          roleupdate(obj).then((res) => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: (action) => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            code: this.ruleForm.code,
            creater: this.ruleForm.creater
          }
          roleadd(obj).then((res) => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: (action) => {
                  this.reload()
                }
              })
            } else {
              this.$alert(`${res.data.errMsg}`, '提示', {
                confirmButtonText: '确定',
                callback: (action) => {
                  // this.reload()
                }
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增角色'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改角色'
      this.resetDialogForm()
      this.ruleForm = { ...index }
    },
    resetDialogForm () {
      this.ruleForm.name = ''
      this.ruleForm.code = ''
      this.ruleForm.remark = ''
      this.ruleForm.creater = ''
      this.ruleForm.id = ''
    }
  }
}
</script>
<style scoped lang="less">
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
/* .user_body_right {
  height: 100%;
  width: 100%;
}
.user_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
.info-content {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  .has-select {
    background-color: #f2f2f2;
    border-top: 1px solid #ebeef5;
    // border-bottom: 1px solid #EBEEF5;
    .left {
      display: flex;
      align-items: center;
      .blocks {
        width: 6px;
        height: 18px;
        margin: 5px 6px 5px 20px;
        background-color: #1286ff;
      }
      .tit {
        font-size: 14px;
        .count {
          color: #1286ff;
          margin-left: 5px;
        }
      }
      .item {
        margin-left: 20px;
      }
    }
  }
  .wylistall-search {
    border-top: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    border-left: 1px solid #ebeef5;
    padding: 5px 0;
    box-sizing: border-box;
    .control {
      width: 140px;
    }
    .el-form-item {
      margin-right: 0px;
      margin-bottom: 0;
    }
  }
}
</style>
