<template>
  <div class="usage_main u-right-content">
    <Breadcrumb barName="用户管理" icon="el-icon-s-tools" />
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="用户名称：" class="form-item" label-width="100px" style="width: 300px">
          <el-input v-model="form.name" placeholder="请输入用户名称" @input="pageselect(0)" @keyup.enter.native="pageselect(0)"></el-input>
          <input type="text" class="form-control" style="display:none">
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="insert">新增</el-button>
      </div>
      <div class="table" style="height: calc(100vh - 306px)">
        <el-table border :data="userlist" style="width: 100%">
          <el-table-column prop="userName" label="用户名称" width="180"></el-table-column>
          <el-table-column prop="nickName" label="用户昵称" width="180"></el-table-column>
          <el-table-column prop="name" label="角色名称" width="180"></el-table-column>
          <el-table-column prop="age" label="用户年龄" width="100"></el-table-column>
          <el-table-column prop="orgName" label="组织名称" width="260">
          </el-table-column>
          <el-table-column prop="status" label="是否禁用" width="">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.status" active-text="是" inactive-text="否" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1" @change="rolestatus(scope.$index, scope.row)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="email" label="用户邮箱" width="180"> </el-table-column>
          <el-table-column prop="creater" label="创建人" width="180"></el-table-column>
          <el-table-column prop="operate" label="操作" width="280">
            <template slot-scope="scope">
              <el-button type="primary" @click="updata(scope.$index,scope.row)" size="mini">修改</el-button>
              <el-button type="primary" @click="updata1(scope.$index,scope.row)" size="mini">分配角色</el-button>
              <el-button type="primary" @click="updata2(scope.$index,scope.row)" size="mini">分配组织</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>

    <el-dialog :title="dialog_name" :width="'750px'" v-model="dialog_name" :visible.sync="dialogFormVisible" @close="editDialogClosed">
      <el-form :model="ruleForm" :rules="rules" inline ref="ruleForm">
        <el-row>
          <el-col :span="12">
            <el-form-item label="用户名称" prop="userName" :label-width="formLabelWidth" v-show="this.dialog_name=='新增用户'">
              <el-input v-model="ruleForm.userName"></el-input>
            </el-form-item>
            <el-form-item label="用户名称" :label-width="formLabelWidth" v-show="this.dialog_name=='修改用户'">
              <el-input v-model="ruleForm.userName" disabled="disabled"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户年龄" prop="age" :label-width="formLabelWidth">
              <el-input v-model.number="ruleForm.age"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户邮箱" prop="email" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.email"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户昵称" prop="nickName" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.nickName"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户密码" prop="pwd" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.pwd" :show-password="true"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="组织机构" prop="sysOrgId" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.sysOrgId" clearable placeholder="请选择" @change="$forceUpdate()">
                <el-option v-for="item in sysOrgIdList" :key="item.id" :label="item.orgName" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="角色" prop="sysRoleId" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.sysRoleId" clearable placeholder="请选择" @change="$forceUpdate()">
                <el-option v-for="item in sysRoleIdList" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="创建人" prop="creater" :label-width="formLabelWidth" v-if="this.dialog_name=='新增用户'">
              <el-input disabled="" v-model="ruleForm.creater"></el-input>
            </el-form-item>
          </el-col> -->
          <el-col :span="12">
            <el-form-item label="用户性别" :label-width="formLabelWidth">
              <el-switch v-model="ruleForm.sex" active-text="男" inactive-text="女" active-color="#13ce66" inactive-color="#DCDFE6" :active-value="2" :inactive-value="1">
              </el-switch>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="to">取 消</el-button>
            <el-button type="primary" @click="add('ruleForm')" v-if="this.dialog_name=='新增用户'">确 定</el-button>
        <el-button type="primary" @click="update('ruleForm')" v-if="this.dialog_name=='修改用户'">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="dialogFormVisible1" width="400px">
      <div :data="rolelist" class="role_dialog">
        <template v-for="(rolelist) in rolelist">
          <el-radio v-model="roleid" :label="rolelist.id" :key="rolelist.id" style="display: block;line-height:30px;">{{rolelist.name}}</el-radio>
        </template>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="to">取 消</el-button>
           <el-button type="primary" @click="roleadd">确 定</el-button>

      </div>
    </el-dialog>
    <el-dialog title="分配组织" :visible.sync="dialogFormVisible2" @close="close">
      <div slot="footer">
        <el-button @click="to">取 消</el-button>
          <el-button type="primary" @click="sumbit">保 存</el-button>

      </div>
      <el-tree ref="tree" :data="orglist" show-checkbox node-key="id" :check-on-click-node="true" :default-expand-all=true :default-checked-keys="list" :props="defaultProps1" class="el_tree">
      </el-tree>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { useradd, userupdate, userstatus, userinput, userpage, userrole, rolelist, updaterole, grouplist, grantadd, listNoPage, sysRolePage } from '../../until/api.js'
import qs from 'qs'
export default {
  inject: ['reload'],
  data () {
    return {
      defaultProps1: {
        children: 'orgsList',
        label: 'orgName'
      },
      radio: '1',
      userlist: [],
      rolelist: [],
      orglist: [],
      list: [],
      status: '',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      sysOrgs: [],
      aa: [],
      allMenu: [],
      id: '',
      roleid: '',
      userid: '',
      dialog_name: '',
      dialogFormVisible: false,
      dialogFormVisible1: false,
      dialogFormVisible2: false,
      formLabelWidth: '130px',
      totalNum: 0,
      defaultProps: {
        children: 'sysOrgs',
        label: 'orgName'
      },
      form: {
        name: ''
      },
      ruleForm: {
        age: '',
        creater: '',
        email: '',
        userName: '',
        id: '',
        nickName: '',
        pwd: '',
        sysRoleId: '',
        sysOrgId: '',
        sex: ''
      },
      sysOrgIdList: [],
      sysRoleIdList: [],
      rules: {
        age: [
          { required: true, message: '请输入用户年龄', trigger: 'change' },
          { required: true, type: 'number', message: '请输入数字类型', trigger: 'change' }
        ],
        email: [
          { required: true, message: '请输入用户邮箱', trigger: 'change' }
        ],
        nickName: [
          { required: true, message: '请输入用户昵称', trigger: 'change' }
        ],
        pwd: [
          { required: true, message: '请输入用户密码', trigger: 'change' },
          { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号', trigger: 'change' },
          { pattern: /^[^\u4e00-\u9fa5]+$/, message: '不允许输入中文', trigger: 'change' }
        ],
        userName: [
          { required: true, message: '请输入用户名称', trigger: 'change' },
          { min: 1, max: 18, message: '长度在 1 到 18个字符', trigger: 'change' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号', trigger: 'change' },
          { pattern: /^[^\u4e00-\u9fa5]+$/, message: '不允许输入中文', trigger: 'change' }
        ]
      }

    }
  },
  components: {
    Breadcrumb
  },
  mounted () {
    this.pageselect()
    rolelist().then(res => {
      this.rolelist = res.data.data
    })
    sysRolePage().then(res => {
      this.sysRoleIdList = res.data.data
      console.log(this.sysRoleIdList)
    })
    listNoPage().then(res => {
      this.sysOrgIdList = res.data.data
      console.log(this.sysOrgIdList)
    })

    grouplist().then(res => {
      this.orglist = res.data.data
      this.changeTree(this.orglist)
    })
  },
  methods: {
    beforeRouteEnter (to, from, next) {
      console.log(to)
      console.log(from)
      console.log(next)
      next((vm) => {
        console.log(vm)
        vm.pageselect()
      })
    },
    sumbit () {
      let c = this.$refs.tree.getHalfCheckedKeys().concat(this.$refs.tree.getCheckedKeys())
      let obj = {
        orgsIds: c,
        id: this.id
      }
      grantadd(obj).then(res => {
        if (res.data.code === 0) {
          this.$alert('分配组织成功', '提示', {
            confirmButtonText: '确定',
            callback: action => {
              this.reload()
            }
          })
        } else {
          this.$alert('分配组织失败', '提示', {
            confirmButtonText: '确定'
          })
        }
      })
    },
    changeTree (listData) {
      // 获取传进来的
      // eslint-disable-next-line eqeqeq
      if (listData != null && listData.length != 0) {
        for (var i = 0; i < listData.length; i++) {
          this.allMenu.push(listData[i].id)
          this.changeTree(listData[i].sysOrgs)
        }
      }
    },
    // 点击分配组织
    updata2 (row, index) {
      this.id = index.id
      this.dialogFormVisible2 = true
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys([])
        userrole(index.id).then(res => {
          let _list = res.data.data
          let parentid = []
          this.allMenu.forEach(i => {
            // 根据id 拿到 Tree 组件中的node的所有信息
            let node = this.$refs.tree.getNode(i)
            // node.isLeaf：判断当前节点是否为子节点
            if (node.isLeaf) {
              // 如果是子节点，就把状态设置成选中
            } else {
              parentid.push(this.allMenu[i - 1])
            }
          })
          let pid = _list
          // console.log('parentid=========' + parentid)
          // console.log('pid=========' + pid)
          for (var i = 0; i < pid.length; i++) {
            for (var j = 0; j < parentid.length; j++) {
              // eslint-disable-next-line eqeqeq
              if (pid[i] == parentid[j]) {
                pid[i] = '/'
                // console.log('pid111=====' + pid[i])
              }
            }
          }
          // console.log('pid111=====' + pid)
          let pids = []
          for (var z = 0; z < pid.length; z++) {
            if (pid[z] !== '/') {
              pids.push(pid[z])
            }
          }
          // console.log('pids=====' + pids)
          this.list = pids
        })
      })
    },
    roleadd () {
      let obj = {
        userId: this.userid,
        roleId: this.roleid
      }
      updaterole(qs.stringify(obj)).then(res => {
        // console.log(res)
        if (res.data.code === 0) {
          this.$alert('分配角色成功', '提示', {
            confirmButtonText: '确定',
            callback: action => {
              this.dialogFormVisible1 = false
              this.pageselect()
            }
          })
        } else {
          this.$alert('分配角色失败', '提示', {
            confirmButtonText: '确定'
          })
        }
      })
    },
    pageselect (flag) {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // 调用接口 处理逻辑
        if (flag !== 1) {
          this.currentPage = 1
        }
        let obj = {
          p: this.currentPage,
          size: this.pagesize,
          index: this.form.name
        }
        userpage(obj).then(res => {
          this.userlist = res.data.data.list
          this.pagelist = res.data.data
          this.totalNum = res.data.data.total
          for (var i = 0; i < this.userlist.length; i++) {
            var orgNames = ''
            for (var j = 0; j < this.userlist[i].sysOrgs.length; j++) {
              var z = this.userlist[i].sysOrgs.length - 1
              // console.log('j=====' + j + ',z=========' + z)
              if (j === z) {
                orgNames += this.userlist[i].sysOrgs[j].orgName
              } else {
                orgNames += this.userlist[i].sysOrgs[j].orgName + ','
              }
              this.userlist[i].orgName = orgNames
            }
          }
          for (let i = 0; i < this.userlist.length; i++) {
            var name = []
            var roleid = []
            if (this.userlist[i].sysRole !== null) {
              name = this.userlist[i].sysRole.name
              roleid = this.userlist[i].sysRole.id
              this.userlist[i].name = name
              this.userlist[i].roleid = roleid
            } else {
              name = ''
              roleid = ''
            }
            // console.log(name)
            // console.log(roleid)
          }
          // console.log(this.userlist)
        })
      }, 600)
    },
    userinput () {
      let name = this.form.name
      userinput(name).then(res => {
        this.userlist = res.data.data
      })
    },
    rolestatus (row, index) {
      if (index.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
      let obj = {
        status: this.status,
        id: index.id
      }
      userstatus(qs.stringify(obj)).then(res => {
        this.reload()
      })
    },
    update (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            age: this.ruleForm.age,
            creater: this.ruleForm.creater,
            email: this.ruleForm.email,
            nickName: this.ruleForm.nickName,
            pwd: this.ruleForm.pwd,
            sex: this.ruleForm.sex,
            sysOrgId: this.ruleForm.sysOrgId,
            sysRoleId: this.ruleForm.sysRoleId,
            id: this.ruleForm.id
          }
          console.log(obj)
          userupdate(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('修改成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('修改失败', '提示')
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    add (ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          let obj = {
            age: this.ruleForm.age,
            userName: this.ruleForm.userName,
            creater: this.ruleForm.creater,
            email: this.ruleForm.email,
            nickName: this.ruleForm.nickName,
            pwd: this.ruleForm.pwd,
            sysOrgId: this.ruleForm.sysOrgId,
            sysRoleId: this.ruleForm.sysRoleId,
            sex: this.ruleForm.sex
          }
          console.log(obj)
          useradd(obj).then(res => {
            if (res.data.code === 0) {
              this.$alert('新增成功', '提示', {
                confirmButtonText: '确定',
                callback: action => {
                  this.reload()
                }
              })
            } else {
              this.$alert('新增失败', '提示', {
                confirmButtonText: '确定'
              })
            }
          })
          this.dialogFormVisible = false
        } else {
          return false
        }
      })
    },
    close () {
      grouplist().then(res => {
        this.orglist = res.data.data
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.pageselect(1)
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.pageselect(1)
    },
    insert () {
      this.dialogFormVisible = true
      this.dialog_name = '新增用户'
      this.ruleForm.creater = window.sessionStorage.getItem('userName')
    },
    to () {
      this.dialogFormVisible = false
      this.dialogFormVisible1 = false
      this.dialogFormVisible2 = false
    },
    editDialogClosed () {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
      this.resetDialogForm()
    },
    resetDialogForm () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
      }
      for (let i in this.ruleForm) {
        this.ruleForm[i] = ''
      }
    },
    updata (row, index) {
      this.dialogFormVisible = true
      this.dialog_name = '修改用户'
      this.resetDialogForm()
      this.ruleForm = { ...index }
      this.ruleForm.sysRoleId = this.ruleForm.sysRole.id
      this.ruleForm.sysOrgId = this.ruleForm.sysOrgs[0].id
      console.log(this.ruleForm.sysOrgId)
      console.log(this.ruleForm.sysRoleId)
      console.log(this.ruleForm)
    },
    updata1 (row, index) {
      this.roleid = index.roleid
      this.userid = index.id
      this.dialogFormVisible1 = true
      this.resetDialogForm()
    }

  }
}
</script>
<style lang="less" scoped>
.role_dialog {
  min-height: 400px;
  max-height: 500px;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.el_tree {
  max-height: 500px;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.el-input__inner {
  width: 99%;
  margin: 2px;
}
/* .user_body_right {
  height: 100%;
  width: 100%;
}
.user_body {
  display: flex;
  width: 100%;
  height: 100%;
} */

.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
</style>
