<template>
  <el-dialog :title="dialog_name" :width="'1150px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <div class="content-body">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" style="padding: 0 20px;">
        <el-row>
          <el-form-item label="资产名称:" prop="wyBasicInfoId" :label-width="formLabelWidth">
            <el-select v-model="ruleForm.wyBasicInfoId" placeholder="请选择" class="wd100" :disabled="this.dialog_name!='新增资产处置'">
              <el-option v-for="(item,index) in wyName" :key="index" :label="item.unitName" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="批准文件号:" prop="documentCode" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.documentCode" placeholder="请输入" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="批准单位:" prop="authority" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.authority" placeholder="请输入" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="批准时间:" prop="approvalTime" :label-width="formLabelWidth">
              <el-date-picker v-model="ruleForm.approvalTime" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="处置时间:" prop="disposalTime" :label-width="formLabelWidth">
              <el-date-picker v-model="ruleForm.disposalTime" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="处置单位:" prop="disposalUnit" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.disposalUnit" placeholder="请输入" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="处置方式" prop="solvingMethodId" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.solvingMethodId" placeholder="请选择" class="wd100" @change="$forceUpdate()" :disabled="mark=='see'">
                <el-option v-for="item in dealWay" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="备注" prop="remark" :label-width="formLabelWidth" class="form_item">
              <el-input type="textarea" maxlength="1001" :rows="8" v-model="ruleForm.remark" placeholder="请输入" class="wd100" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="附件材料:" :label-width="formLabelWidth">
          <div class="file-item">
            <el-button type="primary" :disabled="isView" @click="addCustomFile">添加自定义附件</el-button>
          </div>
          <div v-for="(item,index) in fileTarget" :key="index" class="file-item">
            <div class="lb">
              <el-input class="file-label" :disabled="isView" placeholder="自定义名称" v-model="item.name"></el-input>
            </div>
            <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsFile($event,index)" :filesList="item.files" isEdit="edit"></UploadWps>
            <el-button :disabled="isView" type="danger" @click="delCustomFile(index)" style="height:30px">删除</el-button>
          </div>
        </el-form-item>
        <!-- <el-form-item v-else label="附件材料:" :label-width="formLabelWidth">
          <div v-for="(item,index) in fileTarget" :key="index" class="view-file">
            <div class="lb">
              <span>{{item.name}}:</span>
              <div v-for="item in item.files" :key="item.id" class="file-label">
                <a :href="item.path" target="_self">{{item.fileName}}</a>
              </div>
            </div>
          </div>
        </el-form-item> -->
      </el-form>
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')" :disabled="btnRequestDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>

import {
  addEntry,
  selectTag,
  allProRight,
  listId,
  update
} from './request'
import { formatDate1 } from '@/until/common'
import UploadWps from '@/components/uploadWps.vue'

export default {
  components: {
    UploadWps
  },
  data () {
    let isValue1000 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 1000) {
          callback(new Error('输入字数已超过1000字'))
        } else {
          callback()
        }
      }
    }
    return {
      dialog_name: '',
      mark: '',
      isView: false,
      isDel: false,
      btnRequestDisabled: false,
      dialogFormVisible: false,
      fileTarget: [],
      wyName: [],
      dealWay: [],
      formLabelWidth: '120px',
      currentListId: '',
      ruleForm: {
        wyBasicInfoId: '', // 资产名称id
        documentCode: '', // 批准文件号
        authority: '', // 批准单位
        approvalTime: '', // 批准时间
        disposalUnit: '', // 处置单位
        disposalTime: '', // 处置时间
        remark: '',
        userId: ''
      },
      rules: {
        wyBasicInfoId: [{ required: true, message: '请选择物业名称', trigger: 'change' }],
        documentCode: [{ required: true, message: '请输入批准文件号', trigger: 'blur' }],
        authority: [{ required: true, message: '请输入批准单位', trigger: 'blur' }],
        disposalUnit: [{ required: true, message: '请输入处置单位', trigger: 'blur' }],
        approvalTime: [{ required: true, message: '请选择批准时间', trigger: 'change' }],
        disposalTime: [{ required: true, message: '请选择处置时间', trigger: 'change' }],
        solvingMethodId: [{ required: true, message: '请选择处置方式', trigger: 'change' }],
        remark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ]
      }
    }
  },
  // 日期格式化
  filters: {
    formatDate1
  },
  methods: {
    show (name, data) {
      this.getSelectList()
      this.resetForm()
      if (name === 'see') {
        this.isDel = true
        this.isView = true
      } else {
        this.isDel = false
        this.isView = false
      }
      if (name !== 'add') {
        this.resetDialogForm(data)
      }
      if (data) {
        this.currentListId = data.id
      }
      this.dialog_name = name === 'add' ? '新增资产处置' : name === 'see' ? '查看资产处置' : '编辑资产处置'
      this.mark = name
      this.dialogFormVisible = true
    },
    // 新增时重置表单
    resetForm () {
      this.$nextTick(() => {
        if (this.$refs.ruleForm !== undefined) {
          this.$refs.ruleForm.resetFields()
        }
      })
      this.fileTarget = []
      this.isView = false
      this.isDel = false
    },
    // 数据字典数据
    getSelectList () {
      // 处置方式
      selectTag('solve_method').then((res) => {
        this.dealWay = res.data.data
      })
      // 所有物业名称
      allProRight().then((res) => {
        if (res.data.data.length > 1000) {
          this.wyName = res.data.data.slice(0, 1000)
        } else {
          this.wyName = JSON.parse(JSON.stringify(res.data.data))
        }
      })
    },
    // 查看和编辑展示已有数据
    resetDialogForm (data) {
      // 表单
      listId(data.id).then((res) => {
        if (res.data.code === 0) {
          let params = res.data.data.wyAssetDisposal
          this.ruleForm = params
          this.ruleForm.approvalTime = formatDate1(params.approvalTime)
          this.ruleForm.disposalTime = formatDate1(params.disposalTime)
          this.ruleForm.wyBasicInfoId = params.wyBasicInfoId
          this.ruleForm.solvingMethodId = res.data.data.solvingMethodId ? res.data.data.solvingMethodId.id : ''
          this.ruleForm.custRightFile = res.data.data.custRightFile
          let files = []
          if (this.ruleForm.custRightFile) {
            for (var name in this.ruleForm.custRightFile) {
              files.push({ name: name, files: this.ruleForm.custRightFile[name] })
            }
          }
          this.fileTarget = files
          if (this.ruleForm.custRightFile) {
            let custRightFile = []
            for (let i = 0; i < this.ruleForm.custRightFile.length; i++) {
              custRightFile.push({ fileName: this.ruleForm.custRightFile[i].fileName, path: this.ruleForm.custRightFile[i].path })
            }
            this.ruleForm.custRightFile = custRightFile
          }
        } else {
          this.$message.warning(res.data.errMsg)
        }
      })
    },
    submit () {
      if (this.mark === 'see') {
        this.dialogFormVisible = false
      } else if (this.mark === 'add') {
        this.addData()
      } else {
        this.modefyData()
      }
    },
    // 修改
    modefyData () {
      let isPass = []
      let errMsg = ''
      let custRightFile = {}
      this.$refs.ruleForm.validateField([
        'wyBasicInfoId',
        'documentCode',
        'authority',
        'disposalUnit',
        'approvalTime',
        'disposalTime',
        'solvingMethodId'
      ], (valid) => {
        if (valid) {
          isPass.push(valid)
        }
      })
      if (isPass.length === 0) {
        this.btnRequestDisabled = true
        if (this.fileTarget.length > 0) {
          this.fileTarget.forEach((v, i) => {
            if (v.name && v.name !== '') {
              custRightFile[v.name] = v.files || []
            } else {
              this.btnRequestDisabled = false
              errMsg = '请输入自定义附件名称'
            }
          })
        }
        if (errMsg !== '') {
          this.$message({ type: 'error', message: errMsg })
          return
        }
        this.ruleForm.custRightFile = custRightFile
        this.ruleForm.id = this.currentListId
        delete this.ruleForm.updateTime
        update(this.ruleForm).then((res) => {
          this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              message: '修改成功',
              type: 'success'
            })
            this.fileTarget = []
            this.closeSubmit()
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }
      this.btnRequestDisabled = false
    },
    // 新增
    addData () {
      let isPass = []
      let errMsg = ''
      let custRightFile = {}
      this.$refs.ruleForm.validateField([
        'wyBasicInfoId',
        'documentCode',
        'authority',
        'disposalUnit',
        'approvalTime',
        'disposalTime',
        'solvingMethodId'
      ], (valid) => {
        if (valid) {
          isPass.push(valid)
        }
      })
      if (isPass.length === 0) {
        this.btnRequestDisabled = true
        if (this.fileTarget.length > 0) {
          this.fileTarget.forEach((v, i) => {
            console.log(111, v.name)
            if (v.name && v.name !== '') {
              custRightFile[v.name] = v.files || []
            } else {
              this.btnRequestDisabled = false
              errMsg = '请输入自定义附件名称'
            }
          })
        }
        if (errMsg !== '') {
          this.$message({ type: 'error', message: errMsg })
          return
        }
        this.ruleForm.custRightFile = custRightFile
        this.ruleForm.userId = sessionStorage.getItem('userId')
        addEntry(this.ruleForm).then((res) => {
          this.btnRequestDisabled = false
          if (res.data.code === 0) {
            this.$message({
              message: '新增成功',
              type: 'success'
            })
            this.closeSubmit()
            this.fileTarget = []
          } else {
            this.$message.warning(res.data.errMsg)
          }
        })
      }
      this.btnRequestDisabled = false
    },
    // 自定义附件
    changeWpsFile (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.fileTarget[index].files = wpsArr
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget.splice(index, 1)
    },
    // 弹框关闭
    cancel () {
      this.btnRequestDisabled = false
      this.dialogFormVisible = false
    },
    // 操作成功关闭
    closeSubmit () {
      this.$emit('close', false)
      this.btnRequestDisabled = false
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
