.parameter_mian {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;

    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;

      .item-select {
        display: inline-block;
      }
    }

    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;

      .el-button+.el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }

    /deep/.el-form-item__label {
      display: inline-block;
      width: 100px;
      text-align: right;
      color: #fff;
      padding: 0;
    }
  }

  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;

    .table-btn {
      display: flex;
      margin-bottom: 20px;

      .el-button+.el-button {
        margin-left: 10px;
      }
    }

    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    height: calc(100vh - 310px);
    display: flex;
    flex-direction: column;

    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;

      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }

  // .table-list {
  //   height: calc(100vh - 218px);
  //   overflow-y: auto;
  //   background-color: #fff;
  //   border-radius: 6px;
  //   padding: 20px 16px;
  //   box-sizing: border-box;

  //   .table-pagination {
  //     margin-top: 20px;
  //     display: flex;
  //     justify-content: flex-end;
  //   }
  // }

  // .table {
  //   background-color: #fff;

  //   .table-btn {
  //     display: flex;
  //     margin-bottom: 20px;
  //   }

  //   .el-table /deep/th.gutter {
  //     display: table-cell !important;
  //   }
  // }

  // ::-webkit-scrollbar {
  //   display: none; /* Chrome Safari */
  //   scrollbar-width: none; /* Firefox */
  //   -ms-overflow-style: none; /* IE 10+ */
  // }
}

// .parameter_mian::-webkit-scrollbar {
//   display: none; /* Chrome Safari */
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE 10+ */
// }
.view-file {
  display: flex;

  .file-label {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;

    .file-name {
      margin-right: 50px;
      color: #48a2ff;
    }

    a {
      font-size: 14px;
      color: #409EFF;

      &:hover {
        color: #66b1ff;
      }
    }
  }
}

.file-item {
  display: flex;

  &+.file-item {
    margin-top: 10px;
  }

  .lb {
    width: 100px;
    text-align: right;
    margin-right: 10px;

    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
}

/deep/.el-dialog__body {
  padding: 0px;
  overflow-y: auto;
}

/deep/.el-select {
  width: 100%;
}

/deep/ .el-date-editor,
/deep/.el-input__inner {
  width: 100%;
}

.content-body {
  .el-form {
    padding: 30px 20px !important;
  }
}

/deep/.el-form-item {
  margin-bottom: 20px !important;
}
