<template>
    <div class="main-right">
               <el-form :model="form" :rules="rules" ref="form"  label-width="126px">
                <div class="title-name">
                    <h3>{{relatedName}}</h3>
                    <el-form-item style="margin-top:10px">
                    <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
                    <el-button style="width:86px;height:38px;font-size: 16px;margin-left:14px;" @click="handleCancel">取消</el-button>
                    </el-form-item>
                </div>
                <div class="btn">
                     <div class="btn-content">
                     <div style="margin-top:3px">

              <el-radio-group v-model="radio">

              <el-radio-button label="基础信息" @change.native="changColor(1)">
                <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;基础信息
              </el-radio-button>

              <!-- <el-radio-button label="附属设施" @change.native="changColor(4)">
                <i :class="{ 'el-icon-warning': isMakeError,'el-icon-success':isMakeActive }" :style="{color:(isMakeIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;附属设施
              </el-radio-button> -->

            </el-radio-group>
          </div>
        </div>
      </div>

      <!-- 基础信息 -->
      <div class="main-content">
        <div class="center-content">
          <div class="add-content">
            <div id="1">
              <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:100%;">
                  <el-radio-group v-model="form.propertyTagId">
                    <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id" disabled>{{item.name}}</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" maxlength="51" disabled placeholder="请输入权属所有人"></el-input>
                </el-form-item>
              </div>
              <Title titleName="基础信息"></Title>
              <div class="base-content">
                <el-form-item label="关联物业：" class="item-form" prop="relatedProperty">
                  <el-input v-model="form.relatedProperty" maxlength="51"  @blur="handdleIsBase" disabled placeholder="请输入关联物业"></el-input>
                </el-form-item>
                <el-form-item label="关联物业规模：" @blur="handdleIsBase" class="item-form" prop="relatedScaleName">
                  <el-input v-model="form.relatedScaleName" maxlength="51"  disabled placeholder="请输入关联物业规模"></el-input>
                </el-form-item>

              </div>
              <div class="base-content">
                <el-form-item label="楼栋名称：" prop="unitName" class="item-form">
                  <el-input v-model.trim="form.unitName" maxlength="101"  @blur="handdleIsBase" placeholder="请输入楼栋名称"></el-input>
                </el-form-item>

                <el-form-item label="物业名称：" prop="name" class="item-form">
                  <el-input v-model="form.name" maxlength="101" disabled @blur="handdleIsBase" placeholder="请输入物业名称"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="别名/曾用名：" class="item-form" prop="aliasName">
                  <el-input v-model="form.aliasName" maxlength="51" @blur="handdleIsBase" placeholder="请输入别名/曾用名"></el-input>
                </el-form-item>
                <!-- <el-form-item label="物业状态：" class="item-form">
    <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyStatus"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item> -->
                <el-form-item label="物业编号：" class="item-form" prop="propertyCode">
                  <el-input v-model="form.propertyCode" maxlength="51" disabled @blur="handdleIsBase" placeholder="请输入物业编号"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
                  <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @blur="handdleIsBase">
                    <el-option v-for="item in propertyScale" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="楼栋编码：" class="item-form" prop="houseCode">
                  <el-input v-model="form.houseCode" maxlength="51" @blur="handdleIsBase" placeholder="请输入楼栋编码"></el-input>
                </el-form-item>

              </div>
              <div class="base-content">
                <el-form-item label="物业简介：" style="width:100%;"  prop="propertyIntroduction">
                  <el-input type="textarea" maxlength="1001" :rows="8" v-model="form.propertyIntroduction" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
                </el-form-item>
              </div>

              <!-- <div class="base-content">
                <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id" style="width:100px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div> -->

              <div class="base-content">
                <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable">
                  <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div style="margin-right:24px;">
                <el-form-item label="物业地址：" prop="detailAddr" style="width:100%;" class="item-form">
                  <el-input v-model="form.detailAddr" @blur="handdleIsBase" maxlength="51" disabled class="input-with-select" placeholder="请输入物业地址"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
                  <el-input v-model="form.buildArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入建筑面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="用地面积：" class="item-form" prop="landArea">
                  <el-input v-model="form.landArea" @blur="handdleIsBase" placeholder="请输入用地面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                </div>

                <div class="base-content">
                <el-form-item label="实用面积：" class="item-form" prop="practicalArea">
                  <el-input v-model="form.practicalArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入实用面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>

                <el-form-item label="公摊面积：" class="item-form" prop="shareArea">
                  <el-input v-model="form.shareArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入公摊面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                </div>

              <div class="base-content">
                <el-form-item label="楼层数量：" class="item-form" prop="num">
                  <el-input v-model="form.num" maxlength="16" @blur="handdleIsBase" placeholder="请输入楼层数量">
                    <template slot="append">层</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
                  <el-input v-model="form.propertyPlan" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
                </el-form-item>
              </div>
            </div>

          </div>

          <!-- 附属设施信息 -->
          <!-- <div id="4" style="margin-top:24px">
            <Title titleName="附属设施信息"></Title>
            <div>
              <el-form-item label="附属设施列表：" class="item-form">
                <AddTable :wyFacilitiesInfoList="form.wyFacilitiesInfoList" @event="addTablechange($event)" :estateName='form.name' labelName='楼栋名称' isShow='1' isCheck='1' isBuild='1'></AddTable>
              </el-form-item>
            </div>
          </div> -->

        </div>
      </div>
    </el-form>
    <!-- <div class="address-map">
      <el-dialog
       :visible.sync="dialogVisible"
        width="72%"
        title="地址选择"
        top="10vh"
       >
      <GeoMap
      v-if="dialogVisible"
      :handleDialog='this.handleDialog'
      @event="handleValue($event)"
      :listAddress='this.form.detailAddr'
      :longitude='this.form.longitude'
      :latitude='this.form.latitude'
      :searchAddress = this.searchAddress
      ></GeoMap>
      </el-dialog>
</div> -->
  </div>
</template>
<script>
import Title from '@/components/title.vue'
import { selectTag } from '@/views/residential/mainPark/request.js'
import AddTable from '../component'
import GeoMap from '@/components/Map/index.vue'

import {
  addBuild, propertyCode, assetName
  // propertyName
  // viewBuild
} from '../request.js'

export default {
  components: { Title, AddTable, GeoMap },
  props: ['id'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    let isValue100 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 100) {
          callback(new Error('输入字数已超过100字'))
        } else {
          callback()
        }
      }
    }

    let isValue1000 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 1000) {
          callback(new Error('输入字数已超过1000字'))
        } else {
          callback()
        }
      }
    }

    return {
      dialogVisible: false,
      searchAddress: '',
      radio: '基础信息',
      relatedName: '',
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isBuildIcon: false,
      isBuildActive: false,
      isBuildError: true,
      isMakeIcon: false,
      isMakeActive: false,
      isMakeError: true,
      wyTag: [], // 物业标签数组
      propertyTag: [],
      propertyStatus: [],
      propertyScale: [],
      // propertyType: [],
      isLable: sessionStorage.getItem('attachedInfo') === '10',
      buildList: [],
      propertyScaleArr: [],
      oldData: {},
      timer: null,
      isRepeat: true,
      form: {
        relatedProperty: JSON.parse(sessionStorage.getItem('treeItemData')).name,
        relatedScaleName: JSON.parse(sessionStorage.getItem('treeItemData')).sonScale,
        pid: this.id,
        type: 2,
        propertyTagId: JSON.parse(sessionStorage.getItem('treeItemData')).propertyTagId,
        unitName: '',
        name: '',
        shortName: '',
        aliasName: '',
        houseCode: '', // 房屋编码
        belongPerson: JSON.parse(sessionStorage.getItem('treeItemData')).belongPerson, // 权属所有人
        // propertyStatusId: '',
        propertyScaleId: '14',
        propertyCode: JSON.parse(sessionStorage.getItem('treeItemData')).wyCode, // 物业编码
        propertyIntroduction: '',
        // propertyTypeId: [],
        buildArea: '',
        landArea: '',
        practicalArea: '',
        shareArea: '',
        num: '',
        wyTagId: [], // 物业标签
        propertyPlan: '', // 物业规划用途
        wyFacilitiesInfoList: [],
        userId: '',
        detailAddr: '',
        longitude: 0,
        latitude: 0
      },
      rules: {
        relatedProperty: [
          { required: true, message: '请输入关联物业', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        relatedScaleName: [
          { required: true, message: '请输入关联物业规模', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        unitName: [
          { required: true, message: '请输入楼栋名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue100, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue100, trigger: 'blur' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        houseCode: [
          { required: true, message: '请输入楼栋编码', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        detailAddr: [
          { required: true, message: '请输入物业地址', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue50, trigger: 'blur' }
        ],
        num: [
          { required: true, message: '请输入楼层数量', trigger: 'blur' },
          { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        // propertyStatusId: [
        //   { required: true, message: '请选择物业状态', trigger: 'change' }
        // ],
        operatesUnitId: [
          { required: true, message: '请选择运营管理单位', trigger: 'change' }
        ], // 运营管理单位
        opreatesGroupId: [
          { required: true, message: '请选择运营单位项目组', trigger: 'change' }
        ], // 运营单位项目
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        // propertyTypeId: [
        //   { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        // ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        practicalArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        shareArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        propertyIntroduction: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId

    propertyCode().then((res) => {
      this.form.propertyCode = res.data.data
    })
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
      this.form.propertyTagId = JSON.parse(sessionStorage.getItem('treeItemData')).propertyTagId
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    // selectTag('property_type2').then(res => {
    // this.propertyType = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    this.rules.houseCode[0].required = sessionStorage.getItem('attachedInfo') !== '10'
    // this.propertyType = JSON.parse(sessionStorage.getItem('treeItemData')).wyTypes
    this.form.wyFacilitiesInfoList = this.wyFilterData(JSON.parse(sessionStorage.getItem('treeItemData')).facilitiesInfos) // 附属信息
  },

  updated () {
    // this.handleMake()
    this.handdleIsBase()
  },
  methods: {
    handleModel () {
      let placeName = this.provinceName + this.cityName + this.areaName + this.streetName + this.committeeName
      this.searchAddress = placeName
      this.dialogVisible = true
    },

    remoteMethod (rule, value, callback) {
      if (value !== '') {
        if (this.timer) clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          let sessName = JSON.parse(sessionStorage.getItem('treeItemData')).name
          let address = JSON.parse(sessionStorage.getItem('treeItemData')).wyAddress
          let params = `?name=${sessName + value}&pid=${this.id}`
          assetName(params).then((res) => {
            if (res.data.code === 0) {
              this.form.name = sessName + value
              this.form.detailAddr = address + value
              callback()
              this.isRepeat = true
            } else {
              this.form.name = ''
              this.form.detailAddr = ''
              callback(new Error(`${res.data.errMsg}，请重新输入`))
              this.isRepeat = false
            }
          })
        }, 300)
      }
    },

    wyFilterData (val) {
      let arr = []
      val && Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        if (item.id) {
          delete item.id
          arr.push(item)
        } else {
          arr.push(item)
        }
      })
      return arr
    },
    handleDialog (flag) {
      this.dialogVisible = flag
    },
    handleValue (val) {
      this.form.detailAddr = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
    },
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },

    // addTablechange (val) {
    //   this.form.wyFacilitiesInfoList = val
    // },

    // handleMake () {
    //   const { wyFacilitiesInfoList } = this.form
    //   if (Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0) {
    //     this.isMakeIcon = true
    //     this.isMakeActive = true
    //     this.isMakeError = false
    //   }
    // },

    handdleIsBase () {
      const {
        name,
        shortName,
        aliasName,
        // propertyStatusId,
        relatedProperty,
        relatedScaleName,
        propertyScaleId,
        propertyCode,
        propertyIntroduction,
        // propertyTypeId,
        mainPurposId,
        detailAddr,
        buildArea,
        landArea,
        propertyPlan, // 规划用途
        wyTagId, // 物业标签
        practicalArea,
        shareArea,
        propertyImgPath
      } = this.form
      if (
        relatedProperty ||
        relatedScaleName ||
        name ||
        shortName ||
        aliasName ||
        // propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        propertyIntroduction ||
        // propertyTypeId.length > 0 ||
        mainPurposId ||
        detailAddr ||
        buildArea ||
        landArea ||
        practicalArea ||
        shareArea ||
        propertyPlan ||// 规划用途
        wyTagId.length > 0 ||// 物业标签
        propertyImgPath.length > 0 ||
        this.provincialLevel ||
        this.cityLevel ||
        this.areaLevel ||
        this.streetLevel ||
        this.committeeLevel ||
        this.buildList.length > 0
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    submitForm (formName) {
      setTimeout(() => {
        let isPass = []
        this.$refs[formName].validateField([
          'belongPerson',
          'relatedProperty',
          'relatedScaleName',
          'unitName',
          'name',
          'detailAddr',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'num',
          'propertyPlan',
          'propertyScaleId',
          'propertyTagId'
          // 'propertyTypeId'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })
        if ((isPass.length === 0) && this.isRepeat) {
          delete this.form.relatedProperty
          delete this.form.relatedScaleName
          if (JSON.stringify(this.form) !== JSON.stringify(this.oldData)) {
            addBuild(this.form).then((res) => {
              if (res.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '添加成功',
                  type: 'success'
                })
                this.$emit('event', res.data.data.id)
              } else {
                this.$message({
                  showClose: true,
                  message: res.data.errMsg,
                  type: 'warning'
                })
                return (this.oldData = {})
              }
            })
            this.oldData = this.form
          } else {
            this.$message({
              showClose: true,
              message: '请勿重复保存数据',
              type: 'warning'
            })
            this.oldData = this.form
          }
        }
      }, 0)
    },
    // 取消
    handleCancel () {
      this.$router.push({ path: '/residential' })
    }

  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
