<template>
    <div class="main-right">
               <el-form :model="form" :rules="rules" ref="form"  label-width="126px">
                <div class="title-name">
                    <h3>{{headerName}}</h3>
                    <el-form-item style="margin-top:10px">
                    <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
                    <el-button style="width:86px;height:38px;font-size: 16px;" @click="handleJump">取消</el-button>
                    </el-form-item>
                </div>
                <div class="btn">
                     <div class="btn-content">
                     <div style="margin-top:3px">
                         <el-radio-group v-model="radio">

                          <el-radio-button label="基础信息" @change.native="changColor(1)">
                             <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                              &nbsp;基础信息
                          </el-radio-button>

                           <el-radio-button label="运营信息" @change.native="changColor(2)">
                              <i :class="{ 'el-icon-warning': isOperateError,'el-icon-success':isOperateActive }" :style="{color:(isOperateIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                               &nbsp;运营信息
                           </el-radio-button>

                          <el-radio-button label="建造信息" @change.native="changColor(3)">
                            <i :class="{ 'el-icon-warning': isBuildError,'el-icon-success':isBuildActive }" :style="{color:(isBuildIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                            &nbsp;建造信息
                            </el-radio-button>

                          <el-radio-button label="用地信息" @change.native="changColor(4)">
                            <i :class="{ 'el-icon-warning': isUseSiteError,'el-icon-success':isUseSiteActive }" :style="{color:(isUseSiteIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                            &nbsp;用地信息
                            </el-radio-button>
                          <el-radio-button label="附属设施" @change.native="changColor(5)">
                            <i :class="{ 'el-icon-warning': isMakeError,'el-icon-success':isMakeActive }" :style="{color:(isMakeIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                            &nbsp;附属设施
                            </el-radio-button>
                          <el-radio-button label="物管信息" @change.native="changColor(6)">
                            <i :class="{ 'el-icon-warning': isPropertyError,'el-icon-success':isPropertyActive }" :style="{color:(isPropertyIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                            &nbsp;物管信息
                            </el-radio-button>
                         </el-radio-group>
                     </div>
                     </div>
                </div>

<!-- 基础信息 -->
<div class="main-content">
<div class="center-content">
<div class="add-content">
  <div id="1">
    <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:50%;">
                  <el-radio-group v-model="form.propertyTagId" @change="handleVal">
                    <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id">{{item.name}}</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" disabled maxlength="51" placeholder="请输入权属所有人"></el-input>
                </el-form-item>
              </div>
              <Title titleName="基础信息"></Title>
              <div class="base-content">
                <el-form-item label="物业名称：" prop="name" class="item-form">
                  <el-input v-model.trim="form.name" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业名称" disabled></el-input>
                </el-form-item>
                <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
                  <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @blur="handdleIsBase">
                    <el-option v-for="item in propertyScale" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

               <div style="padding-left:12px;">
                <Address
                level="5"
                isVillage="1"
                isRequired="true"
                @event="change($event)"
                @eventVillage="doVillage($event)"
                :handleRefresh="handdleIsBase"
                :addressArr="addressArr"
                :detailAddr="form.detailAddr"
                :lng="form.longitude"
                :lat="form.latitude"
                ></Address>
              </div>

              <div class="base-content">
                <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
                  <el-input v-model="form.buildArea" maxlength="16" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入建筑面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="用地面积：" class="item-form" prop="landArea">
                  <el-input v-model="form.landArea" maxlength="16" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入用地面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="实用面积：" class="item-form" prop="practicalArea">
                  <el-input v-model="form.practicalArea" maxlength="16" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入实用面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="公摊面积：" class="item-form" prop="shareArea">
                  <el-input v-model="form.shareArea" maxlength="16" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入公摊面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
              </div>

               <div class="base-content">
                <el-form-item label="物业来源：" prop="propertySourceId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertySourceId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertySource" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div class="base-content">
               <el-form-item label="物业简称：" class="item-form" prop="shortName">
                  <el-input v-model="form.shortName" maxlength="51" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入物业简称"></el-input>
                </el-form-item>
                 <el-form-item label="物业别名/曾用名：" class="item-form" prop="aliasName">
                  <el-input v-model="form.aliasName" maxlength="51" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入物业别名/曾用名"></el-input>
                </el-form-item>
                </div>

              <div class="base-content">
                <el-form-item label="物业编号：" class="item-form" @blur="handdleIsBase" prop="propertyCode">
                  <el-input v-model="form.propertyCode" disabled maxlength="51" placeholder="请输入物业编号"></el-input>
                </el-form-item>
                <el-form-item label="物业状态：" class="item-form" prop="propertyStatusId">
                  <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select"  @change="handleCheck" @focus="radio='基础信息'" @blur="handdleIsBase">
                    <el-option v-for="item in propertyStatus" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable">
                  <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <!-- <div class="base-content">
    <el-form-item label="主要用途：" class="item-form" prop="mainPurposId" style="width:100%;">
    <el-select
    v-model="form.mainPurposId"
    placeholder="请选择主要用途"
    class="item-select"
    @blur="handdleIsBase">
      <el-option
        v-for="item in mainPurpose"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div> -->

              <div class="base-content">
                <!-- <el-form-item label="楼栋数量：" class="item-form" prop="num">
                  <el-input v-model="form.num" maxlength="16" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入楼栋数量">
                    <template slot="append">栋</template>
                  </el-input>
                </el-form-item> -->
                <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
                  <el-input v-model="form.propertyPlan" maxlength="51" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业简介：" style="width:100%;" prop="propertyIntroduction">
                  <el-input type="textarea" :rows="8" v-model="form.propertyIntroduction" @focus="radio='基础信息'" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
                </el-form-item>
              </div>
              <!-- 修改时展示 -->
              <!-- <div style="padding-left:12px;" v-if="Array.isArray(floorList) && floorList.length > 0 ">
                <el-form-item label="楼栋列表：" class="item-form">
                  <el-table :data="floorList" style="width:98.5%">
                    <el-table-column type="index" label="序号" align="center" width="60px" style="padding:0"></el-table-column>
                    <el-table-column prop="name" label="楼栋名称" align="center" style="padding:0"></el-table-column>
                    <el-table-column prop="buildArea" label="建筑面积（㎡）" align="center" style="padding:0"></el-table-column>
                    <el-table-column prop="num" label="楼栋数量" align="center" style="padding:0"></el-table-column>
                  </el-table>
                </el-form-item>
              </div> -->

              <div>
                <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
                  <p style="color:#F19149;line-height:20px; margin-top:10px;">支持jpg/png/jpng格式 ,不超过10M</p>
                  <UploadImg :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changeImg($event)" :propertyImg="Array.isArray(propertyImgList) && propertyImgList.length > 0 ? propertyImgList : ''" :handleRefresh="this.handdleIsBase"></UploadImg>
                </el-form-item>
              </div>
            </div>

            <!-- 运营信息 -->
            <div id="2" style="margin-top:24px">
              <Title titleName="运营信息"></Title>
              <div class="base-content">
                <el-form-item label="运营方式：" prop="operatesType" style="margin-bottom:0;">
                  <el-radio-group v-model="form.operatesType" @change="handleIsValue">
                    <el-radio label="1">自营</el-radio>
                    <el-radio label="2">委托运营</el-radio>
                    <el-radio label="3">其他管理单位</el-radio>
                  </el-radio-group>
                </el-form-item>
              </div>
            </div>

            <div class="base-content" v-if="isOpreates" style="margin-left:15px;">
              <div class="operates">
                <el-form-item :label="opreatesLable" prop="operatesUnitId" style="margin-bottom:0; flex:1; display:flex; width:100%;">
                  <el-select v-model="form.operatesUnitId" placeholder="请选择管理单位" class="item-select" style="width:100%;" @focus="radio='运营信息'" @change="handleOperate">
                    <el-option v-for="item in operatingUnit" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                <!-- <el-form-item prop="opreatesGroupId" style="margin-bottom:0;flex:1; margin-left:30px;">
                  <el-select v-model="form.opreatesGroupId" placeholder="请选择运营单位项目组" @focus='handleFocus' class="item-select" style="width:72%;">
                    <el-option v-for="item in organization" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item> -->
              </div>
            </div>

            <!-- 建造信息 -->
            <div id="3" style="margin-top:24px">
              <Title titleName="建造信息"></Title>
              <div class="base-content">
                <el-form-item label="设计单位：" class="item-form" style="width:100%;" prop="designUnit">
                  <el-input v-model="form.designUnit" maxlength="51" @focus="radio='建造信息'" @blur="handleBuild" placeholder="请输入设计单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="施工单位：" class="item-form" style="width:100%;" prop="buildUnit">
                  <el-input v-model="form.buildUnit"  maxlength="51" @focus="radio='建造信息'" @blur="handleBuild" placeholder="请输入施工单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="建造说明：" style="width:100%;"  prop="buildDescription">
                  <el-input type="textarea"  maxlength="1001" :rows="8" v-model="form.buildDescription" @focus="radio='建造信息'" @blur="handleBuild" placeholder="请输入建造说明"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="备注：" style="width:100%;" prop="buildRemark">
                  <el-input type="textarea" maxlength="1001" :rows="8" v-model="form.buildRemark" @focus="radio='建造信息'" @blur="handleBuild" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <span style="font-weight:bold; margin-left:40px;">附件材料：</span>
                <el-button size="small" type="primary" style="font-size:14px;" @click="handleDialogBuild">自定义附件</el-button>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="验收报告：" class="item-form" style="margin-bottom:0;width:98%;margin-top:15px;">
                  <UploadWps @event="changeWpsTwo($event)" :filesList="acceptanceReportFileList" :handleRefresh="handleBuild"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="施工许可证：" class="item-form" style="margin-bottom:0;width:98%;margin-top:15px;">
                  <UploadWps @event="changeWpsOne($event)" :filesList="constructPermitFileList" :handleRefresh="handleBuild"></UploadWps>
                </el-form-item>
              </div>

              <div v-for="item in pageBuildCustFile" :key="item.uid" style="padding:0 50px 0 24px;">
                <el-form-item :label="item.attachmentName+'：'" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;border:1px solid #ddd; border-radius: 6px;padding:24px 24px 24px 0;">
                  <div style="display: flex;">
                    <UploadWpsCustom @event="addChangeWpsBuild($event)" :filesList="item" :handleRefresh="handleBuild"></UploadWpsCustom>
                    <i class="el-icon-delete" style="padding-left:24px; font-size:26px; flex:1; display:flex; justify-content: flex-end; align-items: center;" @click="handleDeteleBuild(item.uid)"></i>
                  </div>
                </el-form-item>
              </div>

            </div>

            <!-- 用地信息 -->
            <div id="4" style="margin-top:24px">
              <Title titleName="用地信息"></Title>
              <div class="base-content">

                <el-form-item label="开始时间：" class="item-form" prop="strLandStartTime">
                  <el-date-picker v-model="form.strLandStartTime" type="date" class="item-select" placeholder="选择日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" @focus="radio='用地信息'" @blur="handleUseSite" @change="landStartTimeChange">
                  </el-date-picker>
                </el-form-item>

                <el-form-item label="结束时间：" class="item-form" prop="strLandEndTime">
                  <el-date-picker v-model="form.strLandEndTime" type="date" class="item-select" placeholder="选择日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" @focus="radio='用地信息'" @blur="handleUseSite">
                  </el-date-picker>
                </el-form-item>

              </div>
              <div class="base-content">
                <el-form-item label="建设单位：" class="item-form" style="width:100%;" prop="constructionUnit">
                  <el-input v-model="form.constructionUnit" maxlength="51" @focus="radio='用地信息'" @blur="handleUseSite" placeholder="请输入建设单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="用地说明：" style="width:100%;" prop="landDescription">
                  <el-input type="textarea" :rows="8" v-model="form.landDescription" maxlength="1001" @focus="radio='用地信息'" @blur="handleUseSite" placeholder="请输入用地说明"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="备注：" style="width:100%;" prop="landRemark">
                  <el-input type="textarea" :rows="8" v-model="form.landRemark" maxlength="1001" @focus="radio='用地信息'" @blur="handleUseSite" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <span style="font-weight:bold; margin-left:40px;">附件材料：</span>
                <el-button size="small" type="primary" style="font-size:14px;" @click="handleDialog">自定义附件</el-button>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="土地出让合同：" class="item-form" style="margin-bottom:0;width:98%;margin-top:15px;">
                  <UploadWps @event="changeWpsFour($event)" :filesList="landTransferContractFileList" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="红线图或宗地图：" class="item-form" style="margin-bottom:0;width:98%;margin-top:15px;">
                  <UploadWps @event="changeWpsFive($event)" :filesList="redLineFileList" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="用地许可证：" class="item-form" style="margin-bottom:0;width:98%;margin-top:15px;">
                  <UploadWps @event="changeWpsSix($event)" :filesList="landPermitFileList" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div v-for="item in pageSiteCustFile" :key="item.uid" style="padding:0 50px 0 24px;">
                <el-form-item :label="item.attachmentName+'：'" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;border:1px solid #ddd; border-radius: 6px;padding:24px 24px 24px 0;">
                  <div style="display: flex;">
                    <UploadWpsCustom @event="addChangeWps($event)" :filesList="item" :handleRefresh="handleUseSite"></UploadWpsCustom>
                    <i class="el-icon-delete" style="padding-left:24px; font-size:26px; flex:1; display:flex; justify-content: flex-end; align-items: center;" @click="handleDetele(item.uid)"></i>
                  </div>
                </el-form-item>
              </div>

            </div>

            <!-- 附属设施信息 -->
            <div id="5" style="margin-top:24px">
              <Title titleName="附属设施信息"></Title>
              <div>
                <el-form-item label="附属设施列表：" class="item-form">
                  <AddTable :wyFacilitiesInfoList="form.wyFacilitiesInfoList" isShow='1' isName='1' labelName='物业名称' @event="addTablechange($event)" :estateName='form.name'></AddTable>
                </el-form-item>
              </div>
            </div>

            <!-- 物管信息 -->
            <div id="6" style="margin-top:24px">
              <Title titleName="物管信息"></Title>
              <div class="base-content">
                <el-form-item label="物业公司名称：" class="item-form" style="width:100%;" prop="companyName">
                  <el-input v-model="form.companyName" maxlength="51" @focus="radio='物管信息'" @blur="handleProperty" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="联系人：" class="item-form" prop="contacts">
                  <el-input v-model="form.contacts" maxlength="51" @focus="radio='物管信息'" @blur="handleProperty" placeholder="请输入联系人"></el-input>
                </el-form-item>
                <el-form-item label="联系电话：" class="item-form" prop="phone">
                  <el-input v-model="form.phone" maxlength="51" @focus="radio='物管信息'" @blur="handleProperty" placeholder="请输入联系电话"></el-input>
                </el-form-item>
                <el-form-item label="物业管理费：" class="item-form" prop="manageFee">
                  <el-input v-model="form.manageFee" maxlength="51" @focus="radio='物管信息'" @blur="handleProperty" placeholder="请输入物业管理费">
                    <template slot="append">元/㎡/月</template>
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content" style="margin-bottom:30px" prop="remark">
                <el-form-item label="备注：" style="width:100%;">
                  <el-input type="textarea" maxlength="1001" :rows="8" v-model="form.remark" @focus="radio='物管信息'" @blur="handleProperty" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

            </div>

          </div>
        </div>
      </div>
    </el-form>
    <el-dialog title="自定义附件" :visible.sync="buildDialogVisible" width="580px" class="customize">
      <CustomUploadWps v-if="buildDialogVisible" :handleModel='this.handleDialogBuildModel' @event="changeWpsCustomBuild($event)" :filesList="form.buildCustFile" :handleRefresh="this.handleBuild"></CustomUploadWps>
    </el-dialog>
    <el-dialog title="自定义附件" :visible.sync="dialogVisible" width="580px" class="customize">
      <CustomUploadWps v-if="dialogVisible" :handleModel='this.handledialogModel' @event="changeWpsCustom($event)" :filesList="form.siteCustFile" :handleRefresh="this.handleUseSite"></CustomUploadWps>
    </el-dialog>
  </div>
</template>
<script>
// import qs from 'qs'
import Title from '@/components/title.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'
import UploadWps from '@/components/uploadWps.vue'
import CustomUploadWps from '@/components/customUploadWps.vue'
import UploadWpsCustom from '@/components/uploadWpsCustom.vue'

import AddTable from '../component/table.vue'
import { selectTag, operateCode, operateUnit } from '@/views/estate/mainPark/request.js'
import { province, city, area, street, committee } from '@/components/request'
import { viewBuild, searchAddress, editBuild, assetName } from '../request.js'
import moment from 'moment'
export default {
  components: { Title, Address, UploadImg, UploadWps, AddTable, CustomUploadWps, UploadWpsCustom },
  props: ['id'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    let isValue1000 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 1000) {
          callback(new Error('输入字数已超过1000字'))
        } else {
          callback()
        }
      }
    }

    let phoneNum = (rule, value, callback) => {
      if (value) {
        let reg = /^((0\d{2,3}-?\d{7,8})|(1[3465789]\d{9}))$/
        if (reg.test(value)) {
          callback()
        } else {
          callback(new Error('请输入正确的联系电话'))
        }
      }
    }

    // 校验结束时间不能小于开始时间
    const validEndTime = (rule, value, callback) => {
      if (value && value != '' && this.form.strLandStartTime && this.form.strLandStartTime != '') {
        let sTime = moment(this.form.strLandStartTime)
        let eTime = moment(value)
        let diffTime = sTime.diff(eTime)
        if (diffTime > 0) {
          callback(new Error(`结束时间不能小于开始时间`))
        }
      } else callback()
    }

    return {
      headerName: '',
      dialogVisible: false,
      buildDialogVisible: false,
      pageBuildCustFile: [],
      pageSiteCustFile: [],
      radio: '基础信息',
      params: {},
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isOperateActive: false,
      isOperateIcon: false,
      isOperateError: true,
      isBuildIcon: false,
      isBuildActive: false,
      isBuildError: true,
      isUseSiteIcon: false,
      isUseSiteActive: false,
      isUseSiteError: true,
      isMakeIcon: false,
      isMakeActive: false,
      isMakeError: true,
      isPropertyIcon: false,
      isPropertyActive: false,
      isPropertyError: true,
      propertyTag: [],
      propertyStatus: [],
      propertyScale: [],
      propertyType: [],
      propertySource: [],
      // mainPurpose: [],
      wyTag: [],
      isLable: false,
      operatingUnit: [],
      organization: [],
      isOpreates: false,
      opreatesLable: '',
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      buildList: [],
      addressArr: [],
      floorList: [],
      propertyImgList: [],
      constructPermitFileList: [],
      acceptanceReportFileList: [],
      landAnnexFileList: [],
      landTransferContractFileList: [],
      redLineFileList: [],
      landPermitFileList: [],
      oldData: {},
      timer: null,
      isRepeat: true,
      form: {
        id: '',
        address: '',
        type: 1,
        propertyTagId: '',
        unitName: '',
        name: '',
        buildCustFile: {}, // 建造自定义合同
        siteCustFile: {}, // 用地自定义合同
        belongPerson: '', // 权属所有人
        shortName: '',
        aliasName: '',
        propertyStatusId: '',
        propertyScaleId: '13',
        propertyCode: '',
        propertyIntroduction: '',
        propertyTypeId: [],
        propertySourceId: [],
        // mainPurposId: '',
        buildArea: '',
        landArea: '',
        practicalArea: '',
        shareArea: '',
        propertyPlan: '', // 物业规划用途
        wyTagId: [], // 物业标签
        propertyImg: [],
        operatesType: '', // 运营方式
        operatesUnitId: '', // 运营管理单位
        designUnit: '',
        buildUnit: '',
        buildDescription: '',
        buildRemark: '',
        constructPermitFile: [],
        acceptanceReportFile: [],
        strLandStartTime: '',
        strLandEndTime: '',
        constructionUnit: '',
        landDescription: '',
        landRemark: '',
        landTransferContractFile: [],
        redLineFile: [],
        landPermitFile: [],
        companyName: '',
        contacts: '',
        phone: '',
        manageFee: '',
        remark: '',
        // num: '',
        wyFacilitiesInfoList: [],
        userId: '',
        detailAddr: '',
        areaCode: '',
        longitude: 0, // 经度
        latitude: 0, // 纬度
        assetType: '', // 资产类型
        propertyType: '' // 按钮类型
      },

      rules: {
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        // num: [
        //   { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        // ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        operatesType: [
          { required: true, message: '请选择运营方式', trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        propertyStatusId: [
          { required: true, message: '请选择物业状态', trigger: 'change' }
        ],
        operatesUnitId: [
          { required: true, message: '请选择运营管理单位', trigger: 'change' }
        ], // 运营管理单位
        // opreatesGroupId: [
        //   { required: true, message: '请选择运营单位项目组', trigger: 'change' }
        // ], // 运营单位项目
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        propertyTypeId: [
          { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        ],
        shortName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        practicalArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        shareArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        propertyIntroduction: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        designUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildDescription: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        buildRemark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        constructionUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landDescription: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        landRemark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        companyName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        contacts: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        phone: [
          { type: 'string', required: false, validator: phoneNum, trigger: 'change' }
        ],
        manageFee: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        remark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        strLandEndTime: [
          { required: false, validator: validEndTime, trigger: 'change' }
        ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    selectTag('property_type1').then(res => {
      this.propertyType = res.data.data
    })
    selectTag('property_source').then(res => {
      this.propertySource = res.data.data
    })
    // selectTag('main_purpos').then(res => {
    //   this.mainPurpose = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    operateCode().then(res => {
      this.operatingUnit = res.data.data
    })
    this.handleEditDetail(this.id)
  },

  watch: {
    'id': function (newVal) {
      this.handleEditDetail(newVal)
    }
  },
  updated () {
    this.handleIsValue()
    this.handleMake()
    this.handdleIsBase()
    this.handleProperty()
    this.handleUseSite()
    this.handleBuild()
  },
  methods: {
    handleFocus () {
      if (this.organization.length === 0) {
        this.$refs.form.validateField('operatesUnitId')
      }
    },
    remoteMethod (rule, value, callback) {
      if ((value !== '') && (value !== this.headerName)) {
        if (this.timer) clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          let params = `?name=${value}&pid=${0}`
          assetName(params).then((res) => {
            if (res.data.code === 0) {
              callback()
              this.isRepeat = true
            } else {
              callback(new Error(`${res.data.errMsg}，请重新输入`))
              this.isRepeat = false
            }
          })
        }, 300)
      }
    },
    handleEditDetail (keyId) {
      if (keyId) {
        viewBuild(keyId).then((res) => {
          if (res.data.code === 0) {
            let {
              acceptanceReportFile = [],
              constructPermitFile = [],
              floorList = [],
              info = {},
              landPermitFile = [],
              landTransferContractFile = [],
              // mainPurpos = [],
              wyTag = [],
              propertyImg = [],
              propertyScale = [],
              propertySource = [],
              propertyStatus = [],
              propertyTag = [],
              propertyType = [],
              redLineFile = [],
              wyFacilitiesInfoList = [],
              buildCustFile = {},
              siteCustFile = {}
            } = res.data.data
            // 国企物业编辑回显
            if (Array.isArray(propertyTag) && propertyTag.length > 0 && String(propertyTag[0].id) === '10') {
              this.isLable = true
            } else {
              this.isLable = false
            }
            this.headerName = info.name
            let propertyTagId = Array.isArray(propertyTag) && propertyTag.length > 0 && propertyTag[0].id ? propertyTag[0].id : ''
            let propertyTypeId = this.handleFilter(propertyType)
            let propertySourceId = this.handleFilter(propertySource)
            let wyTagId = this.handleFilter(wyTag)
            let address = []
            if (info.areaCode) {
              searchAddress(info.areaCode).then((res) => {
                if (res.data.code === 0) {
                  let { provinceCode, cityCode, areaCode, streetCode, committeeCode } = res.data.data
                  let obj = {}
                  obj.provinceId = provinceCode
                  obj.cityId = cityCode
                  obj.areaId = areaCode
                  obj.streetId = streetCode
                  obj.committeeId = committeeCode
                  this.change(obj)
                  address.push(provinceCode)
                  address.push(cityCode)
                  address.push(areaCode)
                  address.push(streetCode)
                  address.push(committeeCode)
                }
              })
            }
            this.addressArr = address
            let propertyScaleId = Array.isArray(propertyScale) && propertyScale.length > 0 && propertyScale[0].id ? propertyScale[0].id : '13'
            let propertyStatusId = Array.isArray(propertyStatus) && propertyStatus.length > 0 && propertyStatus[0].id ? propertyStatus[0].id : ''
            if (propertyStatusId === '43') {
              this.handleCheck('43')
            }
            // let mainPurposId = Array.isArray(mainPurpos) && mainPurpos.length > 0 && mainPurpos[0].id ? mainPurpos[0].id : ''
            this.floorList = floorList
            this.propertyImgList = this.handleImgfolder(propertyImg)
            let propertyImgs = this.handleDetailImg(propertyImg)
            this.constructPermitFileList = constructPermitFile
            this.acceptanceReportFileList = acceptanceReportFile
            this.landTransferContractFileList = landTransferContractFile
            this.redLineFileList = redLineFile
            this.landPermitFileList = landPermitFile
            this.pageBuildCustFile = this.handleFilterCustom(buildCustFile)
            this.pageSiteCustFile = this.handleFilterCustom(siteCustFile)
            let buildCustFileData = this.handleFilterResCustom(buildCustFile)
            let siteCustFileData = this.handleFilterResCustom(siteCustFile)
            // 运营方式
            if (String(info.operatesType) === '1') {
              this.isOpreates = false
            } else if (String(info.operatesType) === '2') {
              this.isOpreates = true
              this.opreatesLable = '委托运营管理单位：'
            } else if (String(info.operatesType) === '3') {
              this.isOpreates = true
              this.opreatesLable = '其他管理单位：'
            }
            // if (info.operatesUnitId && info.opreatesGroupId) {
            //   this.handleOperate(info.operatesUnitId, info.opreatesGroupId)
            // }

            this.form = {
              buildCustFile: buildCustFileData,
              siteCustFile: siteCustFileData,
              id: info.id,
              pid: info.pid,
              userId: info.userId,
              type: info.type,
              address: info.address,
              propertyTagId: propertyTagId,
              unitName: info.unitName ? info.unitName : '',
              name: info.name,
              belongPerson: info.belongPerson ? info.belongPerson : JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
              shortName: info.shortName,
              aliasName: info.aliasName,
              propertyImg: propertyImgs,
              propertyTypeId: propertyTypeId,
              propertyStatusId: propertyStatusId,
              propertyScaleId: propertyScaleId,
              propertyCode: info.propertyCode,
              propertyIntroduction: info.propertyIntroduction,
              detailAddr: info.detailAddr,
              buildArea: info.buildArea ? info.buildArea : '',
              landArea: info.landArea ? info.landArea : '',
              practicalArea: info.practicalArea ? info.practicalArea : '',
              shareArea: info.shareArea ? info.shareArea : '',
              propertySourceId: propertySourceId,
              propertyPlan: info.propertyPlan,
              wyTagId: wyTagId,
              // mainPurposId: mainPurposId,
              // num: info.num,
              designUnit: info.designUnit,
              buildUnit: info.buildUnit,
              buildDescription: info.buildDescription,
              buildRemark: info.buildRemark,
              strLandStartTime: info.landStartTime ? moment(info.landStartTime).format('yyyy-MM-DD') : '',
              strLandEndTime: info.landEndTime ? moment(info.landEndTime).format('yyyy-MM-DD') : '',
              constructionUnit: info.constructionUnit,
              landDescription: info.landDescription,
              landRemark: info.landRemark,
              wyFacilitiesInfoList: wyFacilitiesInfoList,
              companyName: info.companyName,
              contacts: info.contacts,
              phone: info.phone,
              manageFee: info.manageFee,
              remark: info.remark,
              operatesType: String(info.operatesType), // 运营方式
              operatesUnitId: info.operatesUnitId, // 运营管理单位
              // opreatesGroupId: info.opreatesGroupId, // 运营单位项目组
              assetType: info.assetType,
              propertyType: info.propertyType,
              longitude: info.longitude ? info.longitude : 0,
              latitude: info.latitude ? info.latitude : 0,
              constructPermitFile: this.handleFilterfolder(constructPermitFile),
              acceptanceReportFile: this.handleFilterfolder(acceptanceReportFile),
              landTransferContractFile: this.handleFilterfolder(landTransferContractFile),
              redLineFile: this.handleFilterfolder(redLineFile),
              landPermitFile: this.handleFilterfolder(landPermitFile)
            }
          }
        })
      }
    },
    handleDetailImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        let urlPath = item.path ? item.path : ''
        let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
        val.name = item.name
        val.path = resPath
        imgArr[index] = val
      })
      return imgArr
    },
    handleImgfolder (folder) {
      let arr = []
      Array.isArray(folder) && folder.length > 0 && folder.forEach((item) => {
        let obj = {}
        obj.fileName = item.name
        obj.path = item.path
        arr.push(obj)
      })
      return arr
    },
    handleFilterfolder (folder) {
      let arr = []
      Array.isArray(folder) && folder.length > 0 && folder.forEach((item) => {
        let obj = {}
        obj.fileName = item.fileName
        obj.path = item.path && (item.path).split('/api/v1/zbkc/')[1]
        arr.push(obj)
      })
      return arr
    },
    handleFilterCustom (customVal) {
      let arr = []
      for (let key in customVal) {
        let obj = {}
        obj.attachmentName = key
        obj.customData = customVal[key]
        obj.uid = (customVal[key][0]).id
        arr.push(obj)
      }
      return arr
    },
    handleFilterResCustom (nameVal) {
      let mainObj = {}
      for (let key in nameVal) {
        let item = nameVal[key]
        let resArr = []
        Array.isArray(item) && item.length > 0 && item.forEach((val) => {
          let obj = {}
          let resPath = val.path && (val.path).split('/api/v1/zbkc/')[1]
          obj.fileName = val.fileName
          obj.fileSize = val.fileSize
          obj.path = resPath
          resArr.push(obj)
        })
        mainObj[key] = resArr
      }
      return mainObj
    },
    handleFilterFile (file) {
      let arr = []
      if (Array.isArray(file) && file.length > 0) {
        file.forEach(item => {
          let obj = {}
          obj.fileName = item.fileName
          obj.fileUrl = item.path
          arr.push(obj)
        })
      }
      return arr
    },
    handleFilter (value) {
      let arr = []
      value && Array.isArray(value) && value.forEach((item) => {
        arr.push(item.id)
      })
      return arr
    },
    handleVal (val) {
      if (val === '10') {
        this.isLable = true
      } else {
        this.isLable = false
      }
    },
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },

    handleCheck (val) {
      if (val === '43') {
        let requiredArr = ['name', 'buildArea', 'landArea', 'propertyStatusId'] // 在建必填必填选项
        this.haandleStatus(requiredArr)
      } else {
        // 非在建状态恢复初始状态
        let requiredArr = [
          'belongPerson',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          // 'num',
          'propertyPlan',
          'operatesType',
          'propertyScaleId',
          'propertyStatusId',
          'operatesUnitId',
          // 'opreatesGroupId',
          'propertyTagId',
          'propertyTypeId',
          'landEndTime'
        ] // 必填选项
        this.haandleStatus(requiredArr)
      }
    },

    haandleStatus (requiredArr) {
      let obj = this.rules
      for (let key in obj) {
        if (requiredArr.indexOf(key) !== -1) {
          this.rules[key][0].required = true
        } else {
          this.rules[key][0].required = false
        }
      }
    },

    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.form.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },

    doVillage (val) {
      this.form.detailAddr = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
    },

    addTablechange (val) {
      this.form.wyFacilitiesInfoList = val
    },

    handleBuild () {
      const { designUnit, buildUnit, buildDescription, buildRemark, constructPermitFile, acceptanceReportFile } = this.form
      if (designUnit || buildUnit || buildDescription || buildRemark || constructPermitFile.length > 0 || acceptanceReportFile.length > 0) {
        this.isBuildIcon = true
        this.isBuildActive = true
        this.isBuildError = false
      }
    },

    handleUseSite () {
      const { landStartTime, landEndTime, constructionUnit, landDescription, landRemark, landTransferContractFile, redLineFile, landPermitFile } = this.form
      if (landStartTime || landEndTime || constructionUnit || landDescription || landRemark || landTransferContractFile.length > 0 || redLineFile.length > 0 || landPermitFile.length > 0) {
        this.isUseSiteIcon = true
        this.isUseSiteActive = true
        this.isUseSiteError = false
      }
    },

    handleMake () {
      const { wyFacilitiesInfoList } = this.form
      if (Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0) {
        this.isMakeIcon = true
        this.isMakeActive = true
        this.isMakeError = false
      }
    },

    handleIsValue (val) {
      if (val === '1') {
        this.isOpreates = false
        this.form.operatesUnitId = ''// 运营管理单位
        // this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '2') {
        this.isOpreates = true
        this.opreatesLable = '委托运营管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        // this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '3') {
        this.isOpreates = true
        this.opreatesLable = '其他管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        // this.form.opreatesGroupId = ''// 运营单位项目
      }
      if (this.form.operatesType) {
        this.isOperateActive = true
        this.isOperateIcon = true
        this.isOperateError = false
      }
    },

    handleOperate (val, echo) {
      operateUnit(val).then((res) => {
        if ((res.data.code === 0) && res.data.data && Array.isArray(res.data.data)) {
          this.organization = res.data.data
          // if (echo) {
          //   this.form.opreatesGroupId = echo // 运营单位项目组
          // }
        }
      })
    },

    handdleIsBase () {
      const {
        name,
        shortName,
        aliasName,
        propertyStatusId,
        propertyScaleId,
        propertyCode,
        propertyIntroduction,
        propertyTypeId,
        propertySourceId,
        // mainPurposId,
        detailAddr,
        buildArea,
        landArea,
        practicalArea,
        shareArea,
        propertyImg,
        propertyPlan,
        wyTagId
      } = this.form
      if (
        name ||
        shortName ||
        aliasName ||
        propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        propertyIntroduction ||
        propertyTypeId.length > 0 ||
        propertySourceId.length > 0 ||
        // mainPurposId ||
        propertyPlan ||
        detailAddr ||
        buildArea ||
        landArea ||
        practicalArea ||
        shareArea ||
        propertyImg.length > 0 ||
        wyTagId.length > 0 ||
        this.provincialLevel ||
        this.cityLevel ||
        this.areaLevel ||
        this.streetLevel ||
        this.committeeLevel ||
        this.buildList.length > 0
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    handleProperty () {
      const { companyName, contacts, phone, manageFee, remark } = this.form
      if (companyName || contacts || phone || manageFee || remark) {
        this.isPropertyIcon = true
        this.isPropertyActive = true
        this.isPropertyError = false
      }
    },

    changeImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item, index) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 本地上传图片处理
          if (item.response.data && typeof item.response.data === 'object') {
            val.name = item.response.data.fileName
            val.path = item.response.data.filePath
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.name = item.name
          val.path = resPath
        }
        imgArr[index] = val
      })
      this.form.propertyImg = imgArr
    },

    changeWpsOne (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传文件处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显文件处理
          val.fileName = item.name
          val.path = item.pathUrl
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.constructPermitFile = wpsArr
    },

    changeWpsTwo (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传文件处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显文件处理
          val.fileName = item.name
          val.path = item.pathUrl
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.acceptanceReportFile = wpsArr
    },

    changeWpsFour (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传文件处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显文件处理
          val.fileName = item.name
          val.path = item.pathUrl
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.landTransferContractFile = wpsArr
    },

    changeWpsFive (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传文件处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显文件处理
          val.fileName = item.name
          val.path = item.pathUrl
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.redLineFile = wpsArr
    },

    changeWpsSix (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          val.fileName = item.name
          val.path = item.pathUrl
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.landPermitFile = wpsArr
    },

    handleDialog () {
      this.dialogVisible = true
    },

    handledialogModel (flag) {
      this.dialogVisible = flag
    },

    handleDialogBuild () {
      this.buildDialogVisible = true
    },

    handleDialogBuildModel (flag) {
      this.buildDialogVisible = flag
    },

    // 用地自定义附件删除
    handleDetele (itemId) {
      let pageData = this.pageSiteCustFile
      let newData = pageData.filter(item => item.uid !== itemId)
      this.pageSiteCustFile = newData
      this.filterData(newData)
    },

    // 用地自定义附件添加
    changeWpsCustom (wpsList) {
      let objData = {}
      objData.attachmentName = wpsList.attachmentName
      objData.uid = wpsList.customData[0].uid
      let objNum = []
      let postData = []
      Array.isArray(wpsList.customData) && wpsList.customData.length > 0 && wpsList.customData.forEach((item) => {
        let obj = {}
        let objKey = {}
        obj.fileName = item.response.data.fileName
        obj.fileSize = item.response.data.fileSize
        obj.path = item.response.data.fileUrl
        obj.pathUrl = item.response.data.filePath
        obj.uid = item.uid

        objKey.fileName = item.response.data.fileName
        objKey.fileSize = item.response.data.fileSize
        objKey.path = item.response.data.filePath
        objNum.push(obj)
        postData.push(objKey)
      })
      objData.customData = objNum
      this.form.siteCustFile[wpsList.attachmentName] = postData
      this.pageSiteCustFile.push(objData)
    },

    // 用地自定义附件 添加文件&删除文件
    addChangeWps (value) {
      let addPost = this.pageSiteCustFile
      let newAddPost = []
      Array.isArray(addPost) && addPost.length > 0 && addPost.forEach((item) => {
        if (item.uid === value.uid) {
          item.customData = value.customData
          newAddPost.push(item)
        } else {
          newAddPost.push(item)
        }
      })
      this.pageSiteCustFile = newAddPost
      this.filterData(newAddPost)
    },

    // 用地自定义附件上传数据格式
    filterData (val) {
      let newPost = {}
      Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        let arr = []
        Array.isArray(item.customData) && item.customData.length > 0 && item.customData.forEach((key) => {
          let objArr = {}
          if (key.pathUrl) {
            objArr.fileName = key.name ? key.name : key.fileName ? key.fileName : ''
            objArr.fileSize = key.fileSize
            objArr.path = key.pathUrl
            arr.push(objArr)
          } else {
            let resPath = key.path && (key.path).split('/api/v1/zbkc/')[1]
            objArr.fileName = key.fileName
            objArr.fileSize = key.fileSize
            objArr.path = resPath
            arr.push(objArr)
          }
        })
        newPost[item.attachmentName] = arr
      })
      this.form.siteCustFile = newPost
    },

    // 建造自定义附件删除
    handleDeteleBuild (itemId) {
      let pageData = this.pageBuildCustFile
      let newData = pageData.filter(item => item.uid !== itemId)
      this.pageBuildCustFile = newData
      this.filterDataBuild(newData)
    },

    // 建造自定义附件添加
    changeWpsCustomBuild (wpsList) {
      let objData = {}
      objData.attachmentName = wpsList.attachmentName
      objData.uid = wpsList.customData[0].uid
      let objNum = []
      let postData = []
      Array.isArray(wpsList.customData) && wpsList.customData.length > 0 && wpsList.customData.forEach((item) => {
        let obj = {}
        let objKey = {}
        obj.fileName = item.response.data.fileName
        obj.fileSize = item.response.data.fileSize
        obj.path = item.response.data.fileUrl
        obj.pathUrl = item.response.data.filePath
        obj.uid = item.uid

        objKey.fileName = item.response.data.fileName
        objKey.fileSize = item.response.data.fileSize
        objKey.path = item.response.data.filePath
        objNum.push(obj)
        postData.push(objKey)
      })
      objData.customData = objNum
      this.form.buildCustFile[wpsList.attachmentName] = postData
      this.pageBuildCustFile.push(objData)
    },

    // 建造自定义附件 添加文件&删除文件
    addChangeWpsBuild (value) {
      let addPost = this.pageBuildCustFile
      let newAddPost = []
      Array.isArray(addPost) && addPost.length > 0 && addPost.forEach((item) => {
        if (item.uid === value.uid) {
          item.customData = value.customData
          newAddPost.push(item)
        } else {
          newAddPost.push(item)
        }
      })
      this.pageBuildCustFile = newAddPost
      this.filterDataBuild(newAddPost)
    },

    // 建造自定义附件上传数据格式
    filterDataBuild (val) {
      let newPost = {}
      Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        let arr = []
        Array.isArray(item.customData) && item.customData.length > 0 && item.customData.forEach((key) => {
          let objArr = {}
          if (key.pathUrl) {
            objArr.fileName = key.name ? key.name : key.fileName ? key.fileName : ''
            objArr.fileSize = key.fileSize
            objArr.path = key.pathUrl
            arr.push(objArr)
          } else {
            let resPath = key.path && (key.path).split('/api/v1/zbkc/')[1]
            objArr.fileName = key.fileName
            objArr.fileSize = key.fileSize
            objArr.path = resPath
            arr.push(objArr)
          }
        })
        newPost[item.attachmentName] = arr
      })
      this.form.buildCustFile = newPost
    },

    wyFilterData (val) {
      let arr = []
      val && Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        if (item.id) {
          delete item.id
          arr.push(item)
        } else {
          arr.push(item)
        }
      })
      return arr
    },

    // 开始时间改变
    landStartTimeChange () {
      // 校验结束时间
      this.$refs.form.validateField('strLandEndTime')
    },

    submitForm (formName) {
      setTimeout(() => {
        let resObj = []
        if (this.form.propertyStatusId === '43') {
          resObj = ['name', 'buildArea', 'landArea', 'propertyStatusId'] // 物业状态是在建时要校验的字段
        } else {
          resObj = [
            'belongPerson',
            'name',
            'propertyCode',
            'buildArea',
            'propertySourceId',
            // 'num',
            'propertyPlan',
            'operatesType',
            'propertyScaleId',
            'propertyStatusId',
            'operatesUnitId',
            // 'opreatesGroupId',
            'propertyTagId',
            'propertyTypeId',
            'landEndTime'
          ] // 物业状态是非在建时要校验的字段
        }
        let isPass = [] // 判断校验是否完全通过
        this.$refs[formName].validateField(resObj, (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })

        if ((isPass.length === 0) && this.isRepeat) {
          let params = {}
          let infoObj = {}
          infoObj.belongPerson = this.form.belongPerson
          infoObj.unitName = this.form.unitName
          infoObj.name = this.form.name
          infoObj.shortName = this.form.shortName
          infoObj.aliasName = this.form.aliasName
          infoObj.propertyCode = this.form.propertyCode
          infoObj.areaCode = this.form.areaCode
          infoObj.propertyIntroduction = this.form.propertyIntroduction
          infoObj.landArea = this.form.landArea
          infoObj.buildArea = this.form.buildArea
          infoObj.practicalArea = this.form.practicalArea
          infoObj.shareArea = this.form.shareArea
          infoObj.propertyPlan = this.form.propertyPlan // 物业规划用途
          infoObj.designUnit = this.form.designUnit
          infoObj.buildUnit = this.form.buildUnit
          infoObj.buildDescription = this.form.buildDescription
          infoObj.buildRemark = this.form.buildRemark
          infoObj.landStartTimeStr = this.form.strLandStartTime ? moment(this.form.strLandStartTime).format('YYYY-MM-DD') : ''
          infoObj.landEndTimeStr = this.form.strLandEndTime ? moment(this.form.strLandEndTime).format('YYYY-MM-DD') : ''
          infoObj.constructionUnit = this.form.constructionUnit
          infoObj.landDescription = this.form.landDescription
          infoObj.landRemark = this.form.landRemark
          infoObj.companyName = this.form.companyName
          infoObj.contacts = this.form.contacts
          infoObj.phone = this.form.phone
          infoObj.manageFee = this.form.manageFee
          infoObj.remark = this.form.remark
          infoObj.detailAddr = this.form.detailAddr
          // infoObj.num = this.form.num
          infoObj.longitude = this.form.longitude
          infoObj.latitude = this.form.latitude
          infoObj.assetType = this.form.assetType
          infoObj.propertyType = this.form.propertyType
          infoObj.operatesType = this.form.operatesType
          infoObj.operatesUnitId = this.form.operatesUnitId
          // infoObj.opreatesGroupId = this.form.opreatesGroupId
          infoObj.userId = this.form.userId
          infoObj.pid = this.form.pid
          infoObj.type = this.form.type
          infoObj.id = this.form.id
          if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
            infoObj.address = `${this.provincialLevel}${this.cityLevel}${this.areaLevel}${this.streetLevel}${this.committeeLevel}`
          } else {
            infoObj.address = this.form.address
          }
          params.info = infoObj
          params.acceptanceReportFile = this.form.acceptanceReportFile
          params.landTransferContractFile = this.form.landTransferContractFile
          params.constructPermitFile = this.form.constructPermitFile
          params.landPermitFile = this.form.landPermitFile
          params.propertyImg = this.form.propertyImg
          params.redLineFile = this.form.redLineFile
          params.wyFacilitiesInfo = this.wyFilterData(this.form.wyFacilitiesInfoList)
          params.propertyTag = this.form.propertyTagId
          params.propertyStatus = this.form.propertyStatusId
          params.propertyType = this.form.propertyTypeId
          params.propertyScale = this.form.propertyScaleId
          params.propertySource = this.form.propertySourceId
          params.wyTag = this.form.wyTagId // 物业标签
          // params.mainPurpos = this.form.mainPurposId
          params.buildCustFile = this.form.buildCustFile
          params.siteCustFile = this.form.siteCustFile
          if (JSON.stringify(params) !== JSON.stringify(this.oldData)) {
            editBuild(params).then((res) => {
              if (res.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '修改成功',
                  type: 'success'
                })
                this.$emit('event', this.form.id)
              } else {
                this.$message({
                  showClose: true,
                  message: res.data.errMsg,
                  type: 'warning'
                })
                return (this.oldData = {})
              }
            })
            this.oldData = params
          } else {
            this.$message({
              showClose: true,
              message: '请勿重复保存数据',
              type: 'warning'
            })
            this.oldData = params
          }
        }
      }, 0)
    },
    handleJump () {
      this.$router.push({ path: '/estate' })
    }
  },
  destroyed () {
    if (this.timer) clearTimeout(this.timer)
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
