<template>
  <div class="page-main">
    <div class="navBar">
      <Breadcrumb barName ="商业" :crumbKey="keyType" icon="el-icon-s-home" isBorder="true"></Breadcrumb>
      <div class="barBtn">
        <el-button class="btn" @click="goBack">返回目录</el-button>
      </div>
    </div>
    <div class="main-content">
      <!-- 物业结构 -->
      <div class="main-left" v-if="isTree">
        <el-tree style="width:480px;"
        :data="data"
        node-key="id"
        ref="tree"
        :empty-text="emptyText"
        :default-expanded-keys="defaultKeys"
        @node-click="handleNodeClick">
          <span class="custom-tree-node" slot-scope="{ node, data }">
            <span>{{ data.unitName }}</span>
            <span>
              <el-button type="text" size="mini" v-if="treeData.indexOf(data.id) !== -1" @click.stop="() => append(data)" >
                <i class="el-icon-plus" style=" background-color: #1286FF;color:#fff; padding:3px; border-radius: 3px;"></i>
              </el-button>
              <el-button type="text" size="mini" @click.stop="() => remove(node, data)">
                <i class="el-icon-delete" style="background-color: #D9534F;color:#fff; padding:3px; border-radius: 3px;"></i>
              </el-button>
            </span>
          </span>
        </el-tree>
      </div>
      <div class="info-content">
        <MainParkAdd v-if="keyType === '1'" @event="mainParkAddId($event)" :id="id"></MainParkAdd>
        <MainParkEdit v-if="keyType === '1-1'" @event="mainParkEditId($event)" :id="id"></MainParkEdit>
        <MainParkSee v-if="keyType === '1-2'" @event="mainParkSeeId($event)" :id="id"></MainParkSee>

        <MainBuildAdd v-if="keyType ==='7'" @event="mainBuildAddId($event)" :id="id"></MainBuildAdd>
        <MainBuildEdit v-if="keyType === '7-1'" @event="mainBuildEditId($event)" :id="id"></MainBuildEdit>
        <MainBuildSee v-if="keyType === '7-2'" @event="mainBuildSeeId($event)" :id="id"></MainBuildSee>

        <MainOtherAdd v-if="keyType ==='6'" @event="otherAddChangeId($event)" :id="id"></MainOtherAdd>
        <MainOtherEdit v-if="keyType ==='6-1'" @event="otherEditChangeId($event)" :id="id"></MainOtherEdit>
        <MainOtherSee v-if="keyType ==='6-2'" @event="otherSeeChangeId($event)" :id="id"></MainOtherSee>

        <BuildAdd v-if="keyType==='2'" @event="buildAddChangeId($event)" :id="id"></BuildAdd>
        <BuildEdit v-if="keyType==='2-1'" @event="buildEditChangeId($event)" :id="id" :pid="pid"></BuildEdit>
        <BuildSee v-if="keyType==='2-2'" @event="buildSeeChangeId($event)" :id="id" :pid="pid"></BuildSee>

        <FloorAdd v-if="keyType==='3'" @event="floorAddChangeId($event)" :id="id"></FloorAdd>
        <FloorEdit v-if="keyType==='3-1'" @event="floorEditChangeId($event)" :id="id" :pid="pid"></FloorEdit>
        <FloorSee v-if="keyType==='3-2'" @event="floorSeeChangeId($event)" :id="id" :pid="pid"></FloorSee>

        <RoomAdd v-if="keyType==='5'" @event="roomAddChangeId($event)" :id="id"></RoomAdd>
        <RoomEdit v-if="keyType==='5-1'" @event="roomEditChangeId($event)" :id="id" :pid="pid"></RoomEdit>
        <RoomSee v-if="keyType==='5-2'" @event="roomSeeChangeId($event)" :id="id" :pid="pid"></RoomSee>

      </div>
    </div>
  </div>
</template>
<script>
import Breadcrumb from '@/components/BreadCrum'

import MainParkAdd from './mainParkAdd'
import MainParkEdit from './mainParkEdit'
import MainParkSee from './mainParkSee'

import MainBuildAdd from './mainBuildAdd'
import MainBuildEdit from './mainBuildEdit'
import MainBuildSee from './mainBuildSee'

import MainOtherAdd from './mainOtherAdd'
import MainOtherEdit from './mainOtherEdit'
import MainOtherSee from './mainOtherSee'

import BuildAdd from './buildAdd'
import BuildEdit from './buildEdit'
import BuildSee from './buildSee'

import FloorAdd from './floorAdd'
import FloorEdit from './floorEdit'
import FloorSee from './floorSee'

import RoomAdd from './roomAdd'
import RoomEdit from './roomEdit'
import RoomSee from './roomSee'

import { getStructure, parkdelete } from './request.js'
export default {
  components: {
    Breadcrumb,

    MainParkAdd,
    MainParkEdit,
    MainParkSee,

    MainBuildAdd,
    MainBuildEdit,
    MainBuildSee,

    MainOtherAdd,
    MainOtherEdit,
    MainOtherSee,

    BuildAdd,
    BuildEdit,
    BuildSee,

    FloorAdd,
    FloorEdit,
    FloorSee,

    RoomAdd,
    RoomEdit,
    RoomSee
  },
  data () {
    return {
      emptyText: '暂无数据',
      data: [], // tree数据
      defaultKeys: [],
      isTree: true, // 是否显示tree
      keyType: '', // 组件显示判断条件
      type: '', // 父级type
      id: '', // 当前级id
      pid: '', // 父级id
      crumbKey: '',
      treeData: []
    }
  },
  created () {
    this.handleJump()
  },
  watch: { // 面包屑实时更新
    $route () {
      this.handleJump('details')
    }
  },
  methods: {
    handleJump (val) {
      let { id, type, stutas, userId } = this.$route.query
      if ((String(type) === '1') && (stutas === 'add')) { // 主题园区新增
        this.keyType = '1'
        this.isTree = false
      } else if ((String(type) === '1') && (stutas === 'edit')) { // 主题园区修改
        this.keyType = '1-1'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '1') && (stutas === 'see')) { // 主题园区查看
        this.keyType = '1-2'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '7') && (stutas === 'add')) { // 主题楼栋新增
        this.keyType = '7'
        this.isTree = false
      } else if ((String(type) === '7') && (stutas === 'edit')) { // 主题楼栋修改
        this.keyType = '7-1'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '7') && (stutas === 'see')) { // 主题楼栋查看
        this.keyType = '7-2'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '6') && (stutas === 'add')) { // 零散主题新增
        this.keyType = '6'
        this.isTree = false
      } else if ((String(type) === '6') && (stutas === 'edit')) { // 零散主题修改
        this.keyType = '6-1'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '6') && (stutas === 'see')) { // 零散主题查看
        this.keyType = '6-2'
        this.id = id
        this.isTree = true
        if (val !== 'details') {
          this.propertyStructure(id, userId)
        }
        sessionStorage.setItem('treeId', id)
      } else if ((String(type) === '2') && (stutas === 'add')) { // 楼栋新增
        this.keyType = '2'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((String(type) === '2') && (stutas === 'edit')) { // 楼栋修改
        this.keyType = '2-1'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((String(type) === '2') && (stutas === 'see')) { // 楼栋查看
        this.keyType = '2-2'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((String(type) === '3') && (stutas === 'add')) { // 楼层新增
        this.keyType = '3'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((String(type) === '3') && (stutas === 'edit')) { // 楼层修改
        this.keyType = '3-1'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((String(type) === '3') && (stutas === 'see')) { // 楼层查看
        this.keyType = '3-2'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((
        (String(type) !== '1') ||
        (String(type) !== '2') ||
        (String(type) !== '3') ||
        (String(type) !== '6') ||
        (String(type) !== '7')
      ) && (stutas === 'add')) { // 室&单元新增
        this.keyType = '5'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((
        (String(type) !== '1') ||
        (String(type) !== '2') ||
        (String(type) !== '3') ||
        (String(type) !== '6') ||
        (String(type) !== '7')
      ) && (stutas === 'edit')) { // 室&单元修改
        this.keyType = '5-1'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      } else if ((
        (String(type) !== '1') ||
        (String(type) !== '2') ||
        (String(type) !== '3') ||
        (String(type) !== '6') ||
        (String(type) !== '7')
      ) && (stutas === 'see')) { // 室&单元查看
        this.keyType = '5-2'
        this.id = id
        this.isTree = true
        let tree = sessionStorage.getItem('treeId')
        let userCard = sessionStorage.getItem('userId')
        if (val !== 'details') {
          this.propertyStructure(tree, userCard)
        }
      }
    },
    goBack () {
      this.$router.push({ path: '/business' })
    },
    propertyStructure (id, userId) {
      let params = `?id=${id}&userId=${userId}`
      getStructure(params).then((res) => {
        this.handleTreeData(res.data.data)
        if (res.data.code === 0) {
          this.data = res.data.data
          this.defaultKeys.push((res.data.data)[0].id)
        } else {
          this.$message({
            showClose: true,
            message: res.data.errMsg,
            type: 'warning'
          })
          this.emptyText = res.data.errMsg
        }
      })
    },

    handleTreeData (val) {
      let treeLevel = ['1', '2', '3', '6', '7']
      Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        if (treeLevel.indexOf(String(item.type)) !== -1) {
          this.treeData.push(item.id)
        }
        if (('children' in item) && (Array.isArray(item.children)) && (item.children.length > 0)) {
          this.handleTreeData(item.children)
        }
      })
    },

    // 园区主体新增
    mainParkAddId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '1', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 园区主体修改
    mainParkEditId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '1', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 园区主体查看
    mainParkSeeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '1', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 楼栋主体新增
    mainBuildAddId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '7', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 楼栋主体修改
    mainBuildEditId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '7', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 楼栋主体查看
    mainBuildSeeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '7', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 零散主体新增
    otherAddChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '6', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 零散主体修改
    otherEditChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '6', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 零散主体查看
    otherSeeChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '6', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 新增楼栋
    buildAddChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '2', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 修改楼栋
    buildEditChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '2', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 查看楼栋
    buildSeeChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '2', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 新增楼层
    floorAddChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 修改楼层
    floorEditChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 查看楼层
    floorSeeChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 新增室&单元
    roomAddChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5' || '4', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 修改室&单元
    roomEditChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5' || '4', stutas: 'see', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    // 查看室&单元
    roomSeeChangeId (id) {
      let { userId } = this.$route.query
      this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5' || '4', stutas: 'edit', userId: userId } })
      setTimeout(() => {
        this.handleJump()
      }, 0)
    },

    append (data) {
      sessionStorage.setItem('treeItemData', JSON.stringify(data))
      let id = data.id
      this.id = id
      this.type = data.type
      this.pid = data.pid
      if (String(data.type) === '1') { // 主体园区
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '2', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      } else if (String(data.type) === '2') { // 楼栋
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      } else if (String(data.type) === '3') { // 楼层
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      } else if (String(data.type) === '6') { // 主体零散
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      } else if (String(data.type) === '7') { // 主体楼栋
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      } else {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5', stutas: 'add', userId: data.userId, propertyTagId: data.propertyTagId } })
        setTimeout(() => {
          this.handleJump('details')
        }, 0)
      }
    },

    handleNodeClick (data) { // 跳转详情
      sessionStorage.setItem('treeItemData', JSON.stringify(data))
      let id = data.id
      this.id = id
      this.pid = data.pid
      if (String(data.type) === '1') {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '1', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      } else if (String(data.type) === '2') {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '2', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      } else if (String(data.type) === '3') {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '3', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      } else if (String(data.type) === '6') {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '6', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      } else if (String(data.type) === '7') {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '7', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      } else {
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: '5', stutas: 'see', userId: data.userId } })
        this.handleJump('details')
      }
    },

    remove (node, data) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '温馨提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let user = sessionStorage.getItem('userId')
        if (data.userId === user) {
          parkdelete(data.id).then((res) => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              if ((data.type === 1) || (data.type === 6) || (data.type === 7)) {
                this.$router.push({path: '/business'})
              } else {
                if (String(data.type) === '2') {
                  this.$router.push({ path: '/business/mainPark', query: { id: data.pid, type: '1', stutas: 'see', userId: data.userId } })
                } else if (String(data.type) === '3') {
                  this.$router.push({ path: '/business/mainPark', query: { id: data.pid, type: '2', stutas: 'see', userId: data.userId } })
                } else {
                  this.$router.push({ path: '/business/mainPark', query: { id: data.pid, type: '3', stutas: 'see', userId: data.userId } })
                }
              }
              this.handleJump()
            } else {
              this.$message({
                showClose: true,
                message: res.data.errMsg,
                type: 'warning'
              })
            }
          })
        } else {
          this.$message({
            type: 'warning',
            message: '对不起，您无权删除该文件!'
          })
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
