<template>
  <div class="title-bar" :class="isBorder ? 'bar-leftBorder' : 'bar-border'">
    <i class="icon" :class="iconTip"></i>
    <el-breadcrumb separator-class="el-icon-arrow-right" class="bar">
      <el-breadcrumb-item v-for="(item, index) in breadList" :key="index" :to="item.path">
        {{item.meta.title}}
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
import crumbs from '../crumbs.js'
export default {
  name: 'Breadcrumb',
  props: ['barName', 'crumbKey', 'icon', 'isBorder', 'property'],
  data () {
    return {
      breadList: [],
      iconTip: this.icon ? this.icon : 'el-icon-s-order'
    }
  },
  created () {
    this.getBreadcrumb()
  },
  watch: {
    $route () {
      this.getBreadcrumb()
    }
  },
  methods: {
    getBreadcrumb () {
      if (this.barName) {
        this.breadList = crumbs[this.barName]
        if (this.crumbKey) {
          let children = (crumbs['子级'])[this.crumbKey]
          let barArr = (crumbs[this.barName]).concat(children)
          this.breadList = barArr
        }
      } else {
        let matched = this.$route.matched.filter(item => item.name)
        matched.splice(0, 1)
        matched = [{ path: '', meta: { title: this.property } }].concat(matched)
        this.breadList = matched
      }
    }
  }
}
</script>

<style lang="less" scoped>
.title-bar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  align-items: center;
  display: flex;
}
.bar-leftBorder {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.toa {
  color: #7891c1;
  font-weight: bolder;
}
.noa {
  color: #7891c1 !important;
}
.bar-border {
  border-radius: 6px;
}
.icon {
  margin-left: 16px;
  color: #7891c1;
}
.bar {
  margin-left: 8px;
}
/deep/.el-breadcrumb__inner{
    color: #7891c1 !important;
}
</style>
