.file-list {
  display: inline-block;
  .el-upload__tip {
    line-height: 14px;
  }
}
/deep/ .el-icon-close:before {
  color: #d86e17 !important;
  content: "\e6d7" !important;
}
/deep/.el-upload-list__item.is-success.focusing .el-icon-close-tip {
  display: none !important;
}