<template>
  <div class="file-list">
    <el-upload class="upload-demo" :action="doupload()" :before-upload="beforeUpload" :on-success="uploadOK" :on-change="handleChangeFile" :file-list="fileList" :show-file-list="false">
      <el-button class="handle-el-icon" type="primary">上传</el-button>
    </el-upload>
  </div>
</template>

<script>
import { fileUpload } from '@/until/api.js'

export default {
  props: [
    'fileSize', // 文件限制大小
    'filesList', // 文件列表
    'businessId' // 上传文件需要的id
  ],
  data () {
    return {
      fileId: '',
      fileList: []
    }
  },
  watch: {
    'filesList': function (newVal) {
      newVal && Array.isArray(newVal) && newVal.length > 0 && newVal.forEach((item) => {
        let obj = {}
        obj.name = item.fileName
        obj.url = item.path
        obj.id = item.id
        this.fileList.push(obj)
      })
    }
  },
  created () {
    this.filesList && Array.isArray(this.filesList) && this.filesList.length > 0 && this.filesList.forEach((item) => {
      let obj = {}
      obj.name = item.fileName
      obj.url = item.path
      obj.id = item.id
      this.fileList.push(obj)
    })
  },
  methods: {
    doupload () {
      return '/zbkc/fileUpload/upload'
    },
    beforeUpload (file) {
      //  表单提交方式
      let FormDatas = new FormData()
      FormDatas.append('file', file)
      FormDatas.append('ywHandlerDetailsId', this.businessId) // 其他参数
      // 判断上传格式
      let nameKey = file.name
      let wpsSuffix = nameKey && nameKey.substring(nameKey.lastIndexOf('.') + 1, nameKey.length)
      const isJPG = this.fileFormat || ['doc', 'cad', 'txt', 'pdf', 'xls', 'docx', 'xlsx', 'zip', 'rar', 'jpg', 'jpeg', 'png', 'gif']
      const isLt2M = (file.size / 1024 / 1024) < (this.fileSize || 30)
      if (isJPG.indexOf(wpsSuffix) === -1) {
        this.$message.error(`上传文件只能是 ${isJPG.join('、')}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      fileUpload(FormDatas).then(res => {
        if (res.data.code === 0) {
          this.fileId = res.data.data.id
          this.$emit('getRefresh')
        } else {
          this.$message.warning(res.data.errMsg)
        }
      })
      // return isJPG && isLt2M
    },

    uploadOK (response, file, fileList) {
      this.fileList = fileList
      this.$message({
        message: '上传成功',
        type: 'success'
      })
    },
    handleChangeFile () {
      if (this.fileList.length > 1) {
        this.fileList.splice(0, 1)
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
