<template>
  <div class="main-right">
    <el-form :model="form" :rules="rules" ref="form" label-width="126px">
      <div class="title-name">
        <h3>{{formName}}</h3>
        <el-form-item style="margin-top:10px">
          <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
          <el-button style="width:86px;height:38px;font-size: 16px;" @click="handleJump">取消</el-button>
        </el-form-item>
      </div>
      <div class="btn">
        <div class="btn-content">
          <div style="margin-top:3px">
            <el-radio-group v-model="radio">

              <el-radio-button label="基础信息" @change.native="changColor(1)">
                <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;基础信息
              </el-radio-button>

              <!-- <el-radio-button label="附属设施" @change.native="changColor(4)">
                <i :class="{ 'el-icon-warning': isMakeError,'el-icon-success':isMakeActive }" :style="{color:(isMakeIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;附属设施
              </el-radio-button> -->

            </el-radio-group>
          </div>
        </div>
      </div>

      <!-- 基础信息 -->
      <div class="main-content">
        <div class="center-content">
          <div class="add-content">
            <div id="1">
              <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:50%;">
                  <el-radio-group v-model="form.propertyTagId">
                    <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id" disabled>{{item.name}}</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" maxlength="51" disabled placeholder="请输入权属所有人"></el-input>
                </el-form-item>
              </div>
              <Title titleName="基础信息"></Title>
              <div class="base-content">
                <el-form-item label="关联物业：" class="item-form" prop="relatedProperty">
                  <el-input v-model="form.relatedProperty" maxlength="51" @blur="handdleIsBase" disabled placeholder="请输入关联物业"></el-input>
                </el-form-item>
                <el-form-item label="关联物业规模：" class="item-form" prop="relatedScaleName">
                  <el-input v-model="form.relatedScaleName" maxlength="51" disabled @blur="handdleIsBase" placeholder="请输入关联物业规模"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="楼栋名称：" style="width:100%;" prop="unitName" class="item-form">
                  <el-input v-model.trim="form.unitName" maxlength="101" @blur="handdleIsBase" placeholder="请输入楼栋名称" disabled></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业名称：" prop="name" class="item-form">
                  <el-input v-model="form.name" maxlength="101" disabled @blur="handdleIsBase" placeholder="请输入物业名称"></el-input>
                </el-form-item>

                <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
                  <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @change="handdleIsBase">
                    <el-option v-for="item in propertyScale" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

               <div style="margin-right:24px;">
                <el-form-item label="物业地址：" prop="detailAddr" style="width:100%;">
                  <el-input v-model="form.detailAddr" maxlength="51" disabled @blur="handdleIsBase" placeholder="请输入物业地址"></el-input >
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
                  <el-input v-model="form.buildArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入建筑面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="实用面积：" class="item-form" prop="practicalArea">
                  <el-input v-model="form.practicalArea" maxlength="16" @blur="handdleIsBase"  placeholder="请输入实用面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                </div>
                <div class="base-content">
                <el-form-item label="用地面积：" class="item-form" prop="landArea">
                  <el-input v-model="form.landArea" @blur="handdleIsBase" placeholder="请输入用地面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>

                <el-form-item label="公摊面积：" class="item-form" prop="shareArea">
                  <el-input v-model="form.shareArea" maxlength="16" @blur="handdleIsBase"  placeholder="请输入公摊面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业编号：" class="item-form" prop="propertyCode"  >
                  <el-input v-model="form.propertyCode"  maxlength="51" disabled @blur="handdleIsBase" placeholder="请输入物业编号"></el-input>
                </el-form-item>

                <el-form-item label="楼栋编码：" prop="houseCode" class="item-form" >
                  <el-input v-model="form.houseCode" maxlength="51" @blur="handdleIsBase" placeholder="请输入楼栋编码"></el-input>
                </el-form-item>
              </div>

               <div class="base-content">
                <el-form-item label="物业别名/曾用名：" class="item-form" prop="aliasName">
                  <el-input v-model="form.aliasName" maxlength="51" placeholder="请输入物业别名/曾用名" @blur="handdleIsBase"></el-input>
                </el-form-item>
              </div>

              <!-- <div class="base-content">
    <el-form-item label="物业状态：" class="item-form" style="width:100%;">
    <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyStatus"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div> -->

              <!-- <div class="base-content">
                <el-form-item label="物业简介：" style="width:100%;" prop="propertyIntroduction">
                  <el-input type="textarea" :rows="8" maxlength="1001" v-model="form.propertyIntroduction" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
                </el-form-item>
              </div> -->

             <div class="base-content" v-if="isLable">
                <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div class="base-content" v-if="isLable">
                <!-- <el-form-item label="楼层数量：" class="item-form" prop="num">
                  <el-input v-model="form.num" @blur="handdleIsBase" maxlength="16" placeholder="请输入楼层数量">
                    <template slot="append">层</template>
                  </el-input>
                </el-form-item> -->
                <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan">
                  <el-input v-model="form.propertyPlan" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
                </el-form-item>
              </div>

              <!-- <div v-if="Array.isArray(floorList) && floorList.length > 0">
                <el-form-item label="层高承重：" class="item-form">
                  <el-table :data="floorList" style="width:98.5%">
                    <el-table-column type="index" label="序号" align="center" width="60px" style="padding:0"></el-table-column>
                    <el-table-column prop="unitName" label="楼层名称" align="center" style="padding:0"></el-table-column>
                    <el-table-column prop="num" label="楼层数量" align="center" style="padding:0"></el-table-column>
                    <el-table-column prop="storeyHeight" label="层高（m）" align="center" style="padding:0"></el-table-column>
                    <el-table-column prop="loadBearer" label="承重（kg）" align="center" style="padding:0"></el-table-column>
                  </el-table>
                </el-form-item>
              </div> -->

            </div>

            <!-- 附属设施信息 -->
            <div id="4" style="margin-top:24px">
              <Title titleName="附属设施信息"></Title>
              <div>
                <el-form-item label="附属设施列表：" class="item-form">
                  <AddTable
                  :wyFacilitiesInfoList="form.wyFacilitiesInfoList"
                  @event="addTablechange($event)"
                  :estateName='form.name'
                  labelName='楼栋名称'
                  isShow='1'
                  isCheck='1'
                  isBuild='1'>
                  </AddTable>
                </el-form-item>
              </div>
            </div>

          </div>
        </div>
      </div>

    </el-form>
  </div>
</template>
<script>
import Title from '@/components/title.vue'
import AddTable from '../component/table.vue'
import { selectTag } from '@/views/incubationPark/mainPark/request.js'
import {
  viewBuild, editBuild, propertyCode, assetName
  // propertyName
} from '../request.js'
// import { listNoPage } from '../../../../until/api'

export default {
  components: { Title, AddTable },
  props: ['id', 'pid'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    let isValue100 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 100) {
          callback(new Error('输入字数已超过100字'))
        } else {
          callback()
        }
      }
    }

    // let isValue1000 = (rule, value, callback) => {
    //   if (value) {
    //     if (value.length >= 1000) {
    //       callback(new Error('输入字数已超过1000字'))
    //     } else {
    //       callback()
    //     }
    //   }
    // }

    return {
      formName: '',
      radio: '基础信息',
      params: {},
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isMakeIcon: false,
      isMakeActive: false,
      isMakeError: true,
      isLable: false, // 国企物业新增显隐
      wyTag: [], // 物业标签数组
      propertyTag: [],
      propertyStatus: [],
      propertyScale: [],
      propertyType: [],
      propertySource: [],
      mainPurpose: [],
      buildList: [],
      addressArr: [],
      floorList: [],
      oldData: {},
      oldDetailAddr: '',
      timer: null,
      oldUnitName: '',
      isRepeat: true,
      isSave: true,
      form: {
        relatedProperty: '',
        relatedScaleName: '',
        id: '',
        pid: '',
        propertyTagId: '',
        unitName: '',
        name: '',
        type: 2,
        shortName: '园区',
        aliasName: '',
        propertyPlan: '', // 物业规划用途
        wyTagId: '', // 物业标签
        belongPerson: '', // 权属所有人
        // propertyStatusId: '',
        propertyScaleId: '',
        propertyCode: '', // 物业编码
        houseCode: '', // 楼栋编码
        // propertyIntroduction: '',
        propertyTypeId: [],
        buildArea: '',
        landArea: '',
        num: '',
        practicalArea: '',
        shareArea: '',
        wyFacilitiesInfoList: [],
        userId: '',
        detailAddr: ''
      },
      rules: {
        relatedProperty: [
          { required: true, message: '请输入关联物业', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        relatedScaleName: [
          { required: true, message: '请输入关联物业规模', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        unitName: [
          { required: true, message: '请输入楼栋名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue100, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue100, trigger: 'blur' }

        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        houseCode: [
          { required: true, message: '请输入楼栋编码', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        num: [
          { required: true, message: '请输入楼层数量', trigger: 'blur' },
          { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        // propertyStatusId: [
        //   { required: true, message: '请选择物业状态', trigger: 'change' }
        // ],
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        propertyTypeId: [
          { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        ],
        detailAddr: [
          { required: true, message: '请输入物业地址', trigger: 'blur' },
          { type: 'string', required: false, validator: isValue50, trigger: 'blur' }
        ],
        propertyKey: [ // 物业规划用途
          { required: true, message: '请输入物业名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        practicalArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        shareArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ]
        // propertyIntroduction: [
        //   { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        // ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    propertyCode().then((res) => {
      this.form.propertyCode = res.data.data
    })
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      console.log()
      this.propertyScale = res.data.data
    })
    // selectTag('property_type2').then(res => {
    //   this.propertyType = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    this.propertyType = JSON.parse(sessionStorage.getItem('treeItemData')).wyTypes
    selectTag('property_source').then(res => {
      this.propertySource = res.data.data
    })
    selectTag('main_purpos').then(res => {
      this.mainPurpose = res.data.data
    })
    this.handleEditDetail(this.id)
  },

  watch: {
    'id': function (newId) {
      this.handleEditDetail(newId)
    }
  },

  updated () {
    this.handleMake()
    this.handdleIsBase()
  },

  methods: {
    handleEditDetail (keyId) {
      viewBuild(keyId).then((res) => {
        if (res.data.code === 0) {
          let {
            floorList = [],
            info = {},
            propertyScale = [],
            // propertyStatus = [],
            propertyTag = [],
            wyTag = [],
            wyTypes = [],
            propertyType = [],
            wyFacilitiesInfoList = [],
            relationName,
            relationScale
          } = res.data.data
          this.propertyType = wyTypes
          // 国企物业编辑回显
          if (Array.isArray(propertyTag) && propertyTag.length > 0 && String(propertyTag[0].id) === '10') {
            this.isLable = true
            this.rules.houseCode[0].required = false
          } else {
            this.isLable = false
            this.rules.houseCode[0].required = true
          }
          let propertyTagId = Array.isArray(propertyTag) && propertyTag.length > 0 && propertyTag[0].id ? propertyTag[0].id : ''
          let propertyTypeId = this.handleFilter(propertyType)
          let wyTagId = this.handleFilter(wyTag)
          let propertyScaleId = Array.isArray(propertyScale) && propertyScale.length > 0 && propertyScale[0].id ? propertyScale[0].id : '14'
          // let propertyStatusId = Array.isArray(propertyStatus) && propertyStatus.length > 0 && propertyStatus[0].id ? propertyStatus[0].id : ''
          this.floorList = floorList
          this.formName = info.name
          this.oldUnitName = info.unitName
          this.oldDetailAddr = info.detailAddr && info.unitName && (info.detailAddr.indexOf(info.unitName) !== -1) ? info.detailAddr.split(info.unitName)[0] : ''
          this.form = {
            relatedProperty: relationName,
            relatedScaleName: relationScale,
            unitName: info.unitName, // 楼栋名称
            name: info.name, // 物业名称
            id: info.id,
            pid: info.pid,
            userId: info.userId,
            type: info.type,
            propertyPlan: info.propertyPlan, // 物业规划用途
            wyTagId: wyTagId, // 物业标签
            propertyTagId: propertyTagId,
            belongPerson: info.belongPerson ? info.belongPerson : JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
            aliasName: info.aliasName,
            propertyTypeId: propertyTypeId,
            // propertyStatusId: propertyStatusId,
            propertyScaleId: propertyScaleId,
            num: info.num,
            propertyCode: info.propertyCode,
            houseCode: info.houseCode ? info.houseCode : '',
            // propertyIntroduction: info.propertyIntroduction,
            detailAddr: info.detailAddr,
            buildArea: info.buildArea ? info.buildArea : '',
            landArea: info.landArea ? info.landArea : '',
            practicalArea: info.practicalArea ? info.practicalArea : '',
            shareArea: info.shareArea ? info.shareArea : '',
            wyFacilitiesInfoList: wyFacilitiesInfoList
          }
        }
      })
    },
    remoteMethod (rule, value, callback) {
      if (this.isSave) {
        this.form.name = ''
        this.form.detailAddr = ''
        if ((value !== '') && (value !== this.oldUnitName)) {
          if (this.timer) clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            let params = `?name=${this.form.relatedProperty + value}&pid=${this.form.pid}`
            assetName(params).then((res) => {
              console.log(params, 'params')
              if (res.data.code === 0) {
                this.form.name = this.form.relatedProperty + value
                this.form.detailAddr = this.oldDetailAddr + value
                callback()
                this.isRepeat = true
              } else {
                this.form.name = ''
                this.form.detailAddr = ''
                callback(new Error(`${res.data.errMsg}，请重新输入`))
                this.isRepeat = false
              }
            })
          }, 300)
        } else {
          this.form.name = this.form.relatedProperty + value
          this.form.detailAddr = this.oldDetailAddr + value
        }
      }
    },

    handleJump () {
      this.$emit('event', this.form.id)
    },

    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },

    addTablechange (val) {
      this.form.wyFacilitiesInfoList = val
    },

    handleFilter (value) {
      let arr = []
      value && Array.isArray(value) && value.length > 0 && value.forEach((item) => {
        arr.push(item.id)
      })
      return arr
    },
    handleMake () {
      const { wyFacilitiesInfoList } = this.form
      if (Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0) {
        this.isMakeIcon = true
        this.isMakeActive = true
        this.isMakeError = false
      }
    },

    handdleIsBase () {
      const {
        propertyPlan,
        wyTagId,
        unitName,
        name,
        shortName,
        aliasName,
        propertyKey,
        // propertyStatusId,
        propertyScaleId,
        propertyCode,
        houseCode,
        // propertyIntroduction,
        propertyTypeId,
        detailAddr,
        buildArea,
        landArea,
        practicalArea,
        shareArea,
        relatedProperty,
        relatedScaleName
      } = this.form
      if (
        unitName ||
        name ||
        shortName ||
        aliasName ||
        propertyKey ||
        // propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        houseCode ||
        // propertyIntroduction ||
        propertyPlan ||
        wyTagId.length > 0 ||
        propertyTypeId.length > 0 ||
        detailAddr ||
        buildArea ||
        landArea ||
        practicalArea ||
        shareArea ||
        this.buildList.length > 0 ||
        relatedProperty ||
        relatedScaleName
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    wyFilterData (val) {
      let arr = []
      val && Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        if (item.id) {
          delete item.id
          arr.push(item)
        } else {
          arr.push(item)
        }
      })
      return arr
    },

    submitForm (formName) {
      this.isSave = false
      setTimeout(() => {
        let isPass = []
        this.$refs[formName].validateField([
          'belongPerson',
          'relatedProperty',
          'relatedScaleName',
          'unitName',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'num',
          'detailAddr',
          'propertyPlan',
          'propertyScaleId',
          'propertyTagId',
          'propertyTypeId'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })
        if ((isPass.length === 0) && this.isRepeat) {
          let params = {}
          let infoObj = {}
          infoObj.userId = this.form.userId
          infoObj.belongPerson = this.form.belongPerson
          infoObj.unitName = this.form.unitName
          infoObj.name = this.form.name
          infoObj.aliasName = this.form.aliasName
          infoObj.houseCode = this.form.houseCode
          infoObj.propertyCode = this.form.propertyCode
          // infoObj.propertyIntroduction = this.form.propertyIntroduction
          infoObj.landArea = this.form.landArea
          infoObj.buildArea = this.form.buildArea
          infoObj.practicalArea = this.form.practicalArea
          infoObj.shareArea = this.form.shareArea
          infoObj.detailAddr = this.form.detailAddr
          infoObj.type = this.form.type
          infoObj.pid = this.form.pid
          infoObj.id = this.form.id
          infoObj.shortName = this.form.shortName
          infoObj.num = this.form.num
          infoObj.propertyPlan = this.form.propertyPlan
          params.info = infoObj
          params.propertyScale = this.form.propertyScaleId
          params.wyFacilitiesInfo = this.wyFilterData(this.form.wyFacilitiesInfoList)
          params.propertyTag = this.form.propertyTagId
          // params.propertyStatus = this.form.propertyStatusId
          params.propertyType = this.form.propertyTypeId
          params.wyTag = this.form.wyTagId
          if (JSON.stringify(params) !== JSON.stringify(this.oldData)) {
            editBuild(params).then((res) => {
              if (res.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '修改成功',
                  type: 'success'
                })
                this.$emit('event', this.form.id)
              } else {
                this.$message({
                  showClose: true,
                  message: res.data.errMsg,
                  type: 'warning'
                })
                return (this.oldData = {})
              }
            })
            this.oldData = params
          } else {
            this.$message({
              showClose: true,
              message: '请勿重复保存数据',
              type: 'warning'
            })
            this.oldData = params
          }
        }
        this.isSave = true
      }, 0)
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
