<template>
  <el-dialog :title="activeName === 'add' ? '新增委托运营' : '修改委托运营'" :width="'1360px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="240px">
      <el-form-item label="物业名称:" prop="wyBasicInfoId">
        <el-select v-if="this.activeName==='add'" v-model="ruleForm.wyBasicInfoId" filterable clearable :filter-method="filterWy" @focus="focusWy" @change="wyBasicInfoChange" @clear="handleWyClear" placeholder="请选择">
          <el-option v-for="(item,index) in optionsFilter" :key="'wyBasicInfoId1_'+index" :label="item.unitName" :value="item.id"></el-option>
        </el-select>
        <!-- <el-select v-model="ruleForm.wyBasicInfoId" filterable clearable :filter-method="filterWy" @focus="focusWy" placeholder="请选择" v-if="this.activeName!=='add'" disabled>
          <el-option v-for="(item,index) in optionsFilter" :key="'wyBasicInfoId2_'+index" :label="item.unitName" :value="item.id"></el-option>
        </el-select> -->
        <el-input v-if="this.activeName!='add'" disabled :value="getWyName(ruleForm.wyBasicInfoId)"></el-input>
      </el-form-item>
      <el-form-item label="建筑面积（㎡）:">
        <el-input v-model="ruleForm.buildArea" disabled></el-input>
      </el-form-item>
      <el-form-item label="运营起始日期:" prop="startTime">
        <el-date-picker v-model="ruleForm.startTime" type="date" placeholder="选择日期" style="width:333.19px" value-format="yyyy-MM-dd">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="运营截止日期:" prop="endTime">
        <el-date-picker v-model="ruleForm.endTime" type="date" placeholder="选择日期" style="width:333.19px" value-format="yyyy-MM-dd">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="运营单位名称:" prop="operationUnit">
        <el-input v-model="ruleForm.operationUnit"></el-input>
      </el-form-item>
      <el-form-item label="统一社会信用代码:" prop="creditCode">
        <el-input v-model="ruleForm.creditCode"></el-input>
      </el-form-item>
      <el-form-item label="法定代表人姓名:" prop="legalName">
        <el-input v-model="ruleForm.legalName"></el-input>
      </el-form-item>
      <el-form-item label="法定代表人联系方式:" prop="legalPhone">
        <el-input v-model="ruleForm.legalPhone"></el-input>
      </el-form-item>
      <el-form-item label="法定代表人证件类型:" prop="legalType">
        <el-select v-model="ruleForm.legalType" placeholder="请选择">
          <el-option v-for="item in legalTypeOptions" :key="item.legalValue" :label="item.legalLabel" :value="item.legalValue">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="法定代表人证件号码:" prop="legalCode">
        <el-input v-model="ruleForm.legalCode"></el-input>
      </el-form-item>
      <el-form-item label="代理人联系方式:" prop="agentPhone">
        <el-input v-model="ruleForm.agentPhone"></el-input>
      </el-form-item>
      <el-form-item label="代理人姓名:" prop="agentName">
        <el-input v-model="ruleForm.agentName"></el-input>
      </el-form-item>
      <el-form-item label="代理人证件类型:" prop="agentType">
        <el-select v-model="ruleForm.agentType" placeholder="请选择">
          <el-option v-for="item in legalTypeOptions" :key="item.legalValue" :label="item.legalLabel" :value="item.legalValue">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="代理人证件号码:" prop="agentCode">
        <el-input v-model="ruleForm.agentCode"></el-input>
      </el-form-item>
      <el-form-item label="运营费用:" prop="operationMoney">
        <el-input v-model="ruleForm.operationMoney"></el-input>
      </el-form-item>
      <el-form-item label="备注:" prop="remark">
        <el-input v-model="ruleForm.remark"></el-input>
      </el-form-item>
      <el-form-item label="附件材料:">
        <div class="file-item">
          <div class="lb">使用批准文件</div>
          <UploadWps @event="changeWps1($event)" :filesList="fileTarget1" :is-multiple="true" isEdit="edit"></UploadWps>
        </div>
        <div class="file-item">
          <div class="lb">合同</div>
          <UploadWps @event="changeWps2($event)" :filesList="fileTarget2" :is-multiple="true" isEdit="edit"></UploadWps>
        </div>
        <div class="file-item">
          <el-button type="primary" @click="addCustomFile">添加自定义附件</el-button>
        </div>
        <div v-for="(item,index) in fileTarget3" v-bind:key="index" class="file-item">
          <div class="lb">
            <el-input class="file-label" placeholder="自定义名称" v-model="item.name"></el-input>
          </div>
          <UploadWps @event="changeWps3($event,index)" :filesList="item.files" :is-multiple="true" isEdit="edit"></UploadWps>
          <el-button type="danger" @click="delCustomFile(index)" style="height:30px">删除</el-button>
        </div>
      </el-form-item>

    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')" :disabled="submitDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { addOperation, updOperation, getWyBasicInfoBatch } from '@/until/api.js'
import { allProRight, listId } from './request'
import UploadWps from '@/components/uploadWps1.vue'
export default {
  inject: ['reload'],
  components: {
    UploadWps
  },
  data () {
    return {
      activeName: 'add',
      dialogFormVisible: false,
      submitDisabled: false,
      options: [],
      optionsFilter: [],
      // 法定代表人证件类型
      legalTypeOptions: [{
        legalValue: '1',
        legalLabel: '身份证'
      }, {
        legalValue: '2',
        legalLabel: '护照'
      }],
      ruleForm: {
        wyBasicInfoId: '', // 房地产名称id
        buildArea: '',
        startTime: '', // 开始时间
        endTime: '', // 结束时间
        operationUnit: '', // 运营单位名称
        creditCode: '', // 统一社会信用代码
        legalName: '', // 法定代表人姓名
        legalPhone: '', // 法定代表人联系方式
        legalType: '', // 法定代表人证件类型
        legalCode: '', // 法定代表人证件号码
        agentPhone: '', // 代理人联系方式
        agentName: '', // 代理人姓名
        agentType: '', // 代理人类型
        agentCode: '', // 代理人证件号码
        operationMoney: '', // 运营费用
        remark: '', // 备注
        userId: '', // 用户id
        custProRightFile: []// List<YyUseRegFilePath1>自定义附件
      },
      rules: {
        wyBasicInfoId: [{ required: true, message: '请选择物业', trigger: 'change' }],
        startTime: [{ required: true, message: '请选择运营起始日期', trigger: 'change' }],
        endTime: [{ required: true, message: '请选择运营截止日期', trigger: 'change' }],
        operationUnit: [{ required: true, message: '请输入运营单位名称', trigger: 'blur' }],
        creditCode: [{ required: true, message: '请输入统一社会信用代码', trigger: 'blur' }],
        legalName: [{ required: true, message: '请输入法定代表人姓名', trigger: 'blur' }],
        legalPhone: [{ required: true, message: '请输入法定代表人联系方式', trigger: 'blur' }],
        legalType: [{ required: true, message: '请选择法定代表人证件类型', trigger: 'change' }],
        legalCode: [{ required: true, message: '请输入法定代表人证件号码', trigger: 'blur' }],
        agentPhone: [{ required: true, message: '请输入代理人联系方式', trigger: 'blur' }],
        agentName: [{ required: true, message: '请输入代理人姓名', trigger: 'blur' }],
        agentType: [{ required: true, message: '请选择代理人证件类型', trigger: 'change' }],
        agentCode: [{ required: true, message: '请输入代理人证件号码', trigger: 'blur' }],
        operationMoney: [{ required: true, message: '请输入运营费用', trigger: 'blur' }]
      },
      fileTarget1: [],
      fileTarget2: [],
      fileTarget3: [
        // {
        //   name: '',
        //   files: []
        // }
      ] // 自定义附件
    }
  },
  created () {
    allProRight(sessionStorage.getItem('userId')).then((res) => {
      this.options = res.data.data
      // console.log(this.options)
      if (res.data.data.length > 1000) {
        this.optionsFilter = res.data.data.slice(0, 1000)
      } else {
        this.optionsFilter = JSON.parse(JSON.stringify(res.data.data))
      }
    })
  },
  methods: {
    getWyName (id) {
      let wyFilter = this.options.filter(v => { return v.id == id })
      let name = ''
      if (wyFilter.length > 0) {
        name = wyFilter[0].unitName
      }
      return name
    },
    // 过滤物业下拉列表
    filterWy (v) {
      this.ruleForm.wyBasicInfoId = v
      if (v && v != '') {
        let filterWyList = this.options.filter((v1) => { return v1.unitName && v1.unitName.indexOf(v) >= 0 })
        this.optionsFilter = filterWyList.length > 1000 ? filterWyList.slice(0, 1000) : filterWyList
      } else {
        this.resetOptionsFilter()
      }
    },
    focusWy () {
      this.resetOptionsFilter()
    },
    resetOptionsFilter () {
      if (this.options.length > 1000) {
        this.optionsFilter = this.options.slice(0, 1000)
      } else {
        this.optionsFilter = JSON.parse(JSON.stringify(this.options))
      }
    },
    // 清空物业
    handleWyClear () {
      // 清空建筑面积
      this.ruleForm.buildArea = ''
    },
    show (name, data) {
      this.fileTarget1 = []
      this.fileTarget2 = []
      this.fileTarget3 = []
      switch (name) {
        case 'modify':
          this.selectId(data)
          break
        default:
          this.$nextTick(() => {
            this.reset()
          })
          break
      }
      this.activeName = name
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    selectId (data) {
      listId(data.id).then(res => {
        let list = res.data.data
        for (let value in list) this.ruleForm[value] = list[value]
        if (this.ruleForm.wyBasicInfoId) this.getWyInfoBatch()// 批量获取物业信息
        this.fileTarget1 = this.ruleForm.useApprovalFileList
        this.fileTarget2 = this.ruleForm.contractFileList
        let files3 = []
        if (this.ruleForm.customFileMap) {
          for (var name in this.ruleForm.customFileMap) {
            files3.push({ name: name, files: this.ruleForm.customFileMap[name] })
          }
        }
        this.fileTarget3 = files3
      })
    },
    submit () {
      // 去掉路径前缀
      const getNewFiles = (files) => {
        return files.map(v => {
          // 保存时去掉路径前缀
          let pathArray = []
          let _path = ''
          if (v.path) {
            pathArray = v.path.split(this.$store.state.global.apiPath)
            _path = pathArray[pathArray.length - 1]
          }
          return { fileName: v.fileName, fileSize: v.fileSize, path: _path }
        })
      }

      let ruleForm = this.ruleForm
      ruleForm.userId = window.sessionStorage.getItem('userId')
      ruleForm.useApprovalFileList = getNewFiles(this.fileTarget1)
      ruleForm.contractFileList = getNewFiles(this.fileTarget2)
      // ruleForm.customFileMap = this.fileTarget3
      ruleForm.customFileMap = {}
      let errMsg = ''
      if (this.fileTarget3.length > 0) {
        this.fileTarget3.forEach((v, i) => {
          if (v.name && v.name != '') {
            ruleForm.customFileMap[v.name] = getNewFiles(v.files || [])
          } else {
            errMsg = '请输入自定义附件名称'
          }
        })
      }
      if (errMsg != '') {
        this.$message({ type: 'error', message: errMsg })
        return
      }
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.activeName === 'modify') {
            this.submitDisabled = true
            updOperation(ruleForm).then(res => {
              this.submitDisabled = false
              if (res.data.code === 0) {
                this.$alert('修改成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.dialogFormVisible = false
                    this.$emit('close', false)
                  }
                })
              }
            })
          } else if (this.activeName === 'add') {
            this.submitDisabled = true
            addOperation(ruleForm).then(res => {
              this.submitDisabled = false
              if (res.data.code === 0) {
                this.$alert('新增成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.dialogFormVisible = false
                    this.$emit('close', false)
                  }
                })
              }
            })
          }
        } else {
          // this.$alert('请填完必选数据方可下一步操作', '提示', {
          //   confirmButtonText: '确定'
          // })
        }
      })
      // console.log(ruleForm)
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    reset () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
        setTimeout(() => {
          this.$refs.ruleForm.clearValidate()
        }, 0)
        this.ruleForm.buildArea = ''
        this.fileTarget1 = []
        this.fileTarget2 = []
        this.fileTarget3 = []
      }
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget3.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget3.splice(index, 1)
    },
    changeWps1 (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget1 = wpsArr
      // console.log(this.fileTarget1)
    },
    changeWps2 (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget2 = wpsArr
    },
    changeWps3 (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        if (item.response) {
          let val = item.response.data
          wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
        } else {
          wpsArr.push({ fileName: item.name, fileSize: item.size, path: item.url })
        }
      })
      this.fileTarget3[index].files = wpsArr
    },
    // 选择物业
    wyBasicInfoChange (v) {
      if (v && v != '') {
        this.getWyInfoBatch()// 批量获取物业信息
      }
    },
    // 批量获取物业信息
    getWyInfoBatch () {
      getWyBasicInfoBatch(this.ruleForm.wyBasicInfoId.split(',')).then(res => {
        if (res && res.data) {
          let list = res.data.data || []
          this.ruleForm.buildArea = list.reduce((n, cur) => {
            return n + cur.buildArea
          }, 0)
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 333px;
}
.file-item {
  display: flex;
  & + .file-item {
    margin-top: 10px;
  }
  .lb {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
}
</style>
