<template>
  <div class="entrust_main u-right-content">
    <Breadcrumb barName="委托管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
        <el-form-item label="物业名称：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.name" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="运营单位：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.operationUnit" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="起止时间：" class="form-item" label-width="140px" style="width: 350px">
          <div class="daterange-wrapper">
            <el-date-picker v-model="formInline.startTime" type="date" placeholder="开始日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
            <el-date-picker v-model="formInline.endTime" type="date" placeholder="结束日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="handleSearch">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button v-permission="{action:'导出',effect:'disabled'}" type="primary" @click="showUsageRegistration('derive')">导出</el-button>
        <el-button v-permission="{action:'新增项目',effect:'disabled'}" type="primary" icon="el-icon-plus" @click="showUsageRegistration('add')">新增项目</el-button>
        <!-- <el-button type="danger" @click="stop">删除</el-button> -->
      </div>

      <div class="table" style="height: calc(100vh - 308px)">
        <el-table ref="table1" border :data="tableData" @sort-change="sortChange" style="width: 100%">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column type="index" label="序号" width="55"></el-table-column>
          <el-table-column prop="name" label="物业名称" width="360"></el-table-column>
          <el-table-column prop="buildArea" label="委托运营面积(m²)" sortable>
          </el-table-column>
          <el-table-column prop="operationUnit" label="运营管理单位">
          </el-table-column>
          <el-table-column prop="startTime" label="运营开始日期" width="120" sortable>
            <template slot-scope="scope">
              {{ scope.row.startTime | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column prop="endTime" label="运营结束日期" width="120" sortable>
            <template slot-scope="scope">
              {{ scope.row.endTime | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column label="操作" width="250">
            <template slot-scope="scope">
              <el-button v-permission="{action:'查看',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showUsageRegistration('view', scope.row)">查看</el-button>
              <el-button v-permission="{action:'编辑',effect:'disabled'}" type="check" class="handle-el-icon" @click="showUsageRegistration('modify', scope.row)">
                编辑</el-button>
              <el-button v-permission="{action:'停用',effect:'disabled'}" type="warning" class="handle-el-icon" @click="stop">停用</el-button>
              <!-- <el-button type="info" class="handle-el-icon" @click="remove">删除</el-button> -->
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination :data="tableData" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" :total="totalSize" @size-change="handleSizeChange" @current-change="handleCurrentChange" layout="total,sizes, prev, pager, next, jumper" background />
        </div>
      </div>
    </div>

    <AddEntrust v-if="dialog" ref="addEntrust" @close="add($event)" />
    <Select v-if="dialogshow" ref="select" />
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { list, exportData } from './request'
import AddEntrust from './addEntrust.vue'
import Select from './select.vue'
import axios from 'axios'
import { formatDate1 } from '@/until/common'
export default {
  components: {
    AddEntrust,
    Select,
    Breadcrumb
  },
  filters: {
    formatDate1
  },
  data () {
    return {
      dialog: false,
      dialogshow: false,
      // table
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      tableStatus: {
        1: '启用',
        2: '禁用'
      },
      // 查询条件
      formInline: {
        name: '', // 物业名称
        operationUnit: '', // 运营单位
        startTime: '',
        endTime: '',
        sort: '0'
      }
    }
  },
  created () { },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.formInline.sort = 0
      vm.handleTable()
    })
  },
  methods: {
    resetForm () {
      for (let i in this.formInline) {
        this.formInline[i] = ''
      }
      this.formInline.sort = 0
      this.$refs.table1.clearSort()
      this.handleTable()
    },
    add (event) {
      if (event === false) {
        this.handleTable()
      }
    },
    showUsageRegistration (name, data) {
      if (name === 'derive') {
        let params = {
          yyCommissioneOperationHomeDTO: {
            userId: sessionStorage.getItem('userId'),
            ...this.formInline
          }
        }
        exportData(params).then((res) => {
          let now = new Date()
          let date =
              now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
          const link = document.createElement('a')
          // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
          let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
          link.style.display = 'none'
          // 设置连接
          link.href = URL.createObjectURL(blob)
          link.download = date + '委托运营列表' // 你文件定义的名称
          document.body.appendChild(link)
          // 模拟点击事件
          link.click()
        })
      }
      if (name === 'view') {
        this.dialogshow = true
        this.$nextTick(() => {
          this.$refs.select.show(name, data)
        })
      }
      if (name === 'modify' || name === 'add') {
        this.dialog = true
        this.$nextTick(() => {
          this.$refs.addEntrust.show(name, data)
        })
      }
    },
    stop () {
      confirm('正在开发中......')
    },
    remove () {
      confirm('正在开发中......')
    },

    // table
    handleTable (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        ...this.formInline
      }
      if (params.startTime) params.startTime = formatDate1(params.startTime)
      if (params.endTime) params.endTime = formatDate1(params.endTime)
      list(params).then((res) => {
        this.tableData = res.data.data.list
        this.totalSize = res.data.data.total
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.handleTable()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.handleTable()
    },
    // 点击查询
    handleSearch () {
      this.currentPage = 1
      this.handleTable()
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'buildArea': sort = 1; break
          case 'startTime': sort = 3; break
          case 'endTime': sort = 5; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'buildArea': sort = 2; break
          case 'startTime': sort = 4; break
          case 'endTime': sort = 6; break
        }
      }
      this.formInline.sort = sort
      this.handleTable()
    }
  }
}
</script>

<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
.daterange-wrapper {
  display: flex;
  .el-date-editor {
    & + .el-date-editor {
      margin-left: 5px;
    }
  }
}
</style>
