<template>
  <el-dialog title="查看委托信息" :width="'1360px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="240px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="物业名称:">
            <!-- <el-select v-model="ruleForm.wyBasicInfoId" placeholder="请选择" disabled>
              <el-option v-for="(item,index) in options" :key="'wyBasicInfoId_'+index+'_'+item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select> -->
            {{getWyName(ruleForm.wyBasicInfoId)}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="建筑面积:">
            {{ruleForm.buildArea}}㎡
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="运营起始日期:">
            {{ruleForm.startTime}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="运营截止日期:">
            {{ruleForm.endTime}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="运营单位名称:">
            {{ruleForm.operationUnit}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="统一社会信用代码:">
            {{ruleForm.creditCode}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="法定代表人姓名:">
            {{ruleForm.legalName}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="法定代表人联系方式:">
            {{ruleForm.legalPhone}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="法定代表人证件类型:">
            {{legalTypeOptions[ruleForm.legalType]}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="法定代表人证件号码:">
            {{ruleForm.legalCode}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="代理人联系方式:">
            {{ruleForm.agentPhone}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="代理人姓名:">
            {{ruleForm.agentName}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="代理人证件类型:">
            {{legalTypeOptions[ruleForm.agentType]}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="代理人证件号码:">
            {{ruleForm.agentCode}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item  label="运营费用:">
            {{ruleForm.operationMoney}}
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="备注:">
            {{ruleForm.remark}}
          </el-form-item>
        </el-col>
       <el-col :span="20">
          <el-form-item label="附件材料:">
            <div class="file-item">
              <div class="lb">使用批准文件</div>
              <!-- <UploadWps :filesList="fileTarget1" isDisabled="true"></UploadWps> -->
              <ul class="u-file-view-list">
                <li v-for="(item,index) in fileTarget1" :key="'fileTarget1_'+index">
                  <a :href="item.path" target="_blank">{{item.fileName}}</a>
                </li>
              </ul>
            </div>
            <div class="file-item">
              <div class="lb">合同</div>
              <!-- <UploadWps :filesList="fileTarget2" isDisabled="true"></UploadWps> -->
              <ul class="u-file-view-list">
                <li v-for="(item,index) in fileTarget2" :key="'fileTarget2_'+index">
                  <a :href="item.path" target="_blank">{{item.fileName}}</a>
                </li>
              </ul>
            </div>
          </el-form-item >
                 <el-form-item label="自定义附件:">

            <div v-for="(item,index) in fileTarget3" v-bind:key="index" class="file-item">
              <div class="lb">
                <!-- <el-input class="file-label" v-model="item.name" disabled></el-input> -->
                {{item.name}}
              </div>
              <!-- <UploadWps :filesList="item.files" :is-disabled="true"></UploadWps> -->
              <ul v-if="item.files" class="u-file-view-list">
                <li v-for="(item,index) in item.files" :key="'fileTarget3_'+index">
                  <a :href="item.path" target="_blank">{{item.fileName}}</a>
                </li>
              </ul>
            </div>
              </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { getWyBasicInfoBatch } from '@/until/api.js'
import { allProRight, listId } from './request'
import { formatDate, formatDate1 } from '@/until/common'
export default {
  components: {
    formatDate, formatDate1
  },
  data () {
    return {
      dialogFormVisible: false,
      ruleForm: {
        wyBasicInfoId: '', // 房地产名称id
        buildArea: '',
        startTime: '', // 开始时间
        endTime: '', // 结束时间
        operationUnit: '', // 运营单位名称
        creditCode: '', // 统一社会信用代码
        legalName: '', // 法定代表人姓名
        legalPhone: '', // 法定代表人联系方式
        legalType: '', // 法定代表人证件类型
        legalCode: '', // 法定代表人证件号码
        agentPhone: '', // 代理人联系方式
        agentName: '', // 代理人姓名
        agentType: '', // 代理人类型
        agentCode: '', // 代理人证件号码
        operationMoney: '', // 运营费用
        remark: '', // 备注
        userId: '', // 用户id
        custProRightFile: []// List<YyUseRegFilePath1>自定义附件
      },
      // 法定代表人证件类型
      legalTypeOptions: {
        1: '身份证',
        2: '护照'
      },
      rules: {
      },
      options: [],
      fileTarget: [],
      fileTarget1: [],
      fileTarget2: [],
      fileTarget3: [
        // {
        //   name: '',
        //   files: []
        // }
      ] // 自定义附件
    }
  },
  created () {
    allProRight(sessionStorage.getItem('userId')).then((res) => {
      this.options = res.data.data
      // console.log(this.options)
    })
  },
  mounted () {
    // console.log(this.proRight)
  },
  methods: {
    getWyName (id) {
      let wyFilter = this.options.filter(v => { return v.id == id })
      let name = ''
      if (wyFilter.length > 0) {
        name = wyFilter[0].unitName
      }
      return name
    },
    show (name, data) {
      this.selectId(data)
      this.dialogFormVisible = true
    },
    selectId (data) {
      this.fileTarget1 = []
      this.fileTarget2 = []
      this.fileTarget3 = []
      listId(data.id).then(res => {
        let list = res.data.data
        for (let value in list) this.ruleForm[value] = list[value]
        this.ruleForm.startTime = formatDate1(this.ruleForm.startTime)
        this.ruleForm.endTime = formatDate1(this.ruleForm.endTime)
        this.getWyInfoBatch()// 批量获取物业信息
        this.fileTarget1 = this.ruleForm.useApprovalFileList
        this.fileTarget2 = this.ruleForm.contractFileList
        let files3 = []
        if (this.ruleForm.customFileMap) {
          for (var name in this.ruleForm.customFileMap) {
            files3.push({ name: name, files: this.ruleForm.customFileMap[name] })
          }
        }
        this.fileTarget3 = files3
      })
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    reset () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
      }
    },
    // 批量获取物业信息
    getWyInfoBatch () {
      getWyBasicInfoBatch(this.ruleForm.wyBasicInfoId.split(',')).then(res => {
        if (res && res.data) {
          let list = res.data.data || []
          this.ruleForm.buildArea = list.reduce((n, cur) => {
            return n + cur.buildArea
          }, 0)
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
.detail-content {
  width: 380px;
}
/deep/.el-form-item__content .el-input__inner {
  width: 333px;
}
.file-item {
  display: flex;
  & + .file-item {
    margin-top: 10px;
  }
  .lb {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
}
.u-file-view-list {
  width: 640px;
  li {
    height: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    a {
      font-size: 14px;
      color: #409eff;
      &:hover {
        color: #66b1ff;
      }
    }
  }
}
</style>
