.parameter_mian {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .project-container {
    border-radius: 6px;
  }
  /deep/.el-tabs--border-card {
    border-bottom: none;
    box-shadow: none;
  }
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bold;
  z-index: 100;
}
.body-box{
  margin-bottom: 50px;
}
.content-box {
  overflow-y: auto;
  margin-bottom: 50px;
}
.step-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .left {
    display: flex;
    align-items: center;
    .block {
      display: inline-block;
      width: 6px;
      height: 18px;
      background-color: #1286ff;
      margin-right: 6px;
      position: relative;
    }
  }
  .right {
    .right-num {
      margin-right: 20px;
    }
  }
}
.content-bottom{
  margin-bottom: 50px;
}
.step {
  padding: 20px 20px;
  .step-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .left {
      display: flex;
      align-items: center;
      margin-left: 10px;
      .title {
        margin-right: 20px;
      }
    }
  }
  .step-img {
    width: 100%;
    object-fit: cover;
  }
}
.tit-box {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.tit-block {
  flex: 1;
  height: 15px;
  background-color: #f2f2f2;
  margin-left: 5px;
}
.select-box {
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: #f9fafd;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  .select {
    display: flex;
    .select-list {
      flex: 1;
      .mutiple-radio {
        display: flex;
        flex-direction: column;
      }
      .el-radio {
        padding: 5px 0px;
      }
    }
  }
  .select-bottom {
    text-align: right;
    cursor: pointer;
  }
}
.tit-block {
  flex: 1;
  height: 15px;
  background-color: #f2f2f2;
  margin-left: 5px;
}
.operate {
  span {
    font-size: 14px;
    color: #409eff;
    margin: 0px 5px;
  }
}
.bottom {
  z-index: 100;
  position: fixed;
  display: inline-block;
  bottom: 14px;
  padding: 10px;
  text-align: right;
  border-top: 1px solid rgb(240, 238, 238);
  background-color: #ffffff;
}
.el-table /deep/th.gutter{
  display: table-cell!important;
  }
.blue {
  color: #409eff;
}
/deep/.el-form-item__error {
  padding-top: 0px !important;
}

/deep/.el-input__inner_select {
  width: 429px;
}
/deep/.el-dialog__header {
  background-color: #5b9bd5;
}
/deep/.el-dialog__body {
  padding: 0;
}
/deep/.el-dialog__title {
  color: #fff;
}
/deep/.el-icon-close:before {
  color: #fff;
}
table {
  border-collapse: collapse;
  // margin-bottom: 200px;
  td {
    font-size: 14px;
  }
  .table-tit {
    width: 150px;
    padding: 5px;
  }
  .table-content {
    padding-left: 10px;
  }
}
.up-down {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.project-container::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
