<template>
  <section class="project-container">
    <router-view />
    <div class="body-box" v-if="$route.path ==='/index/allBusiness/contractSignApply/lastContract' || $route.path==='/index/shouldHandleBusiness/contractSignApply/lastContract'">
      <!-- <div class="header">
        <span> {{dialogForm.proName}}名称</span>
      </div> -->
      <div class="content-box">
        <div>
          <!-- <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">合同管理</span>
            </div>
            <div class="right">
              <span style="margin-right:5px;">申请来源：{{selectSignSource[dialogForm.signSource]}}</span>
            </div>
          </div> -->
          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">选择模板</div>
              <div class="tit-block"></div>
            </div>
            <div class="select-box">
              <div class="select">
                <div class="select-list">
                  <div>
                    产业用房
                  </div>
                  <div>
                    <el-radio-group v-model="radio" class="mutiple-radio">
                      <el-radio disabled :label="1">产业用房租赁合同3+2（有经验贡献率）</el-radio>
                      <el-radio disabled :label="2">产业用房租赁合同3+2（无经验贡献率）</el-radio>
                      <el-radio disabled :label="3">产业用房租赁合同（3年及3年以下）</el-radio>
                    </el-radio-group>
                  </div>
                </div>
                <div class="select-list">
                  <div>商业</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="4">商业租赁合同</el-radio>
                  </el-radio-group>
                </div>
                <div class="select-list">
                  <div>住宅</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="5">住宅租赁合同</el-radio>
                  </el-radio-group>
                </div>
                <div class="select-list">
                  <div>南山软件园</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="6">南山软件园租赁合同</el-radio>
                  </el-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">企业信息</div>
              <div class="tit-block"></div>
            </div>
            <el-form :model="dialogForm" ref="dialogForm">
              <el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="承租对象:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectLessee[dialogForm.leaseType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="签约类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectWebSignType[dialogForm.webSignType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="申请人类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectApplyType[dialogForm.legalApplication]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="承租方(乙方):" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.leaser" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="承租方证件类型:" prop="leaserDocumentType" :label-width="formLabelWidth">
                      <el-input v-model="selectLeaserType[dialogForm.leaserDocumentType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="承租方证件号码:" prop="leaserDocumentNumber" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.leaserDocumentNumber" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-form-item label="营业执照地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.leaseAddress" disabled></el-input>
                  </el-form-item>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="法定代表人:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="法定代表人联系方式:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="法定代表人证件类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selsectClientType[dialogForm.legalType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="法定代表人证件号码:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalCode" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-col>
                  <el-form-item label="法定代表人通讯地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.legalPersonContactAddress" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="联系人:" prop="contactPerson" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.contactPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="联系人电话:" prop="contactPhone" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.contactPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="dialogForm.legalApplication==2">
                  <el-col :span="12">
                    <el-form-item label="委托代理人:" prop="clientPerson" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="委托代理人联系方式:" prop="clientPhone" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="dialogForm.legalApplication==2">
                  <el-col :span="12">
                    <el-form-item label="委托代理人证件类型:" prop="clientType" :label-width="formLabelWidth" required>
                      <el-input v-model="selsectClientType[dialogForm.clientType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="委托代理人证件号码:" prop="clientCode" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientCode" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-col v-if="dialogForm.legalApplication==2">
                  <el-form-item label="委托代理人通讯地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.clientPersonContactAddress" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-row>
                  <el-form-item label="备注:" prop="companyInfoRemark" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="dialogForm.companyInfoRemark" disabled></el-input>
                  </el-form-item>
                </el-row>
              </el-row>
            </el-form>
          </div>

          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">租赁信息</div>
              <div class="tit-block"></div>
            </div>
            <el-form :rules="rules" :model="dialogForm" ref="dialogForm">
              <el-row>
                <el-row style="display:flex;align-items:center;">
                  <el-form-item label="出租物业地址:" prop="leaseWyAddress" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.leaseWyAddress" disabled></el-input>
                  </el-form-item>
                  <el-button style="margin-left:5px;margin-top:-12px;" type="primary" size="mini" plain @click="showDialog('hasaddress')">查看已选物业</el-button>
                </el-row>
                <el-row>
                  <el-col :span='12'>
                    <el-form-item label="是否经济贡献承诺:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectEconomic[dialogForm.isEconomicCommitment]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span='12'>
                    <el-form-item v-if="dialogForm.isEconomicCommitment=='1'" label="经济贡献承诺:" prop="economicCommitment" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.economicCommitment" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="指导价:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.guidePrice" disabled>
                      </el-input>
                      &nbsp;<span>(元/m²)</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="折扣:" :label-width="formLabelWidth">
                      <el-input v-model="selectDiscount[dialogForm.discount]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-row :span="12">
                    <el-form-item label="是否拆分租金单价:" :label-width="formLabelWidth" required>
                      <el-input v-model="selsectSplitRent[dialogForm.splitRent]" disabled></el-input>
                    </el-form-item>
                  </el-row>
                </el-row>
                <el-row v-if="dialogForm.splitRent==2">
                  <el-row :span="12">
                    <el-form-item label="租金单价:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.rentUnitPrice" disabled></el-input>
                      &nbsp;<span>(元/m²)</span>
                    </el-form-item>
                  </el-row>
                </el-row>
                <el-form-item v-if="dialogForm.splitRent==1" label="拆分租金单价:" :label-width="formLabelWidth" required>
                  <div class="tableDate" style="padding:0px 0px 30px 0px;">
                    <div class="table">
                      <el-table :data="rentTableData" ref="applyTable" tooltip-effect="dark" border>
                        <el-table-column label="序号" type="index" align="center"></el-table-column>
                        <el-table-column label="物业名称" prop="wyName"></el-table-column>
                        <el-table-column label="租赁面积(m²)" prop="buildArea"></el-table-column>
                        <el-table-column label="租金单价(元/m²)" prop="rentPrice"></el-table-column>
                        <el-table-column label="月租金(元)" prop="monthlyRent"></el-table-column>
                      </el-table>
                    </div>
                  </div>
                </el-form-item>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="月租金:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.monthlyRent" disabled></el-input>
                      &nbsp;<span>(元) <span style="color:#E6A23C;">（注:拆分租金单价时，为所有物业月租金总计，不拆分时则为当前物业的租赁面积与租金单价的乘积）</span> </span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="出租面积:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.rentalArea" disabled></el-input>
                      &nbsp;<span>(m²)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="套内建筑面积:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.setArea" disabled></el-input>
                      &nbsp;<span>(m²)</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="公摊面积:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.pubArea" disabled></el-input>
                      &nbsp;<span>(m²)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-row :span="12">
                    <el-form-item label="承租方通信地址:" prop="leaseWyAddress" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.leaseWyAddress" disabled></el-input>
                    </el-form-item>
                  </el-row>
                  <el-col :span="12">
                    <el-form-item label="免租期:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectFreeRent[dialogForm.freeRent]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                  <el-col :span='12'>
                    <el-form-item label="房屋编码:" prop="houseCodes" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.houseCodes" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span='12'>
                    <el-form-item label="房屋权属情况:" :label-width="formLabelWidth" required>
                      <el-input v-model="selecthouseShip[dialogForm.houseOwnership]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                  <el-col :span="12">
                    <el-form-item label="甲方持有房屋证明文件:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectPartHouse[dialogForm.partAHouseCredentials]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span='12'>
                    <el-form-item label="房屋所有证权或不动产权证书编号:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.partAHouseCredentialsNumber" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="租赁起始日期:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.startRentDate" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="租赁截止日期:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.endRentDate" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="首期租金交付日期:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.firstRentTime" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="firstRentMoney" label="首期租金交付金额" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.firstRentMoney" disabled></el-input>
                      &nbsp;<span>(元)</span>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row>
                  <el-col :span="12">
                    <el-form-item label="押金金额:" prop="depositAmount" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.depositAmount" disabled></el-input>
                      &nbsp;<span>(元)</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="房屋租赁用途:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectLeaseUse[dialogForm.leaseUse]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item prop="waterCharge" label="水费:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.waterCharge" disabled></el-input>
                      &nbsp;<span>(元/吨)</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="electricCharge" label="电费:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.electricCharge" disabled></el-input>
                      &nbsp;<span>(元/度)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item prop="gasCharge" label="燃气费:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.gasCharge" disabled></el-input>
                      &nbsp;<span>(元/m³)</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="propertyManagementCharge" label="物业管理费:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.propertyManagementCharge" disabled></el-input>
                      &nbsp;<span>(元/m²/月)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="其他:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.otherCharge" disabled></el-input>
                      &nbsp;<span>(元，详见物业管理公司收费明细)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-row>
                    <el-form-item label="备注:" prop="remark" :label-width="formLabelWidth">
                      <el-input type="textarea" v-model="dialogForm.remark" disabled></el-input>
                    </el-form-item>
                  </el-row>
                </el-row>
              </el-row>
            </el-form>
          </div>
        </div>
        <!-- <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">拟定合同内容</span>
            </div>
          </div>
          <div class="step">
            <div class="step-flex">
              <div class="left">
                <span class="title">合同附件</span>
                <UploadFile @getID="getUpdateData($event)" @event="changeWps($event)" :filesList="dialogForm.contractFiles" :limitFileArr="1" :businessId="businessId"></UploadFile>
              </div>
              <div class="right" v-if="contractButtonVisible">
                 <el-button type="primary" @click="downLoadFile('contract')">下载</el-button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申请材料</span>
            </div>
            <div class="right">
              <el-button type="primary" @click="onChanPage">附件<span>(2)</span>打包下载</el-button>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="dialogForm.ywHandoverDetailsDTOList" ref="dialogForm" tooltip-effect="dark" border stripe>
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column label="序号" type="index" align="center"></el-table-column>
                    <el-table-column label="材料名称" prop="name"></el-table-column>
                    <el-table-column label="文件大小" prop="fileSize"></el-table-column>
                    <el-table-column label="审核状态" prop="status"></el-table-column>
                    <el-table-column label="材料审核指南" prop="guidelines"></el-table-column>
                    <el-table-column label="操作" align="center">
                      <template slot-scope="scope">
                        <el-button type="primary" class="handle-el-icon" @click="showDialog('see',scope.row)">查看</el-button>
                        <el-button type="primary" class="handle-el-icon">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </div>
            </template>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</template>
<script>
import { showOldContract, propertyShow, downLoadPaymentNotice, downLoadContactTemplate, downloadFileOne } from '@/until/api.js'
import UploadFile from '@/components/uploadFile.vue'

export default {
  props: ['dialogShow'],
  components: {
    UploadFile
  },
  data () {
    return {
      businessId: '',
      formLabelWidth: '250px',
      contractButtonVisible: true,
      preApplyImg: '',
      fileName: '',
      dialogForm: {},
      radio: '',
      base64Img: '',
      contractFiles: [],
      fileData: {},
      rentTableData: [],
      selectLeaseUse: {},
      selectPartHouse: {},
      selecthouseShip: {},
      selectStatus: {
        0: '待审核',
        1: '材料审核通过',
        2: '未通过审核'
      },
      selectFreeRent: {
        0: '无',
        1: '十五日',
        2: '一个月',
        3: '两个月',
        4: '三个月',
        5: '四个月'
      },
      selectDiscount: {
        1: '全价',
        2: '30%',
        3: '50%',
        4: '70%',
        5: '90%'
      },
      selectEconomic: {
        1: '承诺',
        2: '不承诺'
      },
      selsectSplitRent: {
        1: '是',
        2: '否'
      },
      selectLessee: {
        1: '企业',
        2: '其他'
      },
      selectWebSignType: {
        1: '新签',
        2: '续签'
      },
      selectLeaserType: {
        1: '社会统一信用代码',
        2: '身份证',
        3: '护照'
      },
      selsectClientType: {
        1: '身份证',
        2: '护照'
      },
      selectApplyType: {
        1: '法人申请',
        2: '委托代理人申请'
      },
      selectSignSource: {
        1: '现场申请',
        2: '线上申请'
      },
      rules: {
        leaseWyAddress: [{ required: true, message: '请选择出租物业地址', trigger: 'change' }],
        isEconomicCommitment: [{ required: true, message: '请选择是否经济贡献承诺', trigger: 'change' }],
        splitRent: [{ required: true, message: '请选择是否拆分租金单价', trigger: 'change' }],
        houseOwnership: [{ required: true, message: '请选择房屋权属情况', trigger: 'change' }],
        partAHouseCredentials: [{ required: true, message: '请选择甲方持有房屋证明文件', trigger: 'change' }],
        startRentDate: [{ type: 'date', required: true, message: '请选择租赁起始日期', trigger: 'change' }],
        endRentDate: [{ type: 'date', required: true, message: '请选择租赁截止日期', trigger: 'change' }],
        leaseUse: [{ required: true, message: '请选择房屋租赁用途', trigger: 'change' }],
        firstRentTime: [{ type: 'date', required: true, message: '请选择首期租金交付日期', trigger: 'change' }],
        economicCommitment: [{ required: true, message: '请输入经济贡献承诺', trigger: 'change' }],
        rentUnitPrice: [{ required: true, message: '请输入租金单价', trigger: 'change' }],
        firstRentMoney: [{ required: true, message: '请输入首期租金交付金额', trigger: 'change' }],
        depositAmount: [{ required: true, message: '请输入押金金额', trigger: 'change' }],
        waterCharge: [{ required: true, message: '请输入水费', trigger: 'change' }],
        electricCharge: [{ required: true, message: '请输入电费', trigger: 'change' }],
        gasCharge: [{ required: true, message: '请输入燃气费', trigger: 'change' }],
        propertyManagementCharge: [{ required: true, message: '请输入物业管理费', trigger: 'change' }]
      }
    }
  },
  created () {
    this.businessId = this.$route.params.businessId
    this.getDataList()
  },
  methods: {
    getDataList () {
      this.getFormData()
      setTimeout(() => {
        this.getPropertyList()
      }, 1000)
    },
    // 获取表单数据
    getFormData () {
      showOldContract(this.businessId).then(res => {
        if (res.data.data.length === 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.dialogForm = res.data.data
          if (this.dialogForm) {
            this.dialogForm.canModify = !this.dialogForm.canModify// 租赁可编辑与否 测试
            this.dialogForm.businessId = this.businessId// id
            this.filesList = this.dialogForm.contractFiles// 已有合同文件父子传递
            if (this.filesList.length === 0) {
              this.contractButtonVisible = false
            }
            if (this.dialogForm.contractFiles.length > 0) {
              this.$refs.uploadFile.fileId = this.dialogForm.contractFiles[0].id// 合同附件id
            }
            if (this.dialogForm.canModify) {
              this.dialogForm.startRentDate = ''
              this.dialogForm.endRentDate = ''
              this.dialogForm.firstRentTime = ''
            } else {
              this.dialogForm.startRentDate = this.formatDate(this.dialogForm.startRentDate)// 租赁起止日期
              this.dialogForm.endRentDate = this.formatDate(this.dialogForm.endRentDate)// 租赁截止日期
              this.dialogForm.firstRentTime = this.formatDate(this.dialogForm.firstRentTime)// 首期租金交付日期leaseUseList
            }

            // 下拉选择数字对应数据的处理
            for (let item of this.dialogForm.partAHouseCredentialsList) {
              this.selectPartHouse[item.id] = item.name
            }
            for (let item of this.dialogForm.leaseUseList) {
              this.selectLeaseUse[item.id] = item.name
            }
            for (let item of this.dialogForm.houseOwnerShipList) {
              this.selecthouseShip[item.id] = item.name
            }
            // 模板匹配选择
            if (this.dialogForm.templateType === '1') {
              if (this.dialogForm.type === '1') {
                this.radio = 1
              } else if (this.dialogForm.type === '2') {
                this.radio = 2
              } else {
                this.radio = 3
              }
            } else if (this.dialogForm.templateType === '2') {
              this.radio = 4
            } else if (this.dialogForm.templateType === '3') {
              this.radio = 5
            } else if (this.dialogForm.templateType === '4') {
              this.radio = 6
            }
          }
        }
      })
    },
    // 获取拆分物业的列表
    getPropertyList () {
      propertyShow(this.dialogForm.id).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.rentTableData = res.data.data
        }
        // if (this.rentTableData.length > 1) {
        //   this.calculateMonthRent()
        // }
      })
    },
    // 获取上传附件传递的数据
    getUpdateData (data) {
      this.fileData = data
    },
    // 附件上传成功的数据回调
    changeWps (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = item.response.data
        wpsArr.push({ fileName: val.fileName, path: val.filePath })
      })
      this.contractFiles = wpsArr
    },
    // 下载附件
    downLoadFile (mark) {
      if (mark === 'notice') {
        downLoadPaymentNotice(this.businessId).then(res => {
          if (res.data.code) {
            if (res.data.code !== 0) {
              this.$message.warning(res.data.errMsg)
            }
          } else {
            window.location.href = '/zbkc/ywBusiness/yw/downLoadPaymentNotice?businessId=' + this.businessId
          }
        })
      } else if (mark === 'template') {
        downLoadContactTemplate(this.businessId).then(res => {
          if (res.data.code) {
            if (res.data.code !== 0) {
              this.$message.warning(res.data.errMsg)
            }
          } else {
            window.location.href = '/zbkc/ywBusiness/yw/downLoadContactTemplate?businessId=' + this.businessId
          }
        })
      } else if (mark === 'contract') {
        downloadFileOne(this.businessId).then(res => {
          if (res.data.code) {
            if (res.data.code !== 0) {
              this.$message.warning(res.data.errMsg)
            }
          } else {
            window.location.href = '/zbkc/ywBusiness/yw/downloadFileOne?ywHandlerDetailsId=' + this.businessId
          }
        })
      }
    },
    // 展示弹框/跳转页面
    showDialog (mark, data) {
      const actions = {
        'hasaddress': () => {
          if (this.$route.path === '/index/allBusiness/contractSignApply/lastContract') {
            this.$router.push(
              {
                name: 'selectedProperty_y',
                params: {
                  mark: this.$route.path,
                  contractId: this.dialogForm.id
                }
              }
            )
          } else {
            this.$router.push(
              {
                name: 'selectedProperty_x',
                params: {
                  contractId: this.dialogForm.id
                }
              }
            )
          }
        },
        'see': () => {
          let isImg = ['jpeg', 'png', 'gif', 'jpg', 'image']
          let fileArr = ['docx', 'pdf', 'xlsx', 'xls']
          let path = data.sysFilePathList[0].path
          this.preApplyImg = path
          const flieArr = path.split('.')
          let suffix = flieArr[flieArr.length - 1]
          path = path.slice(path.indexOf('/zbkc'))
          if (fileArr.indexOf(suffix) !== -1) {
            this.preViewType = suffix
            this.preViewSrc = path
            this.iframeFileSeeVisible = true
            this.$nextTick(() => {
              this.$refs.IframeFileSee.show()
            })
          } else if (isImg.indexOf(suffix) !== -1) {
            this.preViewType = suffix
            this.iframeFileSeeVisible = true
            this.$nextTick(() => {
              this.$refs.IframeFileSee.show()
            })
          } else {
            this.$message({
              type: 'warning',
              message: `${fileArr}之外的文件请下载后查看`
            })
          }
        }
      }
      actions[mark]()
    },
    onChanPage () {
      console.log('附件打包下载')
    },
    // 时间戳转化成日期
    formatDate (dataStr) {
      var time = new Date(dataStr)
      function timeAdd0 (str) {
        if (str < 10) {
          str = '0' + str
        }
        return str
      }
      var y = time.getFullYear()
      var m = time.getMonth() + 1
      var d = time.getDate()
      var h = time.getHours()
      var mm = time.getMinutes()
      var s = time.getSeconds()
      return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' +
        timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s)
    }

  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
