<template>
  <!-- :before-close="handleClose" -->
  <el-dialog :close-on-click-modal="false" :title="title" :width="'800px'" :visible.sync="dialogFormVisible">
    <el-form :rules="rule" :model="ruleForm" ref="ruleForm" class="project-el-form pt20" label-width="120px">
      <el-form-item :label="label" prop="content" required>
        <el-input type="textarea" v-model="ruleForm.content"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')"  :disabled="btnRequestDisabled">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import {
  endTask,
  turndownTask,
  completeTask
} from '@/until/api.js'

export default {
  props: ['title', 'label', 'businessId', 'formData'],
  data () {
    return {
      btnRequestDisabled: false,
      dialogFormVisible: false,
      ruleForm: {
        content: ''
      },
      rule: {
        content: [
          { required: true, message: '请输入操作意见', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    show () {
      this.dialogFormVisible = true
    },
    submit () {
      this.btnRequestDisabled = true
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.title === '审核通过') {
            this.formData.opinion = this.ruleForm.content
            this.formData.userId = window.sessionStorage.getItem('userId')
            completeTask(this.formData).then(res => {
              this.btnRequestDisabled = false
              if (res.data.code === 0) {
                this.$message({
                  message: '审核通过',
                  type: 'success'
                })
                this.$emit('backPage', false)
                this.dialogFormVisible = false
              } else {
                this.$message.warning(res.data.errMsg)
              }
            })
          } else if (this.title === '终止流程') {
            let end = {
              businessId: this.businessId,
              comment: this.ruleForm.content
            }
            endTask(end).then(res => {
              this.btnRequestDisabled = false
              if (res.data.code === 0) {
                this.$message({
                  message: '终止流程操作成功',
                  type: 'success'
                })
                this.$emit('backPage', false)
                this.dialogFormVisible = false
              } else {
                this.$message.warning(res.data.errMsg)
              }
            })
          } else {
            // 驳回
            turndownTask(this.businessId, this.ruleForm.content).then(res => {
              this.btnRequestDisabled = false
              if (res.data.code === 0) {
                this.$message({
                  message: '驳回成功',
                  type: 'success'
                })
                this.$emit('backPage', false)
                this.dialogFormVisible = false
              } else {
                this.$message.warning(res.data.errMsg)
              }
            })
          }
        } else {
          this.dialogFormVisible = false
        }
      })
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
          // 重置表单
          this.$refs.ruleForm.resetFields()// clearValidate 清除校验
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.$emit('close', false)
      this.$refs.ruleForm.resetFields()
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 303px;
}
/deep/.el-dialog__body {
  background-color: #fff;
}
/deep/.el-textarea__inner {
  width: 500px;
}
</style>
