<template>
  <el-dialog :close-on-click-modal="false" :width="'1000px'" :title="title" :visible.sync="dialogFormVisible" @close="editDialogClosed">
    <div class="content-table">
      <el-table tooltip-effect="dark" border :data="applyTable">
        <el-table-column label="流程进度" prop="process" align="center"></el-table-column>
        <el-table-column label="经办人" prop="agentName" align="center"></el-table-column>
        <el-table-column label="操作时间" align="center" prop="operatingTime">
          <!-- :formatter="dateFormat" -->
          <template slot-scope="scope">
            <span v-if="scope.row.operatingTime!=0">{{scope.row.operatingTime|formatDate}}</span>
          </template>
        </el-table-column>
        <el-table-column label="处理决定" prop="decision" align="center"></el-table-column>
        <el-table-column label="经办意见" prop="opinion" align="center">
          <template slot-scope="scope">
            <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.opinion">
              <span slot="reference"> {{ scope.row.opinion | ellipsis(10) }}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- <el-pagination background layout="prev, pager, next" :total="1000" style=" text-align: right;margin: 20px;" /> -->
  </el-dialog>
</template>
<script>
import { processInfo } from '@/until/api.js'

export default {
  data () {
    return {
      title: '',
      businessId: '',
      applyTable: [],
      dialogFormVisible: false
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    },
    formatDate (dataStr) {
      var time = new Date(parseInt(dataStr))
      function timeAdd0 (str) {
        if (str < 10) {
          str = '0' + str
        }
        return str
      }
      var y = time.getFullYear()
      var m = time.getMonth() + 1
      var d = time.getDate()
      var h = time.getHours()
      var mm = time.getMinutes()
      var s = time.getSeconds()
      return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' +
        timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s)
    }
  },
  methods: {
    show () {
      this.dialogFormVisible = true
      this.getDataList()
    },
    getDataList () {
      processInfo(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.applyTable = res.data.data
        }
      })
    },
    editDialogClosed () {
      this.dialogFormVisible = false
    },
    dateFormat (row, column) {
      var moment = require('moment')
      var date = row[column.operatingTime]
      return moment(date).format('YYYY-MM-DD HH:mm:ss')
    }

  }
}
</script>

<style lang="less" scoped>
/deep/.el-table--border{
  border: 1px solid #EBEEF5;
}
/deep/.el-dialog__body {
  width: 100% !important;
  background-color: #fff !important;
}
.thead {
  background-color: red !important;
}
.content-table{
  height:500px;
  padding:30px 20px;
  max-height: 585px;
}
</style>
