<template>
  <el-dialog :close-on-click-modal="false" title="合同签署呈批表" :width="'800px'" :visible.sync="approvalForm" @close="editDialogClosed">
    <div class="content-table">
      <div style="text-align:center;margin-bottom:30px;font-weight:bold;color:#000000;">物业租赁合同呈批表</div>
      <table border="1" cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
          <td class="table-tit" align="center">附件资料</td>
          <td align="left" class="table-content">{{tableList.fileList}}</td>
        </tr>
        <tr>
          <td class="table-tit" align="center">承租人</td>
          <td align="left" class="table-content">{{tableList.tenant}}</td>
        </tr>
        <tr>
          <td class="table-tit" align="center">合同主要条款</td>
          <td align="left" class="table-content">{{tableList.mainTermsOfTheContract}}</td>
        </tr>
      </table>
    </div>
    <div class="up-down">
      <el-button type="primary" :disabled="btnRequestDisabled" @click="downLoad">下载</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { htApproveFormShow, htApproveForm } from '@/until/api.js'

export default {
  data () {
    return {
      businessId: '',
      btnRequestDisabled: false,
      approvalForm: false,
      tableList: []
    }
  },
  methods: {
    show () {
      this.approvalForm = true
      this.getTableData()
    },
    getTableData () {
      htApproveFormShow(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.tableList = res.data.data
        }
      })
    },
    downLoad () {
      this.btnRequestDisabled = true
      htApproveForm(this.businessId).then(res => {
        this.btnRequestDisabled = false
        if (res.data.code) {
          if (res.data.code !== 0) {
            this.$message.warning(res.data.errMsg)
          }
        } else {
          window.location.href = '/zbkc/ywBusiness/yw/signApplication/table?businessId=' + this.businessId
        }
      })
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    editDialogClosed () {
      this.approvalForm = false
    }

  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
