<template>
  <!-- :before-close="handleClose" -->
  <el-dialog :close-on-click-modal="false" title="编辑" :width="'500px'" :visible.sync="dialogFormVisible">
    <el-form :model="editData" ref="editData" :rules="rules" class="project-el-form" label-width="120px">
      <el-form-item label="物业名称:" prop="wyName" required>
        <el-input v-model="editData.wyName" disabled></el-input>
      </el-form-item>
      <el-form-item label="租赁面积:" prop="buildArea" required>
        <el-input v-model="editData.buildArea" disabled>
          <template slot="append">m²</template>
        </el-input>
      </el-form-item>
      <el-form-item label="租金单价:" prop="rentPrice" required>
        <el-input maxlength="16" v-model="editData.rentPrice" @input="changeRent">
          <template slot="append">元/m²</template>
        </el-input>
      </el-form-item>
      <el-form-item label="月租金:" prop="monthlyRent" required>
        <el-input v-model="editData.monthlyRent" disabled>
          <template slot="append">元</template>
        </el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
// import { addMessage, updMessage, getRowDetail } from '@/until/api.js'
export default {
  props: ['editData'],
  data () {
    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }
    return {
      dialogFormVisible: false,
      formLabelWidth: '126px',
      ruleForm: {
        id: '',
        name: '',
        word: '',
        remark: '',
        userId: ''
      },
      rules: {
        rentPrice: [
          { required: true, message: '请输入登记价', trigger: 'blur' },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    show () {
      this.dialogFormVisible = true
    },
    submit () {
      this.$emit('close', false)
      this.$message({
        message: '编辑成功',
        type: 'success'
      })
      this.dialogFormVisible = false
    },
    changeRent () {
      this.editData.monthlyRent = this.editData.buildArea * this.editData.rentPrice
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.$emit('close', false)
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
.project-el-form{
  padding: 30px 20px;
}
/deep/.el-dialog__body {
  background-color: #fff;
}
</style>
