<template>
  <el-dialog :close-on-click-modal="false" title="发送短信" :width="'800px'" :visible.sync="dialogFormVisible">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="project-el-form pt20" label-width="120px">
      <el-form-item label="短信模板名称:" prop="name" :label-width="formLabelWidth" class="use-option" required>
        <el-select clearable @change="selectRentUse" v-model="ruleForm.name" placeholder="请选择">
          <el-option v-for="item in msgName" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="短信内容:" prop="content" :label-width="formLabelWidth" required>
        <el-input type="textarea" v-model="ruleForm.content"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
export default {
  data () {
    return {
      btnRequestDisabled: false,
      dialogFormVisible: false,
      formLabelWidth: '126px',
      msgName: [
        {
          value: '选项1',
          label: '所有模板'
        }, {
          value: '选项2',
          label: '审批意见  '
        }
      ],
      ruleForm: {
        name: '',
        content: ''
      },
      rules: {
        name: [
          { required: true, message: '请选择短信模板', trigger: 'blur' }
        ],
        content: [
          { required: true, message: '请输入短信内容', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    show () {
      this.dialogFormVisible = true
    },
    submit () {

    },
    selectRentUse () {

    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    cancel () {
      this.$emit('close', false)
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 303px;
}
/deep/.el-dialog__body {
  background-color: #fff;
}
/deep/.el-textarea__inner {
  width: 500px;
}
</style>
