<template>
  <el-dialog :close-on-click-modal="false" title="用房移交呈批表" :width="'800px'" :visible.sync="approvalForm" @close="editDialogClosed">
    <!-- :before-close="handleClose" -->
    <div class="content-table">
      <div style="text-align:center;margin-bottom:30px;font-weight:bold;color:#000000;">移动用房呈批表</div>
      <table border="1" cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
          <td class="table-tit" align="center">项目名称</td>
          <td align="left" class="table-content">{{tableList.proName}}</td>
        </tr>
        <tr>
          <td class="table-tit" align="center">申请单位</td>
          <td align="left" class="table-content">{{tableList.applicantUnit}}</td>
        </tr>
        <tr>
          <td class="table-tit" align="center">申请阶段</td>
          <td align="left" class="table-content">{{tableList.stageName}}</td>
        </tr>
        <tr v-for="(item,index) in tableList.processList" :key='index'>
          <td class="table-tit" align="center">{{item[0]}}</td>
          <td align="left" class="table-content">
            <div>{{item[1]}}</div>
            <div style="text-align:right;padding-right:10px;font-size:12px;">{{item[2]}}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="up-down">
      <el-button type="primary" @click="downLoad" :disabled="btnRequestDisabled">下载</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { yjApproveFormShow, yjApproveForm } from '@/until/api.js'

export default {
  data () {
    return {
      businessId: '',
      tableList: [],
      btnRequestDisabled: false,
      approvalForm: false
    }
  },
  created () {
    // console.log(this.businessId)
  },
  methods: {
    show () {
      this.approvalForm = true
      this.getTableData()
    },
    getTableData () {
      yjApproveFormShow(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.tableList = res.data.data
        }
      })
    },
    downLoad () {
      this.btnRequestDisabled = true
      yjApproveForm(this.businessId).then(res => {
        this.btnRequestDisabled = false
        if (res.data.code) {
          if (res.data.code !== 0) {
            this.$message.warning(res.data.errMsg)
          }
        } else {
          window.location.href = '/zbkc/ywBusiness/yw/agencyApply/table?businessId=' + this.businessId
        }
      })
    },
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    editDialogClosed () {
      this.approvalForm = false
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
