<template>
  <div class="parameter_mian">
    <Breadcrumb barName ="商业" icon="el-icon-s-home"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="物业名称：" class="form-item" style="width:320px;">
          <el-input v-model="form.name" style="width:240px;" placeholder="请输入物业名称" clearable @clear='parameterlist'></el-input>
        </el-form-item>
        <!-- <el-form-item label="物业种类：" class="form-item">
          <el-select v-model="form.propertyTypeId" placeholder="请选择" clearable @clear='parameterlist'>
            <el-option v-for="item in propertyTypeNameList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item> -->
        <!-- <el-form-item label="物业规模：" class="form-item">
          <el-select v-model="form.propertyScaleId" placeholder="请选择" clearable @clear='parameterlist'>
            <el-option v-for="item in propertyScaleNameList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item> -->

        <!-- <el-form-item label="所属街道：" class="form-item">
          <el-select v-model="form.streetName" placeholder="请选择" @change="selectCommitteeCode($event)" clearable>
            <el-option v-for="item in streetCodeList" :key="item.id" :label="item.name" :value="item.streetCode">
            </el-option>
          </el-select>
        </el-form-item> -->

        <el-form-item label="所属街道：" class="form-item">
          <el-select v-model="form.streetName" placeholder="请选择" clearable @clear='parameterlist'>
            <el-option v-for="item in streetCodeList" :key="item.id" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="parameterlist">查询</el-button>
          <el-button type="primary" @click="handleReset" style="margin-left:20px;">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" icon="el-icon-plus" @click="() => handleAddEditSee('0','1','add')">新增园区规模物业</el-button>
        <el-button type="primary" icon="el-icon-plus" @click="() => handleAddEditSee('0','7','add')" style="margin:0 16px;">新增楼栋规模物业</el-button>
        <el-button type="primary" icon="el-icon-plus" @click="() => handleAddEditSee('0','6','add')">新增零散规模物业</el-button>
      </div>
      <div class="table">
        <el-table :data="pagelist" border style="width: 100%"  @sort-change="changeSort">
          <el-table-column type="index" label="序号" align="center" width="60px"></el-table-column>
          <el-table-column prop="name" label="物业名称" align="center"></el-table-column>
          <!-- <el-table-column prop="propertyScaleName" label="物业规模" align="center"></el-table-column> -->
          <!-- <el-table-column prop="propertyTypeName" label="物业种类" align="center"></el-table-column> -->
          <el-table-column prop="buildArea" label="建筑面积(㎡)" align="center"></el-table-column>
          <el-table-column prop="emptyArea" label="空置面积(㎡)" align="center"></el-table-column>
          <el-table-column prop="street" label="所属街道" align="center"></el-table-column>
          <el-table-column prop="committee" label="所属社区" align="center"></el-table-column>
          <!-- <el-table-column prop="badge" label="物业状态" align="center" sortable="custom">
            <template slot-scope="scope">
              <i v-if="scope.row.propertyStatusName === '已投入使用'" style="font-style: normal; display: inline-block; width:8px;height:8px; background-color: #5cb85c; border-radius: 4px; margin-bottom: 1px;"></i>
              <i v-else-if="scope.row.propertyStatusName === '接收未使用'" style="font-style: normal; display: inline-block; width:8px;height:8px; background-color: #5bc0de; border-radius: 4px; margin-bottom: 1px;"></i>
              <i v-else-if="scope.row.propertyStatusName === '在建'" style="font-style: normal; display: inline-block; width:8px;height:8px; background-color: #f0ad4e; border-radius: 4px; margin-bottom: 1px;"></i>
              <i v-else-if="scope.row.propertyStatusName === '旧改'" style="font-style: normal; display: inline-block; width:8px;height:8px; background-color: #337ab7; border-radius: 4px; margin-bottom: 1px;"></i>
              <i v-else-if="scope.row.propertyStatusName === '报废'" style="font-style: normal; display: inline-block; width:8px;height:8px; background-color: #999999; border-radius: 4px; margin-bottom: 1px;"></i>

              {{scope.row.propertyStatusName}}
            </template>
          </el-table-column> -->
          <el-table-column prop="tag" label="物业权属" align="center">
            <template slot-scope="scope" v-if="scope.row.propertyTagName">
              <el-tag style="border-radius: 16px; text-align:center" effect="plain" :type="scope.row.propertyTagName === '国企物业' ? 'primary'
               : scope.row.propertyTagName === '政府物业' ? 'danger'
               : scope.row.propertyTagName === '集体物业' ? 'success'
               : 'warning'">{{scope.row.propertyTagName}}</el-tag>
            </template>
          </el-table-column>

          <!-- <el-table-column prop="committee" label="所属社区" align="center"></el-table-column> -->

          <el-table-column label="操作" align="center" width="240px" fixed="right">
            <template slot-scope="scope">
              <el-button type="primary" @click="handleAddEditSee(scope.row.id,scope.row.type,'see',scope.row.userId,)" size="mini">查看</el-button>
              <el-button type="primary" @click="handleAddEditSee(scope.row.id,scope.row.type,'edit',scope.row.userId,)" size="mini">编辑</el-button>
              <el-button type="primary" @click="handleDetele(scope.row.id,scope.row.userId)" size="mini">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</template>
<script>
import Breadcrumb from '@/components/BreadCrum'
import { wyBasicInfoList } from '@/until/api.js'
import { selectTag, streetCode,
// committeeCode,
  parkdelete } from './request.js'
// import {mapMutations} from 'vuex'

export default {
  components: { Breadcrumb },
  data () {
    return {
      form: {
        name: '',
        // propertyTypeId: '',
        propertyScaleId: '',
        streetName: '',
        assetType: '商业',
        sort: 0
      },
      child: '',
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      totalNum: 0,
      // propertyTypeNameList: [],
      propertyStatusNameList: [],
      propertyScaleNameList: [],
      streetCodeList: [],
      committeeCodeList: [],
      streetCode: ''
    }
  },
  created () {
    this.parameterlist()
    // selectTag('property_type2').then(res => {
    //   this.propertyTypeNameList = res.data.data
    // })
    selectTag('property_status').then(res => {
      this.propertyStatusNameList = res.data.data
    })
    selectTag('property_scale').then(res => {
      let propertyData = res.data.data
      let arr = []
      Array.isArray(propertyData) && propertyData.length > 0 && propertyData.forEach((item) => {
        if ((item.name === '园区') || (item.name === '楼栋') || (item.name === '零散')) {
          arr.push(item)
        }
      })
      this.propertyScaleNameList = arr
    })
    streetCode('440305').then(res => {
      this.streetCodeList = res.data.data
      this.streetCodeList.push({id: -1, name: '其它'})
    })
  },

  methods: {
    handleVal () {
      if (this.committeeCodeList.length === 0) {
        this.$message({
          showClose: true,
          message: '请选择街道',
          type: 'warning'
        })
      }
    },

    // selectCommitteeCode (val) {
    //   committeeCode(val).then(res => {
    //     if (res.data.code === 0) {
    //       this.committeeCodeList = res.data.data
    //     }
    //   })
    //   Array.isArray(this.streetCodeList) && this.streetCodeList.length > 0 && this.streetCodeList.forEach(element => {
    //     if (element.streetCode === val) {
    //       this.form.streetName = element.name
    //     }
    //   })
    // },

    changeSort (val) {
      if (val.order === 'ascending') {
        this.form.sort = 1
        this.parameterlist()
      } else if (val.order === 'descending') {
        this.form.sort = 2
        this.parameterlist()
      } else {
        this.form.sort = 0
        this.parameterlist()
      }
    },

    // 新增&编辑&查看
    handleAddEditSee (id, type, stutas, roleId) {
      let postId = sessionStorage.getItem('userId')
      if (stutas === 'add') {
        if (postId) { // 新增是否登录校验
          this.$router.push({ path: '/business/mainPark', query: { id: id, type: type, stutas: stutas, userId: postId } })
        } else {
          this.$message({
            type: 'warning',
            message: '请先登录!'
          })
          this.$router.push({ path: '/login' })
        }
      } else if (type === 'edit') {
        // if (roleId === postId) { // 编辑权限校验
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: type, stutas: stutas, userId: postId } })
        // } else {
        //   this.$message({
        //     type: 'warning',
        //     message: '对不起，您无权编辑该文件!'
        //   })
        // }
      } else { // 查看跳转
        this.$router.push({ path: '/business/mainPark', query: { id: id, type: type, stutas: stutas, userId: postId } })
      }
    },

    handleReset () {
      this.form.name = ''
      // this.form.propertyTypeId = ''
      this.form.propertyScaleId = ''
      this.form.streetName = ''
      this.form.sort = 0
      this.parameterlist()
    },

    parameterlist () {
      let params = Object.assign(
        {},
        {
          p: this.currentPage,
          size: this.pagesize,
          userId: sessionStorage.getItem('userId') ? sessionStorage.getItem('userId') : '',
          sort: 0
        },
        this.form
      )
      wyBasicInfoList(params).then(res => {
        let tableList = res.data.data.list
        // let tableData = []
        // Array.isArray(tableList) && tableList.length > 0 && tableList.forEach((item) => {
        //   let obj = item
        //   obj.street = item.address && (item.address).length > 12 && (item.address).split('/')[3]
        //   obj.committee = item.address && (item.address).length > 12 && (item.address).split('/')[4]
        //   tableData.push(obj)
        // })
        this.pagelist = tableList
        this.totalNum = res.data.data.total
      })
    },

    handleSizeChange (size) {
      this.pagesize = size
      this.parameterlist()
    },

    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.parameterlist()
    },

    handleDetele (id, roleId) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '温馨提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let postId = sessionStorage.getItem('userId')
        if (roleId === postId) {
          parkdelete(id).then((res) => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              this.parameterlist()
            }
          })
        } else {
          this.$message({
            type: 'warning',
            message: '对不起，您无权删除该文件!'
          })
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
