<template>
  <el-dialog :close-on-click-modal="true" :width="'1200px'" top="8vh" :title="fname" :visible.sync="dialogFormVisible" @close="dialogClosed" :class="(preViewType==='xlsx') || (preViewType==='xls') ? 'loading' : ''">

    <!-- pdf -->
    <div v-show="preViewType==='pdf'" class="pre-pdf">
      <pdf :src="src" :page="currentPage" @num-pages="pageCount=$event" @page-loaded="currentPage=$event" @loaded="loadPdfHandler">
      </pdf>
      <div class="pdf-btn">
        <el-button type="primary" @click="changePdfPage(0)" class="turn" :class="{grey: currentPage===1}">上一页</el-button>
        <span> {{currentPage}}</span>
        <span>/</span>
        <span>{{pageCount}}</span>
        <el-button type="primary" @click="changePdfPage(1)" class="turn" :class="{grey: currentPage===pageCount}">下一页</el-button>
      </div>
    </div>

    <!-- 表格 -->
    <div>
    <excel-view v-show="(preViewType==='xlsx') || (preViewType==='xls')" :datas="excelData" class="excel"/>
    </div>
    <!-- 图片 -->
    <el-image class="pre-img" v-show="isImg.indexOf(preViewType) !== -1" style="width: 100%; height: 100%" :src="preApplyImg"></el-image>

    <!-- word -->
    <div v-show="(preViewType==='docx') || (preViewType==='doc')" ref="wordView" class="pre-docx"></div>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import pdf from 'vue-pdf'
// import XLSX from 'xlsx'
import excelview from 'vue-excelview'
let docx = require('docx-preview')
export default {
  name: 'fileIframe',
  components: {
    pdf,
    'excel-view': excelview
  },
  props: ['preViewType', 'preViewSrc', 'preApplyImg', 'fname'],
  data () {
    return {
      dialogFormVisible: false,
      headerTitle: this.fname,
      currentPage: 0, // pdf文件页码
      pageCount: 0, // pdf文件总页数
      fileType: '', // 文件类型 src: '', // pdf文件地址
      src: '', // pdf文件地址
      isImg: ['jpeg', 'png', 'gif', 'jpg', 'image'],
      tableData: [],
      workbook: {},
      excelURL: '',
      excelData: []
    }
  },
  watch: {
    preViewSrc: function (newVal) {
      this.getProcess()
    }
  },
  created () {
    this.getProcess()
    // console.log(this.fname, 'this.fname')
  },
  methods: {
    show () {
      this.dialogFormVisible = true
    },
    dialogClosed () {
      this.dialogFormVisible = false
    },
    getProcess () {
      if (this.preViewType === 'pdf') {
        this.preViewPdf()
      } else if ((this.preViewType === 'docx') || (this.preViewType === 'doc')) {
        this.preViewDocx()
      } else if ((this.preViewType === 'xlsx') || (this.preViewType === 'xls')) {
        this.readWorkbookFromRemoteFile()
      }
    },
    // docx预览
    preViewDocx () {
      axios({
        method: 'get',
        responseType: 'blob', // 设置响应文件格式
        url: this.preViewSrc
      }).then(({ data }) => {
        docx.renderAsync(data, this.$refs.wordView) // 渲染到页面预览
      })
    },
    // pdf预览
    preViewPdf () {
      axios({
        method: 'get',
        responseType: 'blob', // 设置响应文件格式
        url: this.preViewSrc
      }).then(({ data }) => {
        console.log(data, 'data')
        this.src = this.getObjectURL(data)
      })
    },
    // 将返回的流数据转换为url
    getObjectURL (file) {
      let url = null
      if (window.createObjectURL !== undefined) { // basic
        url = window.createObjectURL(file)
      } else if (window.webkitURL !== undefined) { // webkit or chrome
        try {
          url = window.webkitURL.createObjectURL(file)
        } catch (error) {

        }
      } else if (window.URL !== undefined) { // mozilla(firefox)
        try {
          url = window.URL.createObjectURL(file)
        } catch (error) {
        }
      }
      return url
    },
    // pdf预览翻页
    changePdfPage (val) {
      if (val === 0 && this.currentPage > 1) {
        this.currentPage = this.currentPage - 1
      }
      if (val === 1 && this.currentPage < this.pageCount) {
        this.currentPage = this.currentPage + 1
      }
    },
    // pdf加载时
    loadPdfHandler (e) {
      this.currentPage = 1 // 加载的时候先加载第一页
    },
    // 表格数据预览
    readWorkbookFromRemoteFile () {
      axios({
        method: 'get',
        responseType: 'arraybuffer',
        url: this.preViewSrc
      }).then(({data}) => {
        this.excelData = data
      })
    }
  }
}
</script>

<style lang="less" scoped>
/deep/.el-dialog__header {
  background-color: #5b9bd5;
}
.el-dialog {
  display: flex;
  flex-direction: column;
  /deep/.el-dialog__body {
    overflow-y: auto;
  }
}
.preview {
  width: 100%;
  height: 100%;
}
.preview-pdf {
  width: 100%;
  height: 600px;
}
.docx-view {
  // width: 70%;
  height: 100%;
  background: #fff;
  /deep/.docx-wrapper {
    background: #fff !important;
  }
}
.pdf-btn{
  text-align: center;
  padding-bottom: 20px;
}
.pre-img,.pre-excell,.pre-docx,.pre-pdf{
  padding: 20px;
  box-sizing: border-box;
  /deep/.docx-wrapper {
    background: #fff !important;
  }
}
.loading{
/deep/.el-dialog__body{
  width: 100%;
  height: 666px;
}
}
.excel{
  margin-top: 30px;
  width: 96.5%;
  height: 640px;
  overflow: auto;
  border: 1px solid #dddddd;
  // .view{
  //   padding-bottom: 14px;
  // }
  /deep/.excel-button-group{
    position: absolute;
    top: 79px;
  }
}
::-webkit-scrollbar{
  background-color: #dddddd;
}
</style>
