<template>
  <div class="user_mian">
    <div class="user_body">
      <div class="aa">
        <!-- <div class="user_body_left">
        </div> -->
        <div class="user_body_right">
          <div class="right_header">
            <!-- 层 -->
            <h2>{{this.title_name}}</h2><el-button type="primary" @click="handleJump">修改</el-button>
          </div>
          <div class="div_table">
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name"  id="1">基础信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
               <tr>
                <th>物业权属</th>
                <th>{{propertyTagName}}</th>
                <th>权属所有人</th>
                <th>{{pagelist.belongPerson}}</th>
              </tr>
              <tr>
                <th>关联物业</th>
                <th>{{relationName}}</th>
                <th>关联物业规模</th>
                <th>{{relationScale}}</th>
              </tr>
              <tr>
                <th>单元名称</th>
                <th>{{pagelist.unitName}}</th>
                <th>物业名称</th>
                <th>{{pagelist.name}}</th>
              </tr>
              <tr>
                <th>别名/曾用名</th>
                <th>{{pagelist.aliasName}}</th>
                <th>物业规模</th>
                <th>{{propertyScale}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th>{{pagelist.propertyCode}}</th>
                <th>房屋编码</th>
                <th>{{pagelist.houseCode}}</th>
              </tr>
              <!-- <tr class="realtr" valign="top">
                <th>物业简介</th>
                <th colspan="3">{{pagelist.propertyIntroduction}}</th>
              </tr> -->
              <tr v-if="isLabel">
                <th>物业标签</th>
                <th colspan="3">{{wy_tag}}</th>
              </tr>
              <tr>
                <th>建筑面积</th>
                <th align="left" colspan="3">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
              </tr>
              <tr>
                <th>实用面积</th>
                <th align="left">{{pagelist.practicalArea ? `${pagelist.practicalArea}㎡` : ""}}</th>
                <th>公摊面积</th>
                <th align="left">{{pagelist.shareArea ? `${pagelist.shareArea}㎡` : ""}}</th>
              </tr>
              <tr>
                <th>层高</th>
                <th align="left">{{pagelist.storeyHeight ? `${pagelist.storeyHeight}m` : ""}}</th>
                <th>承重</th>
                <th align="left">{{pagelist.loadBearer ? `${pagelist.loadBearer}kg` : ""}}</th>
              </tr>
               <tr>
                <th>朝向</th>
                <th align="left">{{towardsName}}</th>
                <th>内三维</th>
                <th align="left">{{threeDimen}}</th>
              </tr>
              <!-- <tr>
                <th>物业种类</th>
                <th colspan="3">{{this.propertyType_name}}</th>
              </tr> -->
              <tr>
                <th>物业地址</th>
                <th colspan="3">{{pagelist.detailAddr}}</th>
              </tr>
              <tr v-if="isLabel">
                <th>物业规划用途</th>
                <th colspan="3">{{pagelist.propertyPlan}}</th>
              </tr>
              <tr>
                <th>单元状态</th>
                <th colspan="3">{{unitStatus}}</th>
              </tr>
               <tr height="141px" valign="center" class="trimg">
                <th>户型图</th>
                <th colspan="3" align="left">
                  <viewer :images="houseImglist">
                    <span v-for="(item,index) in houseImglist" :key="index">
                      <img class="imgs" :src="[item.path]">
                    </span>
                  </viewer>
                </th>
              </tr>
            </table>
             </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { details } from '../request'
export default {
  props: ['id', 'pid'],
  data () {
    return {
      pagelist: [],
      title_name: '',
      radio: '基本信息',
      pname: '',
      relationName: '',
      relationScale: '',
      wy_tag: '',
      unitStatus: '空置', // 单元状态
      propertyScale: '', // 物业规模
      propertyStatus_name: '', // 物业状态
      propertySource_name: '', // 物业来源
      propertyTag_name: '', // 物业权属
      // propertyType_name: '', // 物业种类
      floorList: [], // 层高承重
      towardsName: '',
      threeDimen: '',
      houseImglist: [], // 图片
      wyFacilitiesInfoList: [], // 附属设施信息
      propertyTagName: '',
      isLabel: false
    }
  },
  created () {
    this.to()
  },
  methods: {
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },
    to () {
      details(this.id).then(res => {
        let { info,
          propertyTag,
          propertySource,
          // propertyType,
          propertyStatus,
          propertyScale,
          relationName,
          relationScale,
          wyTag,
          floorList,
          houseImg,
          wyFacilitiesInfoList
        } = res.data.data
        this.unitStatus = '空置'
        let towardsArr = {'1': '东', '2': '南', '3': '西', '4': '北', '5': '东北', '6': '西北', '7': '东南', '8': '西南'}
        this.towardsName = towardsArr[String(info.towards)]
        this.threeDimen = info.threeDimen
        this.relationName = relationName
        this.relationScale = relationScale
        this.wy_tag = this.handleFilterData(wyTag)
        this.pagelist = info
        this.title_name = info.name
        this.floorList = floorList
        this.houseImglist = houseImg
        this.propertySource_name = this.handleFilterData(propertySource)
        // this.propertyType_name = this.handleFilterData(propertyType)
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].id && (String(propertyTag[0].id) === '10'))
        this.propertyTagName = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyScale = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.wyFacilitiesInfoList = wyFacilitiesInfoList
        this.propertyTag_name = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    // 跳转编辑
    handleJump () {
      // let {userId} = this.$route.query
      // let roleId = sessionStorage.getItem('userId')
      // if (userId === roleId) {
      this.$emit('event', this.id)
      // } else {
      //   this.$message({
      //     type: 'warning',
      //     message: '对不起，您无权修改该文件!'
      //   })
      // }
    }
  },
  watch: {
    'id': function (newVal) {
      this.to()
    }
  }
}
</script>
<style scoped>
.button :link{
font-size: 25px;
}
/* .trimg img{
  height: 91px;
  width:121px;
  margin:15px 0 0 15px ;
}
.trimg img:nth-of-type(1){
  margin-left: 0px;
} */
.tablekg {
  width: 100%;
}
.tablekg tr:nth-of-type(1) th {
  background: #e8eff2;
  border-radius: 3px;
  height: 42px;
    font-weight: 600;
}
.tablekg tr th {
  border-bottom: 1px solid #e8eff2;
   height: 42px;
}
.tablekg tr th {
  font-weight: 400;
}
.realtr {
  height: 189px;
}
.imgs{
  width:120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border:1px solid #ddd;
  border-radius: 6px;
  margin-right: 12px;
  line-height: 140px;
  margin-top: 2px;
}
.realtr th {
  padding-top: 18px;
}
.el-input__inner {
  width: 300%;
  margin: 2px;
}
.right_header {
  display: flex;
  align-items:center;
  justify-content:space-between;
  height: 58px;
  line-height: 58px;
  padding:0 20px ;
  border-bottom: 1px solid #DDDDDD;
}
.right_headertwo  >>> .el-radio-button__inner {
   width: 115px;
height: 34px;
    padding: 10px 20px;
  }
.right_headertwo {
  line-height: 58px;
   padding:0 10px ;
  height: 58px;
}
.user_body_right {
  height: 98%;
  width: 100%;
}
.div_table {
  margin-top: 10px;
  padding: 10px;
  margin: 10px;
  height: calc(90% - 10px);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.aa {
  display: flex;
  width: 100%;
  height: 100%;
}
.user_body {
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width:cale(100%-15px);
  height: 100%;
  /* margin:0 0 0 15px; */
   box-shadow: 0px 1px 0px 0px #DDDDDD;
border-radius: 6px 6px 0px 0px;
}
.table,
.infotable,
.accessory {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.accessory tr th:nth-of-type(1) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.accessory tr th:nth-of-type(2) {
  text-align: left;
  padding-left: 25px;
  width: 85%;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3),
.infotable tr th:nth-of-type(1),
.infotable tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4),
.infotable tr th:nth-of-type(2),
.infotable tr th:nth-of-type(4) {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
}
.title {
  width: 100%;
  height: 90px;
}
.title_header{
  width: 100%;
  height: 42px;
}
.vertical-line {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #1286ff;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.name{
   line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.title-name {
  line-height: 90px;
  font-size: 18px;
  font-weight: bold;
}
</style>
