<template>
  <div style="padding:10px;">
    <el-table border :data="tableData">
      <el-table-column label="序号" type="index" align="center"></el-table-column>
      <el-table-column prop="wyName" label="物业名称" width="180"></el-table-column>
      <el-table-column prop="wyType" label="物业主体"> </el-table-column>
      <el-table-column prop="wySize" label="物业规模"> </el-table-column>
      <el-table-column prop="wyLabel" label="物业标签"> </el-table-column>
      <el-table-column prop="wyAddress" label="地址"> </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" class="handle-el-icon" @click="seeDetail(scope.row)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="block" style="text-align: right;margin:10px 20px;">
      <el-pagination class="table-pagination" background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
      </el-pagination>
    </div>
    <MainParkSee v-if="mainParkSeeVisible" ref="mainParkSeeInfoForm"/>
    <BuildSee v-if="buildSeeVisible" ref="buildSeeInfoForm"/>
    <FloorSee v-if="floorSeeVisible" ref="floorSeeInfoForm"/>
    <RoomSee v-if="roomSeeVisible" ref="roomSeeInfoForm"/>
    <MainOtherSee v-if="mainOtherSeeVisible" ref="mainOtherSeeInfoForm"/>
    <MainBuildSee v-if="mainBuildSeeVisible" ref="mainBuildSeeInfoForm"/>
  </div>
</template>
<script>
import { propertyShow } from '@/until/api.js'
import MainParkSee from './mainParkSee/index.vue'
import MainBuildSee from './mainBuildSee/index.vue'
import MainOtherSee from './mainOtherSee/index.vue'
import BuildSee from './buildSee/index.vue'
import FloorSee from './floorSee/index.vue'
import RoomSee from './roomSee/index.vue'

export default {
  components: {
    MainParkSee,
    BuildSee,
    FloorSee,
    RoomSee,
    MainOtherSee,
    MainBuildSee
  },
  data () {
    return {
      mainParkSeeVisible: false,
      mainBuildSeeVisible: false,
      mainOtherSeeVisible: false,
      buildSeeVisible: false,
      floorSeeVisible: false,
      roomSeeVisible: false,
      contractId: '',
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      tableData: [],
      searchForm: {
        name: '',
        address: ''
      }
    }
  },
  created () {
    this.contractId = this.$route.query.contractId
    this.getTableList()
  },
  methods: {
    // 获取已选物业资产列表
    getTableList () {
      propertyShow(this.contractId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          this.tableData = res.data.data
          this.totalSize = this.tableData.length
        }
      })
    },
    // 查看
    seeDetail (row) {
      row.type = parseInt(row.type)
      const actions = {
        // 园区主体
        '1': () => {
          this.mainParkSeeVisible = true
          this.$nextTick(() => {
            this.$refs.mainParkSeeInfoForm.id = row.id
            this.$refs.mainParkSeeInfoForm.show()
          })
        },
        // 楼栋
        '2': () => {
          this.buildSeeVisible = true
          this.$nextTick(() => {
            this.$refs.buildSeeInfoForm.id = row.id
            this.$refs.buildSeeInfoForm.show()
          })
        },
        // 楼层
        '3': () => {
          this.floorSeeVisible = true
          this.$nextTick(() => {
            this.$refs.floorSeeInfoForm.id = row.id
            this.$refs.floorSeeInfoForm.show()
          })
        },
        // 零散主体
        '6': () => {
          this.mainOtherSeeVisible = true
          this.$nextTick(() => {
            this.$refs.mainOtherSeeInfoForm.id = row.id
            this.$refs.mainOtherSeeInfoForm.show()
          })
        },
        // 楼栋主体
        '7': () => {
          this.mainBuildSeeVisible = true
          this.$nextTick(() => {
            this.$refs.mainBuildSeeInfoForm.id = row.id
            this.$refs.mainBuildSeeInfoForm.show()
          })
        },
        // 单元/室
        'other': () => {
          this.roomSeeVisible = true
          this.$nextTick(() => {
            this.$refs.roomSeeInfoForm.id = row.id
            this.$refs.roomSeeInfoForm.show()
          })
        }
      }
      if (row.type === 4 || row.type === 5) {
        row.type = 'other'
      }
      actions[row.type]()
    },
    // 分页切换
    handleSizeChange (size) {
      this.pagesize = size
      this.getTableList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getTableList()
    }
  }
}
</script>

<style lang="less" scoped>
</style>
