<template>
  <div>
    <el-dialog :title="activeName === 'add' ? '新增授权' : '修改授权'" :width="'1200px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false" @close="dialogClose">
      <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="200px">
        <el-row>
          <el-col :span="24" style=" font-weight: bold;">
            <el-form-item label="网签类型:">
              <el-radio v-model="radio" label="1" @change="radio1()" :disabled="disableAll">新签</el-radio>
              <el-radio v-model="radio" label="2" @change="radio1()" :disabled="disableAll">续签</el-radio>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-show="this.radio==1">
          <el-form-item label="申请对象:" prop="applyObj">
            <el-input v-model="ruleForm.applyObj" disabled></el-input>
          </el-form-item>
          <el-form-item label="承租方:" prop="applicantUnit">
            <el-input v-model="ruleForm.applicantUnit" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="社会统一信用代码:" prop="socialUniformCreditCode">
            <el-input v-model="ruleForm.socialUniformCreditCode" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="营业执照地址:" prop="businessLicenseAddress">
            <el-input v-model="ruleForm.businessLicenseAddress" :disabled="disableAll"></el-input>

          </el-form-item>
          <el-form-item label="物业名称:" prop="wyName">
            <el-select v-model="ruleForm.wyName" filterable clearable :filter-method="filterWy" @focus="focusWy" placeholder="请选择" :disabled="disableAll" >
              <el-option v-for="(item,index) in optionsFilter" :key="'wyList1_'+index+'_'+item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="租赁范围:" prop="leaseArea">
            <el-input v-model="ruleForm.leaseArea" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="是否经济贡献承诺:" prop="isCommitment">
            <el-select v-model="ruleForm.isCommitment" placeholder="请选择" :disabled="disableAll" @change="CommitmentChange(ruleForm.isCommitment)">
              <el-option v-for="item in options1" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="申请业务类型:" prop="businessType">
            <el-select v-model="ruleForm.businessType" placeholder="请选择" :disabled="disableAll">
              <el-option v-for="item in options3" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="经济贡献承诺:" prop="economicCommit" v-if="ruleForm.isCommitment==1">
            <el-input v-model="ruleForm.economicCommit" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="备注:" prop="remark">
            <el-input v-model="ruleForm.remark" type="textarea" style="width:882px" :autosize="{ minRows: 3, maxRows: 6}" :disabled="disableAll"></el-input>
          </el-form-item>
        </el-row>
        <el-row v-show="this.radio==2">
          <el-form-item label="申请对象:" prop="applyObj">
            <el-input v-model="ruleForm.applyObj" disabled></el-input>
          </el-form-item>
          <el-form-item label="承租方:" prop="applicantUnit">
            <el-input v-model="ruleForm.applicantUnit" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="社会统一信用代码:" prop="socialUniformCreditCode">
            <el-input v-model="ruleForm.socialUniformCreditCode" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="营业执照地址:" prop="businessLicenseAddress">
            <el-input v-model="ruleForm.businessLicenseAddress" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-row>
            <el-col :span="12">
              <el-form-item class="is-required" label="选择合同:" prop="contract">
                <el-input v-model="ruleForm.contract" disabled></el-input>
              </el-form-item> <i v-show="!disableAll" class="el-icon-s-order" style="font-size:30px;cursor: pointer;" @click="to"></i>
            </el-col>
            <el-col :span="12">
              <el-form-item label="物业名称:" label-width="168px" prop="wyName">
                <el-select v-model="ruleForm.wyName" filterable clearable :filter-method="filterWy" @focus="focusWy" placeholder="请选择" :disabled="disableAll" >
                  <el-option v-for="(item,index) in optionsFilter" :key="'wyList2_'+index+'_'+item.id" :label="item.unitName" :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="申请业务类型:" prop="businessType">
            <el-select v-model="ruleForm.businessType" placeholder="请选择" :disabled="disableAll">
              <el-option v-for="item in options3" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="租赁范围:" prop="leaseArea">
            <el-input v-model="ruleForm.leaseArea" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item class="is-required" label="续签类型:" prop="renewalType">
            <el-select v-model="ruleForm.renewalType" placeholder="请选择" :disabled="disableAll">
              <el-option v-for="item in options2" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-row>
            <el-col :span="12">
              <el-form-item class="is-required" label="选择主合同:" prop="contract1">
                <el-input v-model="ruleForm.contract1" disabled></el-input>
              </el-form-item>
              <i v-show="!disableAll" class="el-icon-s-order" style="font-size:30px;cursor: pointer;" @click="to1"></i>
            </el-col>
            <el-col :span="12">
              <el-form-item label="是否经济贡献承诺:" label-width="168px" prop="isCommitment">
                <el-select v-model="ruleForm.isCommitment" placeholder="请选择" :disabled="disableAll" @change="CommitmentChange(ruleForm.isCommitment)">
                  <el-option v-for="item in options1" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="经济贡献承诺:" prop="economicCommit" v-if="ruleForm.isCommitment==1">
            <el-input v-model="ruleForm.economicCommit" :disabled="disableAll"></el-input>
          </el-form-item>
          <el-form-item label="备注:" prop="remark">
            <el-input v-model="ruleForm.remark" type="textarea" style="width:882px" :autosize="{ minRows: 3, maxRows: 6}" :disabled="disableAll"></el-input>
          </el-form-item>
        </el-row>
      </el-form>
      <div v-show="!disableAll" slot="footer">
        <el-button @click="cancel3">取 消</el-button>
        <el-button type="primary" @click="submit('ruleForm')" :disabled="submitDisabled">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="选择合同" :width="'1250px'" :visible.sync="dialogFormVisible1" @close="editDialogClosed">
      <section class="project-search">
        <div class="flex-between pr12 ">
          <div class="w200 project-list-item-title">
            <h2 class="pl12">已选择合同: {{this.num }}</h2>
          </div>
          <el-form :inline="true"  class="form-main project-search-form">
            <el-form-item label="租赁物业地址 :" class="form-item">
              <el-input placeholder="请输入租赁物业地址" v-model="ruleForm.wyAddress"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="selectContract()">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
      </section>
      <div class="h5"></div>
      <template>
        <section class="project-table">
          <el-table border :data="pagelist" class="table" style="width:100%;max-height:480px;overflow-y:auto" @selection-change="handleSelectionChange">
            <!-- <el-table-column type="selection" width="55"></el-table-column> -->
            <el-table-column type="selection" width="55" label="序号"></el-table-column>
            <el-table-column type="index" width="55" label="序号"></el-table-column>
            <el-table-column prop="leaseWyAddress" label="租赁物业地址" width="250"></el-table-column>
            <el-table-column prop="type" label="合同类型">
              <template slot-scope="scope">
                {{ type[scope.row.type]}}
              </template>

            </el-table-column>
            <el-table-column prop="rentalArea" label="租赁面积(㎡)" width="100"> </el-table-column>
            <el-table-column prop="webSignType" label="签约类型" width="100">
              <template slot-scope="scope">
                {{ webSignType[scope.row.webSignType]}}
              </template>
            </el-table-column>
            <el-table-column prop="monthlyRent" label="月租金(元/月)" width="100"></el-table-column>
            <el-table-column prop="time" label="租赁期限">
              <template slot-scope="scope">
                {{scope.row.startRentDate}}至 {{scope.row.endRentDate}}
              </template>
            </el-table-column>
            <el-table-column label="操作" width="150">
              <template slot-scope="scope">
                <el-button type="primary" class="handle-el-icon" @click="showUsageRegistration('view',scope.row)">查看合同信息</el-button>
              </template>
            </el-table-column>
          </el-table>
        </section>
        <div style="text-align: right;margin: 20px 20px 0 20px;">
          <el-pagination background :data=pagelist @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum" />
        </div>
      </template>
      <div slot="footer">
        <el-button @click="cancel1">取 消</el-button>
        <el-button type="primary" @click="submit1()">保存信息</el-button>
      </div>
    </el-dialog>
    <el-dialog title="选择主合同" :width="'1250px'" :visible.sync="dialogFormVisible2" @close="editDialogClosed2">
      <section class="project-search">
        <div class="flex-between pr12 ">
          <div class="w200 project-list-item-title">
            <h2 class="pl12">合同数: {{this.num1}}</h2>
          </div>
          <el-form :inline="true"  class="form-main project-search-form">
            <el-form-item label="租赁物业地址 :" class="form-item">
              <el-input placeholder="请输入租赁物业地址" v-model="ruleForm.wyAddress1"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="selectContractTwo()">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
      </section>
      <div class="h5"></div>
      <template>
        <section class="project-table">
          <el-table border :data="pagelist1" class="table-style" style="width:100%;max-height:480px;overflow-y:auto" ref="multipleTable" @select="select" @select-all="selectAll" @selection-change="handleSelectionChange1">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column type="index" width="55" label="序号">
            </el-table-column>
            <el-table-column prop="leaseWyAddress" label="租赁物业地址" width="250"></el-table-column>
            <el-table-column prop="type" label="合同类型">
              <template slot-scope="scope">
                {{ type[scope.row.type]}}
              </template>
            </el-table-column>
            <el-table-column prop="rentalArea" label="租赁面积(㎡)" width="100"> </el-table-column>
            <el-table-column prop="webSignType" label="签约类型" width="100">
              <template slot-scope="scope">
                {{ webSignType[scope.row.webSignType]}}
              </template>
            </el-table-column>
            <el-table-column prop="monthlyRent" label="月租金(元/月)" width="100"></el-table-column>
            <el-table-column prop="time" label="租赁期限">
              <template slot-scope="scope">
                {{scope.row.startRentDate}}至 {{scope.row.endRentDate}}
              </template>
            </el-table-column>
            <el-table-column prop="mainContract" label="操作" width="220">
              <template slot-scope="scope">
                <el-button type="primary" class="handle-el-icon" @click="showUsageRegistration('view',scope.row)">查看合同信息</el-button>
                <el-button type="primary" class="handle-el-icon" @click="submit2()" v-if="scope.row.mainContract===false">设为主合同</el-button>
                <!-- <el-button type="primary" class="handle-el-icon" @click="showUsageRegistration(scope.$index,scope.row)" v-if="scope.row.mainContract===true">取消主合同</el-button> -->
              </template>
            </el-table-column>
          </el-table>
        </section>
        <div style="text-align: right;margin: 20px 20px 0 20px;">
          <el-pagination background :data=pagelist1 @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum1" />
        </div>
      </template>
      <div slot="footer">
        <el-button @click="cancel2">取 消</el-button>
        <el-button type="primary" @click="submit2()">保存信息</el-button>
      </div>
    </el-dialog>

    <el-dialog title="合同详情" :width="'1250px'" :visible.sync="dialogContractVisible">
      <section class="contract-details-wrapper">
        <el-tabs v-model="selectTabs">
          <el-tab-pane label="产业用房" name="first" v-if="templateType==1">
            <AddIndustryTemplate ref="AddIndustryTemplate" :edit="false" />
          </el-tab-pane>
          <el-tab-pane label="商业" name="second" v-if="templateType==2">
            <AddBusinessTemplate ref="AddBusinessTemplate" :edit="false" />
          </el-tab-pane>
          <el-tab-pane label="住宅" name="third" v-if="templateType==3">
            <AddResidentialTemplate ref="AddResidentialTemplate" :edit="false" />
          </el-tab-pane>
          <el-tab-pane label="南山软件园" name="fourth" v-if="templateType==4">
            <AddNSSoftwareParkTemplate ref="AddNSSoftwareParkTemplate" :edit="false" />
          </el-tab-pane>
        </el-tabs>
      </section>
      <div slot="footer">
        <el-button @click="dialogContractVisible=false">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { chooseContract, chooseMainContract, addRecord, updateRecord, allProRight } from '@/until/api.js'
import { formatDate1 } from '@/until/common'
import UploadWps from '@/components/uploadWps.vue'
// 合同相关
import AddIndustryTemplate from '../contractManagement/AddIndustry.vue'
import AddBusinessTemplate from '../contractManagement/AddBusiness.vue'
import AddNSSoftwareParkTemplate from '../contractManagement/AddNSSoftwarePark.vue'
import AddResidentialTemplate from '../contractManagement/AddResidential.vue'
export default {
  components: {
    UploadWps,
    formatDate1,
    AddIndustryTemplate,
    AddBusinessTemplate,
    AddNSSoftwareParkTemplate,
    AddResidentialTemplate
  },
  data () {
    return {
      disableAll: false, // 禁用所有控件
      disableAll1: false, // 禁用所有控件
      submitDisabled: false,
      activeName: '',
      dialogFormVisible: false,
      dialogFormVisible1: false,
      dialogFormVisible2: false,
      dialogContractVisible: false,
      templateType: 1,
      selectTabs: 'first',
      radio: '1',
      type: {
        1: '产业用房租赁合同3+2（有经济贡献率）',
        2: '产业用房租赁合同3+2（无经济贡献率',
        3: '产业用房租赁合同3年及3年以下'
      },
      webSignType: {
        1: '新签',
        2: '续签'
      },
      options1: [
        { id: 1, unitName: '是' },
        { id: 2, unitName: '否' }
      ],
      options2: [
        { id: 1, unitName: '三年内续签' },
        { id: 2, unitName: '三年以上续签' }
      ],
      options3: [
        { id: 1, unitName: '产业用房租赁' },
        { id: 2, unitName: '商业用房租赁' },
        { id: 3, unitName: '个体工商户' },
        { id: 4, unitName: '南山软件园租赁' }
      ],
      ruleForm: {
        applyObj: '', // 申请对象
        applicantUnit: '', // 申请单位
        businessLicenseAddress: '', // 营业执照地址
        businessType: '', // 营业执照地址
        isCommitment: '',
        economicCommit: '',
        leaseArea: '',
        socialUniformCreditCode: '',
        remark: '',
        renewalType: '',
        userId: '',
        id: '',
        webSignType: '',
        wyName: '',
        wyAddress: '',
        wyAddress1: '',
        contract: '',
        contract1: ''
      },
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      pagelist1: [],
      options: [], // 物业列表
      optionsFilter: [],
      table: [],
      num: 0,
      totalNum: 0,
      totalNum1: 0,
      num1: 0,
      rules: {
        applicantUnit: [{ required: true, message: '请输入承租方', trigger: 'blur' }],
        socialUniformCreditCode: [{ required: true, message: '请输入社会统一信用代码', trigger: 'blur' }],
        businessLicenseAddress: [{ required: true, message: '请输入营业执照地址', trigger: 'blur' }],
        wyName: [{ required: true, message: '请选择物业', trigger: 'change' }],
        leaseArea: [{ required: true, message: '请输入租赁范围', trigger: 'blur' }],
        economicCommit: [{ required: true, message: '请输入经济贡献承诺', trigger: 'blur' }],
        isCommitment: [{ required: true, message: '请选择是否经济贡献承诺', trigger: 'change' }],
        businessType: [{ required: true, message: '请选择申请业务类型', trigger: 'change' }],
        remark: [{ required: true, message: '请输入备注', trigger: 'blur' }],
        contract: [
          {
            validator: (rule, value, callback) => {
              if (this.radio == 2 && (value === '' || value === undefined)) callback(new Error('请选择合同'))
              else callback()
            },
            trigger: 'blur'
          }
        ],
        renewalType: [
          {
            validator: (rule, value, callback) => {
              if (this.radio == 2 && (value === '' || value === undefined)) callback(new Error('请选择续签类型'))
              else callback()
            },
            trigger: 'change'
          }
        ],
        contract1: [
          {
            validator: (rule, value, callback) => {
              if (this.radio == 2 && (value === '' || value === undefined)) callback(new Error('请选择主合同'))
              else callback()
            },
            trigger: 'blur'
          }
        ]
      }
    }
  },
  filters: {
    formatDate1
  },
  created () {
    allProRight(sessionStorage.getItem('userId')).then((res) => {
      this.options = res.data.data
      if (res.data.data.length > 1000) {
        this.optionsFilter = res.data.data.slice(0, 1000)
      } else {
        this.optionsFilter = JSON.parse(JSON.stringify(res.data.data))
      }
    })
  },
  methods: {
    selectContract () {
      this.list()
    },
    selectContractTwo () {
      this.list1()
    },
    CommitmentChange (isCommitment) {
      if (isCommitment === 1) {
        this.disableAll1 = true
      } else {
        this.disableAll1 = false
        this.ruleForm.economicCommit = ''
      }
    },
    list () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        wyAddress: this.ruleForm.wyAddress,
        socialUniformCreditCode: this.ruleForm.socialUniformCreditCode
      }
      chooseContract(obj).then(res => {
        if (res.data && res.data.data) {
          this.pagelist = res.data.data.list || []
          this.totalNum = res.data.data.total || 0
        } else {
          this.pagelist = []
          this.totalNum = 0
        }
      })
    },
    list1 () {
      let obj1 = {
        p: this.currentPage,
        size: this.pagesize,
        socialUniformCreditCode: this.ruleForm.socialUniformCreditCode,
        selectContracts: this.ruleForm.contract,
        wyAddress: this.ruleForm.wyAddress1
      }
      chooseMainContract(obj1).then(res => {
        if (res.data && res.data.data) {
          this.pagelist1 = res.data.data.list || []
          this.totalNum1 = res.data.data.total || 0
        } else {
          this.pagelist1 = []
          this.totalNum1 = 0
        }
      })
    },
    show (name, data) {
      this.disableAll = false
      for (let item in data) {
        if (data[item] === null) data[item] = ''
      }
      switch (name) {
        case 'add':
          this.disableAll1 = false
          for (let i in this.ruleForm) {
            this.ruleForm[i] = ''
          }
          this.ruleForm.applyObj = '企业'
          break
        case 'modify':
          this.ruleForm = data
          if (data.isCommitment === 1) {
            this.disableAll1 = true
          } else {
            this.disableAll1 = false
            this.ruleForm.economicCommit = ''
          }
          this.ruleForm.applyObj = '企业'
          // this.ruleForm = JSON.parse(JSON.stringify(this.ruleForm))
          this.ruleForm = {
            applyObj: data.applyObj || '企业', // 申请对象
            applicantUnit: data.applicantUnit || '', // 申请单位
            businessLicenseAddress: data.businessLicenseAddress || '', // 营业执照地址
            businessType: data.businessType || '', // 营业执照地址
            isCommitment: data.isCommitment || '',
            economicCommit: data.economicCommit || '',
            leaseArea: data.leaseArea || '',
            socialUniformCreditCode: data.socialUniformCreditCode || '',
            remark: data.remark || '',
            renewalType: data.renewalType || '',
            userId: data.userId || '',
            id: data.id || '',
            webSignType: data.webSignType || '',
            wyName: data.wyName || '',
            contract: data.contract || '',
            wyAddress1: '',
            wyAddress: '',
            contract1: data.contract1 || ''
          }
          this.radio = String(this.ruleForm.webSignType)
          break
        case 'view':
          if (data.isCommitment === 1) {
            this.disableAll1 = true
          } else {
            this.disableAll1 = false
            this.ruleForm.economicCommit = ''
          }
          this.ruleForm = data
          this.ruleForm.applyObj = '企业'
          // this.ruleForm = JSON.parse(JSON.stringify(this.ruleForm))
          this.ruleForm = {
            applyObj: data.applyObj || '企业', // 申请对象
            applicantUnit: data.applicantUnit || '', // 申请单位
            businessLicenseAddress: data.businessLicenseAddress || '', // 营业执照地址
            businessType: data.businessType || '', // 营业执照地址
            economicCommit: data.economicCommit || '',
            isCommitment: data.isCommitment || '',
            leaseArea: data.leaseArea || '',
            socialUniformCreditCode: data.socialUniformCreditCode || '',
            remark: data.remark || '',
            renewalType: data.renewalType || '',
            userId: data.userId || '',
            webSignType: data.webSignType || '',
            wyName: data.wyName || '',
            contract: data.contract || '',
            contract1: data.contract1 || ''
          }
          this.radio = String(this.ruleForm.webSignType)
          this.disableAll = true
          break
        default:
          this.$nextTick(() => {
            this.reset()
          })
          break
      }
      // console.log(name)
      this.activeName = name
      this.dialogFormVisible = true
    },
    to () {
      if (this.ruleForm.socialUniformCreditCode.length > 0) {
        this.dialogFormVisible1 = true
        this.list()
      } else {
        this.$message.warning('请填写社会统一信用代码后选择合同')
      }
    },
    to1 () {
      if (this.ruleForm.socialUniformCreditCode.length > 0) {
        this.dialogFormVisible2 = true
        this.list1()
      } else {
        this.$message.warning('请填写社会统一信用代码后选择主合同')
      }
    },
    submit1 () {
      if (this.num === 0) {
        this.$alert('请勾选合同', '提示', {
          confirmButtonText: '确定',
          callback: action => {
          }
        })
      } else {
        let a = []

        for (var i = 0; i < this.table.length; i++) {
          if (i === this.table.length - 1) {
            a += this.table[i].id
          } else {
            a += this.table[i].id + ','
          }
        }
        this.ruleForm.contract = a
        this.dialogFormVisible1 = false
      }
    },
    submit2 () {
      if (this.num === 0) {
        this.$alert('请勾选合同', '提示', {
          confirmButtonText: '确定',
          callback: action => {
          }
        })
      } else {
        let a = []
        for (var i = 0; i < this.table.length; i++) {
          if (i === this.table.length - 1) {
            a += this.table[i].id
          } else {
            a += this.table[i].id + ','
          }
        }
        this.ruleForm.contract1 = a
        this.dialogFormVisible2 = false
      }
    },
    handleSelectionChange (val) {
      this.table = val
      if (val.length > 0) {
        this.num = val.length
      } else {
        this.num = 0
      }
    },
    handleSelectionChange1 (val) {
      this.table = val
      if (val.length > 0) {
        this.num1 = val.length
      } else {
        this.num1 = 0
      }
    },
    submit (ruleForm) {
      if (this.activeName === 'add') {
        let ruleForm = this.ruleForm
        ruleForm.webSignType = this.radio
        ruleForm.userId = sessionStorage.getItem('userId')
        // console.log(ruleForm)
        // let errMsg = ''
        // if (this.radio == 2) {
        //   if (this.ruleForm.renewalType == '') {
        //     errMsg = '请选择续签类型'
        //   } else if (this.ruleForm.contract == '') {
        //     errMsg = '请选择合同'
        //   } else if (this.ruleForm.contract1 == '') {
        //     errMsg = '请选择主合同'
        //   }
        // }
        // if (errMsg != '') {
        //   this.$message.error(errMsg)
        //   return
        // }
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            this.submitDisabled = true
            addRecord(ruleForm).then(res => {
              this.submitDisabled = false
              // console.log(ruleForm)
              if (res.data.code == 0) {
                this.$alert('新增成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.cancel()
                  }
                })
              }
            })
          } else {
            // this.timer = setTimeout(() => { // 设置延迟执行
            //   this.$alert('请填充必选项', '提示', {
            //     confirmButtonText: '确定',
            //     callback: action => {
            //     }
            //   })
            // }, 500)
          }
        })
        // console.log(1)
      } else if (this.activeName === 'modify') {
        let ruleForm = this.ruleForm
        ruleForm.webSignType = this.radio
        ruleForm.userId = sessionStorage.getItem('userId')
        // let errMsg = ''
        // if (this.radio == 2) {
        //   if (this.ruleForm.renewalType == '') {
        //     errMsg = '请选择续签类型'
        //   } else if (this.ruleForm.contract == '') {
        //     errMsg = '请选择合同'
        //   } else if (this.ruleForm.contract1 == '') {
        //     errMsg = '请选择主合同'
        //   }
        // }
        // if (errMsg != '') {
        //   this.$message.error(errMsg)
        //   return
        // }
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            this.submitDisabled = true
            updateRecord(ruleForm).then(res => {
              this.submitDisabled = false
              // console.log(ruleForm)
              if (res.data.code == 0) {
                this.$alert('修改成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.cancel()
                  }
                })
              }
            })
          } else {
            // this.timer = setTimeout(() => { // 设置延迟执行
            //   this.$alert('请填充必选项', '提示', {
            //     confirmButtonText: '确定',
            //     callback: action => {
            //     }
            //   })
            // }, 500)
          }
        })
      }
    },
    radio1 () {
      if (this.activeName === 'add') {
        if (this.$refs['ruleForm'] !== undefined) {
          this.$refs['ruleForm'].resetFields()
        }
        for (let i in this.ruleForm) {
          this.ruleForm[i] = ''
        }
        this.disableAll1 = false
        this.ruleForm.applyObj = '企业'
      }
    },
    cancel () {
      this.radio1()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    editDialogClosed () {
      this.dialogFormVisible1 = false
      this.ruleForm.wyAddress = ''
    },
    editDialogClosed2 () {
      this.dialogFormVisible1 = false
      this.ruleForm.wyAddress1 = ''
    },
    dialogClose () {
      this.radio = '1'
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
        this.ruleForm.applyObj = '企业'
      }
      for (let i in this.ruleForm) {
        this.ruleForm[i] = ''
      }
    },
    cancel3 () {
      // this.radio1()
      this.dialogFormVisible = false
      for (let i in this.ruleForm) {
        this.ruleForm[i] = ''
      }
    },
    cancel1 () {
      this.dialogFormVisible1 = false
      this.ruleForm.wyAddress = ''
    },
    cancel2 () {
      this.dialogFormVisible2 = false
      this.ruleForm.wyAddress1 = ''
    },
    // 过滤物业下拉列表
    filterWy (v) {
      this.ruleForm.wyName = v
      if (v && v != '') {
        let filterWyList = this.options.filter((v1) => { return v1.unitName && v1.unitName.indexOf(v) >= 0 })
        this.optionsFilter = filterWyList.length > 1000 ? filterWyList.slice(0, 1000) : filterWyList
      } else {
        this.resetOptionsFilter()
      }
    },
    focusWy () {
      this.resetOptionsFilter()
    },
    resetOptionsFilter () {
      if (this.options.length > 1000) {
        this.optionsFilter = this.options.slice(0, 1000)
      } else {
        this.optionsFilter = JSON.parse(JSON.stringify(this.options))
      }
    },
    showUsageRegistration (index, data) {
      // if (index === 'view') {
      // 跳转到合同详情页
      if (data && data.id) {
        console.log(data)
        let templateType = 1
        switch (parseInt(data.type)) {
          case 1: case 2: case 3: templateType = 1; this.selectTabs = 'first'; break
          case 4: templateType = 2; this.selectTabs = 'second'; break
          case 5: templateType = 3; this.selectTabs = 'third'; break
          case 6: templateType = 4; this.selectTabs = 'fourth'; break
          default: templateType = 1; this.selectTabs = 'first'; break
        }
        this.$nextTick(v => {
          this.$refs.AddIndustryTemplate.detailsList(data.id)
        })
        this.templateType = templateType
        // this.$router.push({ path: `/index/viewContract?id=${data.id}&temType=${templateType}` });
        this.dialogContractVisible = true
      }
      // }
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.list()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
    },
    select (selection, row) {
      if (selection.length > 1) {
        let del_row = selection.shift()
        this.$refs.multipleTable.toggleRowSelection(del_row, false)
      }
    },
    selectAll (selection) {
      if (selection.length > 1) {
        selection.length = 1
      }
    }
  }
}
</script>
<style lang="less" scoped>
.table-style {
  /deep/thead .el-table-column--selection .cell {
    display: none;
  }
}
.el_form {
  /deep/.el-form-item__content .el-input__inner {
    width: 333px;
  }
}
.contract-details-wrapper {
  height: 500px;
  overflow-y: auto;
  /deep/.el-form-item__content .el-input__inner {
    // width: 303px;
    width: 100%;
  }
  /deep/.el-form-item__content .el-select {
    width: 100%;
  }
  /deep/.el-form-item__content .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
}
</style>
