<template>
  <div class="authorization_main u-right-content">
    <Breadcrumb barName="企业授权管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" :model="select_form" class="form-main">
        <el-form-item label="企业名称 :" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="select_form.applicantUnit" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="网签类型 :" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="select_form.webSignType" clearable placeholder="请选择">
            <el-option v-for="item in option" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="申请业务类型 :" class="form-item" label-width="170px" style="width: 260px">
          <el-select v-model="select_form.businessType" clearable placeholder="请选择">
            <el-option v-for="item in option1" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="租赁范围 :" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="select_form.leaseArea" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="物业名称 :" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="select_form.wyName" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="是否经济贡献承诺 :" class="form-item" label-width="200px" style="width: 290px">
          <el-select v-model="select_form.isCommitment" clearable placeholder="请选择">
            <el-option v-for="item in option2" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="select_from">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button v-permission="{action:'新增授权',effect:'disabled'}" type="primary" icon="el-icon-plus" @click="showUsageRegistration('add')">新增授权</el-button>
        <el-button v-permission="{action:'导出',effect:'disabled'}" type="primary" @click="exportList">导出</el-button>
      </div>
      <div class="table" style="height: calc(100vh - 358px)">
        <el-table ref="table1" border :data="pagelist" @sort-change="sortChange" style="width: 100%">
          <!-- <el-table-column type="selection" width="55"></el-table-column> -->
          <el-table-column type="index" width="55" label="序号"></el-table-column>
          <el-table-column prop="applicantUnit" label="承租方" width="180"></el-table-column>
          <!-- <el-table-column prop="leaseArea" label="租赁范围"> </el-table-column> -->
          <el-table-column prop="wyName" label="物业名称" width="280">
          </el-table-column>
          <el-table-column prop="webSignType" label="网签类型" sortable>
            <template slot-scope="scope">
              <span> {{ webSignType[scope.row.webSignType] }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="isCommitment" label="是否经济贡献承诺">
            <template slot-scope="scope">
              {{ Type[scope.row.isCommitment] }}
            </template>
          </el-table-column>
          <el-table-column prop="businessType" label="申请业务类型" sortable>
            <template slot-scope="scope">
              {{ businessType[scope.row.businessType] }}
            </template>
          </el-table-column>
          <el-table-column prop="recordStatus" label="授权状态" sortable>
            <template slot-scope="scope">
              <!-- {{ recordStatus[scope.row.recordStatus] }} -->
              {{scope.row.recordStatus==3?'管理员取消授权':'刚授权'}}
            </template>
          </el-table-column>
          <el-table-column label="操作" width="250">
            <template slot-scope="scope">
              <!-- <el-button type="primary" class="handle-el-icon" @click="showUsageRegistration('view',scope.row)">查看</el-button> -->
              <el-button v-permission="{action:'查看',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showUsageRegistration('view', scope.row)">查看</el-button>
              <el-button v-permission="{action:'编辑',effect:'disabled'}" type="check" class="handle-el-icon" @click="showUsageRegistration('modify', scope.row)">
                编辑</el-button>
              <el-button v-permission="{action:'取消授权',effect:'disabled'}" :disabled="scope.row.recordStatus==3" type="info" class="handle-el-icon" @click="showUsageRegistration('cancel', scope.row)">取消授权</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum" />
        </div>
      </div>
    </div>

    <AddAuthorization v-if="addDialog" @close="add($event)" ref="addAuthorization"></AddAuthorization>
  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { authorizationList, cancelAuthorization } from '@/until/api.js'
import { formatDate1, numberFormat } from '@/until/common'
import AddAuthorization from './addAuthorization.vue'
import axios from 'axios'
import { exportData } from './request'
export default {
  components: {
    AddAuthorization,
    Breadcrumb
  },
  filters: { formatDate1, numberFormat },
  data () {
    return {
      dialogFormVisible: false,
      addDialog: false,
      cities1: '',
      address: '',
      select_form: {
        webSignType: '',
        applicantUnit: '',
        wyName: '',
        leaseArea: '',
        isCommitment: '',
        businessType: '',
        sort: '0'
      },
      option: [
        {
          id: '1',
          name: '新签'
        },
        {
          id: '2',
          name: '续签'
        }
      ],
      option1: [
        {
          id: '1',
          name: '产业用房租赁'
        },
        {
          id: '2',
          name: '商业用房租赁'
        },
        {
          id: '3',
          name: '住宅用房租赁'
        },
        {
          id: '4',
          name: '南山软件园租赁'
        }
      ],
      option2: [
        {
          id: '1',
          name: '是'
        },
        {
          id: '2',
          name: '否'
        }
      ],
      pagelist: [],
      propertyTypeName: '',
      webSignType: {
        1: '新签',
        2: '续签'
      },
      Type: {
        1: '是',
        2: '否'
      },
      recordStatus: {
        0: '刚授权',
        1: '企业申请',
        2: '企业撤回',
        3: '管理员取消授权'
      },
      businessType: {
        1: '产业用房租赁',
        2: '商业用房租赁',
        3: '住宅用房租赁',
        4: '南山软件园租赁'
      },
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      wyLeaseNum: '',
      totalRentalArea: '',
      sort: 0,
      sort1: ''
    }
  },
  created () { },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.list()
    })
  },
  methods: {
    add (event) {
      if (event === false) {
        this.list()
      }
    },
    showUsageRegistration (name, data) {
      if (name === 'view') {
        this.addDialog = true
        this.$nextTick(() => {
          // this.$refs.select.show(name, data)
          this.$refs.addAuthorization.show(name, data)
        })
      }
      if (name === 'cancel') {
        // console.log(data)
        let obj = { id: data.id }
        this.$confirm('确认取消授权吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          cancelAuthorization(obj).then((res) => {
            if (res.data.data === 1) {
              this.$alert('取消授权成功', '提示', {
                confirmButtonText: '确定',
                callback: (action) => {
                  this.list()
                }
              })
            } else {
              this.$alert(`${res.data.data}`, '提示', {
                confirmButtonText: '确定',
                callback: (action) => {
                  this.list()
                }
              })
            }
            // console.log(res.data.data)
          })
        })
      }
      if (name === 'modify' || name === 'add') {
        this.addDialog = true
        this.$nextTick(() => {
          this.$refs.addAuthorization.show(name, data)
        })
      }
    },
    derive () { },
    remove () { },
    list () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        webSignType: this.select_form.webSignType,
        applicantUnit: this.select_form.applicantUnit,
        wyName: this.select_form.wyName,
        leaseArea: this.select_form.leaseArea,
        isCommitment: this.select_form.isCommitment,
        businessType: this.select_form.businessType,
        sort: this.select_form.sort
      }
      // console.log(obj)
      authorizationList(obj).then((res) => {
        // console.log(res.data.data.list)
        this.pagelist = res.data.data.list
        this.totalNum = res.data.data.total
      })
    },
    resetForm () {
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.select_form.sort = 0
      this.$refs.table1.clearSort()
      this.list()
    },
    select_from () {
      this.currentPage = 1
      this.list()
    },
    insert () { },
    handleSizeChange (size) {
      this.pagesize = size
      this.list()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'webSignType': sort = 1; break
          case 'businessType': sort = 3; break
          case 'recordStatus': sort = 5; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'webSignType': sort = 2; break
          case 'businessType': sort = 4; break
          case 'recordStatus': sort = 6; break
        }
      }
      this.select_form.sort = sort
      this.list()
    },
    // 导出
    exportList () {
      let params = {
        p: 1,
        size: this.totalNum,
        userId: sessionStorage.getItem('userId'),
        ...this.select_form
      }
      exportData(params).then((res) => {
        let now = new Date()
        let date =
          now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
        const link = document.createElement('a')
        // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
        let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
        link.style.display = 'none'
        // 设置连接
        link.href = URL.createObjectURL(blob)
        link.download = date + '企业授权列表' // 你文件定义的名称
        document.body.appendChild(link)
        // 模拟点击事件
        link.click()
      })
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
</style>
