<template>
  <div class=" u-right-content">
    <Breadcrumb barName="空置明细" icon="el-icon-s-data"></Breadcrumb>
    <div class="flex-between pr12  pt12" style="height:123px">
      <div class="project-list-item-title  pb20 fz30 tac" style="width: 49.75%; color: #44c74e;display: flex;background: white; border-radius: 10px;padding-top: 28px;">
        <div class="w200">
          <div class="pl12 fz30"> {{ this.wyVacantNum}}</div>
          <div class="pt12 fz25">空置物业数</div>
        </div>
        <div class="ml60">
          <img src="../../../../assets/icon_04.png" alt="">
        </div>
      </div>
      <div class=" project-list-item-title  pb20 fz30 tac" style="width: 49.75%;color: #8d2b9e;display: flex;background: white; border-radius: 10px;padding-top: 28px;">
        <div class="w200">
          <div class="pl12 fz30"><span>{{this.vacantArea}}</span>㎡</div>
          <div class="pt12 fz25">空置面积</div>
        </div>
        <div class="ml60">
          <img src="../../../../assets/icon_02.png" alt="">
        </div>
      </div>
    </div>
    <div>
      <el-form :inline="true" ref="form" :model="select_form" class="form-main project-search-form">
        <el-form-item label="物业名称 :" class="form-item">
          <el-input v-model="select_form.basicName" clearable placeholder="请输入物业名称"></el-input>
        </el-form-item>
        <el-form-item label="物业类型 :" class="form-item">
          <el-select v-model="select_form.assetType" clearable placeholder="请选择类型">
            <el-option v-for="item in assetTypeList" :key="item.name" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
         <el-form-item label="物业地址 :">
          <el-input v-model="select_form.address" clearable placeholder="请输入物业地址"></el-input>
        </el-form-item>
        <el-form-item label="物业面积 :" class="form-item">
          <div style="display:flex">
            <el-input v-model="select_form.smallArea" placeholder="请输入最小值" clearable style="width:130px"></el-input><span style=" margin: 0 5px;color: #fff;">-</span>
            <el-input v-model="select_form.bigArea" placeholder="请输入最大值" clearable style="width:130px"></el-input>
          </div>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" v-permission="{action:'查询', effect:'disabled'}" @click="select_from">查询</el-button>
          <el-button type="primary" v-permission="{action:'重置', effect:'disabled'}" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" @click="derive">导出</el-button>
      </div>
      <div>
        <el-table class="table" border :data="pagelist" @sort-change="sortChange" height="calc(100vh - 493px)">
          <el-table-column type="index" width="55" label="序号"></el-table-column>
          <el-table-column prop="wyName" label="物业名称" width="380"></el-table-column>
          <el-table-column prop="assetType" label="物业类型"></el-table-column>
          <el-table-column prop="address" label="地址" > </el-table-column>
          <el-table-column prop="rentalArea" label="面积(㎡)"   sortable> </el-table-column>
          <el-table-column prop="remark" label="备注"></el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data=pagelist @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum" />
      </div>
    </div>
    <el-dialog title="选择导出字段" :width="'800px'" :visible.sync="dialogFormVisible" @close="dialogClose" :close-on-click-modal="false">
      <el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
      <div style="margin: 15px 0;"></div>
      <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
        <el-checkbox v-for="city in cities" :label="city" :key="city.id" style="padding:15px;margin:5px;width:110px">{{city.name}}</el-checkbox>
      </el-checkbox-group>
      <div slot="footer">
        <el-button @click="cancel">取 消</el-button>
            <el-button type="primary" @click="exportSure">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { emptylist } from '@/until/api.js'
import { numberFormat } from '@/until/common'
import axios from 'axios'
import Breadcrumb from '@/components/BreadCrum'
export default {
  components: {
    numberFormat,
    Breadcrumb
  },
  data () {
    return {
      cities: [
        { name: '物业名称', id: 'wyName' },
        { name: '物业类型', id: 'assetType' },
        { name: '地址', id: 'address' },
        { name: '面积', id: 'rentalArea' },
        { name: '备注', id: 'remark' }],
      checkedCities: [],
      dialogFormVisible: false,
      checkAll: false,
      select_form: {
        bigArea: '',
        smallArea: '',
        basicName: '',
        assetType: '',
        templateType: '',
        address: ''
      },
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      assetTypeList: [
        { name: '产业用房' },
        { name: '孵化园区' },
        { name: '行政办公' },
        { name: '商业' },
        { name: '住宅' },
        { name: '租赁社会物业' },
        { name: '公共服务设施' }
      ],
      totalNum: 0,
      vacantArea: '',
      wyVacantNum: '',
      sort: 0
    }
  },
  created () {
    this.list()
  },
  methods: {
    sortChange (column) { // 排序方法
      this.pagelist = []
      var type = ''
      if (column.prop == null || column.order == null) {
        type = 0
      } else {
        if (column.order === 'ascending' && column.prop === 'rentalArea') {
          type = 1
        } else if (column.order === 'descending' && column.prop === 'rentalArea') {
          type = 2
        }
      }
      this.sort = type
      this.list()
    },
    list () { // 查询表格数据
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        address: this.select_form.address,
        sort: this.sort,
        wyName: this.select_form.basicName,
        smallArea: this.select_form.smallArea,
        bigArea: this.select_form.bigArea,
        assetType: this.select_form.assetType,
        userId: sessionStorage.getItem('userId')
      }
      emptylist(obj).then(res => {
        if (res.data.code === 0) {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
          this.wyVacantNum = numberFormat(res.data.data.wyVacantNum)
          this.vacantArea = numberFormat(res.data.data.vacantArea)
        } else {
          this.$message({
            message: res.data.errMsg,
            type: 'error'
          })
        }
      })
    },
    cancel () { // 取消导出弹窗
      this.dialogFormVisible = false
    },
    dialogClose () { // 关闭导出弹窗
      this.checkedCities = []
      this.checkAll = false
    },
    derive () { // 打开导出弹窗
      this.dialogFormVisible = true
    },
    handleCheckAllChange (val) { // 全选方法
      var needShowKeys = []
      for (let i = 0; i < this.cities.length; i++) {
        needShowKeys.push(this.cities[i].id)
      }
      this.checkedCities = val ? this.cities : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) { // 选择操作
      this.checkedCities = value
      let checkedCount = value.length
      this.checkAll = checkedCount === this.cities.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length
    },
    resetForm () { // 重置
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.list()
    },
    select_from () { // 查询
      this.list()
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.list()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
    },
    exportSure () {
      let needShowKeys1 = ''// 获取导出当前选择字段
      for (let i = 0; i < this.checkedCities.length; i++) {
        if (this.checkedCities.length - 1 === i) {
          needShowKeys1 += this.checkedCities[i].id
        } else {
          needShowKeys1 += this.checkedCities[i].id + ','
        }
      }
      let preContractDTO = {
        sort: this.sort,
        wyName: this.select_form.basicName,
        smallArea: this.select_form.smallArea,
        address: this.select_form.address,
        bigArea: this.select_form.bigArea,
        assetType: this.select_form.assetType,
        userId: sessionStorage.getItem('userId')
      }
      axios({// 导出方法
        method: 'post',
        url: '/zbkc/yyPreContract/exportEmpty',
        data: {
          emptyDetailDTO: preContractDTO,
          needShowKeys: needShowKeys1
        },
        responseType: 'blob'
      }).then(res => {
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + '空置明细' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
</style>
