<template>
  <el-dialog :title="'查看押金信息'" :width="'1360px'" :visible.sync="dialogFormVisible">
    <el-form :inline="true" ref="ruleForm" class="el_form" label-width="240px">
      <table :data="ruleForm" cellspacing="0" cellpadding="0" class="table">
        <tr>
          <th>承租方</th>
          <th>{{ruleForm.leaser}}</th>
          <th>租赁物业地址</th>
          <th>{{ruleForm.wyAddress}}</th>
        </tr>
        <tr>
          <th>承租方电话</th>
          <th>{{ruleForm.leaserPhone}}</th>
          <th>物业类型</th>
          <th>{{ruleForm.assetType }}</th>
        </tr>
        <tr>
          <th>催收电话</th>
          <th>{{ruleForm.collecPhone}}</th>
          <th>免租期限</th>
          <th>{{ruleForm.freeRent}}</th>
        </tr>
        <tr>
          <th>起租日期</th>
          <th>{{ruleForm.startRentDate}}</th>
          <th>止租日期</th>
          <th> {{ruleForm.endRentDate}}</th>
        </tr>
        <tr>
          <th>合同编码</th>
          <th>{{ruleForm.contractCode}}</th>
          <th>实收押金(元)</th>
          <th>{{ruleForm.depositAmount}}</th>
        </tr>
        <tr>
          <th>押金状态</th>
          <th align="left">{{depositStatusOptions[ruleForm.depositStatus]}}</th>
          <th>附件材料</th>
          <th align="left" v-for="(item, index) in ruleForm.contractFile" v-bind:key="index">
            <a :href="item.path || 'javascript:;'" target="_blank">{{item.fileName }}</a>
          </th>
        </tr>
        <tr class="realtr" valign="top">
          <th>备注</th>
          <th colspan="3" align="left">{{ruleForm.remark}}</th>
        </tr>
      </table>
    </el-form>
    <div slot="footer">
    </div>
  </el-dialog>
</template>
<script>
import UploadWps from '@/components/uploadWps.vue'
import { details } from './request'
export default {
  components: {
    UploadWps
  },
  data() {
    return {
      dialogFormVisible: false,
      ruleForm: [],
      depositStatusOptions: {
        1: '未收押金',
        2: '已收押金',
        3: '已退还押金'
      }
    }
  },
  methods: {
    show(name, data) {
      details(`?id=${data.id}&wyId=${data.wyId}`).then((res) => {
        if (res.data.code == 0) {
          this.ruleForm = res.data.data
        } else {
          if (res.data.errMsg) this.$message.error(res.data.errMsg);
        }
      })
      this.dialogFormVisible = true
    }
  }
}
</script>
<style lang="less" scoped>
.realtr {
  height: 100px;
}
.realtr th {
  padding-top: 18px;
}
.table {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th {
  height: 48px;
}
.table tr th {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
</style>
