<template>
  <el-dialog :title="activeName === 'modify' ? '修改押金信息' : '查看押金信息'" :width="'1360px'" :visible.sync="dialogFormVisible">
    <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="240px">
      <h2 class="pl100 pb50 fz15">
        <span class="bb pb3" style="border-width: 3px">合同信息</span>
      </h2>

      <el-form-item label="承租方:" prop="leaser">
        <el-input v-model="ruleForm.leaser" disabled></el-input>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="租赁物业地址:" prop="wyAddress">
        <el-input v-model="ruleForm.wyAddress" disabled></el-input>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="承租方电话:" prop="leaserPhone">
        <el-input v-model="ruleForm.leaserPhone" disabled></el-input>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="物业类型:" prop="templateType">
        <el-input :value="templateTypes[ruleForm.templateType]" disabled></el-input>
        <!-- <el-select
          v-model="ruleForm.templateType"
          placeholder="请选择"
          disabled
        >
          <el-option
            v-for="item in templateTypes"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          >
          </el-option>
        </el-select> -->
      </el-form-item>
      <el-form-item label="催收电话:" prop="collecPhone">
        <el-input v-model="ruleForm.collecPhone" disabled></el-input>
      </el-form-item>
      <el-form-item label="起租日期:" prop="startRentDate">
        <el-date-picker v-model="ruleForm.startRentDate" type="date" style="width: 333.19px" placeholder="请选择日期" value-format="yyyy-MM-dd" disabled />
      </el-form-item>
      <el-form-item label="止租日期:" prop="endRentDate">
        <el-date-picker v-model="ruleForm.endRentDate" type="date" style="width: 333.19px" placeholder="请选择日期" value-format="yyyy-MM-dd" disabled />
      </el-form-item>
      <el-form-item label="免租期限:" prop="freeRent">
        <el-input v-model="ruleForm.freeRent" disabled></el-input>
      </el-form-item>
      <el-form-item label="合同编码:" prop="contractCode">
        <el-input v-model="ruleForm.contractCode" disabled></el-input>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="附件材料:">
        <!-- <UploadWps @event="changeWpsOne($event)" :filesList="proRight" isEdit="edit" ></UploadWps> -->
        <ul v-if="
            ruleForm.contractFile &&
            ruleForm.contractFile instanceof Array &&
            ruleForm.contractFile.length > 0
          " class="u-filelist">
          <li v-for="(item, index) in ruleForm.contractFile" v-bind:key="index">
            <a :href="item.path || 'javascript:;'" target="_blank">{{
              item.fileName
            }}</a>
          </li>
        </ul>
        <div v-else>无</div>
      </el-form-item>

      <!-- 分割线 -->
      <h2 class="pl100 pb50 pt20 fz15">
        <span class="bb pb3" style="border-width: 3px">押金信息</span>
      </h2>
      <el-form-item label="实收押金（元）:" prop="depositAmount">
        <el-input v-model="ruleForm.depositAmount" disabled></el-input>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="押金状态:" prop="depositStatus">
        <el-radio-group v-model="ruleForm.depositStatus">
          <el-radio :label="1">未收押金</el-radio>
          <el-radio :label="2">已收押金</el-radio>
          <el-radio :label="3">已退还押金</el-radio>
        </el-radio-group>
      </el-form-item>
      <div>
        <!-- 分割线 -->
      </div>
      <el-form-item label="备注:" prop="remark">
        <el-input type="textarea" v-model="ruleForm.remark" rows="4" style="width: 330px"></el-input>
      </el-form-item>

    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')" :disabled="submitDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { addOperation, homeEdit, homeListId } from '@/until/api.js'
import { details } from './request'
import UploadWps from '@/components/uploadWps.vue'
export default {
  components: {
    UploadWps
  },
  data () {
    return {
      activeName: 'modify',
      dialogFormVisible: false,
      submitDisabled: false,
      radio: 1,
      ruleForm: {
        collecPhone: '',
        contractCode: '',
        contractFile: [],
        depositAmount: '',
        depositStatus: '',
        endRentDate: '',
        freeRent: '',
        leaser: '',
        leaserPhone: '',
        remark: '',
        startRentDate: '',
        templateType: '',
        wyAddress: ''
      },
      rules: {
        depositStatus: [{ required: true, message: '请选择押金状态', trigger: 'change' }]
      },
      id: '',
      // 物业类型
      // templateTypes: [
      //   { name: "产业用房", value: 1 },
      //   { name: "商业", value: 2 },
      //   { name: "住宅", value: 3 },
      //   { name: "南山软件园", value: 4 },
      //   { name: "租赁社会物业", value: 5 },
      // ],
      // 物业类型
      templateTypes: {
        1: '产业用房',
        2: '商业',
        3: '住宅',
        4: '南山软件园',
        5: '租赁社会物业'
      }
    }
  },
  mounted () { },
  methods: {
    show (name, data) {
      // console.log(data);
      this.id = data.id
      details(`?id=${data.id}&wyId=${data.wyId}`).then((res) => {
        if (res.data.code == 0) {
          let data = res.data.data
          for (let value in data) this.ruleForm[value] = data[value] || ''
        } else {
          if (res.data.errMsg) this.$message.error(res.data.errMsg)
        }
      })
      this.activeName = name
      this.dialogFormVisible = true
    },
    submit () {
      let ruleForm = {
        depositStatus: this.ruleForm.depositStatus,
        remark: this.ruleForm.remark,
        id: this.id
      }
      // ruleForm.userId = window.sessionStorage.getItem('userId')
      // console.log(ruleForm);
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleInterface(ruleForm)
        }
      })
    },
    handleInterface (ruleForm) {
      if (this.activeName === 'modify') {
        this.submitDisabled = true
        homeEdit(ruleForm).then((res) => {
          this.submitDisabled = false
          if (res.data.data === 1) {
            this.$alert('修改成功', '提示', {
              confirmButtonText: '确定',
              callback: (action) => {
                this.dialogFormVisible = false
                this.$emit('close', false)
              }
            })
          }
        })
      } else if (this.activeName === 'add') {
        this.submitDisabled = true
        addOperation(ruleForm).then((res) => {
          this.submitDisabled = false
          if (res.data === 1) {
            console.log(res)
            this.cancel()
          }
        })
      }
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    reset () {
      this.$refs['ruleForm'].resetFields()
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 333px;
}
</style>
