<template>

  <div class="deposit_main u-right-content">
        <Breadcrumb barName="押金管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
        <!-- <el-form-item label="物业类型：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.assetType" placeholder="请选择" @change="wyTypeChange">
            <el-option v-for="item in wyTypes" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="物业主体：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.wyName" placeholder="请选择">
            <el-option v-for="item in wyNames" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="承租方：" class="form-item" label-width="120px" style="width: 210px">
          <el-input v-model="formInline.leaser" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="物业地址：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.address" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="应收押金：" class="form-item" label-width="140px" style="width: 280px">
          <div class="number-range-wrapper">
            <el-input v-model="formInline.smallDepositAmount" clearable style="width:80px"></el-input><span class="split">-</span>
            <el-input v-model="formInline.bigDepositAmount" clearable style="width:80px"></el-input>
          </div>
        </el-form-item>
        <el-form-item label="缴费状态：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.paymentStatus" placeholder="请选择" clearable>
            <el-option v-for="(val,lb) in type" v-bind:key="lb" :label="val" :value="lb">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="handleSearch">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button v-permission="{action:'导出',effect:'disabled'}" type="primary" @click="exportList">导出</el-button>
      </div>

      <div class="table" style="height: calc(100vh - 307px)">
        <el-table ref="table1" border :data="pagelist" @sort-change="sortChange" style="width: 100%">
          <el-table-column type="index" label="序号" width="60"></el-table-column>
          <el-table-column prop="leaser" label="承租方"></el-table-column>
          <el-table-column prop="wyAddress" label="租赁物业地址">
          </el-table-column>
          <el-table-column prop="depositAmount" label="实收押金(元)" sortable>
          </el-table-column>
          <el-table-column prop="paymentStatus" label="缴费状态">
            <template slot-scope="scope">
              {{ type[scope.row.paymentStatus] }}
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <!-- 查看 编辑 -->
              <el-button v-permission="{action:'查看',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showDialogDetails('view', scope.row)">查看</el-button>
              <el-button v-permission="{action:'编辑',effect:'disabled'}" type="warning" class="handle-el-icon" @click="showDialog('modify', scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>

        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>

    </div>

    <EditDepositManagement v-if="dialog" ref="editDepositManagement" />
    <DepositeDetails v-if="dialogDetails" ref="depositeDetails" />

  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import { homeList, homeListExport } from '@/until/api.js'
import EditDepositManagement from './EditDepositManagement'
import DepositeDetails from './DepositeDetails'
import { selectTag } from './request'
export default {
  components: {
    EditDepositManagement,
    DepositeDetails,
    Breadcrumb
  },
  data () {
    return {
      searchby: '',
      // dialog
      dialog: false,
      dialogDetails: false,

      // table
      type: {
        1: '未缴费',
        2: '部分缴费',
        3: '已缴费',
        4: '欠缴费',
        5: '已补缴',
        6: '已缴费(预缴费转)'
      },
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      totalNum: 0,
      // 物业类型
      wyTypes: [
        { label: '产业用房', value: '产业用房' },
        { label: '孵化园区', value: '孵化园区' },
        { label: '行政办公', value: '行政办公' },
        { label: '公共服务设施', value: '公共服务设施' },
        { label: '商业', value: '商业' },
        { label: '住宅', value: '住宅' },
        { label: '租赁社会物业', value: '租赁社会物业' }
      ],
      // 物业主体
      wyNames: [], // ['物业1','物业2']
      formInline: {
        leaser: '',
        address: '',
        smallDepositAmount: '',
        bigDepositAmount: '',
        paymentStatus: '',
        sort: '0'
      }
    }
  },
  created () {
    // console.log(this.$router.currentRoute.meta.title);
    this.list()
  },
  methods: {
    resetForm () {
      for (let i in this.formInline) {
        this.formInline[i] = ''
      }
      this.formInline.sort = 0
      this.$refs.table1.clearSort()
      this.list()
    },
    list () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        ...this.formInline
      }
      homeList(obj).then((res) => {
        this.pagelist = res.data.data.list
        // console.log(res)
        this.totalNum = res.data.data.total
      })
    },
    // 导出
    exportList () {
      let params = {
        info: {
          userId: sessionStorage.getItem('userId')
        },
        needShowKeys: 'leaser,wyAddress,depositAmount,paymentStatusStr'
      }
      homeListExport(params).then((res) => {
        let now = new Date()
        let date =
          now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
        const link = document.createElement('a')
        // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
        let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
        link.style.display = 'none'
        // 设置连接
        link.href = URL.createObjectURL(blob)
        link.download = date + '押金列表' // 你文件定义的名称
        document.body.appendChild(link)
        // 模拟点击事件
        link.click()
      })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.list()
      // console.log(this.pagesize) // 每页下拉显示数据
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
      // console.log(this.currentPage) // 点击第几页
    },
    callSelectInput (value) {
      this.searchby = value
    },
    showDialog (name, data) {
      this.dialog = true
      this.$nextTick(() => {
        this.$refs.editDepositManagement.show(name, data)
      })
    },
    showDialogDetails (name, data) {
      this.dialogDetails = true
      this.$nextTick(() => {
        this.$refs.depositeDetails.show(name, data)
      })
    },
    // 点击查询
    handleSearch () {
      this.currentPage = 1
      this.list()
    },
    // 选择物业类型
    wyTypeChange (v) {
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'depositAmount': sort = 1; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'depositAmount': sort = 2; break
        }
      }
      this.formInline.sort = sort
      this.list()
    }
  }
}
</script>

<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}

.number-range-wrapper {
  display: flex;
  align-items: center;
  .split {
    margin: 0 5px;
    color: #fff;
  }
}
</style>
