<template>
  <el-dialog :close-on-click-modal="false" class="main-content" style="margin-top:5vh" :width="'1200px'" :before-close="handleClose" title="选择物业资产" :visible.sync="dialogFormVisible">
    <div class="big-box">
      <div class="main-left">
        <el-tree :data="treeData" node-key="id" :default-expand-all="false" :default-expanded-keys="[0]" ref="tree" highlight-current @node-click="handleNodeClick" :expand-on-click-node="false">
          <span class="custom-tree-node" slot-scope="{data}">
            <span>{{ data.wyName }}</span>
          </span>
        </el-tree>
      </div>
      <div class="info-content">
        <div class="info-top">
          <!-- <div class="search-form">
        <el-form :inline="true" ref="searchForm" :model="searchForm" label-width="100px">
          <el-row>
            <el-form-item label="物业名称">
              <el-input v-model="searchForm.name" placeholder="请输入物业名称"></el-input>
            </el-form-item>
            <el-form-item label="地址">
              <el-input v-model="searchForm.address" placeholder="请输入地址"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
              <el-button type="warning" icon="el-icon-refresh-right" @click="reset" plain>重置</el-button>
            </el-form-item>
          </el-row>
        </el-form>
      </div> -->
          <el-table border :data="tableData" height="240px">
            <el-table-column label="序号" type="index" align="center"></el-table-column>
            <el-table-column prop="wyName" label="物业名称"></el-table-column>
            <el-table-column prop="wyType" label="物业主体" width="100"> </el-table-column>
            <el-table-column prop="wySize" label="物业规模" width="75"> </el-table-column>
            <el-table-column prop="wyLabel" label="物业标签" width="75"> </el-table-column>
            <el-table-column prop="wyAddress" label="地址"> </el-table-column>
            <el-table-column label="操作" width="70">
              <template slot-scope="scope">
                <el-button type="primary" :disabled="scope.row.disable" class="handle-el-icon" @click="addList(scope.row)">添加</el-button>
              </template>

            </el-table-column>
          </el-table>
          <!-- <div class="block" style="text-align: right;margin:0px 20px;">
        <el-pagination class="table-pagination" background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[2,10,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
        </el-pagination>
      </div> -->
        </div>
        <div class="info-bottom">
          <div class="has-select">
            <div class="left">
              <span class="blocks"></span>
              <span class="tit">已选物业清单</span>
            </div>
          </div>
          <el-table border :data="selectArr" style="margin-top:3px;" height="190px">
            <el-table-column label="序号" type="index" align="center"></el-table-column>
            <el-table-column prop="wyName" label="物业名称"></el-table-column>
            <el-table-column prop="wyType" label="物业主体" width="100"> </el-table-column>
            <el-table-column prop="wySize" label="物业规模" width="75"> </el-table-column>
            <el-table-column prop="wyLabel" label="物业标签" width="75"> </el-table-column>
            <el-table-column prop="wyAddress" label="地址"> </el-table-column>
            <el-table-column label="操作" width="70">
              <template slot-scope="scope">
                <el-button type="danger" class="handle-el-icon" @click="deleteList(scope.row)">移除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { structTree, chooseWy, propertyShow } from '@/until/api.js'

export default {
  props: ['businessId', 'contractId', 'selections'],
  data () {
    return {
      treeData: [],
      dialogFormVisible: false,
      pagesize: 2,
      currentPage: 1,
      totalSize: 0,
      parentArr: [],
      sonArr: [],
      selectID: [],
      parentID: [],
      selectArr: [], // 已选物业列表
      tableData: [], // 物业列表
      searchForm: {
        name: '',
        address: ''
      },
      disableList: []
    }
  },
  created () {
    // this.handleCurrentChange(1)
  },
  watch: {
    // tableData (newVal, oldVal) {
    //   this.$set(this.tableData, newVal)
    // }
  },
  methods: {
    show () {
      // if (this.selections) {
      //   // console.log(this.selections)
      //   this.selectArr = this.selections.map(v => {
      //     return {
      //       'id': v.id,
      //       'pid': v.pid,
      //       'wyName': v.name,
      //       // "wyType": v.,
      //       // "wySize": null,
      //       // "wyLabel": null,
      //       'wyAddress': v.detailAddr
      //       // "createTime": null,
      //       // "rentalArea": null,
      //       // "rentPrice": null,
      //       // "monthlyRent": null,
      //       // "mainPurposStr": null,
      //       // "buildArea": 793.88,
      //       // "shareArea": 216.82,
      //       // "children": null
      //     }
      //   })
      // }
      this.getTableList()
      this.dialogFormVisible = true
      this.handleNodeDisabled(this.tableData)
      this.tableData = Object.assign([], this.tableData)
    },
    // 获取物业树
    getTableList () {
      let obj = {
        userId: sessionStorage.getItem('userId') ? sessionStorage.getItem('userId') : '',
        isUseReg: null
      }
      structTree(obj).then(res => {
        // 根节点id设为0
        if (res.data.data.length > 0) {
          res.data.data[0].id = 0
        }

        this.treeData = res.data.data
        let tableData = this.treeData[0].children
        // console.log(this.tableData)
        this.totalSize = this.tableData.length

        // if (this.contractId) {
        // propertyShow(this.contractId).then(res => {
        // this.selectArr = res.data.data

        // 显示已选物业列表
        if (this.selections) {
          let sels = []
          this.selections.forEach(v => {
            let rec = tableData.find(v1 => v1.id == v.id)
            if (rec) sels.push(rec)
          })
          this.selectArr = sels
        }

        for (var i = 0; i < this.selectArr.length; i++) {
          this.treeData.forEach(items => {
            if (items.id === this.selectArr[i].id) {
              this.selectArr[i].children = items.children
            }
          })
        }

        for (let item of this.selectArr) {
          this.selectID.push(item.id)
          this.disableList.push(item.id)
          this.disabled(item.children)
        }
        for (var j = 0; j < tableData.length; j++) {
          tableData[j].disable = false
          this.disableList.forEach(items => {
            if (items === tableData[j].id) {
              tableData[j].disable = true
            }
          })
        }
        this.tableData = tableData
        // })
        // }
      })
    },
    submit () {
      // console.log(this.businessId, this.selectID, this.selectArr);
      this.$emit('confirm', this.selectArr)
      this.dialogFormVisible = false
      // chooseWy(this.businessId, this.selectID).then(res => {
      //   res.data.code === 0 {
      //     this.cancel()
      //   }
      // })
    },
    cancel () {
      this.$emit('close', this.selectArr)
      this.dialogFormVisible = false
    },
    // 添加
    addList (row, index) {
      if (this.selectArr.length > 0) {
        if (this.selectID.indexOf(row.id) === -1) {
          this.selectArr.push(row)
          this.selectID.push(row.id)
        }
      } else {
        this.selectArr.push(row)
        this.selectID.push(row.id)
      }
      this.disableList.push(row.id)
      this.disabled(row.children)
      this.handleNodeDisabled(this.tableData)
      this.tableData = Object.assign([], this.tableData)
    },
    disabled (rowData) {
      if (rowData == null) {
        return
      }
      rowData.forEach(data => {
        this.disableList.push(data.id)
        this.disabled(data.children)
      })
    },
    removeDisabled (rowData) {
      if (rowData == null) {
        return
      }
      rowData.forEach(data => {
        this.disableList.splice(this.disableList.indexOf(data.id), 1)
      })
      return this.disabled(rowData.children)
    },
    // 移除
    deleteList (row) {
      if (this.selectID.indexOf(row.id) !== -1) {
        let index = this.selectID.indexOf(row.id)
        this.selectID.splice(index, 1)
        this.selectArr.splice(index, 1)
      }

      this.disableList.splice(this.disableList.indexOf(row.id), 1)
      this.removeDisabled(row.children)
      this.handleNodeDisabled(this.tableData)
      this.tableData = Object.assign([], this.tableData)
    },
    // 关闭弹框
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {
        })
    },
    // 点击树
    handleNodeClick (tree) {
      // 若选择第一个父级的id，后面所有添加按钮被禁用
      // 若选择除除第一个父级的任意子集，第一个父级按钮被禁用
      this.tableData = []
      if (tree.children) {
        this.sonArr = tree.children
        for (let item of tree.children) {
          this.tableData.push(item)
        }
      }
      this.totalSize = this.tableData.length
      this.handleNodeDisabled(this.tableData)
      this.tableData = Object.assign([], this.tableData)
    },
    // 递归禁用
    handleNodeDisabled (rowData) {
      if (rowData == null) {
        return
      }
      for (var i = 0; i < rowData.length; i++) {
        rowData[i].disable = false
        this.disableList.forEach(data => {
          if (data === rowData[i].id) {
            rowData[i].disable = true
          }
          // this.$set(rowData[i])
        })
        // this.tableData = Object.assign([], this.tableData)
        this.handleNodeDisabled(rowData[i].children)
      }
    },
    // 重置
    reset () {
      for (let i in this.searchForm) {
        this.searchForm[i] = ''
      }
    },
    // 查询
    search () {
      for (let i in this.searchForm) {
        this.searchForm[i] = this.searchForm[i].trim()
      }
      if (this.searchForm.name || this.searchForm.address) {
        this.tableData = this.tableData.filter(data => {
          console.log(data.wyName.indexOf(this.searchForm.name) !== -1 || data.wyAddress.indexOf(this.searchForm.address) !== -1)
          return data.wyName.indexOf(this.searchForm.name) !== -1 || data.wyAddress.indexOf(this.searchForm.address) !== -1
        })
      }
    },
    handleSizeChange (size) {
      this.pagesize = size
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.tableData = []
      for (var i = (currentPage - 1) * this.pagesize; i < (currentPage - 1) * this.pagesize + this.pagesize; i++) {
        if (this.talentsData.length > i) {
          this.tableData.push(this.talentsData[i])
        }
      }
    }
  }
}
</script>
<style lang="less" scoped>
.main-content {
  margin-top: 15px;
  height: 100%;
  display: flex;
}
.big-box {
  display: flex;
  padding: 10px;
  overflow-y: auto;
  height: 500px;
}
.main-left {
  width: 400px;
  overflow-x: auto;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  .custom-tree-node {
    font-size: 14px;
    padding-right: 8px;
  }
  .add-btn {
    background-color: #1286ff;
  }
}
.info-content {
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  flex-grow: 1; //自适应宽度
  display: flex;
  flex-direction: column;
  /deep/.el-dialog__wrapper {
    top: -70px !important;
  }
  .info-top {
    flex: 1;
    overflow-y: auto;
  }
  .info-bottom {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .el-table {
      overflow-y: auto;
    }
    .has-select {
      margin-top: 20px;
      background-color: #f2f2f2;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      .left {
        display: flex;
        align-items: center;
        .blocks {
          width: 6px;
          height: 18px;
          margin: 5px 6px 5px 20px;
          background-color: #1286ff;
        }
      }
    }
  }

  .search-form {
    text-align: right;
  }
}
.el-table /deep/th.gutter {
  display: table-cell !important;
}
/deep/.el-form-item__content .el-input__inner {
  // width: 303px;
  width: 100%;
}
/deep/.el-dialog__body {
  background-color: #fff;
}

.bottom {
  width: 100%;
  z-index: 10000;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10px;
}
/deep/.el-dialog,
/deep/.el-pager li {
  margin-top: 10vh !important;
  background: transparent !important;
}
</style>
