<template>
  <div class="main-right">
    <el-form :model="form" :rules="rules" ref="form" label-width="126px">
      <div class="title-name">
        <h3>新增园区规模物业</h3>
        <el-form-item style="margin-top:10px">
          <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')">保存</el-button>
          <el-button style="width:86px;height:38px;font-size: 16px;margin-left:14px;" @click="handleCancel">取消</el-button>
        </el-form-item>
      </div>
      <div class="btn">
        <div class="btn-content">
          <div style="margin-top:3px">
            <el-radio-group v-model="radio">

              <el-radio-button label="基础信息" @change.native="changColor(1)">
                <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;基础信息
              </el-radio-button>

              <el-radio-button label="运营信息" @change.native="changColor(2)">
                <i :class="{ 'el-icon-warning': isOperateError,'el-icon-success':isOperateActive }" :style="{color:(isOperateIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;运营信息
              </el-radio-button>

              <el-radio-button label="建造信息" @change.native="changColor(3)">
                <i :class="{ 'el-icon-warning': isBuildError,'el-icon-success':isBuildActive }" :style="{color:(isBuildIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;建造信息
              </el-radio-button>

              <el-radio-button label="用地信息" @change.native="changColor(4)">
                <i :class="{ 'el-icon-warning': isUseSiteError,'el-icon-success':isUseSiteActive }" :style="{color:(isUseSiteIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;用地信息
              </el-radio-button>
              <el-radio-button label="附属设施" @change.native="changColor(5)">
                <i :class="{ 'el-icon-warning': isMakeError,'el-icon-success':isMakeActive }" :style="{color:(isMakeIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;附属设施
              </el-radio-button>
              <el-radio-button label="物管信息" @change.native="changColor(6)">
                <i :class="{ 'el-icon-warning': isPropertyError,'el-icon-success':isPropertyActive }" :style="{color:(isPropertyIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;物管信息
              </el-radio-button>
            </el-radio-group>
          </div>
        </div>
      </div>

      <!-- 基础信息 -->
      <div class="main-content">
        <div class="center-content">
          <div class="add-content">
            <div id="1">
              <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:100%;">
                  <el-radio-group v-model="form.propertyTagId" @change="handleVal" style="width:100%;">
                    <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id">{{item.name}}</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" maxlength="51" disabled placeholder="请选择权属所有人"></el-input>
                </el-form-item>
              </div>
              <Title titleName="基础信息"></Title>
              <div class="base-content">
                <el-form-item label="物业名称：" prop="name" class="item-form">
                  <el-input v-model.trim="form.name" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业名称"></el-input>
                </el-form-item>
                <el-form-item label="物业简称：" @blur="handdleIsBase" class="item-form" prop="shortName">
                  <el-input v-model="form.shortName" maxlength="51" placeholder="请输入物业简称"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="别名/曾用名：" class="item-form" prop="aliasName">
                  <el-input v-model="form.aliasName" maxlength="51" @blur="handdleIsBase" placeholder="请输入别名/曾用名"></el-input>
                </el-form-item>
                <el-form-item label="物业状态：" class="item-form" prop="propertyStatusId">
                  <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select" @blur="handdleIsBase">
                    <el-option v-for="item in propertyStatus" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
                  <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @blur="handdleIsBase">
                    <el-option v-for="item in propertyScale" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="物业编号：" class="item-form" @blur="handdleIsBase" prop="propertyCode">
                  <el-input v-model="form.propertyCode" disabled maxlength="51" placeholder="请输入物业编号"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业简介：" style="width:100%;" prop="propertyIntroduction">
                  <el-input type="textarea" maxlength="1001" :rows="8" v-model="form.propertyIntroduction" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable" >
                  <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <div>
                <Address
                level="5"
                isVillage="1"
                isRequired="true"
                @event="change($event)"
                @eventVillage="doVillage($event)"
                :handleRefresh="handdleIsBase"
                :addressArr="addressArr"
                :detailAddr="form.detailAddr"
                :lng="form.longitude"
                :lat="form.latitude"
                ></Address>
              </div>

              <div class="base-content">
                <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
                  <el-input v-model="form.buildArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入建筑面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="用地面积：" class="item-form" prop="landArea">
                  <el-input v-model="form.landArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入用地面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="实用面积：" class="item-form" prop="practicalArea">
                  <el-input v-model="form.practicalArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入实用面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="公摊面积：" class="item-form" prop="shareArea">
                  <el-input v-model="form.shareArea" maxlength="16" @blur="handdleIsBase" placeholder="请输入公摊面积">
                    <template slot="append">㎡</template>
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="物业来源：" prop="propertySourceId" style="margin-bottom:6px;" class="errorTips">
                  <el-checkbox-group v-model="form.propertySourceId" style="line-height: 28px;" @change="handdleIsBase">
                    <el-checkbox v-for="item in propertySource" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>

              <!-- <div class="base-content">
                <el-form-item label="主要用途：" class="item-form" prop="mainPurposId" style="width:100%;">
                  <el-select v-model="form.mainPurposId" placeholder="请选择主要用途" class="item-select" @blur="handdleIsBase">
                    <el-option v-for="item in mainPurpose" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div> -->

              <div class="base-content">
                <el-form-item label="楼栋数量：" class="item-form" prop="num">
                  <el-input v-model="form.num" maxlength="16" @blur="handdleIsBase" placeholder="请输入楼栋数量">
                    <template slot="append">栋</template>
                  </el-input>
                </el-form-item>
                <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
                  <el-input v-model="form.propertyPlan" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
                </el-form-item>
              </div>

              <div>
                <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
                  <p style="color:#F19149;line-height:20px; margin-top:10px;">支持jpg/png/jpng格式 ,不超过10M</p>
                  <UploadImg :imgFormat="imgFormat" imgSize="10" imgName="jpeg、jpg、png" @event="changeImg($event)" :handleRefresh="this.handdleIsBase"></UploadImg>
                </el-form-item>
              </div>
            </div>

            <!-- 运营信息 -->
            <div id="2" style="margin-top:24px">
              <Title titleName="运营信息"></Title>
              <div class="base-content">
                <el-form-item label="运营方式：" prop="operatesType" style="margin-bottom:0;">
                  <el-radio-group v-model="form.operatesType" @change="handleIsValue">
                    <el-radio label="1">自营</el-radio>
                    <el-radio label="2">委托运营</el-radio>
                    <el-radio label="3">其他管理单位</el-radio>
                  </el-radio-group>
                </el-form-item>
              </div>
            </div>

            <div class="base-content" v-if="isOpreates">
              <div class="operates">
                <el-form-item :label="opreatesLable" prop="operatesUnitId" style="margin-bottom:0; flex:1; display:flex; width:100%;">
                  <el-select v-model="form.operatesUnitId" placeholder="请选择管理单位" class="item-select" style="width:100%;" @change="handleOperate">
                    <el-option v-for="item in operatingUnit" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item prop="opreatesGroupId" style="margin-bottom:0;flex:1; margin-left:30px;">
                  <el-select v-model="form.opreatesGroupId" placeholder="请选择单位项目组" @focus='handleFocus' class="item-select" style="width:72%;">
                    <el-option v-for="item in organization" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>

            <!-- 建造信息 -->
            <div id="3" style="margin-top:24px">
              <Title titleName="建造信息"></Title>
              <div class="base-content">
                <el-form-item label="设计单位：" class="item-form" style="width:100%;" prop="designUnit">
                  <el-input v-model="form.designUnit" maxlength="51" @blur="handleBuild" placeholder="请输入设计单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="施工单位：" class="item-form" style="width:100%;" prop="buildUnit">
                  <el-input v-model="form.buildUnit" maxlength="51" @blur="handleBuild" placeholder="请输入施工单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="建造说明：" style="width:100%;" prop="buildDescription">
                  <el-input type="textarea" :rows="8" maxlength="1001" v-model="form.buildDescription" @blur="handleBuild" placeholder="请输入建造说明"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="备注：" style="width:100%;" prop="buildRemark">
                  <el-input type="textarea" :rows="8" maxlength="1001" v-model="form.buildRemark" @blur="handleBuild" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <span style="font-weight:bold; margin-left:40px;">附件材料：</span>
                <el-button size="small" type="primary" style="font-size:14px;" @click="handleDialogBuild">自定义附件</el-button>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="验收报告：" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;">
                  <UploadWps @event="changeWpsTwo($event)" :handleRefresh="handleBuild"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="施工许可证：" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;">
                  <UploadWps @event="changeWpsOne($event)" :handleRefresh="handleBuild"></UploadWps>
                </el-form-item>
              </div>

              <div v-for="item in pageBuildCustFile" :key="item.uid" style="padding-left:12px;">
                <el-form-item :label="item.attachmentName+'：'" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;border:1px solid #ddd; border-radius: 6px;padding:24px 24px 24px 0;">
                  <div style="display: flex;">
                    <UploadWpsCustom style="flex:1;" @event="addChangeWpsBuild($event)" :filesList="item" :handleRefresh="handleBuild"></UploadWpsCustom>
                    <i class="el-icon-delete" style="font-size:26px; flex:1; display:flex; justify-content: flex-end; align-items: center;" @click="handleDeteleBuild(item.uid)"></i>
                  </div>
                </el-form-item>
              </div>

            </div>

            <!-- 用地信息 -->
            <div id="4" style="margin-top:24px">
              <Title titleName="用地信息"></Title>
              <div class="base-content">

                <el-form-item label="开始时间：" class="item-form" prop="landStartTime">
                  <el-date-picker v-model="form.landStartTime" type="date" class="item-select" placeholder="选择日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" @blur="handleUseSite" @change="landStartTimeChange">
                  </el-date-picker>
                </el-form-item>

                <el-form-item label="结束时间：" class="item-form" prop="landEndTime">
                  <el-date-picker v-model="form.landEndTime" type="date" class="item-select" placeholder="选择日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" @blur="handleUseSite">
                  </el-date-picker>
                </el-form-item>

              </div>
              <div class="base-content">
                <el-form-item label="建设单位：" class="item-form" style="width:100%;" prop="constructionUnit">
                  <el-input v-model="form.constructionUnit" maxlength="51" @blur="handleUseSite" placeholder="请输入建设单位"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="用地说明：" style="width:100%;" prop="landDescription">
                  <el-input type="textarea" :rows="8" v-model="form.landDescription" maxlength="1001" @blur="handleUseSite" placeholder="请输入用地说明"></el-input>
                </el-form-item>
              </div>
              <div class="base-content">
                <el-form-item label="备注：" style="width:100%;" prop="landRemark">
                  <el-input type="textarea" :rows="8" v-model="form.landRemark" maxlength="1001" @blur="handleUseSite" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <span style="font-weight:bold; margin-left:40px;">附件材料：</span>
                <el-button size="small" type="primary" style="font-size:14px;" @click="handleDialog">自定义附件</el-button>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="土地出让合同：" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;">
                  <UploadWps @event="changeWpsFour($event)" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="红线图或宗地图：" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;">
                  <UploadWps @event="changeWpsFive($event)" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div style="padding-left:12px;">
                <el-form-item label="用地许可证：" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;">
                  <UploadWps @event="changeWpsSix($event)" :handleRefresh="handleUseSite"></UploadWps>
                </el-form-item>
              </div>

              <div v-for="item in pageSiteCustFile" :key="item.uid" style="padding-left:12px;">
                <el-form-item :label="item.attachmentName+'：'" class="item-form" style="margin-bottom:0;width:50%;margin-top:15px;border:1px solid #ddd; border-radius: 6px;padding:24px 24px 24px 0;">
                  <div style="display: flex;">
                    <UploadWpsCustom style="flex:1;" @event="addChangeWps($event)" :filesList="item" :handleRefresh="handleUseSite"></UploadWpsCustom>
                    <i class="el-icon-delete" style="font-size:26px; flex:1; display:flex; justify-content: flex-end; align-items: center;" @click="handleDetele(item.uid)"></i>
                  </div>
                </el-form-item>
              </div>

            </div>

            <!-- 附属设施信息 -->
            <div id="5" style="margin-top:24px">
              <Title titleName="附属设施信息"></Title>
              <div>
                <el-form-item label="附属设施列表：" class="item-form">
                  <AddTable :wyFacilitiesInfoList="form.wyFacilitiesInfoList" isShow='1' isName='1' labelName='物业名称' @event="addTablechange($event)" :estateName='form.name'></AddTable>
                </el-form-item>
              </div>
            </div>

            <!-- 物管信息 -->
            <div id="6" style="margin-top:24px">
              <Title titleName="物管信息"></Title>
              <div class="base-content">
                <el-form-item label="物业公司名称：" class="item-form" style="width:100%;" prop="companyName">
                  <el-input v-model="form.companyName" maxlength="51" @blur="handleProperty" placeholder="请输入物业公司名称"></el-input>
                </el-form-item>
              </div>

              <div class="base-content">
                <el-form-item label="联系人：" class="item-form" prop="contacts">
                  <el-input v-model="form.contacts" maxlength="51" @blur="handleProperty" placeholder="请输入联系人"></el-input>
                </el-form-item>
                <el-form-item label="联系电话：" class="item-form" prop="phone">
                  <el-input v-model="form.phone" @blur="handleProperty" placeholder="请输入联系电话"></el-input>
                </el-form-item>
                <el-form-item label="物业管理费：" class="item-form" prop="manageFee">
                  <el-input v-model="form.manageFee" maxlength="16" @blur="handleProperty" placeholder="请输入物业管理费">
                    <template slot="append">元/㎡/月</template>
                  </el-input>
                </el-form-item>
              </div>

              <div class="base-content" style="margin-bottom:30px" prop="remark">
                <el-form-item label="备注：" style="width:100%;">
                  <el-input type="textarea" maxlength="1001" :rows="8" v-model="form.remark" @blur="handleProperty" placeholder="请输入备注"></el-input>
                </el-form-item>
              </div>

            </div>

          </div>
        </div>
      </div>
    </el-form>
    <el-dialog title="自定义附件" :visible.sync="buildDialogVisible" width="580px" class="customize">
      <CustomUploadWps v-if="buildDialogVisible" :handleModel='this.handleDialogBuildModel' @event="changeWpsCustomBuild($event)" :filesList="form.buildCustFile" :handleRefresh="this.handleBuild"></CustomUploadWps>
    </el-dialog>
    <el-dialog title="自定义附件" :visible.sync="dialogVisible" width="580px" class="customize">
      <CustomUploadWps v-if="dialogVisible" :handleModel='this.handledialogModel' @event="changeWpsCustom($event)" :filesList="form.siteCustFile" :handleRefresh="this.handleUseSite"></CustomUploadWps>
    </el-dialog>
  </div>
</template>
<script>
// import qs from 'qs'
import moment from 'moment'
import Title from '@/components/title.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'
import UploadWps from '@/components/uploadWps.vue'
import CustomUploadWps from '@/components/customUploadWps.vue'
import UploadWpsCustom from '@/components/uploadWpsCustom.vue'

import { selectTag, operateCode, operateUnit } from '@/views/incubationPark/mainPark/request.js'
import AddTable from '../component'
import { province, city, area, street, committee } from '@/components/request'
import { addBuild, propertyCode, assetName } from '../request.js'
export default {
  components: { Title, Address, UploadImg, UploadWps, AddTable, CustomUploadWps, UploadWpsCustom },
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    let isValue1000 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 1000) {
          callback(new Error('输入字数已超过1000字'))
        } else {
          callback()
        }
      }
    }

    let phoneNum = (rule, value, callback) => {
      if (value) {
        let reg = /^((0\d{2,3}-?\d{7,8})|(1[3465789]\d{9}))$/
        if (reg.test(value)) {
          callback()
        } else {
          callback(new Error('请输入正确的联系电话'))
        }
      }
    }

    // 校验结束时间不能小于开始时间
    const validEndTime = (rule, value, callback) => {
      if (value && value != '' && this.form.landStartTime && this.form.landStartTime != '') {
        let sTime = moment(this.form.landStartTime)
        let eTime = moment(value)
        let diffTime = sTime.diff(eTime)
        if (diffTime > 0) {
          callback(new Error(`结束时间不能小于开始时间`))
        }
      } else callback()
    }

    return {
      dialogVisible: false,
      buildDialogVisible: false,
      pageBuildCustFile: [],
      pageSiteCustFile: [],
      radio: '基础信息',
      params: {},
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isOperateActive: false,
      isOperateIcon: false,
      isOperateError: true,
      isBuildIcon: false,
      isBuildActive: false,
      isBuildError: true,
      isUseSiteIcon: false,
      isUseSiteActive: false,
      isUseSiteError: true,
      isMakeIcon: false,
      isMakeActive: false,
      isMakeError: true,
      isPropertyIcon: false,
      isPropertyActive: false,
      isPropertyError: true,
      propertyScale: [],
      propertyTag: [],
      propertyStatus: [],
      propertyType: [],
      propertySource: [],
      // mainPurpose: [],
      wyTag: [],
      isLable: false,
      operatingUnit: [],
      organization: [],
      isOpreates: false,
      opreatesLable: '委托运营管理单位',
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      buildList: [],
      addressArr: [],
      floorList: [],
      oldData: {},
      timer: null,
      isRepeat: true,
      form: {
        type: 1,
        pid: 0,
        propertyTagId: '9',
        unitName: '',
        name: '',
        buildCustFile: {}, // 建造自定义合同
        siteCustFile: {}, // 用地自定义合同
        belongPerson: JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
        shortName: '',
        aliasName: '',
        propertyStatusId: '',
        propertyScaleId: '13',
        propertyCode: '',
        propertyIntroduction: '',
        propertyTypeId: [],
        propertySourceId: [],
        // mainPurposId: '',//主要用途
        propertyPlan: '', // 物业规划用途
        wyTagId: [], // 物业标签
        buildArea: '',
        landArea: '',
        practicalArea: '',
        shareArea: '',
        propertyImg: [],
        operatesType: '', // 运营方式
        operatesUnitId: '', // 运营管理单位
        opreatesGroupId: '', // 运营单位项目
        designUnit: '',
        buildUnit: '',
        buildDescription: '',
        buildRemark: '',
        constructPermitFile: [],
        acceptanceReportFile: [],
        landStartTime: '',
        landEndTime: '',
        constructionUnit: '',
        landDescription: '',
        landRemark: '',
        landTransferContractFile: [],
        redLineFile: [],
        landPermitFile: [],
        companyName: '',
        contacts: '',
        phone: '',
        manageFee: '',
        remark: '',
        num: '',
        wyFacilitiesInfoList: [],
        userId: '',
        detailAddr: '',
        areaCode: '',
        longitude: 0, // 经度
        latitude: 0, // 纬度
        assetType: '孵化园区', // 资产类型
        propertyType: '主体园区' // 按钮类型
      },
      rules: {
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        num: [
          { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        operatesType: [
          { required: true, message: '请选择运营方式', trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        propertyStatusId: [
          { required: true, message: '请选择物业状态', trigger: 'change' }
        ],
        operatesUnitId: [
          { required: true, message: '请选择运营管理单位', trigger: 'change' }
        ], // 运营管理单位
        opreatesGroupId: [
          { required: true, message: '请选择运营单位项目组', trigger: 'change' }
        ], // 运营单位项目
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        propertyTypeId: [
          { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        ],
        shortName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        practicalArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        shareArea: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        propertyIntroduction: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        designUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildDescription: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        buildRemark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        constructionUnit: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        landDescription: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        landRemark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        companyName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        contacts: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        phone: [
          { type: 'string', required: false, validator: phoneNum, trigger: 'change' }
        ],
        manageFee: [
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        remark: [
          { type: 'string', required: false, validator: isValue1000, trigger: 'change' }
        ],
        landEndTime: [
          { required: false, validator: validEndTime, trigger: 'change' }
        ]
      }

    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    propertyCode().then((res) => {
      this.form.propertyCode = res.data.data
    })
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    selectTag('property_type2').then(res => {
      this.propertyType = res.data.data
    })
    selectTag('property_source').then(res => {
      this.propertySource = res.data.data.reverse()
    })
    // selectTag('main_purpos').then(res => {
    //   this.mainPurpose = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })

    operateCode().then(res => {
      this.operatingUnit = res.data.data
    })
  },
  updated () {
    this.handleIsValue()
    this.handleMake()
    this.handdleIsBase()
    this.handleProperty()
    this.handleUseSite()
    this.handleBuild()
  },
  methods: {
    handleVal (val) {
      if (val === '10') {
        this.isLable = true
      } else {
        this.isLable = false
      }
    },
    handleFocus () {
      if (this.organization.length === 0) {
        this.$refs.form.validateField('operatesUnitId')
      }
    },
    remoteMethod (rule, value, callback) {
      if (value !== '') {
        if (this.timer) clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          let params = `?name=${value}&pid=${0}`
          assetName(params).then((res) => {
            if (res.data.code === 0) {
              callback()
              this.isRepeat = true
            } else {
              callback(new Error(`${res.data.errMsg}，请重新输入`))
              this.isRepeat = false
            }
          })
        }, 300)
      }
    },
    getItemData () {
      return this.form.getItemData
    },
    handleFilter (value) {
      let arr = []
      value && Array.isArray(value) && value.forEach((item) => {
        arr.push(item.id)
      })
      return arr
    },
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },
    handleIsValue (val) {
      if (val === '1') {
        this.isOpreates = false
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '2') {
        this.isOpreates = true
        this.opreatesLable = '委托运营管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '3') {
        this.isOpreates = true
        this.opreatesLable = '其他管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      }
      if (this.form.operatesType) {
        this.isOperateActive = true
        this.isOperateIcon = true
        this.isOperateError = false
      }
    },

    handleOperate (val) {
      operateUnit(val).then((res) => {
        if ((res.data.code === 0) && res.data.data && Array.isArray(res.data.data)) {
          this.organization = res.data.data
        }
      })
    },

    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.form.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },

    addTablechange (val) {
      this.form.wyFacilitiesInfoList = val
    },

    doVillage (val) {
      this.form.detailAddr = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
    },

    handleBuild () {
      const { designUnit, buildUnit, buildDescription, buildRemark, constructPermitFile, acceptanceReportFile } = this.form
      if (designUnit || buildUnit || buildDescription || buildRemark || constructPermitFile.length > 0 || acceptanceReportFile.length > 0) {
        this.isBuildIcon = true
        this.isBuildActive = true
        this.isBuildError = false
      }
    },

    handleUseSite () {
      const { landStartTime, landEndTime, constructionUnit, landDescription, landRemark, landTransferContractFile, redLineFile, landPermitFile } = this.form
      if (landStartTime || landEndTime || constructionUnit || landDescription || landRemark || landTransferContractFile.length > 0 || redLineFile.length > 0 || landPermitFile.length > 0) {
        this.isUseSiteIcon = true
        this.isUseSiteActive = true
        this.isUseSiteError = false
      }
    },

    handleMake () {
      const { wyFacilitiesInfoList } = this.form
      if (Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0) {
        this.isMakeIcon = true
        this.isMakeActive = true
        this.isMakeError = false
      }
    },

    handdleIsBase () {
      const {
        name,
        shortName,
        aliasName,
        propertyStatusId,
        propertyScaleId,
        propertyCode,
        propertyIntroduction,
        propertyTypeId,
        propertySourceId,
        // mainPurposId,
        propertyPlan,
        wyTagId,
        detailAddr,
        buildArea,
        landArea,
        practicalArea,
        shareArea,
        propertyImg
      } = this.form
      if (
        name ||
        shortName ||
        aliasName ||
        propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        propertyIntroduction ||
        propertyTypeId.length > 0 ||
        propertySourceId.length > 0 ||
        // mainPurposId ||
        propertyPlan ||
        detailAddr ||
        buildArea ||
        landArea ||
        practicalArea ||
        shareArea ||
        propertyImg.length > 0 ||
        this.provincialLevel ||
        wyTagId.length > 0 ||
        this.cityLevel ||
        this.areaLevel ||
        this.streetLevel ||
        this.committeeLevel ||
        this.buildList.length > 0
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    handleProperty () {
      const { companyName, contacts, phone, manageFee, remark } = this.form
      if (companyName || contacts || phone || manageFee || remark) {
        this.isPropertyIcon = true
        this.isPropertyActive = true
        this.isPropertyError = false
      }
    },

    changeImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let val = item.response.data
            imgArr.push({ name: val.fileName, path: val.filePath })
          }
        }
      })
      this.form.propertyImg = imgArr
    },

    changeWpsOne (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.fileName = item.name
          val.path = resPath
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.constructPermitFile = wpsArr
    },

    changeWpsTwo (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.fileName = item.name
          val.path = resPath
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.acceptanceReportFile = wpsArr
    },

    handleDialog () {
      this.dialogVisible = true
    },

    handledialogModel (flag) {
      this.dialogVisible = flag
    },

    handleDialogBuild () {
      this.buildDialogVisible = true
    },

    handleDialogBuildModel (flag) {
      this.buildDialogVisible = flag
    },

    // 用地自定义附件删除
    handleDetele (itemId) {
      let pageData = this.pageSiteCustFile
      let newData = pageData.filter(item => item.uid !== itemId)
      this.pageSiteCustFile = newData
      this.filterData(newData)
    },

    // 用地自定义附件添加
    changeWpsCustom (wpsList) {
      if (wpsList.attachmentName && wpsList.customData && wpsList.uid) {
        let postData = []
        Array.isArray(wpsList.customData) && wpsList.customData.length > 0 && wpsList.customData.forEach((item) => {
          let objKey = {}
          if (item.response.data && typeof item.response.data === 'object') {
            objKey.fileName = item.response.data.fileName
            objKey.fileSize = item.response.data.fileSize
            objKey.path = item.response.data.filePath
          } else {
            objKey.fileName = item.fileName
            objKey.fileSize = item.fileSize
            objKey.path = item.pathUrl
          }
          postData.push(objKey)
        })
        this.form.siteCustFile[wpsList.attachmentName] = postData
        this.pageSiteCustFile.push(wpsList)
      }
    },

    // 用地自定义附件 添加文件&删除文件
    addChangeWps (value) {
      let addPost = this.pageSiteCustFile
      let newAddPost = []
      Array.isArray(addPost) && addPost.length > 0 && addPost.forEach((item) => {
        if (item.uid === value.uid) {
          item.customData = value.customData
          newAddPost.push(item)
        } else {
          newAddPost.push(item)
        }
      })
      this.pageSiteCustFile = newAddPost
      this.filterData(newAddPost)
    },

    // 用地自定义附件上传数据格式
    filterData (val) {
      let newPost = {}
      Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        let arr = []
        Array.isArray(item.customData) && item.customData.length > 0 && item.customData.forEach((key) => {
          let objArr = {}
          objArr.fileName = key.fileName
          objArr.fileSize = key.fileSize
          objArr.path = key.pathUrl
          arr.push(objArr)
        })
        newPost[item.attachmentName] = arr
      })
      this.form.siteCustFile = newPost
    },

    // 建造自定义附件删除
    handleDeteleBuild (itemId) {
      let pageData = this.pageBuildCustFile
      let newData = pageData.filter(item => item.uid !== itemId)
      this.pageBuildCustFile = newData
      this.filterDataBuild(newData)
    },

    // 建造自定义附件添加
    changeWpsCustomBuild (wpsList) {
      if (wpsList.attachmentName && wpsList.customData && wpsList.uid) {
        let postData = []
        Array.isArray(wpsList.customData) && wpsList.customData.length > 0 && wpsList.customData.forEach((item) => {
          let objKey = {}
          if (item.response.data && typeof item.response.data === 'object') {
            objKey.fileName = item.response.data.fileName
            objKey.fileSize = item.response.data.fileSize
            objKey.path = item.response.data.filePath
          } else {
            objKey.fileName = item.fileName
            objKey.fileSize = item.fileSize
            objKey.path = item.pathUrl
          }
          postData.push(objKey)
        })
        this.form.buildCustFile[wpsList.attachmentName] = postData
        this.pageBuildCustFile.push(wpsList)
      }
    },

    // 建造自定义附件 添加文件&删除文件
    addChangeWpsBuild (value) {
      let addPost = this.pageBuildCustFile
      let newAddPost = []
      Array.isArray(addPost) && addPost.length > 0 && addPost.forEach((item) => {
        if (item.uid === value.uid) {
          item.customData = value.customData
          newAddPost.push(item)
        } else {
          newAddPost.push(item)
        }
      })
      this.pageSiteCustFile = newAddPost
      this.filterDataBuild(newAddPost)
    },

    // 建造自定义附件上传数据格式
    filterDataBuild (val) {
      let newPost = {}
      Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        let arr = []
        Array.isArray(item.customData) && item.customData.length > 0 && item.customData.forEach((key) => {
          let objArr = {}
          objArr.fileName = key.fileName
          objArr.fileSize = key.fileSize
          objArr.path = key.pathUrl
          arr.push(objArr)
        })
        newPost[item.attachmentName] = arr
      })
      this.form.buildCustFile = newPost
    },

    changeWpsFour (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.fileName = item.name
          val.path = resPath
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.landTransferContractFile = wpsArr
    },

    changeWpsFive (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.fileName = item.name
          val.path = resPath
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.redLineFile = wpsArr
    },

    changeWpsSix (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = {}
        if (item.response && typeof item.response === 'object') { // 上传图片处理
          if (item.response.data && typeof item.response === 'object') {
            val.fileName = item.response.data.fileName
            val.path = item.response.data.filePath
            val.fileSize = item.response.data.fileSize
          }
        } else { // 编辑回显图片处理
          let urlPath = item.url ? item.url : ''
          let resPath = urlPath && (urlPath).split('/api/v1/zbkc/')[1]
          val.fileName = item.name
          val.path = resPath
          val.fileSize = item.fileSize
        }
        wpsArr.push(val)
      })
      this.form.landPermitFile = wpsArr
    },

    wyFilterData (val) {
      let arr = []
      val && Array.isArray(val) && val.length > 0 && val.forEach((item) => {
        if (item.id) {
          delete item.id
          arr.push(item)
        } else {
          arr.push(item)
        }
      })
      return arr
    },

    // 开始时间改变
    landStartTimeChange () {
      // 校验结束时间
      this.$refs.form.validateField('landEndTime')
    },

    // 保存
    submitForm (formName) {
      setTimeout(() => {
        let isPass = []
        this.$refs[formName].validateField([
          'belongPerson',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'num',
          'propertyPlan',
          'operatesType',
          'propertyScaleId',
          'propertyStatusId',
          'operatesUnitId',
          'opreatesGroupId',
          'propertyTagId',
          'propertyTypeId',
          'landEndTime',
          'phone'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })
        if ((isPass.length === 0) && this.isRepeat) {
          if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
            let fullAddress = `${this.provincialLevel}${this.cityLevel}${this.areaLevel}${this.streetLevel}${this.committeeLevel}`
            if (this.form.detailAddr) {
              let list = this.wyFilterData(this.form.wyFacilitiesInfoList)
              this.form.wyFacilitiesInfoList = list
              this.form.address = fullAddress || this.form.detailAddr
              if (JSON.stringify(this.form) !== JSON.stringify(this.oldData)) {
                addBuild(this.form).then((res) => {
                  if (res.data.code === 0) {
                    this.$message({
                      showClose: true,
                      message: '添加成功',
                      type: 'success'
                    })
                    this.$emit('event', res.data.data.id)
                  } else {
                    this.$message({
                      showClose: true,
                      message: res.data.errMsg,
                      type: 'warning'
                    })
                    return (this.oldData = {})
                  }
                })
                this.oldData = this.form
              } else {
                this.$message({
                  showClose: true,
                  message: '请勿重复保存数据',
                  type: 'warning'
                })
                this.oldData = this.form
              }
            } else {
              this.$message({
                showClose: true,
                message: '请选输入详细地址',
                type: 'error'
              })
            }
          } else {
            this.$message({
              showClose: true,
              message: '请选择地址',
              type: 'error'
            })
          }
        }
      }, 0)
    },
    // 取消
    handleCancel () {
      this.$router.push({ path: '/incubationPark' })
    }
  },
  destroyed () {
    if (this.timer) clearTimeout(this.timer)
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
