<template>
  <div class=" u-right-content">
    <Breadcrumb barName="合同到期提醒" icon="el-icon-coordinate"></Breadcrumb>
    <div>
      <el-form :inline="true" :model="select_form" ref="form" class="form-main">
        <el-form-item label="物业名称 :" class="form-item">
          <el-input v-model="select_form.wyName" clearable  placeholder="请输入物业名称"></el-input>
        </el-form-item>
        <el-form-item label="物业类型 :" class="form-item">
          <el-select v-model="select_form.assetType" clearable placeholder="请选择物业类型">
            <el-option v-for="item in assetTypeList" :key="item.name" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" v-permission="{action:'查询', effect:'disabled'}" icon="el-icon-search" @click="select">查询</el-button>
          <el-button type="primary" v-permission="{action:'重置', effect:'disabled'}" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'导出', effect:'disabled'}" @click="derive">导出</el-button>
        <el-button type="primary" v-permission="{action:'批量发送短信', effect:'disabled'}" @click="showDialogSendSms('sole1','num')">批量发送短信</el-button>
      </div>
      <div>
        <el-table border :data="pagelist"  @sort-change="sortChange" height="calc(100vh - 360px)">
          <el-table-column type="index" width="55" label="序号"></el-table-column>
          <el-table-column prop="wyName" width="380" label="物业名称"></el-table-column>
          <el-table-column prop="assetType" width="120" label="物业类型"></el-table-column>
          <el-table-column prop="leaseUse" width="100" label="租赁用途">
            <template slot-scope="scope"> {{leaseUseList[scope.row.leaseUse]}} </template>
          </el-table-column>
          <el-table-column prop="rentalArea" width="120" label="租赁面积(㎡)" sortable></el-table-column>
          <el-table-column prop="monthlyRent" width="120" label="月租金( 元)" sortable></el-table-column>
          <el-table-column prop="rentUnitPrice" width="140" label="租金单价(元/㎡)" sortable></el-table-column>
          <el-table-column prop="limitDay" width="120" label="剩余期限(天)" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.limitDay<0" style="color:red">{{scope.row.limitDay}}</span>
              <span v-if="scope.row.limitDay>=0&&scope.row.limitDay<=15" style="color:#409EFF">{{scope.row.limitDay}}</span>
              <span v-if="scope.row.limitDay>15" style="color:green">{{scope.row.limitDay}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="leaser" width="380" label="承租方"></el-table-column>
          <el-table-column prop="startRentDate" width="110" label="起租日期" sortable>
            <template slot-scope="scope"> {{ scope.row.startRentDate}} </template>
          </el-table-column>
          <el-table-column prop="endRentDate" width="110" label="止租日期" sortable>
            <template slot-scope="scope"> {{ scope.row.endRentDate }} </template>
          </el-table-column>
          <el-table-column prop="year" width="120" label="合同期限(年)" sortable></el-table-column>
          <el-table-column prop="legalPerson" label="法人" width="100" ></el-table-column>
          <el-table-column prop="legalPhone" width="150" label="法人联系方式"></el-table-column>
          <el-table-column prop="clientPerson" label="代理人" width="100" ></el-table-column>
          <el-table-column prop="clientPhone" width="150" label="代理人联系方式"></el-table-column>
          <el-table-column prop="remark" label="备注" width="380"></el-table-column>
          <el-table-column label="操作" fixed="right" width="300">
            <template slot-scope="scope">
              <el-button type="primary" v-permission="{action:'发送短信', effect:'disabled'}" @click="showDialogSendSms('sole',scope.row)" size="mini">发送短信</el-button>
              <el-button type="primary" v-permission="{action:'短信记录', effect:'disabled'}" @click="showDialogSmsRecord(scope.$index,scope.row)" size="mini">短信记录</el-button>
              <el-button type="primary" v-permission="{action:'查看合同', effect:'disabled'}" @click="seeContract(scope.$index,scope.row)" size="mini">查看合同</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
        </el-pagination>
      </div>
    </div>
    <SendSms v-if="dialogDialogSendSms" ref="SendSms" />
    <Select v-if="dialogDialogSelect" ref="select" />
    <SmsRecord v-if="dialogDialogSmsRecord" ref="SmsRecord" />
  </div>
</template>
<script>
import Breadcrumb from '@/components/BreadCrum'
import SmsRecord from './SmsRecord'
import SendSms from './SendSms'
import Select from './Select.vue'
import { remindList } from '@/until/api.js'
import axios from 'axios'
export default {
  components: {
    Select,
    Breadcrumb,
    SendSms,
    SmsRecord
  },
  data () {
    return {
      assetTypeList: [
        { name: '产业用房' },
        { name: '孵化园区' },
        { name: '行政办公' },
        { name: '商业' },
        { name: '住宅' },
        { name: '租赁社会物业' },
        { name: '公共服务设施' }
      ],
      cities: [
        { name: '物业名称', id: 'wyName' },
        { name: '物业类型', id: 'assetType' },
        { name: '租赁用途', id: 'leaseUse' },
        { name: '租赁面积', id: 'rentalArea' },
        { name: '月租金', id: 'rentUnitPrice' },
        { name: '租金单价', id: 'monthlyRent' },
        { name: '剩余期限', id: 'limitDay' },
        { name: '承租方', id: 'leaser' },
        { name: '起租日期', id: 'startRentDate' },
        { name: '止租日期', id: 'endRentDate' },
        { name: '合同期限', id: 'year' },
        { name: '法人', id: 'legalPerson' },
        { name: '法人联系方式', id: 'legalPhone' },
        { name: '代理人', id: 'clientPerson' },
        { name: '代理人联系方式', id: 'clientPhone' },
        { name: '备注', id: 'remark' }
      ],
      checkedCities: [
      ],
      leaseUseList: {
        1: '办公',
        2: '综合(研发)',
        3: '工业研发',
        4: '研发'
      },
      checkAll: false,
      select_form: {
        wyName: '',
        smallMonthlyRent: '',
        assetType: '',
        bigMonthlyRent: ''
      },
      // dialog
      dialogDialogSendSms: false,
      dialogDialogSmsRecord: false,
      dialogDialogSelect: false,
      currentPage: 1,
      pagesize: 10,
      pagelist: [
      ],
      totalNum: 0,
      sort: 0
    }
  },
  created () {
    this.list()
  },
  methods: {
    list () { // 查询列表数据
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        sort: this.sort,
        wyName: this.select_form.wyName,
        assetType: this.select_form.assetType,
        userId: sessionStorage.getItem('userId')
      }
      remindList(obj).then((res) => {
        if (res.data.code === 0) {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
        } else {
          this.$message({
            message: res.data.errMsg,
            type: 'error'
          })
        }
      })
    },
    derive () { // 导出
      axios({
        method: 'post',
        url: '/zbkc/yjSmsRecord/list/export',
        data: {
          yjContractDTO: {
            userId: sessionStorage.getItem('userId')
          }
        },
        responseType: 'blob'
      }).then(res => {
        let data = res.data
        let fileReader = new FileReader()
        fileReader.onload = function () {
          try {
            const jsonData = JSON.parse(fileReader.result) // 说明是普通对象数据，后台转换失败
            if (jsonData.code) {
              alert(jsonData.errMsg)
            }
          } catch (err) {
            let now = new Date()
            let date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const link = document.createElement('a')
            let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' })
            link.style.display = 'none'
            // 设置连接
            link.href = URL.createObjectURL(blob)
            link.download = date + '合同到期提醒' // 你文件定义的名称
            document.body.appendChild(link)
            // 模拟点击事件
            link.click()
          }
        }
        fileReader.readAsText(data)
      }).catch(err => {
        console.log(err)
      })
    },
    sortChange (column) { // 列表数据排序
      this.pagelist = []
      var type = ''
      if (column.order === 'ascending') {
        switch (column.prop) {
          case 'rentalArea' : type = 1; break
          case 'monthlyRent' : type = 3; break
          case 'rentUnitPrice' : type = 5; break
          case 'startRentDate' : type = 7; break
          case 'endRentDate' : type = 9; break
          case 'limitDay' : type = 11; break
          case 'year' : type = 13; break
        }
      } else if (column.order === 'descending') {
        switch (column.prop) {
          case 'rentalArea' : type = 2; break
          case 'monthlyRent' : type = 4; break
          case 'rentUnitPrice' : type = 6; break
          case 'startRentDate' : type = 8; break
          case 'endRentDate' : type = 10; break
          case 'limitDay' : type = 12; break
          case 'year' : type = 14; break
        }
      } else {
        type = 0
      }
      this.sort = type
      this.list()
    },
    select () { // 查询
      this.list()
    },
    resetForm () { // 重置
      for (let i in this.select_form) {
        this.select_form[i] = ''
      }
      this.list()
    },
    handleSizeChange (size) {
      this.pagesize = size
      // 每页下拉显示数据
      this.list()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.list()
      // 点击第几页
    },
    showDialogSendSms (name, data) {
      if (name === 'sole1') {
        data = this.totalNum
      }
      this.dialogDialogSendSms = true
      this.$nextTick(() => {
        this.$refs.SendSms.show(name, data)
      })
    },
    seeContract (name, data) {
      this.dialogDialogSelect = true
      this.$nextTick(() => {
        this.$refs.select.show(name, data)
      })
    },
    showDialogSmsRecord (name, data) {
      this.dialogDialogSmsRecord = true
      this.$nextTick(() => {
        this.$refs.SmsRecord.show(name, data)
      })
    }
  }
}
</script>
<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
</style>
