<template>
  <el-dialog title="查看登记信息" :visible.sync="dialogFormVisible" :width="'1360px'" :close-on-click-modal="false">
    <el-form :inline="true" class="el_form" label-width="240px">
      <table :data="listId" cellspacing="0" cellpadding="0" class="table">
        <tr>
          <th>物业名称</th>
          <th>{{listId.wyName}}</th>
          <th>物业类型:</th>
          <th>{{listId.assetType}}</th>
        </tr>
        <tr>
          <th>租赁用途</th>
          <th>{{leaseUseList[listId.leaseUse]}}</th>
          <th>租赁面积(㎡)</th>
          <th>{{listId.rentalArea}}</th>
        </tr>
        <tr>
          <th>月租金(元)</th>
          <th>{{listId.monthlyRent}}</th>
          <th>租金单价(元/㎡):</th>
          <th>{{listId.rentUnitPrice}}</th>
        </tr>
        <tr>
          <th>起租日期:</th>
          <th>{{listId.startRentDate}}</th>
          <th>止租日期:</th>
          <th> {{listId.endRentDate}}</th>
        </tr>
        <tr>
          <th>承租方:</th>
          <th>{{listId.leaser}}</th>
          <th>合同期限(年):</th>
          <th>{{listId.year}}</th>
        </tr>
        <tr>
          <th>法人:</th>
          <th align="left">{{listId.legalPerson}}</th>
          <th>法人联系方式:</th>
          <th align="left">{{listId.legalPhone}}</th>
        </tr>
        <tr>
          <th>代理人:</th>
          <th align="left">{{listId.clientPerson}}</th>
          <th>代理人联系方式:</th>
          <th align="left">{{listId.clientPhone}}</th>
        </tr>
        <tr>
          <th>剩余期限(天):</th>
          <th colspan="3" align="left">{{listId.limitDay}}</th>
        </tr>
        <tr class="realtr" valign="top">
          <th>备注:</th>
          <th colspan="3" align="left">{{listId.remark}}</th>
        </tr>
      </table>
    </el-form>
    <div slot="footer">
    </div>
  </el-dialog>
</template>
<script>
export default {
  data () {
    return {
      dialogFormVisible: false,
      listId: [],
      leaseUseList: {
        1: '办公',
        2: '综合(研发)',
        3: '工业研发',
        4: '研发'
      }
    }
  },
  methods: {
    show (name, data) {
      this.listId = { ...data }
      this.dialogFormVisible = true
    }
  }
}
</script>
<style lang="less" scoped>
.realtr {
  height: 100px;
}
.realtr th {
  padding-top: 18px;
}
.table {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th {
  height: 48px;
}
.table tr th {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
</style>
