<template>
  <el-dialog :title="activeName === 'sole' ? '发送短信' : '批量发送短信'" :width="'800px'" :visible.sync="dialogFormVisible" @close="editDialogClosed" :close-on-click-modal="false">
    <el-form :model="ruleForm" ref="ruleForm" class="project-el-form" label-width="140px">
      <el-form-item v-if="activeName === 'sole1'" required label="发送租赁物业数:" prop="num">
        <el-input v-model="ruleForm.num" disabled></el-input>
      </el-form-item>
      <el-form-item v-if="activeName === 'sole'" label="物业名称:" prop="wyName" required>
        <el-input v-model="ruleForm.wyName" disabled></el-input>
      </el-form-item>
      <el-form-item v-if="activeName === 'sole'" required label="承租方:" prop="leaser">
        <el-input v-model="ruleForm.leaser" disabled></el-input>
      </el-form-item>
      <el-form-item v-if="activeName === 'sole'" required label="止租日期:" prop="startRentDate">
        <el-input v-model="ruleForm.startRentDate" disabled></el-input>
      </el-form-item>
      <el-form-item v-if="activeName === 'sole'" required label="剩余期限(天):" prop="limitDay">
        <el-input v-model="ruleForm.limitDay" disabled></el-input>
      </el-form-item>
      <el-form-item label="短信模板名称:" prop="messName" required>
        <el-select v-model="ruleForm.messName" placeholder="请选择" @change="to(ruleForm.messName)">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="短信内容:" prop="value" required>
        <el-input type="textarea" :autosize="{ minRows: 3, maxRows: 7}" v-model="ruleForm.value"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">发送短信</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { formatDate1 } from '@/until/common'
import { AllName, find } from '@/until/api.js'
export default {
  components: {
    formatDate1
  },
  data () {
    return {
      activeName: '',
      dialogFormVisible: false,
      options: [],
      ruleForm: {
        messName: '',
        limitDay: '',
        startRentDate: '',
        leaser: '',
        value: '',
        num: '',
        wyName: ''
      }
    }
  },
  created () {
    AllName().then(res => {
      res.data.data.map((item, index) => {
        let items = {id: index, name: item}
        this.options.push(items)
      })
    })
  },
  methods: {
    to (messName) {
      find(messName).then(res => {
        this.ruleForm.value = res.data.data
      })
    },
    show (name, data) {
      if (name === 'sole') {
        this.activeName = name
        for (let value in data) this.ruleForm[value] = data[value]
        this.dialogFormVisible = true
        this.ruleForm.startRentDate = formatDate1(this.ruleForm.startRentDate)
      } else {
        this.activeName = name
        this.dialogFormVisible = true
        this.ruleForm.num = data
      }
    },
    submit () {
      let ruleForm = this.ruleForm
      ruleForm.userId = window.sessionStorage.getItem('userId')
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.activeName === 'sole') {
            this.$message({
              message: '发送短信成功',
              type: 'success'
            })
            this.dialogFormVisible = false
          } else {
            this.$message({
              message: '批量发送短信成功',
              type: 'success'
            })
            this.dialogFormVisible = false
          }
        }
      })
    },
    cancel () {
      this.editDialogClosed()
    },
    editDialogClosed () {
      this.dialogFormVisible = false
      this.reset()
    },
    reset () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
        this.ruleForm.value = ''
      }
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 303px;
}
</style>
