<template>
  <el-dialog :title="'短信记录'" :width="'1360px'" :visible.sync="dialogFormVisible" :close-on-click-modal = "false" >
      <el-table :data="tableData" class="el_form">
        <el-table-column type="index" label="序号" width="60"></el-table-column>
        <el-table-column prop="wyName" label="物业名称"  width="280"> </el-table-column>
        <el-table-column prop="leaser" label="承租方" width="120"></el-table-column>
        <el-table-column prop="word" label="短信内容"></el-table-column>
        <el-table-column prop="sendTime" label="发送短信时间"  width="200">
          <template slot-scope="scope">
            {{scope.row.sendTime| formatDate1}}
          </template>
           </el-table-column>
      </el-table>
    <div slot="footer">
    </div>
  </el-dialog>
</template>
<script>
import { mesRecord } from '@/until/api.js'
import {formatDate1} from '@/until/common'
export default {
  components: {
  },
  filters: {
    formatDate1
  },
  data () {
    return {
      dialogFormVisible: false,
      tableData: []
    }
  },
  methods: {
    show (name, data) {
      this.dialogFormVisible = true
      let obj = {
        userId: sessionStorage.getItem('userId'),
        wyId: data.wyId
      }
      mesRecord(obj).then(res => {
        if (res.data.code === 0) {
          this.tableData = res.data.data
        } else {
          this.$message({
            message: res.data.errMsg,
            type: 'error'
          })
        }
      })
    }
  }
}
</script>
