<template>
  <div class="user_mian">
    <div class="user_body">
      <div class="aa">
        <div class="user_body_right">
          <div class="right_header">
            <!-- 零散 -->
            <h2>{{this.title_name}}</h2>
            <el-button type="primary" @click="handleJump">修改</el-button>
          </div>
          <div class="right_headertwo">
            <el-radio-group v-model="radio">
              <el-radio-button label="1" @change.native="changColor(1)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;基础信息</el-radio-button>
              <el-radio-button label="2" @change.native="changColor(2)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;运营信息</el-radio-button>
            </el-radio-group>
          </div>
          <div class="div_table">
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name" id="1">基础信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>物业权属</th>
                <th>{{propertyTag_name}}</th>
                <th>权属所有人</th>
                <th>{{pagelist.belongPerson}}</th>
              </tr>
              <tr>
                <th>物业名称</th>
                <th>{{pagelist.name}}</th>
                <th>物业简称</th>
                <th>{{pagelist.shortName}}</th>
              </tr>
              <tr>
                <th>别名/曾用名</th>
                <th>{{pagelist.aliasName}}</th>
                <th>物业状态</th>
                <th>{{propertyStatus_name}}</th>
              </tr>
              <tr>
                <th>物业规模</th>
                <th colspan="3">{{propertyScale_name}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th colspan="3">{{pagelist.propertyCode}}</th>
              </tr>
              <tr class="realtr" valign="top">
                <th>物业简介</th>
                <th colspan="3" v-html="pagelist.propertyIntroduction"></th>
              </tr>
              <tr>
                <th>物业种类</th>
                <th>{{propertyType_name}}</th>
                <th>地址</th>
                <th>{{pagelist.address}}</th>
              </tr>
              <tr>
                <th>详情地址</th>
                <th colspan="3">{{pagelist.detailAddr}}</th>
              </tr>
              <tr>
                <th>建筑面积</th>
                <th colspan="3" align="left">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
              </tr>
              <tr v-if="isLabel">
                <th>物业规划用途</th>
                <th colspan="3" align="left">{{pagelist.propertyPlan}}</th>
              </tr>
              <tr v-if="isLabel">
                <th>物业标签</th>
                <th colspan="3" align="left">{{wy_tag}}</th>
              </tr>
              <tr>
                <th>物业来源</th>
                <th colspan="3" align="left">{{propertySource_name}}</th>
              </tr>
              <tr height="141px" valign="center" class="trimg">
                <th style="line-height:141px;">物业图片</th>
                <th colspan="3" align="left">
                  <viewer :images="propertyImglist">
                    <span v-for="(item,index) in propertyImglist" :key="index">
                      <img class="imgs" :src="[item.path]">
                    </span>
                  </viewer>
                </th>
              </tr>
            </table>
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name" id="2">运营信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>运营方式</th>
                <th colspan="3">{{operatesTypeName}}</th>
              </tr>
              <tr v-if='isShow'>
                <th>管理单位</th>
                <th>{{operatesUnit}}</th>
                <th>运营单位项目组</th>
                <th>{{opreatesGroup}}</th>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { details } from '../request'
import { operateCode, operateUnit } from '@/views/office/mainPark/request.js'
export default {
  props: ['id'],
  data () {
    return {
      radio: '1',
      pagelist: [],
      pagesize: 10,
      currentPage: 1,
      title_name: '',
      propertyTag_name: '', // 物业标签
      propertyStatus_name: '', // 物业状态
      propertyScale_name: '', // 物业规模
      propertySource_name: '', // 物业来源
      propertyType_name: '', // 物业种类
      isShow: false,
      isPperate: false,
      operatesTypeName: '',
      operatesUnit: '',
      opreatesGroup: '',
      propertyImglist: [],
      wy_tag: '',
      isLabel: false
    }
  },
  created () {
    this.list(this.id)
  },
  components: {},
  methods: {
    handleJump () {
      // let { userId } = this.$route.query
      // let user = sessionStorage.getItem('userId')
      // if (userId === user) {
      this.$emit('event', this.id)
      // } else {
      //   this.$message({
      //     type: 'warning',
      //     message: '对不起，您无权编辑该文件!'
      //   })
      // }
    },
    changColor (val) {
      this.radio = String(val)
      document.getElementById(val).scrollIntoView()
    },
    list (params) {
      details(params).then(res => {
        let {
          info,
          propertyStatus,
          propertyTag,
          propertyScale,
          propertySource,
          propertyType,
          propertyImg,
          wyTag
        } = res.data.data
        this.pagelist = info
        this.title_name = info.name
        this.propertyImglist = propertyImg
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name && (String(propertyTag[0].name) === '10'))
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyTag_name = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyScale_name = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.handlePperate(info.operatesType)
        if (info.operatesUnitId) {
          this.handleOperatesUnit(info.operatesUnitId)
        }
        if (info.operatesUnitId && info.opreatesGroupId) {
          this.handleOpreatesGroup(info.operatesUnitId, info.opreatesGroupId)
        }
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.wy_tag = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    handlePperate (val) {
      if (val === 1) {
        this.operatesTypeName = '自营'
        this.isPperate = false
        this.isShow = false
      } else if (val === 2) {
        this.operatesTypeName = '委托运营'
        this.isPperate = true
        this.isShow = true
      } else if (val === 3) {
        this.operatesTypeName = '其他管理单位'
        this.isPperate = false
        this.isShow = true
      }
    },

    handleOperatesUnit (val) {
      operateCode().then(res => {
        let itemName = res.data.data
        Array.isArray(itemName) && itemName.length > 0 && itemName.forEach((item) => {
          if (item.id === String(val)) {
            this.operatesUnit = item.orgName
          }
        })
      })
    },

    handleOpreatesGroup (prams, val) {
      operateUnit(prams).then((res) => {
        let itemName = res.data.data
        Array.isArray(itemName) && itemName.length > 0 && itemName.forEach((item) => {
          if (item.id === String(val)) {
            this.opreatesGroup = item.orgName
          }
        })
      })
    }
  },
  watch: {
    'id': function (newVal) {
      this.list(newVal)
    }
  }
}
</script>
<style scoped>
.title_header {
  padding-top: 8px;
  width: 100%;
  height: 40px;
}
.vertical-line {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #1286ff;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.name {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.right_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
  border-bottom: 1px solid #dddddd;
}
.imgs {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 12px;
  line-height: 140px;
  margin-top: 8px;
}
.realtr img {
  cursor: pointer;
  height: 91px;
  width: 121px;
  margin: 0 0 0 15px;
}
.realtr img:nth-of-type(1) {
  margin-left: 0px;
}
.realtr {
  height: 189px;
}
.realtr th {
  padding-top: 18px;
}
.el-input__inner {
  width: 300%;
  margin: 2px;
}
.right_header {
  height: 58px;
}
.user_body_right {
  height: 98%;
  width: 100%;
}
.right_headertwo {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  line-height: 58px;
  padding: 0 10px;
  height: 58px;
}
.div_table {
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  height: 83%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 2px 1px 4px 0px rgb(0 0 0 / 10%);
  box-shadow: 2px 1px 4px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
}
.aa {
  display: flex;
  width: 100%;
  height: 100%;
}
.user_body {
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width: cale(100%-15px);
  height: 100%;
  /* margin: 0 0 0 15px; */
  box-shadow: 0px 1px 0px 0px #dddddd;
  border-radius: 6px 6px 0px 0px;
}
.table {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4) {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
}
</style>
