<template>
  <div>
    <el-form :model="form" :rules="rules" ref="form" label-width="126px">
    <el-form-item :label="addressLabel" class="address-name" prop="detailAddress">
    <div class="address">
    <el-form-item style="margin-bottom:0;" prop="provinceId" v-if="level === '2' || level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.provinceId" :disabled="isBan"  placeholder="请选择省" @change="(value)=>handleCity(value,'1')" @blur="handleBlur">
        <el-option
          v-for="item in provinceArr"
          :key="item.provinceCode"
          :label="item.name"
          :value="item.provinceCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="cityId" v-if="level === '2' || level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.cityId" :disabled="isBan"  placeholder="请选择市" @change="(value)=>handleArea(value,'1')"  @focus="handleProvince" @blur="handleBlur">
        <el-option
          v-for="item in cityArr"
          :key="item.cityCode"
          :label="item.name"
          :value="item.cityCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="areaId" v-if="level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.areaId" :disabled="isBan" placeholder="请选择区" @change="(value)=>handleStreet(value,'1')" @focus="handleProCity" @blur="handleBlur">
        <el-option
          v-for="item in areaArr"
          :key="item.areaCode"
          :label="item.name"
          :value="item.areaCode">
        </el-option>
    </el-select>
    </el-form-item>

   <el-form-item style="margin-bottom:0;" prop="streetId" v-if="level === '4' || level === '5' ">
     <el-select v-model="form.streetId" :disabled="isShow" placeholder="请选择街道" @change="(value)=>handleCommittee(value,'1')" @focus="handleProCitArea" @blur="handleBlur">
        <el-option
          v-for="item in streetArr"
          :key="item.streetCode"
          :label="item.name"
          :value="item.streetCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="committeeId" v-if="level === '5' ">
     <el-select v-model="form.committeeId" :disabled="isShow" placeholder="请选择社区" @change="(value)=>committeeChang(value,'1')" @focus="handleProCitAreStreet" @blur="handleBlur">
        <el-option
          v-for="item in committeeArr"
          :key="item.committeeCode"
          :label="item.name"
          :value="item.committeeCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item>
    </el-form-item>
    </div>
    </el-form-item>

    <div class="detailAddress" v-if="isVillage === '1'">
    <el-form-item :label="detailAddressLabel" prop="village">
    <el-input v-model="form.village" :disabled="isVill" class="input-with-select">
    <el-button slot="append" icon="el-icon-location" style="color:#1286FF;font-size:24px;" @click="handleModel"></el-button>
    </el-input>
    </el-form-item>
    </div>
    </el-form>
    <div class="address-map">
      <el-dialog
       :visible.sync="dialogVisible"
        width="72%"
        title="地址选择"
        top="10vh"
       >
      <GeoMap
      v-if="dialogVisible"
      :handleDialog='this.handleDialog'
      @event="handleValue($event)"
      :listAddress='this.form.village'
      :longitude='this.form.longitude'
      :latitude='this.form.latitude'
      :searchAddress = this.searchAddress
      ></GeoMap>
      </el-dialog>
    </div>
    </div>
</template>
<script>
import {province, city, area, street, committee} from './request'
import GeoMap from './Map/index.vue'
export default {
  props: [
    'isVillage', // 详细地址是否禁选
    'isDisabledAdd', // 地址省、市、区是否禁选
    'isDisabled', // 地址街道、社区是否禁选
    'level', // 地址联动级别
    'labelName', // 地址名称
    'fullAddress', // 详细地址名称
    'isRequired', // 是否必填校验
    'addressArr', // 地址回显数组值
    'detailAddr', // 详细地址回显值
    'handleRefresh', // 改变导航状态（用于资产登记主体新增\编辑tab icon切换校验）
    'lng', // 经度
    'lat' // 纬度
  ],
  components: {GeoMap},
  data () {
    return {
      dialogVisible: false,
      siteArr: [],
      addressLabel: this.labelName || '地址：',
      detailAddressLabel: this.fullAddress || '详细地址：',
      isBan: !!this.isDisabled || false,
      isShow: !!this.isDisabledAdd || false,
      isVill: !!this.isVillage || false,
      provinceArr: [],
      cityArr: [],
      areaArr: [],
      streetArr: [],
      committeeArr: [],
      addressName: 1,
      provinceName: '',
      cityName: '',
      areaName: '',
      streetName: '',
      committeeName: '',
      searchAddress: '',
      form: {
        provinceId: '44',
        cityId: '4403',
        areaId: '440305',
        streetId: '',
        committeeId: '',
        village: '',
        longitude: 0,
        latitude: 0
      },
      rules: {
        detailAddress: [
          { required: !!this.isRequired || false, message: '请选择省', trigger: 'blur' }
        ],
        provinceId: [
          { required: !!this.isRequired || false, message: '请选择省', trigger: 'blur' }
        ],
        cityId: [
          { required: !!this.isRequired || false, message: '请选择市', trigger: 'blur' }
        ],
        areaId: [
          { required: !!this.isRequired || false, message: '请选择区', trigger: 'blur' }
        ],
        streetId: [
          { required: !!this.isRequired || false, message: '请选择街道', trigger: 'blur' }
        ],
        committeeId: [
          { required: !!this.isRequired || false, message: '请选择社区', trigger: 'blur' }
        ],
        village: [
          { required: !!this.isRequired || false, message: '请输入详细地址', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    this.handlerProvince()
    this.handleCity('44')
    this.handleArea('4403')
    this.handleStreet('440305')
    this.longitude = this.lng
    this.latitude = this.lat
  },
  methods: {
    handleModel () {
      let placeName = this.provinceName + this.cityName + this.areaName + this.streetName + this.committeeName
      this.searchAddress = placeName
      this.dialogVisible = true
    },
    handleDialog (flag) {
      this.dialogVisible = flag
    },
    handleValue (val) {
      this.form.village = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
      this.handleVillage(val)
    },
    handlerProvince () {
      province().then((res) => {
        this.provinceArr = res.data.data
        Array.isArray(res.data.data) && res.data.data.length > 0 && res.data.data.forEach((item) => {
          if (item.provinceCode === '44') {
            this.provinceName = item.name
          }
        })
      })
    },
    handleCity (provinceCode, setVal) {
      if (this.provinceArr.length > 0) {
        let provinceData = this.provinceArr
        let provinceItem = provinceData.filter(item => item.provinceCode === provinceCode)
        this.provinceName = provinceItem[0].name
      }
      city(provinceCode).then((res) => {
        this.cityArr = res.data.data
        Array.isArray(res.data.data) && res.data.data.length > 0 && res.data.data.forEach((item) => {
          if (item.cityCode === '4403') {
            this.cityName = item.name
          }
        })
      })
      if (setVal) {
        this.form.cityId = ''
        this.form.areaId = ''
        this.form.streetId = ''
        this.form.committeeId = ''
        this.cityArr = []
        this.areaArr = []
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleArea (cityCode, setVal) {
      if (this.cityArr.length > 0) {
        let cityData = this.cityArr
        let cityItem = cityData.filter(item => item.cityCode === cityCode)
        this.cityName = cityItem[0].name
      }
      area(cityCode).then((res) => {
        this.areaArr = res.data.data
        Array.isArray(res.data.data) && res.data.data.length > 0 && res.data.data.forEach((item) => {
          if (item.areaCode === '440305') {
            this.areaName = item.name
          }
        })
      })
      if (setVal) {
        this.form.areaId = ''
        this.form.streetId = ''
        this.form.committeeId = ''
        this.areaArr = []
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleStreet (areaCode, setVal) {
      if (this.areaArr.length > 0) {
        let areaData = this.areaArr
        let areaItem = areaData.length > 0 && areaData.filter(item => item.areaCode === areaCode)
        this.areaName = areaItem[0].name
      }
      street(areaCode).then((res) => {
        this.streetArr = res.data.data
      })
      if (setVal) {
        this.form.streetId = ''
        this.form.committeeId = ''
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleCommittee (streetCode, setVal) {
      if (this.streetArr.length > 0) {
        let streetData = this.streetArr
        let streetItem = streetData.length > 0 && streetData.filter(item => item.streetCode === streetCode)
        this.streetName = streetItem[0].name
      }
      committee(streetCode).then((res) => {
        this.committeeArr = res.data.data
      })
      if (setVal) {
        this.form.committeeId = ''
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    committeeChang (committeeCode, setVal) {
      if (this.committeeArr.length > 0) {
        let committeeData = this.committeeArr
        let committeeItem = committeeData.length > 0 && committeeData.filter(item => item.committeeCode === committeeCode)
        this.committeeName = committeeItem[0].name
      }
      this.$emit('event', this.form)
    },

    handleBlur () {
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    handleProvince () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省',
          type: 'error'
        })
      }
    },

    handleProCity () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市',
          type: 'error'
        })
      }
    },

    handleProCitArea () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市、区',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市、区',
          type: 'error'
        })
      } else if (this.form.areaId === '') {
        this.$message({
          showClose: true,
          message: '请选择区',
          type: 'error'
        })
      }
    },

    handleProCitAreStreet () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市、区、街道',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市、区、街道',
          type: 'error'
        })
      } else if (this.form.areaId === '') {
        this.$message({
          showClose: true,
          message: '请选择区、街道',
          type: 'error'
        })
      } else if (this.form.streetId === '') {
        this.$message({
          showClose: true,
          message: '请选择街道',
          type: 'error'
        })
      }
    },

    handleVillage (val) {
      if (this.form.village === '') {
        this.$message({
          showClose: true,
          message: '请输入详细地址',
          type: 'error'
        })
      } else {
        this.$emit('eventVillage', val)
        this.$refs.form.validateField('village', (village) => {
          if (!village) return
          console.dir(village)
        })
        if (typeof this.handleRefresh === 'function') {
          this.handleRefresh()
        }
      }
    }
  },
  watch: {
    'addressArr': function (newVal) {
      if (Array.isArray(newVal) && (newVal.length > 0) && (this.siteArr !== newVal)) {
        if (newVal[0] || newVal[1] || newVal[2] || newVal[3]) {
          this.handleCity(newVal[0])
          this.handleArea(newVal[1])
          this.handleStreet(newVal[2])
          this.handleCommittee(newVal[3])
        }
        if (newVal[0] || newVal[1] || newVal[2] || newVal[3] || newVal[4]) {
          this.form.provinceId = newVal[0]
          this.form.cityId = newVal[1]
          this.form.areaId = newVal[2]
          this.form.streetId = newVal[3]
          this.form.committeeId = newVal[4]
        } else {
          this.form.cityId = '4403'
          this.form.areaId = '440305'
        }
        if (this.detailAddr) {
          this.form.village = this.detailAddr
        }
        this.siteArr = newVal
      }
    },
    deep: true
  }
}
</script>

<style lang="less" scoped>
  .address{
     width: 100%;
     display: flex;
     justify-content: space-between;
  @media screen and (max-width: 1680px) {
   .item-address{
    width:85%;
   }
   }
 }

.detailAddress{
    padding: 0 22px 0 0;
}

.address-map{
  /deep/.el-dialog__header{
     height: 40px;
  }
    /deep/.el-dialog__title{
      font-size: 20px;
      line-height: 40px;
    }
  /deep/.el-dialog__body{
    padding: 20px;
  }
  /deep/.el-icon-close:before{
    font-size: 24px;
    font-weight: bolder;
  }
}

</style>
