
<template>
  <div class="title-bar" :class="isBorder ? 'bar-leftBorder' : 'bar-border'">
    <i :class="icon" class="icon"></i>
    <el-breadcrumb separator-class="el-icon-arrow-right" class="bar">
      <el-breadcrumb-item v-for="(item, index) in breadList" :key="index">
        <a class="toa" v-if="item.url" @click="handleJump(item.url)">{{item.name}}</a>
        <a class="noa" href="javascript:;" v-else>
          {{item.name}}
        </a>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
import crumbs from './crumbs.js'
export default {
  name: 'Breadcrumb',
  props: ['icon', 'isBorder', 'crumbKey'],
  data () {
    return {
      breadList: []
    }
  },
  created () {
    if (this.crumbKey) {
      this.breadList = crumbs[this.crumbKey]
    } else if (this.$route) {
      let metaArr = this.$route.meta
      let matched = this.$route.matched.filter(item => item.meta)
      if (Array.isArray(metaArr) && metaArr.length > 0) {
        this.breadList = this.$route.meta
      } else {
        this.breadList = matched[0].meta
      }
      let srcKey = sessionStorage.getItem('breadcrumb')
      let barKey = {}
      if (srcKey) {
        barKey = JSON.parse(srcKey)
      }
      let { path, query = {} } = this.$route
      if (Object.keys(query).length !== 0 && path) {
        barKey[path] = query
      }
      sessionStorage.setItem('breadcrumb', JSON.stringify(barKey))
    }
  },
  methods: {
    handleJump (url) {
      let imgKey = sessionStorage.getItem('breadcrumb')
      let arrKey = imgKey && JSON.parse(imgKey)
      this.$router.push({ path: url, query: arrKey[url] })
    }
  },
  watch: {
    'crumbKey': function (newValue) {
      if (newValue) {
        this.breadList = crumbs[newValue]
      }
    }
  }
}

</script>

<style scoped>
.title-bar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  align-items: center;
  display: flex;
}
.bar-leftBorder {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.toa {
  color: #7891c1;
  font-weight: bolder;
}
.noa {
  color: #7891c1 !important;
}
.bar-border {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.icon {
  margin-left: 16px;
  color: #7891c1;
}
.bar {
  margin-left: 8px;
}
</style>
