<template>
<div class="file-list">
<el-form :model="uploadForm" :rules="rules" ref="uploadForm">
    <el-form-item label="自定义名称：" prop="customName" class="item-form">
        <el-input v-model.trim="uploadForm.customName"></el-input>
    </el-form-item>
<el-form-item label="上传附件：" prop="uploadList" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
<el-upload
  class="upload-demo"
  multiple
  action="/zbkc/fileUpload/upload"
  :before-upload="beforeUpload"
  :on-success="uploadOK"
  :show-file-list="false"
  :file-list="fileList"
  :disabled="isUp"
  >
  <el-button size="small" type="primary" :disabled='isUp'>点击上传</el-button>
  <span v-if="isShow" style="margin-left:12px; font-size:12px; color:#999;">未选择任何文件</span>
  <div slot="tip" class="el-upload__tip">只能上传doc、pdf、xls、docx、xlsx文件，且不超过30MB</div>
</el-upload>
<ul class="file-list">
  <li v-for="item in fileList" :key="item.url" class="singleFile">
    <span class="tipName">{{item.name | handleLength}}</span>
    <div>
    <span class="tipBtn" v-if="isOff"  @click="handleRemove(item)">删除</span>
    <span class="tipBtn" v-if="isLoad" @click="handleDownload(item)">下载</span>
    <span class="tipBtn" v-if="isSee"  @click="handlePreview(item)">预览</span>
    </div>
  </li>
</ul>
 </el-form-item>
 <el-form-item>
  <div class="btn-form">
      <el-button type="primary" @click="handleData" style="margin-right:20px;">确 定</el-button>
      <el-button @click="handleModel(false)">取 消</el-button>
  </div>
  </el-form-item>
 </el-form>
<Preview
v-if="dialogVisible"
ref="IframeFileSee"
:preViewType="fileType"
:preViewSrc="fileUrl"
:fname="fullName"
></Preview>
</div>
</template>

<script>
import { downloadFile } from '@/components/fileEcho.js'
import Preview from '@/components/preview'
export default {
  components: { Preview },
  props: [
    'fileFormat', // 文件检验各格式
    'fileSize', // 文件限制大小
    'filesList', // 文件列表
    'handleRefresh', // 资产登记tab icon切换校验
    'handleModel', // 隐藏显示弹窗
    'isDelete', // 是否显示删除
    'isDownload', // 是否显示下载
    'isPreview', // 是否显示预览
    'isUpload' // 是否禁止上传文件
  ],
  data () {
    return {
      isShow: true,
      isTips: true,
      fileList: [],
      postData: {},
      dialogVisible: false,
      fileType: '',
      fileUrl: '',
      fullName: '',
      isOff: true,
      isLoad: true,
      isSee: true,
      isUp: true,
      uploadForm: {
        customName: ''
      },
      rules: {
        customName: [
          { required: true, message: '请输入自定义名称', trigger: 'change' }
        ],
        uploadList: [
          { required: true, message: '请上传文件', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'isDelete': function (boolean) {
      this.isOff = !boolean
    },
    'isDownload': function (boolean) {
      this.isLoad = !boolean
    },
    'isPreview': function (boolean) {
      this.isSee = !boolean
    },
    'isUpload': function (boolean) {
      this.isUp = boolean
    }
  },
  created () {
    if ((this.isDelete === 0) || (this.isDelete === '') || (this.isDelete === false) || (this.isDelete === null) || (this.isDelete === undefined)) {
      this.isOff = true
    } else {
      this.isOff = false
    }

    if ((this.isDownload === 0) || (this.isDownload === '') || (this.isDownload === false) || (this.isDownload === null) || (this.isDownload === undefined)) {
      this.isLoad = true
    } else {
      this.isLoad = false
    }

    if ((this.isPreview === 0) || (this.isPreview === '') || (this.isPreview === false) || (this.isPreview === null) || (this.isPreview === undefined)) {
      this.isSee = true
    } else {
      this.isSee = false
    }
    this.isUp = this.isUpload ? true : this.isUpload
  },
  filters: {
    handleLength (valstr) {
      let value = ''
      if (valstr && valstr.length > 20) {
        value = valstr.substring(0, 20) + '...'
      } else {
        value = valstr
      }
      return value
    }
  },
  methods: {
    // 上传前校验文件
    beforeUpload (file) {
      this.isTips = true
      if (this.uploadForm.customName === '') {
        this.$refs.uploadForm.validateField('customName')
        return false
      }
      // 判断上传格式
      let wpsSuffix = file.name.substring(file.name.lastIndexOf('.') + 1)
      // const isJPG = this.fileFormat || ['doc', 'txt', 'pdf', 'xls', 'docx', 'xlsx', 'zip', 'rar']
      const isJPG = this.fileFormat
      const isLt2M = (file.size / 1024 / 1024) < (Number(this.fileSize) || 30)
      if (isJPG && (isJPG.indexOf(wpsSuffix) === -1)) {
        this.$message.error(`上传文件只能是 ${(isJPG && Array.isArray(isJPG) && isJPG.length > 0) ? isJPG.join('、') : ''}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      return isJPG && isLt2M
    },

    // 上传文件
    uploadOK (response, file, fileList) {
      // 文件去重
      let obj = {}
      let peon = fileList.reduce((cur, next) => {
        if (obj[next.name] && this.isTips) {
          this.isTips = false
          this.$message({
            type: 'warning',
            message: '上传文件重复'
          })
        }
        obj[next.name] ? '' : obj[next.name] = true && cur.push(next)
        return cur
      }, [])
      this.fileList = peon
      let dataItem = {}
      dataItem.attachmentName = this.uploadForm.customName
      dataItem.uid = fileList[0].uid
      dataItem.customData = fileList
      this.postData = dataItem
      this.isShow = false
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    // 删除文件
    handleRemove (file) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '温馨提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let delFileList = this.fileList.filter(item => item.uid !== file.uid)
        this.fileList = delFileList
        let oldItemData = this.postData
        let newItemData = {}
        let newArr = Array.isArray(oldItemData.customData) && oldItemData.customData.length > 0 && oldItemData.customData.filter(item => item.uid !== file.uid)
        newItemData.attachmentName = oldItemData.attachmentName
        newItemData.customData = newArr
        newItemData.uid = oldItemData.uid
        this.postData = newItemData
        this.$message({
          type: 'success',
          message: '删除成功!'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },

    // 下载文件
    handleDownload (file) {
      const root = require('../../config/index.js')
      const base = root.dev.proxyTable['/zbkc']
      const basic = base.target
      const baseUrl = basic.substr(0, basic.length - 1)
      const baseApi = base.pathRewrite['^/zbkc']
      if (file.response) {
        if (file.response.data) {
          if (file.response.data.fileName && file.response.data.fileUrl) {
            downloadFile(file.response.data.fileUrl, file.response.data.fileName)
          }
        }
      } else if (file.url && (file.url.indexOf('http://') !== -1)) {
        downloadFile(file.url, file.name)
      } else {
        let furl = `${baseUrl}${baseApi}/${file.url}`
        downloadFile(furl, file.name)
      }
    },

    // 预览文件
    handlePreview (file) {
      this.dialogVisible = false
      const root = require('../../config/index.js')
      const base = root.dev.proxyTable['/zbkc']
      const basic = base.target
      const baseUrl = basic.substr(0, basic.length - 1)
      const baseApi = base.pathRewrite['^/zbkc']
      if (file.response) {
        if (file.response.data) {
          if (file.response.data.fileUrl && file.response.data.fileName) {
            let path = file.response.data.fileUrl
            let fsrc = path && path.slice(path.indexOf('/zbkc'))
            let pathUrl = path && path.split('.')
            let fileSuffix = pathUrl[pathUrl.length - 1]
            let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
            if (suffixArr.includes(fileSuffix)) {
              this.dialogVisible = true
              this.fileType = fileSuffix
              this.fileUrl = fsrc
              this.fullName = file.response.data.fileName
            } else {
              this.$message({
                type: 'warning',
                message: '该附件不支持预览，请下载查看!'
              })
            }
          }
        }
      } else if (file.url && (file.url.indexOf('http://') !== -1)) {
        let fsrc = file.url && file.url.slice(file.url.indexOf('/zbkc'))
        let pathUrl = file.url && file.url.split('.')
        let fileSuffix = pathUrl[pathUrl.length - 1]
        let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
        if (suffixArr.includes(fileSuffix)) {
          this.dialogVisible = true
          this.fileType = fileSuffix
          this.fileUrl = fsrc
          this.fullName = file.name
        } else {
          this.$message({
            type: 'warning',
            message: '该附件不支持预览，请下载查看!'
          })
        }
      } else {
        let furl = `${baseUrl}${baseApi}/${file.url}`
        let path = furl
        let fsrc = path && path.slice(path.indexOf('/zbkc'))
        let pathUrl = file.url && file.url.split('.')
        let fileSuffix = pathUrl[pathUrl.length - 1]
        let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
        if (suffixArr.includes(fileSuffix)) {
          this.dialogVisible = true
          this.fileType = fileSuffix
          this.fileUrl = fsrc
          this.fullName = file.name
        } else {
          this.$message({
            type: 'warning',
            message: '该附件不支持预览，请下载查看!'
          })
        }
      }
      this.$nextTick(() => {
        this.$refs.IframeFileSee.show()
      })
    },

    // 点击确认传值
    handleData () {
      if (!this.uploadForm.customName) {
        this.$message({
          showClose: true,
          message: '请输入文件名',
          type: 'error'
        })
        this.handleModel(true)
      } else if (this.fileList.length === 0) {
        this.$message({
          showClose: true,
          message: '请上传附件',
          type: 'error'
        })
        this.handleModel(true)
      } else if ((this.postData.customData.length > 0) && this.uploadForm.customName) {
        this.$emit('event', this.postData)
        this.handleModel(false)
      }
    }
  }

}
</script>
<style lang="less" scoped>
  .file-list{
     width: 100%;
    .el-upload__tip{
        line-height: 14px;
    }
    /deep/.el-icon-close::before{
        color: red;
    }
    .item-form{
     width: 100%;
     display: flex;
     /deep/.el-form-item__label{
        padding: 0;
        width: 96px;
        text-align: right;
     }
     /deep/.el-input__inner{
       width: 430px;
     }
    }
    .btn-form{
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
    }
    .file-list{
      padding: 10px 0;
      width: 100%;
    }
    .singleFile{
    display: flex;
    justify-content: space-between;
    .tipName{
      display: inline-block;
      margin-right: 30px;
    }
    .tipBtn{
      display: inline-block;
      color: #0075ff;
      cursor: pointer;
    }
    .tipBtn:nth-of-type(2){
      margin:0 8px;
    }
    }
    /deep/.el-dialog__body{
      padding: 40px 20px !important;
    }
  }
</style>
