<template>
<div class="file-list">
<el-upload
  class="upload-demo"
  multiple
  action="/zbkc/fileUpload/upload"
  :before-upload="beforeUpload"
  :on-success="uploadOK"
  :show-file-list="false"
  :file-list="fileList"
  :disabled="isUp"
  >
  <el-button size="small" type="primary" :disabled='isUp'>点击上传</el-button>
  <span v-if="isShow" style="margin-left:12px; font-size:12px; color:#999;">未选择任何文件</span>
  <div slot="tip" class="el-upload__tip">只能上传doc、pdf、xls、docx、xlsx文件，且不超过30MB</div>
</el-upload>
<ul style="padding: 10px 0;">
  <li v-for="item in fileList" :key="item.url" class="singleFile">
    <span class="tipName">{{item.name | handleLength}}</span>
    <div>
    <span class="tipBtn" v-if="isOff" @click="handleRemove(item)">删除</span>
    <span class="tipBtn" v-if="isLoad" @click="handleDownload(item)">下载</span>
    <span class="tipBtn" v-if="isSee" @click="handlePreview(item)">预览</span>
    </div>
  </li>
</ul>
<Preview
v-if="dialogVisible"
ref="IframeFileSee"
:preViewType="fileType"
:preViewSrc="fileUrl"
:fname="fullName"
></Preview>
</div>
</template>

<script>
import { downloadFile } from '@/components/fileEcho.js'
import Preview from '@/components/preview'
export default {
  components: { Preview },
  props: [
    'fileFormat', // 文件检验各格式
    'fileSize', // 文件限制大小
    'filesList', // 文件列表
    'handleRefresh', // 资产登记tab icon切换校验
    'isDelete', // 是否显示删除
    'isDownload', // 是否显示下载
    'isPreview', // 是否显示预览
    'isUpload' // 是否禁止上传文件
  ],

  data () {
    return {
      fileList: [],
      isShow: true,
      itemData: {},
      isTips: true,
      dialogVisible: false,
      fileType: '',
      fileUrl: '',
      fullName: '',
      isOff: true,
      isLoad: true,
      isSee: true,
      isUp: true
    }
  },
  watch: {
    'isDelete': function (boolean) {
      this.isOff = !boolean
    },
    'isDownload': function (boolean) {
      this.isLoad = !boolean
    },
    'isPreview': function (boolean) {
      this.isSee = !boolean
    },
    'isUpload': function (boolean) {
      this.isUp = boolean
    }
  },
  created () {
    if ((this.isDelete === 0) || (this.isDelete === '') || (this.isDelete === false) || (this.isDelete === null) || (this.isDelete === undefined)) {
      this.isOff = true
    } else {
      this.isOff = false
    }

    if ((this.isDownload === 0) || (this.isDownload === '') || (this.isDownload === false) || (this.isDownload === null) || (this.isDownload === undefined)) {
      this.isLoad = true
    } else {
      this.isLoad = false
    }

    if ((this.isPreview === 0) || (this.isPreview === '') || (this.isPreview === false) || (this.isPreview === null) || (this.isPreview === undefined)) {
      this.isSee = true
    } else {
      this.isSee = false
    }
    this.isUp = this.isUpload ? true : this.isUpload
    let fileArr = []
    this.itemData = this.filesList
    let imgListArr = this.filesList
    imgListArr.customData && Array.isArray(imgListArr.customData) && imgListArr.customData.length > 0 && imgListArr.customData.forEach((item) => {
      let obj = {}
      if (item.response && typeof item.response === 'object') {
        if (item.response.data && typeof item.response.data === 'object') {
          obj.name = item.response.data.fileName
          obj.url = item.response.data.fileUrl
          obj.fileSize = item.response.data.fileSize
          obj.pathUrl = item.response.data.filePath
        }
      } else {
        obj.name = item.fileName
        obj.url = item.path
        obj.fileSize = item.fileSize
        obj.pathUrl = item.path ? (item.path).split('/api/v1/zbkc/')[1] : ''
      }
      fileArr.push(obj)
    })
    this.fileList = fileArr
    this.isShow = false
  },

  filters: {
    handleLength (valstr) {
      let value = ''
      if (valstr && valstr.length > 20) {
        value = valstr.substring(0, 20) + '...'
      } else {
        value = valstr
      }
      return value
    }
  },

  methods: {
    beforeUpload (file) {
      this.isTips = true
      // 判断上传格式
      let wpsSuffix = file.name.substring(file.name.lastIndexOf('.') + 1)
      // const isJPG = this.fileFormat || ['doc', 'txt', 'pdf', 'xls', 'docx', 'xlsx', 'zip', 'rar']
      const isJPG = this.fileFormat
      const isLt2M = (file.size / 1024 / 1024) < (Number(this.fileSize) || 30)
      if (isJPG && (isJPG.indexOf(wpsSuffix) === -1)) {
        this.$message.error(`上传文件只能是 ${(isJPG && Array.isArray(isJPG) && isJPG.length > 0) ? isJPG.join('、') : ''}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      return isJPG && isLt2M
    },

    // 上传文件
    uploadOK (response, file, fileList) {
      // 文件去重
      let obj = {}
      let peon = fileList.reduce((cur, next) => {
        if (obj[next.name] && this.isTips) {
          this.isTips = false
          this.$message({
            type: 'warning',
            message: '上传文件重复'
          })
        }
        obj[next.name] ? '' : obj[next.name] = true && cur.push(next)
        return cur
      }, [])
      let newData = []
      Array.isArray(peon) && peon.length > 0 && peon.forEach((item) => {
        if (item.response && typeof item.response === 'object') {
          if (item.response.data && typeof item.response.data === 'object') {
            let itemObj = {}
            itemObj.name = item.response.data.fileName
            itemObj.url = item.response.data.fileUrl
            itemObj.fileSize = item.response.data.fileSize
            itemObj.pathUrl = item.response.data.filePath
            newData.push(itemObj)
          }
        } else {
          newData.push(item)
        }
      })

      this.fileList = peon
      let dataItem = this.itemData
      dataItem.customData = newData
      this.$emit('event', dataItem)

      this.isShow = false
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    // 删除文件
    handleRemove (file) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '温馨提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let oldItemData = this.itemData
        let newData = []
        let newItemData = {}
        let newArr = []
        Array.isArray(oldItemData.customData) && oldItemData.customData.length > 0 && oldItemData.customData.forEach((item) => {
          if (item.response && file.url) { // 本地添加时上传文件
            if (item.response.data) {
              if (item.response.data.fileUrl !== file.url) {
                newData.push(item)
                newArr.push(item)
              }
            }
          } else if (item.response && file.response) {
            if (item.response.data && file.response.data) {
              if (item.response.data.fileUrl && file.response.data.fileUrl) {
                if (item.response.data.fileUrl !== file.response.data.fileUrl) {
                  newData.push(item)
                  newArr.push(item)
                }
              }
            }
          } else {
            if (item.path && file.url) {
            // 后台返回文件
              if (item.path !== file.url) {
                let itemObj = {}
                itemObj.name = item.fileName
                itemObj.url = item.path
                itemObj.fileSize = item.fileSize
                itemObj.pathUrl = item.path ? (item.path).split('/api/v1/zbkc/')[1] : ''
                newData.push(itemObj)
                newArr.push(item)
              }
            } else {
              if (item.url && file.url) {
                if (item.url !== file.url) {
                  newData.push(item)
                  newArr.push(item)
                }
              } else if (item.url && file.response) {
                if (file.response.data) {
                  if (file.response.data.fileUrl) {
                    if (item.url !== file.response.data.fileUrl) {
                      newData.push(item)
                      newArr.push(item)
                    }
                  }
                }
              }
            }
          }
        })
        newItemData.attachmentName = oldItemData.attachmentName
        newItemData.customData = newArr
        newItemData.uid = oldItemData.uid
        this.fileList = newData
        this.$emit('event', newItemData)
        this.$message({
          type: 'success',
          message: '删除成功!'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },

    // 下载文件
    handleDownload (file) {
      const root = require('../../config/index.js')
      const base = root.dev.proxyTable['/zbkc']
      const basic = base.target
      const baseUrl = basic.substr(0, basic.length - 1)
      const baseApi = base.pathRewrite['^/zbkc']
      if (file.response) {
        if (file.response.data) {
          if (file.response.data.fileName && file.response.data.fileUrl) {
            downloadFile(file.response.data.fileUrl, file.response.data.fileName)
          }
        }
      } else if (file.url && (file.url.indexOf('http://') !== -1)) {
        downloadFile(file.url, file.name)
      } else {
        let furl = `${baseUrl}${baseApi}/${file.url}`
        downloadFile(furl, file.name)
      }
    },
    // 预览文件
    handlePreview (file) {
      this.dialogVisible = false
      const root = require('../../config/index.js')
      const base = root.dev.proxyTable['/zbkc']
      const basic = base.target
      const baseUrl = basic.substr(0, basic.length - 1)
      const baseApi = base.pathRewrite['^/zbkc']
      this.dialogVisible = true
      if (file.response) {
        if (file.response.data) {
          if (file.response.data.fileUrl && file.response.data.fileUrl) {
            let path = file.response.data.fileUrl
            let fsrc = path && path.slice(path.indexOf('/zbkc'))
            let pathUrl = path && path.split('.')
            let fileSuffix = pathUrl[pathUrl.length - 1]
            let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
            if (suffixArr.includes(fileSuffix)) {
              this.dialogVisible = true
              this.fileType = fileSuffix
              this.fileUrl = fsrc
              this.fullName = file.response.data.fileName
            } else {
              this.$message({
                type: 'warning',
                message: '该附件不支持预览，请下载查看!'
              })
            }
          }
        }
      } else if (file.url && (file.url.indexOf('http://') !== -1)) {
        let fsrc = file.url && file.url.slice(file.url.indexOf('/zbkc'))
        let pathUrl = file.url && file.url.split('.')
        let fileSuffix = pathUrl[pathUrl.length - 1]
        let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
        if (suffixArr.includes(fileSuffix)) {
          this.dialogVisible = true
          this.fileType = fileSuffix
          this.fileUrl = fsrc
          this.fullName = file.name
        } else {
          this.$message({
            type: 'warning',
            message: '该附件不支持预览，请下载查看!'
          })
        }
      } else {
        let furl = `${baseUrl}${baseApi}/${file.url}`
        let path = furl
        let fsrc = path && path.slice(path.indexOf('/zbkc'))
        let pathUrl = file.url && file.url.split('.')
        let fileSuffix = pathUrl[pathUrl.length - 1]
        let suffixArr = ['pdf', 'docx', 'xlsx', 'xls']
        if (suffixArr.includes(fileSuffix)) {
          this.dialogVisible = true
          this.fileType = fileSuffix
          this.fileUrl = fsrc
          this.fullName = file.name
        } else {
          this.$message({
            type: 'warning',
            message: '该附件不支持预览，请下载查看!'
          })
        }
      }
      this.$nextTick(() => {
        this.$refs.IframeFileSee.show()
      })
    }
  }
}
</script>
<style lang="less" scoped>
  .file-list{
    width: 100%;
    .el-upload__tip{
        line-height: 14px;
    }
    /deep/.el-icon-close::before{
        color: red;
    }
    .singleFile{
    display: flex;
    justify-content: space-between;
    .tipName{
      display: inline-block;
      margin-right: 30px;
    }
    .tipBtn{
      display: inline-block;
      color: #0075ff;
      cursor: pointer;
    }
    .tipBtn:nth-of-type(2){
      margin:0 14px;
    }
    }
    /deep/.el-dialog__body{
      padding: 32px 20px !important;
    }
  }
</style>
