<template>
  <div class="file-list">
    <el-upload class="upload-demo" :multiple="handleMultiple" :action="doupload()" :before-upload="beforeUpload" :on-success="uploadOK" :before-remove="beforeRemove" :on-remove="handleRemove" :file-list="fileList" :disabled="handleDisabled" :limit="limit" :on-exceed="handleExceed">
      <el-button size="small" type="primary">{{buttonName}}</el-button>
      <span v-if="isShow" style="margin-left:12px; font-size:12px; color:#999;">未选择任何文件</span>
      <!-- <div slot="tip" class="el-upload__tip">只能上传'doc'、 'cad'、 'txt'、 'pdf'、 'xls'、 'docx'、 'xlsx'、 'zip'、 'rar'、 'jpg'、 'jpeg'、 'png'、 'gif'文件，且不超过30MB</div> -->
    </el-upload>
  </div>
</template>

<script>
import { fileUpload, deleteContractFile } from '@/until/api.js'

export default {
  props: [
    'fileFormat', // 文件检验各格式
    'fileSize', // 文件限制大小
    'isMultiple', // 文件是否支持批量上传
    'filesList', // 文件列表
    'isDisabled', // 是否禁选
    'handleRefresh', // 资产登记tab icon切换校验
    'limitFileArr', // 上传文件的限制
    'businessId', // 上传文件需要的id
    'buttonName'// 按钮名称
  ],
  data () {
    return {
      fileId: '',
      handleMultiple: !!this.isMultiple || false,
      handleDisabled: !!this.isDisabled || false,
      fileList: [],
      isShow: true,
      limit: this.limitFileArr || 50
    }
  },
  watch: {
    'filesList': function (newVal, oldVal) {
      newVal && Array.isArray(newVal) && newVal.length > 0 && newVal.forEach((item) => {
        let obj = {}
        obj.name = item.fileName
        obj.url = item.path
        obj.id = item.id
        this.fileList.push(obj)
      })
      this.isShow = false
    },
    fileList: function (newVal, oldVal) {
      this.$emit('buttonVisible', newVal.length)
    }
  },
  created () {
    this.filesList && Array.isArray(this.filesList) && this.filesList.length > 0 && this.filesList.forEach((item) => {
      let obj = {}
      obj.name = item.fileName
      obj.url = item.path
      obj.id = item.id
      this.fileList.push(obj)
    })
    this.isShow = false
  },
  methods: {
    doupload () {
      return '/zbkc/fileUpload/upload'
    },
    beforeUpload (file) {
      //  表单提交方式
      let FormDatas = new FormData()
      FormDatas.append('file', file)
      FormDatas.append('ywHandlerDetailsId', this.businessId) // 其他参数
      // 判断上传格式
      let nameKey = file.name
      let wpsSuffix = nameKey && nameKey.split('.')[1]
      const isJPG = this.fileFormat || ['doc', 'cad', 'txt', 'pdf', 'xls', 'docx', 'xlsx', 'zip', 'rar', 'jpg', 'jpeg', 'png', 'gif']
      const isLt2M = (file.size / 1024 / 1024) < (this.fileSize || 30)
      if (isJPG.indexOf(wpsSuffix) === -1) {
        this.$message.error(`上传文件只能是 ${isJPG.join('、')}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      fileUpload(FormDatas).then(res => {
        this.fileId = res.data.data.id
        this.$emit('getID', res.data.data)
      })
      return isJPG && isLt2M
    },

    uploadOK (response, file, fileList) {
      this.fileList = fileList
      this.$emit('event', fileList)
      this.isShow = false
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    handleRemove (file) {
      let delFileList = this.fileList.filter(item => item.uid !== file.uid)
      this.fileList = delFileList
      this.$emit('event', delFileList)
    },
    beforeRemove (file, fileList) {
      if (this.fileList.length > 0) {
        return this.$confirm('此操作将删除当前合同附件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          deleteContractFile(this.fileId).then(res => {
            this.fileList = []
            if (res.data.code === 0) {
              this.$message({
                message: '删除成功',
                type: 'success'
              })
            }
          })
        })
      }
    },
    handleExceed (files, fileList) {
      if (this.limitFileArr) {
        this.$message.warning(`当前限制选择 ${this.limit} 个文件,请删除后重新上传`)
      }
    }
  }
}
</script>
<style lang="less" scoped>
.file-list {
  .el-upload__tip {
    line-height: 14px;
  }
}
/deep/ .el-icon-close:before {
  color: #d86e17 !important;
  content: "\e6d7" !important;
}
/deep/.el-upload-list__item.is-success.focusing .el-icon-close-tip {
  display: none !important;
}
</style>
