<template>
<div class="file-list">
<el-upload
  class="upload-demo"
  :multiple="handleMultiple"
  action="/zbkc/fileUpload/upload"
  :before-upload="beforeUpload"
  :on-success="uploadOK"
  :on-remove="handleRemove"
  :on-preview="handlePreview"
  :file-list="fileList"
  :disabled="handleDisabled"
  >
  <el-button size="small" type="primary">点击上传</el-button>
  <span v-if="isShow" style="margin-left:12px; font-size:12px; color:#999;">未选择任何文件</span>
  <div slot="tip" class="el-upload__tip">只能上传doc、pdf、xls、docx、xlsx文件，且不超过30MB</div>
</el-upload>
</div>
</template>

<script>
export default {
  props: [
    'fileFormat', // 文件检验各格式
    'fileSize', // 文件限制大小
    'isMultiple', // 文件是否支持批量上传
    'filesList', // 文件列表
    'isDisabled', // 是否禁选
    'handleRefresh' // 资产登记tab icon切换校验
  ],

  data () {
    return {
      handleMultiple: !!this.isMultiple || false,
      handleDisabled: !!this.isDisabled || false,
      fileList: [],
      isShow: true
    }
  },
  watch: {
    'filesList': function (newVal) {
      let fileArr = []
      newVal && Array.isArray(newVal) && newVal.length > 0 && newVal.forEach((item) => {
        let obj = {}
        obj.name = item.fileName
        obj.url = item.path
        obj.size = item.fileSize
        fileArr.push(obj)
      })
      this.fileList = fileArr
      this.isShow = false
    }
  },
  created () {
    let fileArr = []
    let imgListArr = this.filesList
    imgListArr && Array.isArray(imgListArr) && imgListArr.length > 0 && imgListArr.forEach((item) => {
      let obj = {}
      obj.name = item.fileName
      obj.url = item.path
      fileArr.push(obj)
    })
    this.fileList = fileArr
    this.isShow = false
  },
  methods: {
    beforeUpload (file) {
      // 判断上传格式
      let nameKey = file.name
      let wpsSuffix = nameKey && nameKey.substr(nameKey.lastIndexOf('.') + 1)
      const isJPG = this.fileFormat || ['doc', 'txt', 'pdf', 'xls', 'docx', 'xlsx']
      const isLt2M = file.size / 1024 / 1024 < this.fileSize || 30
      if (isJPG.indexOf(wpsSuffix) === -1) {
        this.$message.error(`上传文件只能是 ${isJPG.join('、')}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      return isJPG && isLt2M
    },

    uploadOK (response, file, fileList) {
      if (response.code === 0) {
        this.fileList = fileList
        this.$emit('event', fileList)
        this.isShow = false
        if (typeof this.handleRefresh === 'function') {
          this.handleRefresh()
        }
      } else {
        fileList.pop()
        this.fileList = fileList
        this.$message.error(response.errMsg || '上传文件失败')
      }
    },

    handleRemove (file) {
      let delFileList = this.fileList.filter(item => item.uid !== file.uid)
      this.fileList = delFileList
      this.$emit('event', delFileList)
    },
    // 下载
    handlePreview (file) {
      const root = require('../../config/index.js')
      const base = root.dev.proxyTable['/zbkc']
      const basic = base.target
      const baseUrl = basic.substr(0, basic.length - 1)
      const baseApi = base.pathRewrite['^/zbkc']
      if (file.response) {
        let a = document.createElement('a')
        let event = new MouseEvent('click')
        a.download = file.response.data.fileName
        a.href = file.response.data.fileUrl
        a.target = '_blank'
        a.dispatchEvent(event)
      } else if (file.url && (file.url.indexOf('http://') !== -1)) {
        let a = document.createElement('a')
        let event = new MouseEvent('click')
        a.download = file.name
        a.href = file.url
        a.target = '_blank'
        a.dispatchEvent(event)
      } else {
        let a = document.createElement('a')
        let event = new MouseEvent('click')
        a.download = file.name
        a.href = `${baseUrl}${baseApi}/${file.url}`
        a.target = '_blank'
        a.dispatchEvent(event)
      }
    }

  }
}
</script>
<style lang="less" scoped>
  .file-list{
    .el-upload__tip{
        line-height: 14px;
    }
  }
  /deep/ .el-icon-close:before {
    color: #d86e17 !important;
    content: "\e6d7" !important;
  }
  /deep/.el-upload-list__item.is-success.focusing .el-icon-close-tip {
    display: none !important;
  }
</style>
