<template>
  <el-dialog :close-on-click-modal="false" title="查看详情" :width="'1200px'" :visible.sync="dialogFormVisible">
    <div class="user_body_right">
          <div class="right_header">
            <!-- 层 -->
            <h2>{{this.title_name}}</h2>
          </div>
          <div class="div_table">
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name"  id="1">基础信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
               <tr>
                <th>物业权属</th>
                <th>{{propertyTagName}}</th>
                <th>权属所有人</th>
                <th>{{pagelist.belongPerson}}</th>
              </tr>
              <tr>
                <th>关联物业</th>
                <th>{{relationName}}</th>
                <th>关联物业规模</th>
                <th>{{relationScale}}</th>
              </tr>
              <tr>
                <th>楼层名称</th>
                <th>{{pagelist.unitName}}</th>
                <th>物业名称</th>
                <th>{{pagelist.name}}</th>
              </tr>
              <tr>
                <th>别名/曾用名</th>
                <th>{{pagelist.aliasName}}</th>
                <th>物业规模</th>
                <th>{{propertyScale}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th>{{pagelist.propertyCode}}</th>
                <th>楼层编码</th>
                <th>{{pagelist.houseCode}}</th>
              </tr>
              <!-- <tr class="realtr" valign="top">
                <th>物业简介</th>
                <th colspan="3">{{pagelist.propertyIntroduction}}</th>
              </tr> -->
              <tr v-if="isLabel">
                <th>物业标签</th>
                <th colspan="3">{{wy_tag}}</th>
              </tr>
               <tr>
                <th>建筑面积</th>
                <th align="left" colspan="3">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
              </tr>
              <tr>
                <th>实用面积</th>
                <th align="left">{{pagelist.practicalArea ? `${pagelist.practicalArea}㎡` : ""}}</th>
                <th>公摊面积</th>
                <th align="left">{{pagelist.shareArea  ? `${pagelist.shareArea}㎡` : ""}}</th>
              </tr>
              <tr>
                <th>层高</th>
                <th align="left">{{pagelist.storeyHeight ? `${pagelist.storeyHeight}m` : ""}}</th>
                <th>承重</th>
                <th align="left">{{pagelist.loadBearer ? `${pagelist.loadBearer}kg` : ""}}</th>
              </tr>
               <tr>
                <th>朝向</th>
                <th align="left">{{towardsName}}</th>
                <th>内三维</th>
                <th align="left">{{threeDimen}}</th>
              </tr>
                <tr>
                <th>物业种类</th>
                <th colspan="3">{{this.propertyType_name}}</th>
              </tr>
              <tr>
                <th>物业地址</th>
                <th colspan="3">{{pagelist.detailAddr}}</th>
              </tr>
              <tr v-if="isLabel">
                <th>物业规划用途</th>
                <th colspan="3">{{pagelist.propertyPlan}}</th>
              </tr>
               <tr height="141px" valign="center" class="trimg">
                <th>户型图</th>
                <th colspan="3" align="left">
                  <viewer :images="houseImglist">
                    <span v-for="(item,index) in houseImglist" :key="index">
                      <img class="imgs" :src="[item.path]">
                    </span>
                  </viewer>
                </th>
              </tr>
            </table>
             </div>
        </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="cancel">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { details } from '@/until/api.js'
import { formatDate1 } from '@/until/common'

export default {
  filters: {
    formatDate1
  },
  data () {
    return {
      id: '',
      dialogFormVisible: false,
      pagelist: [],
      title_name: '',
      radio: '基本信息',
      pname: '',
      relationName: '',
      relationScale: '',
      wy_tag: '',
      propertyScale: '', // 物业规模
      propertyStatus_name: '', // 物业状态
      propertySource_name: '', // 物业来源
      propertyTag_name: '', // 物业权属
      propertyType_name: '', // 物业种类
      floorList: [], // 层高承重
      towardsName: '',
      threeDimen: '',
      houseImglist: [], // 图片
      wyFacilitiesInfoList: [], // 附属设施信息
      propertyTagName: '',
      isLabel: false
    }
  },
  // watch: {
  //   'id': function (newVal) {
  //     this.getDetails(newVal)
  //   }
  // },
  methods: {
    show () {
      this.dialogFormVisible = true
      this.getDetails(this.id)
    },
    getDetails (params) {
      details(this.id).then(res => {
        let { info,
          propertyTag,
          propertySource,
          propertyType,
          propertyStatus,
          propertyScale,
          relationName,
          relationScale,
          wyTag,
          floorList,
          houseImg,
          wyFacilitiesInfoList
        } = res.data.data
        let towardsArr = {'1': '东', '2': '南', '3': '西', '4': '北', '5': '东北', '6': '西北', '7': '东南', '8': '西南'}
        this.towardsName = towardsArr[String(info.towards)]
        this.threeDimen = info.threeDimen
        this.relationName = relationName
        this.relationScale = relationScale
        this.wy_tag = this.handleFilterData(wyTag)
        this.pagelist = info
        this.title_name = info.name
        this.floorList = floorList
        this.houseImglist = houseImg
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].id && (String(propertyTag[0].id) === '10'))
        this.propertyTagName = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyScale = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.wyFacilitiesInfoList = wyFacilitiesInfoList
        this.propertyTag_name = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    changColor (val) {
      this.radio = String(val)
      document.getElementById(val).scrollIntoView()
    },
    cancel () {
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
