.button :link{
  font-size: 25px;
  }
  /* .trimg img{
    height: 91px;
    width:121px;
    margin:15px 0 0 15px ;
  }
  .trimg img:nth-of-type(1){
    margin-left: 0px;
  } */
  .tablekg {
    width: 100%;
  }
  .tablekg tr:nth-of-type(1) th {
    background: #e8eff2;
    border-radius: 3px;
    height: 42px;
      font-weight: 600;
  }
  .tablekg tr th {
    border-bottom: 1px solid #e8eff2;
     height: 42px;
  }
  .tablekg tr th {
    font-weight: 400;
  }
  .realtr {
    height: 189px;
  }
  .imgs{
    width:120px;
    height: 120px;
    object-fit: cover;
    object-position: 50% 50%;
    border:1px solid #ddd;
    border-radius: 6px;
    margin-right: 12px;
    line-height: 140px;
    margin-top: 2px;
  }
  .realtr th {
    padding-top: 18px;
  }
  .el-input__inner {
    width: 300%;
    margin: 2px;
  }
  .right_header {
    display: flex;
    align-items:center;
    justify-content:space-between;
    height: 58px;
    line-height: 58px;
    padding:0 20px ;
    border-bottom: 1px solid #DDDDDD;
  }
  .right_headertwo  > .el-radio-button__inner {
     width: 115px;
  height: 34px;
      padding: 10px 20px;
    }
  .right_headertwo {
    line-height: 58px;
     padding:0 10px ;
    height: 58px;
  }
  .user_body_right {
    height: 98%;
    width: 100%;
  }
  .div_table {
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
    height: calc(90% - 10px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #dddddd;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  .aa {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .user_body {
    width: 100%;
    height: 100%;
  }
  .user_mian {
    background: #fff;
    width:cale(100%-15px);
    height: 100%;
    /* margin:0 0 0 15px; */
     box-shadow: 0px 1px 0px 0px #DDDDDD;
  border-radius: 6px 6px 0px 0px;
  }
  .table,
  .infotable,
  .accessory {
    width: 100%;
    border: 1px solid #dddddd;
    font-family: Microsoft YaHei;
    font-size: 14px;
    background: #ffffff;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  .table tr th,
  .infotable tr th,
  .accessory tr th {
    border: 1px solid #dddddd;
    font-weight: 400;
  }
  .accessory tr th:nth-of-type(1) {
    background: #f9f9f9;
    padding-right: 20px;
    text-align: right;
    width: 15%;
  }
  .accessory tr th:nth-of-type(2) {
    text-align: left;
    padding-left: 25px;
    width: 85%;
  }
  .table tr th:nth-of-type(1),
  .table tr th:nth-of-type(3),
  .infotable tr th:nth-of-type(1),
  .infotable tr th:nth-of-type(3) {
    background: #f9f9f9;
    padding-right: 20px;
    text-align: right;
    width: 15%;
  }
  .table tr th,
  .infotable tr th,
  .accessory tr th {
    height: 48px;
  }
  .table tr th:nth-of-type(2),
  .table tr th:nth-of-type(4),
  .infotable tr th:nth-of-type(2),
  .infotable tr th:nth-of-type(4) {
    text-align: left;
    padding-left: 25px;
    width: 35%;
  }
  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background: #fff;
    border-radius: 4px;
  }
  
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddddd;
  }
  .title {
    width: 100%;
    height: 90px;
  }
  .title_header{
    width: 100%;
    height: 42px;
  }
  .vertical-line {
    display: inline-block;
    width: 6px;
    height: 18px;
    background-color: #1286ff;
    margin-right: 6px;
    position: relative;
    top: 3px;
  }
  .name{
     line-height: 40px;
    font-size: 18px;
    font-weight: bold;
  }
  .title-name {
    line-height: 90px;
    font-size: 18px;
    font-weight: bold;
  }