<template>
    <div class="main-right">
               <el-form :model="form" :rules="rules" ref="form"  label-width="126px">
                <div class="title-name">
                    <h3>新增零散规模物业</h3>
                    <el-form-item style="margin-top:10px">
                    <el-button type="primary" style="width:86px;height:38px;font-size: 16px;" @click="submitForm('form')" >保存</el-button>
                    <el-button style="width:86px;height:38px;font-size: 16px;margin-left:14px;" @click="handleCancel">取消</el-button>
                    </el-form-item>
                </div>
                <div class="btn">
        <div class="btn-content">
          <div style="margin-top:3px">
            <el-radio-group v-model="radio">
              <el-radio-button label="基础信息" @change.native="changColor(1)">
                <i :class="{ 'el-icon-warning': hasError,'el-icon-success':isActive }" :style="{color:(isBaseIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;基础信息
              </el-radio-button>

               <el-radio-button label="运营信息" @change.native="changColor(2)">
                <i :class="{ 'el-icon-warning': isOperateError,'el-icon-success':isOperateActive }" :style="{color:(isOperateIcon ? '#5CB85C' : '#F0AD4E')}"></i>
                &nbsp;运营信息
              </el-radio-button>
            </el-radio-group>
          </div>
        </div>
      </div>

<!-- 基础信息 -->
<div class="main-content">
<div class="center-content">
<div class="add-content">
  <div id="1">
       <div class="base-content" style="margin-top:24px;">
                <el-form-item label="物业权属：" prop="propertyTagId" style="margin-bottom:0;width:100%;">
                     <el-radio-group v-model="form.propertyTagId" @change="handleVal">
                       <el-radio v-for="item in propertyTag" :key="item.id" :label="item.id">{{item.name}}</el-radio>
                     </el-radio-group>
                </el-form-item>
                <el-form-item label="权属所有人：" class="item-form" style="margin-bottom:0;" prop="belongPerson">
                  <el-input v-model="form.belongPerson" maxlength="51" disabled></el-input>
                </el-form-item>
              </div>
  <Title titleName="基础信息"></Title>
<div class="base-content">
    <el-form-item label="物业名称：" prop="name" class="item-form">
    <el-input v-model.trim="form.name" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业名称"></el-input>
    </el-form-item>
   <el-form-item label="物业简称：" class="item-form" prop="shortName">
    <el-input v-model="form.shortName"  maxlength="51" @blur="handdleIsBase" placeholder="请输入物业简称"></el-input>
    </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="别名/曾用名：" class="item-form" prop="aliasName">
    <el-input v-model="form.aliasName" maxlength="51" @blur="handdleIsBase"></el-input>
    </el-form-item>
    <el-form-item label="物业状态：" class="item-form" prop="propertyStatusId">
    <el-select v-model="form.propertyStatusId" placeholder="请选择物业状态" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyStatus"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="物业规模：" class="item-form" prop="propertyScaleId">
      <el-select v-model="form.propertyScaleId" disabled placeholder="请选择物业规模" class="item-select" @blur="handdleIsBase">
      <el-option
        v-for="item in propertyScale"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
    </el-form-item>
    <el-form-item label="物业编号：" class="item-form" prop="propertyCode">
    <el-input v-model="form.propertyCode" disabled maxlength="51" @blur="handdleIsBase" placeholder="请输入物业编号"></el-input>
    </el-form-item>
</div>

<div class="base-content">
  <el-form-item label="物业简介："  style="width:100%;" prop="propertyIntroduction">
    <el-input type="textarea" :rows="8" v-model="form.propertyIntroduction" maxlength="1001" @blur="handdleIsBase" placeholder="请输入物业简介"></el-input>
  </el-form-item>
</div>

 <div class="base-content" >
  <el-form-item label="物业种类：" prop="propertyTypeId" style="margin-bottom:6px;" class="errorTips">
    <el-checkbox-group v-model="form.propertyTypeId" style="line-height: 28px;" @change="handdleIsBase">
         <el-checkbox v-for="item in propertyType" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
    </el-checkbox-group>
  </el-form-item>
</div>

 <div class="base-content">
   <el-form-item label="物业标签：" style="margin-bottom:6px;" class="errorTips" v-if="isLable">
     <el-checkbox-group v-model="form.wyTagId" style="line-height: 28px;" @change="handdleIsBase">
       <el-checkbox v-for="item in wyTag" :label="item.id" :key="item.id" style="width:120px">{{item.name}}</el-checkbox>
     </el-checkbox-group>
   </el-form-item>
 </div>

<div>
  <Address
  level="5"
  isVillage="1"
  isRequired="true"
  @event="change($event)"
  @eventVillage="doVillage($event)"
  :handleRefresh="handdleIsBase"
  :addressArr="addressArr"
  :detailAddr="form.detailAddr"
  :lng="form.longitude"
  :lat="form.latitude"
  ></Address>
</div>

<div class="base-content">
     <el-form-item label="建筑面积：" class="item-form" prop="buildArea">
    <el-input v-model="form.buildArea" maxlength="16" @blur="handdleIsBase">
      <template slot="append">㎡</template>
    </el-input>
    </el-form-item>
</div>

<div class="base-content">
    <el-form-item label="物业规划用途：" class="item-form" prop="propertyPlan" v-if="isLable">
      <el-input v-model="form.propertyPlan" maxlength="51" @blur="handdleIsBase" placeholder="请输入物业规划用途"></el-input>
    </el-form-item>
</div>

<div class="base-content checkbox">
   <el-form-item label="物业来源：" prop="propertySourceId" style="margin-bottom:6px;" class="errorTips">
    <el-checkbox-group v-model="form.propertySourceId" style="line-height: 28px;" @change="handdleIsBase">
         <el-checkbox v-for="item in propertySource" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
    </el-checkbox-group>
  </el-form-item>
</div>

<!-- <div class="base-content">
    <el-form-item label="主要用途：" class="item-form" prop="mainPurposId" style="width:100%;">
    <el-select
    v-model="form.mainPurposId"
    placeholder="请选择主要用途"
    class="item-select"
   >
      <el-option
        v-for="item in mainPurpose"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>
  </el-form-item>
</div> -->

<!-- <div class="base-content">
  <el-form-item label="楼栋数量：" class="item-form" style="width:100%;" prop="num">
   <el-input v-model="form.num">
     <template slot="append">栋</template>
   </el-input>
  </el-form-item>
</div> -->

<div>
  <el-form-item label="物业图片：" class="item-form" style="margin-bottom:0;width:100%;margin-top:15px;">
  <p style="color:#F19149;line-height:20px; margin-top:10px;">支持jpg/png/jpng格式 ,不超过10M</p>
  <UploadImg
  :imgFormat="imgFormat"
  imgSize="10"
  imgName="jpeg、jpg、png"
  @event="changeImg($event)"
  :handleRefresh="this.handdleIsBase"
  ></UploadImg>
  </el-form-item>
</div>
</div>
<!-- 运营信息 -->
            <div id="2" style="margin-top:24px">
              <Title titleName="运营信息"></Title>
              <div class="base-content">
                <el-form-item label="运营方式：" prop="operatesType" style="margin-bottom:12px;">
                     <el-radio-group v-model="form.operatesType" @change="handleIsValue">
                       <el-radio label="1">自营</el-radio>
                       <el-radio label="2">委托运营</el-radio>
                       <el-radio label="3">其他管理单位</el-radio>
                     </el-radio-group>
                </el-form-item>
              </div>
            </div>

            <div class="base-content" v-if="isOpreates">
                <div class="operates">
                <el-form-item :label="opreatesLable" prop="operatesUnitId" style="margin-bottom:0; flex:1; display:flex; width:100%;">
                      <el-select v-model="form.operatesUnitId" placeholder="请选择管理单位" class="item-select" style="width:100%;" @change="handleOperate">
                    <el-option v-for="item in operatingUnit" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                 <el-form-item prop="opreatesGroupId" style="margin-bottom:0;flex:1; margin-left:30px;">
                    <el-select v-model="form.opreatesGroupId" placeholder="请选择单位项目组" @focus='handleFocus' class="item-select" style="width:68%;">
                    <el-option v-for="item in organization" :key="item.id" :label="item.orgName" :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                </div>
            </div>
</div>
</div>
</div>

                </el-form>
            </div>
</template>
<script>
import Title from '@/components/title.vue'
import Address from '@/components/address.vue'
import UploadImg from '@/components/uploadImg.vue'
import UploadWps from '@/components/uploadWps.vue'
import { selectTag, operateCode, operateUnit } from '@/views/incubationPark/mainPark/request.js'
import AddTable from '../component'
import {province, city, area, street, committee} from '@/components/request'
import { addBuild, propertyCode, assetName } from '../request.js'
export default {
  components: {Title, Address, UploadImg, UploadWps, AddTable},
  props: ['catalogue', 'btnKey'],
  data () {
    let floorSpace = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }

    let validateInteger = (rule, value, callback) => {
      if (value) {
        let reg = /^[1-9]\d*$/
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入正整数'))
        }
      }
    }

    let isValue50 = (rule, value, callback) => {
      if (value) {
        if (value.length >= 50) {
          callback(new Error('输入字数已超过50字'))
        } else {
          callback()
        }
      }
    }

    return {
      radio: '基础信息',
      params: {},
      imgFormat: ['image/jpeg', 'image/png', 'image/jpg'],
      isBaseIcon: false,
      isActive: false,
      hasError: true,
      isOperateActive: false,
      isOperateIcon: false,
      isOperateError: true,
      propertyTag: [],
      propertyStatus: [],
      propertyScale: [],
      propertyType: [],
      propertySource: [],
      // mainPurpose: [],
      operatingUnit: [],
      organization: [],
      isOpreates: false,
      opreatesLable: '委托运营管理单位',
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      buildList: [],
      isLable: false,
      wyTag: [],
      addressArr: [],
      floorList: [],
      oldData: {},
      timer: null,
      isRepeat: true,
      form: {
        type: 6,
        pid: 0,
        propertyTagId: '9',
        unitName: '',
        name: '',
        shortName: '',
        aliasName: '',
        propertyStatusId: '',
        propertyScaleId: '15',
        propertyCode: '',
        propertyIntroduction: '',
        propertyTypeId: [],
        propertySourceId: [],
        // mainPurposId: '',
        belongPerson: JSON.parse(sessionStorage.getItem('sysOrgName')), // 权属所有人
        buildArea: '',
        propertyImg: [],
        propertyPlan: '', // 物业规划用途
        wyTagId: [], // 物业标签
        operatesType: '', // 运营方式
        operatesUnitId: '', // 运营管理单位
        opreatesGroupId: '', // 运营单位项目
        userId: sessionStorage.getItem('userId'),
        detailAddr: '',
        areaCode: '',
        longitude: 0, // 经度
        latitude: 0, // 纬度
        assetType: '孵化园区', // 资产类型
        propertyType: '主体零散' // 按钮类型
      },
      rules: {
        belongPerson: [
          { required: true, message: '请输入权属所有人', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入物业名称', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' },
          { type: 'string', required: true, validator: this.remoteMethod, trigger: 'change' }
        ],
        propertyCode: [
          { required: true, message: '请输入物业编号', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        buildArea: [
          { required: true, message: '请输入建筑面积', trigger: 'change' },
          { type: 'number', required: false, validator: floorSpace, trigger: 'change' }
        ],
        propertySourceId: [
          { type: 'array', required: true, message: '请勾选物业来源', trigger: 'change' }
        ],
        num: [
          { type: 'number', required: false, validator: validateInteger, trigger: 'change' }
        ],
        propertyPlan: [ // 物业规划用途
          { required: true, message: '请输入物业规划用途', trigger: 'change' },
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        operatesType: [
          { required: true, message: '请选择运营方式', trigger: 'change' }
        ],
        propertyScaleId: [
          { required: true, message: '请选择物业规模', trigger: 'change' }
        ],
        propertyStatusId: [
          { required: true, message: '请选择物业状态', trigger: 'change' }
        ],
        operatesUnitId: [
          { required: true, message: '请选择运营管理单位', trigger: 'change' }
        ], // 运营管理单位
        opreatesGroupId: [
          { required: true, message: '请选择运营单位项目组', trigger: 'change' }
        ], // 运营单位项目
        propertyTagId: [
          { required: true, message: '请选择物业权属', trigger: 'change' }
        ],
        propertyTypeId: [
          { type: 'array', required: true, message: '请勾选物业种类', trigger: 'change' }
        ],
        shortName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ],
        aliasName: [
          { type: 'string', required: false, validator: isValue50, trigger: 'change' }
        ]
      }
    }
  },
  created () {
    let { userId } = this.$route.query
    this.form.userId = userId
    propertyCode().then((res) => {
      this.form.propertyCode = res.data.data
    })
    selectTag('property_tag').then(res => {
      this.propertyTag = res.data.data
    })
    selectTag('property_status').then(res => {
      this.propertyStatus = res.data.data
    })
    selectTag('property_scale').then(res => {
      this.propertyScale = res.data.data
    })
    selectTag('property_type2').then(res => {
      this.propertyType = res.data.data
    })
    selectTag('property_source').then(res => {
      this.propertySource = res.data.data.reverse()
    })
    // selectTag('main_purpos').then(res => {
    //   this.mainPurpose = res.data.data
    // })
    selectTag('wy_tag').then(res => {
      this.wyTag = res.data.data
    })
    operateCode().then(res => {
      this.operatingUnit = res.data.data
    })
  },

  updated () {
    this.handleIsValue()
    this.handdleIsBase()
  },

  methods: {
    handleVal (val) {
      if (val === '10') {
        this.isLable = true
      } else {
        this.isLable = false
      }
    },
    handleFocus () {
      if (this.organization.length === 0) {
        this.$refs.form.validateField('operatesUnitId')
      }
    },
    remoteMethod (rule, value, callback) {
      if (value !== '') {
        if (this.timer) clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          let params = `?name=${value}&pid=${0}`
          assetName(params).then((res) => {
            if (res.data.code === 0) {
              callback()
              this.isRepeat = true
            } else {
              callback(new Error(`${res.data.errMsg}，请重新输入`))
              this.isRepeat = false
            }
          })
        }, 300)
      }
    },

    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.form.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },

    doVillage (val) {
      this.form.detailAddr = val.fullAddress
      this.form.longitude = val.lng
      this.form.latitude = val.lat
    },

    handdleIsBase () {
      const {
        name,
        shortName,
        aliasName,
        propertyStatusId,
        propertyScaleId,
        propertyCode,
        propertyIntroduction,
        propertyTypeId,
        propertySourceId,
        // mainPurposId,
        propertyPlan,
        detailAddr,
        buildArea,
        landArea,
        practicalArea,
        shareArea,
        wyTagId,
        propertyImg
      } = this.form
      if (
        name ||
        shortName ||
        aliasName ||
        propertyStatusId ||
        propertyScaleId ||
        propertyCode ||
        propertyIntroduction ||
        propertyTypeId.length > 0 ||
        propertySourceId.length > 0 ||
        wyTagId.length > 0 ||
        // mainPurposId ||
        detailAddr ||
        buildArea ||
        landArea ||
        practicalArea ||
        propertyPlan ||
        shareArea ||
        propertyImg.length > 0 ||
        this.provincialLevel ||
        this.cityLevel ||
        this.areaLevel ||
        this.streetLevel ||
        this.committeeLevel ||
        this.buildList.length > 0
      ) {
        this.isBaseIcon = true
        this.isActive = true
        this.hasError = false
      }
    },

    handleIsValue (val) {
      if (val === '1') {
        this.isOpreates = false
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '2') {
        this.isOpreates = true
        this.opreatesLable = '委托运营管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      } else if (val === '3') {
        this.isOpreates = true
        this.opreatesLable = '其他管理单位：'
        this.form.operatesUnitId = ''// 运营管理单位
        this.form.opreatesGroupId = ''// 运营单位项目
      }
      if (this.form.operatesType) {
        this.isOperateActive = true
        this.isOperateIcon = true
        this.isOperateError = false
      }
    },

    handleOperate (val) {
      operateUnit(val).then((res) => {
        if ((res.data.code === 0) && res.data.data && Array.isArray(res.data.data)) {
          this.organization = res.data.data
        }
      })
    },

    changeImg (imgList) {
      let imgArr = []
      Array.isArray(imgList) && imgList.forEach((item) => {
        let val = item.response.data
        imgArr.push({ name: val.fileName, path: val.filePath })
      })
      this.form.propertyImg = imgArr
    },

    submitForm (form) {
      setTimeout(() => {
        let isPass = []
        this.$refs[form].validateField([
          'belongPerson',
          'name',
          'propertyCode',
          'buildArea',
          'propertySourceId',
          'num',
          'propertyPlan',
          'operatesType',
          'propertyScaleId',
          'propertyStatusId',
          'operatesUnitId',
          'opreatesGroupId',
          'propertyTagId',
          'propertyTypeId'
        ], (valid) => {
          if (valid) {
            isPass.push(valid)
          }
        })

        if ((isPass.length === 0) && this.isRepeat) {
          if (this.provincialLevel && this.cityLevel && this.areaLevel && this.streetLevel && this.committeeLevel) {
            let fullAddress = `${this.provincialLevel}${this.cityLevel}${this.areaLevel}${this.streetLevel}${this.committeeLevel}`
            if (this.form.detailAddr) {
              this.form.address = fullAddress || this.form.detailAddr
              if (JSON.stringify(this.form) !== JSON.stringify(this.oldData)) {
                addBuild(this.form).then((res) => {
                  if (res.data.code === 0) {
                    this.$message({
                      showClose: true,
                      message: '添加成功',
                      type: 'success'
                    })
                    this.$emit('event', res.data.data.id)
                  } else {
                    this.$message({
                      showClose: true,
                      message: res.data.errMsg,
                      type: 'warning'
                    })
                    return (this.oldData = {})
                  }
                })
                this.oldData = this.form
              } else {
                this.$message({
                  showClose: true,
                  message: '请勿重复保存数据',
                  type: 'warning'
                })
                this.oldData = this.form
              }
            } else {
              this.$message({
                showClose: true,
                message: '请选输入详细地址',
                type: 'error'
              })
            }
          } else {
            this.$message({
              showClose: true,
              message: '请选择地址',
              type: 'error'
            })
          }
        }
      }, 0)
    },
    // 取消
    handleCancel () {
      this.$router.push({ path: '/incubationPark' })
    }
  },
  destroyed () {
    if (this.timer) clearTimeout(this.timer)
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
