<template>
  <div class="user_mian">
    <div class="user_body">
      <div class="aa">
        <div class="user_body_right">
          <div class="right_header">
            <!-- 爱心大厦A3栋 -->
            <h2>{{this.title_name}}</h2>
            <el-button type="primary" @click="handleJump">修改</el-button>
          </div>
          <div class="right_headertwo">
            <el-radio-group v-model="radio">
              <el-radio-button label="基础信息" @change.native="changColor(1)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;基础信息</el-radio-button>
              <el-radio-button label="附属设施" @change.native="changColor(2)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;附属设施</el-radio-button>
            </el-radio-group>
          </div>
          <div class="div_table">
            <div class="title_header">
              <span class="vertical-line"></span>
              <span class="name" id="1">基础信息</span>
            </div>
            <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
               <tr>
                <th>物业权属</th>
                <th>{{propertyTagName}}</th>
                <th>权属所有人</th>
                <th>{{pagelist.belongPerson}}</th>
              </tr>
                <tr>
                <th>关联物业</th>
                <th>{{relationName}}</th>
                <th>关联物业规模</th>
                  <th>{{relationScale}}</th>
              </tr>
              <tr>
                <th>楼栋名称</th>
                <th colspan="3">{{pagelist.unitName}}</th>
              </tr>
               <tr>
                <th>物业名称</th>
                <th>{{pagelist.name}}</th>
                <th>物业规模</th>
                <th>{{propertyScale_name}}</th>
              </tr>
               <tr>
                <th>物业种类</th>
                <th colspan="3">{{propertyType_name}}</th>
              </tr>
                 <tr>
                <th>物业地址</th>
                <th colspan="3">{{pagelist.detailAddr}}</th>
              </tr>
                 <tr>
                <th>建筑面积</th>
                <th align="left">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
                <th>用地面积</th>
                <th align="left">{{pagelist.landArea ? `${pagelist.landArea}㎡` : ''}}</th>
              </tr>
              <tr>
                <th>实用面积</th>
                <th align="left">{{pagelist.practicalArea ? `${pagelist.practicalArea}㎡` : ''}}</th>
                <th>公摊面积</th>
                <th align="left">{{pagelist.shareArea ? `${pagelist.shareArea}㎡` : ''}}</th>
              </tr>
              <tr>
                <th>物业编号</th>
                <th>{{pagelist.propertyCode}}</th>
                <th>楼栋编码</th>
                <th>{{pagelist.houseCode}}</th>
              </tr>

              <tr>
                <th>物业别名/曾用名</th>
                <th>{{pagelist.aliasName}}</th>
              </tr>

              <tr v-if="isLabel">
                <th>物业标签</th>
                <th align="left">{{wy_Tag}}</th>
                 <th>物业规划用途</th>
                <th align="left">{{pagelist.propertyPlan}}</th>
              </tr>

              <tr>
                <th @click="handleList(pagelist.id,'emptyList','空置列表')" >
                  <el-badge value="空置列表" class="item" >
                     <span>空置面积</span>
                   </el-badge>
                  </th>
                <th align="left">{{pagelist.emptyTotal  ? `${pagelist.emptyTotal }㎡` : ''}}</th>
                  <th @click="handleList(pagelist.id,'useList','使用列表')" >
                  <el-badge value="使用列表" class="item" >
                     <span>使用面积</span>
                   </el-badge>
                  </th>
                <th align="left">{{pagelist.usedAreaTotal   ? `${pagelist.usedAreaTotal  }㎡` : ''}}</th>
              </tr>
              <tr>
                <th @click="handleList(pagelist.id,'floorList','楼层列表')" >
                  <el-badge value="楼层列表" class="item" >
                     <span>楼层数量</span>
                   </el-badge>
                  </th>
                <th align="left" colspan="3">{{pagelist.num ? `${pagelist.num}层` : ""}}</th>
              </tr>
            </table>
            <!-- <div v-if="Array.isArray(floorList) && floorList.length > 0">
            <div style="height:30px; font-weight: bold;font-size: 14px; margin-top:24px;">
              <label>层高承重</label>
            </div>
            <table cellspacing="0" cellpadding="0" class="tablekg" :data="floorList">
              <tr>
                <th>序号</th>
                <th>楼层名称</th>
                <th>楼层数量</th>
                <th>层高(m)</th>
                <th>承重(kg)</th>
              </tr>
              <tr v-for="(item,index) in floorList" :key="index">
                <th>{{++index}}</th>
                <th>{{item.unitName}}</th>
                <th>{{item.num}}</th>
                <th>{{item.storeyHeight}}</th>
                <th>{{item.loadBearer}}</th>
              </tr>
            </table>
            </div> -->
            <div v-if="Array.isArray(wyFacilitiesInfoList) && wyFacilitiesInfoList.length > 0">
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="2">附属设施</span>
            </div>
            <table cellspacing="0" cellpadding="0" class="tablekg">
              <tr>
                <th>序号</th>
                <th>设施名称</th>
                <th>规格</th>
                <th>数量</th>
                <th>度量单位</th>
                <th>备注</th>
              </tr>
              <tr v-for="(item,index) in wyFacilitiesInfoList" :key="index">
                <th>{{++index}}</th>
                <th>{{item.facilitiesName}}</th>
                <th>{{item.specification}}</th>
                <th>{{item.num}}</th>
                <th>{{item.unitMeasure}}</th>
                <th>{{item.remark}}</th>
              </tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
     <el-dialog
  :title="tips"
  :visible.sync="dialogVisible"
  width="60%"
  top="10vh"
  >
  <EmptyList :listId="listId" v-if=" dialogVisible && (showKey === 'emptyList') "></EmptyList>
  <UseList :listId="listId" v-if=" dialogVisible && (showKey === 'useList') "></UseList>
  <FloorList :listId="listId" v-if=" dialogVisible && (showKey === 'floorList') "></FloorList>
  </el-dialog>
  </div>

</template>

<script>
import { details } from '../request'
import { formatDate1 } from '../../../../until/common'
import EmptyList from '../component/emptyList.vue'
import UseList from '../component/useList.vue'
import FloorList from '../component/floorList.vue'
export default {
  components: {EmptyList, UseList, FloorList},
  props: ['id', 'pid'],
  data () {
    return {
      radio: '基础信息',
      pname: '',
      title_name: '',
      pagelist: {},
      propertyStatus_name: '', // 物业状态
      propertySource_name: '', // 物业来源
      propertyType_name: '', // 物业种类
      propertyScale_name: '', // 物业规模
      landPermitImg_path: '',
      wyFacilitiesInfoList: [],
      propertyImglist: [],
      landPermitImg: '',
      floorList: [],
      propertyTagName: '',
      relationName: '',
      relationScale: '',
      isLabel: false,
      wy_Tag: '',
      listId: '',
      dialogVisible: false,
      tips: ''
    }
  },
  filters: {
    formatDate1
  },
  created () {
    this.to()
  },
  methods: {
    changColor (val) {
      this.numbers = val
      document.getElementById(val).scrollIntoView()
    },
    to () {
      details(this.id).then(res => {
        let {
          info,
          relationName,
          relationScale,
          propertyScale,
          propertyTag,
          propertySource,
          propertyType,
          propertyStatus,
          propertyImg,
          wyTag,
          wyFacilitiesInfoList
        } = res.data.data
        this.pagelist = info
        this.title_name = info.name
        this.wyFacilitiesInfoList = wyFacilitiesInfoList
        this.propertyImglist = propertyImg
        this.relationName = relationName
        this.relationScale = relationScale
        this.floorList = res.data.data.floorList
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].id && (String(propertyTag[0].id) === '10'))
        this.propertyTagName = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyScale_name = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.wy_Tag = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    // 跳转编辑
    handleJump () {
      // let {userId} = this.$route.query
      // let roleId = sessionStorage.getItem('userId')
      // if (userId === roleId) {
      this.$emit('event', this.id)
      // } else {
      //   this.$message({
      //     type: 'warning',
      //     message: '对不起，您无权修改该文件!'
      //   })
      // }
    },
    handleList (id, key, name) {
      this.dialogVisible = true
      this.listId = id
      this.showKey = key
      this.tips = name
    }
  },
  watch: {
    'id': function (newVal) {
      this.to()
    }
  }
}
</script>
<style lang='less' scoped>
.item {
  margin-top: 10px;
  margin-right: 40px;
  /deep/.el-badge__content.is-fixed{
  top:-4px;
  cursor: pointer;
}
}
.trimg img {
  height: 91px;
  width: 121px;
  margin: 15px 0 0 15px;
}
.trimg span {
  cursor: pointer;
}
.trimg span:nth-of-type(1) img {
  margin-left: 0px;
}
.tablekg {
  width: 100%;
}
.tablekg tr:nth-of-type(1) th {
  background: #e8eff2;
  border-radius: 3px;
  height: 42px;
    font-weight: 600;
}
.tablekg tr th {
  border-bottom: 1px solid #e8eff2;
   height: 42px;
}
.tablekg tr th {
  font-weight: 400;
}
.realtr {
  height: 189px;
}
.realtr th {
  padding-top: 18px;
}
.el-input__inner {
  width: 300%;
  margin: 2px;
}
.right_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
  border-bottom: 1px solid #dddddd;
}
// .right_headertwo >>> .el-radio-button__inner {
//   width: 115px;
//   height: 34px;
//   padding: 10px 20px;
// }
.right_headertwo {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
  height: 50px;
}
.user_body_right {
  height: 98%;
  width: 100%;
}
.div_table {
  padding: 10px;
  margin: 0 10px 10px 10px;
  height: calc(90% - 52px);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.aa {
  display: flex;
  width: 100%;
  height: 100%;
}
.user_body {
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width: cale(100%-15px);
  height: 100%;
  /* margin: 0 0 0 15px; */
  box-shadow: 0px 1px 0px 0px #dddddd;
  border-radius: 6px 6px 0px 0px;
}
.table,
.infotable,
.accessory {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.accessory tr th:nth-of-type(1) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.accessory tr th:nth-of-type(2) {
  text-align: left;
  padding-left: 25px;
  width: 85%;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3),
.infotable tr th:nth-of-type(1),
.infotable tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4),
.infotable tr th:nth-of-type(2),
.infotable tr th:nth-of-type(4) {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
}
.title {
  width: 100%;
  height: 66px;
}
.title_header {
  width: 100%;
  height: 42px;
}
.vertical-line {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #1286ff;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.name {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.title-name {
  line-height: 90px;
  font-size: 18px;
  font-weight: bold;
}
</style>
