<template>
  <el-dialog
    :title="'短信记录'"
    :width="'800px'"
    :visible.sync="dialogFormVisible"
  >
    <section class="project-table">
      <el-table :data="tableData">
        <el-table-column type="index" label="序号" width="60"></el-table-column>
        <el-table-column prop="wyName" label="物业名称"> </el-table-column>
        <el-table-column
          prop="leaser"
          label="承租方"
          width="120"
        ></el-table-column>
        <el-table-column prop="type" label="短信模板">
          <template slot-scope="scope">
            {{ type[scope.row.type] }}
          </template>
        </el-table-column>
        <el-table-column
          prop="word"
          label="短信内容"
          width="260"
        ></el-table-column>
        <el-table-column
          prop="sendTime"
          label="发送短信时间"
          width="95"
          align="center"
        >
          <template slot-scope="scope">
            {{ scope.row.sendTime | formatDate }}
          </template>
        </el-table-column>
      </el-table>
    </section>
    <div slot="footer">
      <el-button @click="cancel">关 闭</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { getCallRecord } from './request'
import { formatDate } from '@/until/common'
export default {
  filters: { formatDate },
  components: {},
  data () {
    return {
      wyId: '', // 物业id
      type: {
        1: '短信提醒模板',
        2: '短信催缴模板'
      },
      dialogFormVisible: false,
      tableData: []
    }
  },
  mounted () {
    // console.log(this.proRight);
  },
  methods: {
    show (name, data) {
      this.dialogFormVisible = true
      if (data && data.wyId) {
        this.wyId = data.wyId
      }
      this.getList()
    },
    submit () {},
    cancel () {
      this.dialogFormVisible = false
    },
    getList () {
      let params = {
        userId: sessionStorage.getItem('userId'),
        wyId: this.wyId
      }
      getCallRecord(params, (res) => {
        if (res.data.code == 0) {
          this.tableData = res.data.data || []
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
.detail-content {
  width: 380px;
}
.project-table {
  height: 500px;
}
</style>
