<template>

  <div class="authorization_main u-right-content">
    <Breadcrumb barName="账单管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
        <!-- <el-form-item label="物业类型：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.assetType" placeholder="请选择" @change="wyTypeChange">
            <el-option v-for="item in wyTypes" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="物业主体：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.wyName" placeholder="请选择">
            <el-option v-for="item in wyNames" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="账期：" class="form-item" label-width="140px" style="width: 230px">
          <!-- <el-date-picker v-model="formInline.billTime" align="right" placeholder="选择日期" format="yyyy-MM-dd" style="width:130px">
          </el-date-picker> -->
          <div style="display:flex;align-items:center;">
            <el-popover placement="bottom" width="478" trigger="click" @show="selectMonthShow">
              <div class="select-date-wrapper">
                <div class="year-wrapper">
                  <el-input-number v-model="billTimeYear" size="medium" :min="1900" :max="maxBillTimeYear" @change="billTimeYearChange"></el-input-number>
                </div>
                <ul class="date-list">
                  <li v-for="(value,month) in billStat" :key="'dateitem'+month" class="date-item" :class="{'selected':value.selected}" @click="selectMonth(month)">
                    <div class="name">{{month}}月</div>
                    <ul class="stat">
                      <li class="stat-item">
                        未缴账单<span class="no">{{value.wjBillCount}}</span>
                        <div class="process" :style="'width:'+value.wjBillCount_rate+'%;background:#fde9cf'"></div>
                      </li>
                      <li class="stat-item">
                        欠缴账单<span class="no">{{value.qjBillCount}}</span>
                        <div class="process" :style="'width:'+value.qjBillCount_rate+'%;background:#ffddde'"></div>
                      </li>
                      <li class="stat-item">
                        已缴账单<span class="no">{{value.yjBillCount}}</span>
                        <div class="process" :style="'width:'+value.yjBillCount_rate+'%;background:#cfeefd'"></div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <el-input slot="reference" ref="inputBillTime" v-model="formInline.billTime" clearable maxlength="7" placeholder="选择月份"></el-input>
            </el-popover>
          </div>
        </el-form-item>
        <el-form-item label="物业地址：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.address" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="月租金：" class="form-item" label-width="120px" style="width: 260px">
          <div class="number-range-wrapper">
            <el-input v-model="formInline.smallMonthlyRent" clearable style="width:80px"></el-input><span class="split">-</span>
            <el-input v-model="formInline.bigMonthlyRent" clearable style="width:80px"></el-input>
          </div>
        </el-form-item>
        <el-form-item label="应收金额：" class="form-item" label-width="140px" style="width: 280px">
          <div class="number-range-wrapper">
            <el-input v-model="formInline.smallAmountReceivable" clearable style="width:80px"></el-input><span class="split">-</span>
            <el-input v-model="formInline.bigAmountReceivable" clearable style="width:80px"></el-input>
          </div>
        </el-form-item>
        <el-form-item label="实收金额：" class="form-item" label-width="140px" style="width: 280px">
          <div class="number-range-wrapper">
            <el-input v-model="formInline.smallActualCollection" clearable style="width:80px"></el-input><span class="split">-</span>
            <el-input v-model="formInline.bigActualCollection" clearable style="width:80px"></el-input>
          </div>
        </el-form-item>
        <el-form-item label="缴费状态：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.paymentStatus" placeholder="请选择" clearable>
            <el-option v-for="(val,lb) in type" v-bind:key="lb" :label="val" :value="lb">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="发票状态：" class="form-item" label-width="140px" style="width: 230px">
          <el-select v-model="formInline.invoiceStatus" placeholder="请选择" clearable>
            <el-option v-for="(val,lb) in type1" v-bind:key="lb" :label="val" :value="lb">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button ref="btnSearch" type="primary" icon="el-icon-search" @click="handleSearch">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="primary" v-permission="{action:'导出',effect:'disabled'}" @click="exportList">导出</el-button>
      </div>

      <div class="table" style="height: calc(100vh - 358px)">
        <el-table ref="table1" border :data="pagelist" @sort-change="sortChange" style="width: 100%">
          <el-table-column type="index" label="序号" width="60"></el-table-column>
          <el-table-column prop="leaser" label="承租方" width="210"></el-table-column>
          <el-table-column prop="billTime" label="账期" sortable>
            <template slot-scope="scope">
              {{ scope.row.billTime | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column prop="address" label="租赁物业地址" width="210"></el-table-column>
          <el-table-column prop="monthlyRent" label="月租金(元)" sortable></el-table-column>
          <el-table-column prop="amountReceivable" label="应收金额(元)" sortable></el-table-column>
          <el-table-column prop="actualCollection" label="实收金额(元)" sortable></el-table-column>
          <el-table-column prop="paymentStatus" label="缴费状态">
            <template slot-scope="scope">{{
              type[scope.row.paymentStatus]
            }}</template>
          </el-table-column>
          <el-table-column prop="invoiceStatus" label="发票状态" sortable>
            <template slot-scope="scope">{{
              type1[scope.row.invoiceStatus]
            }}</template>
          </el-table-column>
          <el-table-column label="操作" width="280">
            <!-- 查看账单 | 收款 | 多户收款 | 开票登记 | 短信催缴 | 催缴记录 -->
            <template slot-scope="scope">
              <el-button v-permission="{action:'查看账单',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showDialogViewBill('view', scope.row)">查看账单</el-button>
              <el-button v-permission="{action:'收款',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showDialogMoneyReceive(scope.row,1)">收款</el-button>
              <el-button v-permission="{action:'多户收款',effect:'disabled'}" type="warning" class="handle-el-icon" @click="showDialogMoneyReceive(scope.row,2)">多户收款</el-button>
              <el-button v-permission="{action:'开票登记',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showDialogInvoicing">开票登记</el-button>
              <el-button v-permission="{action:'短信催缴',effect:'disabled'}" type="primary" class="handle-el-icon" @click="showDialogSmsCall(scope.row)">短信催缴</el-button>
              <el-button v-permission="{action:'催缴记录',effect:'disabled'}" type="warning" class="handle-el-icon" @click="showDialogCallRecord('view', scope.row)">催缴记录</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>
    <SmsCall v-if="dialogSmsCall" ref="SmsCall" />
    <ViewBill v-if="dialogViewBill" ref="ViewBill" @open-receive="handleOpenReceive" />
    <CallRecord v-if="dialogCallRecord" ref="CallRecord" />
    <MoneyReceive v-if="dialogMoneyReceive" ref="MoneyReceive" @confirm="moneyReceiveConfrim" />
    <MoneyReceiveMany v-if="dialogMoneyReceiveMany" ref="MoneyReceiveMany" @confirm="moneyReceiveConfrim" />

  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import SelectInput from '@/components/select/searchInput.vue'
import SmsCall from './SmsCall'
import ViewBill from './ViewBill'
import CallRecord from './CallRecord'
import MoneyReceive from './MoneyReceive'
import MoneyReceiveMany from './MoneyReceiveMany'
import { formatDate1 } from '@/until/common'
import { exportData,
  getOrderList,
  checkOrder,
  selectTag,
  rebackOrder,
  getCallRecord,
  getWyName,
  getBillCount
} from './request'

export default {
  filters: { formatDate1 },
  components: {
    SelectInput,
    SmsCall,
    ViewBill,
    CallRecord,
    MoneyReceive,
    MoneyReceiveMany,
    formatDate1,
    Breadcrumb
  },
  data () {
    return {
      type: {
        1: '未缴费',
        2: '部分缴费',
        3: '已缴费',
        4: '欠缴费',
        5: '已补缴',
        6: '已缴费(预缴费转)'
      },
      type1: {
        1: '未开票',
        2: '已开票'
      },
      // 物业类型
      wyTypes: [
        { label: '产业用房', value: '产业用房' },
        { label: '孵化园区', value: '孵化园区' },
        { label: '行政办公', value: '行政办公' },
        { label: '公共服务设施', value: '公共服务设施' },
        { label: '商业', value: '商业' },
        { label: '住宅', value: '住宅' },
        { label: '租赁社会物业', value: '租赁社会物业' }
      ],
      // 物业主体
      wyNames: [], // ['物业1','物业2']
      // dialog
      activeName: 'second',
      dialogSmsCall: false,
      dialogViewBill: false,
      dialogCallRecord: false,
      dialogMoneyReceive: false,
      dialogMoneyReceiveMany: false,

      // search
      searchby: '',
      billDate: [],
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      totalNum: 0,
      formInline: {
        // assetType: '',
        // wyName: '',
        // user: '',
        // region: '',
        // select: [],
        // setDate: ''
        // chooseYear: '',//选择的年份
        // chooseMonth: ''//选择的月份
        billTime: '', // 账期
        address: '', // 租赁物业地址
        smallMonthlyRent: '', // 月租金
        bigMonthlyRent: '', // 月租金
        smallAmountReceivable: '', // 应收金额
        bigAmountReceivable: '', // 应收金额
        smallActualCollection: '', // 实收金额
        bigActualCollection: '', // 实收金额
        paymentStatus: '', // 缴费状态
        invoiceStatus: '', // 发票状态
        sort: '0'
      },
      billTimeYear: '',
      maxBillTimeYear: '',
      billStat: {},
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() > Date.now()
        },
        shortcuts: [
          {
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: '昨天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          },
          {
            text: '一周前',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }
        ]
      }
    }
  },
  created () {
    // console.log(this.$router.currentRoute.meta.title);
    this.getList()

    this.billTimeYear = new Date().getFullYear()
    this.maxBillTimeYear = new Date().getFullYear()
  },
  methods: {
    resetForm () {
      for (let i in this.formInline) {
        this.formInline[i] = ''
      }
      this.formInline.sort = 0
      this.$refs.table1.clearSort()
      this.getList()
    },
    handleClick (tab, event) {
      console.log(tab, event)
    },
    callSelectInput (value) {
      this.searchby = value
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.getList()
      // console.log(this.pagesize) // 每页下拉显示数据
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getList()
      // console.log(this.currentPage) // 点击第几页
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'billTime': sort = 1; break
          case 'monthlyRent': sort = 3; break
          case 'amountReceivable': sort = 5; break
          case 'actualCollection': sort = 7; break
          case 'invoiceStatus': sort = 9; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'billTime': sort = 2; break
          case 'monthlyRent': sort = 4; break
          case 'amountReceivable': sort = 6; break
          case 'actualCollection': sort = 8; break
          case 'invoiceStatus': sort = 10; break
        }
      }
      this.formInline.sort = sort
      this.getList()
    },
    // dialog
    showDialogSmsCall (data) {
      this.dialogSmsCall = true
      this.$nextTick(() => {
        this.$refs.SmsCall.show(data)
      })
    },
    showDialogViewBill (name, data) {
      this.dialogViewBill = true
      this.$nextTick(() => {
        this.$refs.ViewBill.show(name, data)
      })
    },
    showDialogCallRecord (name, data) {
      this.dialogCallRecord = true
      this.$nextTick(() => {
        this.$refs.CallRecord.show(name, data)
      })
    },
    showDialogMoneyReceive (data, type) { // type: 1收款 2多户收款
      if (type == 1) {
        this.dialogMoneyReceive = true
        this.$nextTick(() => {
          this.$refs.MoneyReceive.show(data)
        })
      } else if (type == 2) {
        this.dialogMoneyReceiveMany = true
        this.$nextTick(() => {
          this.$refs.MoneyReceiveMany.show(data)
        })
      }
    },
    handleOpenReceive (data) {
      this.showDialogMoneyReceive(data, 1)
    },
    showDialogInvoicing () {
      confirm('开发中.......')
    },
    // 获取账单列表
    getList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        ...this.formInline
      }
      if (obj.billTime) obj.billTime = formatDate1(obj.billTime)
      // if (this.billDate) {
      //   let date = new Date(this.billDate)
      //   if (date != 'Invalid Date') {
      //     let y = date.getFullYear();
      //     let MM = date.getMonth() + 1;
      //     obj.chooseYear = y;
      //     obj.chooseMonth = MM;
      //   }
      // }
      getOrderList(obj).then((res) => {
        this.pagelist = res.data.data.list
        this.totalNum = res.data.data.total
        // console.log(res)
      })
    },
    // 点击查询
    handleSearch () {
      this.currentPage = 1
      this.getList()
    },
    // 选择物业类型
    wyTypeChange (v) {
      getWyName(`?wyType=${v}`).then(res => {
        if (res.data.code == 0) {
          this.wyNames = res.data.data || []
          this.formInline.wyName = ''
        }
      })
    },
    billTimeYearChange (v) {
      this.getBillStat()
    },
    // 选择月份弹框显示事件
    selectMonthShow () {
      let year = ''
      let month = ''
      if (this.formInline.billTime != '') {
        let date = new Date(this.formInline.billTime)
        year = date.getFullYear()
        month = date.getMonth() + 1
        this.billTimeYear = year
      }
      for (let m in this.billStat) {
        this.billStat[m].selected = false
      }
      if (!this.billStat || JSON.stringify(this.billStat) == '{}') {
        this.getBillStat(() => {
          if (this.billStat[month]) {
            this.billStat[month].selected = true
          }
        })
      } else {
        if (this.billStat[month]) {
          this.billStat[month].selected = true
        }
      }
    },
    // 选择月份
    selectMonth (month) {
      let mon = ''
      if (month.length == 1) mon = '0' + month
      else mon = month
      let date = this.billTimeYear + '-' + mon
      this.formInline.billTime = date
      this.$refs.inputBillTime.$el.click()
    },
    // 获取每月缴费情况
    getBillStat (cb) {
      // 获取每月缴费情况
      getBillCount(`?billTime=${this.billTimeYear + '-01-01'}`).then(res => {
        if (res && res.data) {
          let billData = res.data.data || {}
          let max = 0
          for (let month in billData) {
            billData[month].selected = false
            for (let name in billData[month]) {
              if (billData[month][name] > max) max = billData[month][name]
            }
          }

          for (let month in billData) {
            for (let name in billData[month]) {
              billData[month][name + '_rate'] = max > 0 ? (billData[month][name] / max) * 100 : 0
            }
          }
          this.billStat = billData
          if (cb) cb()
        }
      })
    },
    // 确认收款成功之后
    moneyReceiveConfrim () {
      this.getList()
    },
    // 导出
    exportList () {
      let params = {
        info: {
          userId: sessionStorage.getItem('userId'),
          ...this.select_form
        }
      }
      exportData(params).then((res) => {
        let now = new Date()
        let date =
          now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
        const link = document.createElement('a')
        // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
        let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
        link.style.display = 'none'
        // 设置连接
        link.href = URL.createObjectURL(blob)
        link.download = date + '账单列表' // 你文件定义的名称
        document.body.appendChild(link)
        // 模拟点击事件
        link.click()
      })
    }
  }
}
</script>

<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
.number-range-wrapper {
  display: flex;
  align-items: center;
  .split {
    margin: 0 5px;
    color: #fff;
  }
}

.select-date-wrapper {
  .year-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /deep/.el-icon-minus::before {
      content: "\e6de";
    }
    /deep/.el-icon-plus::before {
      content: "\e6e0";
    }
  }
  .date-list {
    display: flex;
    flex-wrap: wrap;
    .date-item {
      width: 120px;
      height: 90px;
      border: 1px solid #dcdfe6;
      margin: -1px 0 0 -1px;
      padding: 0 4px 5px;
      box-sizing: border-box;
      cursor: pointer;
      &.selected,
      &:hover {
        border: 1px solid #409eff;
        z-index: 1;
      }
      .name {
        font-size: 20px;
        font-weight: bold;
      }
      .stat {
        font-size: 12px;
        color: #333;
        .stat-item {
          position: relative;
          padding: 0 4px;
          box-sizing: border-box;
          & + .stat-item {
            margin-top: 3px;
          }
          .no {
            position: absolute;
            width: 50px;
            top: 0;
            right: 4px;
            display: block;
            text-align: right;
          }
          .process {
            position: absolute;
            width: 0px;
            top: 0;
            left: 0;
            height: 100%;
            background: #fde9cf;
            z-index: -1;
          }
        }
      }
    }
  }
}
</style>
