<template>
  <el-dialog :title="'多户收款'" :width="'1280px'" :visible.sync="dialogFormVisible" top="10vh">
    <el-form :inline="true" :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form" label-width="150px">
      <h2 class="pb50 fz15">
        <div class="bb pb3" style="border-width: 1px">账单基本信息</div>
      </h2>

      <el-form-item label="承租方:" prop="leaser">
        <el-input v-model="ruleForm.leaser" disabled></el-input>
      </el-form-item>
      <el-form-item label="承租方电话:" prop="leaserPhone">
        <el-input v-model="ruleForm.leaserPhone" disabled></el-input>
      </el-form-item>
      <!-- <el-form-item label="租赁物业地址:" prop="address">
        <el-input type="textarea" v-model="ruleForm.address" rows="3" disabled class="w800" style="width: 884px"></el-input>
      </el-form-item> -->

      <!-- 收款信息 -->
      <h1 class="pb30 fz15 pt50">
        <div class="bb pb3" style="border-width: 1px">收款信息</div>
      </h1>
      <el-form-item label="收款日期:" prop="receivedDate">
        <el-date-picker v-model="ruleForm.receivedDate" type="date" placeholder="选择日期" format="yyyy-MM-dd" value-format="yyyy-MM-dd" disabled>
        </el-date-picker>
      </el-form-item>
      <!-- <el-form-item label="预收款余额:" prop="advanceCollection">
        <div class="w300">{{ ruleForm.advanceCollection }}元</div>
      </el-form-item> -->

      <el-form-item label="待收金额:" class="table-width-receive-1">
        <section class="table-height-bill-3">
          <el-table border :data="ruleForm.receivedList" :summary-method="getSummaries" show-summary>
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column type="index" label="序号" width="60"></el-table-column>
            <el-table-column prop="leaserWy" label="租赁物业"> </el-table-column>
            <el-table-column prop="billTime" label="账期"> </el-table-column>
            <el-table-column prop="monthlyRent" label="月租金(元)" width="120"></el-table-column>
            <el-table-column prop="obeyRent" label="欠收月租金(元)">
              <!-- <template slot-scope="scope">
                {{
                  (scope.row.amountReceivable || 0) -
                  (scope.row.actualCollection || 0)
                }}
              </template> -->
            </el-table-column>
            <el-table-column prop="waitPayment" label="待缴滞纳金(元)">
              <template slot-scope="scope">
                <div v-if="scope.row.editWaitPayment">
                  <el-input :ref="'waitPaymentEdit' + scope.$index" v-model="scope.row.waitPayment" @blur="editWaitPaymentBlur(scope.row)" class="table-cell-input"></el-input>
                </div>
                <div v-else>{{ scope.row.waitPayment }}</div>
              </template>
            </el-table-column>
            <el-table-column prop="paidRent" label="本次收缴月租金(元)" width="130">
              <template slot-scope="scope">
                <div v-if="scope.row.editRent">
                  <el-input :ref="'rentEdit' + scope.$index" v-model="scope.row.paidRent" @blur="editRentBlur(scope.row)" class="table-cell-input"></el-input>
                </div>
                <div v-else>{{ scope.row.paidRent }}</div>
              </template>
            </el-table-column>
            <el-table-column label="操作" width="200">
              <template slot-scope="scope">
                <el-button type="primary" class="handle-el-icon" @click="handleEditWaitPayment(scope.row, scope.$index)">滞纳金修改</el-button>
                <el-button type="primary" class="handle-el-icon" @click="handleEditRent(scope.row, scope.$index)">修改实收</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div></div>
        </section>
      </el-form-item>

      <el-form-item label="本次实收总计:" prop="summaryThis">
        <div style="display: flex">
          <el-input v-model="ruleForm.summaryThis" disabled></el-input><span class="unit" style="margin-left: 10px">元</span>
        </div>
        <div class="el-form-note-message">
          注：本次实收总计=待缴滞纳金总计+本次收缴月租金总计
        </div>
      </el-form-item>
      <div></div>
      <!-- <el-form-item class="form-item-col1-unit" required label="实收总计:" prop="actualCollection">
        <el-input v-model="ruleForm.actualCollection"></el-input><span class="unit">元</span>
      </el-form-item>
      <div></div>
      <el-form-item class="form-item-col1-unit" label="结余转预收款:" prop="restAmount">
        <el-input v-model="restAmount" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <div></div> -->
      <el-form-item label="收款方式:" prop="paidMethod">
        <!--
        <el-button type="primary" icon="el-icon-bank-card"></el-button>
        <el-button type="primary" icon="el-icon-wallet"></el-button>
        <el-button type="primary" icon="el-icon-wallet"></el-button>
        <el-button type="primary" icon="el-icon-bank-card"></el-button>
        <el-button type="primary" icon="el-icon-wallet"></el-button> -->
        <el-radio-group v-model="ruleForm.paidMethod">
          <el-radio-button label="1">微信支付</el-radio-button>
          <el-radio-button label="2">支付宝支付</el-radio-button>
          <el-radio-button label="3">post机刷卡</el-radio-button>
          <el-radio-button label="4">转账</el-radio-button>
          <el-radio-button label="5">柜台刷卡</el-radio-button>
          <el-radio-button label="6">批扣</el-radio-button>
          <el-radio-button label="7">其它</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <div></div>
      <el-form-item label="备注:" prop="remark">
        <el-input type="textarea" v-model="ruleForm.remark" rows="4" style="width: 884px"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">确认收款</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { addOperation, updOperation } from '@/until/api.js'
import UploadWps from '@/components/uploadWps.vue'
import { rebackOrder, rebackOrderMany, collecMoneyMany } from './request'
export default {
  components: {
    UploadWps
  },
  data () {
    // 实收总计 验证规则
    let validActualCollection = (rule, value, callback) => {
      if (value === '' || value === undefined) {
        callback(new Error('请输入实收总计'))
      } else {
        let sum =
          parseFloat(this.ruleForm.actualCollection) +
          parseFloat(this.ruleForm.advanceCollection) // 实收总计+预收款余额
        let sumObeyRent = 0 // 欠收月租金总计
        sumObeyRent = this.ruleForm.receivedList.reduce((s, cur) => {
          return (
            (isNaN(s) || !s ? 0 : parseFloat(s)) +
            (isNaN(cur.obeyRent) || !cur.obeyRent
              ? 0
              : parseFloat(cur.obeyRent))
          )
        }, 0)
        if (sum < this.ruleForm.summaryThis) {
          callback(new Error('（实收总计+预收款余额）不可小于本次收缴总计'))
        } else if (sum > this.ruleForm.summaryThis && sum < sumObeyRent) {
          callback(
            new Error(
              '有结余转预收款时，（实收总计+预收款余额）不可小于欠收月租金总计'
            )
          )
        } else {
          callback()
        }
      }
    }

    return {
      activeName: 'modify',
      dialogName: false,
      dialogFormVisible: false,
      radio: 1,
      time: [],
      timeEnd: [],
      options: [],
      billStatus: '', // 账单状态 1:未缴费 2已缴费 3欠缴费
      ruleForm: {
        id: '',
        receivedList: [],
        leaser: '',
        contractId: '',
        leaserPhone: '',
        address: '',
        // advanceCollection: '',
        paidMethod: '1',
        remark: '',
        summaryThis: '', // 本次收缴总计
        actualCollection: '', // 实收总计
        receivedDate: '' // 收款日期
      },
      rules: {
        // 实收总计
        actualCollection: [
          {
            validator: validActualCollection,
            trigger: 'change'
          },
          {
            validator: validActualCollection,
            trigger: 'blur'
          }
        ],
        paidMethod: [
          { required: true, message: '请选择收款方式', trigger: 'change' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' }
        ]
      },
      proRight: [],
      fileTarget: []
    }
  },
  computed: {
    // 本次收缴总计
    // summaryThis() {
    //   return this.summary();
    // },
    // 结余转预收款
    restAmount () {
      return this.ruleForm.actualCollection - this.ruleForm.summaryThis
    }
  },
  mounted () {
    // console.log(this.proRight);
  },
  methods: {
    show (data) {
      this.$nextTick(() => {
        this.reset()
        // console.log(data);
        var params = {
          id: data.id || 0,
          billStatus: data.billStatus || 1
        }
        this.billStatus = params.billStatus
        this.getDetailsMany(`?contractId=${data.contractId}&billStatus=${this.billStatus}`)
      })
      this.dialogFormVisible = true
    },
    submit () {
      // let ruleForm = {
      //   actualCollection: this.ruleForm.actualCollection,
      //   id: this.ruleForm.id,
      //   paidMethod: this.ruleForm.paidMethod,
      //   receivedList: this.ruleForm.receivedList,
      //   remark: this.ruleForm.remark,
      //   receivedDate: this.ruleForm.receivedDate,
      // };
      // ruleForm.userId = window.sessionStorage.getItem("userId");

      let params = []
      this.ruleForm.receivedList.forEach((v, i) => {
        params.push({
          id: v.id,
          waitPayment: v.waitPayment,
          billStatus: 2, // 账单状态改为 2已缴费
          paymentStatus: 3, // 缴费状态改为 3已缴费
          // advanceCollection: this.ruleForm.advanceCollection,
          paidMethod: this.ruleForm.paidMethod,
          remark: this.ruleForm.remark
        })
      })
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleInterface(params)
        }
      })
    },
    handleInterface (ruleForm) {
      collecMoneyMany(ruleForm).then((res) => {
        if (res.data.code == 0) {
          this.$message({ type: 'success', message: '确认收款成功' })
          this.$emit('confirm')
          this.cancel()
        } else {
          this.$message({ type: 'error', message: res.data.errMsg || '收款失败' })
        }
      })
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    reset () {
      // this.$refs["ruleForm"].resetFields();
    },
    handlertime (val) {
      this.time = val[0]
      this.timeEnd = val[1]
    },
    changeWpsOne (fileTarget) {
      this.fileTarget = fileTarget
      console.log(this.proRight)
      console.log(fileTarget)
    },
    // table
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '总价'
          return
        }
        if (index === 1 || index === 2 || index === 3 || index === 8) {
          sums[index] = ''
          return
        }
        const values = data.map((item) => Number(item[column.property]))
        if (!values.every((value) => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          // sums[index] += " 元";
        } else {
          sums[index] = ''
        }
      })

      return sums
    },
    // 查询多户收款页面信息
    getDetailsMany (params) {
      rebackOrderMany(params).then((res) => {
        if (res.data.code == 0) {
          let formData = res.data.data || {}
          // formData.receivedList = [
          //   {
          //     monthlyRent: 20000,
          //     paidRent: 0,
          //     obeyRent: 15000,
          //     waitPayment: 1000,
          //   },
          //   {
          //     monthlyRent: 10000,
          //     paidRent: 0,
          //     obeyRent: 27000,
          //     waitPayment: 800,
          //   },
          // ];
          formData.paidMethod = formData.paidMethod || '1'
          formData.remark = formData.remark || ''
          if (!formData.receivedList) formData.receivedList = []
          formData.receivedList.forEach((v, i) => {
            v.editWaitPayment = false
            v.obeyRent = (v.amountReceivable || 0) - (v.actualCollection || 0) // 欠收月租金=应收月租金-实收月租金
            v.paidRent = v.obeyRent // 默认 本次收缴月租金=欠收月租金
            v.editRent = false
          })
          // formData.advanceCollection = formData.advanceCollection || 0;
          formData.summaryThis = this.summary(formData.receivedList) // 本次收缴总计
          formData.actualCollection = this.summary(formData.receivedList) // 实收总计
          this.ruleForm = formData
        }
      })
    },
    summary (tbData) {
      // let sumWaitPayment = tbData.reduce(
      //   (s, cur) =>
      //     (isNaN(s)||!s ? 0 : parseFloat(s)) +
      //     (isNaN(cur.waitPayment)||!cur.waitPayment ? 0 : parseFloat(cur.waitPayment)),
      //   0
      // ); //待缴滞纳金合计
      // let sumRent = tbData.reduce(
      //   (s, cur) =>
      //     (isNaN(s)||!s ? 0 : parseFloat(s)) +
      //     (isNaN(cur.rent)||!cur.rent ? 0 : parseFloat(cur.rent)),
      //   0
      // ); //本次收缴月租金合计
      let sumWaitPayment = 0
      let sumRent = 0
      if (tbData && tbData instanceof Array) {
        tbData.forEach((v) => {
          sumWaitPayment +=
            isNaN(v.waitPayment) || !v.waitPayment
              ? 0
              : parseFloat(v.waitPayment)
          sumRent += isNaN(v.paidRent) || !v.paidRent ? 0 : parseFloat(v.paidRent)
        })
      }
      let total = sumWaitPayment + sumRent
      return total
    },
    // 点击 滞纳金修改
    handleEditWaitPayment (row, index) {
      row.editWaitPayment = true
      this.$nextTick((v) => {
        var ref = this.$refs['waitPaymentEdit' + index]
        if (ref) {
          ref.focus()
        }
      })
    },
    // 点击 修改实收
    handleEditRent (row, index) {
      row.editRent = true
      this.$nextTick((v) => {
        var ref = this.$refs['rentEdit' + index]
        if (ref) {
          ref.focus()
        }
      })
    },
    // 滞纳金修改 失去焦点
    editWaitPaymentBlur (row) {
      row.editWaitPayment = false
      this.$nextTick((v) => {
        this.ruleForm.summaryThis = this.summary(this.ruleForm.receivedList)
        this.ruleForm.actualCollection = this.summary(
          this.ruleForm.receivedList
        )
      })
    },
    // 修改实收 失去焦点
    editRentBlur (row) {
      if (row.paidRent > row.obeyRent) {
        row.paidRent = row.obeyRent
        this.$message({
          message: '本次收缴月租金不能大于欠收月租金',
          type: 'error'
        })
      }
      row.editRent = false
      this.$nextTick((v) => {
        this.ruleForm.summaryThis = this.summary(this.ruleForm.receivedList)
        this.ruleForm.actualCollection = this.summary(
          this.ruleForm.receivedList
        )
      })
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 360px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 360px;
}
.table-cell-input /deep/.el-input__inner {
  width: 90px;
}
.title-color {
  padding: 6px 12px;
  background: #688cdc;
  color: #fff;
}
/deep/.table-width-receive-1 .el-form-item__content {
  width: 1000px;
}
.table-height-bill-3 {
  min-height: 160px;
  max-height: 260px;
}
.el-form-note-message {
  color: gray;
}
.form-item-col1-unit {
  /deep/.el-form-item__content {
    display: inline-flex;
  }
  // /deep/.el-input__inner,
  // /deep/.el-textarea__inner {
  //   width: 265px;
  // }
  .unit {
    margin-left: 10px;
    white-space: nowrap;
  }
}
</style>
