<template>
  <el-dialog :title="activeName === 'sole' ? '发送短信' : '批量发送短信'" :width="'800px'" :visible.sync="dialogFormVisible" @close="editDialogClosed">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="project-el-form pt20" label-width="120px">
      <el-form-item v-if="activeName === 'sole'" required label="发送租赁物业数:" prop="operationUnit">
        <el-input v-model="ruleForm.operationUnit"></el-input>
      </el-form-item>
      <el-form-item label="物业名称:" prop="wyName">
        <el-input v-model="ruleForm.wyName" disabled></el-input>
      </el-form-item>
      <el-form-item label="承租方:" prop="leaser">
        <el-input v-model="ruleForm.leaser" disabled></el-input>
      </el-form-item>
      <el-form-item label="当前月:" prop="billTime">
        <el-input v-model="ruleForm.billTime" disabled></el-input>
      </el-form-item>
      <!-- <el-form-item required label="短信类型:" prop="msgType">
        <el-select v-model="ruleForm.msgType" placeholder="请选择">
          <el-option v-for="(item,value) in msgTypeOptions" :key="value" :label="item" :value="value">
          </el-option>
        </el-select>
      </el-form-item> -->
      <el-form-item label="短信名称:" prop="messNmae">
        <el-select v-model="ruleForm.messNmae" placeholder="请选择" @change="getMsgContent(ruleForm.messNmae)">
          <el-option v-for="item in msgOptions" :key="item" :label="item" :value="item"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="短信内容:" prop="msgContent">
        <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 6}" v-model="ruleForm.msgContent"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit('ruleForm')">发送短信</el-button>
    </div>
  </el-dialog>
</template>
<script>
import UploadWps from '@/components/uploadWps.vue'
import { getMsgName, getMsgContent } from './request'
export default {
  components: {
    UploadWps
  },
  data () {
    return {
      activeName: 'sole',
      dialogName: false,
      value: '',
      dialogFormVisible: false,
      msgOptions: [
      ],
      // 短信类型
      msgTypeOptions: {
        1: '短信提醒模板',
        2: '短信催缴模板'
      },
      ruleForm: {
        messNmae: '',
        operationUnit: '',
        startRentDate: '',
        endRentDate: '',
        leaser: '',
        wyBasicInfoId: '',
        msgContent: ''
      },
      rules: {
        messNmae: [{ required: true, message: '请选择短信名称', trigger: 'change' }],
        msgContent: [{ required: true, message: '请输入短信内容', trigger: 'change' }]
      }
    }
  },
  created () {
    this.getMsgList()
  },
  mounted () {
  },
  methods: {
    show (data) {
      // this.ruleForm = data
      for (let value in data) this.ruleForm[value] = data[value]
      this.activeName = name
      this.dialogFormVisible = true
    },
    submit () {
      let ruleForm = this.ruleForm
      ruleForm.userId = window.sessionStorage.getItem('userId')

      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleInterface(ruleForm)
        }
      })
    },
    handleInterface (ruleForm) {
      confirm('开发中.......')
      let callInterface = null
      if (this.activeName === 'sole') {
        // callInterface = updOperation
      } else if (this.activeName === 'add') {
        // callInterface = addOperation
      }
      // console.log('ruleForm', ruleForm)

      callInterface && callInterface(ruleForm).then(res => {
        if (res.data === 1) {
          this.cancel()
        }
      })
    },
    editDialogClosed () {
      this.dialogFormVisible = false
      this.reset()
    },
    reset () {
      if (this.$refs['ruleForm'] !== undefined) {
        this.$refs['ruleForm'].resetFields()
        this.value = ''
      }
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    // 获取短信名称列表
    getMsgList () {
      getMsgName().then(res => {
        if (res.data.code == 0) {
          this.msgOptions = res.data.data || []
        } else {
          this.msgOptions = []
        }
      })
    },
    // 获取短信内容
    getMsgContent (messName) {
      // console.log(messName)
      // if (messName === '合同到期提醒') {
      //   this.value = '尊敬的【贾××】，您好！根据你方与我中心签订的【海珠城××阁4G室】《深圳市房屋租赁合同》及补充协议，将于【2021-08-23】到期，请及时前往【南山区委大楼A614】办理续签，特此提醒！【南山区政府公共物业管理中心 26667159】'
      // } else {
      //   this.value = '尊敬的【承租方】，您好！根据你方与我中心签订的【租赁物业】《深圳市房屋租赁合同》及补充协议，将于【止租日期】到期，请及时前往【业务办理地点】办理续签，特此提醒！【短信发送单位】'
      // }
      getMsgContent(messName).then(res => {
        if (res.data.code == 0) {
          this.ruleForm.msgContent = res.data.data || ''
        } else {
          this.ruleForm.msgContent = ''
          if (res.data.errMsg) this.$message.error(res.data.errMsg)
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 303px;
}
</style>
