<template>
  <el-dialog title="账单" :width="'1100px'" :visible.sync="dialogFormVisible" top="10vh">
    <el-form :inline="true" :model="ruleForm" ref="ruleForm" class="el_form" label-width="150px">
      <h2 class="pb50 fz15">
        <div class="bb pb3" style="border-width: 1px">
          <i class="line">|||</i>合同信息
        </div>
      </h2>

      <el-form-item class="form-item-col2" label="承租方:">
        <el-input v-model="ruleForm.leaser" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item class="form-item-col2" label="租赁物业地址:">
        <el-input v-model="ruleForm.wyAddress" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item label="承租方电话:">
        <el-input v-model="ruleForm.leaserPhone" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item label="物业类型:">
        <el-input v-model="ruleForm.wyType" disabled></el-input>
      </el-form-item>
      <el-form-item label="催收电话:">
        <el-input v-model="ruleForm.collecPhone" disabled></el-input>
      </el-form-item>
      <el-form-item label="起租日期:">
        <el-date-picker v-model="ruleForm.startRentDate" type="date" style="width: 300px" value-format="yyyy-MM-dd" disabled />
      </el-form-item>
      <el-form-item label="止租日期:">
        <el-date-picker v-model="ruleForm.endRentDate" type="date" style="width: 300px" value-format="yyyy-MM-dd" disabled />
      </el-form-item>
      <el-form-item label="免租期限:">
        <el-input v-model="ruleForm.freeRent" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item label="合同附件:">
        <div class="detail-content">
          <ul v-if="
              ruleForm.filePaths &&
              ruleForm.filePaths instanceof Array &&
              ruleForm.filePaths.length > 0
            " class="u-filelist">
            <li v-for="(item, index) in ruleForm.filePaths" v-bind:key="index">
              <a :href="item.path || 'javascript:;'" target="_blank">{{
                item.fileName
              }}</a>
            </li>
          </ul>
          <div v-else>无</div>
        </div>
      </el-form-item>

      <!-- 缴费信息 -->
      <h1 class="pb30 fz15 pt50">
        <div class="bb pb3" style="border-width: 1px">
          <i class="line">|||</i>缴费信息
        </div>
      </h1>
      <h2 class="pl100 pb50 pt30 fz15">
        <span class="bb pb3 detial-title-color" style="border-width: 3px">账单基本信息</span>
      </h2>
      <el-form-item label="账期:">
        <el-input :value="ruleForm.billTime | formatDate1" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item label="账单状态:">
        <el-input v-model="ruleForm.billStatus" disabled></el-input>
      </el-form-item>
      <el-form-item label="预收款余额:">
        <el-input v-model="ruleForm.advanceCollection" disabled></el-input>
      </el-form-item>
      <el-form-item label="逾期天数:">
        <el-input v-model="ruleForm.overDay" disabled></el-input>
      </el-form-item>
      <el-form-item label="已缴滞纳金:">
        <el-input v-model="ruleForm.overduePayment" disabled></el-input>
      </el-form-item>
      <el-form-item class="form-item-col1-unit" label="待缴滞纳金:">
        <el-input v-model="ruleForm.waitPayment"></el-input><span class="unit">元</span>
      </el-form-item>

      <h2 class="pl100 pb50 pt30 fz15">
        <span class="bb pb3 detial-title-color" style="border-width: 3px">缴费信息</span>
      </h2>
      <el-form-item class="form-item-col1-unit" label="月租金:">
        <el-input v-model="ruleForm.monthlyRent" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <el-form-item class="form-item-col1-unit" label="已收缴月租金:">
        <el-input v-model="ruleForm.paidRent" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <el-form-item class="form-item-col1-unit" label="首期租金:">
        <el-input v-model="ruleForm.firstPhaseRent" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <div></div>
      <el-form-item class="form-item-col1-unit" label="应收金额:">
        <el-input v-model="ruleForm.amountReceivable" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <el-form-item class="form-item-col1-unit" label="实收金额:">
        <el-input v-model="ruleForm.actualCollection" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <el-form-item class="form-item-col1-unit" label="欠收金额:">
        <el-input v-model="ruleForm.oweAmount" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <div></div>
      <el-form-item class="form-item-col1-unit" label="租金差价:">
        <el-input v-model="ruleForm.diffRent" disabled></el-input><span class="unit">元</span>
      </el-form-item>
      <div></div>
      <el-form-item label="缴费方式:">
        <el-input v-model="ruleForm.paidMethod" disabled></el-input>
      </el-form-item>
      <el-form-item label="缴费时间:">
        <el-date-picker v-model="ruleForm.paidTime" type="date" style="width: 300px" value-format="yyyy-MM-dd" disabled />
      </el-form-item>
      <div></div>
      <el-form-item label="收款操作人:">
        <el-input v-model="ruleForm.collecPerson" disabled></el-input>
      </el-form-item>
      <div></div>
      <el-form-item class="form-item-col2" label="备注:">
        <el-input type="textarea" v-model="ruleForm.remark" rows="4"></el-input>
      </el-form-item>

      <!-- 缴费记录 -->
      <h1 class="pb30 fz15 pt50">
        <div class="bb pb3" style="border-width: 1px">
          <i class="line">|||</i>缴费记录
        </div>
      </h1>
      <section>
        <el-table :data="ruleForm.feeRecord" height="200px">
          <el-table-column type="index" label="序号" width="60"></el-table-column>
          <el-table-column label="收款日期" width="85">
            <template slot-scope="scope">
              <div>{{ scope.row.invoiceDate | formatDate1 }}</div>
            </template>
          </el-table-column>
          <el-table-column prop="collecPerson" label="收款操作人" width="85"></el-table-column>
          <el-table-column prop="project" label="收费项目"></el-table-column>
          <el-table-column label="计费周期" width="160px">
            <template slot-scope="scope">
              <div>
                {{ scope.row.startTime | formatDate1 }}至{{
                  scope.row.endTime | formatDate1
                }}
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="actualCollection" label="实收金额">
          </el-table-column>
          <el-table-column prop="paidMethod" label="收款方式">
            <template slot-scope="scope">
              {{ paidMethod[scope.row.paidMethod] }}
            </template>
          </el-table-column>
          <el-table-column prop="remark" label="备注"> </el-table-column>
        </el-table>
      </section>

      <!-- 发票管理 -->
      <h1 class="pb30 fz15 pt50">
        <div class="bb pb3" style="border-width: 1px">
          <i class="line">|||</i>发票管理
        </div>
      </h1>
      <el-form-item label="开票状态:">
        <el-input v-model="ruleForm.invoiceStatus" disabled></el-input>
      </el-form-item>
      <el-form-item label="开票日期:">
        <el-date-picker v-model="ruleForm.invoiceDate" disabled type="date" value-format="yyyy-MM-dd" />
      </el-form-item>
      <el-form-item label="发票编码:">
        <el-input v-model="ruleForm.invoiceCode" disabled></el-input>
      </el-form-item>
      <el-form-item label="开票操作人:">
        <el-input v-model="ruleForm.invoiceOperator" disabled></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button @click="openReceive">收 款</el-button>
      <el-button type="primary" @click="save">保 存</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { checkOrder, getCallRecord, save } from './request'
import { formatDate, formatDate1 } from '@/until/common'
import Title from '@/components/title.vue'
import UploadWps from '@/components/uploadWps.vue'
export default {
  components: {
    Title,
    UploadWps
  },
  filters: { formatDate, formatDate1 },
  data () {
    return {
      dialogFormVisible: false,
      paidMethod: {
        // 缴费方式
        1: '微信支付',
        2: '支付宝支付',
        3: 'post机刷卡',
        4: '转账',
        5: '柜台刷卡',
        6: '批扣',
        7: '其它'
      },
      ruleForm: {
        id: '',
        yyContractId: '',
        billTime: '',
        billStatus: '',
        advanceCollection: '',
        overDay: '',
        overduePayment: '',
        waitPayment: '',
        monthlyRent: '',
        paidRent: '',
        firstPhaseRent: '',
        diffRent: '',
        amountReceivable: '',
        actualCollection: '',
        oweAmount: '', // 欠收金额
        paidMethod: '',
        paidTime: '',
        paymentStatus: '',
        collecPerson: '',
        remark: '',
        invoiceStatus: 1,
        invoiceDate: '',
        invoiceCode: '',
        invoiceOperator: '',
        createTime: '',
        updateTime: '',
        userId: '',
        leaser: '',
        wyAddress: '',
        leaserPhone: '',
        collecPhone: '',
        contractId: '',
        templateType: '',
        startRentDate: '',
        endRentDate: '',
        freeRent: '',
        contractFilePathId: '',
        wyType: '',
        feeRecord: [],
        filePaths: []
      },
      pagelist: []
    }
  },
  mounted () { },
  methods: {
    show (name, data) {
      console.log(data)
      checkOrder(`?id=${data.id}&wyId=${data.wyId}`).then((res) => {
        let { allWordVo, feeRecord, filePaths } = res.data.data
        let fromData = { ...allWordVo, feeRecord, filePaths }
        let invoiceStatus = {
          1: '未开票',
          2: '已开票'
        }
        let billStatus = {
          1: '未缴费',
          2: '已缴费',
          3: '欠缴费 '
        }
        let paymentStatus = {
          1: '未缴费',
          2: '部分缴费',
          3: '已缴费',
          4: '欠缴费',
          5: '已补缴',
          6: '已缴费(预缴费转)'
        }
        let templateType = {
          1: '产业用房',
          2: '商业',
          3: '住宅',
          4: '南山软件园'
        }
        fromData.billStatus =
          allWordVo.billStatus &&
            Object.keys(billStatus).indexOf(allWordVo.billStatus + '') !== -1
            ? billStatus[allWordVo.billStatus]
            : ''
        fromData.paymentStatus =
          allWordVo.paymentStatus &&
            Object.keys(paymentStatus).indexOf(allWordVo.paymentStatus + '') !==
            -1
            ? paymentStatus[allWordVo.paymentStatus]
            : ''
        fromData.invoiceStatus =
          allWordVo.invoiceStatus &&
            Object.keys(invoiceStatus).indexOf(allWordVo.invoiceStatus + '') !==
            -1
            ? invoiceStatus[allWordVo.invoiceStatus]
            : ''
        fromData.templateType =
          allWordVo.templateType &&
            Object.keys(templateType).indexOf(allWordVo.templateType + '') !== -1
            ? templateType[allWordVo.templateType]
            : ''
        fromData.paidMethod =
          allWordVo.paidMethod &&
            Object.keys(this.paidMethod).indexOf(allWordVo.paidMethod + '') !== -1
            ? this.paidMethod[allWordVo.paidMethod]
            : ''
        fromData.oweAmount =
          (fromData.amountReceivable || 0) - (fromData.actualCollection || 0) // 欠收金额
        this.ruleForm = fromData
      })
      // let userId = sessionStorage.getItem('userId')
      getCallRecord(data.userId).then((res) => {
        console.log(res)
      })
      this.activeName = name
      this.dialogFormVisible = true
    },
    handleDetails (row) {
      window.location.href = row.path
    },
    cancel () {
      this.reset()
      this.dialogFormVisible = false
      this.$emit('close', false)
    },
    reset () {
      this.$refs['ruleForm'].resetFields()
    },
    save () {
      let params = {
        id: this.ruleForm.id,
        remark: this.ruleForm.remark,
        waitPayment: this.ruleForm.waitPayment
      }
      save(params).then((res) => {
        if (res.data.code === 0) {
          this.$message({
            showClose: true,
            message: '保存成功',
            type: 'success'
          })
        }
      })
    },
    // 进入收款页
    openReceive () {
      this.cancel()
      let billStatus = {
        '未缴费': 1,
        '已缴费': 2,
        '欠缴费': 3
      }
      this.$emit('open-receive', {
        id: this.ruleForm.id,
        billStatus: billStatus[this.ruleForm.billStatus]
      })
    }
  }
}
</script>
<style lang="less" scoped>
.u-filelist {
  font-size: 13px;
  margin-top: 5px;
  li {
    height: 25px;
    line-height: 25px;
    a {
      color: #5f88fc;
      transition: 0.2s all ease;
      &:hover {
        color: #84a3fa;
      }
    }
  }
}
.el-form-item {
  width: 500px;
}
/deep/.el-form-item__content .el-input__inner {
  width: 300px;
}
.form-item-col2 {
  width: auto;
  /deep/.el-input__inner,
  /deep/.el-textarea__inner {
    width: 815px;
  }
}
.form-item-col1-unit {
  /deep/.el-form-item__content {
    display: inline-flex;
  }
  // /deep/.el-input__inner,
  // /deep/.el-textarea__inner {
  //   width: 265px;
  // }
  .unit {
    margin-left: 10px;
    white-space: nowrap;
  }
}
.table-height-bill-3 {
  height: 300px;
  overflow: auto;
}
/deep/.el-input.is-disabled /deep/.el-input__inner {
  color: none;
}
/deep/.el-textarea.is-disabled /deep/.el-textarea__inner {
  color: none;
}
/deep/.el-table tr {
  cursor: pointer;
}
/deep/.el-table td {
  border-bottom: none;
  padding: 6px 0;
}
/deep/.el-table .cell {
  padding-left: 0;
}
</style>
