<template>
  <el-dialog :close-on-click-modal="false" title="查看详情" :width="'1200px'" :visible.sync="dialogFormVisible">
    <div class="user_body_right">
      <div class="right_header">
        <!-- 零散 -->
        <h2>{{this.title_name}}</h2>
      </div>
      <div class="right_headertwo">
        <el-radio-group v-model="radio">
          <el-radio-button label="1" @change.native="changColor(1)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;基础信息</el-radio-button>
          <el-radio-button label="2" @change.native="changColor(2)"><i class="el-icon-success" style="color:#5CB85C;"></i>&nbsp;运营信息</el-radio-button>
        </el-radio-group>
      </div>
      <div class="div_table">
        <div class="title_header">
          <span class="vertical-line"></span>
          <span class="name" id="1">基础信息</span>
        </div>
        <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
          <tr>
            <th>物业权属</th>
            <th>{{propertyTag_name}}</th>
            <th>权属所有人</th>
            <th>{{pagelist.belongPerson}}</th>
          </tr>
          <tr>
            <th>物业名称</th>
            <th>{{pagelist.name}}</th>
            <th>物业简称</th>
            <th>{{pagelist.shortName}}</th>
          </tr>
          <tr>
            <th>别名/曾用名</th>
            <th>{{pagelist.aliasName}}</th>
            <th>物业状态</th>
            <th>{{propertyStatus_name}}</th>
          </tr>
          <tr>
            <th>物业规模</th>
            <th colspan="3">{{propertyScale_name}}</th>
          </tr>
          <tr>
            <th>物业编号</th>
            <th colspan="3">{{pagelist.propertyCode}}</th>
          </tr>
          <tr class="realtr" valign="top">
            <th>物业简介</th>
            <th colspan="3" v-html="pagelist.propertyIntroduction"></th>
          </tr>
          <tr>
            <th>物业种类</th>
            <th>{{propertyType_name}}</th>
            <th>地址</th>
            <th>{{pagelist.address}}</th>
          </tr>
          <tr>
            <th>详情地址</th>
            <th colspan="3">{{pagelist.detailAddr}}</th>
          </tr>
          <tr>
            <th>建筑面积</th>
            <th colspan="3" align="left">{{pagelist.buildArea ? `${pagelist.buildArea}㎡` : ''}} </th>
          </tr>
          <tr v-if="isLabel">
            <th>物业规划用途</th>
            <th colspan="3" align="left">{{pagelist.propertyPlan}}</th>
          </tr>
          <tr v-if="isLabel">
            <th>物业标签</th>
            <th colspan="3" align="left">{{wy_tag}}</th>
          </tr>
          <tr>
            <th>物业来源</th>
            <th colspan="3" align="left">{{propertySource_name}}</th>
          </tr>
          <tr height="141px" valign="center" class="trimg">
            <th style="line-height:141px;">物业图片</th>
            <th colspan="3" align="left">
              <viewer :images="propertyImglist">
                <span v-for="(item,index) in propertyImglist" :key="index">
                  <img class="imgs" :src="[item.path]">
                </span>
              </viewer>
            </th>
          </tr>
        </table>
        <div class="title_header">
          <span class="vertical-line"></span>
          <span class="name" id="2">运营信息</span>
        </div>
        <table :data="pagelist" cellspacing="0" cellpadding="0" class="table">
          <tr>
            <th>运营方式</th>
            <th colspan="3">{{operatesTypeName}}</th>
          </tr>
          <tr v-if='isShow'>
            <th>管理单位</th>
            <th>{{operatesUnit}}</th>
            <th>运营单位项目组</th>
            <th>{{opreatesGroup}}</th>
          </tr>
        </table>
      </div>

    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="cancel">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { details } from '@/until/api.js'
import { formatDate1 } from '@/until/common'

export default {
  filters: {
    formatDate1
  },
  data () {
    return {
      id: '',
      dialogFormVisible: false,
      radio: '1',
      pagelist: [],
      pagesize: 10,
      currentPage: 1,
      title_name: '',
      propertyTag_name: '', // 物业标签
      propertyStatus_name: '', // 物业状态
      propertyScale_name: '', // 物业规模
      propertySource_name: '', // 物业来源
      propertyType_name: '', // 物业种类
      isShow: false,
      isPperate: false,
      operatesTypeName: '',
      operatesUnit: '',
      opreatesGroup: '',
      propertyImglist: [],
      wy_tag: '',
      isLabel: false
    }
  },
  // watch: {
  //   'id': function (newVal) {
  //     this.getDetails(newVal)
  //   }
  // },
  methods: {
    show () {
      this.dialogFormVisible = true
      this.getDetails(this.id)
    },
    getDetails (params) {
      details(params).then(res => {
        let {
          info,
          propertyStatus,
          propertyTag,
          propertyScale,
          propertySource,
          propertyType,
          propertyImg,
          wyTag
        } = res.data.data
        this.pagelist = info
        this.title_name = info.name
        this.propertyImglist = propertyImg
        this.isLabel = !!(Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name && (String(propertyTag[0].name) === '10'))
        this.propertyStatus_name = Array.isArray(propertyStatus) && (typeof propertyStatus[0] === 'object') && propertyStatus[0].name ? propertyStatus[0].name : ''
        this.propertyTag_name = Array.isArray(propertyTag) && (typeof propertyTag[0] === 'object') && propertyTag[0].name ? propertyTag[0].name : ''
        this.propertyScale_name = Array.isArray(propertyScale) && (typeof propertyScale[0] === 'object') && propertyScale[0].name ? propertyScale[0].name : ''
        this.handlePperate(info.operatesType)
        if (info.operatesUnitId) {
          this.handleOperatesUnit(info.operatesUnitId)
        }
        if (info.operatesUnitId && info.opreatesGroupId) {
          this.handleOpreatesGroup(info.operatesUnitId, info.opreatesGroupId)
        }
        this.propertySource_name = this.handleFilterData(propertySource)
        this.propertyType_name = this.handleFilterData(propertyType)
        this.wy_tag = this.handleFilterData(wyTag)
      })
    },
    handleFilterData (val) {
      let val_name = ''
      if (val && Array.isArray(val) && val.length > 0) {
        for (let i = 0; i < val.length; i++) {
          if (i === val.length - 1) {
            val_name += val[i].name
          } else {
            val_name += val[i].name + '、'
          }
        }
      }
      return val_name
    },
    handlePperate (val) {
      if (val === 1) {
        this.operatesTypeName = '自营'
        this.isPperate = false
        this.isShow = false
      } else if (val === 2) {
        this.operatesTypeName = '委托运营'
        this.isPperate = true
        this.isShow = true
      } else if (val === 3) {
        this.operatesTypeName = '其他管理单位'
        this.isPperate = false
        this.isShow = true
      }
    },
    changColor (val) {
      this.radio = String(val)
      document.getElementById(val).scrollIntoView()
    },
    cancel () {
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
