.parameter_mian {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*解决ios上滑动不流畅*/
    // -webkit-overflow-scrolling: touch;
    // scrollbar-width: none; /* firefox */
    // -ms-overflow-style: none; /* IE 10+ */
    .form-main{
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      .form-item{
        width: 230px;
        display: inline-block;
        margin-bottom: 16px;
        display: flex;
        .item-select{
          display: inline-block;
        }
      }
      .form-btn{
        width: 176px;
        display: flex;
        margin-left: 20px;
        /deep/.el-form-item__content{
          display: flex;
        }
      }
   
      /deep/.el-input__inner{
        height: 34px;
      }
      /deep/.el-form-item__label{
        display: inline-block;
        width: 112px;
        text-align: right;
        color: #fff;
        padding:0;
      }
    }
    /deep/.el-table--border::after, /deep/.el-table--group::after, /deep/.el-table::before{
      z-index: 4;
    }
    /deep/.el-table__empty-block{
      border-bottom:1px solid #ebeef5;
    }
    .table-list{
      height: calc(100vh - 216px);
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 6px;
      padding: 20px 16px;
      box-sizing: border-box;
      .table-btn{
        display: flex;
        margin-bottom: 20px;
      }
      .table-pagination{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .table{
      // height: calc(100vh - 330px);
      background-color: #fff;
      // overflow-y: scroll;
    }
    
  }
  
  