<template>
  <section class="project-container">
    <router-view />
    <div class="body-box" v-if="$route.path ==='/index/allBusiness/contractSignApply' || $route.path==='/index/shouldHandleBusiness/contractSignApply'">
      <div class="header" ref="ContentWidth" v-resize="resetTableHeight">
        <span> {{dialogForm.proName}}</span>
      </div>
      <div class="content-box">
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">流程进度</span>
            </div>
            <div class="right">
              <span class="right-num">受理号：{{dialogForm.acceptCode}}</span>
              <el-button type="primary" @click="showDialog('approve')">呈批表</el-button>
              <el-button type="primary" @click="showDialog('info')">流转信息</el-button>
            </div>
          </div>
          <div class="step">
            <div class="img-box">
              <img class="step-img" :src="base64Img">
            </div>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">合同管理</span>
            </div>
            <div class="right">
              <span style="margin-right:5px;">申请来源：{{selectSignSource[dialogForm.signSource]}}</span>
              <el-button v-if="dialogForm.webSignType==='2'" type="primary" @click="getLastContract">查看原合同</el-button>
            </div>
          </div>
          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">选择模板</div>
              <div class="tit-block"></div>
            </div>
            <div class="select-box">
              <div class="select">
                <div class="select-list">
                  <div>
                    产业用房
                  </div>
                  <div>
                    <el-radio-group v-model="radio" class="mutiple-radio">
                      <el-radio disabled :label="1">产业用房租赁合同3+2（有经验贡献率）</el-radio>
                      <el-radio disabled :label="2">产业用房租赁合同3+2（无经验贡献率）</el-radio>
                      <el-radio disabled :label="3">产业用房租赁合同（3年及3年以下）</el-radio>
                    </el-radio-group>
                  </div>
                </div>
                <div class="select-list">
                  <div>商业</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="4">商业租赁合同</el-radio>
                  </el-radio-group>
                </div>
                <div class="select-list">
                  <div>住宅</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="5">住宅租赁合同</el-radio>
                  </el-radio-group>
                </div>
                <div class="select-list">
                  <div>南山软件园</div>
                  <el-radio-group v-model="radio">
                    <el-radio disabled :label="6">南山软件园租赁合同</el-radio>
                  </el-radio-group>
                </div>
              </div>
              <div class="select-bottom">
                <el-button type="primary" @click="downLoadFile('notice')">下载租赁缴款通知单</el-button>
                <el-button type="primary" @click="downLoadFile('template')">下载合同模板</el-button>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">企业信息</div>
              <div class="tit-block"></div>
            </div>
            <el-form :model="dialogForm" ref="dialogForm">
              <el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="承租对象:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectLessee[dialogForm.leaseType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="签约类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectWebSignType[dialogForm.webSignType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="申请人类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectApplyType[dialogForm.legalApplication]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="承租方(乙方):" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.leaser" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="承租方证件类型:" prop="leaserDocumentType" :label-width="formLabelWidth">
                      <el-input v-model="selectLeaserType[dialogForm.leaserDocumentType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="承租方证件号码:" prop="leaserDocumentNumber" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.leaserDocumentNumber" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-form-item label="营业执照地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.leaseAddress" disabled></el-input>
                  </el-form-item>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="法定代表人:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="法定代表人联系方式:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="法定代表人证件类型:" :label-width="formLabelWidth" required>
                      <el-input v-model="selsectClientType[dialogForm.legalType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="法定代表人证件号码:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.legalCode" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-col>
                  <el-form-item label="法定代表人通讯地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.legalPersonContactAddress" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="联系人:" prop="contactPerson" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.contactPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="联系人电话:" prop="contactPhone" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.contactPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="dialogForm.legalApplication==2">
                  <el-col :span="12">
                    <el-form-item label="委托代理人:" prop="clientPerson" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientPerson" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="委托代理人联系方式:" prop="clientPhone" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientPhone" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="dialogForm.legalApplication==2">
                  <el-col :span="12">
                    <el-form-item label="委托代理人证件类型:" prop="clientType" :label-width="formLabelWidth" required>
                      <el-input v-model="selsectClientType[dialogForm.clientType]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="委托代理人证件号码:" prop="clientCode" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.clientCode" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-col v-if="dialogForm.legalApplication==2">
                  <el-form-item label="委托代理人通讯地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.clientPersonContactAddress" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-row>
                  <el-form-item label="备注:" prop="companyInfoRemark" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="dialogForm.companyInfoRemark" disabled></el-input>
                  </el-form-item>
                </el-row>
              </el-row>
            </el-form>

          </div>
          <div class="step">
            <div class="tit-box">
              <div class="tit-sec">租赁信息</div>
              <div class="tit-block"></div>
            </div>
            <el-form :rules="rules" :model="dialogForm" ref="dialogRentForm">
              <el-row>
                <el-row style="display:flex;align-items:center;">
                  <el-form-item label="出租物业地址:" :label-width="formLabelWidth" prop="leaseWyAddress" required>
                    <el-input v-model="dialogForm.leaseWyAddress" disabled></el-input>
                  </el-form-item>
                  <el-button v-if="dialogForm.canModify" style="margin-left:5px;margin-top:-12px;" size="mini" type="info" plain @click="showDialog('address')">点击选择</el-button>
                  <el-button style="margin-left:5px;margin-top:-12px;" type="primary" size="mini" plain @click="showDialog('hasaddress')">查看物业列表</el-button>
                </el-row>
                <el-row>
                  <el-col :span='12'>
                    <el-form-item prop="isEconomicCommitment" label="是否经济贡献承诺:" :label-width="formLabelWidth" required>
                      <el-radio-group :disabled="!dialogForm.canModify" @change="changeCommit" v-model="dialogForm.isEconomicCommitment">
                        <el-radio :disabled="!dialogForm.canModify" label="1">是</el-radio>
                        <el-radio :disabled="!dialogForm.canModify" label="2">否</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                  <el-col v-if="dialogForm.canModify" :span='12'>
                    <el-form-item prop="economicCommitment" v-if="dialogForm.isEconomicCommitment=='1'" label="经济贡献承诺:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.economicCommitment"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col v-else :span='12'>
                    <el-form-item v-if="dialogForm.isEconomicCommitment==1" label="经济贡献承诺:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.economicCommitment" disabled></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="指导价:" prop="guidePrice" :label-width="formLabelWidth">
                      <el-input maxlength="16" v-model="dialogForm.guidePrice" :disabled="!dialogForm.canModify">
                        <template slot="append">元/m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item v-if="dialogForm.canModify" label="折扣:" :label-width="formLabelWidth" prop="discount">
                      <el-select v-model="dialogForm.discount" placeholder="请选择">
                        <el-option v-for="item in discountArr" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item v-else label="折扣:" :label-width="formLabelWidth">
                      <el-input v-model="selectDiscount[dialogForm.discount]" :disabled="!dialogForm.canModify"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="是否拆分租金单价:" :label-width="formLabelWidth" required prop="splitRent">
                      <el-radio-group :disabled="!dialogForm.canModify" v-model="dialogForm.splitRent" @change="agreeChange">
                        <el-radio label="1">是</el-radio>
                        <el-radio label="2">否</el-radio>
                      </el-radio-group>
                      <div style="color:#E6A23C;">（注:当选择的出租物业地址多于两个时建议拆分）</div>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12" v-if="dialogForm.canModify">
                    <el-form-item prop="rentUnitPrice" v-if="dialogForm.splitRent==2" label="租金单价:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.rentUnitPrice" @input="changeMonthPrice">
                        <template slot="append">元/m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12" v-else>
                    <el-form-item v-if="dialogForm.splitRent==2" label="租金单价:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.rentUnitPrice" disabled>
                        <template slot="append">元/m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-form-item v-if="dialogForm.splitRent==1" label="拆分租金单价:" :label-width="formLabelWidth" required>
                  <div class="tableDate" style="padding:0px 0px 30px 0px;">
                    <div class="table">
                      <el-table :data="rentTableData" ref="applyTable" tooltip-effect="dark" border>
                        <el-table-column label="序号" type="index" align="center"></el-table-column>
                        <el-table-column label="物业名称" prop="wyName"></el-table-column>
                        <el-table-column label="租赁面积(m²)" prop="buildArea"></el-table-column>
                        <el-table-column label="租金单价(元/m²)" prop="rentPrice"></el-table-column>
                        <el-table-column label="月租金(元)" prop="monthlyRent"></el-table-column>
                        <el-table-column label="操作" align="center">
                          <template slot-scope="scope">
                            <el-button :disabled="!dialogForm.canModify" type="primary" class="handle-el-icon" @click="showDialog('edit',scope.row)">编辑</el-button>
                          </template>
                        </el-table-column>
                      </el-table>
                    </div>
                  </div>
                </el-form-item>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="月租金:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.monthlyRent" disabled>
                        <template slot="append">元</template>
                      </el-input>
                      &nbsp; <span style="color:#E6A23C;">（注:拆分租金单价时，为所有物业月租金总计，不拆分时则为当前物业的租赁面积与租金单价的乘积）</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="depositAmount" label="押金金额:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.depositAmount" :disabled="!dialogForm.canModify">
                        <template slot="append">元</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col v-if="dialogForm.canModify" :span="12">
                    <el-form-item prop="freeRent" label="免租期:" :label-width="formLabelWidth">
                      <el-select v-model="dialogForm.freeRent" placeholder="请选择">
                        <el-option v-for="item in freeRentArr" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col v-else :span="12">
                    <el-form-item label="免租期:" :label-width="formLabelWidth" required>
                      <el-input v-model="selectFreeRent[dialogForm.freeRent]" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="出租面积:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.rentalArea" disabled>
                        <template slot="append">m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="套内建筑面积:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.setArea" disabled>
                        <template slot="append">m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="公摊面积:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.pubArea" disabled>
                        <template slot="append">m²</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-form-item label="承租方通信地址:" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.leaseWyAddress" disabled>
                    </el-input>
                  </el-form-item>
                </el-row>
                <el-row>
                  <el-col :span='12'>
                    <el-form-item label="房屋编码:" :label-width="formLabelWidth" required>
                      <el-input v-model="dialogForm.houseCodes" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span='12'>
                    <el-form-item prop="houseOwnership" label="房屋权属情况:" :label-width="formLabelWidth">
                      <el-select :disabled="!dialogForm.canModify" v-model="dialogForm.houseOwnership" placeholder="请选择">
                        <el-option v-for="item in dialogForm.houseOwnerShipList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span='12'>
                    <el-form-item prop="partAHouseCredentials" label="甲方持有房屋证明文件:" :label-width="formLabelWidth">
                      <el-select :disabled="!dialogForm.canModify" clearable v-model="dialogForm.partAHouseCredentials" placeholder="请选择">
                        <el-option v-for="item in dialogForm.partAHouseCredentialsList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span='12'>
                    <el-form-item label="房屋所有证权或不动产权证书编号:" :label-width="formLabelWidth">
                      <el-input v-model="dialogForm.partAHouseCredentialsNumber" :disabled="!dialogForm.canModify"></el-input>
                      <span v-if="dialogForm.canModify" style="color:#E6A23C;">注:选择'房屋多有权证或不动产权证书'时，此项必填</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="租赁起始日期:" prop="startRentDate" :label-width="formLabelWidth">
                      <el-date-picker :disabled="!dialogForm.canModify" v-model="dialogForm.startRentDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
                      </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="租赁截止日期:" prop="endRentDate" :label-width="formLabelWidth">
                      <el-date-picker :disabled="!dialogForm.canModify" v-model="dialogForm.endRentDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
                      </el-date-picker>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="首期租金交付日期:" prop="firstRentTime" :label-width="formLabelWidth" required>
                      <el-date-picker :disabled="!dialogForm.canModify" v-model="dialogForm.firstRentTime" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
                      </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="firstRentMoney" label="首期租金交付金额" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.firstRentMoney" :disabled="!dialogForm.canModify">
                        <template slot="append">元</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <!-- v-if="dialogForm.canModify" -->
                    <el-form-item prop="leaseUse" label="房屋租赁用途:" :label-width="formLabelWidth" required>
                      <el-select :disabled="!dialogForm.canModify" v-model="dialogForm.leaseUse" placeholder="请选择">
                        <el-option v-for="item in dialogForm.leaseUseList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item prop="waterCharge" label="水费:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.waterCharge" :disabled="!dialogForm.canModify">
                        <template slot="append">元/吨</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="electricCharge" label="电费:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.electricCharge" :disabled="!dialogForm.canModify">
                        <template slot="append">元/度</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item prop="gasCharge" label="燃气费:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.gasCharge" :disabled="!dialogForm.canModify">
                        <template slot="append">元/m³</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="propertyManagementCharge" label="物业管理费:" :label-width="formLabelWidth" required>
                      <el-input maxlength="16" v-model="dialogForm.propertyManagementCharge" :disabled="!dialogForm.canModify">
                        <template slot="append">元/m²/月</template>
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="其他:" prop="otherCharge" :label-width="formLabelWidth">
                      <el-input maxlength="16" v-model="dialogForm.otherCharge" :disabled="!dialogForm.canModify">
                        <template slot="append">元</template>
                      </el-input>
                      &nbsp;<span>(详见物业管理公司收费明细)</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-row>
                    <el-form-item label="备注:" prop="remark" :label-width="formLabelWidth">
                      <el-input type="textarea" v-model="dialogForm.remark" :disabled="!dialogForm.canModify"></el-input>
                    </el-form-item>
                  </el-row>
                </el-row>

              </el-row>
            </el-form>
            <div v-if="dialogForm.canModify" style="text-align:center;display:inline-block;width:100%; padding:30px 0px;">
              <el-button type="primary" plain @click="saveRentMessage('dialogRentForm')" :disabled='btnSaveRequestDisabled'>保存已填租赁信息</el-button>
            </div>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">拟定合同内容</span>
            </div>
          </div>
          <div class="step">
            <div class="step-flex">
              <div class="left">
                <span class="title">合同附件</span>
                <UploadFile @buttonVisible="buttonVisible($event)" @getID="getUpdateData($event)" @event="changeWps($event)" :filesList="filesList" :limitFileArr="1" :businessId="businessId" buttonName="点击上传" ref="uploadFile"></UploadFile>
              </div>
              <div class="right">
                <el-button :disabled='contractButtonVisible' type="warning" @click="deleteFile">删除</el-button>
                <el-button :disabled='contractButtonVisible' type="primary" @click="downLoadFile('contract')">下载</el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="content-bottom">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申请材料</span>
            </div>
            <div class="right">
              <el-button :disabled='selectFileNum==0' type="primary" @click="packDownLoad">附件<span>({{selectFileNum}})</span>打包下载</el-button>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="applyFileList" ref="dialogForm" tooltip-effect="dark" border stripe @selection-change="handleSelectionChange">
                    <el-table-column type="selection" width="55" :selectable='displayISChecked'></el-table-column>
                    <el-table-column label="序号" type="index" align="center"></el-table-column>
                    <el-table-column label="材料名称" prop="name"></el-table-column>
                    <el-table-column label="文件大小" prop="fileSize">
                      <template slot-scope="scope">
                        <span>{{byteToChange(scope.row.fileSize)}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column label="审核状态" prop="status">
                      <template slot-scope="scope">
                        <span :style="scope.row.status==0?'':scope.row.status==1?colorY:colorN">{{selectStatus[scope.row.status]}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column label="材料审核指南" prop="guidelines"></el-table-column>
                    <el-table-column label="操作" align="center">
                      <template slot-scope="scope">
                        <el-button type="primary" @click="showDialog('see',scope.row)" :disabled="scope.row.sysFilePathList==null" class="handle-el-icon">查看</el-button>
                        <el-button :disabled="scope.row.sysFilePathList==null||scope.row.status!=='0'" type="primary" class="handle-el-icon" @click="passFile(scope.row)">材料通过</el-button>
                        <AddTableFile :businessId="scope.row.id" @getRefresh="getFileList" ref="addTableFile"></AddTableFile>
                        <el-button type="primary" :disabled="scope.row.sysFilePathList==null" class="handle-el-icon" @click="downLoadFile('apply',scope.row)">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div slot="footer" :style="{width: contentWidth}" class="bottom">
        <el-button @click="showDialog('send')">发送短信</el-button>
        <el-button @click="showDialog('end')">终止流程</el-button>
        <el-button v-if="this.dialogForm.canModify" @click="showDialog('fill')">材料补正意见</el-button>
        <el-button v-else @click="showDialog('back')">驳回</el-button>
        <el-button type="primary" @click="showDialog('examine')">审核通过</el-button>
      </div>
      <CirculationInfoForm v-if="circulationVisible" ref="CirculationInfoForm" />
      <ContractApprovalForm v-if="approvalFormVIsible" ref="approvalForm" />
      <EditDialog @close="editData($event)" :editData="editDialogData" v-if="editVisible" ref="EditDialog" />
      <SendMsg v-if="sendMsgVisible" ref="SendMsg" />
      <FileFillUp v-if="fillFillVisible" :fileTitleList="applyFileList" :businessId="businessId" ref="FileFillUp" @refresh='reflashTableList()' />
      <CheckProcess @backPage="backLastPage()" :formData="dialogForm" :businessId="businessId" :title="checkTitle" :label="checkLabel" v-if="checkProcessVisible" ref="CheckProcess" />
      <IframeFileSee :preViewType="preViewType" :preViewSrc="preViewSrc" :preApplyImg="preApplyImg" v-if="iframeFileSeeVisible" ref="IframeFileSee" />
      <SelectAddress v-if="selectAddressVisible" :businessId="businessId" :contractId="dialogForm.id" @close="operateSon($event)" ref="SelectAddress" />
    </div>
  </section>
</template>
<script>
import CirculationInfoForm from './secondDialog/circulationInfoForm.vue'
import ContractApprovalForm from './secondDialog/contractApprovalForm.vue'
import EditDialog from './secondDialog/editPriceDialog.vue'
import SendMsg from './secondDialog/sendMsg.vue'
import FileFillUp from './secondDialog/fileFillUp.vue'
import SelectAddress from './secondDialog/selectPropertyAddress.vue'
import IframeFileSee from './iframeDialog/index.vue'
import UploadFile from '@/components/uploadFile.vue'
import AddTableFile from './tableFileUpload/index.vue'
import objMixins from '../mixins/contractApplyMixins.js'
import CheckProcess from './secondDialog/checkProcess.vue'
import {
  businessHandle,
  getProcessImg,
  saveContract,
  getHandoverDetails,
  passApplyFile
} from '@/until/api.js'
import resize from '@/until/resize.js'

export default {
  mixins: [objMixins],
  props: ['dialogShow'],
  components: {
    CirculationInfoForm, ContractApprovalForm, EditDialog, SendMsg, FileFillUp, CheckProcess, UploadFile, IframeFileSee, SelectAddress, AddTableFile
  },
  // 自定义指令
  directives: {
    resize
  },
  data () {
    return {
      businessId: '',
      preApplyImg: '',
      // showViewer: false,
      btnSaveRequestDisabled: false,
      btnDelRequestDisabled: false,
      // 1452476796535693314,1452476861144752129
      formLabelWidth: '250px',
      contentWidthNum: '',
      colorY: { color: '#008000' },
      colorN: { color: 'red' },
      preViewType: '',
      preViewSrc: '',
      applyFileList: [],
      fileMultipleSelect: [],
      checkTitle: '',
      checkLabel: '',
      selectFileNum: 0,
      filesList: [],
      fileName: '',
      editDialogData: '',
      dialogForm: {
        houseOwnership: '',
        partAHouseCredentials: '',
        firstRentTime: ''
      },
      radio: '',
      base64Img: '',
      rentTableData: [],
      fileData: {},
      selectLeaseUse: {},
      selectPartHouse: {},
      selecthouseShip: {},
      url: '/zbkc/ON/K7/IT/H9/P8/35df252d3c8b40f2bcba8265c7a32232.docx'
    }
  },
  created () {
    // this.businessId = this.$route.query.id
    this.businessId = sessionStorage.getItem('businessId')
    this.getDataList()
  },
  computed: {
    contentWidth: function () {
      return this.contentWidthNum + 'px'
    }
  },
  methods: {
    // 动态计算底部导航栏的宽度
    resetTableHeight () {
      this.contentWidthNum = (this.$refs.ContentWidth).clientWidth - 20
    },
    getDataList () {
      this.getFormData()
      this.getPross()
      setTimeout(() => {
        this.getFileList()
        this.getPropertyList()
      }, 1000)
    },
    // 获取流程进度
    getPross () {
      getProcessImg(this.businessId).then(res => {
        this.base64Img = 'data:image/png;base64,' + res.data.data
      })
    },
    // 获取表单数据
    getFormData () {
      businessHandle(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
          // setTimeout(() => {
          //   this.backLastPage()
          // }, 10)
        } else {
          this.dialogForm = res.data.data
          if (this.dialogForm) {
            // this.dialogForm.canModify = !this.dialogForm.canModify// 租赁可编辑与否 测试
            this.dialogForm.businessId = this.businessId// id
            this.filesList = this.dialogForm.contractFiles// 已有合同文件父子传递
            if (this.dialogForm.contractFiles.length > 0) {
              this.contractButtonVisible = false
              this.$refs.uploadFile.fileId = this.dialogForm.contractFiles[0].id// 合同附件id
            }
            this.dialogForm.startRentDate = this.dialogForm.startRentDate ? this.formatDate(this.dialogForm.startRentDate) : ''// 租赁起止日期
            this.dialogForm.endRentDate = this.dialogForm.endRentDate ? this.formatDate(this.dialogForm.endRentDate) : ''// 租赁截止日期
            this.dialogForm.firstRentTime = this.dialogForm.firstRentTime ? this.formatDate(this.dialogForm.firstRentTime) : ''// 首期租金交付日期

            // 下拉选择数字对应数据的处理
            for (let item of this.dialogForm.partAHouseCredentialsList) {
              this.selectPartHouse[item.id] = item.name
            }
            for (let item of this.dialogForm.leaseUseList) {
              this.selectLeaseUse[item.id] = item.name
            }
            for (let item of this.dialogForm.houseOwnerShipList) {
              this.selecthouseShip[item.id] = item.name
            }
            // 模板匹配选择
            if (this.dialogForm.templateType === '1') {
              if (this.dialogForm.type === '1') {
                this.radio = 1
              } else if (this.dialogForm.type === '2') {
                this.radio = 2
              } else if (this.dialogForm.type === '3') {
                this.radio = 3
              }
            } else if (this.dialogForm.templateType === '2') {
              this.radio = 4
            } else if (this.dialogForm.templateType === '3') {
              this.radio = 5
            } else if (this.dialogForm.templateType === '4') {
              this.radio = 6
            }
          }
        }
      })
    },
    // 申请材料列表
    getFileList () {
      let obj = {
        businessId: this.businessId
      }
      getHandoverDetails(obj).then(res => {
        this.applyFileList = res.data.data
        this.getApplyFile()
      })
    },
    // 是否经济贡献承诺
    changeCommit (val) {
      this.dialogForm.isEconomicCommitment = val
      this.getFileList()
    },
    // 同意拆分
    agreeChange (val) {
      this.dialogForm.splitRent = val
      if (val !== '1') {
        // 不拆分时计算租金单价以及月租金
        this.dialogForm.rentUnitPrice = ''
        this.dialogForm.monthlyRent = ''
        this.changeUnitPrice()
      } else {
        this.getPropertyList()
      }
    },
    // 申请材料审核通过
    passFile (row) {
      passApplyFile(row.id).then(res => {
        if (res.data.code === 0) {
          this.$message({
            message: '审核成功',
            type: 'success'
          })
          this.getFileList()
        } else {
          this.$message.warning(res.data.errMsg)
        }
      })
    },
    // 保存租赁信息/提交审核
    saveRentMessage (ruleForm) {
      this.btnSaveRequestDisabled = true
      this.dialogForm.rentList = []
      let newArr = this.rentTableData.map(item => {
        return {
          wyBasicInfoId: item.id,
          wyName: item.wyName,
          price: item.rentPrice,
          area: item.buildArea,
          rent: item.monthlyRent
        }
      })
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          this.dialogForm.houseCodes = this.selectPropertyID.toString()// 房屋编码id
          this.dialogForm.rentList = newArr// 房屋租金单价
          saveContract(this.dialogForm).then(res => {
            this.btnSaveRequestDisabled = false
            if (res.data.code === 0) {
              this.$message({
                message: '保存成功',
                type: 'success'
              })
            } else {
              this.$message.warning(res.data.errMsg)
            }
          })
        } else {
          this.$alert('请完善租赁必填信息后再提交', '提示', {
            confirmButtonText: '确定'
          })
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
