<template>
  <!-- <div class="parameter_mian">
    <Breadcrumb></Breadcrumb> -->
  <section class="project-container">
    <div>
      <div class="header" ref="ContentWidth" v-resize="resetTableHeight">
        <span> {{dialogForm.proName}}</span>
      </div>
      <div class="content-box">
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">流程进度</span>
            </div>
            <div class="right">
              <el-button type="primary" @click="showDialog('info')">流转信息</el-button>
            </div>
          </div>
          <div class="step">
            <img class="step-img" :src="base64Img">
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申报信息</span>
            </div>
          </div>
          <div class="step">
            <el-form :model="dialogForm" ref="dialogForm" class="el_form">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="申报单位:" prop="applicantUnit." :label-width="formLabelWidth">
                    <el-input v-model="dialogForm.applicantUnit" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">用房移交详情</span>
            </div>
            <div class="right">
              <el-button type="primary" @click="onChanPage">附件<span>(0)</span>打包下载</el-button>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="dialogForm.ywHandoverDetailsPOList" ref="applyTable" tooltip-effect="dark" border stripe>
                    <el-table-column label="物业资产名称" prop="name" align="center" sortable></el-table-column>
                    <el-table-column label="建筑面积(㎡)" prop="area" align="center" sortable></el-table-column>
                    <el-table-column label="实际使用单位" prop="useUnit" align="center" sortable></el-table-column>
                    <el-table-column label="实际使用用途" prop="application" align="center" sortable></el-table-column>
                    <el-table-column label="使用起止时间" prop="useTime" align="center" sortable></el-table-column>
                    <el-table-column label="状态" prop="status" align="center" sortable></el-table-column>
                    <el-table-column label="是否核对" prop="verify" align="center" sortable></el-table-column>
                    <el-table-column label="操作">
                      <template slot-scope="scope">
                        <el-button type="primary" class="handle-el-icon" @click="showDialog('see',scope.row)">查看</el-button>
                        <el-button type="primary" class="handle-el-icon">审核通过</el-button>
                        <el-button type="primary" class="handle-el-icon">审核意见</el-button>
                        <el-button type="primary" class="handle-el-icon">上传</el-button>
                        <el-button type="primary" class="handle-el-icon">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                  <div class="block" style="text-align: right;margin: 20px;">
                    <el-pagination class="table-pagination" background :data="dialogForm.ywHandoverDetailsPOList" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10,15,20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
                    </el-pagination>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div class="content-bottom">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申请材料</span>
            </div>
            <div class="right">
              <el-button type="primary" @click="onChanPage">下载增减物业</el-button>
              <el-button type="primary" @click="onChanPage">下载物业申报表</el-button>
              <el-button type="primary" @click="onChanPage">下载办公用房信息表</el-button>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="applyFileList" ref="applyFileList" tooltip-effect="dark" border stripe>
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column label="序号" type="index" align="center"></el-table-column>
                    <el-table-column label="材料名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="文件大小" prop="fileSize" align="center"></el-table-column>
                    <el-table-column label="审核状态" prop="status" align="center">
                      <template slot-scope="scope">
                        <span :style="scope.row.status==0?'':scope.row.status==1?colorY:colorN">{{selectStatus[scope.row.status]}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column label="材料审核指南" prop="guidelines" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                      <template slot-scope="scope">
                        <el-button type="primary" :disabled="scope.row.handoverDetailsImgId==null" class="handle-el-icon" @click="showDialog('see',scope.row)">查看</el-button>
                        <el-button :disabled="scope.row.handoverDetailsImgId==null&&scope.row.status!=='1'" type="primary" class="handle-el-icon" @click="passFile(scope.row)">材料通过</el-button>
                        <AddTableFile :businessId="scope.row.id" @getRefresh="getFileList" ref="addTableFile"></AddTableFile>
                        <el-button type="primary" :disabled="scope.row.handoverDetailsImgId==null" class="handle-el-icon" @click="downLoadFile('apply',scope.row)">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div slot="footer" :style="{width: contentWidth}" class="bottom">
        <el-button @click="showDialog('send')">发送短信</el-button>
        <el-button @click="showDialog('end')">终止流程</el-button>
        <el-button @click="showDialog('fill')">材料补正</el-button>
        <el-button @click="showDialog('back')">驳回</el-button>
        <el-button type="primary" @click="showDialog('examine')">审核通过</el-button>
      </div>

      <CirculationInfoForm v-if="circulationVisible" ref="CirculationInfoForm" />
      <SendMsg v-if="sendMsgVisible" ref="SendMsg" />
      <FileFillUp v-if="fillFillVisible" :fileTitleList="applyFileList" :businessId="businessId" ref="FileFillUp" @refresh='reflashTableList()' />
      <CheckProcess @backPage="backLastPage()" :formData="dialogForm" :businessId="businessId" :title="checkTitle" :label="checkLabel" v-if="checkProcessVisible" ref="CheckProcess" />
      <IframeFileSee :preViewType="preViewType" :preViewSrc="preViewSrc" v-if="iframeFileSeeVisible" ref="IframeFileSee" />
    </div>
  </section>
  <!-- </div> -->

</template>
<script>
import { businessHandle, getProcessImg, getHandoverDetails } from '@/until/api.js'
import Breadcrumb from '@/components/BreadCrum/index.vue'
import CirculationInfoForm from './secondDialog/circulationInfoForm.vue'
import SendMsg from './secondDialog/sendMsg.vue'
import FileFillUp from './secondDialog/fileFillUp.vue'
import CheckProcess from './secondDialog/checkProcess.vue'
import IframeFileSee from './iframeDialog/index.vue'
import resize from '@/until/resize.js'

export default {
  props: ['dialogShow'],
  components: {
    CirculationInfoForm, IframeFileSee, SendMsg, FileFillUp, CheckProcess, Breadcrumb
  },
  directives: {
    resize
  },
  data () {
    return {
      businessId: '',
      circulationVisible: false,
      checkProcessVisible: false,
      editVisible: false,
      sendMsgVisible: false,
      fillFillVisible: false,
      iframeFileSeeVisible: false,
      formLabelWidth: '126px',
      checkTitle: '',
      checkLabel: '',
      contentWidthNum: '',
      reportingUnit: '',
      base64Img: '',
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      dialogForm: {},
      applyFileList: [],
      preViewType: '',
      preViewSrc: ''
    }
  },

  created () {
    // this.businessId = this.$route.query.id
    this.businessId = sessionStorage.getItem('businessId')
    this.getDataList()
    this.getPross()
    this.getFileList()
  },
  computed: {
    contentWidth: function () {
      return this.contentWidthNum + 'px'
    }
  },
  methods: {
    // 获取表单数据
    getDataList () {
      businessHandle(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
          // setTimeout(() => {
          //   this.backLastPage()
          // }, 10)
        } else {
          this.dialogForm = res.data.data
        }
      })
    },
    // 获取流程进度
    getPross () {
      getProcessImg(this.businessId).then(res => {
        this.base64Img = 'data:image/png;base64,' + res.data.data
      })
    },
    // 申请材料列表
    getFileList () {
      let obj = {
        businessId: this.businessId
      }
      getHandoverDetails(obj).then(res => {
        this.applyFileList = res.data.data
      })
    },
    // 返回上一页
    backLastPage () {
      if (this.$route.query.mark === 'should') {
        this.$router.push({ name: 'shouldHandleBusiness', params: { agencyType: '3' } })
      } else {
        this.$router.push({ name: 'allBusiness', params: { agencyType: '3' } })
      }
    },
    dialogClosed () {
      this.$emit('changeShow', false)
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.handleTable()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.handleTable()
    },
    // 材料补正提交后刷新列表审核状态变为未审核
    reflashTableList () {
      this.getFileList()
    },
    showDialog (mark, data) {
      const actions = {
        'info': () => {
          this.circulationVisible = true
          this.$nextTick(() => {
            this.$refs.CirculationInfoForm.show()
            this.$refs.CirculationInfoForm.title = '物业资产申报流转信息'
            this.$refs.CirculationInfoForm.businessId = this.businessId
          })
        },
        'approve': () => {
          this.approvalFormVIsible = true
          this.$nextTick(() => {
            this.$refs.approvalForm.businessId = this.businessId
            this.$refs.approvalForm.show()
          })
        },
        'edit': () => {
          this.editVisible = true
          this.$nextTick(() => {
            this.$refs.EditDialog.show()
          })
        },
        'send': () => {
          this.sendMsgVisible = true
          this.$nextTick(() => {
            this.$refs.SendMsg.show()
          })
        },
        'fill': () => {
          this.fillFillVisible = true
          this.$nextTick(() => {
            this.$refs.FileFillUp.show()
          })
        },
        'examine': () => {
          this.checkProcessVisible = true
          this.$nextTick(() => {
            this.$refs.CheckProcess.show()
          })
        },
        'end': () => {
          this.checkTitle = '终止流程'
          this.checkLabel = '终止意见'
          this.checkProcessVisible = true
          this.$nextTick(() => {
            this.$refs.CheckProcess.show()
          })
        },
        'back': () => {
          this.checkTitle = '驳回'
          this.checkLabel = '驳回意见'
          this.checkProcessVisible = true
          this.$nextTick(() => {
            this.$refs.CheckProcess.show()
          })
        }
      }
      actions[mark]()
    },
    onChanPage (mark) {
      if (mark === 'circle') {
        this.$router.push('circulationInfoForm')
      }
    },
    resetTableHeight () {
      this.contentWidthNum = (this.$refs.ContentWidth).clientWidth - 20
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
