<template>
  <section class="project-container">
    <div>
      <div class="header" ref="ContentWidth" v-resize="resetTableHeight">
        <span> {{dialogForm.proName}}</span>
      </div>
      <div class="content-box">
        <div class="step-box">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">流程进度</span>
            </div>
            <div class="right">
              <span class="right-num">受理号：xxxxxxxxxxxxxxx</span>
              <el-button type="primary" @click="showDialog('approve')">呈批表</el-button>
              <el-button type="primary" @click="showDialog('info')">流转信息</el-button>
            </div>
          </div>
          <div class="step">
            <img class="step-img" :src="base64Img">
          </div>
        </div>
        <div class="basic-message">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">基本信息</span>
            </div>
          </div>
          <div class="step">
            <div>
              <div class="tit-box">
                <div class="tit-sec">开发商信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm" class="el_form">
                <el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="申请单位:" prop="unit" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.unit" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系电话:" prop="phone" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.phone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="信用代码:" prop="code" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.code" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <div>
                    <Address level="5" isVillage="1" isDisabled="false" isDisabledAdd="false" isRequired="false" :addressArr="dialogForm.address" :detailAddr="dialogForm.detailAddr"></Address>
                  </div>
                </el-row>
              </el-form>
            </div>
            <div>
              <div class="tit-box">
                <div class="tit-sec">代理人信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm" class="el_form">
                <el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="法定代表人:" prop="legalName" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.legalName" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="法定代表人电话:" prop="legalPhone" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.legalPhone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="法定代表人证件类型:" prop="legalType" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.legalType" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="法定代表人证件号码:" prop="legalCode" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.legalCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="委托代理人:" prop="agentName" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agentName" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="委托代理人手机号码:" prop="agentPhone" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agentPhone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="委托代理人身份类型:" prop="agentType" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agentType" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="委托代理人身份证号:" prop="agentCode" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agentCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </el-row>
              </el-form>
            </div>
            <div>
              <div class="tit-box">
                <div class="tit-sec">土地信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm" class="el_form">
                <el-row>
                  <el-form-item label="项目名称:" prop="projectName" :label-width="formLabelWidth">
                    <el-input v-model="dialogForm.projectName" disabled></el-input>
                  </el-form-item>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="土地合同号:" prop="contractCode" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.contractCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="合同签订日期:" prop="contractTime" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="补充协议号:" prop="agreementCode" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agreementCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="协议签订日期:" prop="contractSignTime" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.contractSignTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-col>
                    <el-col :span="12">
                      <el-form-item label="用地规划许可证号:" prop="planPermitCode" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.planPermitCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-col>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="区政府同意规划条件的函:" prop="governmentPlan" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.governmentPlan" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="签发日期:" prop="issueTime" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.issueTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="项目实施监管协议:" prop="agreement" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.agreement" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="宗地号:" prop="parcelNo" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.parcelNo" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="建筑面积:" prop="buildArea" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.buildArea" disabled></el-input>
                        &nbsp;<span>(m²)</span>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="用地面积:" prop="landArea" :label-width="formLabelWidth">
                        <el-input v-model="dialogForm.landArea" disabled></el-input>
                        &nbsp;<span>(m²)</span>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <div>
                    <Address level="5" isVillage="1" isDisabled="true" isDisabledAdd="true" isRequired="false" :detailAddr="dialogForm.detailAddress"></Address>
                  </div>
                </el-row>
              </el-form>
            </div>
          </div>
        </div>
        <div class="use-detail">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">用房移交详情</span>
            </div>
          </div>
          <div class="step">
            <template>
              <section class="project-table">
                <el-table border :data="tableData" :span-method="objectSpanMethod">
                  <el-table-column prop="type" label="物业种类" width="60"></el-table-column>
                  <el-table-column prop="user" label="具体用途" width="180"></el-table-column>
                  <el-table-column prop="constract" label="楼梯结构形式"> </el-table-column>
                  <el-table-column prop="allHeight" label="楼梯总高度(M)"> </el-table-column>
                  <el-table-column prop="allLayer" label="楼梯总层数"> </el-table-column>
                  <el-table-column prop="allArea" label="总建筑面积(M²)"> </el-table-column>
                  <el-table-column prop="date" label="计划移交时间"> </el-table-column>
                  <el-table-column prop="period" label="期数"> </el-table-column>
                  <el-table-column prop="buildingNum" label="栋号"> </el-table-column>
                  <el-table-column prop="layerNum" label="层数"> </el-table-column>
                  <el-table-column prop="roomNum" label="房号"> </el-table-column>
                  <el-table-column prop="area" label="建筑面积(M²)"> </el-table-column>
                  <el-table-column prop="currentHeight" label="本层层高(M)"> </el-table-column>
                  <el-table-column prop="currentElevatorNum" label="本层可用电梯数量"> </el-table-column>
                  <el-table-column prop="elevatorLoad" label="电梯载荷(KG)"> </el-table-column>
                  <el-table-column prop="clearHeight" label="装修面净高(M)"> </el-table-column>
                  <el-table-column prop="designLoad" label="设计荷载(kN/m²)"> </el-table-column>
                  <el-table-column prop="isBarrierFree" label="是否设置无障碍电梯"> </el-table-column>
                </el-table>
                <div>备注：---</div>
              </section>
            </template>
          </div>
        </div>
        <div class="content-bottom">
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申请材料</span>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="applyTable" ref="applyTable" tooltip-effect="dark" border stripe>
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column label="序号" type="index" align="center"></el-table-column>
                    <el-table-column label="材料名称" prop="materiaryName"></el-table-column>
                    <el-table-column label="文件大小" prop="fileScale"></el-table-column>
                    <el-table-column label="审核状态" prop="status"></el-table-column>
                    <el-table-column label="材料审核指南" prop="intruduce"></el-table-column>
                    <el-table-column label="操作" align="center">
                      <template slot-scope="scope">
                        <el-button type="primary" class="handle-el-icon" @click="showDialog('see',scope.row)">查看</el-button>
                        <el-button type="primary" class="handle-el-icon">审核通过</el-button>
                        <el-button type="primary" class="handle-el-icon">审核意见</el-button>
                        <el-button type="primary" class="handle-el-icon">上传</el-button>
                        <el-button type="primary" class="handle-el-icon">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div slot="footer" :style="{width: contentWidth}" class="bottom">
        <el-button @click="showDialog('send')">发送短信</el-button>
        <el-button @click="showDialog">终止流程</el-button>
        <el-button @click="showDialog('fill')">材料补正</el-button>
        <el-button @click="showDialog">驳回</el-button>
        <el-button type="primary" @click="showDialog('examine')">审核通过</el-button>
      </div>

      <CirculationInfoForm v-if="circulationVisible" ref="circulationInfoForm" />
      <TransferApprovalForm v-if="approvalFormVisible" ref="approvalForm" />
      <EditDialog v-if="editVisible" ref="EditDialog" />
      <SendMsg v-if="sendMsgVisible" ref="SendMsg" />
      <FileFillUp v-if="fillFillVisible" ref="FileFillUp" />
      <CheckProcess v-if="checkProcessVisible" ref="CheckProcess" />

    </div>
  </section>
</template>
<script>
import Address from '@/components/address.vue'
import CirculationInfoForm from './secondDialog/circulationInfoForm.vue'
import TransferApprovalForm from './secondDialog/transferApprovalForm.vue'
import EditDialog from './secondDialog/editPriceDialog.vue'
import SendMsg from './secondDialog/sendMsg.vue'
import FileFillUp from './secondDialog/fileFillUp.vue'
import CheckProcess from './secondDialog/checkProcess.vue'
import { businessHandle, getProcessImg } from '@/until/api.js'
import resize from '@/until/resize.js'

export default {
  props: ['dialogShow'],
  components: {
    Address, CirculationInfoForm, TransferApprovalForm, EditDialog, SendMsg, FileFillUp, CheckProcess
  },
  directives: {
    resize
  },
  data () {
    return {
      businessId: '',
      circulationVisible: false,
      approvalFormVisible: false,
      editVisible: false,
      sendMsgVisible: false,
      fillFillVisible: false,
      checkProcessVisible: false,
      formLabelWidth: '126px',
      contentWidthNum: '',
      dialogForm: {},
      base64Img: '',

      tableData: [],
      applyTable: [{
        materiaryName: '开发授权五件套',
        fileScale: '12.3M',
        status: '待审核',
        intruduce: 'xxxxx'
      },
      {
        materiaryName: '开发授权五件套',
        fileScale: '12.3M',
        status: '待审核',
        intruduce: 'xxxxx'
      }
      ]
    }
  },

  created () {
    // this.businessId = this.$route.query.id
    this.businessId = sessionStorage.getItem('businessId')
    this.getDataList()
  },

  computed: {
    contentWidth: function () {
      return this.contentWidthNum + 'px'
    }
  },
  methods: {
    resetTableHeight () {
      this.contentWidthNum = (this.$refs.ContentWidth).clientWidth - 20
    },
    getDataList () {
      this.getFormData()
      this.getProcess()
    },
    // 表单数据
    getFormData () {
      businessHandle(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
          // setTimeout(() => {
          //   this.backLastPage()
          // }, 10)
        } else {
          this.dialogForm = res.data.data
          this.dialogForm.contractTime = this.formatDate(this.dialogForm.contractTime)
          this.dialogForm.contractSignTime = this.formatDate(this.dialogForm.contractSignTime)
          this.dialogForm.issueTime = this.formatDate(this.dialogForm.issueTime)
        }
      })
    },
    // 流程进度
    getProcess () {
      getProcessImg(this.businessId).then(res => {
        this.base64Img = 'data:image/png;base64,' + res.data.data
      })
    },
    // 无数据直接返回
    backLastPage () {
      if (this.$route.query.mark === 'should') {
        this.$router.push({ name: 'shouldHandleBusiness', params: { agencyType: '3' } })
      } else {
        this.$router.push({ name: 'allBusiness', params: { agencyType: '3' } })
      }
    },
    // 表格拆分
    objectSpanMethod ({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0) {
        if (rowIndex % 2 === 0) {
          return {
            rowspan: 2,
            colspan: 1
          }
        } else {
          return {
            rowspan: 0,
            colspan: 0
          }
        }
      }
    },
    // 打开弹框或新页面
    showDialog (mark) {
      const actions = {
        'info': () => {
          this.circulationVisible = true
          this.$nextTick(() => {
            this.$refs.circulationInfoForm.title = '用房移交申请流转信息'
            this.$refs.circulationInfoForm.businessId = this.businessId
            this.$refs.circulationInfoForm.show()
          })
        },
        'approve': () => {
          this.approvalFormVisible = true
          this.$nextTick(() => {
            this.$refs.approvalForm.businessId = this.businessId
            this.$refs.approvalForm.show()
          })
        },
        'edit': () => {
          this.editVisible = true
          this.$nextTick(() => {
            this.$refs.EditDialog.show()
          })
        },
        'send': () => {
          this.sendMsgVisible = true
          this.$nextTick(() => {
            this.$refs.SendMsg.show()
          })
        },
        'fill': () => {
          this.fillFillVisible = true
          this.$nextTick(() => {
            this.$refs.FileFillUp.show()
          })
        },
        'examine': () => {
          this.checkProcessVisible = true
          this.$nextTick(() => {
            this.$refs.CheckProcess.show()
          })
        }
      }
      actions[mark]()
    },
    // 时间戳转化成日期
    formatDate (dataStr) {
      var time = new Date(dataStr)
      function timeAdd0 (str) {
        if (str < 10) {
          str = '0' + str
        }
        return str
      }
      var y = time.getFullYear()
      var m = time.getMonth() + 1
      var d = time.getDate()
      var h = time.getHours()
      var mm = time.getMinutes()
      var s = time.getSeconds()
      return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' +
        timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s)
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
