<template>
  <div class="parameter_mian">
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="物业名称：" class="form-item">
          <el-input v-model="form.wyName" style="min-width:140px;" placeholder="请输入物业名称" clearable @clear='parameterlist'></el-input>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="parameterlist">查询</el-button>
          <el-button type="primary" @click="handleReset" style="margin-left:14px;">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table">
        <el-table :data="pagelist" border style="width: 100%">
          <el-table-column type="index" label="序号" align="center" width="60px"></el-table-column>
          <el-table-column prop="wyName" label="物业名称" align="center"></el-table-column>
          <el-table-column prop="buildArea" label="建筑面积(㎡)" align="center"></el-table-column>
          <el-table-column prop="usedArea" label="已使用面积（㎡）" align="center"></el-table-column>
          <el-table-column prop="emptyArea" label="空置面积（㎡）" align="center"></el-table-column>
          <el-table-column label="操作" align="center" width="240px" fixed="right">
            <template slot-scope="scope">
              <el-button type="primary" @click="showDisposalDialog(scope.row.id)" size="mini">查看楼层</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="form.p" :page-size="form.size" :page-sizes="[10,15,20]" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>
    <div>
    </div>
    <el-dialog
       title="楼栋列表"
       :visible.sync="dialogVisible"
       width="60%"
       top="10vh"
       >
       <FoolList v-if="dialogVisible" :buildId='buildId'></FoolList>
      </el-dialog>
  </div>
</template>
<script>
import {buildData} from './request.js'
import FoolList from './floorList.vue'
export default {
  components: {FoolList},
  props: ['listId'],
  data () {
    return {
      form: {
        id: '',
        wyName: '',
        p: 1,
        size: 10
      },
      buildId: '',
      dialogVisible: false,
      pagelist: [],
      totalNum: 0
    }
  },
  created () {
    this.form.id = this.listId
    this.parameterlist()
  },

  methods: {

    // 查看
    showDisposalDialog (data) {
      this.dialogVisible = true
      this.buildId = data
    },

    handleReset () {
      this.id = ''
      this.wyName = ''
      this.p = 1
      this.size = 10
      this.parameterlist()
    },

    parameterlist () {
      let params = `?id=${this.form.id}${this.form.wyName ? '&wyName=' + this.form.wyName : ''}&p=${this.form.p}&size=${this.form.size}`
      buildData(params).then(res => {
        if (res.data.code === 0) {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
        }
      })
    },

    handleSizeChange (size) {
      this.form.size = size
      this.parameterlist()
    },

    handleCurrentChange (currentPage) {
      this.form.p = currentPage
      this.parameterlist()
    }
  }
}
</script>

<style lang="less" scoped>
.parameter_mian {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    .table-list{
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 6px;
      box-sizing: border-box;
      .table-btn{
        display: flex;
        margin-bottom: 20px;
      }
      .table-pagination{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .table{
      // height: calc(100vh - 330px);
      background-color: #fff;
      // overflow-y: scroll;
    }
    .form-item{
        margin-right: 14px;
    }
    /deep/.el-form-item__label{
        padding: 0 !important;
    }
    /deep/.el-table__empty-block{
      border-bottom: 1px solid #ebeef5;
    }
    /deep/.el-dialog__body{
      padding: 20px;
    }
  }
</style>
