<template>
  <el-dialog :title="dialog_name" :width="'1150px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <div class="content-body">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="form-body">
        <el-row>
          <el-form-item label="资产名称:" prop="wyBasicInfoId" :label-width="formLabelWidth">
            <el-select v-model="ruleForm.wyBasicInfoId" placeholder="请选择" style="width:880px" :disabled="dialog_name!='新增资产入账'">
              <el-option v-for="(item,index) in wyName" :key="index" :label="item.unitName" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="入账类型:" prop="entryType" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.entryType" placeholder="请选择" style="width:420px" @change="$forceUpdate()" :disabled="mark=='see'">
                <el-option v-for="item in selectTypeList" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="入账金额:" prop="entryMoney" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="ruleForm.entryMoney" :disabled="mark=='see'">
                <template slot="append"> 元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="入账时间:" prop="entryTime" :label-width="formLabelWidth">
              <el-date-picker v-model="ruleForm.entryTime" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="附件材料:" :label-width="formLabelWidth">
            <div class="file-item">
              <div class="lb">南山区政府产权登记表</div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsOne($event)" :filesList="propertyRegistrationFile"></UploadWps>
            </div>
            <div class="file-item">
              <div class="lb">发改立项批复</div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsTwo($event)" :filesList="projectApprovalFile"></UploadWps>
            </div>
            <div class="file-item">
              <div class="lb">财政批复</div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsThree($event)" :filesList="financialApprovalFile"></UploadWps>
            </div>
            <div class="file-item">
              <div class="lb">审计报告</div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsFour($event)" :filesList="auditReportFile"></UploadWps>
            </div>
            <div class="file-item">
              <div class="lb">其他材料</div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsFive($event)" :filesList="otherMaterialsFile"></UploadWps>
            </div>
            <div class="file-item">
              <el-button type="primary" :disabled="isView" @click="addCustomFile">添加自定义附件</el-button>
            </div>
            <div v-for="(item,index) in fileTarget" :key="index" class="file-item">
              <div class="lb">
                <el-input class="file-label" placeholder="自定义名称" v-model="item.name" :disabled="isView"></el-input>
              </div>
              <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsSix($event,index)" :filesList="item.files" isEdit="edit"></UploadWps>
              <el-button :disabled="isView" type="danger" @click="delCustomFile(index)" style="height:30px">删除</el-button>
            </div>
          </el-form-item>
          <!-- <el-form-item v-else label="附件材料:" :label-width="formLabelWidth">
            <div class="view-file" v-if="propertyRegistrationFile.length>0">
              <div class="lb">
                <span>南山区政府产权登记表:</span>
                <div v-for="item in propertyRegistrationFile" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
            <div class="view-file" v-if="projectApprovalFile.length>0">
              <div class="lb">
                <span>发改立项批复:</span>
                <div v-for="item in projectApprovalFile" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
            <div class="view-file" v-if="financialApprovalFile.length>0">
              <div class="lb">
                <span>财政批复:</span>
                <div v-for="item in financialApprovalFile" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
            <div class="view-file" v-if="auditReportFile.length>0">
              <div class="lb">
                <span>审计报告:</span>
                <div v-for="item in auditReportFile" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
            <div class="view-file" v-if="otherMaterialsFile.length>0">
              <div class="lb">
                <span>其他材料:</span>
                <div v-for="item in otherMaterialsFile" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
            <div v-for="(item,index) in fileTarget" :key="index" class="view-file">
              <div class="lb">
                <span>{{item.name}}:</span>
                <div v-for="item in item.files" :key="item.id" class="file-label">
                  <a :href="item.path" target="_self">{{item.fileName}}</a>
                </div>
              </div>
            </div>
          </el-form-item> -->
        </el-row>

      </el-form>
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit" :disabled="btnRequestDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import {
  addEntry,
  selectTag,
  allProRight,
  listId,
  update
} from './request'
import { formatDate1 } from '@/until/common'
import UploadWps from '@/components/uploadWps.vue'
export default {
  components: {
    UploadWps
  },
  data () {
    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }
    return {
      dialog_name: '',
      isView: false,
      isDel: false,
      btnRequestDisabled: false,
      dialogFormVisible: false,
      formLabelWidth: '120px',
      requestData: {},
      mark: '',
      currentListId: '',
      propertyRegistrationFile: [], // 南山区政府产权登记表
      projectApprovalFile: [], // 发改立项
      financialApprovalFile: [], // 财政批复
      auditReportFile: [], // 审批报告
      otherMaterialsFile: [], // 其他材料
      fileTarget: [], // 自定义附件
      wyName: [],
      selectTypeList: [],
      ruleForm: {
        entryMoney: '',
        wyBasicInfoId: '',
        entryTime: '',
        entryType: '',
        id: ''
      },
      rules: {
        wyBasicInfoId: [
          { required: true, message: '请选择参数名称', trigger: 'change' }
        ],
        entryTime: [
          { required: true, message: '请输入入账时间', trigger: 'blur' }
        ],
        entryType: [
          { required: true, message: '请选择入账类型', trigger: 'change' }
        ],
        entryMoney: [
          { required: true, message: '请输入入账金额', trigger: 'blur' },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ]
      }
    }
  },
  filters: {
    formatDate1
  },
  methods: {
    show (name, data) {
      this.getSelectList()
      this.resetForm()
      if (name === 'see') {
        this.isDel = true
        this.isView = true
      } else {
        this.isDel = false
        this.isView = false
      }
      if (name !== 'add') {
        this.resetDialogForm(data)
      }
      if (data) {
        this.currentListId = data.id
      }
      this.dialog_name = name === 'add' ? '新增资产入账' : name === 'see' ? '入账详情' : '编辑资产入账'
      this.mark = name
      this.dialogFormVisible = true
    },
    // 新增时重置表单
    resetForm () {
      this.$nextTick(() => {
        if (this.$refs.ruleForm !== undefined) {
          this.$refs.ruleForm.resetFields()
        }
      })
      this.propertyRegistrationFile = []
      this.projectApprovalFile = []
      this.financialApprovalFile = []
      this.auditReportFile = []
      this.otherMaterialsFile = []
      this.fileTarget = []
      this.isView = false
      this.isDel = false
    },
    // 数据字典数据
    getSelectList () {
      // 所有物业名称
      allProRight().then(res => {
        if (res.data.data.length > 1000) {
          this.wyName = res.data.data.slice(0, 1000)
        } else {
          this.wyName = JSON.parse(JSON.stringify(res.data.data))
        }
      })
      // 入账类型
      selectTag('entry_type').then(res => {
        this.selectTypeList = res.data.data
      })
    },
    // 查看和编辑展示已有数据
    resetDialogForm (data) {
      listId(data.id).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          let params = res.data.data.wyAssetEntry
          this.ruleForm = params
          this.ruleForm.entryType = res.data.data.entryType ? res.data.data.entryType.id : ''
          this.ruleForm.entryTime = formatDate1(params.entryTime)
          this.ruleForm.custRightFile = res.data.data.custRightFile
          this.otherMaterialsFile = res.data.data.otherMaterialsFile
          this.auditReportFile = res.data.data.auditReportFile
          this.financialApprovalFile = res.data.data.financialApprovalFile
          this.propertyRegistrationFile = res.data.data.propertyRegistrationFile
          this.projectApprovalFile = res.data.data.projectApprovalFile
          let propertyRegistrationFile = []
          let projectApprovalFile = []
          let otherMaterialsFile = []
          let financialApprovalFile = []
          let auditReportFile = []
          let files = []
          if (this.ruleForm.custRightFile) {
            for (var name in this.ruleForm.custRightFile) {
              files.push({ name: name, files: this.ruleForm.custRightFile[name] })
            }
          }
          this.fileTarget = files

          if (this.propertyRegistrationFile) {
            for (let i = 0; i < this.propertyRegistrationFile.length; i++) {
              propertyRegistrationFile.push({ fileName: this.propertyRegistrationFile[i].fileName, path: this.propertyRegistrationFile[i].path })
            }
          }
          if (this.projectApprovalFile) {
            for (let i = 0; i < this.projectApprovalFile.length; i++) {
              projectApprovalFile.push({ fileName: this.projectApprovalFile[i].fileName, path: this.projectApprovalFile[i].path })
            }
          }

          if (this.otherMaterialsFile) {
            for (let i = 0; i < this.otherMaterialsFile.length; i++) {
              otherMaterialsFile.push({ fileName: this.otherMaterialsFile[i].fileName, path: this.otherMaterialsFile[i].path })
            }
          }

          if (this.financialApprovalFile) {
            for (let i = 0; i < this.financialApprovalFile.length; i++) {
              financialApprovalFile.push({ fileName: this.financialApprovalFile[i].fileName, path: this.financialApprovalFile[i].path })
            }
          }

          if (this.auditReportFile) {
            for (let i = 0; i < this.auditReportFile.length; i++) {
              auditReportFile.push({ fileName: this.auditReportFile[i].fileName, path: this.auditReportFile[i].path })
            }
          }

          this.propertyRegistrationFile = propertyRegistrationFile
          this.projectApprovalFile = projectApprovalFile
          this.otherMaterialsFile = otherMaterialsFile
          this.financialApprovalFile = financialApprovalFile
          this.auditReportFile = auditReportFile
        }
      })
    },
    submit () {
      this.btnRequestDisabled = true
      if (this.mark === 'see') {
        this.dialogFormVisible = false
      } else if (this.mark === 'add') {
        this.addData()
      } else {
        this.modifyData()
      }
    },
    // 修改
    modifyData () {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          if (this.fileTarget.length > 0) {
            this.fileTarget.forEach((v, i) => {
              if (v.name && v.name !== '') {
                this.dealWithFile()
                update(this.requestData).then(res => {
                  this.btnRequestDisabled = false
                  if (res.data.code === 0) {
                    this.$message({
                      message: '修改成功',
                      type: 'success'
                    })
                    this.propertyRegistrationFile = []
                    this.projectApprovalFile = []
                    this.financialApprovalFile = []
                    this.auditReportFile = []
                    this.otherMaterialsFile = []
                    this.fileTarget = []
                    this.closeSubmit()
                  } else {
                    this.$message.warning(res.data.errMsg)
                  }
                })
                this.dialogFormVisible = false
              } else {
                this.btnRequestDisabled = false
                this.$message.error('请输入自定义附件名称')
              }
            })
          }
        } else {
          this.btnRequestDisabled = false
          // this.$alert('请完善信息后再提交', '提示', {
          //   confirmButtonText: '确定'
          // })
        }
      })
    },
    // 新增
    addData () {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          if (this.fileTarget.length > 0) {
            this.fileTarget.forEach((v, i) => {
              if (v.name && v.name !== '') {
                this.dealWithFile()
                addEntry(this.requestData).then(res => {
                  this.btnRequestDisabled = false
                  if (res.data.code === 0) {
                    this.$message({
                      message: '新增成功',
                      type: 'success'
                    })
                    this.propertyRegistrationFile = []
                    this.projectApprovalFile = []
                    this.financialApprovalFile = []
                    this.auditReportFile = []
                    this.otherMaterialsFile = []
                    this.fileTarget = []
                    this.closeSubmit()
                  } else {
                    this.$message.warning(res.data.errMsg)
                  }
                })
                this.dialogFormVisible = false
              } else {
                this.btnRequestDisabled = false
                this.$message.error('请输入自定义附件名称')
              }
            })
          }
        } else {
          // this.$alert('请完善信息后再提交', '提示', {
          //   confirmButtonText: '确定'
          // })
          this.btnRequestDisabled = false
        }
      })
    },
    // 修改新增请求参数处理
    dealWithFile () {
      let propertyRegistrationFile = []
      let projectApprovalFile = []
      let otherMaterialsFile = []
      let financialApprovalFile = []
      let auditReportFile = []
      let custRightFile = {}
      if (this.fileTarget.length > 0) {
        this.fileTarget.forEach((v, i) => {
          if (v.name && v.name !== '') {
            custRightFile[v.name] = v.files || []
          }
        })
      }
      if (this.propertyRegistrationFile) {
        for (let i = 0; i < this.propertyRegistrationFile.length; i++) {
          propertyRegistrationFile.push({ fileName: this.propertyRegistrationFile[i].fileName, fileSize: this.propertyRegistrationFile[i].fileSize, path: this.propertyRegistrationFile[i].path })
        }
      }
      if (this.projectApprovalFile) {
        for (let i = 0; i < this.projectApprovalFile.length; i++) {
          projectApprovalFile.push({ fileName: this.projectApprovalFile[i].fileName, fileSize: this.projectApprovalFile[i].fileSize, path: this.projectApprovalFile[i].path })
        }
      }
      if (this.otherMaterialsFile) {
        for (let i = 0; i < this.otherMaterialsFile.length; i++) {
          otherMaterialsFile.push({ fileName: this.otherMaterialsFile[i].fileName, fileSize: this.otherMaterialsFile[i].fileSize, path: this.otherMaterialsFile[i].path })
        }
      }
      if (this.financialApprovalFile) {
        for (let i = 0; i < this.financialApprovalFile.length; i++) {
          financialApprovalFile.push({ fileName: this.financialApprovalFile[i].fileName, fileSize: this.financialApprovalFile[i].fileSize, path: this.financialApprovalFile[i].path })
        }
      }
      if (this.auditReportFile) {
        for (let i = 0; i < this.auditReportFile.length; i++) {
          auditReportFile.push({ fileName: this.auditReportFile[i].fileName, fileSize: this.auditReportFile[i].fileSize, path: this.auditReportFile[i].path })
        }
      }
      this.requestData = {
        id: this.currentListId,
        entryMoney: this.ruleForm.entryMoney,
        entryTime: this.ruleForm.entryTime,
        entryType: this.ruleForm.entryType,
        wyBasicInfoId: this.ruleForm.wyBasicInfoId,
        auditReportFile: auditReportFile,
        financialApprovalFile: financialApprovalFile,
        otherMaterialsFile: otherMaterialsFile,
        projectApprovalFile: projectApprovalFile,
        propertyRegistrationFile: propertyRegistrationFile,
        custRightFile: custRightFile,
        userId: sessionStorage.getItem('userId')
      }
    },
    // 弹框关闭
    cancel () {
      this.dialogFormVisible = false
    },
    // 操作成功关闭
    closeSubmit () {
      this.$emit('close', false)
      this.dialogFormVisible = false
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget.splice(index, 1)
    },
    // 附件材料上传
    changeWpsOne (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.propertyRegistrationFile = wpsArr
    },
    changeWpsTwo (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.projectApprovalFile = wpsArr
    },
    changeWpsThree (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.financialApprovalFile = wpsArr
    },
    changeWpsFour (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.auditReportFile = wpsArr
    },
    changeWpsFive (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.otherMaterialsFile = wpsArr
    },
    // 自定义附件
    changeWpsSix (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.fileTarget[index].files = wpsArr
    }
  }
}
</script>

<style lang="less" scoped>
.view-file {
  display: flex;

  .file-label {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;

    .file-name {
      margin-right: 50px;
      color: #48a2ff;
    }

    a {
      font-size: 14px;
      color: #409EFF;

      &:hover {
        color: #66b1ff;
      }
    }
  }
}

.file-item {
  display: flex;

  &+.file-item {
    margin-top: 10px;
  }

  .lb {
    width: 140px;
    text-align: right;
    margin-right: 10px;

    /deep/.el-input__inner {
      width: 100px;
      // text-align: right;
    }
  }

  .file-name {
    margin-right: 50px;
    color: #48a2ff;
  }
}

/deep/.el-dialog__body {
  padding: 0px;
  overflow-y: auto;
}

.content-body {
  .el-form {
    padding: 30px 20px;
  }
}

/deep/.el-form-item {
  margin-bottom: 20px !important;
}

/deep/.el-select {
  width: 100% !important;
}

.content-body {
  /deep/ .el-date-editor,
  /deep/.el-input__inner {
    width: 100%;
  }
}
</style>
