<template>
  <div class="parameter_mian">
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item label="物业名称：" class="form-item">
          <el-input v-model="form.wyName" style="min-width:140px;" placeholder="请输入物业名称" clearable @clear='parameterlist'></el-input>
        </el-form-item>
        <el-form-item label="入账类型：" class="form-item">
          <el-select v-model="form.entryType" clearable  @clear='parameterlist' placeholder="请选择入账类型" >
            <el-option v-for="item in selectTypeList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="parameterlist">查询</el-button>
          <el-button type="primary" @click="handleReset" style="margin-left:14px;">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table">
        <el-table :data="pagelist" border style="width: 100%">
          <el-table-column type="index" label="序号" align="center" width="60px"></el-table-column>
          <el-table-column prop="wyName" label="物业名称" align="center"></el-table-column>
          <el-table-column prop="buildArea" label="建筑面积(㎡)" align="center"></el-table-column>
          <el-table-column prop="propertyScaleName" label="使用起止时间" align="center">
            <template slot-scope="scope">
              {{scope.row.startDate ? scope.row.startDate : '--'}}—{{scope.row.endDate  ? scope.row.endDate : '--'}}
            </template>
          </el-table-column>
          <el-table-column prop="year" label="使用年限（年）" align="center"></el-table-column>
          <el-table-column prop="restYear" label="剩余时间（年）" align="center"></el-table-column>
          <el-table-column label="操作" align="center" width="240px" fixed="right">
            <template slot-scope="scope">
              <el-button type="primary" @click="showDisposalDialog('see',scope.row)" size="mini">入账详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="pagelist" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="form.p" :page-size="form.size" :page-sizes="[10,15,20]" layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>
    <div>
    </div>
    <EntryDetail v-if="dialogVisible" ref="AddDataDialog" @close="operateSon($event)"></EntryDetail>
  </div>
</template>
<script>
import {entryData, selectTag} from './request.js'
import EntryDetail from './entryDetail.vue'
export default {
  components: {EntryDetail},
  props: ['listId'],
  data () {
    return {
      form: {
        id: '',
        wyName: '',
        entryType: '',
        p: 1,
        size: 10
      },
      selectTypeList: [],
      dialogVisible: false,
      pagelist: [],
      totalNum: 0
    }
  },
  created () {
    selectTag('entry_type').then(res => {
      this.selectTypeList = res.data.data
    })
    this.form.id = this.listId
    this.parameterlist()
  },

  methods: {

    // 查看
    showDisposalDialog (name, data) {
      this.dialogVisible = true
      this.$nextTick(() => {
        this.$refs.AddDataDialog.show(name, data)
      })
    },

    // 子组件取消
    operateSon (form) {
      this.getTableList()
    },

    handleReset () {
      this.id = ''
      this.wyName = ''
      this.entryType = ''
      this.p = 1
      this.size = 10
      this.parameterlist()
    },

    parameterlist () {
      let params = `?id=${this.form.id}${this.form.wyName ? '&wyName=' + this.form.wyName : ''}${this.form.entryType ? '&entryType' + this.form.entryType : ''}&p=${this.form.p}&size=${this.form.size}`
      entryData(params).then(res => {
        if (res.data.code === 0) {
          this.pagelist = res.data.data.list
          this.totalNum = res.data.data.total
        }
      })
    },

    handleSizeChange (size) {
      this.form.size = size
      this.parameterlist()
    },

    handleCurrentChange (currentPage) {
      this.form.p = currentPage
      this.parameterlist()
    }
  }
}
</script>

<style lang="less" scoped>
.parameter_mian {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    .table-list{
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 6px;
      box-sizing: border-box;
      .table-btn{
        display: flex;
        margin-bottom: 20px;
      }
      .table-pagination{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .table{
      // height: calc(100vh - 330px);
      background-color: #fff;
      // overflow-y: scroll;
    }
    .form-item{
        margin-right: 14px;
    }
    /deep/.el-form-item__label{
        padding: 0 !important;
    }
    /deep/.el-table__empty-block{
      border-bottom: 1px solid #ebeef5;
    }
    /deep/.el-dialog__body{
      padding: 20px;
    }
  }
</style>
