<template>
  <el-dialog :title="dialog_name" :width="'1150px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <div class="content-body">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="el_form">
        <el-row>
          <el-form-item label="物业名称:" prop="wyBasicInfoId" :label-width="formLabelWidth">
            <el-select v-model="ruleForm.wyBasicInfoId" placeholder="请选择" style="width:100%" :disabled="this.dialog_name!='新增产权登记'">
              <el-option v-for="(item,index) in allPropertyList" :key="index" :label="item.unitName" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="产权证书号:" prop="certificateNo" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.certificateNo" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="不动产单元号:" prop="estateUnitNo" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.estateUnitNo" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="竣工日期:" prop="completionDate" :label-width="formLabelWidth">
              <el-date-picker v-model="ruleForm.completionDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产权证登记日期:" prop="regTime" :label-width="formLabelWidth">
              <el-date-picker v-model="ruleForm.regTime" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="权利人:" prop="obligee" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.obligee" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="登记价:" prop="registerPrice" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="ruleForm.registerPrice" inline :disabled="mark=='see'">
                <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="权利类型:" prop="rightType" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.rightType" placeholder="请选择" style="width:80%" @change="$forceUpdate()" :disabled="mark=='see'">
                <el-option v-for="item in rightTypeList" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="共有情况:" prop="commonSituation" :label-width="formLabelWidth">
              <el-select v-model="ruleForm.commonSituation" placeholder="请选择" style="width:80%" @change="$forceUpdate()" :disabled="mark=='see'">
                <el-option v-for="item in commonList" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="mark!='see'">
          <el-col :span="24">
            <div>
              <Address v-if="addressUpdateVisible" level="5" isVillage="1" isDisabled="true" isRequired="true" @event="change($event)" @eventVillage="doVillage($event)" :addressArr="addressArr" :detailAddr="ruleForm.detailAddr" :lng="ruleForm.longitude" :lat="ruleForm.latitude"></Address>
            </div>
          </el-col>
        </el-row>
        <el-row v-if="mark=='see'">
          <el-col :span="24">
            <el-form-item label="详细地址:" prop="detailAddr" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.detailAddr" disabled></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="建筑面积:" prop="buildingArea" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="ruleForm.buildingArea" :disabled="mark=='see'">
                <template slot="append">m²</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="套内面积:" prop="insideArea" :label-width="formLabelWidth">
              <el-input maxlength="16" v-model="ruleForm.insideArea" :disabled="mark=='see'">
                <template slot="append">m²</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="height：100px">
          <el-col :span="24">
            <el-form-item label="土地用途:" prop="landPurposeList" :label-width="formLabelWidth">
              <el-checkbox-group v-model="ruleForm.landPurposeList" :disabled="mark=='see'" @change="handleCheckedCitiesChange">
                <el-checkbox v-for="item in landList" :value="item.id" :label="item.id" :key="item.name">{{item.name}}</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="登记用途:" prop="registerPurpose" :label-width="formLabelWidth">
              <el-input v-model="ruleForm.registerPurpose" :disabled="mark=='see'"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="使用期限:">
              <el-date-picker v-model="ruleForm.useLimitStart" type="date" placeholder="选择开始日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
              <span>-</span>
              <el-date-picker v-model="ruleForm.useLimitEnd" type="date" placeholder="选择结束日期" value-format="yyyy-MM-dd" :disabled="mark=='see'">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="附件材料:" :label-width="formLabelWidth">
          <div class="file-item">
            <div class="lb">产权证书</div>
             <div style="width:50%;">
            <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsOne($event)" :filesList="proRightFile" isEdit="edit"></UploadWps>
              </div>
          </div>
          <div class="file-item">
            <el-button type="primary" @click="addCustomFile" :disabled="isView">添加自定义附件</el-button>
          </div>
          <div v-for="(item,index) in fileTarget" :key="index" class="file-item">
            <div class="lb">
              <el-input class="file-label" placeholder="自定义名称" v-model="item.name" :disabled="isView"></el-input>
            </div>
            <div style="width:50%;">
            <UploadWps :isDelete="isDel" :isUpload='isView' @event="changeWpsTwo($event,index)" :filesList="item.files" isEdit="edit"></UploadWps>
            </div>
            <el-button type="danger" @click="delCustomFile(index)" style="height:30px" :disabled="isView">删除</el-button>
          </div>
        </el-form-item>
        <!-- <el-form-item v-else label="附件材料:" :label-width="formLabelWidth">
          <div class="view-file" v-if="proRightFile.length>0">
            <div class="lb">
              <span>产权证书:</span>
              <div v-for="item in proRightFile" :key="item.id" class="file-label">
                <a :href="item.path" target="_self">{{item.fileName}}</a>
              </div>
            </div>
          </div>
          <div v-for="(item,index) in fileTarget" :key="index" class="view-file">
            <div class="lb">
              <span>{{item.name}}:</span>
              <div v-for="item in item.files" :key="item.id" class="file-label">
                <a :href="item.path" target="_self">{{item.fileName}}</a>
              </div>
            </div>
          </div>
        </el-form-item> -->
      </el-form>
    </div>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="submit" :disabled="btnRequestDisabled">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import UploadWps from '@/components/uploadWps.vue'
import {
  allProRight,
  selectTag,
  Listid,
  addEntry,
  update,
  searchAddress
} from './request'
import { province, city, area, street, committee } from '@/components/request'
import { formatDate1 } from '@/until/common'
import Address from '@/components/address.vue'

export default {
  components: {
    Address,
    UploadWps
  },
  props: ['isSee'],
  data () {
    let validatePass = (rule, value, callback) => {
      if (value) {
        let reg = /^\d+$|^\d*\.\d+$/g
        if (reg.test(value)) {
          if (value.length >= 15) {
            callback(new Error('输入数值不能超过15位'))
          } else {
            callback()
          }
        } else {
          callback(new Error('请输入数字值'))
        }
      }
    }
    return {
      mark: '',
      // isCut: true,
      isShow: false,
      isView: false,
      isDel: false,
      dialog_name: '',
      btnRequestDisabled: false,
      addressUpdateVisible: false,
      dialogFormVisible: false,
      formLabelWidth: '140px',
      currentListId: '',
      proRightFile: [], // 产权证书
      fileTarget: [], // 自定义附件
      requestData: {},
      landList: [],
      rightTypeList: [],
      commonList: [],
      allPropertyList: [],
      provincialLevel: '',
      cityLevel: '',
      areaLevel: '',
      streetLevel: '',
      committeeLevel: '',
      addressArr: [],
      ruleForm: {
        wyBasicInfoId: '',
        certificateNo: '',
        estateUnitNo: '',
        completionDate: '',
        regTime: '',
        obligee: '',
        registerPrice: '',
        proRightFile: [],
        landLocation: '',
        detailAddr: '',
        buildingArea: '',
        insideArea: '',
        registerPurpose: '',
        useLimitStart: '',
        useLimitEnd: '',
        userId: '',
        landPurpose: [],
        rightType: '',
        commonSituation: '',
        landPurposeList: [],
        longitude: 0,
        latitude: 0
      },
      rules: {
        wyBasicInfoId: [
          { required: true, message: '请选择物业名称', trigger: 'blur' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号' }
        ],
        certificateNo: [
          { required: true, message: '请输入产权证书号', trigger: 'blur' }
        ],
        estateUnitNo: [
          { required: true, message: '请输入不动产单元号', trigger: 'blur' }
        ],
        completionDate: [
          { required: true, message: '请输入竣工日期', trigger: 'blur' }
        ],
        obligee: [
          { required: true, message: '请输入权利人', trigger: 'blur' }
        ],
        registerPrice: [
          { required: true, message: '请输入登记价', trigger: 'blur' },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        regTime: [
          { required: true, message: '请选择产权证登记日期', trigger: 'blur' }
        ],
        landLocation: [
          { required: true, message: '请输入土地位置', trigger: 'blur' }
        ],
        detailAddr: [
          { required: true, message: '请输入详细地址', trigger: 'blur' }
        ],
        buildingArea: [
          { required: true, message: '请输入建筑面积', trigger: 'blur' },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        insideArea: [
          { required: true, message: '请输入套内面积', trigger: 'blur' },
          { type: 'number', required: false, validator: validatePass, trigger: 'change' }
        ],
        landPurposeList: [
          { required: true, message: '请选择土地用途', trigger: 'blur' }
        ],
        registerPurpose: [
          { required: true, message: '请输入登记用途', trigger: 'blur' }
        ],
        useLimitStart: [
          { required: true, message: '请选择开始日期', trigger: 'blur' }
        ],
        useLimitEnd: [
          { required: true, message: '请选择结束日期', trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    addressArr (n) {
      this.addressUpdateVisible = true
    }
    // 'isSee': function (newVal) {
    //   this.isView = newVal
    //   this.isDel = !newVal
    //   console.log(newVal, '+++issee+++')
    // }
  },
  // created () {
  //   console.log(this.isSee, 'this.isSee')
  //   this.isView = this.isSee
  //   // if (this.isSee) {
  //   console.log(this.isSee, 'this.isSee')
  //   this.isDel = !this.isSee
  //   // }
  // },
  methods: {
    show (name, data) {
      this.getSelectList()
      this.resetForm()
      // if (name !== 'add') {
      // this.isDel = name === 'add' ? true : name === 'see'
      // this.isView = name === 'add' ? true : name === 'see'
      if (name === 'see') {
        this.isDel = true
        this.isView = true
      } else {
        this.isDel = false
        this.isView = false
        // }
      }
      if (name !== 'add') {
        this.resetDialogForm(data)
      }
      // switch (name) {
      //   case 'modify':
      //     this.resetDialogForm(data)
      //     break
      //   // case 'add':
      //   //   this.resetForm()
      //   //   break
      //   case 'see':
      //     this.resetDialogForm(data)
      //     break
      // }
      if (data) {
        this.currentListId = data.id
      }
      this.dialog_name = name === 'add' ? '新增产权登记' : name === 'see' ? '产权登记详情' : '编辑产权登记'
      this.mark = name
      this.dialogFormVisible = true
    },
    // 新增时重置表单
    resetForm () {
      this.addressUpdateVisible = true
      this.$nextTick(() => {
        if (this.$refs.ruleForm !== undefined) {
          this.addressArr = []
          this.ruleForm.useLimitStart = ''
          this.ruleForm.useLimitEnd = ''
          this.$refs.ruleForm.resetFields()
        }
      })
      this.landPurposeList = []
      this.proRightFile = []
      this.fileTarget = []
      this.isView = false
      this.isDel = false
      // this.$forceUpdate()
    },
    // 数据字典数据
    getSelectList () {
      // 土地用途数据
      selectTag('land_purpose').then(res => {
        if (res.data.data) {
          if (res.data.data.length >= 1) {
            this.landList = res.data.data
          }
        }
      })
      // 权利类型数据
      selectTag('right_type').then(res => {
        if (res.data.data) {
          if (res.data.data.length >= 1) {
            this.rightTypeList = res.data.data
          }
        }
      })
      // 共有情况数据
      selectTag('common_situation').then(res => {
        if (res.data.data) {
          if (res.data.data.length >= 1) {
            this.commonList = res.data.data
          }
        }
      })
      // 所有物业名称
      let id = sessionStorage.getItem('userId')
      allProRight(id).then(res => {
        if (res.data.data) {
          if (res.data.data.length >= 1) {
            this.allPropertyList = res.data.data
          }
        }
      })
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget.splice(index, 1)
    },
    // 附件上传
    changeWpsOne (wpsList) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.proRightFile = wpsArr
    },
    // 自定义附件上传
    changeWpsTwo (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        wpsArr.push({ fileName: item.name, fileSize: item.fileSize, path: item.pathUrl })
      })
      this.fileTarget[index].files = wpsArr
    },
    // 提交
    submit () {
      this.btnRequestDisabled = true
      if (this.mark === 'see') {
        this.addressUpdateVisible = false
        this.dialogFormVisible = false
      } else if (this.mark === 'add') {
        this.addData()
      } else {
        this.modifyData()
      }
    },
    // 修改
    modifyData () {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          this.dealWithFile()
          update(this.requestData).then(res => {
            this.btnRequestDisabled = false
            if (res.data.code === 0) {
              this.$message({
                message: '修改成功',
                type: 'success'
              })
              this.proRightFile = []
              this.fileTarget = []
              this.closeSubmit()
            } else {
              this.$message.warning(res.data.errMsg)
            }
          })
          this.addressUpdateVisible = false
          this.dialogFormVisible = false
        } else {
          this.btnRequestDisabled = false
          // this.$alert('请完善信息后再提交', '提示', {
          //   confirmButtonText: '确定'
          // })
        }
      })
    },
    // 新增
    addData () {
      this.$refs.ruleForm.validate(valid => {
        // this.ruleForm.landLocation = `${this.provincialLevel}/${this.cityLevel}/${this.areaLevel}/${this.streetLevel}/${this.committeeLevel}`
        if (valid) {
          this.dealWithFile()
          addEntry(this.requestData).then(res => {
            this.btnRequestDisabled = false
            if (res.data.code === 0) {
              this.$message({
                message: '新增成功',
                type: 'success'
              })
              this.proRightFile = []
              this.fileTarget = []
              this.closeSubmit()
            } else {
              this.$message.warning(res.data.errMsg)
            }
          })
          this.addressUpdateVisible = false
          this.dialogFormVisible = false
        } else {
          // this.$alert('请完善信息后再提交', '提示', {
          //   confirmButtonText: '确定'
          // })
          this.btnRequestDisabled = false
        }
      })
    },
    // 请求数据前的参数处理
    dealWithFile () {
      let custRightFile = {}
      let proRightFile = []
      if (this.fileTarget) {
        this.fileTarget.forEach((v, i) => {
          if (v.name && v.name !== '') {
            custRightFile[v.name] = v.files || []
          }
        })
      }
      if (this.proRightFile) {
        for (let i = 0; i < this.proRightFile.length; i++) {
          proRightFile.push({ fileName: this.proRightFile[i].fileName, fileSize: this.proRightFile[i].fileSize, path: this.proRightFile[i].path })
        }
      }
      this.ruleForm.custRightFile = custRightFile
      this.ruleForm.proRightFile = proRightFile
      this.ruleForm.id = this.currentListId
      this.ruleForm.registerPrice = parseInt(this.ruleForm.registerPrice)
      this.ruleForm.buildingArea = parseInt(this.ruleForm.buildingArea)
      this.ruleForm.insideArea = parseInt(this.ruleForm.insideArea)
      this.ruleForm.landPurpose = this.ruleForm.landPurposeList
      this.ruleForm.userId = sessionStorage.getItem('userId')
      this.requestData = this.ruleForm
    },
    // 土地用途选项更改
    handleCheckedCitiesChange (value) {
      this.$forceUpdate() // 强制更新
    },
    // 查看行信息
    resetDialogForm (data) {
      Listid(data.id).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
        } else {
          let params = res.data.data.reg
          this.ruleForm = params
          this.ruleForm.completionDate = formatDate1(params.completionDate)
          this.ruleForm.regTime = formatDate1(params.regTime)
          this.ruleForm.useLimitStart = formatDate1(params.useLimitStart)
          this.ruleForm.useLimitEnd = formatDate1(params.useLimitEnd)
          this.ruleForm.wyBasicInfoId = res.data.data.reg.wyBasicInfoId
          this.ruleForm.rightType = res.data.data.rightType ? res.data.data.rightType.id : ''
          this.ruleForm.commonSituation = res.data.data.commonSituation ? res.data.data.commonSituation.id : ''
          this.ruleForm.custRightFile = res.data.data.custRightFile
          this.ruleForm.landPurposeList = res.data.data.landPurposeList
          this.proRightFile = res.data.data.proRightFile
          let proRightFile = []
          let files = []
          if (this.ruleForm.custRightFile) {
            for (var name in this.ruleForm.custRightFile) {
              files.push({ name: name, files: this.ruleForm.custRightFile[name] })
            }
            this.fileTarget = files
          }

          if (this.proRightFile) {
            for (let i = 0; i < this.proRightFile.length; i++) {
              proRightFile.push({ fileName: this.proRightFile[i].fileName, path: this.proRightFile[i].path })
            }
          }
          if (this.ruleForm.landPurposeList) {
            let selectLandUse = []
            this.ruleForm.landPurposeList.forEach(item => {
              selectLandUse.push(item.id)
            })
            this.ruleForm.landPurposeList = selectLandUse
          }
          let address = []
          if (params.areaCode) {
            searchAddress(params.areaCode).then((res) => {
              if (res.data.code === 0) {
                let { provinceCode, cityCode, areaCode, streetCode, committeeCode } = res.data.data
                address.push(provinceCode)
                address.push(cityCode)
                address.push(areaCode)
                address.push(streetCode)
                address.push(committeeCode)
              }
            })
          }
          this.addressArr = address
        }
      })
    },
    // 弹框关闭
    cancel () {
      this.addressUpdateVisible = false
      this.dialogFormVisible = false
    },
    // 操作成功关闭
    closeSubmit () {
      this.$emit('close', false)
      this.addressUpdateVisible = false
      this.dialogFormVisible = false
    },
    // 详细地址
    change (data) {
      let {
        provinceId = '44',
        cityId = '4403',
        areaId = '440305',
        streetId,
        committeeId
      } = data
      if (provinceId) {
        province().then((res) => {
          let provinceArr = res.data.data
          let provinceName = provinceArr.find((item) => {
            if (item.provinceCode === provinceId) {
              return item.name
            }
          })
          this.provincialLevel = provinceName.name
        })
      }
      if (cityId) {
        city(provinceId).then((res) => {
          let cityArr = res.data.data
          let cityName = cityArr.find((item) => {
            if (item.cityCode === cityId) {
              return item.name
            }
          })
          this.cityLevel = cityName.name
        })
      }
      if (areaId) {
        area(cityId).then((res) => {
          let areaArr = res.data.data
          let areaName = areaArr.find((item) => {
            if (item.areaCode === areaId) {
              return item.name
            }
          })
          this.areaLevel = areaName.name
        })
      }
      if (streetId) {
        street(areaId).then((res) => {
          let streetArr = res.data.data
          let streetName = streetArr.find((item) => {
            if (item.streetCode === streetId) {
              return item.name
            }
          })
          this.streetLevel = streetName.name
        })
      }
      if (committeeId) {
        this.ruleForm.areaCode = committeeId
        committee(streetId).then((res) => {
          let committeeArr = res.data.data
          let committeeName = committeeArr.find((item) => {
            if (item.committeeCode === committeeId) {
              return item.name
            }
          })
          this.committeeLevel = committeeName.name
        })
      }
    },
    // 地址
    doVillage (val) {
      this.ruleForm.detailAddr = val.fullAddress
      this.ruleForm.longitude = val.lng
      this.ruleForm.latitude = val.lat
    }
  }
}
</script>

<style lang="less" scoped>
.view-file {
  display: flex;
  .file-label {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    .file-name {
      margin-right: 50px;
      color: #48a2ff;
    }
    a {
      font-size: 14px;
      color: #409eff;
      &:hover {
        color: #66b1ff;
      }
    }
  }
}
.file-item {
  display: flex;
  & + .file-item {
    margin-top: 10px;
  }
  .lb {
    // width: 100px;
    text-align: right;
    margin-right: 10px;
    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
  .file-name {
    margin-right: 50px;
    color: #48a2ff;
  }
}
/deep/.el-dialog__body {
  padding: 0px;
  overflow-y: auto;
}
.content-body{
  .el-form{
  padding: 30px 20px;
  }
}
/deep/.el-form-item {
  margin-bottom: 20px !important;
}
</style>
