<template>
  <el-dialog title="使用登记详情" :width="'1150px'" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
    <el-form :inline="true" :model="ruleForm" ref="ruleForm" class="el_form" label-width="160px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="物业名称:">
            <!-- <el-select v-model="ruleForm.wyBasicInfoId" placeholder="请选择" disabled>
              <el-option v-for="item in options" :key="item.id" :label="item.unitName" :value="item.id"></el-option>
            </el-select> -->
            <div class="detail-content">
              {{getWyName(ruleForm.wyBasicInfoId)}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="建造面积:">
            <div class="detail-content">
              {{ruleForm.buildArea}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="物业种类:">
            <div class="detail-content">
              {{ruleForm.assetType}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="使用方式:">
            <div class="detail-content">
              {{type[ruleForm.method]}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否免租:">
            <div class="detail-content">
              {{options2[ruleForm.rentFree]}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="使用状态:" prop="startTime">
            <div class="detail-content">
              {{options1[ruleForm.status]}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="使用对象名称:" prop="endTime">
            <div class="detail-content">
              {{ruleForm.objName}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="使用对象类型:" prop="endTime">
            <div class="detail-content">
              {{options3[ruleForm.objType]}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="统一社会信用代码:" prop="endTime">
            <div class="detail-content">
              {{ruleForm.creditCode}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人姓名:">
            <div class="detail-content">
              {{ruleForm.contactName}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <div>
            <!-- 分割线 -->
          </div>
          <el-form-item label="联系方式:" prop="status">
            <div class="detail-content">
              {{ruleForm.contactPhone}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="运营起始日期:">
            <div class="detail-content">
              {{ruleForm.startTime}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="运营截止日期:">
            <div class="detail-content">
              {{ruleForm.endTime}}
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="实际使用用途:">
            <div class="detail-content">
              {{ruleForm.actualUse}}
            </div>
          </el-form-item>
          <div>
            <!-- 分割线 -->
          </div>
        </el-col>
        <el-col :span="20">
          <el-form-item label="附件材料:">
            <div class="file-item">
              <div class="lb">使用批准文件</div>
              <!-- <UploadWps :filesList="fileTarget1" isDisabled="true"></UploadWps> -->
              <ul class="u-file-view-list">
                <li v-for="(item,index) in fileTarget1" :key="'fileTarget1_'+index">
                  <!-- <a :href="item.path" target="_blank">{{item.fileName}}</a> -->
                  <span style="color:#51a7ff;"  @click="handleDownload(item.path,item.fileName)">{{item.fileName}}</span>
                </li>
              </ul>
            </div>
            <div class="file-item">
              <div class="lb">合同</div>
              <!-- <UploadWps :filesList="fileTarget2" isDisabled="true"></UploadWps> -->
              <ul class="u-file-view-list">
                <li v-for="(item,index) in fileTarget2" :key="'fileTarget2_'+index">
                  <!-- <a :href="item.path" target="_blank">{{item.fileName}}</a> -->
                   <span style="color:#51a7ff;"  @click="handleDownload(item.path,item.fileName)">{{item.fileName}}</span>
                </li>
              </ul>
            </div>
          </el-form-item >
                 <el-form-item label="自定义附件:">

            <div v-for="(item,index) in fileTarget3" v-bind:key="index" class="file-item">
              <div class="lb">
                <!-- <el-input class="file-label" v-model="item.name" disabled></el-input> -->
                {{item.name}}
              </div>
              <!-- <UploadWps :filesList="item.files" :is-disabled="true"></UploadWps> -->
              <ul v-if="item.files" class="u-file-view-list">
                <li v-for="(item,index) in item.files" :key="'fileTarget3_'+index">
                  <!-- <a :href="item.path" target="_blank">{{item.fileName}}</a> -->
                   <span style="color:#51a7ff;"  @click="handleDownload(item.path,item.fileName)">{{item.fileName}}</span>
                </li>
              </ul>
            </div>
              </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer">
      <el-button @click="cancel">取 消</el-button>
    </div>
  </el-dialog>
</template>
<script>
import UploadWps from '@/components/uploadWps1.vue'
import { allProRight, listId, wyDetails } from './request'
import { formatDate1 } from '@/until/common'
import { downloadFile } from '@/components/fileEcho.js'
export default {
  components: {
    UploadWps,
    formatDate1
  },
  data () {
    return {
      dialogFormVisible: false,
      type: {
        1: '出租',
        2: '调配'
      },
      options1:
      {
        1: '在用',
        2: '停用'
      },
      options2:
      {
        1: '是',
        2: '否'
      },
      options3:
      {
        1: '企业',
        2: '个人',
        3: '个体工商户',
        4: '行政事业单位',
        5: '其他'
      },
      ruleForm: {
        wyBasicInfoId: '',
        assetType: '',
        method: '',
        rentFree: '',
        status: '',
        objName: '',
        objType: '',
        creditCode: '',
        contactName: '',
        contactPhone: '',
        startTime: '',
        endTime: '',
        actualUse: '',
        userId: '',
        filePath: []
      },
      fileTarget1: [],
      fileTarget2: [],
      fileTarget3: [], // 自定义附件
      options: []
    }
  },
  created () {
    allProRight().then((res) => {
      this.options = res.data.data
    })
  },
  methods: {
    handleDownload (fileUrl, fileName) {
      downloadFile(fileUrl, fileName)
    },
    getWyName (id) {
      let wyFilter = this.options.filter(v => { return v.id === id })
      let name = ''
      if (wyFilter.length > 0) {
        name = wyFilter[0].unitName
      }
      return name
    },
    show (data) {
      this.select(data)
      this.dialogFormVisible = true
    },
    select (data) {
      this.fileTarget1 = []
      this.fileTarget2 = []
      this.fileTarget3 = []
      listId(data.id).then(res => {
        let list = res.data.data
        for (let value in list) this.ruleForm[value] = list[value]
        this.ruleForm.startTime = formatDate1(this.ruleForm.startTime)
        this.ruleForm.endTime = formatDate1(this.ruleForm.endTime)
        this.ruleForm.filePath = res.data.data.filePath
        this.fileTarget1 = this.ruleForm.useApprovalFileList || []
        this.fileTarget2 = this.ruleForm.contractFileList || []
        let files3 = []
        if (this.ruleForm.customFileMap) {
          for (var name in this.ruleForm.customFileMap) {
            files3.push({ name: name, files: this.ruleForm.customFileMap[name] })
          }
        }
        this.fileTarget3 = files3
        // 获取物业详情
        wyDetails(this.ruleForm.wyBasicInfoId).then(res => {
          if (res.data.code === 0 && res.data.data && res.data.data.info) {
            this.ruleForm.buildArea = res.data.data.info.buildArea
            this.ruleForm.assetType = res.data.data.info.assetType
            if (['产业用房', '商业', '住宅', '南山软件园'].indexOf(this.ruleForm.assetType) >= 0) {
              this.ruleForm.method = 1
            } else {
              this.ruleForm.method = 2
            }
          }
        })
      })
    },
    cancel () {
      this.dialogFormVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
.detail-content {
  width: 380px;
}
/deep/.el-form-item__content .el-input__inner {
  width: 333px;
}
.file-item {
  display: flex;
  & + .file-item {
    margin-top: 10px;
  }
  .lb {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    /deep/.el-input__inner {
      width: 100px;
      text-align: right;
    }
  }
}
.u-file-view-list {
  width: 640px;
  li {
    height: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    a {
      font-size: 14px;
      color: #409eff;
      &:hover {
        color: #66b1ff;
      }
    }
  }
}
</style>
