/* layout 布局 */
.project-search {
  background: #fff;
  padding: 0 0 2px 0;
}
.br{
  border-radius: 6px;
}
.project-container{
  background: #fff;
  border-radius: 6px;
  width: 100%;
  height: 100%;
   overflow-x: hidden;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.project-search-form.el-form--inline  .el-form-item{
  margin-bottom: 6px
}
.project-table {
  position: relative;
  min-height: 400px;
  overflow-y: auto;
  background: #fff;
}
/* 设置滚动条的样式 */
/* .table ::-webkit-scrollbar {
  height: 15px;
  background: #fff;
  border-radius: 4px;
} */
/* 滚动槽 */
/* .table ::-webkit-scrollbar-track {
  border-radius: 10px;
} */
/* 滚动条滑块 */
/* .table ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
 
} */
/* .table *::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
} */

::-webkit-scrollbar {
  width:8px;
  height:8px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px transparent;
}
::-webkit-scrollbar-track:hover {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.4);
  background-color:rgba(0,0,0,0.01);
}
::-webkit-scrollbar-track:active {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.4);
  background-color:rgba(0,0,0,0.05);
}
::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.1);
  border-radius:10px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:hover {
  background-color:rgba(0,0,0,0.4);
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:active {
  background:rgba(0,0,0,0.6);
}

.project-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 12px;
}
.flex-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.project-list-item-title {
  float: left;
  font-weight: 600;
  font-size: 13px;
  line-height: 32px;
}
/* tab */
.el-tabs__nav-wrap::after {
  height: 1px !important;
  background: #e8e6e6;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  background: #3b76e4;
  color: #fff;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: none;
}

/* button */
.el-input__inner {
  height: 32px;
  line-height: 32px;
}
.el-button {
  padding: 8px 16px;
}
.el-button + .el-button {
  margin-left: 0;
}

/* table */
.el-table .cell {
  color: #333;
  font-size: 12px;
}
.el-table .el-table__cell {
  padding: 8px 0;
}

.handle-el-icon {
  padding: 6px !important;
  margin-top: 1px;
  margin-bottom: 2px;
}
.el-button.handle-el-icon {
  margin-left: 0;
  margin-right: 3px;
}
.el-checkbox__inner{
  border: 1px solid #6a7dad;
}

/* pagination */
.el-pager li {
  font-weight: normal !important;
  /* color: #333 !important; */
}


/* form */
.el-form-item__content{
  line-height: 32px;
}
.el-form-item{
  margin-bottom: 12px;
}
.el-form-item__label{
  line-height: 32px;
}
.el-form--inline .el-form-item {
  margin-bottom: 20px;
}
.project-el-form .el-form-item{
  margin-bottom: 20px;
}

/* dialog */
.el-dialog__header{
  padding: 12px 20px 8px;
  border-bottom: 1px solid #ccc9c9;
}
.el-dialog__title{
  font-size: 14px;
}
.detial-title-color {
  padding: 6px 12px;
  background: #688cdc;
  color: #fff;
}
.el-dialog__header {
  background-color: #5b9bd5;
}
.el-icon-close:before {
  color: #fff;
}
.el-dialog__title{
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
.el-dialog__footer {
  background-color: #e4f0ff;
  padding: 10px 20px;
}
.el-table::before {
  height: 0;
}
.block{
  text-align: right;margin: 20px;
}
.el_form{
  max-height: 585px; overflow-y:auto;
}
.el-input--suffix .el-input__inner {
  padding-right: 12px;
}
.el-form-item__label{
  padding: 0 12px;
}
.wd130{
  width: 130px;
}