/deep/.el-dialog__header {
  background-color: #5b9bd5;
}

.el-dialog {
  display: flex;
  flex-direction: column;

  /deep/.el-dialog__body {
    overflow-y: auto;
  }
}

.preview {
  width: 100%;
  height: 100%;
}

.preview-pdf {
  width: 100%;
  height: 600px;
}

.docx-view {
  // width: 70%;
  height: 100%;
  background: #fff;
}

/deep/.docx-wrapper {
  padding: 0px !important;
  background: #fff !important;
}

.pdf-btn {
  text-align: center;
  padding-bottom: 20px;
}
.pre-img{
  width: 80%;
  object-fit: cover;
  text-align: center;
  margin: 0 auto;
}
.pre-img,
.pre-excell,
.pre-docx,
.pre-pdf {
  box-sizing: border-box;
  /deep/.docx-wrapper {
    background: #fff !important;
  }
}

/deep/.el-dialog__body {
  padding: 0px;
  overflow-y: auto;
}
/deep/.el-dialog {
  margin-top: 6vh !important;
}
.content-body {
  max-height: 700px;
  overflow-y: auto;
  padding: 30px 20px;
}
