<template>
  <el-dialog :close-on-click-modal="true" :width="'1200px'" title="查看材料" :visible.sync="dialogFormVisible" @close="dialogClosed">
    <div class="content-body">
      <!-- pdf -->
      <div v-show="preViewType==='pdf'" class="pre-pdf">
        <pdf :src="src" :page="currentPage" @num-pages="pageCount=$event" @page-loaded="currentPage=$event" @loaded="loadPdfHandler">
        </pdf>
        <div class="pdf-btn">
          <el-button type="primary" @click="changePdfPage(0)" class="turn" :class="{grey: currentPage===1}">上一页</el-button>
          <span> {{currentPage}}</span>
          <span>/</span>
          <span>{{pageCount}}</span>
          <el-button type="primary" @click="changePdfPage(1)" class="turn" :class="{grey: currentPage===pageCount}">下一页</el-button>
        </div>
      </div>
      <!-- 表格 -->
      <div v-show="preViewType==='xlsx'||preViewType==='xls'" class="pre-excell">
        <el-table tooltip-effect="dark" border :data="tableData" style="width: 100%;">
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column v-for="(value,key,index) in tableData[2]" :key="index" :prop="key" :label="key"></el-table-column>
        </el-table>
        <!-- <excel-view v-show="(preViewType==='xlsx') || (preViewType==='xls')" :datas="excelData" class="pre-excell"/> -->
      </div>
      <!-- 图片 -->
      <div class="pre-img">
        <img class="pre-img" v-show="isImg.indexOf(preViewType) !== -1" :src="preApplyImg">
      </div>
      <!-- word -->
      <div v-show="preViewType==='docx'" ref="file" class="pre-docx"></div>
    </div>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import pdf from 'vue-pdf'
import XLSX from 'xlsx'
import excelview from 'vue-excelview'
let docx = require('docx-preview')

export default {
  components: {
    pdf,
    'excel-view': excelview
  },
  name: 'fileIframe',
  props: ['preViewType', 'preViewSrc', 'preApplyImg'],
  data () {
    return {
      dialogFormVisible: false,
      currentPage: 0, // pdf文件页码
      pageCount: 0, // pdf文件总页数
      fileType: '', // 文件类型 src: '', // pdf文件地址
      src: '', // pdf文件地址
      isImg: ['jpeg', 'png', 'gif', 'jpg', 'image'],
      tableData: [],
      excelData: [],
      workbook: {},
      excelURL: ''

    }
  },
  watch: {
    preViewSrc: function (newVal) {
      this.getProcess()
    }
  },
  created () { // 有时PDF文件地址会出现跨域的情况,这里最好处理一下
    this.getProcess()
  },
  methods: {
    show () {
      this.dialogFormVisible = true
    },
    dialogClosed () {
      this.dialogFormVisible = false
    },
    getProcess () {
      if (this.preViewType === 'pdf') {
        this.preViewPdf()
      } else if (this.preViewType === 'docx') {
        this.preViewDocx()
      } else if (this.preViewType === 'xlsx' || this.preViewType === 'xls') {
        this.readWorkbookFromRemoteFile()
        // this.readWorkbookFromRemoteFile1()
      }
    },
    // docx预览
    preViewDocx () {
      axios({
        method: 'get',
        responseType: 'blob', // 设置响应文件格式
        url: this.preViewSrc
      }).then(({ data }) => {
        docx.renderAsync(data, this.$refs.file) // 渲染到页面预览
      })
    },
    // pdf预览
    preViewPdf () {
      axios({
        method: 'get',
        responseType: 'blob', // 设置响应文件格式
        url: this.preViewSrc
      }).then(({ data }) => {
        this.src = this.getObjectURL(data)
      })
    },
    // 将返回的流数据转换为url
    getObjectURL (file) {
      let url = null
      if (window.createObjectURL !== undefined) { // basic
        url = window.createObjectURL(file)
      } else if (window.webkitURL !== undefined) { // webkit or chrome
        try {
          url = window.webkitURL.createObjectURL(file)
        } catch (error) {

        }
      } else if (window.URL !== undefined) { // mozilla(firefox)
        try {
          url = window.URL.createObjectURL(file)
        } catch (error) {
        }
      }
      return url
    },
    // pdf预览翻页
    changePdfPage (val) {
      if (val === 0 && this.currentPage > 1) {
        this.currentPage = this.currentPage - 1
      }
      if (val === 1 && this.currentPage < this.pageCount) {
        this.currentPage = this.currentPage + 1
      }
    },
    // pdf加载时
    loadPdfHandler (e) {
      this.currentPage = 1 // 加载的时候先加载第一页
    },
    // 表格数据预览
    readWorkbookFromRemoteFile () {
      var xhr = new XMLHttpRequest()
      xhr.open('get', this.preViewSrc, true)
      xhr.responseType = 'arraybuffer'
      let _this = this
      xhr.onload = function (e) {
        if (xhr.status === 200) {
          var data = new Uint8Array(xhr.response)
          var workbook = XLSX.read(data, { type: 'array' })
          var sheetNames = workbook.SheetNames // 工作表名称集合
          _this.workbook = workbook
          _this.getTable(sheetNames[0])
        }
      }
      xhr.send()
    },
    // 表格数据预览
    readWorkbookFromRemoteFile1 () {
      axios({
        method: 'get',
        responseType: 'arraybuffer',
        url: this.preViewSrc
      }).then(({data}) => {
        this.excelData = data
      })
    },
    getTable (sheetName) {
      var worksheet = this.workbook.Sheets[sheetName]
      this.tableData = XLSX.utils.sheet_to_json(worksheet)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
