<template>
  <div id="app">
      <router-view v-if="isShow"></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  provide () {
    return {
      reload: this.reload
    }
  },
  data () {
    return {
      isShow: true
    }
  },
  methods: {
    reload () {
      this.isShow = false
      this.$nextTick(function () {
        this.isShow = true
      })
    }
  }
}
</script>

<style>
#app {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
  /* min-width: 1366px; */
  /* overflow: hidden; */
}
</style>
