<template lang="html">
<div>
 <div style="width:100%;height:600px;">
    <div class="container">
      <div class="search-box">
        <input
          v-model.trim="searchKey"
          type="search"
          id="search"
          autocomplete="off"
          @input="handleValue"
          >
        <button @click.prevent="searchByHand(1)">搜索</button>
        <div class="tip-box" id="searchTip"></div>
      </div>
      <!--
        amap-manager： 地图管理对象
        vid：地图容器节点的ID
        zooms： 地图显示的缩放级别范围，在PC上，默认范围[3,18]，取值范围[3-18]；在移动设备上，默认范围[3-19]，取值范围[3-19]
        center： 地图中心点坐标值
        plugin：地图使用的插件
        events： 事件
      -->
      <el-amap class="amap-box"
        :amap-manager="amapManager"
        :vid="'amap-vue'"
        :zoom="zoom"
        :plugin="plugin"
        :center="center"
        :events="events"
      >
        <!-- 标记 -->
        <el-amap-marker v-for="(marker, index) in markers" :position="marker" :key="index"></el-amap-marker>
         <el-amap-info-window
           v-for="window in windows"
           :offset="window.offset"
           :position="window.position"
           :content="window.content"
           :open="window.open"
           :key="window.index"
         ></el-amap-info-window>
      </el-amap>
    </div>
 </div>
 <div class="btn">
   <el-button class="btn-item" @click="handleCancel">取 消</el-button>
   <el-button class="btn-item" type="primary" @click="handleConfirm">确 定</el-button>
 </div>
 </div>
</template>

<script>
import AMap from 'AMap'
import AMapUI from 'AMapUI'
import { AMapManager, lazyAMapApiLoaderInstance } from 'vue-amap'
let amapManager = new AMapManager()
export default {
  name: 'AMap',
  props: ['handleDialog', 'listAddress', 'longitude', 'latitude', 'searchAddress'],
  data () {
    let self = this
    return {
      address: null,
      searchKey: '',
      amapManager,
      markers: [],
      windows: [],
      searchOption: {
        city: '全国',
        citylimit: true
      },
      center: [113.930478, 22.533191],
      zoom: 13,
      lng: 0,
      lat: 0,
      loaded: false,
      events: {
        init () {
          lazyAMapApiLoaderInstance.load().then(() => {
            self.initSearch()
          })
          if (self.searchAddress) {
            // 这里通过高德 SDK 完成。
            var geocoder = new AMap.Geocoder({
              radius: 1000,
              extensions: 'all',
              city: '全国',
              enableHighAccuracy: true, // 是否使用高精度定位，默认：true
              zoomToAccuracy: true // 定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            })
            geocoder.getLocation(self.searchAddress, (status, result) => {
              if (status === 'complete' && result.geocodes.length) {
                // self.zoom = 18
                let lnglat = result.geocodes[0].location
                self.lng = lnglat.lng
                self.lat = lnglat.lat
                self.center = [lnglat.lng, lnglat.lat]
                self.markers.push([lnglat.lng, lnglat.lat])
                self.windows.push({
                  position: [lnglat.lng, lnglat.lat],
                  // content: `<div style='margin:10px;'>地址：${result.geocodes[0].formattedAddress}</div>`,
                  content: `<div style='margin:10px;'>地址：${self.searchAddress}</div>`,
                  offset: [0, -40],
                  open: true
                })
                self.address = self.searchAddress
                self.searchKey = self.searchAddress
                self.$nextTick()
              }
            })
          }
        },
        // 点击获取地址的数据
        click (e) {
          self.markers = []
          self.windows = []
          let { lng, lat } = e.lnglat
          self.lng = lng
          self.lat = lat
          self.center = [lng, lat]
          // 这里通过高德 SDK 完成。
          let geocoder = new AMap.Geocoder({
            radius: 1000,
            extensions: 'all'
          })
          geocoder.getAddress([lng, lat], function (status, result) {
            if (status === 'complete' && result.info === 'OK') {
              if (result && result.regeocode) {
                self.zoom = 18
                self.address = result.regeocode.formattedAddress
                self.searchKey = result.regeocode.formattedAddress
                // 地图信息窗体
                self.markers.push([lng, lat])
                self.windows.push({
                  position: [lng, lat],
                  content: `<div style='margin:10px;'>地址：${result.regeocode.formattedAddress}</div>`,
                  offset: [0, -40],
                  open: true
                })
                self.$nextTick()
              }
            }
          })
        }
      },
      // 一些工具插件
      plugin: [
        {
          // 定位
          pName: 'Geolocation',
          events: {
            init (o) {
              // o是高德地图定位插件实例
              o.getCurrentPosition((status, result) => {
                if (result && result.position) {
                  // 设置经度
                  self.lng = result.position.lng
                  // 设置维度
                  self.lat = result.position.lat
                  // 设置坐标
                  self.center = [self.lng, self.lat]
                  self.markers.push([self.lng, self.lat])
                  // load
                  self.loaded = true
                  // 页面渲染好后
                  self.$nextTick()
                }
              })
            }
          }
        }
      ]
    }
  },
  created () {
    this.address = this.searchAddress ? this.searchAddress : this.listAddress ? this.listAddress : ''
    this.searchKey = this.searchAddress ? this.searchAddress : this.listAddress ? this.listAddress : ''
    this.lng = this.longitude
    this.lat = this.latitude
  },
  mounted () {
    this.initSearch()
  },
  methods: {
    initSearch () {
      let vm = this
      let map = this.amapManager.getMap()
      if (map) {
        map.clearMap()
      }
      AMapUI.loadUI(['misc/PoiPicker'], function (PoiPicker) {
        var poiPicker = new PoiPicker({
          input: 'search',
          placeSearchOptions: {
            map: map,
            pageSize: 10
          },
          suggestContainer: 'searchTip',
          searchResultsContainer: 'searchTip'
        })
        vm.poiPicker = poiPicker
        // 监听poi选中信息
        poiPicker.on('poiPicked', function (poiResult) {
          let num = 1
          let source = poiResult.source
          let poi = poiResult.item
          if ((source !== 'search') && (num === 1)) {
            poiPicker.searchByKeyword(poi.name)
            num = num + 1
          } else {
            // poiPicker.clearSearchResults() // 清除定位地标
            vm.zoom = 18
            vm.markers = []
            let lng = poi.location.lng
            let lat = poi.location.lat
            let address = poi.cityname + poi.adname + poi.name
            vm.center = [lng, lat]
            vm.markers.push([lng, lat])
            vm.lng = lng
            vm.lat = lat
            vm.address = address
            vm.searchKey = address
            num = 1
          }
        })
      })
    },
    searchByHand (val) {
      if (this.searchKey !== '') {
        if (val === 1) {
          var geocoder = new AMap.Geocoder({
            radius: 1000,
            extensions: 'all',
            city: '全国',
            enableHighAccuracy: true, // 是否使用高精度定位，默认：true
            zoomToAccuracy: true // 定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
          })
          geocoder.getLocation(this.searchKey, (status, result) => {
            if (status === 'complete' && result.geocodes.length) {
              this.zoom = 18
              let lnglat = result.geocodes[0].location
              this.lng = lnglat.lng
              this.lat = lnglat.lat
              this.center = [lnglat.lng, lnglat.lat]
              this.markers.push([lnglat.lng, lnglat.lat])
              this.windows.push({
                position: [lnglat.lng, lnglat.lat],
                content: `<div style='margin:10px;'>地址：${result.geocodes[0].formattedAddress}</div>`,
                offset: [0, -40],
                open: true
              })
              this.address = result.geocodes[0].formattedAddress
              this.searchKey = result.geocodes[0].formattedAddress
              this.$nextTick()
            }
          })
        } else {
          this.poiPicker.searchByKeyword(this.searchKey)
        }
      }
    },
    handleValue () {
      if (!this.searchKey) {
        let map = this.amapManager.getMap()
        if (map) {
          map.clearMap()
        }
      }
    },
    handleConfirm () {
      this.$emit('event', {lng: this.lng, lat: this.lat, fullAddress: this.address})
      this.handleDialog(false)
    },
    handleCancel () {
      this.handleDialog(false)
    }
  }
}
</script>

<style lang="less" scoped>
/deep/.poi-more{
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #999;
}
.search-box {
  position: absolute;
  z-index: 5;
  width: 30%;
  left: 30px;
  top: 30px;
  height: 30px;
}
.search-box input {
  float: left;
  width: 80%;
  height: 100%;
  border: 1px solid #30ccc1;
  padding: 0 8px;
  outline: none;
}
.search-box button {
  float: left;
  width: 20%;
  height: 100%;
  background: #30ccc1;
  border: 1px solid #30ccc1;
  color: #fff;
  outline: none;
}
.tip-box {
  width: 100%;
  max-height: 260px;
  position: absolute;
  top: 30px;
  overflow-y: auto;
  background-color: #fff;
}
.btn{
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn-item{
  width: 66px;
  height: 30px;
  padding: 0;
}
.btn-item:first-child{
  margin-right: 15px;
}
.btn-item:last-child{
  margin-left: 15px;
}
</style>
