<template>
  <section class="project-container">
    <div>
      <div class="header" ref="ContentWidth" v-resize="resetTableHeight">
        <span> {{dialogForm.proName}}</span>
      </div>
      <div class="content-box">
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">流程进度</span>
            </div>
            <div class="right">
              <span class="right-num">受理号：xxxxxxxxxxxxxxx</span>
              <el-button type="primary" @click="showDialog('approve')">呈批表</el-button>
              <el-button type="primary" @click="showDialog('info')">流转信息</el-button>
            </div>
          </div>
          <div class="step">
            <img class="step-img" :src="base64Img">
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">基本信息</span>
            </div>
            <div class="right">
              <span>阶段1：规划设计方案审核</span>
            </div>
          </div>
          <div class="step">
            <div>
              <div class="tit-box">
                <div class="tit-sec">开发商信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm">
                <el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="开发商名称:" prop="unit" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.unit" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系电话:" prop="phone" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.phone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="统一社会信用代码:" prop="code" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.code" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <div>
                    <Address level="5" isVillage="1" isDisabled="false" isDisabledAdd="false" isRequired="false" :addressArr="dialogForm.address" :detailAddr="dialogForm.detailAddr"></Address>
                  </div>
                </el-row>
              </el-form>
            </div>
            <div>
              <div class="tit-box">
                <div class="tit-sec">代理人信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm">
                <el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="法定代表人:" prop="legalName" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.legalName" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="法定代表人电话:" prop="legalPhone" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.legalPhone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="法定代表人证件类型:" prop="legalType" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.legalType" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="法定代表人证件号码:" prop="legalCode" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.legalCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="委托代理人:" prop="agentName" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.agentName" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="委托代理人手机号码:" prop="agentPhone" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.agentPhone" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="委托代理人身份类型:" prop="agentType" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.agentType" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="委托代理人身份证号:" prop="agentCode" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.agentCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </el-row>
              </el-form>
            </div>
            <div>
              <div class="tit-box">
                <div class="tit-sec">土地信息</div>
                <div class="tit-block"></div>
              </div>
              <el-form :model="dialogForm" ref="dialogForm">
                <el-row>
                  <el-form-item label="项目名称:" prop="projectName" :label-width="formLabelWidth" required>
                    <el-input v-model="dialogForm.projectName" disabled></el-input>
                  </el-form-item>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="土地合同号:" prop="contractCode" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="土地合同签订日期:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="补充协议名称:" prop="contractCode" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="补充协议签订时间:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="批复文件:" prop="contractCode" :label-width="formLabelWidth" required>
                        <el-radio-group disabled @change="changeCommit" v-model="dialogForm.isEconomicCommitment">
                          <el-radio label="1">用地规划许可证号</el-radio>
                          <el-radio label="2">区政府同意规划条件的函</el-radio>
                        </el-radio-group>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12" v-if="dialogForm.isEconomicCommitment==1">
                      <el-form-item label="用地规划许可证号:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12" v-else>
                      <el-form-item label="区政府同意规划条件的函:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="签发日期:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="项目实施监管协议:" prop="contractCode" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractCode" disabled></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="宗地号:" prop="contractTime" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.contractTime" disabled></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <div>
                    <Address level="5" isVillage="1" isDisabled="true" isDisabledAdd="true" isRequired="false" :detailAddr="dialogForm.detailAddress"></Address>
                  </div>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="用地面积:" prop="landArea" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.landArea" disabled>
                          <template slot="append">m²</template>
                        </el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="建筑面积:" prop="buildArea" :label-width="formLabelWidth" required>
                        <el-input v-model="dialogForm.buildArea" disabled>
                          <template slot="append">m²</template>
                        </el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </el-row>
              </el-form>
            </div>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">用房详情</span>
            </div>
          </div>
          <div class="step">
            <template>
              <section class="project-table">
                <el-table border :data="tableData" :span-method="objectSpanMethod">
                  <el-table-column label="序号" type="index" align="center"></el-table-column>
                  <el-table-column prop="type" label="物业种类" width="60"></el-table-column>
                  <el-table-column prop="user" label="具体用途" width="180"></el-table-column>
                  <el-table-column prop="constract" label="楼梯结构形式"> </el-table-column>
                  <el-table-column prop="allHeight" label="楼梯总高度(M)"> </el-table-column>
                  <el-table-column prop="allLayer" label="楼梯总层数"> </el-table-column>
                  <el-table-column prop="allArea" label="总建筑面积(m²)"> </el-table-column>
                  <el-table-column prop="date" label="计划移交时间"> </el-table-column>
                  <el-table-column prop="period" label="期数"> </el-table-column>
                  <el-table-column prop="buildingNum" label="栋号"> </el-table-column>
                  <el-table-column prop="layerNum" label="移交方式"> </el-table-column>
                  <el-table-column prop="roomNum" label="计划移交时间"> </el-table-column>
                  <el-table-column prop="area" label="用房数"> </el-table-column>
                  <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                      <el-button type="primary" class="handle-el-icon" @click="showDialog('see',scope.row)">用房明细</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div>
                  <el-form :model="dialogForm" ref="remarkForm">
                  <el-form-item label="备注:" prop="unit" label-width="60px">
                    <el-input type="textarea" v-model="dialogForm.companyInfoRemark" disabled></el-input>
                  </el-form-item>
                </el-form>
                </div>
              </section>
            </template>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">申请材料<span style="color:#0000ff; font-size:14px;">(请将所有文件加盖公章扫描成PDF，并按“编号+名称”分别命名，光盘上备注清楚项目名称和报建阶段)</span></span>
            </div>
            <div class="right">
              <el-button type="primary">附件<span>(0)</span>打包下载</el-button>
            </div>
          </div>
          <div class="step">
            <template>
              <div class="tableDate">
                <div class="table">
                  <el-table :data="applyTable" ref="applyTable" tooltip-effect="dark" border stripe>
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column label="序号" type="index" align="center"></el-table-column>
                    <el-table-column label="材料名称" prop="materiaryName"></el-table-column>
                    <el-table-column label="文件大小" prop="fileScale"></el-table-column>
                    <el-table-column label="审核状态" prop="status"></el-table-column>
                    <el-table-column label="材料审核指南" prop="intruduce"></el-table-column>
                    <el-table-column label="操作" align="center">
                      <template slot-scope="scope">
                        <el-button type="primary" class="handle-el-icon" @click="showDialog('see',scope.row)">查看</el-button>
                        <el-button type="primary" class="handle-el-icon">材料通过</el-button>
                        <el-button type="primary" class="handle-el-icon">下载</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div>
          <div class="step-tit">
            <div class="left">
              <span class="block"></span>
              <span class="tit">联审会议纪要</span>
            </div>
          </div>
          <div class="step">
            <div class="step-flex">
              <div class="left">
                <el-form :model="dialogForm" ref="fileForm" class="file-form" >
                  <el-form-item label="联审会议纪要附件:" prop="unit" label-width="150px" required>
                    <UploadFile @buttonVisible="buttonVisible($event)" @getID="getUpdateData($event)" @event="changeWps($event)" :filesList="filesList" :limitFileArr="4" :businessId="businessId" buttonName="点击上传" ref="uploadFile"></UploadFile>
                  </el-form-item>
                </el-form>
              </div>
              <div class="right">
                <el-button :disabled='contractButtonVisible' type="warning" @click="deleteFile">删除</el-button>
                <el-button :disabled='contractButtonVisible' type="primary" @click="downLoadFile('contract')">下载</el-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer" :style="{width: contentWidth}" class="bottom">
        <el-button @click="showDialog('send')">发送短信</el-button>
        <el-button @click="showDialog">终止流程</el-button>
        <el-button @click="showDialog('fill')">材料补正</el-button>
        <el-button @click="showDialog">驳回</el-button>
        <el-button type="primary" @click="showDialog('examine')">审核通过</el-button>
      </div>

      <CirculationInfoForm v-if="circulationVisible" ref="circulationInfoForm" />
      <TransferApprovalForm v-if="approvalFormVisible" ref="approvalForm" />
      <EditDialog v-if="editVisible" ref="EditDialog" />
      <SendMsg v-if="sendMsgVisible" ref="SendMsg" />
      <FileFillUp v-if="fillFillVisible" ref="FileFillUp" />
      <CheckProcess v-if="checkProcessVisible" ref="CheckProcess" />

    </div>
  </section>
</template>
<script>
import Address from '@/components/address.vue'
import CirculationInfoForm from '../../secondDialog/circulationInfoForm.vue'
import TransferApprovalForm from '../../secondDialog/transferApprovalForm.vue'
import EditDialog from '../../secondDialog/editPriceDialog.vue'
import SendMsg from '../../secondDialog/sendMsg.vue'
import FileFillUp from '../../secondDialog/fileFillUp.vue'
import CheckProcess from '../../secondDialog/checkProcess.vue'
import UploadFile from '@/components/uploadFile.vue'
import { businessHandle, getProcessImg } from '@/until/api.js'
import resize from '@/until/resize.js'

export default {
  props: ['dialogShow'],
  components: {
    Address, CirculationInfoForm, TransferApprovalForm, EditDialog, SendMsg, FileFillUp, CheckProcess, UploadFile
  },
  directives: {
    resize
  },
  data () {
    return {
      businessId: '',
      circulationVisible: false,
      approvalFormVisible: false,
      editVisible: false,
      sendMsgVisible: false,
      fillFillVisible: false,
      checkProcessVisible: false,
      formLabelWidth: '126px',
      contentWidthNum: '',
      dialogForm: {},
      base64Img: '',

      tableData: [],
      applyTable: [{
        materiaryName: '开发授权五件套',
        fileScale: '12.3M',
        status: '待审核',
        intruduce: 'xxxxx'
      },
      {
        materiaryName: '开发授权五件套',
        fileScale: '12.3M',
        status: '待审核',
        intruduce: 'xxxxx'
      }
      ]
    }
  },

  created () {
    // this.businessId = this.$route.query.id
    this.businessId = sessionStorage.getItem('businessId')
    this.getDataList()
  },

  computed: {
    contentWidth: function () {
      return this.contentWidthNum + 'px'
    }
  },
  methods: {
    resetTableHeight () {
      this.contentWidthNum = (this.$refs.ContentWidth).clientWidth - 20
    },
    getDataList () {
      this.getFormData()
      this.getProcess()
    },
    // 表单数据
    getFormData () {
      businessHandle(this.businessId).then(res => {
        if (res.data.code !== 0) {
          this.$message.warning(res.data.errMsg)
          // setTimeout(() => {
          //   this.backLastPage()
          // }, 10)
        } else {
          this.dialogForm = res.data.data
          this.dialogForm.contractTime = this.formatDate(this.dialogForm.contractTime)
          this.dialogForm.contractSignTime = this.formatDate(this.dialogForm.contractSignTime)
          this.dialogForm.issueTime = this.formatDate(this.dialogForm.issueTime)
        }
      })
    },
    // 流程进度
    getProcess () {
      getProcessImg(this.businessId).then(res => {
        this.base64Img = 'data:image/png;base64,' + res.data.data
      })
    },
    // 无数据直接返回
    backLastPage () {
      if (this.$route.query.mark === 'should') {
        this.$router.push({ name: 'shouldHandleBusiness', params: { agencyType: '3' } })
      } else {
        this.$router.push({ name: 'allBusiness', params: { agencyType: '3' } })
      }
    },
    // 表格拆分
    objectSpanMethod ({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0) {
        if (rowIndex % 2 === 0) {
          return {
            rowspan: 2,
            colspan: 1
          }
        } else {
          return {
            rowspan: 0,
            colspan: 0
          }
        }
      }
    },
    // 打开弹框或新页面
    showDialog (mark) {
      const actions = {
        'info': () => {
          this.circulationVisible = true
          this.$nextTick(() => {
            this.$refs.circulationInfoForm.title = '用房移交申请流转信息'
            this.$refs.circulationInfoForm.businessId = this.businessId
            this.$refs.circulationInfoForm.show()
          })
        },
        'approve': () => {
          this.approvalFormVisible = true
          this.$nextTick(() => {
            this.$refs.approvalForm.businessId = this.businessId
            this.$refs.approvalForm.show()
          })
        },
        'edit': () => {
          this.editVisible = true
          this.$nextTick(() => {
            this.$refs.EditDialog.show()
          })
        },
        'send': () => {
          this.sendMsgVisible = true
          this.$nextTick(() => {
            this.$refs.SendMsg.show()
          })
        },
        'fill': () => {
          this.fillFillVisible = true
          this.$nextTick(() => {
            this.$refs.FileFillUp.show()
          })
        },
        'examine': () => {
          this.checkProcessVisible = true
          this.$nextTick(() => {
            this.$refs.CheckProcess.show()
          })
        }
      }
      actions[mark]()
    },
    // 时间戳转化成日期
    formatDate (dataStr) {
      var time = new Date(dataStr)
      function timeAdd0 (str) {
        if (str < 10) {
          str = '0' + str
        }
        return str
      }
      var y = time.getFullYear()
      var m = time.getMonth() + 1
      var d = time.getDate()
      var h = time.getHours()
      var mm = time.getMinutes()
      var s = time.getSeconds()
      return y + '-' + timeAdd0(m) + '-' + timeAdd0(d) + ' ' +
        timeAdd0(h) + ':' + timeAdd0(mm) + ':' + timeAdd0(s)
    }
  }
}
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
