<template>
  <section class="project-container">
    <template>
      <!-- <template>
        <el-radio-group v-model="ruleForm1.type">
          <el-radio label="1">企业</el-radio>
          <el-radio label="2">个体工商户</el-radio>
          <el-radio label="3">个人</el-radio>
          <el-radio label="4">其他</el-radio>
        </el-radio-group>
      </template> -->
      <template>
        <section class="project-search" style="margin-top: 30px;text-align: center">
          <el-link type="primary" @click="handleDownload(1)">下载租赁缴款通知书.docx</el-link>
          <el-link type="primary" @click="handleDownload(2)" style="margin-left: 200px;">下载合同模板.docx</el-link>
        </section>
      </template>

      <el-form :model="ruleForm1" :rules="rules" ref="ruleForm1" class="project-el-form pt20" style="width:100%" label-width="200px">
        <div class="tit-box">
          <div class="tit-sec">企业信息</div>
          <div class="tit-block"></div>
        </div>
        <section class="project-search" style="margin-top: 30px;">
          <el-row>
            <el-col :span="10">
              <el-form-item label="承租对象:" prop="" required>
                <el-select v-model="ruleForm1.leaseType" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in leaseTypeOptions" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="签约类型:" prop="contractType">
                <el-select v-model="ruleForm1.contractType" :disabled="!edit">
                  <el-option v-for="item in contractTypeOptions" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="申请人类型:" prop="applicationType">
                <el-select v-model="ruleForm1.applicationType" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in applicationTypeOptions" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label="承租方（乙方）:" prop="leaser">
                <el-input v-model="ruleForm1.leaser" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="承租方证件类型:" prop="" required>
                <el-select v-model="ruleForm1.leaserType" disabled>
                  <el-option v-for="item in leaserTypeOptions" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="承租方证件号码:" prop="leaserCode">
                <el-input v-model="ruleForm1.leaserCode" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label="营业执照地址:" prop="businessLicenseAddr">
                <el-input v-model="ruleForm1.businessLicenseAddr" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.leaseType!=3">
            <el-col :span="10">
              <el-form-item class="is-required" label="法定代表人:" prop="legalPerson">
                <el-input v-model="ruleForm1.legalPerson" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item class="is-required" label="法定代表人联系方式:" prop="legalPhone">
                <el-input v-model="ruleForm1.legalPhone" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.leaseType!=3">
            <el-col :span="10">
              <el-form-item class="is-required" label="法定代表人证件类型:" prop="legalType">
                <el-select v-model="ruleForm1.legalType" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in legalTypeOptions" :key="item.legalValue" :label="item.legalLabel" :value="item.legalValue">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item class="is-required" label="法定代表人证件号码:" prop="legalCode">
                <el-input v-model="ruleForm1.legalCode" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.leaseType!=3">
            <el-col :span="20">
              <el-form-item class="wd100 is-required" label="法定代表人通讯地址:" prop="legalAddress">
                <el-input v-model="ruleForm1.legalAddress" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="联系人:" prop="contactPerson">
                <el-input v-model="ruleForm1.contactPerson" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="联系电话:" prop="contactPhone">
                <el-input v-model="ruleForm1.contactPhone" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.applicationType==2">
            <el-col :span="10">
              <el-form-item label="委托代理人:" prop="clientPerson" class="is-required">
                <el-input v-model="ruleForm1.clientPerson" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="委托代理人联系方式:" prop="clientPhone" class="is-required">
                <el-input v-model="ruleForm1.clientPhone" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.applicationType==2">
            <el-col :span="10">
              <el-form-item label="委托代理人证件类型:" prop="clientType" class="is-required">
                <el-select v-model="ruleForm1.clientType" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in clientTypeOptions" :key="item.legalValue" :label="item.legalLabel" :value="item.legalValue">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="委托代理人证件号码:" prop="clientCode" class="is-required">
                <el-input v-model="ruleForm1.clientCode" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.applicationType==2">
            <el-col :span="20">
              <el-form-item class="wd100 is-required" label="委托代理人通讯地址:" prop="clientAddress">
                <el-input v-model="ruleForm1.clientAddress" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label="备注:">
                <el-input v-model="ruleForm1.companyInfoRemark" type="textarea" rows="3" placeholder="请输入" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </section>

        <div class="tit-box">
          <div class="tit-sec">租赁信息</div>
          <div class="tit-block"></div>
        </div>
        <section class="project-search" style="margin-top: 30px;">
          <el-row>
            <el-col :span="18">
              <el-form-item class="wd100" label="租赁物业地址:" prop="wyBasicInfoIdStr">
                <!-- <el-select v-model="ruleForm1.wyBasicInfoId" multiple placeholder="请选择" filterable clearable :disabled="!edit" :filter-method="filterWy" @focus="focusWy" @change="wyBasicInfoChange">
                  <el-option v-for="(item,index) in wyBasicInfoOptionsFilter" :key="index+'wyBasicInfo'+item.id" :label="item.unitName" :value="item.id">
                  </el-option>
                </el-select> -->
                <el-input v-model="selectedWyNames" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2" style="text-align:right">
              <el-button style="width:90%" size="mini" type="info" plain @click="showDialog('address')" :disabled="!edit">点击选择</el-button>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.leaseType==1">
            <el-col :span="20">
              <el-form-item label="是否经济贡献承诺:" prop="" required>
                <el-select v-model="ruleForm1.isEconomicCommit" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in isEconomicCommitOptions" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <!-- <el-col v-show="ruleForm1.isEconomicCommit==1" :span="20">
              <el-form-item class="wd100" label="经济贡献承诺:" prop="">
                <el-input type="textarea" rows="3" v-model="ruleForm1.economicCommit"></el-input>
              </el-form-item>
            </el-col> -->
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label="承租方通信地址:" prop="">
                <el-input v-model="ruleForm1.leaserAddress" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label="房屋编码(多个用顿号隔开):" prop="">
                <el-input v-model="ruleForm1.houseCode" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="房屋权属情况:" prop="houseOwnershipId">
                <el-select v-model="ruleForm1.houseOwnershipId" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in houseOwnershipOptions" :key="item.id" :label="item.name" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="甲方持有房屋证明文件:" prop="houseProofId">
                <el-select v-model="ruleForm1.houseProofId" placeholder="请选择" :disabled="!edit" @change="houseProofIdChange">
                  <el-option v-for="item in houseProofOptions" :key="item.id" :label="item.name" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-show="certificationNumberVisible">
            <el-col :span="20">
              <el-form-item class="wd100 form-item-2row is-required" label="房屋所有证权或不动产权证书编号:" prop="certificationNumber">
                <el-input v-model="ruleForm1.certificationNumber" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="出租面积(㎡):" prop="">
                <el-input v-model="ruleForm1.rentalArea" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="套内建筑面积(㎡):" prop="">
                <el-input v-model="ruleForm1.insideArea" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="公摊面积(㎡):" prop="">
                <el-input v-model="ruleForm1.shareArea" disabled></el-input>
              </el-form-item>
            </el-col>
            <!-- <el-col :span="10">
              <el-form-item label="指导价(元/㎡):" prop="">
                <el-input v-model="ruleForm1.guidePrice"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="折扣:" prop="">
                <el-select v-model="ruleForm1.discount" placeholder="请选择">
                  <el-option v-for="item in discountOptions1" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col> -->
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item label="是否拆分租金单价:" prop="" required>
                <el-radio-group v-model="ruleForm1.isSplitRent" :disabled="!edit" @change="isSplitRentChange">
                  <el-radio :label="2">否</el-radio>
                  <el-radio :label="1">是</el-radio>
                </el-radio-group>
              </el-form-item>
              <template>
                <div v-show="ruleForm1.isSplitRent==1" class="tableDate" style="padding-left:73px;margin-bottom:20px">
                  <div class="table">
                    <el-table :data="rentList" ref="table" tooltip-effect="dark" border stripe @selection-change='selectRow'>
                      <el-table-column label="序号" type="index" width="60" align="center"></el-table-column>
                      <el-table-column label="物业名称" align="center">
                        <template slot-scope="scope">
                          <el-select v-model="scope.row.wyBasicInfoId" placeholder="请选择" filterable :filter-method="filterWy" @focus="focusWy" @change="rentListWyChange($event,scope.$index)">
                            <el-option v-for="(item,index) in wyBasicInfoOptionsFilter" :key="index+'wyBasicInfoRentList'+item.id" :label="item.unitName" :value="item.id">
                            </el-option>
                          </el-select>
                        </template>
                      </el-table-column>
                      <el-table-column label="单价">
                        <template slot-scope="scope">
                          <el-input v-model="scope.row.price" :disabled="!edit" @change="rentListPriceChange($event,scope.$index)"></el-input>
                        </template>
                      </el-table-column>
                      <el-table-column label="面积(平)">
                        <template slot-scope="scope">
                          <el-input v-model="scope.row.area" disabled></el-input>
                        </template>
                      </el-table-column>
                      <el-table-column label="租金(元)">
                        <template slot-scope="scope">
                          <el-input v-model="scope.row.rent" disabled @change="rentListRentChange"></el-input>
                        </template>
                      </el-table-column>
                      <el-table-column v-if="edit" label="操作">
                        <template slot-scope="scope">
                          <el-button @click="delData(scope.row,scope.$index)">删除</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                    <template>
                      <el-button v-if="edit" style="width: 100%" class="el-icon-plus" @click.prevent="addRow()">新增</el-button>
                    </template>
                  </div>
                </div>
              </template>
            </el-col>
          </el-row>
          <el-row v-show="ruleForm1.isSplitRent==2">
            <el-col :span="10">
              <el-form-item class="is-required" label="租金单价(元/㎡):" prop="rentPrice">
                <el-input v-model="ruleForm1.rentPrice" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="月租金:" prop="">
                <el-input v-model="ruleForm1.monthlyRent" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="免租期:" prop="" required>
                <el-select v-model="ruleForm1.freeRent" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in freeRentOptions" :key="item.value" :label="item.label" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="租赁起租期限:" prop="startRentDate">
                <el-date-picker v-model="ruleForm1.startRentDate" type="date" :disabled="!edit" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择日期时间">
                </el-date-picker>

              </el-form-item>

            </el-col>
            <el-col :span="10">
              <el-form-item label="租赁止租期限:" prop="endRentDate">
                <el-date-picker v-model="ruleForm1.endRentDate" type="date" :disabled="!edit" placeholder="选择日期时间" format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="首期租金交付日期:" prop="firstRentTime">
                <el-date-picker v-model="ruleForm1.firstRentTime" type="date" :disabled="!edit" placeholder="选择日期时间" format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="首期租金交付金额(元):" prop="firstRentMoney">
                <el-input v-model="ruleForm1.firstRentMoney" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="押金金额(元):" prop="depositAmount">
                <el-input v-model="ruleForm1.depositAmount" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="房屋租赁用途:" prop="leaseUse">
                <el-select v-model="ruleForm1.leaseUse" placeholder="请选择" :disabled="!edit">
                  <el-option v-for="item in leaseUseOptions" :key="item.value" :label="item.label" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="水费(元/吨):" prop="waterFee">
                <el-input v-model="ruleForm1.waterFee" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="电费(元/度):" prop="electricFee">
                <el-input v-model="ruleForm1.electricFee" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="燃气费(元/m³):" prop="gasFee">
                <el-input v-model="ruleForm1.gasFee" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="物业管理费(元/㎡/月):" prop="propertyManagementFee">
                <el-input v-model="ruleForm1.propertyManagementFee" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10">
              <el-form-item label="其他(元):" prop="otherFee">
                <el-input v-model="ruleForm1.otherFee" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="20">
              <el-form-item class="wd100" label=" 备注:" prop="">
                <el-input type="textarea" rows="3" v-model="ruleForm1.remark" :disabled="!edit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </section>

      </el-form>

      <div class="step-tit">
        <div class="left"><span class="block"></span> <span class="tit">拟定合同内容</span></div>
      </div>
      <el-form class="project-el-form pt20" style="width:1008px" label-width="200px">
        <section class="project-search" style="margin-top: 30px;">
          <el-row>
            <el-col :span="20">
              <el-form-item label="合同附件:">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'contractFile')" :filesList="contractFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in contractFile" :key="'contractFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
          </el-row>
        </section>
      </el-form>

      <div class="step-tit">
        <div class="left"><span class="block"></span>
          <span class="tit">申请材料<span v-if="edit" class="tips">（只可上传一份材料，多个文件请打包上传）</span></span>
        </div>
        <div class="right">
          <el-button v-if="edit" type="primary" @click="addCustomFile">自定义附件</el-button>
        </div>
      </div>
      <el-form class="project-el-form pt20" style="width:1008px" label-width="200px">
        <section class="project-search" style="margin-top: 30px;">
          <el-row>
            <el-col :span="20">
              <div v-for="(item,index) in fileTarget3" v-bind:key="index" class="file-item">
                <div class="lb">
                  <el-input v-if="edit" class="file-label" placeholder="自定义名称" v-model="item.name"></el-input>
                  <div v-else class="txt">{{item.name}}:</div>
                </div>
                <UploadWps v-if="edit" @event="changeWps3($event,index)" :filesList="item.files" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index2) in item.files" :key="'customFile_'+index+'_'+index2">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
                <el-button v-if="edit" type="danger" @click="delCustomFile(index)" style="height:30px">删除</el-button>
              </div>
            </el-col>
            <el-col :span="20">
              <el-form-item label=" 身份证复印件:" prop="" v-show="ruleForm1.leaseType!=1">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'personFile')" :filesList="personFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in personFile" :key="'personFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>

            <el-col :span="20">
              <el-form-item label=" 法人身份证复印件:" prop="" v-show="ruleForm1.leaseType==1">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'legalPersonFile')" :filesList="legalPersonFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in legalPersonFile" :key="'legalPersonFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label=" 营业执照复印件:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'businessLicenseFile')" :filesList="businessLicenseFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in businessLicenseFile" :key="'businessLicenseFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label=" 法人代表证明书:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'legalRepresentativeFile')" :filesList="legalRepresentativeFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in legalRepresentativeFile" :key="'legalRepresentativeFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label=" 法人授权委托书:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'legalPersonPowerFile')" :filesList="legalPersonPowerFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in legalPersonPowerFile" :key="'legalPersonPowerFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label=" 经办人身份证复印件:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'handlingPersonCardFile')" :filesList="handlingPersonCardFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in handlingPersonCardFile" :key="'handlingPersonCardFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>

            <el-col :span="20">
              <el-form-item label=" 租金价格评估报告:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'rentReportFile')" :filesList="rentReportFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in rentReportFile" :key="'rentReportFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>

            <el-col :span="20">
              <el-form-item label=" 会议纪要:" prop="" v-show="ruleForm1.leaseType==1||ruleForm1.leaseType==4">
                <UploadWps v-if="edit" @event="changeWpsFive($event,'meetingFile')" :filesList="meetingFile" :is-disabled="!edit"></UploadWps>
                <ul v-else class="u-file-view-list">
                  <li v-for="(item,index) in meetingFile" :key="'meetingFile_'+index">
                    <a :href="item.path" target="_blank">{{item.fileName}}</a>
                  </li>
                </ul>
              </el-form-item>
            </el-col>
          </el-row>
        </section>
      </el-form>

      <div v-if="edit" class="tac pt50">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" :disabled="submitDisabled" @click="submit('ruleForm')">确定</el-button>
      </div>

    </template>
    <SelectAddress v-if="selectAddressVisible" :businessId="businessId" :contractId="id" :selections="addressSels" @close="operateSon($event)" @confirm="selectAddressConfirm" ref="SelectAddress" />
  </section>
</template>
<script>
import SelectAddress from './dialog/selectPropertyAddress.vue'
import UploadImg from '@/components/uploadImg.vue'
import UploadWps from '@/components/uploadWps1.vue'
import { allProRight, addContract, seeList, selectTag, getWyBasicInfoBatch } from '@/until/api.js'
import moment from 'moment'
import select from '@/until/select.js'
import objMixins from './mixins/editContractMixins.js'
import { downLoadPaymentNotice, downLoadContactTemplate } from './request'

export default {
  props: ['edit'],
  mixins: [select, objMixins],
  components: {
    UploadImg,
    UploadWps,
    SelectAddress
  },
  name: 'dataList',
  data () {
    let validNumber = (fieldName) => {
      return (rule, value, callback) => {
        if ((value === '' || value === undefined)) callback(new Error(`${fieldName}不能为空`))
        else if (isNaN(value)) callback(new Error(`${fieldName}必须为数字`))
        else callback()
      }
    }

    let validWyId = (rule, value, callback) => {
      if ((value === '' || value === undefined || value.length == 0)) callback(new Error(`租赁物业不能为空`))
      else callback()
    }

    return {
      submitDisabled: false,
      activeName: '',

      dialogFormVisible: false,

      rentList: [],
      selectlistRow: [],

      // 承租对象
      leaseTypeOptions: [
        { name: '企业', value: 1 },
        { name: '个体工商户', value: 2 },
        { name: '个人', value: 3 },
        { name: '其他', value: 4 }
      ],
      // 签约类型
      contractTypeOptions: [
        { name: '新签', value: 1 },
        { name: '续签', value: 2 }
      ],
      // 申请人类型
      applicationTypeOptions: [
        { name: '法人申请', value: 1 },
        { name: '委托代理人申请', value: 2 }
      ],
      // 承租方证件类型
      leaserTypeOptions: [
        { name: '社会统一信用代码', value: 1 },
        { name: '身份证', value: 2 },
        { name: '护照', value: 3 }
      ],
      // 法定代表人证件类型
      legalTypeOptions: [{
        legalValue: 1,
        legalLabel: '身份证'
      }, {
        legalValue: 2,
        legalLabel: '护照'
      }],
      // 委托代理人证件类型
      clientTypeOptions: [{
        legalValue: 1,
        legalLabel: '身份证'
      }, {
        legalValue: 2,
        legalLabel: '护照'
      }],
      // 是否经济贡献承诺
      isEconomicCommitOptions: [
        { name: '是', value: 1 },
        { name: '否', value: 2 }
      ],
      // 折扣
      discountOptions1: [
        { name: '全价', value: 1 },
        { name: '30%', value: 0.3 },
        { name: '50%', value: 0.5 },
        { name: '70%', value: 0.7 },
        { name: '90%', value: 0.9 }
      ],
      // 房屋租赁用途
      leaseUseOptions: [
        { value: 1, label: '办公' },
        { value: 2, label: '综合(研发)' },
        { value: 3, label: '工业研发' },
        { value: 4, label: '研发' },
        { value: 5, label: '住宅' },
        { value: 6, label: '普通商业' },
        { value: 7, label: '园区商业' },
        { value: 8, label: '厂房' },
        { value: 9, label: '商铺' },
        { value: 10, label: '其他' },
        { value: 11, label: '党建活动办公室' },
        { value: 12, label: '宿舍' },
        { value: 13, label: '办公' },
        { value: 14, label: '餐饮' }
      ],
      // 免租期限
      freeRentOptions: [{
        value: 0,
        label: '无'
      }, {
        value: 1,
        label: '十五日'
      }, {
        value: 2,
        label: '一个月'
      }, {
        value: 3,
        label: '两个月'
      }, {
        value: 4,
        label: '三个月'
      }, {
        value: 5,
        label: '四个月'
      }],
      houseOwnershipOptions: [], // 房屋权属情况
      houseProofOptions: [], // 甲方持有房屋证明文件

      selectAddressVisible: false, // 选择地址弹框
      businessId: '',
      leaseWyAddress: '',
      addressSels: [], // 选择的物业列表
      selectedWyNames: '', // 选择的物业名称

      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }],
      value: '',

      certificationNumberVisible: false, // 房屋所有证权或不动产权证书编号 是否显示
      ruleForm1: {
        type: '4', // 类型 1产业用房租赁合同3+2（有经济贡献率）;2产业用房租赁合同3+2（无经济贡献率）;3产业用房租赁合同3年及3年以下; 4商业租赁合同；5住宅租赁合同；6南山软件租赁合同

        leaseType: 1, // 承租对象
        contractType: 1, // 签约类型
        applicationType: 1, // 申请人类型
        leaser: '', // 承租方（乙方）
        leaserType: 1, // 承租方证件类型
        leaserCode: '', // 承租方证件号码
        businessLicenseAddr: '', // 营业执照地址
        // leaserAddress: '',//承租方通信地址（接口无此字段、待定）
        // 法人信息
        legalPerson: '',
        legalPhone: '',
        legalType: '',
        legalCode: '',
        legalAddress: '',

        contactPerson: '', // 联系人
        contactPhone: '', // 联系电话

        // 委托人信息
        clientPerson: '',
        clientPhone: '',
        clientType: '',
        clientCode: '',
        clientAddress: '',
        companyInfoRemark: '', // 企业信息备注

        wyBasicInfoId: [], // 租赁物业地址 id
        wyBasicInfoIdStr: '',
        isEconomicCommit: 1, // 是否经济贡献承诺
        economicCommit: '', // 经济贡献承诺
        houseCode: '', // 房屋编码
        houseOwnershipId: '', // 房屋权属情况id
        houseProofId: '', // 甲方持有房屋证明文件id
        certificationNumber: '', // 房屋所有证权或不动产权证书编号

        buildArea: '',
        shareArea: '', // 公推面积
        rentalArea: '', // 出租面积
        insideArea: '', // 套内面积
        guidePrice: '', // 指导价
        discount: 1, // 折扣
        isSplitRent: 2, // 是否拆分租金单价
        rentPrice: '', // 租金单价
        monthlyRent: '',
        freeRent: 0,
        startRentDate: '',
        endRentDate: '',
        firstRentTime: '',
        firstRentMoney: '',
        depositAmount: '',
        leaseUse: 1,
        waterFee: '',
        electricFee: '',
        gasFee: '',
        propertyManagementFee: '',
        otherFee: '',
        remark: '' // 备注
      },

      leaseType: 1, // 承租对象
      contractType: 1, // 签约类型
      applicationType: 1, // 申请人类型
      input: '',
      legalApplication: true,
      clientApplication: true,
      legalApplicationType: true,

      // form
      radio: '1',
      radioStatus: 1,

      ruleForm: {
        name: ''
      },
      rules: {
        contractType: [{ required: true, message: '签约类型不能为空', trigger: 'change' }],
        applicationType: [{ required: true, message: '申请人类型不能为空', trigger: 'change' }],
        leaser: [{ required: true, message: '承租方（乙方）不能为空', trigger: 'blur' }],
        leaserCode: [{ required: true, message: '承租方证件号码不能为空', trigger: 'blur' }],
        businessLicenseAddr: [{ required: true, message: '营业执照地址不能为空', trigger: 'blur' }],
        contactPerson: [{ required: true, message: '联系人不能为空', trigger: 'blur' }],
        contactPhone: [{ required: true, message: '联系电话不能为空', trigger: 'blur' }],
        wyBasicInfoIdStr: [{ required: true, validator: validWyId, trigger: 'change' }],
        houseOwnershipId: [{ required: true, message: '房屋权属情况不能为空', trigger: 'change' }],
        houseProofId: [{ required: true, message: '甲方持有房屋证明文件不能为空', trigger: 'change' }],
        startRentDate: [{ required: true, message: '租赁起租期限不能为空', trigger: 'change' }],
        endRentDate: [{ required: true, message: '租赁止租期限不能为空', trigger: 'change' }],
        firstRentTime: [{ required: true, message: '首期租金交付日期不能为空', trigger: 'change' }],
        firstRentMoney: [{ required: true, validator: validNumber('首期租金交付金额'), trigger: 'blur' }],
        leaseUse: [{ required: true, message: '房屋租赁用途不能为空', trigger: 'change' }],
        waterFee: [{ required: true, validator: validNumber('水费'), trigger: 'blur' }],
        depositAmount: [{ required: true, validator: validNumber('押金'), trigger: 'blur' }],
        electricFee: [{ required: true, validator: validNumber('电费'), trigger: 'blur' }],
        gasFee: [{ required: true, validator: validNumber('燃气费'), trigger: 'blur' }],
        propertyManagementFee: [{ required: true, validator: validNumber('物业管理费'), trigger: 'blur' }],
        otherFee: [{ required: true, validator: validNumber('其他'), trigger: 'blur' }],
        legalPerson: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.leaseType != 3 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('法定代表人不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        legalPhone: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.leaseType != 3 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('法定代表人联系方式不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        legalType: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.leaseType != 3 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('法定代表人证件类型不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'change'
          }
        ],
        legalCode: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.leaseType != 3 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('法定代表人证件号码不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        legalAddress: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.leaseType != 3 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('法定代表人通讯地址不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        clientPerson: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.applicationType == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('委托代理人不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        clientPhone: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.applicationType == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('委托代理人联系方式不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        clientType: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.applicationType == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('委托代理人证件类型不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'change'
          }
        ],
        clientCode: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.applicationType == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('委托代理人证件号码不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        clientAddress: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.applicationType == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('委托代理人通讯地址不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        certificationNumber: [
          {
            validator: (rule, value, callback) => {
              if (
                this.certificationNumberVisible &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('房屋所有证权或不动产权证书编号不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ],
        rentPrice: [
          {
            validator: (rule, value, callback) => {
              if (
                this.ruleForm1.isSplitRent == 2 &&
                (value === '' || value === undefined)
              ) {
                callback(new Error('租金单价不能为空'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ]
      },
      methed: '',

      // 法人信息
      legalPerson: '',
      legalPhone: '',
      legalType: '',
      legalCode: '',
      legalAddress: '',

      contactPerson: '', // 联系人
      contactPhone: '', // 联系电话

      // 委托人信息
      clientPerson: '',
      clientPhone: '',
      clientType: '',
      clientCode: '',
      clientAddress: '',

      leaser: '', // 承租方（乙方）
      leaserType: 1, // 承租方证件类型
      leaserCode: '', // 承租方证件号码
      leaserDocumentNumber: '',
      leaserDocumentType: '',
      leaserDocumentTypeOptions: [{
        legalValue: 1,
        legalLabel: '社会统一信用代码'
      }, {
        legalValue: 2,
        legalLabel: '身份证'
      }, {
        legalValue: 3,
        legalLabel: '护照'
      }],
      wyBasicInfoOptions: [], // 租赁物业地址 列表
      wyBasicInfoOptionsFilter: [],
      wyBasicInfoId: '', // 租赁物业地址 id
      splitRent: true,
      // rentWyBasicInfoOptions: [],
      rentWyBasicInfoId: '',
      leaseAddress: '',
      houseCode: '',
      certificationDocumentsFile: [],
      rentalArea: '',
      discountOptions: [// 全价 1/30%/0.3/0.5/0.9
        {
          value: 1,
          label: '全价'
        }, {
          value: '0.3',
          label: '30%'
        }, {
          value: '0.5',
          label: '50%'
        }, {
          value: '0.9',
          label: '90%'
        }
      ],
      discount: '',
      rentUnitPrice: '',
      monthlyRent: '',
      setArea: '',
      pubArea: '',
      freeRent: '',
      startRentDate: '',
      endRentDate: '',
      firstRentTime: '',
      firstRentMoney: '',
      depositAmount: '',
      leaseUse: '',
      guidePrice: '',
      fileList: [],
      economicCommitment: '',
      remark: '', // 备注
      legalPersonFile: [],
      businessLicenseFile: [],
      legalRepresentativeFile: [],
      handlingPersonCardFile: [],
      settlementNoticeFile: [],
      meetingMinutesFile: [],
      buildingAreaFile: [],
      locationMapFile: [],
      commitmentFile: [],
      shareholderFile: [],
      meetingFile: [],
      rentReportFile: [],
      personFile: [],
      rentNoticeFile: [],
      contractFile: [],
      legalPersonPowerFile: [],
      radio_3_1: true,
      radio_3_2: false,
      radio_3_3: false,
      id: '',

      fileTarget3: [
        // {
        //   name: '',
        //   files: []
        // }
      ] // 自定义附件

    }
  },
  mounted () {
  },
  created () {
    allProRight(sessionStorage.getItem('userId')).then(res => {
      if (res.data.data) {
        if (res.data.data.length >= 1) {
          this.wyBasicInfoOptions = res.data.data
          if (res.data.data.length > 1000) {
            this.wyBasicInfoOptionsFilter = res.data.data.slice(0, 1000)
          } else {
            this.wyBasicInfoOptionsFilter = JSON.parse(JSON.stringify(res.data.data))
          }
          // this.rentWyBasicInfoOptions = res.data.data
        }
        this.getHouseOwnershipOptions()
        this.getHouseProofOptions()

        this.detailsList()
      }
    })
  },
  methods: {
    // 下载 租赁缴款通知书/合同模板
    handleDownload (type) {
      // if (!this.id || this.id == '') return;
      this.$refs['ruleForm1'].validate((valid) => {
        if (valid) {
          let areaCodes = this.addressSels.map(v => { return v.areaCode })
          let names = this.addressSels.map(v => { return v.name })
          let params = {
            info: {
              // id: this.id || '',
              ...this.ruleForm1
            },
            houseCode: this.ruleForm1.houseCode,
            monthlyRent: this.ruleForm1.monthlyRent,
            rentalArea: this.ruleForm1.rentalArea,
            buildArea: this.ruleForm1.buildArea,
            detailAddr: this.leaseWyAddress,
            shareArea: this.ruleForm1.shareArea,
            insideArea: this.ruleForm1.insideArea,
            // DownLoadDTO: {
            areaCode: areaCodes.join(','),
            // },
            name: names.join(',')
          }
          delete params.info.wyBasicInfoId
          if (this.id && this.id != '') params.info.id = this.id
          if (type == 1) {
            downLoadPaymentNotice(params).then((res) => {
              let now = new Date()
              let date =
                now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
              const link = document.createElement('a')
              // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
              let blob = new Blob([res], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' })
              link.style.display = 'none'
              // 设置连接
              link.href = URL.createObjectURL(blob)
              link.download = date + '租赁缴款通知单' // 你文件定义的名称
              document.body.appendChild(link)
              // 模拟点击事件
              link.click()
            })
          } else if (type == 2) {
            downLoadContactTemplate(params).then((res) => {
              let now = new Date()
              let date =
                now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
              const link = document.createElement('a')
              // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
              let blob = new Blob([res], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' })
              link.style.display = 'none'
              // 设置连接
              link.href = URL.createObjectURL(blob)
              link.download = date + '合同模板' // 你文件定义的名称
              document.body.appendChild(link)
              // 模拟点击事件
              link.click()
            })
          }
        } else {
          this.$message.error('请填写必填信息后再下载模板')
        }
      })
    },
    // 过滤物业下拉列表
    filterWy (v) {
      let filterWyList = this.wyBasicInfoOptions.filter((v1) => { return v1.unitName && v1.unitName.indexOf(v) >= 0 })
      this.wyBasicInfoOptionsFilter = filterWyList.length > 1000 ? filterWyList.slice(0, 1000) : filterWyList
    },
    focusWy () {
      this.filterWy('')
    },
    submit () {
      this.$refs['ruleForm1'].validate((valid) => {
        if (valid) {
          let errMsg = ''
          let dataInfo = {}
          // dataInfo.wyIds = this.ruleForm1.wyBasicInfoId;
          let info = {
            ...this.ruleForm1
          }
          // if (info.wyBasicInfoId instanceof Array) {
          //   info.wyBasicInfoIdStr = info.wyBasicInfoId.join(',')
          delete info.wyBasicInfoId
          // }
          info.userId = window.sessionStorage.getItem('userId')
          info.templateType = 2// 模板类型 1产业用房;2商业; 3住宅 ;4 南山软件园
          dataInfo.info = info
          dataInfo.startRentDate = info.startRentDate
          dataInfo.endRentDate = info.endRentDate
          dataInfo.firstRentTime = info.firstRentTime

          dataInfo.rentList = this.rentList

          dataInfo.certificationDocumentsFile = []
          // dataInfo.certificationDocumentsFile = this.certificationDocumentsFile
          this.certificationDocumentsFile && this.certificationDocumentsFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.certificationDocumentsFile.push(item)
          })
          dataInfo.legalPersonFile = []

          this.legalPersonFile && this.legalPersonFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.legalPersonFile.push(item)
          })

          dataInfo.businessLicenseFile = []
          this.businessLicenseFile && this.businessLicenseFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')

            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.businessLicenseFile.push(item)
          })
          dataInfo.legalRepresentativeFile = []
          this.legalRepresentativeFile && this.legalRepresentativeFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.legalRepresentativeFile.push(item)
          })
          dataInfo.legalPersonPowerFile = []
          this.legalPersonPowerFile && this.legalPersonPowerFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.legalPersonPowerFile.push(item)
          })
          dataInfo.handlingPersonCardFile = []
          this.handlingPersonCardFile && this.handlingPersonCardFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.handlingPersonCardFile.push(item)
          })
          dataInfo.settlementNoticeFile = []
          this.settlementNoticeFile && this.settlementNoticeFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.settlementNoticeFile.push(item)
          })
          dataInfo.meetingMinutesFile = []
          this.meetingMinutesFile && this.meetingMinutesFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }

            dataInfo.meetingMinutesFile.push(item)
          })
          dataInfo.buildingAreaFile = []
          this.buildingAreaFile && this.buildingAreaFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.buildingAreaFile.push(item)
          })
          dataInfo.locationMapFile = []
          this.locationMapFile && this.locationMapFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.locationMapFile.push(item)
          })
          dataInfo.commitmentFile = []
          this.commitmentFile && this.commitmentFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.commitmentFile.push(item)
          })
          dataInfo.shareholderFile = []
          this.shareholderFile && this.shareholderFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.shareholderFile.push(item)
          })
          dataInfo.meetingFile = []
          this.meetingFile && this.meetingFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.meetingFile.push(item)
          })
          dataInfo.rentReportFile = []
          this.rentReportFile && this.rentReportFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.rentReportFile.push(item)
          })
          dataInfo.personFile = []
          this.personFile && this.personFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.personFile.push(item)
          })
          dataInfo.rentNoticeFile = []
          this.rentNoticeFile && this.rentNoticeFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.rentNoticeFile.push(item)
          })
          dataInfo.contractFile = []
          this.contractFile && this.contractFile.forEach((item, index) => {
            let items = item.path.split('/api/v1/zbkc/')
            if (items.length > 1) {
              item.path = items[1]
            }
            dataInfo.contractFile.push(item)
          })
          dataInfo.custRightFile = {}// 自定义附件
          if (this.fileTarget3.length > 0) {
            this.fileTarget3.forEach((v, i) => {
              if (v.name && v.name != '') {
                dataInfo.custRightFile[v.name] = v.files || []
              } else {
                errMsg = '请输入自定义附件名称'
              }
            })
          }

          if (errMsg == '') {
            if (this.ruleForm1.leaseType == 1) { // 企业
              if (dataInfo.legalPersonFile.length == 0) errMsg = '请上传法人身份证复印件'
              else if (dataInfo.businessLicenseFile.length == 0) errMsg = '请上传营业执照复印件'
              else if (dataInfo.legalRepresentativeFile.length == 0) errMsg = '请上传法人代表证明书'
              else if (dataInfo.rentReportFile.length == 0) errMsg = '请上传租金价格评估报告'
              else if (this.ruleForm1.applicationType == 2) {
                if (dataInfo.legalPersonPowerFile.length == 0) errMsg = '请上传法人授权委托书'
                else if (dataInfo.handlingPersonCardFile.length == 0) errMsg = '请上传经办人身份证复印件'
              }
            } else if (this.ruleForm1.leaseType == 2 || this.ruleForm1.leaseType == 3 || this.ruleForm1.leaseType == 4) {
              if (dataInfo.legalPersonFile.length == 0) errMsg = '请上传法人身份证复印件'
              else if (this.ruleForm1.applicationType == 2) {
                if (dataInfo.legalPersonPowerFile.length == 0) errMsg = '请上传法人授权委托书'
                else if (dataInfo.handlingPersonCardFile.length == 0) errMsg = '请上传经办人身份证复印件'
              }
            }
          }

          if (errMsg != '') {
            this.$message({ type: 'error', message: errMsg })
            return
          }

          // console.log(dataInfo);return;
          if (this.id !== '' && this.id !== null && this.id !== undefined) { // 修改
            dataInfo.info.id = this.id
            this.submitDisabled = true
            addContract(dataInfo).then(res => { // 修改
              this.submitDisabled = false
              if (res.status === 200) {
                if (res.data.code == 0) {
                  this.$message.success('修改成功')
                  this.$router.push({ path: '/index/contractManagement' })
                } else {
                  if (res.data.errMsg) this.$message.error(res.data.errMsg)
                }
              } else {
                this.$message.success.warning(`修改失败`)
              }
            })
          } else {
            this.submitDisabled = true
            addContract(dataInfo).then(res => { // 添加
              this.submitDisabled = false
              if (res.status === 200) {
                if (res.data.code == 0) {
                  this.$message('添加成功')
                  this.$router.push({ path: '/index/contractManagement' })
                } else {
                  if (res.data.errMsg) this.$message.error(res.data.errMsg)
                }
              } else {
                this.$message.warning(`添加失败`)
              }
            })
          }
        }
      })
    },
    // 获取房屋权属情况 下拉选项
    getHouseOwnershipOptions () {
      selectTag('house_ownership').then(res => {
        if (res.data && res.data.data) {
          this.houseOwnershipOptions = res.data.data || []
          setTimeout(() => {
            this.$set(this.ruleForm1, 'houseOwnershipId', this.ruleForm1.houseOwnershipId)
          }, 0)
        }
      })
    },
    // 甲方持有房屋证明文件 下拉选项
    getHouseProofOptions () {
      selectTag('house_proof').then(res => {
        if (res.data && res.data.data) {
          this.houseProofOptions = res.data.data || []
          setTimeout(() => {
            this.$set(this.ruleForm1, 'houseProofId', this.ruleForm1.houseProofId)
          }, 0)
        }
      })
    },
    // 甲方持有房屋证明文件 选择改变
    houseProofIdChange (v) {
      let info = this.houseProofOptions.find(val => { return val.id == v })
      this.certificationNumberVisible = (info && info.name && info.name == '房屋多有权证或不动产权证书')
      if (!this.certificationNumberVisible) {
        this.ruleForm1.certificationNumber = ''
      }
    },
    // 选择租赁物业地址
    wyBasicInfoChange (v) {
      // let info = this.wyBasicInfoOptions.find(val => {
      //   return val.id == v;
      // });
      // if (info && info.unitName) {
      //   this.ruleForm1.leaserAddress = info.unitName;//承租方通信地址 =选择的租赁物业地址
      // }
      this.getWyInfoBatch()// 批量获取物业信息
    },
    // 租金拆分列表中，选择物业
    rentListWyChange (v, index) {
      if (v) {
        getWyBasicInfoBatch(v).then(res => {
          // console.log(res)
          if (res && res.data) {
            let list = res.data.data || []
            if (list.length > 0) {
              this.rentList[index].area = list[0].buildArea
              this.rentList[index].rent = this.rentList[index].price * this.rentList[index].area
            }
          }
        })
      }
    },
    handleClick (tab, event) {
      this.leaseType = tab.name
    },
    cancel () {
      this.$router.push({ path: '/index/contractManagement' })
    },
    reset () {
      // this.$refs['ruleForm'].resetFields()
      // this.list()
    },
    legalApplicationOnchange (val) {
      if (val === 1) {
        if (this.legalApplication) {
          this.legalApplicationType = true
        } else {
          this.legalApplicationType = false
        }
      }
      if (val === 2) {
        this.legalApplication = this.legalApplication
      }
    },
    selectRow (val) {
      this.rentList = val
    },
    // 增加行
    addRow () {
      var list = {
        wyBasicInfoId: '',
        price: '0',
        area: '0',
        rent: '0'
      }
      // this.rentList.unshift(list)
      this.rentList.push(list)
    },
    // 删除方法
    // 删除选中行
    delData (row, index) {
      this.rentList.splice(index, 1)
      // 删除完数据之后清除勾选框
      // this.$refs.tableData.clearSelection()
      this.setPrice()
    },
    handleRemove (file, fileList) {

    },
    handlePreview (file) {
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {

    },
    radioChange () {
      this.radio_3_1 = false
      this.radio_3_2 = false
      this.radio_3_3 = false
      switch (this.radio) {
        case '1': this.radio_3_1 = true
          break
        case '2': this.radio_3_2 = true
          break
        case '3': this.radio_3_3 = true
          this.radio_3_1 = true
          break
        default: break
      }
    },
    changeWpsFive (wpsList, type) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        // let val = item.response.data
        if (item.response) {
          wpsArr.push({ fileName: item.response.data.fileName, path: item.response.data.filePath })
        } else {
          wpsArr.push({ fileName: item.name, path: item.url })
        }
      })
      switch (type) {
        case 'certificationDocumentsFile':
          this.certificationDocumentsFile = wpsArr
          break
        case 'legalPersonFile': this.legalPersonFile = wpsArr
          break
        case 'businessLicenseFile': this.businessLicenseFile = wpsArr
          break
        case 'legalRepresentativeFile': this.legalRepresentativeFile = wpsArr
          break
        case 'legalPersonPowerFile': this.legalPersonPowerFile = wpsArr
          break
        case 'handlingPersonCardFile': this.handlingPersonCardFile = wpsArr
          break
        case 'settlementNoticeFile': this.settlementNoticeFile = wpsArr
          break
        case 'meetingMinutesFile': this.meetingMinutesFile = wpsArr
          break
        case 'buildingAreaFile': this.buildingAreaFile = wpsArr
          break
        case 'locationMapFile': this.locationMapFile = wpsArr
          break
        case 'commitmentFile': this.commitmentFile = wpsArr
          break
        case 'shareholderFile': this.shareholderFile = wpsArr
          break
        case 'meetingFile': this.meetingFile = wpsArr
          break
        case 'rentReportFile': this.rentReportFile = wpsArr
          break
        case 'personFile': this.personFile = wpsArr
          break
        case 'rentNoticeFile': this.rentNoticeFile = wpsArr
          break
        case 'contractFile': this.contractFile = wpsArr
          break

        default:
      }
      // this.form.redLineImgPath = wpsArr
    },
    // 查询合同详情
    detailsList (currentId) {
      this.id = this.$route.query.id || currentId
      if (this.id !== '' && this.id !== null && this.id !== undefined) {
        seeList(this.id).then(res => {
          let data = res.data.data
          data.info.wyBasicInfoId = data.info.wyBasicInfoIdStr || data.info.wyBasicInfoId || ''
          if (data.info.wyBasicInfoId) {
            data.info.wyBasicInfoId = data.info.wyBasicInfoId.split(',')
            setTimeout(() => {
              this.$set(this.ruleForm1, 'wyBasicInfoId', this.ruleForm1.wyBasicInfoId)
            }, 0)
          }
          data.info.startRentDate = data.info.startRentDate || ''
          data.info.endRentDate = data.info.endRentDate || ''
          data.info.firstRentTime = data.info.firstRentTime || ''
          data.info.isSplitRent = data.info.isSplitRent || 2
          data.info.freeRent = data.info.freeRent || 0
          data.info.otherFee = data.info.otherFee === null ? '' : data.info.otherFee
          data.houseOwnership = data.houseOwnership === null ? '' : data.houseOwnership
          data.houseProof = data.houseProof === null ? '' : data.houseProof
          // null替换成""
          // for (let field in data) {
          //   if (data[field] === null) data[field] = '';
          //   if (field == 'info') {
          //     for (let fieldInfo in data.info) {
          //       if (data.info[fieldInfo] === null) data.info[fieldInfo] = '';
          //     }
          //   }
          // }

          this.ruleForm1 = { ...data.info }
          // houseOwnershipId、houseProofId取外层的
          this.ruleForm1.houseOwnershipId = data.houseOwnership + ''
          this.ruleForm1.houseProofId = data.houseProof + ''
          this.ruleForm1.type = this.ruleForm1.type + ''
          if (this.ruleForm1.wyBasicInfoId && this.ruleForm1.wyBasicInfoId.length > 0) this.getWyInfoBatch()// 批量获取物业信息
          setTimeout(() => {
            this.$set(this.ruleForm1, 'houseOwnershipId', this.ruleForm1.houseOwnershipId)
            this.$set(this.ruleForm1, 'houseProofId', this.ruleForm1.houseProofId)
          }, 0)
          if (data.info.startRentDate) this.ruleForm1.startRentDate = moment(data.info.startRentDate).format('YYYY-MM-DD')
          if (data.info.endRentDate) this.ruleForm1.endRentDate = moment(data.info.endRentDate).format('YYYY-MM-DD')
          if (data.info.firstRentTime) this.ruleForm1.firstRentTime = moment(data.info.firstRentTime).format('YYYY-MM-DD')

          data.rentList.forEach((item, index) => {
            this.rentList.push(item)
          })

          // this.firstRentTime = moment(data.info.firstRentTime).format('YYYY-MM-DD')

          this.certificationDocumentsFile = data.certificationDocumentsFile
          this.legalPersonFile = data.legalPersonFile
          this.businessLicenseFile = data.businessLicenseFile
          this.legalRepresentativeFile = data.legalRepresentativeFile
          this.legalPersonPowerFile = data.legalPersonPowerFile
          this.handlingPersonCardFile = data.handlingPersonCardFile
          this.settlementNoticeFile = data.settlementNoticeFile
          this.meetingMinutesFile = data.meetingMinutesFile
          this.buildingAreaFile = data.buildingAreaFile
          this.locationMapFile = data.locationMapFile
          this.commitmentFile = data.commitmentFile
          this.shareholderFile = data.shareholderFile
          this.meetingFile = data.meetingFile
          this.rentReportFile = data.rentReportFile
          this.personFile = data.personFile
          this.rentNoticeFile = data.rentNoticeFile
          this.digitalNoticeFile = data.digitalNoticeFile
          this.contractFile = data.contractFile
          // 加载自定义附件
          let files3 = []
          if (data.customFileMap) {
            for (var name in data.customFileMap) {
              files3.push({ name: name, files: data.customFileMap[name] })
            }
          }
          this.fileTarget3 = files3
          this.$nextTick(() => {
            this.$refs.ruleForm1.clearValidate()
          })
        })
      }
    },
    // 选择物业确认事件
    selectAddressConfirm (sels) {
      // console.log(sels)
      if (sels && sels instanceof Array) {
        // let names = sels.map(v => { return v.wyName });
        let ids = sels.map(v => { return v.id })
        // this.leaseWyAddress = names.join(',');
        this.ruleForm1.wyBasicInfoIdStr = ids.join(',')
        this.ruleForm1.houseCode = ''
        this.getWyInfoBatch()// 批量获取物业信息
      }
    },
    // 批量获取物业信息
    getWyInfoBatch () {
      // let ids = this.ruleForm1.wyBasicInfoId.split(',')
      let ids = this.ruleForm1.wyBasicInfoIdStr
      if (ids && ids.length > 0) {
        getWyBasicInfoBatch(ids).then(res => {
        // console.log(res)
          if (res && res.data) {
            let list = res.data.data || []
            this.addressSels = list
            let houseCodes = list.map(v => { return v.houseCode })
            this.ruleForm1.houseCode = houseCodes.join('、')
            let addrs = list.map(v => { return v.detailAddr })
            this.leaseWyAddress = addrs.join(',')
            let names = list.map(v => { return v.name })
            this.selectedWyNames = names.join(',')
            this.ruleForm1.buildArea = list.reduce((n, cur) => {
              return n + cur.buildArea
            }, 0)
            this.ruleForm1.shareArea = list.reduce((n, cur) => {
              return n + cur.shareArea
            }, 0)
            this.ruleForm1.rentalArea = list.reduce((n, cur) => {
              return n + cur.rentalArea || 0
            }, 0)
            this.ruleForm1.insideArea = list.reduce((n, cur) => {
              return n + cur.insideArea || 0
            }, 0)
          // this.showSplitList();//显示拆分列表
          }
        })

        // wyBasicInfoOptionsFilter中不存在该记录时，添加
        let idArray = ids.split(',')
        idArray.forEach(id => {
          if (id && id != '') {
            let _index = this.wyBasicInfoOptionsFilter.findIndex(v => v.id == id)
            if (_index == -1) {
              let opt = this.wyBasicInfoOptions.find(v => v.id == id)
              if (opt) {
                this.wyBasicInfoOptionsFilter.push(JSON.parse(JSON.stringify(opt)))
              }
            }
          }
        })
      }
    },
    // 是否拆分 选择改变
    isSplitRentChange (v) {
      // this.showSplitList();//显示拆分列表
      this.setPrice()
    },
    // 显示拆分列表
    showSplitList () {
      if (this.ruleForm1.isSplitRent == 1 && this.addressSels) {
        this.rentList = this.addressSels.map(val => {
          return {
            'area': val.buildArea,
            'price': '',
            'rent': '',
            'wyBasicInfoId': val.id,
            'wyName': val.name
          }
        })
      } else {
        this.rentList = []
      }
    },
    // 添加自定义附件
    addCustomFile () {
      this.fileTarget3.push([
        {
          name: '',
          files: []
        }
      ])
    },
    // 删除自定义附件
    delCustomFile (index) {
      this.fileTarget3.splice(index, 1)
    },
    changeWps3 (wpsList, index) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        let val = item.response.data
        wpsArr.push({ fileName: val.fileName, fileSize: val.fileSize, path: val.filePath })
      })
      this.fileTarget3[index].files = wpsArr
    },
    guidePriceChange (v) {
      this.setPrice()
    },
    discountChange (v) {
      this.setPrice()
    },
    rentListPriceChange (v, index) {
      this.rentList[index].rent = this.rentList[index].price * this.rentList[index].area
      this.setPrice()
    },
    rentListRentChange () {
      this.setPrice()
    },
    // 计算单价和月租金
    setPrice () {
      let price = 0// 单价
      let rent = 0// 月租金
      if (this.ruleForm1.isSplitRent == 1) {
        // price = this.rentList.reduce((n, cur) => { return n + cur.price }, 0);
        rent = this.rentList.reduce((n, cur) => { return n + parseFloat(cur.rent) }, 0)
      } else {
        price = this.ruleForm1.guidePrice * this.ruleForm1.discount
        rent = this.ruleForm1.buildArea * price
      }
      this.ruleForm1.rentPrice = price
      rent = isNaN(rent) ? 0 : rent
      this.ruleForm1.monthlyRent = rent
    }

  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  // width: 303px;
}
.wd100 /deep/.el-form-item__content .el-input__inner {
  width: 100%;
}
.wd100 /deep/.el-form-item__content .el-input__inner {
  width: 100%;
}
.wd100 /deep/.el-select {
  width: 100%;
}
/deep/.el-form-item.form-item-2row .el-form-item__error {
  margin-top: -25px;
}

.step-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .left {
    display: flex;
    align-items: center;
    .block {
      display: inline-block;
      width: 6px;
      height: 18px;
      background-color: #1286ff;
      margin-right: 6px;
      position: relative;
    }
    .tips {
      color: rgb(230, 162, 60);
      font-size: 13px;
    }
  }
  .right {
    .right-num {
      margin-right: 20px;
    }
  }
}

.tit-box {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.tit-block {
  flex: 1;
  height: 15px;
  background-color: #f2f2f2;
  margin-left: 5px;
}

.file-item {
  display: flex;
  margin-bottom: 20px;
  .lb {
    width: 190px;
    text-align: right;
    margin-right: 10px;
    .txt {
      width: 200px;
      padding: 0 12px;
      box-sizing: border-box;
      font-size: 14px;
      color: #606266;
      line-height: 32px;
    }
    /deep/.el-input__inner {
      width: 190px;
      text-align: right;
    }
  }
}
.u-file-view-list {
  width: 700px;
  li {
    height: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    a {
      font-size: 14px;
      color: #409eff;
      &:hover {
        color: #66b1ff;
      }
    }
  }
}
</style>
