<template>

  <!-- <el-dialog :title="'合同登记'" :width="'1400px'" :visible.sync="dialogFormVisible"> -->
  <section class="project-container">
    <div class="pd15">
      <template>
        <el-button type="primary" size="medium" style="    position: fixed; right: 50px;top: 85px;z-index: 999;" @click="goBack()">返回</el-button>

      </template>
      <template>
        <el-tabs v-model="selectTabs">
          <el-tab-pane label="产业用房" name="first">
            <AddIndustryTemplate ref="AddIndustryTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="商业" name="second">
            <AddBusinessTemplate ref="AddBusinessTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="住宅" name="third">
            <AddResidentialTemplate ref="AddResidentialTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="南山软件园" name="fourth">
            <AddNSSoftwareParkTemplate ref="AddNSSoftwareParkTemplate" :edit="idEdit" />
          </el-tab-pane>
        </el-tabs>
      </template>
    </div>
  </section>

  <!-- </el-dialog> -->
</template>
<script>
import SelectInput from '@/components/select/searchInput.vue'
import AddIndustryTemplate from './AddIndustry.vue'
import AddBusinessTemplate from './AddBusiness.vue'
import AddNSSoftwareParkTemplate from './AddNSSoftwarePark.vue'
import AddResidentialTemplate from './AddResidential.vue'

import { addMessage, updMessage } from '@/until/api.js'
export default {
  // props: ['list'],
  components: {
    SelectInput,
    AddIndustryTemplate,
    AddBusinessTemplate,
    AddNSSoftwareParkTemplate,
    AddResidentialTemplate
  },
  data() {
    return {
      idEdit: true,
      activeName: 'add',
      dialogName: false,
      selectTabs: 'first',
      dialogFormVisible: false,
      // form
      radio: 1,
      radioStatus: 1,
      options: [],
      ruleForm: {
        type: 1,
        status: 2

      }
    }
  },
  mounted() {
  },
  methods: {
    show(name, data) {
      this.methed = name
      switch (name) {
        case 'modify':
          this.ruleForm = data
          // this.ruleForm = data
          break
        default:
          this.$nextTick(() => {
            this.reset()
          })
          break
      }
      this.activeName = name
      this.dialogFormVisible = true
    },
    submit() {
      let ruleForm = this.ruleForm
      ruleForm.userId = window.sessionStorage.getItem('userId')

      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleInterface(ruleForm)
        }
      })
    },
    handleInterface(ruleForm) {
      if (this.methed === 'add') {
        addMessage(ruleForm).then(res => {
          this.cancel()
        })
      }
      if (this.methed === 'modify') {
        updMessage(ruleForm).then(res => {
          this.cancel()
        })
      }

      // callInterface && callInterface(ruleForm).then(res => {
      //   if (res.data === 1) {
      //     console.log(res)
      //     this.cancel()
      //   }
      // })
    },
    goBack() {
      this.$router.push({ path: '/index/contractManagement' })
    }

  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  // width: 303px;
  width: 100%;
}
/deep/.el-form-item__content .el-select {
  width: 100%;
}
/deep/.el-form-item__content .el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
</style>
