<template>
  <div class="contract_main u-right-content">
    <Breadcrumb barName="合同管理" icon="el-icon-data-line"></Breadcrumb>
    <div>
      <el-form :inline="true" ref="select_form" class="form-main">
        <el-form-item label="类型：" class="form-item" label-width="70px" style="width: 200px">
          <el-select v-model="formInline.templateType" placeholder="请选择" clearable style="width:130px">
            <el-option v-for="(item,value) in templateType" :key="value" :label="item" :value="value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="承租方：" class="form-item" label-width="110px" style="width: 220px">
          <!-- <el-select v-model="formInline.leaser" placeholder="请选择" clearable>
            <el-option v-for="(item,value) in leaseType" :key="value" :label="item" :value="value">
            </el-option>
          </el-select> -->
          <el-input v-model="formInline.leaser" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="物业地址：" class="form-item" label-width="140px" style="width: 230px">
          <el-input v-model="formInline.address" clearable placeholder="请输入"></el-input>
        </el-form-item>
        <!-- <el-form-item label="联系人：" class="form-item" label-width="140px" style="width: 210px">
          <el-input v-model="formInline.person" placeholder="请输入"></el-input>
        </el-form-item> -->
        <el-form-item label="租赁时间：" class="form-item" label-width="140px" style="width: 350px">
          <div class="daterange-wrapper">
            <el-date-picker v-model="formInline.startRentTime" type="date" placeholder="开始日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
            <el-date-picker v-model="formInline.entRentTime" type="date" placeholder="结束日期" format="yyyy-MM-dd" style="width:125px">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item class="form-btn">
          <el-button type="primary" icon="el-icon-search" @click="handleSearch">查询</el-button>
          <el-button type="primary" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button v-permission="{action:'导出',effect:'disabled'}" type="primary" @click="exportList">导出</el-button>
        <el-button v-permission="{action:'合同登记',effect:'disabled'}" type="primary" @click="showAddMessageTemplate()">合同登记</el-button>
      </div>

      <div class="table" style="height: calc(100vh - 308px)">
        <el-table ref="table1" border :data="tableData" @sort-change="sortChange" style="width: 100%">
          <el-table-column type="index" label="序号" width="60"></el-table-column>
          <el-table-column prop="leaser" label="承租方" width="180">
            <!-- <template slot-scope="scope">
              {{ leaseType[scope.row.leaser] }}
            </template> -->
          </el-table-column>
          <!-- <el-table-column prop="clientPerson" label="联系人">
          </el-table-column>
          <el-table-column prop="clientPhone" label="联系电话">
          </el-table-column> -->
          <el-table-column prop="type" label="合同类型">
            <template slot-scope="scope">
              {{ templateType[scope.row.templateType] }}
            </template>
          </el-table-column>
          <el-table-column prop="wyAddress" label="租赁物业地址">
          </el-table-column>
          <el-table-column prop="leaseUse" label="租赁用途">
            <template slot-scope="scope">
              {{leaseUse[scope.row.leaseUse]}}
            </template>
          </el-table-column>
          <!-- <el-table-column prop="rentPrice" label="租赁单价" width="80">
          </el-table-column> -->
          <el-table-column prop="monthlyRent" label="月租金" sortable width="90">
          </el-table-column>
          <el-table-column prop="leaseTerm" label="租赁期限(年)" sortable width="120">
          </el-table-column>
          <el-table-column prop="startRentDate" label="起租日期" sortable width="100">
            <template slot-scope="scope">
              {{ scope.row.startRentDate | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column prop="endRentDate" label="止租日期" sortable width="100">
            <template slot-scope="scope">
              {{ scope.row.endRentDate | formatDate1 }}
            </template>
          </el-table-column>
          <el-table-column prop="" label="操作" width="370px">
            <template slot-scope="scope">
              <el-button v-permission="{action:'查看',effect:'disabled'}" type="primary" class="handle-el-icon" @click="editDetails(scope.row, scope.$index, 'view')" :id="id">查看</el-button>
              <el-button v-permission="{action:'编辑',effect:'disabled'}" type="primary" class="handle-el-icon" @click="editDetails(scope.row, scope.$index,'edit')" :id="id" :temType="temType">编辑</el-button>
              <el-button v-permission="{action:'续签',effect:'disabled'}" type="info" class="handle-el-icon">续签</el-button>
              <el-button v-permission="{action:'终止',effect:'disabled'}" type="info" class="handle-el-icon">终止</el-button>
              <el-button v-permission="{action:'变更',effect:'disabled'}" type="info" class="handle-el-icon">变更</el-button>
              <el-button v-permission="{action:'历史合同查看',effect:'disabled'}" type="info" class="handle-el-icon">历史合同查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination background :data="tableData" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20]" :page-size="pagesize" layout="total,sizes, prev, pager, next, jumper" :total="totalSize">
          </el-pagination>
        </div>
      </div>
    </div>

    <AddContractTemplate v-if="dialog" ref="AddContractTemplate" />

  </div>
</template>

<script>
import Breadcrumb from '@/components/BreadCrum'
import SelectInput from '@/components/select/searchInput.vue'
import AddContractTemplate from './AddContractTemplate.vue'
import { yyContractList, contractExport } from '@/until/api.js'
import { formatDate1 } from '@/until/common'

export default {
  components: {
    SelectInput,
    AddContractTemplate,
    formatDate1,
    Breadcrumb
  },
  data () {
    return {
      searchby: '',
      activeName: 'second',
      tableData: [],
      // 承租对象
      leaseTypeOptions: [
        { name: '企业', value: 1 },
        { name: '个体工商户', value: 2 },
        { name: '个人', value: 3 },
        { name: '其他', value: 4 }
      ],
      tableType: {
        1: '产业用房租赁合同3+2（有经济贡献率）',
        2: '产业用房租赁合同3+2（无经济贡献率）',
        3: '产业用房租赁合同3年及3年以下',
        4: '商业租赁合同',
        5: '住宅租赁合同',
        6: '南山软件租赁合同'
      },
      // 合同类型
      templateType: {
        1: '产业用房',
        2: '商业',
        3: '住宅',
        4: '南山软件园',
        5: '租赁社会物业'
      },
      leaseType: {
        1: '企业',
        2: '个体工商户',
        3: '个人',
        4: '其它'
      },
      leaseUse: {
        1: '办公',
        2: '综合（研发）',
        3: '工业研发',
        4: '研发',
        5: '住宅',
        6: '普通商业',
        7: '园区商业',
        8: '厂房',
        9: '商铺',
        10: '其他',
        11: '党建活动办公室',
        12: '宿舍',
        13: '办公',
        14: '餐饮'
      },
      dialog: false,
      pagesize: 10,
      currentPage: 1,
      totalSize: 0,
      id: '',
      temType: '',
      // 查询条件
      formInline: {
        // type: '',
        templateType: '',
        leaser: '', // 承租方
        address: '', // 物业地址
        person: '', // 联系人
        startRentTime: '', // 租赁开始时间
        entRentTime: '', // 租赁结束时间
        sort: '0'
      }
    }
  },
  filters: {
    formatDate1
  },
  created () {
    this.formInline.sort = 0
    this.yyContractList()
  },
  methods: {
    resetForm () {
      for (let i in this.formInline) {
        this.formInline[i] = ''
      }
      this.formInline.sort = 0
      this.$refs.table1.clearSort()
      this.yyContractList()
    },
    handleClick (tab, event) { },
    callSelectInput (value) {
      this.searchby = value
    },
    showAddMessageTemplate () {
      this.$router.push({ path: '/index/addContract' })
    },
    handleSizeChange (size) {
      this.pagesize = size
      this.yyContractList()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.yyContractList()
    },
    // 排序
    sortChange (obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = ''
      if (order == 'ascending') {
        switch (prop) {
          case 'monthlyRent': sort = 1; break
          case 'leaseTerm': sort = 3; break
          case 'startRentDate': sort = 5; break
          case 'endRentDate': sort = 7; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'monthlyRent': sort = 2; break
          case 'leaseTerm': sort = 4; break
          case 'startRentDate': sort = 6; break
          case 'endRentDate': sort = 8; break
        }
      }
      this.formInline.sort = sort
      this.yyContractList()
    },
    yyContractList () {
      let data = {
        p: this.currentPage,
        size: this.pagesize,
        userId: sessionStorage.getItem('userId'),
        ...this.formInline
      }
      if (data.startRentTime) data.startRentTime = formatDate1(data.startRentTime)
      if (data.entRentTime) data.entRentTime = formatDate1(data.entRentTime)

      yyContractList(data).then((res) => {
        this.tableData = res.data.data.list
        this.totalSize = res.data.data.total
      })
    },
    seeDetails (row, index) {
      console.log(row)
      this.$router.push({ path: '/index/seeContract', query: { id: row.id } })
    },
    editDetails (row, index, op) {
      console.log(row)
      if (row.type && !row.templateType) {
        switch (parseInt(row.type)) {
          case 1: case 2: case 3: row.templateType = 1; break
          case 4: row.templateType = 2; break
          case 5: row.templateType = 3; break
          case 6: row.templateType = 4; break
          default: row.templateType = 1; break
        }
      }
      switch (row.templateType) {
        case 1:
          sessionStorage.setItem('selectTabs', 'first')
          break
        case 2:
          sessionStorage.setItem('selectTabs', 'second')
          break
        case 3:
          sessionStorage.setItem('selectTabs', 'third')
          break
        case 4:
          sessionStorage.setItem('selectTabs', 'fourth')
          break
        default:
          break
      }
      this.$router.push({
        path: `/index/${op}Contract`,
        query: { id: row.id, temType: row.templateType }
      })
    },
    // 点击查询
    handleSearch () {
      this.currentPage = 1
      this.yyContractList()
    },
    // 导出
    exportList () {
      let params = {
        // ExportContractDTO: {
        // "needShowKeys": "leaser,type,wyAddress,leaseUse,monthlyRent,leaseTerm,startRentDate,endRentDate",
        'yyContractIndexDTO': {
          // p: this.currentPage,
          // size: this.pagesize,
          userId: sessionStorage.getItem('userId'),
          ...this.formInline
        }
        // }
      }
      contractExport(params).then((res) => {
        let now = new Date()
        let date =
          now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
        const link = document.createElement('a')
        // let blob = new Blob([res.data], { type: 'application/vnd.ms-excel' });
        let blob = new Blob([res], { type: 'application/vnd.ms-excel' })
        link.style.display = 'none'
        // 设置连接
        link.href = URL.createObjectURL(blob)
        link.download = date + '合同列表' // 你文件定义的名称
        document.body.appendChild(link)
        // 模拟点击事件
        link.click()
      })
    }
  }
}
</script>

<style lang="less" scoped>
.u-right-content {
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    /deep/.el-input__inner {
      height: 34px;
    }
    /deep/.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      /deep/.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
.daterange-wrapper {
  display: flex;
  .el-date-editor {
    & + .el-date-editor {
      margin-left: 5px;
    }
  }
}
</style>
