/* eslint-disable vue/require-v-for-key */
<template>

  <div class="user_mian">
    <div class="user_body" >
      <div class="" >
        <div class="user_body_right">
          <div class="right_header">
            <el-button type="primary" size="medium" style="    position: fixed; right: 50px;top: 85px;z-index: 999;" @click="goBack()">返回</el-button>
            <h2>{{dataInfo.info.templateType==1?"产业用房":(dataInfo.info.templateType==2?'商业':(dataInfo.info.templateType===3?'住宅':(dataInfo.info.templateType===4?'南山软件园':'')))}}(<span style="color:red">{{dataInfo.info.type==1?"产业用房租赁合同3+2(有经济贡献率)":(dataInfo.info.type==2?'产业用房租赁合同3+2(无经济贡献率)':(dataInfo.info.type===3?'产业用房租赁合同3年及3年以下':''))}}</span>)</h2>

          </div>

          <div class="div_table" style="height: 760px;">

            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="2">合同信息</span>
            </div>

            <table :data="dataInfo.info" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>类型</th>
                <th>{{dataInfo.info.type==1?'承租对象为企业':(dataInfo.info.type==2?'承租对象为工体商户':(dataInfo.info.type==3?'承租对象为个人':(dataInfo.info.type==4?'承租对象为其它':'')))}}
                </th>
                <th>法人申请</th>
                <th>{{dataInfo.info.legalApplication==1?'是':'否'}}</th>

              </tr>
              <tr>

                <!-- <th>法定代表人:</th>
                <th style="color:#5cb85c" v-if="this.propertyStatus_name=='已投入使用'">{{this.propertyStatus_name}}</th>
                <th style="color:#5bc0de" v-if="this.propertyStatus_name=='接收未使用'">{{this.propertyStatus_name}}</th>
                <th style="color:#f0ad4e" v-if="this.propertyStatus_name=='在建'">{{this.propertyStatus_name}}</th>
                <th style="color:#337ab7" v-if="this.propertyStatus_name=='旧改'">{{this.propertyStatus_name}}</th>
                <th style="color:#999999" v-if="this.propertyStatus_name=='报废'">{{this.propertyStatus_name}}</th> -->
              </tr>

              <tr>
                <th>法定代表人:</th>
                <th>{{dataInfo.info.legalPerson}}</th>
                <th>法定代表人联系方式</th>
                <th>{{dataInfo.info.legalPhone}}</th>
              </tr>
              <tr>
                <th>法定代表人证件类型</th>
                <th v-if="dataInfo.info.legalType==1">身份证</th>
                <th v-if="dataInfo.info.legalType==2">护照</th>
                <th>法定代表人证件号</th>
                <th>{{dataInfo.info.legalCode}}</th>
              </tr>
              <tr>
                <th>委托代理人申请</th>
                <th v-if="dataInfo.info.clientApplication==1">是</th>
                <th v-if="dataInfo.info.clientApplication==2">否</th>
                <th>委托代理人</th>
                <th>{{dataInfo.info.clientPerson}}</th>
              </tr>
              <tr>
                <th>委托代理人联系方式</th>
                <th>{{dataInfo.info.clientPhone}}</th>

                <th>委托代理人证件类型</th>
                <th v-if="dataInfo.info.clientType==1">身份证</th>
                <th v-if="dataInfo.info.clientType==2">护照</th>
              </tr>
              <tr>
                <th>委托代理人证件号码</th>
                <th>{{dataInfo.info.clientCode}}</th>

                <th>出租物业地址</th>
                <th>{{dataInfo.info.leaser}}</th>
              </tr>
            </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="2">拆分租金单价</span>
            </div>

            <table :data="dataInfo.info" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>拆分租金单价</th>
                <th v-if="dataInfo.info.splitRent==1">是</th>
                <th v-if="dataInfo.info.splitRent==2">否</th>
              </tr>

            </table>
            <template>
              <el-table :data="dataInfo.rentList">
                <el-table-column type="index" label="序号">
                </el-table-column>
                <el-table-column prop="wyName" label="物业名称">
                </el-table-column>
                <el-table-column prop="price" label="单价">
                </el-table-column>
                <el-table-column prop="area" label="面积">
                </el-table-column>
                <el-table-column prop="rent" label="租金">
                </el-table-column>
              </el-table>
            </template>

            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="2">承租信息</span>
            </div>

            <table :data="dataInfo.info" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>承租方通信地址</th>
                <th>{{dataInfo.info.leaseAddress}}</th>

                <th>房屋编码</th>
                <th>{{dataInfo.info.houseCode}}</th>
              </tr>
              <tr>
                <th>甲方持有房屋证明文件</th>

                <th>
                      <el-link v-for="file in dataInfo.certificationDocumentsFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link>
                </th>
                <th>出租面积</th>
                <th>{{dataInfo.info.rentalArea}}</th>
              </tr>
              <tr>
                <th>指导价</th>
                <th >{{dataInfo.info.guidePrice}}</th>
                <th>折扣</th>
                <th v-if="dataInfo.info.discount==1">全价</th>
                <th v-if="dataInfo.info.discount==0.3">30%</th>
                <th v-if="dataInfo.info.discount==0.5">50%</th>
                <th v-if="dataInfo.info.discount==0.9">90%</th>

              </tr>
              <tr>
                <th>租金单价</th>
                <th>{{dataInfo.info.rentUnitPrice}}</th>
                <th>月租金</th>
                <th>{{dataInfo.info.monthlyRent}}</th>
              </tr>
              <tr>
                <th>套内面积</th>
                <th>{{dataInfo.info.setArea}}</th>
                <th>公摊面积</th>
                <th>{{dataInfo.info.pubArea}}</th>
              </tr>
              <tr>
                <th>免租期</th>
                <th>{{dataInfo.info.freeRent}}</th>
                <th>租赁起租期限</th>
                <th>{{dataInfo.info.startRentDate | formatDate1}}</th>
              </tr>
              <tr>
                <th>租赁止租期限</th>
                <th>{{dataInfo.info.endRentDate | formatDate1}}</th>
                <th>首期租金交付日期</th>
                <th>{{dataInfo.info.firstRentTime | formatDate1}}</th>
              </tr>
              <tr>
                <th>首期租金交付金额</th>
                 <th>{{dataInfo.info.firstRentMoney}}</th>
                <th>押金金额</th>
                <th>{{dataInfo.info.depositAmount}}</th>
              </tr>
              <tr>
                <th>租赁用途</th>
                <th>{{dataInfo.info.leaseUse}}</th>

                <th>经济贡献承诺</th>
                <th>{{dataInfo.info.economicCommitment}}</th>
              </tr>
              <tr>
                <th>备注</th>
                <th>{{dataInfo.info.remark}}</th>
              </tr>

            </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="3">附件</span>
            </div>

            <table :data="dataInfo.info" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>法人身份证复印件</th>
                <th><el-link v-for="file in dataInfo.legalPersonFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>营业执照复印件</th>
                <th><el-link v-for="file in dataInfo.businessLicenseFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>法人代表证明书</th>
                <th><el-link v-for="file in dataInfo.legalRepresentativeFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>法人授权委托书</th>
                <th><el-link v-for="file in dataInfo.legalPersonPowerFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>经办人身份证复印件</th>
                <th><el-link v-for="file in dataInfo.handlingPersonCardFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>南山区政策性产业用房入驻通</th>
                <th><el-link v-for="file in dataInfo.settlementNoticeFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>南山区产业用房建设和管理工作领导小组会议纪要</th>
                <th><el-link v-for="file in dataInfo.meetingMinutesFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>房屋建筑面积分户汇总表及房屋建筑面积分户位置图</th>
               <th> <el-link v-for="file in dataInfo.locationMapFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>有经济贡献率的企业的经济贡献承诺书</th>
                <th><el-link v-for="file in dataInfo.commitmentFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>房屋建筑面积总表</th>
               <th> <el-link v-for="file in dataInfo.buildingAreaFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>

              </tr>
              <tr>
                <th>租金价格评估报告</th>
                <th><el-link v-for="file in dataInfo.rentReportFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>
              </tr>
              <tr>
                <th>身份证复印件</th>
                <th><el-link v-for="file in dataInfo.personFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>
              </tr>
              <tr>
                <th>租金价格评估报告南山数字文化产业基地入驻通知书</th>
                <th><el-link v-for="file in dataInfo.rentNoticeFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>
              </tr>
              <tr>
                <th>南山数字文化产业基地入驻通知书</th>
                <th><el-link v-for="file in dataInfo.digitalNoticeFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>
              </tr>

            </table>
            <div class="title">
              <span class="vertical-line"></span>
              <span class="title-name" id="3">合同</span>
            </div>

            <table :data="dataInfo.info" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>合同</th>
                <th><el-link v-for="file in dataInfo.contractFile" :key="file.id" :href="file.path">{{file.fileName}}</el-link></th>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UploadImg from '@/components/uploadImg.vue'
import UploadWps from '@/components/uploadWps.vue'
import { allProRight, addContract, seeList } from '@/until/api.js'
import { formatDate1 } from '@/until/common'

export default {
  // props: ['list'],
  components: {
    UploadImg,
    UploadWps
  },
  name: 'dataList',
  data () {
    return {
      activeName: '1',

      dialogFormVisible: false,

      rentList: [],
      selectlistRow: [],
      dataInfo: { info: { templateType: '' }, certificationDocumentsFile: [] },

      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }],
      legalTypeOptions: [{
        legalValue: 1,
        legalLabel: '身份证'
      }, {
        legalValue: 2,
        legalLabel: '护照'
      }],
      value: '',
      legalType: '',
      leaseType: '1',
      input: '',
      legalApplication: true,
      clientApplication: true,
      legalApplicationType: true,

      // form
      radio: '1',
      radioStatus: 1,

      ruleForm: {
        name: ''
      },
      rules: {
        name: [{ required: true, message: '请输入短信名称', trigger: 'blur' }
        ],
        word: [{ required: true, message: '请输入短信内容', trigger: 'blur' }
        ],
        remark: [{ required: true, message: '备注不可为空', trigger: 'blur' }
        ],
        select: [{ required: true, message: '请选择', trigger: 'blur' }],
        input: [{ required: true, message: '请输入', trigger: 'blur' }]
      },
      methed: '',

      legalPerson: '',
      legalPhone: '',
      legalCode: '',
      clientPerson: '',
      clientPhone: '',
      clientType: '',
      leaser: '',
      leaserDocumentNumber: '',
      leaserDocumentType: '',
      leaserDocumentTypeOptions: [{
        legalValue: 1,
        legalLabel: '社会统一信用代码'
      }, {
        legalValue: 2,
        legalLabel: '身份证'
      }, {
        legalValue: 3,
        legalLabel: '护照'
      }],
      clientTypeOptions: [{
        legalValue: 1,
        legalLabel: '身份证'
      }, {
        legalValue: 2,
        legalLabel: '护照'
      }],
      wyBasicInfoOptions: [],
      wyBasicInfoId: '',
      splitRent: true,
      rentWyBasicInfoOptions: [],
      rentWyBasicInfoId: '',
      leaseAddress: '',
      houseCode: '',
      certificationDocumentsFile: [],
      rentalArea: '',
      discountOptions: [// 全价 1/30%/0.3/0.5/0.9
        {
          value: 1,
          label: '全价'
        }, {
          value: '0.3',
          label: '30%'
        }, {
          value: '0.5',
          label: '50%'
        }, {
          value: '0.9',
          label: '90%'
        }
      ],
      discount: '',
      rentUnitPrice: '',
      monthlyRent: '',
      setArea: '',
      pubArea: '',
      freeRent: '',
      freeRentOptions: [{
        value: '无',
        label: '无'
      }, {
        value: '十五日',
        label: '十五日'
      }, {
        value: '两个月',
        label: '两个月'
      }, {
        value: '三个月',
        label: '三个月'
      }],
      startRentDate: '',
      endRentDate: '',
      firstRentTime: '',
      firstRentMoney: '',
      depositAmount: '',
      clientCode: '',
      leaseUse: '',
      guidePrice: '',
      fileList: [],
      leaseUseOptions: [{
        value: '办公',
        label: '办公'
      }, {
        value: '综合(研发)',
        label: '综合(研发)'
      }, {
        value: '工业研发',
        label: '工业研发'
      }, {
        value: '研发',
        label: '研发'
      }],
      economicCommitment: '',
      remark: '',
      legalPersonFile: [],
      businessLicenseFile: [],
      legalRepresentativeFile: [],
      handlingPersonCardFile: [],
      settlementNoticeFile: [],
      meetingMinutesFile: [],
      buildingAreaFile: [],
      locationMapFile: [],
      commitmentFile: [],
      meetingFile: [],
      rentReportFile: [],
      personFile: [],
      rentNoticeFile: [],
      contractFile: [],
      legalPersonPowerFile: [],
      radio_3_1: true,
      radio_3_2: false,
      radio_3_3: false

    }
  },
  mounted () {
  },
  filters: {
    formatDate1
  },
  created () {
    allProRight(sessionStorage.getItem('userId')).then(res => {
      if (res.data.data) {
        if (res.data.data.length >= 1) {
          this.wyBasicInfoOptions = res.data.data
          this.rentWyBasicInfoOptions = res.data.data
        }
      }
    })
    this.id = this.$route.query.id
    this.seeList()
  },
  methods: {

    submit () {
      let dataInfo = {}
      let info = {}
      info.type = this.radio
      info.userId = window.sessionStorage.getItem('userId')
      // 模板类型 1产业用房;2商业; 3住宅 ;4 南山软件园
      info.templateType = 1
      // 承租类型 1承租对象为企业,2承租对象为工体商户,3承租对象为个人，4承租对象为其它
      info.leaseType = this.leaseType
      info.legalApplication = this.legalApplication === true ? 1 : 2
      info.legalPerson = this.legalPerson
      info.legalPhone = this.legalPhone
      info.legalType = this.legalType
      info.legalCode = this.legalCode

      info.clientApplication = this.clientApplication === true ? 1 : 2
      info.clientPerson = this.clientPerson
      info.clientPhone = this.clientPhone
      info.clientType = this.clientType
      info.clientCode = this.clientCode
      info.leaser = this.leaser
      info.leaserDocumentType = this.leaserDocumentType
      info.leaserDocumentNumber = this.leaserDocumentNumber
      info.wyBasicInfoId = this.wyBasicInfoId
      info.leaseAddress = this.leaseAddress
      info.houseCode = this.houseCode
      info.rentalArea = this.rentalArea
      info.guidePrice = this.guidePrice
      info.discount = this.discount
      info.rentUnitPrice = this.rentUnitPrice
      info.monthlyRent = this.monthlyRent
      info.setArea = this.setArea
      info.pubArea = this.pubArea
      info.freeRent = this.freeRent
      info.startRentDate = this.startRentDate
      info.endRentDate = this.endRentDate
      info.firstRentTime = this.firstRentTime
      info.firstRentMoney = this.firstRentMoney
      info.depositAmount = this.depositAmount
      info.leaseUse = this.leaseUse
      info.economicCommitment = this.economicCommitment
      info.remark = this.remark
      info.splitRent = this.splitRent === true ? 1 : 2

      dataInfo.rentList = this.rentList

      dataInfo.info = info
      dataInfo.certificationDocumentsFile = this.certificationDocumentsFile
      dataInfo.legalPersonFile = this.legalPersonFile
      dataInfo.businessLicenseFile = this.businessLicenseFile
      dataInfo.legalRepresentativeFile = this.legalRepresentativeFile
      dataInfo.legalPersonPowerFile = this.legalPersonPowerFile
      dataInfo.handlingPersonCardFile = this.handlingPersonCardFile
      dataInfo.settlementNoticeFile = this.settlementNoticeFile
      dataInfo.meetingMinutesFile = this.meetingMinutesFile
      dataInfo.buildingAreaFile = this.buildingAreaFile
      dataInfo.locationMapFile = this.locationMapFile
      dataInfo.commitmentFile = this.commitmentFile
      dataInfo.meetingFile = this.meetingFile
      dataInfo.rentReportFile = this.rentReportFile
      dataInfo.personFile = this.personFile
      dataInfo.rentNoticeFile = this.rentNoticeFile
      dataInfo.contractFile = this.contractFile

      addContract(dataInfo).then(res => {
        if (res.status === 200) {
          this.$message('添加成功')
          this.$router.push({ path: '/index/contractManagement' })
        } else {
          this.$message.warning(`添加失败`)
        }
      })
    },
    handleClick (tab, event) {
      this.leaseType = tab.name
    },
    cancel () {
      this.$router.push({ path: '/index/contractManagement' })
    },
    reset () {
      // this.$refs['ruleForm'].resetFields()
      // this.list()
    },
    legalApplicationOnchange (val) {
      if (val === 1) {
        if (this.legalApplication) {
          this.legalApplicationType = true
        } else {
          this.legalApplicationType = false
        }
      }
      if (val === 2) {
        this.legalApplication = this.legalApplication
      }
    },
    selectRow (val) {
      this.rentList = val
    },
    // 增加行
    addRow () {
      var list = {
        wyBasicInfoId: '',
        price: '0',
        area: '0',
        rent: '0'
      }
      // this.rentList.unshift(list)
      this.rentList.push(list)
    },
    // 删除方法
    // 删除选中行
    delData (row, index) {
      this.rentList.splice(index, 1)
      // 删除完数据之后清除勾选框
      // this.$refs.tableData.clearSelection()
    },
    handleRemove (file, fileList) {

    },
    handlePreview (file) {
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {

    },
    radioChange () {
      this.radio_3_1 = false
      this.radio_3_2 = false
      this.radio_3_3 = false
      switch (this.radio) {
        case '1': this.radio_3_1 = true
          break
        case '2': this.radio_3_2 = true
          break
        case '3': this.radio_3_3 = true
          this.radio_3_1 = true
          break
        default: break
      }
    },
    seeList () {
      seeList(this.id).then(res => {
        this.dataInfo = res.data.data

        console.log(res.data.data)
      })
    },
    goBack () {
      this.$router.push({ path: '/index/contractManagement' })
    },
    changeWpsFive (wpsList, type) {
      let wpsArr = []
      Array.isArray(wpsList) && wpsList.forEach((item) => {
        // let val = item.response.data
        if (item.response) {
          wpsArr.push({ fileName: item.response.data.fileName, path: item.response.data.filePath })
        } else {
          wpsArr.push({ fileName: item.name, path: item.url })
        }
      })
      switch (type) {
        case 'certificationDocumentsFile':
          this.certificationDocumentsFile = wpsArr
          break
        case 'legalPersonFile': this.legalPersonFile = wpsArr
          break
        case 'businessLicenseFile': this.businessLicenseFile = wpsArr
          break
        case 'legalRepresentativeFile': this.legalRepresentativeFile = wpsArr
          break
        case 'legalPersonPowerFile': this.legalPersonPowerFile = wpsArr
          break
        case 'handlingPersonCardFile': this.handlingPersonCardFile = wpsArr
          break
        case 'settlementNoticeFile': this.settlementNoticeFile = wpsArr
          break
        case 'meetingMinutesFile': this.meetingMinutesFile = wpsArr
          break
        case 'buildingAreaFile': this.buildingAreaFile = wpsArr
          break
        case 'locationMapFile': this.locationMapFile = wpsArr
          break
        case 'commitmentFile': this.commitmentFile = wpsArr
          break
        case 'meetingFile': this.meetingFile = wpsArr
          break
        case 'rentReportFile': this.rentReportFile = wpsArr
          break
        case 'personFile': this.personFile = wpsArr
          break
        case 'rentNoticeFile': this.rentNoticeFile = wpsArr
          break
        case 'contractFile': this.contractFile = wpsArr
          break

        default:
      }
      // this.form.redLineImgPath = wpsArr
    }

  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  width: 303px;
}
</style>

<style scoped>
.trimg img {
  height: 91px;
  width: 121px;
  margin: 15px 0 0 15px;
}
.trimg span {
  cursor: pointer;
}
.trimg span:nth-of-type(1) img {
  margin-left: 0px;
}
.tablekg {
  width: 100%;
}
.tablekg tr:nth-of-type(1) th {
  background: #e8eff2;
  border-radius: 3px;
  height: 42px;
  font-weight: 600;
}
.tablekg tr th {
  border-bottom: 1px solid #e8eff2;
  height: 42px;
}
.tablekg tr th {
  font-weight: 400;
}
.realtr {
  height: 189px;
}
.realtr th {
  padding-top: 18px;
}
.el-input__inner {
  width: 300%;
  margin: 2px;
}
.right_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
  border-bottom: 1px solid #dddddd;
}
.right_headertwo >>> .el-radio-button__inner {
  width: 115px;
  height: 34px;
  padding: 10px 20px;
}
.right_headertwo {
  line-height: 58px;
  padding: 0 10px;
  height: 58px;
}
.user_body_right {
  height: 98%;
  width: 100%;
}
.div_table {
  margin-top: 10px;
  padding: 10px;
  margin: 10px;
  height: calc(90% - 68px);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.aa {
  display: flex;
  width: 100%;
  height: 100%;
}
.user_body {
  width: 100%;
  height: 100%;
}
.user_mian {
  background: #fff;
  width: cale(100%-15px);
  height: 100%;
  /* margin: 0 0 0 15px; */
  box-shadow: 0px 1px 0px 0px #dddddd;
  border-radius: 6px 6px 0px 0px;
}
.table,
.infotable,
.accessory {
  width: 100%;
  border: 1px solid #dddddd;
  font-family: Microsoft YaHei;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  border: 1px solid #dddddd;
  font-weight: 400;
}
.accessory tr th:nth-of-type(1) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.accessory tr th:nth-of-type(2) {
  text-align: left;
  padding-left: 25px;
  width: 85%;
}
.table tr th:nth-of-type(1),
.table tr th:nth-of-type(3),
.infotable tr th:nth-of-type(1),
.infotable tr th:nth-of-type(3) {
  background: #f9f9f9;
  padding-right: 20px;
  text-align: right;
  width: 15%;
}
.table tr th,
.infotable tr th,
.accessory tr th {
  height: 48px;
}
.table tr th:nth-of-type(2),
.table tr th:nth-of-type(4),
.infotable tr th:nth-of-type(2),
.infotable tr th:nth-of-type(4) {
  text-align: left;
  padding-left: 25px;
  width: 35%;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
}
.title {
  width: 100%;
  height: 90px;
}
.title_header {
  width: 100%;
  height: 60px;
}
.vertical-line {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #1286ff;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.name {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.title-name {
  line-height: 90px;
  font-size: 18px;
  font-weight: bold;
}
ul {
  border: 1px#f5f5f5 solid;
  margin: -1px -1px 0 -1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
li {
  display: inline;

  line-height: 60px;
  margin-left: 20px;
}
</style>
