<template>

  <!-- <el-dialog :title="'合同登记'" :width="'1400px'" :visible.sync="dialogFormVisible"> -->
  <section class="project-container">
    <div class="pd15">
      <template>
        <el-button type="primary" size="medium" style="    position: fixed; right: 50px;top: 85px;z-index: 999;" @click="goBack()">返回</el-button>

      </template>
      <template>
        <el-tabs v-model="selectTabs">
          <el-tab-pane label="产业用房" name="first" v-if="templateType==1">
            <AddIndustryTemplate ref="AddIndustryTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="商业" name="second" v-if="templateType==2">
            <AddBusinessTemplate ref="AddBusinessTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="住宅" name="third" v-if="templateType==3">
            <AddResidentialTemplate ref="AddResidentialTemplate" :edit="idEdit" />
          </el-tab-pane>
          <el-tab-pane label="南山软件园" name="fourth" v-if="templateType==4">
            <AddNSSoftwareParkTemplate ref="AddNSSoftwareParkTemplate" :edit="idEdit" />
          </el-tab-pane>
        </el-tabs>

      </template>
    </div>
  </section>

  <!-- </el-dialog> -->
</template>
<script>
import SelectInput from '@/components/select/searchInput.vue'
import AddIndustryTemplate from './AddIndustry.vue'
import AddBusinessTemplate from './AddBusiness.vue'
import AddNSSoftwareParkTemplate from './AddNSSoftwarePark.vue'
import AddResidentialTemplate from './AddResidential.vue'

export default {
  // props: ['list'],
  components: {
    SelectInput,
    AddIndustryTemplate,
    AddBusinessTemplate,
    AddNSSoftwareParkTemplate,
    AddResidentialTemplate
  },
  data () {
    return {
      idEdit: false, // 是否可编辑
      activeName: 'add',
      dialogName: false,
      selectTabs: sessionStorage.getItem('selectTabs'),
      dialogFormVisible: false,
      // form
      radio: 1,
      radioStatus: 1,
      options: [],
      ruleForm: {
        type: 1,
        status: 2
      },
      id: '',
      templateType: '',
      first: false,
      second: false,
      third: false,
      fourth: false

    }
  },
  mounted () {
    this.updateType()
  },
  created () {
    this.id = this.$route.query.id
    this.templateType = this.$route.query.temType || 1
    this.updateType()
  },
  methods: {
    goBack () {
      this.$router.push({ path: '/index/contractManagement' })
    },
    updateType () {
      switch (parseInt(this.templateType)) {
        case 1: this.selectTabs = 'first'
          break
        case 2: this.selectTabs = 'second'
          break
        case 3: this.selectTabs = 'third'
          break
        case 4: this.selectTabs = 'fourth'
          break
        default: break
      }
    }

  }
}
</script>
<style lang="less" scoped>
/deep/.el-form-item__content .el-input__inner {
  // width: 303px;
  width: 100%;
}
/deep/.el-form-item__content .el-select {
  width: 100%;
}
/deep/.el-form-item__content .el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
</style>
